[2015-11-04 22:49] svanharmelen commented on #3762
I don't see a value for the host attribute in the connection logging, so maybe add a reference to the associated IP in the connection block (probably using an interpolated value)?

[2015-11-04 23:43] nickithewatt commented on #953
+1

[2015-11-05 00:50] robwar commented on #3070
I ran into this error as well.  The changed module source doesn't load correctly.

[2015-11-05 01:51] jwmarshall commented on #3762
No luck. The resulting attribute should exist as aws_spot_instance_request bases itself on the aws_instance schema.
[code]

According to the docs this should be provided automatically. (https://terraform.io/docs/provisioners/connection.html)

`host - The address of the resource to connect to. This is provided by the provider.`

[2015-11-05 05:15] gwilym opened #3765 "Support hiding outputs on apply"
Since outputs can be inspected with `terraform output`, an option to hide the outputs list when running `apply` may improve usability over time for large sets of outputs, and may improve security in the case where your outputs include secrets which are meant to be fed into other systems rather than printed on screen (or placed in a logfile).

A minor request which I'm currently working around thro

[2015-11-05 05:44] saswatp commented on #3736
I suspect this is not a aws provider issue. I remember(but not very distinctly) seeing this problem with openstack as well.

[2015-11-05 10:04] bruno commented on #2171
Definitely interested in this particular feature too, it's a must with compliance like PCI-DSS when SSLv3 will soon be banned from the allowed protocols, etc.

[2015-11-05 10:06] svanharmelen commented on #3762
@jwmarshall I just had a look at the code and noticed that the connection data is not set in the spot resource. So I guess (based on the docs) this should be labeled as a bug and needs to be fixed...

[2015-11-05 10:14] bruno commented on #2171
I am by no means a `golang` expert, so please take this comment with a pinch of salt, it seems that from reading https://github.com/aws/aws-sdk-go/blob/master/service/elb/api.go it seems that adding policies is supported by the SDK ...

[2015-11-05 12:58] AndreaCatalucci commented on #2098
+1

[2015-11-05 13:19] rodlogic opened #3766 "Cycle error on destroy"
I got the following error while executing ```terraform destroy```:
[code]

I have two layers of terraform: a layer QA that depends on layer OPS through terraform.tfstate remote state. ```OPS``` creates an ```ops-admin``` group and with one policy in account a. When ```QA``` is created, it adds a ```qa-admin-assumerole``` policy on the existing ```ops-admin``` group in ```OPS```.
These are the rele

[2015-11-05 13:35] rodlogic commented on #3766
I found the culprit. It is the ```allowed_account_ids``` in the ```QA``` layer. Since I am separating the accounts (i.e. ```OPS``` lives in a separate account than ```QA```) I need a second aws provider in ```QA```. In order to make sure that the access keys are in fact from the ```OPS``` layer, I added ```allowed_account_ids```.

Here is the ```aws``` resource:
[code]

Now, the are no cycles betw

[2015-11-05 14:31] stack72 commented on #3689
@apparentlymart you are indeed correct , PR is on it's way. I just ran the following test:

1. Created a elasticache cluster as follows:

[code]

I then went to the AWS UI and destroyed it. When running terraform refresh, I got the following:

[code]

I changed the code of the Read method as follows:

[code]

I was then able to refresh the state as required

[2015-11-05 14:39] Bochenski commented on #2445
I'm seeing the same as @brikis98 in v0.6.6

[2015-11-05 14:41] stack72 commented on #3670
@clstokes this is because the DigitalOceanDropletRead has the following logic

[code]

The string is hard coded and may have changed when we moved to the Official DigitalOcean Goclient

I will submit a PR not to fix this

[2015-11-05 15:13] rajinders commented on #3473
The only work around I can think of at this time is to create a custom image which has WinRM setup the way Terraform likes it. After that Terraform will be able to connect successfully to windows vm.

[2015-11-05 15:21] nwalke commented on #2171
The API is not the problem, just need to wait until someone implements it in Terraform.

[2015-11-05 15:35] rajinders commented on #3212
There is a new release for Azure PowerShell in preview.

https://azure.microsoft.com/en-us/blog/azps-1-0-pre/

It combines the service management and arm providers.

It may be worth a looking at to see how they are doing it and to see if Terraform can use similar approach.

[2015-11-05 15:37] bsharitt opened #3769 "Chef provisioner not installing chef on Windows"
When ever running the chef provisioner against a Windows box(Windows 2008 R2 running on AWS EC2) the chef client run fails:

[code]
When logging in the the Windows instance, chef client is not installed but the client.rb, first-boot.json, and validation.pem in C:\chef are there. The installer script to install chef are in C:\Temp and when I got back to manually run it, it works and installs chef-c

[2015-11-05 15:42] dddigitalglobe opened #3770 "Error rerunning terraform configuration in openstack"
I'm trying to spin up similar test boxes in aws and openstack. Running the configuration against aws successive times works but in open stack a second run produces an error.

Error applying plan:

1 error(s) occurred:

* openstack_compute_instance_v2.test-server: Error removing security group from OpenStack server (9881e8cf-b2bb-48b3-ada1-31cc67cb99c1): EOF

Terraform does not automatically rollba

[2015-11-05 15:55] jwmarshall commented on #3762
Makes sense. Thanks for your help! If I have some time this weekend and the local development setup isnt too difficult I can look at bringing the relevant lines out of aws_instance.

[2015-11-05 16:03] lwander commented on #3742
I'm a little hesitant to allow `destroy` to succeed silently if a machine was destroyed outside of Terraform's control, given that any other stage would fail. Although it does seem silly to block a user from cleaning up other resources because Terraform can't destroy a resource that's already gone. I'd prefer to have Terraform at least let the user know that their destroy due to a missing resource

[2015-11-05 16:17] jkopacze commented on #3531
Good idea, its clearly a missing feature.

[2015-11-05 16:23] clstokes commented on #3670
@stack72, ah, that makes sense. Is the response code (404) available on the `err`? It seems that'd be the most future-proof way to fix it, yea?

[2015-11-05 16:37] stack72 commented on #3670
@clstokes tried with a string (which was not future proof) and @catsby suggested to use the 404 as well :)

PR is currently re-building

[2015-11-05 16:42] clstokes commented on #3670
That Clint is a clever one. 😉

[2015-11-05 16:43] catsby commented on #2843
Hey all – I'm going to close this for now.
`ingress` rules should be normalized as per @apparentlymart mentioned, so that rules of the same port range and protocol are together.

Let me know if there's anything else here!

[2015-11-05 16:43] #2843 closed

[2015-11-05 16:46] apparentlymart commented on #2098
Looking at [the godoc for the EMR client](https://godoc.org/github.com/aws/aws-sdk-go/service/emr) I see a few different concepts here:

* Cluster (`DescribeCluster`, `ListClusters`)
* Instance Group (`AddInstanceGroups`, `ListInstanceGroups`, `ModifyInstanceGroups`, `ListInstanceGroups`)
* Instance (`ListInstances`, `ListInstancesPages`)
* Job Flow (`DescribeJobFlows`, `RunJobFlow`)
* Step (`Desc

[2015-11-05 16:52] catsby commented on #3519
Can you share the `plan` output (minus any secrets)?
I can't seem to get a valid VPC Endpoint Policy ... I tried what you have and I get error saying it's not valid (I changed `Resource` to `Resource: *`)

[2015-11-05 16:58] nwalke commented on #3519
@catsby I may have redacted too much in my first post for it to be valid.  Here's my plan output: https://gist.github.com/nwalke/901bb7059b83e30d1592

[2015-11-05 17:00] catsby commented on #3519
nvm, found _my_ issue.
The issue here seems to be missing `Sid` and `Version`.

Here's the plan I got after initial apply:

[code]

Which breaks down to these, in the state:

[code]

and what it's trying to change it to (matching the config):

[code]

So, AWS is adding the `Sid` and the `Version`. So, changing your resource to this:

[code]

breaks the `plan` loop. **Note** that I have `Resource:

[2015-11-05 17:00] #3519 closed

[2015-11-05 17:02] catsby commented on #3519
Ah, so in your case, the thing I notice is missing `Version` and `Sid` again

[2015-11-05 17:02] nwalke commented on #3519
Do I need to add the `Sid` field for every statement?

[2015-11-05 17:03] stack72 commented on #3519
@nwalke yes, that then makes it a valid Policy according to AWS API

[2015-11-05 17:04] apparentlymart commented on #3689
Fixed in #3767!

[2015-11-05 17:04] #3689 closed

[2015-11-05 17:05] nwalke commented on #3519
That did the trick.  Thanks guys!

[2015-11-05 17:07] apparentlymart commented on #3519
Hmmm... I've not seen this particular validation issue on other IAM policy attributes. Does the AWS API do different IAM policy normalization for different objects? If so, that's a rather awkward constraint that #3124 didn't consider. :disappointed:

[2015-11-05 17:08] stack72 commented on #3519
@apparentlymart yes. Different types of systems have different policies - S3 bucket policy acted completely differently for me than IAM policies

[2015-11-05 17:18] apparentlymart commented on #3742
@iwander the usual behavior is for `Read` to detect the "not found" case, produce a `[WARN]` log about it, and then called `d.SetId("")` to let Terraform know the resource is gone.

By doing this, `plan` will run from the position of the resource not existing at all, and so in the `destroy` case it will be a no-op and in the `apply` case it will create a fresh instance to replace the now-missing o

[2015-11-05 17:28] lwander commented on #3742
@apparentlymart, looks like this is already the behavior [here](https://github.com/hashicorp/terraform/blob/master/builtin/providers/google/resource_compute_instance.go#L288). @sl1pm4t, could you try running `plan`, then `destroy` on your example to see if it works as expected?

[2015-11-05 17:29] catsby commented on #3670
![helping](https://cloud.githubusercontent.com/assets/61721/10976259/7372072a-83b0-11e5-8b1d-4a6a67fe6be7.gif)

[2015-11-05 17:32] apparentlymart commented on #3742
@iwander I think the problem is the following line, where it returns an error. Not sure how the rest of this code is structured, but ultimately you want `Read` to return `nil` having set the id to `""`, so maybe what's needed here is `return nil, nil`? Seems weird, but...... :grinning:

[2015-11-05 17:32] catsby commented on #3742
That is the precedent. We can open a separate issue to discuss if that _should_ be the behavior if you'd like

[2015-11-05 17:34] catsby commented on #2972
Please do let us know, and thanks for following up!

I'm going to close this for now. Feel free to reply here if you find more info

[2015-11-05 17:38] #3670 closed

[2015-11-05 17:38] catsby commented on #3670
Merged #3768

[2015-11-05 17:41] lwander commented on #3742
@catsby, no I think what @apparentlymart pointed as the default sounds much better.

btw, @apparentlymart, my ID is lwander with an 'L', not an 'I' - just pointing it out so we don't keep pinging iwander.

[2015-11-05 18:45] phoolish commented on #2625
I am also seeing this behavior on v0.6.6, but it is intermittent.  One of my installs (A) does this every time, but another one (B) never requires it.  Both installs are identical except A uses modules.  I pulled the resource out of the module and into the main.tf file, but that didn't solve it either.

[2015-11-05 19:06] #3559 closed

[2015-11-05 19:38] apparentlymart commented on #3742
@lwander oh whoops... sorry. That's much clearer now I'm at work and on a screen with a decent pixel density. :blush:

[2015-11-05 19:46] chroto opened #3774 "Deleting an IAM User that belongs to an IAM Group -- The Group modification should occur first"
[code]

Error is reproducible in Terraform v0.6.3

[2015-11-05 20:28] #3755 closed

[2015-11-05 20:32] rajinders opened #3775 "Errors during renaming aws security groups"
I was creating many aws security groups. I had an error where I had the same security group declared twice. I got an error telling me that security group test_nat_sg already exists.
I fixed my configuration and ran terraform apply again.

I am reporting it as it asked me to report it. If you need to view my script I can create a private repo on git hub and give you access to it.

I got the followi

[2015-11-05 20:41] catsby commented on #2694
When you update the task definition and `plan`, does a change show up in the `aws_ecs_service`?

I would suspect not. The task definition's ARN isn't changing, is it? Does someone have a valid `container_definitions` file I can use?

[2015-11-05 20:43] catsby commented on #670
I'm going to close this for now. This issue has expanded to mention 2 or 3 things, all of which I believe are resolved now. If not, please let me know or make a separate issue.

Thanks!

[2015-11-05 20:43] #670 closed

[2015-11-05 20:54] CpuID commented on #2694
@catsby no, not in this case. plan and apply yield the same result most of the time (just a task def change, without a service bump for the task version)

example of an aws_ecs_task_definition (including an inline container_definitions entry):

[code]

[2015-11-05 20:59] chrislovecnm opened #3776 "vSphere provider acc tests failing"
The test for setting an ip address is failing.  When the acceptance test is run the ip address is being set by dhcp, and not a static ip address.  Not sure if this is a template issue or an provider issue.  Some guidance would be appreciated.

Also I am testing against vSphere 6.0.

Thanks in advance!

[2015-11-05 21:06] chrislovecnm commented on #3776
@tkak can you provide some guidelines on the creation of the linux virtual machine?  During my testing I am having issues with static ip addresses and also guest customization.  I am wondering if I have my vm template configured differently from your vm template.

[2015-11-05 21:29] bruno commented on #2171
I realise that. I was just being proactive and doing some research and making sure that it was just a terraform side implementation issue. 

—
Sent from Mailbox

On Fri, Nov 6, 2015 at 2:22 AM, Nick Walke <notifications@github.com>
wrote:

[2015-11-05 21:31] catsby commented on #3766
Hey @rodlogic – can you clarify what error you're getting now? You mention that you're not getting a cycle anymore, between OPS and QA, but there's another cycle?

[2015-11-05 21:54] wstaples opened #3778 "Support attaching RDS or ELB to an aws opsworks layer"
Now that opsworks stacks are supported I noticed there is no way to attach an ELB or RDS instance to a layer. I searched the source code and did not see anything. Is this a missing feature or am I missing something?

[2015-11-05 22:02] chrislovecnm commented on #3776
Let me test more this may be a vm template issue...

[2015-11-05 22:21] davedash opened #3779 "diffs didn't match during apply for aws_ecs_service"
[code]

This is inside a module that's being called three times (three different environments).

/cc @hahuang65

[2015-11-05 22:30] hartzell commented on #3662
I'll give you some terraform plan/apply output in a private gist, but here's the "gist" of it.

The floating ips, volumes, and instances are all driven off of the same count variable.

Here's the bit of the config that handles that.

[code]

If an instance has an associated floating ip, a volume or both then when I raise the instance count there are problems with the diff for the existing instance

[2015-11-05 22:30] saliceti commented on #3151
+1
I don't see the point of this feature if the keys can't be updated.

[2015-11-05 22:34] sl1pm4t commented on #3742
I added WARN logging for the case where the instance no longer exists (although this is only seen if TF_LOG is set).

Also @lwander  I tested `terraform plan` and `terraform destroy` as requested and did not hit any errors. I replaced the `terraform.tfstate` with the backup between `plan` and `destroy` steps that both operations expect the instance still exists.

[code]

[2015-11-05 22:41] catsby commented on #2420
I think I've found the issue here. The `source_security_group` on the ELB is the _name_ of the security group... the API only returns the name to us.

You cannot use the Security Group _name_ as a reference in the AWS API for security group ingress **unless** you're in EC2 Classic, or the default VPC.

I have a fix for this, I just need to write a test.

[2015-11-05 22:51] lwander commented on #3742
@sl1pm4t, I would rather stick with the precedent outlined by @apparentlymart where we rely on `plan` to get us out of situations where we try to remove infrastructure that's been destroyed outside of Terraform.

This has two benefits:
  1. It keeps the Google provider's behavior in line with that of the rest of the Terraform providers.
  2. It makes infrastructure failures more explicit. If we ca

[2015-11-05 22:58] sl1pm4t commented on #3742
Sorry - I misunderstood @apparentlymart comment and thought he was describing what I had implemented. I will take another look.

[2015-11-05 22:59] lwander commented on #3742
No worries! Sorry to have you change this back and forth.

[2015-11-05 23:00] jtopjian commented on #3662
I'm seeing the same thing using the following simple configuration:

[code]

Everything applies and is created successfully. Subsequent calls to `terraform plan` show no modifications are required.

But, once I modify the count and run `terraform plan`, I see:

[code]

When applying, I get 3 errors about diffs: one for each previous compute resource:

[code]

However, the new resources are created

[2015-11-05 23:03] lwander opened #3782 "Difficulty setting nested `computed` fields."
In #3781, I am unable to set any of the nested fields.

You can see [here](https://github.com/hashicorp/terraform/pull/3781/files#diff-a434af07f46e67d45576ed26df8cc2afR150) how I go about doing it, in the case that I'm doing something obviously wrong.

The easy solution would be to diverge from the Google SQL API data format and flatten out the resource schema, but this resource stores two identic

[2015-11-05 23:04] hartzell commented on #3662
Looking at your example, I noticed that in the plan output the volume associated with all three instances has the same "identifier" (not sure what it's proper technical name is...):

[code]

[2015-11-05 23:12] jtopjian commented on #3662
Yes, that number is a hash of the `volume_id` setting. Since the unrendered `volume_id` is the same for all 3 instances (since they're all just a copy), then the ID is the same. I think this is normal and OK.

[2015-11-06 01:52] simpsora commented on #2843
Normalizing ingress rules worked for me.  Thanks @apparentlymart!

[2015-11-06 10:59] nickithewatt opened #3784 "Add VMware vCloud Director (vcd) provider"
Hi,

As part of some recent work done on a project, we came across the need to have a terraform VMware vCloud Director (vcd) provider. As part of this project we have developed a working version (in our setup) of such a terraform-vcd provider and are now looking to contribute it back, as well as gain further input and updates from the community on this.

The issue tracking general vmware support h

[2015-11-06 11:44] mzupan commented on #3555
I'm not seeing it destroy as I haven't tested it but what I have in my tf is

[code]

Then I get the following in plan

[code]

The final line is

[code]

Without the ignore option in lifecycle I got the same 7 destroy. It makes me thinks that even though its an update, terraform will still destroy that instance.

[2015-11-06 12:24] jedineeper opened #3786 "TF crashes on blank item in an array."
Hi guys,

When you include an empty element in an array of elements, terraform crashes.

I think it would be useful/helpful if terraform recognised and ignored the empty element in the array?

Sounds odd, so I'll try and explain my use case, maybe someone else will find it useful; I've written a module that controls a "whitelist" of IP addresses that are allowed to access my AWS ELB's, this module

[2015-11-06 14:05] Joseph-Holland commented on #3212
@rajinders I was just looking into this and it appears that Microsoft have packaged up both Service Manager and Resource Manager cmdlets into the same Azure PowerShell download, but have now split the commands out:
 - Service Manager cmdlets are named/prefixed: Azure
 - The newer Resource Manager cmdlets are named/prefixed: AzureRM
So they connect separately to the different APIs anyway.

Given th

[2015-11-06 14:11] joelhandwell commented on #2106
@jtopjian great!

[2015-11-06 14:58] roderickrandolph commented on #57
:+1:

[2015-11-06 15:33] brianknight10 opened #3787 "Unable to Apply a Change to ECS service"
I was looking to change the container port for the ELB associated with my ECS service. I changed my `aws_ecs_service` task from:

[code]
to:
[code]

After creating a plan, the applied failed with the message of: `* aws_ecs_service.event: diffs didn't match during apply. This is a bug with Terraform and should be reported.`

This may or may not be related to #3444. This happened on Atlas running v.

[2015-11-06 15:34] axltxl commented on #1406
+1

[2015-11-06 15:40] jhoblitt opened #3788 "openstack_compute_secgroup_v2 does not remove unused rules"
If a rule is changed or removed from a `openstack_compute_secgroup_v2`, the stale rule is not removed from openstack.  Eg.,

[code]

Changing the a rule for tcp/80 -> tcp/2375:
[code]

[code]

[code]

[2015-11-06 15:51] stack72 commented on #3665
@kumarsarath588 can you show me the declaration of your launch_config? From the error, I am assuming you are giving the Launch Config a name parameter rather than letting terraform autogenerate one - is this correct?

If so, then you cannot do that if you want to update it: https://terraform.io/docs/providers/aws/r/launch_configuration.html

[2015-11-06 15:54] rodlogic commented on #2114
+1

[2015-11-06 15:56] stack72 commented on #3628
@glidenote @apparentlymart can this issue be closed off now that #3633 was merged?

[2015-11-06 16:12] stack72 commented on #3607
@apparentlymart this is fixed in #3789

[2015-11-06 16:13] kumarsarath588 commented on #3665
resource "aws_launch_configuration" "as-conf-guacamole-app" {
    name = "as-conf-guacamole-app"
    image_id = "ami-eda7608e"
    instance_type = "t2.small"
    key_name = "309342"
    security_groups = [ "sg-8b85f5ee"]
    lifecycle {
      create_before_destroy = true
    }
}

/* This resource create a aws autoscaling group in TechM vpc private
   subnets with min instances of 2 and max instace

[2015-11-06 16:15] stack72 commented on #3665
thanks @kumarsarath588, then that is definitely the case. **you cannot use a name in an aws_launch_configuration when you are trying to use an aws_autoscaling_group**

This is in the documentation as a section called `Using with AutoScaling Groups` (https://terraform.io/docs/providers/aws/r/launch_configuration.html)

If you take the name out, then Terraform will autogenerate it and the world will

[2015-11-06 16:50] glidenote commented on #3628
:100:

[2015-11-06 16:50] #3628 closed

[2015-11-06 16:59] ringods commented on #3650
Given the fact the Google SQL provider (instance+database) pull request (#3617) is merged into upstream, I think the generic PostgreSQL provider pull request (#3653) and generic MySQL provider pull request (#3122) should end up in 0.6.7 too!

All of this database support in the same version, now wouldn't that be handy? :-)

[2015-11-06 17:23] catsby commented on #2420
Hey all – I've opened #3780 to address this.
The `source_security_group` is only the name, so it's only useful if you're using EC2 Classic or a Default VPC.

With my PR I introduce/export `source_security_group_id` as part of the ELBs attributes, so you can use that as an ingress to your security groups .

[2015-11-06 17:25] sethvargo opened #3790 "Indicate CBD in plan output"
Right now, given just plan output, there is no way to see that a resource is marked as `create_before_destroy`.

[2015-11-06 17:30] #3607 closed

[2015-11-06 17:30] catsby commented on #3607
Thanks for writing in @mschurenko , sorry for the trouble there. @stack72 has updated the docs and I've merged the change.

[2015-11-06 17:54] artburkart commented on #3243
If there is a bit of code someone could point me to, I'd me more than happy to attempt a PR. This bug is kind of a bummer.

[2015-11-06 18:31] AlJaMa opened #3792 "Encryption Not Supported on ebs_block_device Within a AWS_LAUNCH_CONFIGURATION"
While on a ebs_block_device on a AWS_INSTANCE supports the flag "encrypted", ebs_block_device under an AWS_LAUNCH_CONFIGURATION does not.

Suggestions?

[2015-11-06 18:51] 2rs2ts commented on #1178
+1

[2015-11-06 20:00] robzienert opened #3793 "Support S3 files in Lambda Function AWS resource"
The Lambda Function resource currently only supports local zip files, but the API supports (and many workflows require) S3 files as the function code source.

I'm actively working on this, but wanted to create an issue as a placeholder in case anyone is looking for this functionality as well.

[2015-11-06 21:54] josephholsten commented on #386
so what's the next step here? create a proof-of-concept nop destroy provisioner and add the hooks? I like @pmoust's three rules, which can become these test cases:

* provisioner succeeds, `destroy` the resource
* provisioner fails, `destroy` of resource is aborted
* `force` option provided, provisioner fails, still `destroy` the resource

Should there be an option to skip the `on_destroy` provisi

[2015-11-06 22:14] ddub commented on #3793
Awesome, just what I was looking for!

[2015-11-06 22:16] jtopjian commented on #3788
Nice catch :smile:

#3796 should fix this problem. I'll leave it open for a day or so in case anyone wants to comment.

The core issue was that the rule mapping being passed back to Terraform was malformed so Terraform was refusing to acknowledge it. Because of this, the Rule IDs were never being recorded and with no IDs, no rules could be deleted.

[2015-11-06 22:17] catsby commented on #3793
Just merged https://github.com/hashicorp/terraform/pull/3794 , thanks!

[2015-11-06 22:17] #3793 closed

[2015-11-06 22:18] jtopjian commented on #3770
Are you able to supply the Terraform configuration that is causing this error?

[2015-11-06 22:21] dddigitalglobe commented on #3770
Sure. I’ve changed the ip and the user name and password but otherwise, this is a very simple config.

Thanks,

Dave

# Configure the OpenStack Provider
provider "openstack" {
    user_name  = "XXX"
    tenant_name = "PDL"
    password  = "XXX"
    auth_url  = "http://10.52.xx.xxx:5000/v2.0"
}

# Create some Openstack Floating IP's for our VM's
#
resource "openstack_compute_floatingip_v2" "fip_1"

[2015-11-06 22:47] Felivel opened #3797 "aws_instance: diffs didn't match during apply"
I am having problems modifying a AWS instance and its security groups, this is a 100% reproducible issue for me.

First I created a simple environment that contains the following elements:
- 1 aws_vpc
- 1 aws_instance
- 1 aws_subnet
- and 1 aws_security_group.

The aws vpc, instance and security group are defined as:

[code]

After that is applied and created, then I try to modify the environment

[2015-11-06 22:55] #3075 closed

[2015-11-06 22:57] catsby commented on #3075
Merged #3707 which adds this

[2015-11-06 23:17] pawelsawicz opened #3798 "aws_instance security_groups when provide id throwing error"
Hey all

* [Working branch](https://github.com/pawelsawicz/terraform-dontstarve/)
* [Broken branch](https://github.com/pawelsawicz/terraform-dontstarve/tree/not-working-security-group-id)

According to this [documentation](https://www.terraform.io/docs/providers/aws/r/instance.html#security_groups) in security_group should be only name of security groups. But I came up with that after big confusio

[2015-11-06 23:38] coen-hyde opened #3799 "SMS SNS subscriptions require topic Display Name"
SMS SNS subscriptions require a topic Display Name but Terraform does not allow Display Name as a option when declaring a SNS topic. See: http://docs.aws.amazon.com/sns/latest/dg/SMSMessages.html

[2015-11-06 23:43] coen-hyde commented on #3799
Closing. My mistake. It does allow display_name, the functionality just isn't documented.

[2015-11-06 23:55] coen-hyde commented on #2776
I've just bumped into this issue.

[2015-11-07 01:47] apparentlymart commented on #386
The "junk in Chef Server" problem (which I also have!) makes me think that we should consider letting a single provisioner hook in to both the create and destroy parts of the lifecycle. Possibly to update, too.

It'd be nice if you could just add `provisioner "chef"` and it would integrate with both the create and destroy actions and tidy up during destroy.

Of course at that pint the provisioner

[2015-11-07 03:11] ckelner commented on #2693
I am really glad I came across this.  I am also having this issue.

I'm working on automation to drive terraform and recently ran into this issue w/ running terraform on an AWS EC2 instance.  I was able to run terraform plan from my local dev machine just fine with the same keys I was trying to use on the EC2 instance, but on EC2 I kept getting:

[code]

I finally ended up running tcpdump to try t

[2015-11-07 03:51] rodlogic commented on #3072
I see that there is an ongoing discussion on #1819, but that seems to take it to a deeper level.

Wouldn't it make sense to add interpolation here and at least allow one to dynamically select a provider in a module?

[2015-11-07 04:15] jtopjian commented on #3770
Thanks! I was able to reproduce the issue.

#3801 should fix this.

[2015-11-07 05:03] jhoblitt commented on #3788
Fast fix!

[2015-11-07 13:42] kenshiro-o opened #3803 "Provider/Google: Add pubsub auth endpoint"
It is currently missing in *service_scope.go* file

[2015-11-07 14:25] g-g-n commented on #2972
GGs-MacBook-Pro:test ggn$ terraform -v
Terraform v0.6.6

GGs-MacBook-Pro:test ggn$ cat instance_aws.tf
provider "aws" {
    access_key = "ACCESS_KEY_HERE"
    secret_key = "SECRET_KEY_HERE"
    region = "us-east-1"
}

resource "aws_instance" "example" {
    ami = "ami-408c7f28"
    instance_type = "t1.micro"

    provisioner "local-exec" {
        command = "echo ${aws_instance.example.public_ip}

[2015-11-07 16:53] rodlogic commented on #3766
The cycle is gone after I removed ```allowed_account_ids``` from my aws provider. So I am good for now.

[2015-11-07 16:53] #3766 closed

[2015-11-07 17:26] radeksimko commented on #3787
Thanks for the report,
in case like this (`diffs didn't match`) it would help if you can provide the full debug log (minus any secrets, obviously). Then we'd at least know which field is causing the problem and what's the actual diff.

Since you're using `terraform_remote_state`, I believe this is related to https://github.com/hashicorp/terraform/issues/2765 .
@apparentlymart is working on a fix f

[2015-11-07 17:29] radeksimko commented on #3779
Thanks for the report, isn't this a duplicate to https://github.com/hashicorp/terraform/issues/3787#issuecomment-154725494 ? Providing a full debug log (minus any secrets) would help here.

[2015-11-07 17:59] tep-pl commented on #2661
+1

[2015-11-07 19:31] #3770 closed

[2015-11-07 19:33] jwieringa commented on #3537
:+1:  No longer having this issue. Thanks!

[2015-11-07 19:36] jtopjian commented on #2009
I'm going to close this issue, but please re-open or open a new issue if there is still work to be done.

[2015-11-07 19:36] #2009 closed

[2015-11-07 19:47] maishsk opened #3805 "Setting the proxied flag on a cloudflare DNS record"
In cloudflare there is an option to turn on cloudflare settings for a DNS record

https://api.cloudflare.com/#dns-records-for-a-zone-properties

proxied (boolean)
Whether the record is receiving the performance and security benefits of CloudFlare

Is it possible to add this to the provider - at the moment this functionality is not currently exposed.

I assume it would require adding a new item to

[2015-11-08 01:45] chrislovecnm commented on #3776
Update source base, and installed deploypkg on the template, and now it works.

[2015-11-08 01:45] chrislovecnm commented on #3776
Non-issue

[2015-11-08 01:45] #3776 closed

[2015-11-08 07:36] dansowter opened #3806 "Updating lambda functions."
Hello,

I'm keen to update (using the versioning feature) rather than replace lambda functions. I can see that a suitable method exists on the GO SDK, but that the update method for the lambda provider is currently a no-op.

http://docs.aws.amazon.com/sdk-for-go/api/service/lambda/Lambda.html#UpdateFunctionCode-instance_method

@cbednarski I can see you added Lambda support. Any chance you can pro

[2015-11-08 08:18] kumarsarath588 opened #3807 "Chef Provisioner: ssl_verify_mode not working"
Hi,

I want to use ssl_verify_mode :verify_none but its not getting reflected in client.rb file of created instance. Can some one tell me what i am missing.

# Create a web server
resource "aws_instance" "web" {
    ami = "ami-52978200"
    instance_type = "t2.micro"
    tags {
        Name = "test1"
    }
    key_name = "tst"
    provisioner "chef"  {
        attributes {
                "java" {

[2015-11-08 09:07] kumarsarath588 commented on #3807
Hi,

I did a mistake..

I used ssl_verify_mode in connection instead of provision block...
i changed it and it worked.

provisioner "chef" {
attributes {
"java" {
"jdk_version" = 7
"install_flavor" = "oracle"
"oracle" {
"accept_oracle_download_terms" = true
}
}
}
environment = "_default"
run_list = ["java"]
node_name = "${aws_instance.web.private_dns}"
server_url = "https://ip-172-31-23-211.ap-sou

[2015-11-08 13:05] tkak commented on #3721
Current version supports datastore cluster feature partly. If you don't mind, could you tell me your use cases more detail? (.tf file, datastore directory path, etc)

[2015-11-08 15:33] aznashwan commented on #3212
@everyone: thank you all for your support.

I'm pleased to say that all the base work for ARM support in the provider itself has been done.
I have taken the liberty of creating a PR so as to have it in an utmost visible place: https://github.com/hashicorp/terraform/pull/3808

Now; work should be ready to start on the fun part: writing the resource definitions themselves.
I suggest that we keep syn

[2015-11-08 16:37] stack72 commented on #3604
@woodhull I have just opened a PR for this, #3809 . I made an assumption here though:

*We always remove the higher numbered nodes from the cache cluster*

I.e. If we are changing from a 2 node cluster to a 1 node cluster then we remove node_id 0002
If we are changing from a 5 node cluster to a 3 node cluster then we remove node_ids 0005 and 0004

Does this sound ok?

[2015-11-08 19:34] radeksimko commented on #2370
See https://github.com/hashicorp/terraform/pull/3810

[2015-11-08 20:14] davidblewett commented on #1557
+1. This is useful to have a stable IP That can be used to coordinate current PostgreSQL master, for instance.

[2015-11-08 20:43] Fodoj commented on #2671
I believe there is still a bug here related to destroying resources that depend on Neutron Ports. I will try to compile and example in next few days.

[2015-11-08 21:45] jtopjian commented on #2671
@Fodoj Thanks! That would be much appreciated.

[2015-11-09 03:05] josh-padnick commented on #3750
I can confirm the steps outlined by @brikis98 do in fact generate this bug.  This is currently a blocker for us on a project where we'd like to use RDS/Aurora.

[2015-11-09 03:38] jwaldrip commented on #3686
I am getting a similar error when dealing with template files.

[2015-11-09 03:39] jwaldrip opened #3812 "Cycle Issue with template files after upgrade."
I am getting the following error, this has only started to happen after upgrading to 0.6.6.

[code]

[2015-11-09 06:52] maxim commented on #3754
Ok I just switched down from 3 to 2 AZs for my whole RDS setup, and seeing the same issue. Destroying and recreating the entire thing from scratch (including the VPC) doesn't help solve it.

[2015-11-09 12:00] catsby commented on #3812
Hey @jwaldrip – you don't have a pared down config that demonstrates this by chance, do you?

[2015-11-09 12:38] Fodoj opened #3816 "provider/openstack: updating security groups is broken"
I found two issues:

1. Existing security group despite not being changed at all in template is marked as changed on every `terraform apply`
2. Because of it, every instance associated with this security group _deletes the association and then readds it_. I am convinced that is is absolutely not required to re-associate security group after rules have changed. It actually can lead to downtime of t

[2015-11-09 12:43] Fodoj commented on #3770
I am having the same issue in a setup with single security group and two servers referencing it. See https://github.com/hashicorp/terraform/issues/3816

[2015-11-09 14:04] radeksimko commented on #3582
I just reproduced this:

[code]

[code]

The solution is to treat existing ECS service with state `INACTIVE` as deleted (non-existing) service. I will send a patch for this.

[2015-11-09 14:56] jwaldrip commented on #3812
Check out http https://github.com/brandfolder/infrastructure. That's the config being used.

- Jason

-----

Jason Waldrip
Chief Technology Officer
Brandfolder.com
email| jason.waldrip@brandfolder.com
office |720-744-0311(tel:720-744-0311)
mobile |646-460-5959(tel:646-460-5959)

On Nov 9, 2015, 5:00 AM -0700, Clint<notifications@github.com>, wrote:

[2015-11-09 15:06] quater opened #3819 "AWS Instance Addressing not working when there is more than one instance"
Resource Addressing [https://terraform.io/docs/internals/resource-addressing.html](https://terraform.io/docs/internals/resource-addressing.html) is not working in conjunction with `aws_eip`.

### Working with one instance

[code]

### Not working with multiple instances

[code]
#### Error Message
[code]

[2015-11-09 15:09] catsby commented on #400
Ah, you mean a uuid function exposed to the HCL configuration, not in the code? If so, I misunderstood you, sorry :smile:

[2015-11-09 15:25] jtopjian commented on #3816
Are you seeing this behavior with the patch from #3801 applied?

[2015-11-09 15:34] jimconner commented on #1579
+1

[2015-11-09 15:36] jimconner commented on #2957
Same issue here - would be nice if terraform had support for 'deprovisioners' so that we could execute some steps (such as unmounting the volume) before machine destruction is attempted.

[2015-11-09 15:39] JefStat opened #3820 "AWS SAML provider missing arn value in tfstate"
This is the tfstate after applying changes.

[code]
The apply error is:

Error creating plan: 1 error(s) occurred:

* Resource 'aws_iam_saml_provider.auth0' does not have attribute 'arn' for variable 'aws_iam_saml_provider.auth0.arn'

## Workaround
Use the id attribute instead.

[2015-11-09 15:46] robmorgan commented on #1552
:+1:

[2015-11-09 16:17] Fodoj commented on #3816
Yes, I have this patch in place. I will try to provide an example soon

[2015-11-09 16:36] Fodoj commented on #3816
@jtopjian this is enough:

[code]

If I run it twice then on the second (and all consuequent ones) run I get:

[code]

[2015-11-09 16:41] pmoust commented on #2896
@mwitkow I am in the same boat. I resorted in building plumbing our etcd to ensure that quorum is always met.
Perhaps OT but, try to decouple your etcd cluster from your 'application' instances. It will help you maintain sanity.
My 2c.

[2015-11-09 16:57] jtopjian commented on #3816
Very strange! I was unable to reproduce the problem on any of my production environments. It wasn't until I modified the acceptance test and ran it against a devstack installation running Liberty that I'm able to reproduce it.

I'll look into this -- hopefully I'll figure out a fix very shortly.

[2015-11-09 17:03] Fodoj commented on #3816
@jtopjian I've played around with it a bit, trying to implement rules in similar way to aws SG implementation, but it didn't work from first attempt and I don't have time right now, because I am trying to fix other problem (will make a PR soon hopefully). Would be awesome to see this SG group issue fixed.

[2015-11-09 17:25] woodhull commented on #3604
@stack72 that's fine with me.

[2015-11-09 17:36] jtopjian commented on #3816
I have a good idea why this is happening, but I'm not sure of a clean fix. Instead of rushing, I'd rather revert the patch that caused this.

If you have a quick second, can you verify if #3824 causes the issue to go away? I'm pretty sure it will, but just want a second confirmation.

[2015-11-09 17:42] apparentlymart commented on #3812
@jwaldrip I think this might be another case of the issue that was documented in #2944.

For example, your `aws_autoscaling_group.deis-router` depends on `aws_launch_configuration.deis-router`, and the latter is `create_before_destroy` but the former isn't. Setting them *both* to `create_before_destroy` (and possibly also your `template_file.deis-router`) might clear up the first of those three cy

[2015-11-09 17:46] apparentlymart commented on #2896
@mwitkow if you mark your instances as `create_before_destroy`, does setting the parallelism work better then? Still just a workaround of course, but maybe it helps.

For a similar problem (rolling upgrades to a Consul cluster) I've sadly been just creating an entirely new Terraform resource alongside the old, applying to create both of them, manually fixing up the cluster, and then removing the o

[2015-11-09 17:56] jtopjian commented on #3788
Unfortunately too fast! I had to revert the patch as @Fodoj caught a major issue that I missed when testing this myself. I'll work on getting this fixed cleanly.

[2015-11-09 17:57] jtopjian commented on #3816
I'm confident enough that it resolves the problem that I've merged #3824. I'll work on getting both this and #3788 fixed as soon as I can.

[2015-11-09 18:10] Fodoj commented on #3816
Does that mean that master branch now doesn't update SGs all the time?

Best regards,
Kirill Shirinkin

On Mon, Nov 9, 2015 at 6:57 PM, Joe Topjian <notifications@github.com>
wrote:

[2015-11-09 18:12] davedash commented on #3779
@radeksimko I can't tell if it's a duplicate or not.  Can I email this to you?  I scrubbed the log, but just in case I missed something, I'd rather just limit it's exposure.

[2015-11-09 18:13] luhkevin commented on #400
Yes, that's what I meant :)

[2015-11-09 18:18] jtopjian commented on #3816
The revert causes rules to not be computed, meaning the only security group rules that Terraform will know about are the rules that you explicitly set in your configuration. A side effect of this is seen in #3788.

It looks like the ordering issue (what you were seeing) was caused by fixing #3788. switching back and forth between the patch made the configuration you provided either pass or fail.

[2015-11-09 18:37] stack72 commented on #3806
Looks like #3825 fixes this - right @dansowter ?

[2015-11-09 18:58] jlafleche opened #3826 "Crash in aws_ecs_cluster read with missing ECS cluster"
**Edit by @catsby:** extracted crash log to https://gist.github.com/catsby/936ee356cff32b12eb5b

Key bit:

[code]

[2015-11-09 19:00] jlafleche commented on #3826
Context on the crash:

I had a partially applied terraform state - I then changed the AWS region and re-applied, and hit the crash.

[2015-11-09 19:43] davidblewett commented on #649
+1 on this feature (mainly for ensuring chef stays current). In the mean time, does someone have some kind of script to clean out expired data from chef?

[2015-11-09 19:48] radeksimko commented on #3820
Thanks for the report, see #3827 which is fixing this.

[2015-11-09 19:48] icebourg commented on #649
I've taken to using a local provisioner to delete the Chef node and client. This is a horrible hack but it at least lets me create new instances without having to manually delete the old ones. Unfortunately, it only runs when an instance is provisioned, so if you de-provision an instance, you'll still have stale instances in Chef's database. But at least I can recreate instances without worrying w

[2015-11-09 20:10] radeksimko commented on #3582
See #3828

[2015-11-09 20:18] mrwilby commented on #2680
+1 for this. Doable in Cloud-formation but was surprised to see this pattern is not supported in terraform. Can't think of a workaround either as the current EIP code assumes ownership of any EIP.

As per above, we need an "aws_eip_association" or similar structure that binds an instance to an EIP without requiring creation of the EIP at the same time..

[2015-11-09 20:34] catsby commented on #3826
Thanks @jlafleche – I've patched this in https://github.com/hashicorp/terraform/pull/3829

[2015-11-09 20:51] catsby commented on #3798
Hey @pawelsawicz – are you creating this security group inside a default VPC? I checked out your example repos (thanks, by the way!) and I don't see a VPC declared. This leads me to believe you're inside a default VPC, which allows the `name` usage but not `id`. Is my understanding correct?

Regarding the misleading error, that's the error we're getting back from the AWS API, and is certainly not

[2015-11-09 21:00] samuel opened #3830 "provider/aws: support Kinesis Firehose"
AWS Kinesis Firehose makes it easy to stream data from Kinesis into S3 and RedShift.

Product description: https://aws.amazon.com/kinesis/firehose/
Getting started: https://aws.amazon.com/kinesis/firehose/getting-started/
API: https://docs.aws.amazon.com/firehose/latest/APIReference/Welcome.html

[2015-11-09 21:01] catsby commented on #3775
Hey @rajinders thanks for writing in – if you have a sample config, minus any secrets, that you could share that would be great.

I've managed to reproduce the duplicate issue by simply trying to create two security groups with the same `name` attribute, however I haven't been able to reproduce the `diffs didn't match during apply` part, so I'm curious what version of Terraform you're using and wo

[2015-11-09 21:04] catsby commented on #3774
Thanks @chroto – do you have a minimal config that reproduces this? I want to see if https://github.com/hashicorp/terraform/pull/3227 fixes your issue

[2015-11-09 21:19] catsby commented on #3518
Closing as noted in https://github.com/hashicorp/terraform/pull/3520#issuecomment-155198798

[2015-11-09 21:19] #3518 closed

[2015-11-09 21:51] bikbajwa commented on #2658
I have agent = false in my connection block but I still get the ssh handshake failure :frowning:

[2015-11-09 21:53] jen20 commented on #3786
Hey @jedineeper! I've come up with a minimal test case of this based on your code, and can reproduce the error you are seeing. The current crashing behaviour is clearly undesirable. Our options seem to me to be:

1. If we encounter empty elements, change the count to match the number of populated elements and continue working.
2. Present an error in preference to crashing.

Option 1 may be better

[2015-11-09 22:20] stack72 commented on #3830
FYI I started the work on this. I will open a WIP PR now

[2015-11-09 23:47] chrislovecnm commented on #3720
What role(s) does the user have, and have you tried a full admin account?  Either there is an api specific role, or you need admin ... I unfortunately cannot recall.

[2015-11-10 00:05] jen20 commented on #3737
I can reproduce this with `master` during `plan`, but not during `apply` currently. I'll investigate further tomorrow, as I think the expected behaviour is the same across both `plan` and `apply`.

[2015-11-10 00:54] rodlogic commented on #3664
I am hitting something similar. Expanded the cycle looks like:
[code]

I am not sure what the dependency direction is here since, for instance, I don't see how ```module.VPC.aws_subnet.DMZ_AZ2``` and ```module.VPC.aws_security_group.BASTION (destroy)``` are directly related.

[2015-11-10 00:55] chrislovecnm commented on #3535
@mkuzmin vcpu definitely is a vmware thing btw.  If I can be picky how about:

num_cpu or num_of_cpu

[2015-11-10 00:58] chrislovecnm opened #3834 "vSphere provider - add support for custom configuration fields"
I am working on this feature currently.  This allows tagging a virtual machine with metadata.  This is a feature that mantl.io requires.  Will submit a pull request.

Adding custom_configurations map variable.  Then read write crud in the vSphere provider.  This data will be stored within vSphere's extra config capability.

[2015-11-10 01:05] chrislovecnm opened #3835 "vSphere provider - check for template has vmtools installed"
Are we able to use the following test to determine if vmtools is installed on Linux images?

mo.VirtualMachine.Guest.ToolsVersionStatus2 == "guestToolsNotInstalled"

I did not have vmtools configured correction or deployPkg installed correctly in the vm template, and ran into all kinds of oddness.

Either we can check or we can update documentation.

[2015-11-10 01:11] chrislovecnm opened #3836 "vSphere provider - question about acceptance tests"
I know that the `resourceVSphereVirtualMachineRead` function is returned by the functions that create virtual machines. I need to test the read function specifically.  I have added a new acceptance test which is passing, but I don't believe that it should be.  The values for the new variables 'seem' to be returning from vsphere, but I don't think that they are.

How would one just test that method

[2015-11-10 02:14] rodlogic commented on #3664
If I remove the ```module.VPC.aws_launch_configuration.NAT``` manually (including the 2 aws_autoscaling_groups) I only then can destroy again.

[2015-11-10 03:04] avinci opened #3837 "AWS IAM certificates get deleted on rerun even though tf files were not changed"
I have 2 certs for SSL pointing to a 2 load balancers on AWS. Upon the first run of the terraform apply, it works fine. Now if I rerun apply again and not changing any part of the tf files, it will try to delete the IAM certs and this will fail as LBs are using it. Here is the log with TF_LOG enabled

Cert is present in the state file.

[code]

[2015-11-10 04:53] vasiliyb opened #3838 "Any benefit of using separate remote state files?"
Folks,
  When initially implementing terraform, we have potentially made a mistake, and have setup several separate projects with terraform, which in turn manage the same AWS Account's infrastructure.  What we have ended up with is an S3 bucket full of separate remote state files.
  Now we face the dilemma of sharing things between these terraform setups.  So this leads me to the questions:
  1.)

[2015-11-10 05:18] johnrengelman commented on #2840
Just ran into this myself. I've been looking at using [Drone](github.com/drone/drone) as a CI tool and have been implementing a plugin to execute Terraform plans from an Alpine Linux base image.

[2015-11-10 05:54] dansowter commented on #3806
Amazing! Thanks @stack72 and @robzienert

I'll close this now, and comment here when I've successfully used a build incorporating #3825

[2015-11-10 05:54] #3806 closed

[2015-11-10 06:34] apparentlymart commented on #3838
@vasiliyb this is a great question but one that I think is rather subjective: what will work best for you will depend greatly on the scale and structure of what you're deploying. However, I can describe the pattern used by my team at work for managing a (somewhat-)complex infrastructure as a set of separate Terraform states.

The `terraform_remote_state` resource allows the state produced by one c

[2015-11-10 09:36] mwitkow commented on #2896
@pmoust thanks for the tip. It would have been viable if etcd was the only thing that needed to survive a rolling-restart. We also have API servers and monitoring instances that require at least one of them to be up during an update.

@apparentlymart, we'll take a look as to whether `create_before_destroy` helps.

@phinze, is a rolling update mechanism something that is considered a feature for Te

[2015-11-10 09:41] savingschampion commented on #3634
Same issue here too

[2015-11-10 09:41] quater commented on #3819
The problem is observed with

**Terraform v0.6.6**
**3.19.0-32-generic Ubuntu x86_64 GNU/Linux**

I have not tested with other versions.

[2015-11-10 10:36] pmoust commented on #1109
Terraform v0.6.6

Case: Change in cloudinit template of an AS Launch Configuration.
Expected result: Termination of ASG, retry till ASG terminated, remove AS Launch Configuration, create a new AS LC, create a new ASG based on the new configuration.
Actual result:
[code]
I proceeded to add a lifecycle policy block (per discussion above).
Expected result: create new AS Launch Configuration, create n

[2015-11-10 11:45] stack72 opened #3840 "Potential Issue Parsing Heredoc's"
On master, I am trying to run the Iam Role tests

I get the following:

[code]

I have made no changes to these tests.

[2015-11-10 12:54] JorritSalverda opened #3841 "Moving google_compute_address to other google_compute_instance fails"
When moving the nat_ip attribute below to a different google_compute_instance it fails because the old instance doesn't release the ip address.

[code]

When terraform tries to attach the ip address to the new vm the following error is thrown:

[code]

The plan didn't show any modifications to the old vm on forehand, where I would expect it to give the machine a new ip address or destroy and recre

[2015-11-10 13:02] rodlogic commented on #3664
Even if I duplicate the module.VPC.aws_launch_configuration.NAT, one for each AZ, the cycle is still there. The only way to destroy is to manually delete the two autoscaling groups and the launch configuration, then continue with terraform destroy.

[2015-11-10 14:18] lwander commented on #3841
If you just remove that IP from a single machine without assigning it to a new one, does it work as expected?

[2015-11-10 15:17] pmoust commented on #1109
Disregard my last comment.

The cyclic dependency issue was due to the `template_file` resource used to generate the `user_data` attribute for the `aws_launch_configuration` resource.

As soon as a lifecycle policy was added in the `template_file` all went smooth.

Sorry for necromancing the thread.

[2015-11-10 15:22] JorritSalverda commented on #3841
No, it says there are no changes in that case.

[2015-11-10 15:27] fgrehm commented on #3698
If someone is looking for a workaround, it is as easy as setting the `BUILDPACK_URL` environmental variable:

[code]

That is going to be [eventually deprecated](https://devcenter.heroku.com/articles/buildpacks#setting-a-buildpack-on-an-application) but does the job now :beers:

[2015-11-10 16:30] sparkprime commented on #3841
This is an interesting problem.  A work around is to assign a different IP.  You could also remove the access_config entirely and then put it back in another step.

I don't know what Terraform should do in this case.  Logically speaking, you are expressing that you don't care what ip is on the first instance, by removing the declaration of a specific ip.  So Terraform is correct in not re-assignin

[2015-11-10 16:31] sparkprime commented on #3841
Oh if you're trying to do them in parallel, this will never work.  You have to do 2 terraform applies here because otherwise there is a race condition.

[2015-11-10 16:37] sparkprime commented on #3561
depends_on ought to have the same behavior as creating a reference, so this is a core bug in my opinion.  (Actually, I thought this was already fixed, perhaps it is rebroken.)

[2015-11-10 16:43] sparkprime commented on #3742
I think the approach laid out by @apparentlymart is pretty elegant and we should do it for all the other resources as well :)

[2015-11-10 16:43] #3803 closed

[2015-11-10 16:44] sparkprime commented on #2190
@lwander is this necessary for usage of https loadbalancer?

[2015-11-10 17:45] lwander commented on #2190
Unfortunately I didn't know we had this work open, so it's been reimplemented and merged into master already.

[2015-11-10 17:47] lwander commented on #3742
I'll take inventory of which resources are missing this approach and hopefully have a PR soon.

[2015-11-10 19:11] jen20 commented on #3737
This is now fixed on `master` and will be included in version 0.6.7. Thanks for the report @saswatp!

[2015-11-10 19:11] #3737 closed

[2015-11-10 19:50] sparkprime commented on #2190
I can't find it -- this is the health check resource, not the proxy

[2015-11-10 19:53] Felivel commented on #3797
Looks like I should be using `vpc_security_group_ids` instead of `security_groups`.

[2015-11-10 19:53] #3797 closed

[2015-11-10 20:18] Seraf opened #3845 "Error reading depends_on for aws_db_instance[db-eu-we1_preprod]: unknown slice type: *ast.LiteralType"
Hello,

I upgraded from 0.6.4 to master to have the S3 CORS support. I tested it with go 1.4.2 and go 1.5.1
When I try to launch a plan, I get this error : `Error reading depends_on for aws_db_instance[db-eu-we1_preprod]: unknown slice type: *ast.LiteralType`

I suppose the problem is on hcl and not terraform ?
Here is my block :

[code]

At the moment, the master I use is this commit :
https://gi

[2015-11-10 20:20] #3820 closed

[2015-11-10 20:22] directionless commented on #1604
Very similar to earlier mentioned cases. I'm running into this in module use. I'm creating several VPCs in my AWS cloud. Some with public connectivity, some without. Writing multiple modules to handle that feels very wasteful. Some kind of flow control would make this much cleaner.

[2015-11-10 20:26] jen20 commented on #3845
Hi Seraf! Can you try surrounding your `depends_on` value with array syntax like this?

[code]

[2015-11-10 20:32] lwander commented on #2190
Ah, right - it's not required since the URL Map resource corresponding to an HTTPS proxy can have a Backend Service checked by HTTP health checks, but it would be good to have. I'll add it in.

[2015-11-10 20:44] catsby commented on #2911
Hey all – thanks for opening the issue. @pforman  graciously added this in #3802 and I just merged it.

[2015-11-10 20:44] #2911 closed

[2015-11-10 20:45] Seraf commented on #3845
Hi @jen20
Thanks for the tips, it works like a charm ! Shame on me to haven't found it.

Thanks for the reactivity !

[2015-11-10 20:45] #3845 closed

[2015-11-10 21:13] directionless commented on #1604
Ah, having played some more, I think the count example is insufficient.

Say, I want to do something between 0 and N times. The common way this seems to get done, is via something like `count = "${length(split(",", var.private_subnets))}"` However, this results in either needing trailing commas, or being unable to handle the 0 case:

Eg:
* `${length(split(",", ""))}`  is 1
* `${length(split(",", "

[2015-11-10 21:16] thegedge commented on #1604
@directionless FYI, the `compact` function was somewhat recently added to deal with empty strings when splitting so, for example:
- `${length(compact(split(",", "")))}` should be 0
- `${length(compact(split(",", "foo")))}` should be 1
- `${length(compact(split(",", "foo,bar")))}` should be 2

[2015-11-10 21:22] directionless commented on #1604
@thegedge Indeed! I'd just found that in the docs, and testing, that does seem to work.

I'll PR to the modules I need it in.

[2015-11-10 21:39] cthomaspdx opened #3848 "allow AWS_DB_INSTANCE final_snapshot_identifier to accept empty string as omitted."
Omitting final_snapshot_identifier will result in one not being created. Passing an empty string currently results in
`   Errors: * aws_db_instance.admin-interface: only alphanumeric characters and hyphens allowed in "final_snapshot_identifier" `

It would be great if passing final_snapshot_identifier a empty string resulted in not creating a final snapshot.

I would like to not have to create a s

[2015-11-10 21:40] catsby commented on #3830
#3833 was merged, closing this, thanks!

[2015-11-10 21:40] #3830 closed

[2015-11-10 21:41] stack72 commented on #3848
@cthomaspdx This should already be the case:

[code]

this is currently in master. What version of TF are you using?

[2015-11-10 21:44] cthomaspdx commented on #3848
terraform -v
Terraform v0.6.6

[2015-11-10 21:47] stack72 commented on #3848
@cthomaspdx Ok, I removed that last comment. It seems that the schema validates the final_snapshot_identifier as follows:

[code]

I am not sure if it is acceptable to bypass this validation as per the http://docs.aws.amazon.com/cli/latest/reference/rds/delete-db-instance.html. I guess that `skip_final_snapshot` could be added if @phinze / @catsby / @jen20 would agree

This would effectively be ab

[2015-11-10 21:48] #3465 closed

[2015-11-10 21:50] catsby commented on #3219
Hey all – I'm going close this for now. If you can reproduce it still please let us know and we'll take another look. Thanks!

[2015-11-10 21:50] #3219 closed

[2015-11-10 22:03] jen20 commented on #3848
@cthomaspdx Thanks for bringing this up. Am I correct in assuming that the reason you'd rather use an empty string than something like `skip_final_snapshot=true` is because you're using this as part of a module which is reused across environments?

I'm not sure offhand whether there is precedent for how to approach this, but we should probably look for other resources with similar behaviour to det

[2015-11-10 22:06] maxbeatty commented on #3287
I just came up against this when trying to create an elasticsearch domain on AWS and setting the [`volume_size` for ebs](https://terraform.io/docs/providers/aws/r/elasticsearch_domain.html#volume_size)

[code]

[code]

It would be great if "10Gb" expanded to the proper integer for the AWS API call

[2015-11-10 22:07] lwander commented on #3841
The race condition @sparkprime pointed out isn't something we can fix on the provider end, so you'd have to take his approach and do this in 2 applies.

The other issue is that `nat_ip` is marked as `computed`, causing Terraform to not pick up on changes made to that field by the user. I'm guessing it's done this way because GCE will assign an IP if you don't specify one. I'm tempted to fix this b

[2015-11-10 22:08] cthomaspdx commented on #3848
Hey guys! Great response time! I found this article https://groups.google.com/forum/m/#!msg/terraform-tool/xA3QPNX84Bg/SEeBCEt5MQAJ where they override a variable "snapshot" {default = ""}. But I am not partial to a resolution either should fix my dilemma.

[2015-11-10 22:19] catsby commented on #2818
I merged #3227 , thanks all!

[2015-11-10 22:19] #2818 closed

[2015-11-10 22:22] cthomaspdx commented on #3848
Now that I have thought about it more. I think it may be best to add skip_final_snapshot as my final_snapshot_identifier uses a nice little interpolated string`final_snapshot_identifier = "${var.name}-${var.env}-final"` which I can't seem to set inside of the module block  or as a variable. Variables can't interpolate and module block doesn't seem have access to the variable set with in it. I may

[2015-11-10 22:28] stack72 commented on #3848
I personally think that skip_final_snapshot works best as it means you can disable snapshots without having to change the identifier strings :)

[2015-11-10 22:40] catsby commented on #2420
#3780 has been merged! Let me know if you need anything else :smile:

[2015-11-10 22:40] #2420 closed

[2015-11-10 22:43] #3826 closed

[2015-11-10 22:52] davidblewett opened #3851 "Problem with aws_iam_instance_profile roles"
The documentation for **aws_iam_instance_profile** suggests that you can attach multiple roles to a given instance profile. However, when I did so I got the following error:
- aws_iam_instance_profile.default: Error adding role dev_eyrie to IAM instance profile dev_eyrie: LimitExceeded: Cannot exceed quota for InstanceSessionsPerInstanceProfile: 1

I then looked up the documentation ( http://docs.

[2015-11-10 22:53] jszwedko opened #3852 "Cannot `plan -target` to delete resources"
Running `terraform plan -target` to target a delete of a resource results in terraform thinking that there is no diff.

Example config:
[code]

Run plan/apply as normal.

Comment out the lines so you end up with:

[code]

Run `terraform plan`, observe that it wants to delete the instance, run `terraform plan -target aws_instance.web`, observe that it thinks there are no changes.

E.g.:
[code]

[2015-11-10 22:58] jen20 commented on #3627
Hi @wathiede - thanks for reporting this. As of the current `master` branch, the zip file is included in the zip packages generated for FreeBSD. @phinze mentioned that there had previously been an upstream dependency issue building on FreeBSD which looks to have been resolved.

However, as part of identifying this I *did* discover that OpenBSD is not building correctly, because of something in `gi

[2015-11-10 22:58] #3627 closed

[2015-11-10 23:06] vasiliyb commented on #3838
@apparentlymart best write up.  Thank you!

Question in the following scenario... A new deployment machine can only be configured with __one__ remote terraform state file (either __vpn__ or __redis__ remote state), with this command:
[code]
or
[code]
Once this command is ran, it will download the state file from s3, and place it in .terraform directory locally, which will either have the vpn or re

[2015-11-10 23:15] stack72 commented on #3848
Opened PR #3853 to see if this works

[2015-11-10 23:22] #2370 closed

[2015-11-10 23:25] jen20 commented on #3852
@jszwedko Thanks for reporting this. I can confirm I can reproduce your error (using an `aws_iam_user` resource instead of an `aws_instance`), and the same reproduction steps. I think I see what is wrong here - I will investigate further tomorrow.

[2015-11-10 23:28] stack72 commented on #3840
@jen20 this is now fixed upstream - thanks @mitchellh

[code]

[2015-11-10 23:28] #3840 closed

[2015-11-10 23:53] stack72 commented on #1139
There is an open PR #3853 that will now follow the AWS Guidelines and make a final snapshot on db instance delete - http://docs.aws.amazon.com/cli/latest/reference/rds/delete-db-instance.html

[code]

[2015-11-11 00:03] listenrightmeow commented on #2694
:+1:

[2015-11-11 00:11] amotoohno commented on #2445
*bump* re: v0.6.6 on Atlas ... except I can't make the error go away.
I tried adding the following to the module-aggregating modules (eg aws_network, as pinched from your atlas-examples repo):

    resource "null_resource" "for_testing" {
    }

and still, when I "terraform push", Atlas gives me (representative errors)

    * module.aws_network.module.openvpn.provider.aws: "region": required field

[2015-11-11 00:19] amotoohno commented on #2445
Update: ... and when, in Atlas, I set the environment variables "AWS_ACCESS_KEY_ID" "AWS_SECRET_ACCESS_KEY" and "AWS_REGION" on the environment where I'm pushing my config, the errors all go away. So that explains why this has been working on my local machine, but not in Atlas.

Also, very likely explains why, when I had a mismatch between those environment variables and the access_key / secret_ke

[2015-11-11 00:19] stack72 commented on #3753
@catsby @phinze @radeksimko have any of you started this work? If not then I will get cracking with it as it goes hand in hand with part 2 of my Kinesis Firehouse stuff

[2015-11-11 00:34] listenrightmeow commented on #1768
+1

[2015-11-11 00:35] ryanl-ee opened #3855 "vsphere_virtual_machine.web: unexpected EOF"
Hi all, I'm getting the above error when running "terraform apply".

crash.log: https://gist.github.com/ryanl-ee/347df1c256cb096b59e2
vsphere.tf: https://gist.github.com/ryanl-ee/23bc048027efddb8c98e

I have been having problem after problem but finally hit a wall here. I've been using Packer to create the image but could never get that to work. I eventually manually created a VM. I had to delete

[2015-11-11 01:31] davidblewett commented on #3851
Hmm, but there doesn't appear to be a way to apply an indeterminate number of policies to a given role.  **iam_policy_attachment** is for a single policy, to multiple other users/groups/roles. I would like to be able to pass a list of policy IDs and attach them all to a single role.

[2015-11-11 01:32] ckelner opened #3856 "Source for aws_s3_bucket_object does not expand `~/<path>`"
It appears that the `aws_s3_bucket_object` resource does not expand the user's home directory `~/` for the `source` argument.

I get the an error when defining:

[code]

Error below:

[code]

I saw what I think is a somewhat a related issue for aws instances a long time ago, wondering if a similar fix is needed here?  Referencing: https://github.com/hashicorp/terraform/issues/179

[2015-11-11 04:39] davidblewett commented on #3851
This could possibly be solved by #953. If the **iam_policy_attachment** resource doesn't support **count**, I can wrap it in a module and push in each policy ID via calls to **element**. It seems that **iam_policy_attachment** should support the count argument (maybe it does and there's just a bug in how it handles variable input?) .

I tried to invert the dependency chain, and attach policies to

[2015-11-11 04:50] jszwedko commented on #3852
Thanks @jen20 !

[2015-11-11 05:26] simpsora commented on #3068
I've just run into this problem as well.  It would be really useful for Terraform to recognize a changed object and cause it to be re-uploaded.

If you can't reliably use `ETag`, could you keep a local hash of the source file's contents and check that?  I don't know if there's any provision for local metadata in TF or not.

[2015-11-11 05:55] kbxkb commented on #3568
+1 To fix this problem, we have to

(1) add an AddRole function here: https://github.com/Azure/azure-sdk-for-go/blob/master/management/virtualmachine/client.go

(2) use that function in resource_azure_instance.go here: https://github.com/hashicorp/terraform/blob/master/builtin/providers/azure/resource_azure_instance.go

(in resourceAzureInstanceCreate(...) and possibly in Update/Delete as well - s

[2015-11-11 06:10] kbxkb commented on #3428
Just tested that this problem *only* exists if you are trying to add the data disk to a VM that was added to a separately created cloud service ("hosted service"). But If you create a VM without creating a separate cloud service first, the add-disk on that VM works. Details are as follows:

When we create a VM without creating a separate cloud service first, 3 things get created (in addition to th

[2015-11-11 10:13] sunilvigneshr commented on #2694
Experiencing this. Any Updates?

[2015-11-11 15:03] stefanthorpe commented on #1478
+1 for include
would make linking super simple. Modules have there part but are overkill in some cases

[2015-11-11 15:16] jen20 commented on #3851
I've hit this in the past as well - I think the documentation needs updating in the first instance to reflect the Amazon API docs, and then we should consider further whether to do something to make this easier on users.

[2015-11-11 15:33] rgabo commented on #3566
We have a similar _diffs didn't match_ error on 0.6.4-0.6.6 that we didn't see with 0.6.3.

Removing `ignore_changes` from the ASG solved the problem. Here is the `lifecycle` block that was causing the issue:

[code]

Hope that helps!

[2015-11-11 15:37] jen20 commented on #3836
Hi @chrislovecnm! There isn't a straightforward way to unit test the CRUD methods of a provider - to do this would likely involve mocking out API endpoints. The typical approach taken here is to try to use acceptance tests to replicate the issue. I realise this probably isn't the answer you were hoping for! If you can describe what you're seeing in a bit more detail (perhaps an example) of how var

[2015-11-11 15:55] catsby commented on #2315
Access Logs have been added in #3756, and will go out in the next release!

[2015-11-11 15:55] #2315 closed

[2015-11-11 16:04] elblivion commented on #2315
:tada:

[2015-11-11 17:02] bsharitt commented on #3769
I think I've got the root cause the issue figured out. It seems that terraform is simply kicking off the chef run before Windows is fully up(despite being able to connect). I was able to work around the issue by putting a 2 minute sleep in between terraform being able to connect to the machine and it actually running chef.

[code]

[2015-11-11 17:06] catsby commented on #3648
I merged #3694, so I'm going to close this. Thanks!

[2015-11-11 17:06] #3648 closed

[2015-11-11 17:13] hugoboos commented on #3721
We have a VMware cluster with resources pools, storage DRS. The whole enterprise thing.

What we want is to deploy virtual machines based on cluster names, resource pool names, datastore cluster names, etc. like below in the ```main.tf``` file. We do not want to specify the directory path but only the name of the object.

Regarding storage, Storage DRS should decide on which datastore the virtual

[2015-11-11 17:15] #3585 closed

[2015-11-11 17:17] catsby commented on #3753
I have not, by all means have at it! Thanks!

[2015-11-11 18:15] chrislovecnm commented on #3836
@jen20 we have stock acceptance tests for the vsphere provider, but I need to do more debugging.  Should I put in a request for an enhancement to the acceptance test framework to support read?  I am thinking that I am just going to write an api level test outside of terraform.

[2015-11-11 18:16] chrislovecnm commented on #3855
Which version of the provider and govmomi are you running?  Can you run the acceptance tests?

[2015-11-11 18:34] chrislovecnm commented on #3836
@tkak can you provide any wisdom?  Adding a new feature to the our read method and trying to ensure that the data is being set correctly.

[2015-11-11 19:26] catsby commented on #3797
Thanks for following up @Felivel , sorry I didn't get to this sooner

[2015-11-11 19:42] aviflax commented on #3481
New Terraform user here, and I’ve also been confused by the discrepancy between the Getting Started guide and the current behavior of the program. So I agree that either the behavior should be changed to match the docs, or the docs should be changed to match the behavior.

----

I’m _also_ seeing the same problem as @lawrencepit wherein the `-input` flag does’t seem to work at all:

[code]

So tha

[2015-11-11 20:08] stack72 commented on #3753
OK @catsby this can probably be closed then. I will open a WIP PR for the redshirt stuff now to replace it

[2015-11-11 20:22] pawelsawicz commented on #3798
Ah yes I should mention that, I don't create VPC, I am using default one. Yes your understanding is correct. Does it mean that if you define VPC then you can use `id` ?

Yes we could try to capture error, which is "Value () for parameter groupId is invalid. The value cannot be empty" and maybe modify that error a little bit to

1. "Value () for parameter groupId is invalid. The value cannot be emp

[2015-11-11 21:19] ColinHebert commented on #3076
Just a wild guess, is it due to the `StateFunc` (here normalize json) being applied too early?

In https://github.com/hashicorp/terraform/blob/8fdffb65eab30162061af4bb85fbf5ba6db9bf6e/helper/schema/schema.go#L922

[2015-11-11 21:24] buzzedword commented on #2694
Also seeing this. :+1:

[2015-11-11 21:31] ColinHebert opened #3864 "template_file not compatible with fields with a StateFunc"
It seems currently (terraform 6.6) not possible to use the content of a `template_file` (or any terraform reference for that matter) in a field with a `StateFunc`.

This causes #3076 has attempted to be fixed in #3331

My gut feeling is that the StateFunc is applied too early and there is no type for the terraform reference to be processed:
https://github.com/hashicorp/terraform/blob/master/helper

[2015-11-11 21:48] mtougeron opened #3865 "[feature request][docker] Support labels on containers"
It would be nice if there was support for running Docker containers with labels. http://docs.docker.com/engine/userguide/labels-custom-metadata/#container-labels

Thanks

[2015-11-11 22:32] barbarello commented on #1497
+1

[2015-11-11 23:19] davedash opened #3868 "Crash after taining/planning/applying ecs_service"
Version 0.6.6

[code]
[crash.log.txt](https://github.com/hashicorp/terraform/files/32425/crash.log.txt)

[2015-11-11 23:21] chrislovecnm commented on #3562
@eloycoto can you not use open vm tools?  You will need open-vm-tools, perl, and deployPkg?  I am using open-vm-tools with Centos, and it is working like a champ.

[2015-11-11 23:44] inferiorhumanorgans commented on #266
Looks like there's some overlap with #2235 -- has there been any progress on this?  It would be nice t see parity with packer (and many other AWS tools).  Specifically, being able to load the credentials out of the ~/.aws/credentials file instead of having to manually extract them and set an environment variable would be very nice (ex: no more putting credentials in your shell's history).

[2015-11-12 00:01] #3582 closed

[2015-11-12 00:04] simpsora commented on #3068
Another option could be the ability to add a lifecycle rule that permanently marks an object as tainted, forcing it to be re-uploaded during every run?  That's not ideal, but IMHO it's better to update files when not necessary rather than not update them when it _is_ necessary.

[2015-11-12 00:25] carlsverre opened #3869 "aws_route_table bug with ignore_changes - "diffs didn't match during apply""
All output summarized here: https://gist.github.com/carlsverre/f50395eaee55952d95ed

Here is the repro (also in the gist):

[code]

If you comment the ignore_changes line it applies fine.

[2015-11-12 00:28] carlsverre commented on #3869
* Note: I originally had create_before_destroy specified as well, this was unneeded and doesn't affect the repo so I removed it for clarity.

[2015-11-12 00:30] leonkyneur opened #3870 "vsphere additional disk datastore selection"
I'm trying to create a machine in vsphere - so far all works however I then went to add additional disks (vmdk) to the machine and set a specific datastore to target this new disk on.

Result was it created the new disk in the first assign disks (where template was deployed).

e.g.

[code]

The result is disk I targeted to datastore-02 is created on datastore-01, nothing is hinted in apply / plan

[2015-11-12 00:59] saswatp commented on #3737
@jen20 - Thanks for the fix.

[2015-11-12 01:42] maxbeatty commented on #3634
I'm seeing the same issue. I tried moving the policy to a `template_file` but that didn't help

[2015-11-12 02:39] davidblewett commented on #3851
If the **iam_policy_attachment** supported variable-based counts, this issue could be resolved fairly cleanly. Failing that, the module-level count would work as well. As it is, I've had to resort to explicitly defining all expected policy IDs as independent variables. This works for my use case for now, as it appears there's a relatively small number that I need to bubble through. If I get into a

[2015-11-12 04:50] davidblewett commented on #3851
After refactoring my modules to pass around the policy ARNs, and do multiple calls to **aws_iam_policy_attachment**, it's now clear that this will not do what I want. It appears that if multiple calls to **aws_iam_policy_attachment** for the same target role ID result in overwriting the previous attachments (instead of accumulating policy IDs, which is possible to do via the AWS UI/CLI).

This mea

[2015-11-12 06:06] apparentlymart commented on #3753
Closing this in favor of #3862

[2015-11-12 06:06] #3753 closed

[2015-11-12 07:21] jmreicha opened #3872 "aws_spot_instance_request does not have attribute 'ip_address'"
I'm attempting to run the `remote-exec` provisioner on a spot instance and if I don't specify a host in the connection block then it is blank, so I was thinking I needed to pass in the IP of the instance but then I get the `does not have attribute 'ip_address'` error.  I tried also with `public_ip` but get a similar error.

Am I doing something wrong or is there a better way to handle this?

[2015-11-12 07:36] radeksimko commented on #3868
Thanks for the report, this is similar to a few bugs that we fixed in the past few days.

Here's the interesting part of the crash log:

[code]

The ECS service was apparently already gone when terraform was trying to delete it. I will send a patch.

[2015-11-12 07:56] jmreicha commented on #3762
+1 I just ran in to this as well.

[2015-11-12 07:56] premist opened #3873 "'content' argument on google_storage_bucket_object"
On [aws_s3_bucket_object](https://terraform.io/docs/providers/aws/r/s3_bucket_object.html#content) resource,  you can specify `content` argument for creating an object from string. However on [google_storage_bucket_object](https://terraform.io/docs/providers/google/r/storage_bucket_object.html) resource, there is a `source` argument but not `content`. Unlike **aws_s3_bucket_object**, I can't easil

[2015-11-12 07:57] jmreicha commented on #3872
This issue describes the problem in better detail https://github.com/hashicorp/terraform/issues/3762

[2015-11-12 07:57] #3872 closed

[2015-11-12 07:59] jmreicha commented on #3263
I just ran in to this issue as well.

[2015-11-12 08:11] ketzacoatl opened #3874 "prevent_destroy should let you succeed"
Call me crazy, but I'm willing to call the current implementation of `prevent_destroy` a bug. Here is why: The current implementation of this flag prevents you from using it for 1/2 the use case.

The net result is more frustration when trying to get Terraform to succeed instead of destroying your resources.. `prevent_destroy` adds to the frustration more than alleviating it.

`prevent_destroy` is

[2015-11-12 08:14] ketzacoatl commented on #3555
I am seeing the same behavior as well. `ignore_changes` appears to work for one of my resources, but not the other. The only difference I can spot between the two resources is that in one case, there is only one change proposed by TF, and in the other, TF sees multiple changes. The one change succeeds with `ignore_change`, the one with multiple changes fails to ignore changes.

 This bug is made a

[2015-11-12 08:55] premist opened #3875 "Google Cloud: Update instances on instance group when instance_template is changed"
On resource **google_compute_instance_group_manager**, you can specify `instance_template` resource for the instance group. When I modify **google_compute_instance_template** resource, associated **google_compute_instance_group_manager** is updated but its instances are not updated. I had to manually delete VM instances so Instance Group can recreate instances with new instance template. I can thi

[2015-11-12 09:10] mcansky commented on #2367
:+1:

[2015-11-12 09:57] stankeB opened #3876 "attaching existing vpn gateway to vpc"
terraform: v0.6.6
provider: aws
resource: aws_vpn_gateway

Hi guys,

today get stuck on attaching an existing vpn connection to a terraformed vpc.

Because of our company structure and size, we are not able to add new vpn connections on short term. So we are dependent on attaching existing vpn gateways to a new vpc.

I hope, i'm not the only one with this issue.

Thanks a lot for your great work!

[2015-11-12 10:33] jorgemarey commented on #2342
Maybe something like this could be done:

[code]
One of content or source must be provided, but no both.

This would copy the content provided to the destination file. I think this could be achieved without a lot of change in code. Simple by creating a file in your machine tmp directory, copy the content there and use it as the source file.

[2015-11-12 10:45] sethvargo opened #3877 "HCL no longer syntax errors on commas"
Terraform 0.6.6 errors on this:

[code]

master just happily continues:

[code]

Bug or feature? /cc @mitchellh @fatih

[2015-11-12 11:04] radeksimko commented on #3143
Implemented via https://github.com/hashicorp/terraform/pull/3233

[2015-11-12 11:04] #3143 closed

[2015-11-12 11:14] radeksimko commented on #3779
@daveadams feel free to use the email from my Github profile. If you want, you can also GPG-encrypt the message using my pubkey from https://keybase.io/radeksimko

[2015-11-12 12:28] mrwilby opened #3878 "Support "description" and arbitrary meta-data on variables & outputs"
We have a collection of higher-level wrapper scripts around Terraform that we use to manage bindings of secrets/sensitive info to terraform inputs & outputs.

At the moment, for "variables" (inputs) we abuse the "description" property:

variable "secret-..." {
    description = "... special tagging/encoding syntax which our tool looks for..."
}

This works okay, as a workaround, for now. The docum

[2015-11-12 12:56] clkao commented on #3654
This also happens if you created an ami with an io1 ebs on /dev/sdb, and wish terraform to override the ebs_block_device to gp2 volume_type.  The resulting instance is created properly, however the state is not idempotent so each apply tries to relaunch the instance.

[2015-11-12 13:37] ckelner commented on #1406
Wanted to provide some info here.  There is https://github.com/hashicorp/terraform/pull/2554 which then turned into: https://github.com/finn-no/terraform-provider-softlayer -- now TheWeatherCompany (parent company for The Weather Channel [weather.com], Weather Underground [wunderground.com], and WSI [http://www.wsi.com/]) is starting to work this effort very very soon, progress can be followed her

[2015-11-12 13:47] hutchic opened #3879 "Terraform Crash"
Terraform plan crashed and in the crash notes it asked me to create an issue so here I am :)

[crash.txt](https://github.com/hashicorp/terraform/files/32906/crash.txt)

[2015-11-12 13:48] hutchic commented on #3879
re-exported my AWS credentials and now it's happier

[2015-11-12 14:08] davidblewett commented on #3851
Just for clarity's sake, the reason I want multiple, distinct IAM polices is to represent atomic permissions. This makes it possible to view in the console what roles have been assigned specific permissions. The model that the current state of Terraform resources seems to encourage is a role with inline policy granting multiple, unrelated statements granting access to different resources. This mak

[2015-11-12 14:47] blairham opened #3880 "Default Termination Policy must be last"
When adding multiple termination policies to an autoscaling group and one of them is the 'Default', the 'Default' must be last in the list. Terraform currently does not respect that. Here is the sample code that would demonstrate this case:

variable "termination_policies" {
  default = "OldestInstance,Default"
}

resource "aws_autoscaling_group" "blue" {
...
  termination_policies = ["${split(","

[2015-11-12 15:37] jen20 commented on #3879
HI @hutchic! Thanks for reporting the issue. Looking through your logs, a crash like that is definitely a bug. Is there a possibility you had AWS credentials in your environment for *another* AWS account which did not have any ECS clusters?

[2015-11-12 15:45] jen20 commented on #3874
Hi @ketzacoatl - thanks for opening this! Based on your description I'm certainly sympathetic to the idea that Terraform should not terminate with an error code if the user intent is to prevent resources being deleted, but I'm inclined to say that the output should indicate that resources where `prevent_destroy` was a factor in the execution should indicate this. @phinze, do you have any thoughts

[2015-11-12 15:46] jen20 commented on #3873
Hi @premist! Thanks for bringing this up. I think this should be considered in the light of #3846 - we've been trying to move to specifying content for exactly this reason, and then having people make use of the `file()` interpolation in order to load a file from disk.

[2015-11-12 15:52] jen20 commented on #3870
Hi @leonkyneur! I'm not terribly familiar with the underlying API for vSphere to know offhand whether the destroy and create is necessary to add a disk, though it sounds unlikely that this is the case.

The disk order here is interesting though - given the current schema, the ordering is non-deterministic as the disks are a set rather than an array or a list. In the AWS provider the root device (w

[2015-11-12 15:57] Deserved opened #3884 "Count parameter throws error with split interpolation function and map variable"
The snippet of code below will cause an error:
[code]

Errors:
* strconv.ParseInt: parsing "${length(split(\",\", var.api_public_subnets.cidrs))}": invalid syntax

If I use not mapping it will work as expected, snippet of code below will work:
[code]

For instance this code will work as-well, despite it uses mapping:
[code]

Is it a bug?

[2015-11-12 16:14] jwmarshall commented on #3762
Yea haven't had anytime to try and tackle this one myself. Maybe I can find a few hours on the weekend.

[2015-11-12 16:17] #3877 closed

[2015-11-12 16:18] ketzacoatl commented on #2342
++ to @jorgemarey's recommendation, great stuff!

[2015-11-12 16:22] serainville commented on #2098
+1

[2015-11-12 16:29] Fodoj opened #3885 "Changing count of instances destroys all of them"
Title says it all: I _increased_ the count and _all_ of previously created instances were destroyed. Doesn't seem like an expected behavior to me.

[2015-11-12 16:33] apparentlymart commented on #2342
Terraform has been moving towards allowing inline strings instead of filenames in a bunch of places, so something like what @jorgemarey proposed seems reasonable.

Reminds me that I also once had a use-case for copying files in the "reverse" direction (remote to local) during provisioning, but I apparently worked around that and lost the use-case in the mean time. Maybe if we're altering the "file

[2015-11-12 16:39] apparentlymart commented on #3874
Definitely sympathetic about this use-case too. I think a concern is that if Terraform fails to include one part of the update then that may have downstream impact in the dependency graph, which can be fine if you're intentionally doing it but would be confusing if Terraform just did it "by default".

Do you think having the ability to exclude resources from plan, as proposed in #3366, would addre

[2015-11-12 16:40] packplusplus commented on #2342
:+1: to adding contents to the file provisioner would be great.
:+1: to direction for the file provisioner (being able to do that thru a bastion host :+1: :+1: )

There is a hack/workaround for the contents idea, so I'm not sure how soon that would happen.

[2015-11-12 16:44] Fodoj commented on #3885
Using `prevent_destroy` flag doesnt help neither:

[code]

[2015-11-12 16:44] apparentlymart commented on #3878
This is really interesting... can you talk a little more about how your wrapper scripts work? e.g. are you parsing the Terraform config in those scripts? If so, are you doing that with Terraform's help somehow, or are you implementing that separately?

Would this feature be improved by adding a Terraform command to output (for example) a JSON serialization of all of the variables and outputs, incl

[2015-11-12 16:54] jtopjian commented on #3885
Ouch. This wouldn't be good and definitely not what should happen.

What does your TF configuration look like? I created a basic instance with a `count` attribute set to 1, then increased it to 3. The original stayed online and accessible the entire time.

[2015-11-12 16:59] Fodoj commented on #3885
I am using user_data with tempalte_file renderer. Is that related to this issue? https://groups.google.com/forum/#!topic/terraform-tool/kvaaUlT6cg4

[2015-11-12 17:03] Fodoj commented on #3885
@jtopjian https://github.com/hashicorp/terraform/issues/2627

[2015-11-12 17:06] jtopjian commented on #3885
Ah, that's quite possible. I've only had a chance to skim those two -- I'll look deeper later today.

[2015-11-12 17:52] timothykimball opened #3888 "When using count parameter w/ a split in aws_security_group_rule, receive parsing error "strconv.ParseInt" .. " invalid syntax""
This is using terraform v0.6.5

The following module is used:

[code]

and when I run in conjunction with the wider project:

[code]

If I rewrite

[code]

as

[code]

it works...

[2015-11-12 17:58] timothykimball commented on #3888
Also: Managed to get the "${length(split(",",var.ids))}" printed to string. The value was 4 (as expected).

[2015-11-12 18:13] chrislovecnm commented on #3870
@jen20 A dev needs to look at it :)

[2015-11-12 18:22] radeksimko commented on #3634
This is a general problem with all IAM policies in AWS which keeps appearing in many different places, it's probably best to follow this thread:

https://github.com/hashicorp/terraform/pull/3124

TL;DR The issue is that we don't (de)serialise the JSON before/after sending it to AWS and AWS returns the JSON in a different format - either different ordering or list with 1 member instead of a string

[2015-11-12 18:34] salehsedighi-ck opened #3889 "Spot request for "aws_instance""
Is there any plan to add support to "aws_instance" ?

[2015-11-12 18:43] jen20 commented on #3889
Hi @salehsedighi-ck! The APIs used between spot market instances and on-demand instances is quite different, so it's implemented as a different resource, `spot_instance_request`. Is this suitable for your needs?

[2015-11-12 19:27] Deserved commented on #3888
#3884

[2015-11-12 19:27] salehsedighi-ck commented on #3889
Is there any example to start spot instance and after that provision it file provisioner ?

[2015-11-12 19:47] tadanki opened #3890 "Provisioner for resources spun up using launch configuration"
Hi,
I cant seem to get the remote-exec provisioner to work with the aws_launch_configuation (ALC).
I realized that the exec is going up against the ALC and not the instances spun up using it.
[code]
What is the current way to execute a remote-exec block against the instances ?
Thanks !

[2015-11-12 19:49] stevendborrelli opened #3891 "IAM ELB dependency on IAM certificate does not exist when modules are used"
When an ELB resource is using a IAM certificate created in another module, the dependency is not created. This means that terraform apply will often fail due to ordering issues.

Below is a picture of the graph:

![test](https://cloud.githubusercontent.com/assets/414702/11129271/f89a8524-8943-11e5-94b8-ce9be9ee3e1b.png)

[2015-11-12 20:06] lwander commented on #3875
Good catch on the update issue. I will implement approach 1 since we'd rather not support the Alpha API as it's subject to change.

[2015-11-12 20:15] jen20 commented on #3889
There is no example in the documentation at the moment, but you can use provisioners in exactly the same way as for the `aws_instance` resource type - everything available to that is available to spot instances also.

[2015-11-12 20:17] tadanki commented on #3890
user_data  and cloud-init to the rescue I guess...

[2015-11-12 20:17] #3890 closed

[2015-11-12 20:25] jen20 commented on #3891
Hi @stevendborrelli! Can you post the relevant snippet of the configuration that generated this graph? If the certificate is referenced via a module variable the dependency should be generated correctly, and if not that's a bug.

[2015-11-12 20:33] jen20 commented on #3888
Hi @timothykimball. I'm trying to reproduce this on the `master` branch at the moment, using the following minimal `.tf` file:

[code]

Running `terraform plan` gives me the following output:

[code]

It's possible that this was fixed between v0.6.5 and now though, since the parser has been replaced on `master`. Does the latest released version also exhibit this behaviour?

[2015-11-12 20:34] Deserved commented on #2114
+1

[2015-11-12 20:41] jen20 commented on #3884
Hi @Deserved! Similarly to #3888, I can no longer reproduce this on `master`, using the following minimal reproduction:

[code]

Which version of Terraform are you using.

[2015-11-12 20:44] stevendborrelli commented on #3891
Cert is created like this:
[code]

It is referenced in the ecs task definition like:
[code]

The elb resource is:

[code]

[2015-11-12 20:57] lwander commented on #3875
As you pointed out, it's bad in prod to restart all the instances at once. So I added the `update_strategy` field where you can specify `NONE` and then rely on running the alpha command by hand until that makes its way into the stable v1 API, where Terraform will give you the option to do that automatically.

[2015-11-12 21:15] Deserved commented on #3884
Hi @jen20 I am using 0.6.6

[2015-11-12 21:18] mrwilby commented on #3878
hi, yes. Basically we parse the terraform DSL and hunt for our annotations (discover inputs that need binding to our secrets) and then dynamically resolve those bindings, injecting the binding value as a "-var ..." command line argument.

And yes, definitely a structured JSON document output (which emits our annotations as well) would be even better and avoid the parsing. Thanks for thinking about

[2015-11-12 21:25] lwander commented on #3873
@premist, It's been added #3893

[2015-11-12 21:33] br0ch0n opened #3894 "Modifying RDS "publicly_accessible" parameter forces new resource"
...and doesn't need to.
Similar to some other RDS issues (e.g. #1140), this param can be changed in the console easily without destroying the DB (it just changes the DNS record it would seem).

[2015-11-12 21:52] nick-nz opened #3897 "Add Kinesis streams as Lambda event sources"
Feature request to be able to do this in Terraform:

![aws lambda](https://cloud.githubusercontent.com/assets/1883789/11132375/79765064-89f4-11e5-99a8-57e060d9a634.png)

Instructions for doing this via the AWS CLI are in step 3.2 of the docs here: http://docs.aws.amazon.com/lambda/latest/dg/wt-kinesis-configure-kinesis.html

[2015-11-12 22:02] mrwilby commented on #3897
+1

[2015-11-12 22:22] catsby commented on #3412
This should be fixed in https://github.com/hashicorp/terraform/pull/3898

[2015-11-12 22:22] catsby commented on #3275
https://github.com/hashicorp/terraform/pull/3898

[2015-11-12 22:24] catsby commented on #2499
I've submitted https://github.com/hashicorp/terraform/pull/3898 as a patch for #3275 and #3412. Unfortunately it is largely a bandaid. IAM resources are notoriously eventually consistent for our experiences; API calls return "success" but follow up calls that reference the ARN return 404s :/

[2015-11-12 22:34] catsby commented on #3891
https://github.com/hashicorp/terraform/pull/3898 is a patch that will retry ELB creation if it fails due to an SSL Cert not being found. That may _help_ here, though I don't know about the actually dependency and ordering with respect to the graph

[2015-11-12 22:47] catsby commented on #3837
Hey @avinci – do you have a configuration that demonstrates this (minus any secrets)?
I'd like to see if this is impacted by #3898, and otherwise reproduce it

[2015-11-12 22:49] catsby commented on #2625
@serenitus your `certificate_body` is getting a new hash value there...do you have a test configuration that demonstrates this? How was the key created? I've created dozens of `aws_iam_server_certificate` today and have not seen this.

[2015-11-13 00:04] calvinfo opened #3902 "Can't interpolate multi resources for nested fields"
We're attempting to create an elasticache cluster, but unfortunately the interpolation doesn't work for splats of nested fields.

[code]

It could be fixed [in the config/interpolation](https://github.com/hashicorp/terraform/blob/master/config/interpolate.go#L176-L192), to mark it as a multi, but that'd require changing around the field name behavior as well. Is that behavior which you're willing

[2015-11-13 01:19] ketzacoatl commented on #3874
I'd agree @jen20, I am primarily looking for the ability to tell TF that it does not need to quit/error out hard. Same on @apparentlymart's comment on default behavior - I agree, this is a specific use case and not meant as a default.

I had to re-read that a few times to make enough sense out of how that works (the doc addition helps: _Prefixing the resource with ! will exclude the resource._ - t

[2015-11-13 01:23] stvnwrgs commented on #57
:+1:

[2015-11-13 02:14] nick-nz commented on #3897
My current workaroud is to use local-exec. eg.

[code]

[2015-11-13 04:19] jtopjian commented on #3885
Do you mind providing the config you're using to cause this?

Any change to `user_data` will cause the instance to recreate. My guess is that your `user_data` isn't changing for existing resources, but for some reason Terraform thinks so. I think this may be a bug outside of the OpenStack provider, but if you can provide a config, I can take a look and see if it's fixable or if there's a workaroun

[2015-11-13 04:41] apparentlymart commented on #1586
Having let this idea percolate a bit myself I think I've concluded that rather than integrating Packer into Terraform it makes more sense to reimagine Packer as a graph-oriented builder like Terraform, perhaps something like I described in #2789. I think Terraform's functionality is a superset of Packer's aside from some lacking provider support, and it will only become more comparable as the rest

[2015-11-13 06:37] premist commented on #3873
Thank you @lwander, I'll close this issue once PR is closed!

[2015-11-13 06:54] premist commented on #3875
Thank you @lwander, it sounds like a good idea! Since we're testing Terraform on our new staging environment, I'll try out your PR locally to see if it works well.

[2015-11-13 09:14] Fodoj commented on #3885
It behaves exactly the same way as described in this comment https://github.com/hashicorp/terraform/issues/2627#issuecomment-150900430

[2015-11-13 09:30] beddari commented on #2789
I saw your other update @apparentlymart ... just to muddle it a little bit more, we now got https://www.nomadproject.io/docs/jobspec/index.html

[2015-11-13 09:48] Fodoj commented on #3885
It is indeed a bug with terraform. I am trying to figure what it is exactly, but basically the problem is that after increasing count hash of a string is calculated not from the _result of rendered template_ but of a string like `"${element(..., count.index)}". And then the hash of this string is always the same for _all_ elements and changing it forces recreation.

[2015-11-13 10:20] Fodoj commented on #3885
Most likely related to https://github.com/hashicorp/terraform/issues/3864

[2015-11-13 10:22] Fodoj commented on #2627
The reason for this happening is this issue  https://github.com/hashicorp/terraform/issues/3864

[2015-11-13 10:40] bennycornelissen commented on #2627
meanwhile I've worked around it by using autoscaling groups instead of instances with counts. This does introduce some new issues regarding `create_before_destroy` and dependency cycles when destroying, but those I can quite easily work around.

[2015-11-13 10:49] Fodoj commented on #2627
@bennycornelissen sounds like a viable option till this bug is fixed. But

1. It's a workaround only for AWS
2. Then your infrastructure templates don't represent your infrastructure any longer

[2015-11-13 12:06] Fodoj commented on #3662
I believe it's the same bug as this one https://github.com/hashicorp/terraform/issues/3885

[2015-11-13 13:46] ckelner opened #3907 "resourceAwsRoute53RecordCreate issue: terraform-provider-aws: panic: runtime error: invalid memory address or nil pointer dereference"
We have a route53 record resource as such:
[code]

Elsewhere we have:
[code]

We then set the variable elsewhere for other environments (we are juggling 4-5 applications across 3 AWS accounts, across 5 regions) but the variable `var.zone_id` was missing from configuration for this specific environment.  This produced the crash seen below.  Expected error/output I would expect is for terraform to r

[2015-11-13 14:36] petitbon commented on #3675
+1

[2015-11-13 14:42] hutchic commented on #3879
That's definitely a possibility

[2015-11-13 15:13] catsby commented on #3665
Hey all – as @stack72 mentioned, it's _recommended_ you omit the `name` parameter in your Launch Configuration, and use `create_before_destroy` for best use here.
In the next release of Terraform, you'll be able to supply a `name_prefix`, to prefix the auto generated name, but for now simply omit the name and Terraform will generate a new one for you.

I'm going to close this for now, please let m

[2015-11-13 15:13] #3665 closed

[2015-11-13 15:17] catsby commented on #3664
Hello all – are you using the `create_before_destroy` lifecycle hook by chance? There is a caveat with using that hook at the moment, regarding it's dependencies. In short, if a resource using `create_before_destroy` depends on another resource, then that dependency must also have `create_before_destroy` specified.

- https://terraform.io/docs/configuration/resources.html

If you have a sample con

[2015-11-13 15:22] pforman commented on #3880
This should be _mostly_ addressed by #2890, which was merged for 0.6.7.

The reason you're seeing that behavior is that prior to #2890 the list was implemented as a hashed set, so the order was dependent on the hash values of the items.

I fixed that so well-defined cases (like yours) will work properly.  Terraform doesn't currently allow for validating the contents of a list parameter, so if you

[2015-11-13 15:41] Fodoj commented on #3885
After debugging and trying to find the source of the issue for 5 hours I can confirm that destruction of all instances happens exactly same reasons as here https://github.com/hashicorp/terraform/issues/3662 and here https://github.com/hashicorp/terraform/issues/2627#issuecomment-150900430.

Seems like there is a fatal bug in the implementation of `èlement()` function that leads to it being not int

[2015-11-13 15:51] blairham commented on #3880
This looks greate @pforman, thanks!

[2015-11-13 15:51] #3880 closed

[2015-11-13 16:04] catsby commented on #3301
Hey @silvamerica – I believe this is fixed in https://github.com/hashicorp/terraform/pull/3898

Note that `ssl_certificate_id` is only valid for HTTPS, or SSL protocols. Otherwise, AWS will discard the contents of `ssl_certificate_id`.

[2015-11-13 16:17] catsby commented on #3246
Hey all – sorry for the silence here. I believe this issue was fixed in #3574 , so I'm going to close this. If you feel this is incorrect please let me know and if possible supply an example config that demonstrates this, so that I can dig in further. Thanks!

[2015-11-13 16:17] #3246 closed

[2015-11-13 16:37] catsby commented on #3208
Thanks @ckelner – your findings are correct. `d.Get` will return the default value for an attribute, here `0`. Zero is not a valid expiration period and should simply be omitted. I've patched this in #3908 if you're interested.

Thanks!

[2015-11-13 16:49] catsby commented on #2500
Hello – I'm going to go ahead and close this issue. If you're still hitting this error, please let us know and I can dig in more. If possible, please include a config that demonstrates the issue as well (minus any secrets).

Thanks!

[2015-11-13 16:49] #2500 closed

[2015-11-13 16:50] nathanielks commented on #2500
yeah, sorry I haven't reported back catsby! :+1:

[2015-11-13 17:03] ckelner commented on #3208
Thanks! Looks good :+1: appreciate you taking care of this

[2015-11-13 17:06] catsby commented on #2912
Hey @zts – are you still hitting this issue? I'm attempting to use your configuration but I can't reproduce the issue you've shown (I get a separate issue regarding `cidr` output of the remote state, but not `diffs do not match`).

Can you let us know if you're still hitting this?

[2015-11-13 17:54] garrettheel opened #3911 "provider/aws: Why is throughput part of a DynamoDB table GSI ID?"
Changing the throughput on a GSI is a common operation in DynamoDB and including the read/write throughput in the ID makes the plan output misleading.

Here's an example of the output after changing _only_ the throughput.

[code]

Is there a good reason for the ID to be calculated this way or is it something we can look at changing?

Thanks

[2015-11-13 18:00] patrickheeney commented on #3580
It looks like this is implemented in #3748 . Is there anything stopping a merge?

[2015-11-13 18:17] ckelner commented on #3907
Sorry I should have included the crash.log here (had to change extension to .txt for GitHub to like it.
[crash.log.txt](https://github.com/hashicorp/terraform/files/34217/crash.log.txt)

[2015-11-13 18:39] milsonian commented on #57
:thumbsup:

[2015-11-13 18:39] sparkprime commented on #3875
If you make the IGM depend on the template, then changing the template should recreate the IGM (and all its instances).  If this doesn't happen this is a core bug.

Of course that's not the behavior you want :)

What I would actually do is create an IGM for each version of your software -- then you can independently scale them / tear them down and implement whatever phased rollout policy you want.

[2015-11-13 18:44] lwander commented on #3875
No, `instance_template` isn't marked as `ForceNew`, so the IGM shouldn't restart on a change to the template.

[2015-11-13 19:08] sparkprime commented on #3875
Let's navel-gaze...  In an ideal would one could imagine a declarative deployment agent being able to do 2 things:

1) You update the template, it shuts everything down and restarts it.  This is appropriate for local development, staging environment, automated integration tests, load tests, etc.

2) You update the template, you get a rolling update of your fleet that ensures that automatically rol

[2015-11-13 19:28] jen20 commented on #3852
After applying the fix in #3912, my previous test gives the (expected) output:

With resource:
[code]

After commenting out the resource:

[code]

[2015-11-13 20:08] lwander commented on #3875
For anyone reading this in the future:

@sparkprime and I talked this out and agreed to keep `update_strategy` for the following reasons:

1. A policy of `"RESTART"` is the same as modifying `instance_template` designated as `ForceNew`, but with the added benefit that it does not recreate the entire IGM. This allows a user to implement @sparkprime's rollout approach detailed above.

2. A policy of

[2015-11-13 20:39] #3852 closed

[2015-11-13 20:53] jen20 commented on #1230
I just verified that this is fixed on the `master` branch, so I'm going to close this issue for now.

[2015-11-13 20:53] #1230 closed

[2015-11-13 20:59] catsby commented on #2500
@nathanielks no worries, thanks for following up :smile:

[2015-11-13 21:08] jen20 commented on #2909
Hi @gtmtech! I've just reproduced this on the `master` branch using the following files:

main.tf:

[code]

foo.yaml:
[code]

Applying then gives:

[code]

I'll investigate further and try to get this fixed.

[2015-11-13 21:22] radeksimko commented on #1230
@jen20 agreed, I just tested out my original example and it is fixed.

[2015-11-13 21:26] radeksimko commented on #1899
This is already fixed in `master` (verified by running an example code from https://github.com/hashicorp/terraform/issues/1230 ).

[2015-11-13 21:26] #1899 closed

[2015-11-13 21:45] rgs1 opened #3915 "what's the proper way of dealing with an instance marked for retirement?"
In AWS (surely there's something similar in other environments) an instance can be marked for retirement:

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-retirement.html

From a quick git grep in the repo and search in the issues tracker, I couldn't see any logic to handle these instances. Has any thought been put into what Terraform should provide to deal with these instances (or may

[2015-11-13 21:45] radeksimko commented on #3868
See #3914

[2015-11-13 21:46] davedash commented on #3868
Nice!  Thanks

[2015-11-13 21:48] radeksimko commented on #3879
Interesting part of the crash log:

[code]

I'm going to close this as this exact bug was fixed a few days ago via https://github.com/hashicorp/terraform/pull/3829 and will be part of the next release.

Thank you for the report @hutchic though.

[2015-11-13 21:48] #3879 closed

[2015-11-13 21:50] singron opened #3916 "error removing iam_instance_profile from launch configuration"
I have a launch configuration like this

[code]

I accidentally added the iam_instance_profile and wanted to remove it from the launch configuration. At first, I just removed that whole line. But this gave the error:

[code]

It's true that the launch configuration doesn't support update, but I have create_before_destroy set, so it should delete it and create a new one with the desired properties.

[2015-11-13 22:24] lwander commented on #2190
@sparkprime this has been merged - #3883

[2015-11-13 22:28] radeksimko commented on #2694
Reproduced, I think that marking all fields in `aws_ecs_task_definition` as `ForceNew: true` would probably fix this.

After all, we're effectively creating a new resource with a new ID anyway, so it won't make much difference IMO.
I will have a look into it.

[2015-11-13 22:38] radeksimko commented on #2694
btw. I think the reason why `aws_ecs_service` doesn't get updated in the same run is because it has no idea whether ARN of the referenced `aws_ecs_task_definition` will be re-computed during `plan`. It is afaik only re-computed when the whole resource gets re-created.

When it actually happens - during `apply`, it's too late and terraform is just executing expected plan which won't change at that

[2015-11-13 22:43] clstokes opened #3918 ""No ingress rules ..." warning causes Terraform to fail unnecessarily."
I'm not able to reproduce this reliably, but occasionally on initial `terraform apply` runs or subsequent ones that are performing updates, Terraform will exit with the error below. A subsequent run completes successfully.

[code]
_Full log output of an update failing is [here](https://gist.github.com/clstokes/07ad4202a3fa6c627df4)._

I believe this is an internal warning in Terraform; not an actu

[2015-11-13 22:44] clstokes commented on #3918
I found https://github.com/hashicorp/terraform/issues/3691 which mentions this warning, but believe the focus of it is the _DependencyViolation_ error as opposed to this warning, so wanted to document this separately.

[2015-11-13 22:48] carl-youngblood opened #3919 "AWS credentials are validated when only provisioning DynamoDB local."
If I'm only creating tables in DynamoDB local for tests the AWS provider should not require valid credentials.

[2015-11-13 22:51] carl-youngblood opened #3920 "AWS credentials are validated when only provisioning DynamoDB local."
If I'm only creating tables in DynamoDB local for tests the AWS provider should not require valid credentials.

provider.tf
[code]

table.tf
[code]

Error
[code]

[2015-11-13 22:52] #3919 closed

[2015-11-13 22:53] sparkprime commented on #2190
Thanks for the initial work, @dcarley

[2015-11-13 22:53] #2190 closed

[2015-11-13 23:16] apparentlymart commented on #3915
This is a very good question.

So far when I've encountered this problem I've just manually run `terraform taint` on the resource in question and had Terraform rebuild it, but I've only done this so far for instances thwt were ephemeral anyway, and so they were designed to be replaced often.

One way to deal with this issue, at least for EBS-based instances, is to restart the instance so that it m

[2015-11-13 23:22] catsby commented on #3154
Hey @caarlos0 – sorry for the trouble here, I see in your SO post that you've reported this is fixed in `master`, can I close this?

[2015-11-13 23:25] kbxkb commented on #3568
@mitchellh @catsby @armon @phinze - Sorry to spam you, but I am assuming one or more among you have the power to assign this bug to me. I am actively working on this, and will have a fix that i can submit a pull request for soon. I have already made changes to the underlying azure-sdk-for-go code, and my changes were merged today (see https://github.com/Azure/azure-sdk-for-go/pull/234)

Thanks

[2015-11-14 03:13] #3788 closed

[2015-11-14 03:13] #3816 closed

[2015-11-14 03:17] jtopjian commented on #3885
@Fodoj Thanks so much for digging into this. It sounds like this is a bug with core, so I'm going to label it as such.

[2015-11-14 03:17] jtopjian commented on #3662
Similar to #3885, I'm going to label this as a bug with core.

[2015-11-14 03:19] jtopjian commented on #2671
@Fodoj any update on this one? Are you still hitting a bug?

[2015-11-14 04:12] jniesen commented on #2957
I have a related issue with instance and EBS volume. I think a solution to my problem my fix this as well. With version 0.6.3 when destroying it seems that the volume attachment is always destroyed before the instance.

[code]

I thought that I could get around this by having a systemd unit stop the process using the mounted ebs volume and then unmount whenever the instance receives a halt or shut

[2015-11-14 04:29] #3154 closed

[2015-11-14 04:29] caarlos0 commented on #3154
@catsby yes, sorry, I forgot to close this...

[2015-11-14 04:39] j0nesin commented on #2957
If you use 'depends_on' in the instance definition to depend on the ebs volume, then the destroy sequence will destroy the instance before trying to destroy the volume.

[2015-11-14 04:58] jniesen commented on #2957
The error comes when destroying the volume_attachment which would cause the volume to just detach. I mis-spoke in my last paragraph. I can't make the instance depend on the attachment explicitly because the attachment already depends on the instance implicitly because I'm referencing the instances id.

[2015-11-14 06:55] matt-deboer opened #3921 "builtin vsphere provider missing concept of "vm_folder""
It seems that the vsphere provider does not account for the vsphere concept of vm folder, and thus, all machines are created at the root level.

Attempts to include path information in the name (similarly to how the template is described) results in vms created at the root level with slashes in the name.

This is occurring on esxi 5.5, terraform 0.6.6

On a side note, it appears that the alternate

[2015-11-14 08:33] nickithewatt opened #3923 "Ability to use AMI name as well as ID for AWS instances"
When creating a new instance within AWS, the AMI referenced (via the `ami` field is specifically to the ID to be used i.e.
[code]

We are currently uploading / creating our own custom AMIs, which have been given more human friendly logical names. It would be nice to be able to reference this AMI by name instead of just the ID, perhaps an option to have an `ami_name` as an alternative to the curren

[2015-11-14 08:46] Fodoj commented on #2671
Yes and no :) I do still have this bug, but it's rather a bug with openstack version I use and I solved it by specifying some dependencies manually in terraform 

Best regards,
Kirill Shirinkin

On Sat, Nov 14, 2015 at 4:19 AM, Joe Topjian <notifications@github.com>
wrote:

[2015-11-14 09:15] kumarsarath588 commented on #3664
Hi,

Removing the following configuration from all of my aws launch configurations resolved the error.

lifecycle {
    create_before_destroy = true
}
Thank you.

[2015-11-14 09:16] #3664 closed

[2015-11-14 09:35] #3856 closed

[2015-11-14 10:14] farridav commented on #3412
thanks @catsby! once this fix is in I can remove my `sleep 10` :+1:

[2015-11-14 10:44] radeksimko commented on #2694
See #3924 which is fixing this (verified by a simple acceptance test included in the PR).

[2015-11-14 11:22] Fodoj commented on #3885
@jtopjian so any tips on where to search for bug? I have some hours this weekend to work on this.

[2015-11-14 13:14] ketzacoatl commented on #3555
To confirm if this was a regression, and to see if I could work around this bug, I downloaded an older version of Terraform to run some tests:

[code]

I can confirm this appears to be a regression - `ignore_changes` is definitely working better in `v0.6.5`. Interestingly, it is not working 100% as expected, here is the plan output using v0.6.5:

[code]

What is interesting?
* The above lists no r

[2015-11-14 15:26] Fodoj commented on #3885
Fastests way to reproduce the bug:

[code]

Increasing count by 1 leads to `template_file.another_test_file.0` destruction.

[2015-11-14 17:14] dmaze commented on #3214
It looks like, if `associate_public_ip_address = true`, then the subnet information gets lost.

https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_instance.go#L989 builds up the generic instance options.  If you are putting the instance into a non-default VPC, and associatePublicIPAddress is true, then the subnet information gets attached to the network interface

[2015-11-14 17:58] philp opened #3925 "as_db_instance does not honour vpc_security_group_ids"
Part of my configuration looks something like this:

[code]

The first time I run this, the `vpc_security_group_ids` property is not honoured. Instead my default security group is used. If I run `terraform apply` a second time (without making any changes) then the property *does* get applied.

[2015-11-14 19:48] avinci commented on #3837
attached https://github.com/avinci/terraform-repro

I realized this is happening to even simple security groups. I am not sure what I might be doing wrong here for the NATSG. It keeps re doing SG. This is happening for ELBs with certs too and of course its happening for IAM certs and I did not want to upload my certs to repro that.

[2015-11-14 19:53] jtopjian commented on #2343
I'm going to close this issue as it should have been fixed with #3712. However, if that's incorrect please feel free to re-open or open a new issue. As well, if you run into any other issues similar to this, please let me know!

[2015-11-14 19:53] #2343 closed

[2015-11-14 19:55] jtopjian commented on #2671
OK, sounds good. Similar to #2343, I'm going to close this as #3712 should have fixed this. However, if that's incorrect, please re-open this issue or open a new issue. As well, if there are any other ordering/timing issues with the other resources, please let me know.

[2015-11-14 19:55] #2671 closed

[2015-11-14 19:56] jtopjian commented on #3885
@Fodoj Off of the top of my head, I have no idea how to approach this one. If I have some time, I'll venture outside of the OpenStack provider in Terraform. At the moment, it's uncharted territory for me :smile:

[2015-11-14 19:59] jtopjian commented on #3601
@vlerenc Do you have a configuration off-hand that can easily produce this issue?

[2015-11-14 19:59] pikeas commented on #2998
+1, I'm setting up some critical instances (eg, Kubernetes master) that should have ENIs in case they ever fall over. My options are a) create instance with auto ENI and manually turn off the ENI's "Delete on terminate" attribute, or b) attach a second ENI to every instance, leaving the original AMI dangling per @choosy and preventing the use of an additional ENI.

It would be much easier if I cou

[2015-11-14 20:05] avinci commented on #3837
I think the main issue is the fact that the diff code is not working as expected between whats on AWS and whats in the tfstate.

[2015-11-14 20:09] avinci commented on #3837
I did another quick test. I made a change directly onto AWS SG and ran `terraform refresh`. I am assuming that should have updated my tfstate with AWS state. It did not.

Based on this, I am doing something really wrong or the state comparison has some issues.

[2015-11-14 21:17] jtopjian commented on #2908
Hey guys, #3927 should fix this. If you're able to test it, I'd appreciate any feedback :smile:

[2015-11-14 21:46] trevorgray commented on #1178
+1

[2015-11-14 23:06] jmahowald commented on #1768
+1

[2015-11-14 23:16] Fodoj commented on #3885
Seems to be the same issue https://github.com/hashicorp/terraform/issues/3449

[2015-11-14 23:24] Fodoj commented on #3885
Rolling this https://github.com/hashicorp/terraform/pull/2788 back solves the issue, no more total destruction of previous resources. @mitchellh any idea for better fix that won't lead to this bug?

[2015-11-15 00:57] AlexanderEkdahl commented on #3716
Concerning the purge part.

How about a resource for a Fastly object similar to aws_s3_bucket_object where the necessary purge calls are made when the content of said object have changed? Even if the file data is not uploaded through terraform explicit dependencies could be used to signal new versions.

[2015-11-15 01:50] Deserved commented on #57
+1 This one and nested array/maps are most missing features

[2015-11-15 02:57] avinci commented on #3837
I think I figured out the issue here about SGs getting updated. Not sure if its a bug or not...but for sure its weird as plan does not throw any error but keeps repeating the ops

does not work
[code]

works
[code]

I will play with the certs now and see whats the issue and update a sample

[2015-11-15 03:36] avinci commented on #3837
I added the repro for certificate issue now and the repo has been updated minus the keys

I ran terraform apply 3 times
*Upon first run, I think the order or sleep is not enough for us to reference the cert in LB i guess.
* The second time I run, I get diff does not match and it errors
* 3rd run, It deleted the cert and recreated it and I got the resource not found error

``
aws_security_group.nat

[2015-11-15 03:46] avinci commented on #3837
I think I figured out the bug. Our certs are chained and hence have the certificate authority information too. I think the diff is not working for the length of the string.

Our certs structure is
- our certificate
- class1 provider cert
- certificate provider cert

they are chained together and the length of the file must be causing issues.

[2015-11-15 06:06] vlerenc commented on #3601
Just define two security groups and let them refer to each other. The cycle will be detected and Terraform will abort.

The way this problem is resolved in the AWS provider is to decouple security groups from the actual security rules (that refer to the security groups). I.e. the two groups can be/are created first (no cycle/no problem), then the rules are created (that refer to the groups; again

[2015-11-15 07:12] jtopjian commented on #3601
Yup, easy enough. I was just being lazy and wondering if you had something readily available. I've created a generic configuration below for reference:

[code]

[2015-11-15 17:04] kc11381 commented on #3720
Hi chrislovecnm,

Thank you for the reply. You guessed it correct. User was having permission issues on VC itself.

[2015-11-15 17:14] #3720 closed

[2015-11-15 19:37] ringods commented on #1298
Here are pending pull requests for:

* MySQL provider: #3122
* PostgreSQL provider: #3653

Using these providers, you will be able to create additional databases.

[2015-11-15 21:11] jszwedko commented on #3852
:clap: thank you @jen20 !

[2015-11-15 22:14] pikeas opened #3931 "Provider not inherited by nested module call"
I have a main.tf which calls into Module1.

Module1's main calls into Module2 (which is in a sub-directory, but I don't think that matters).

If Module1 defines at least one resource, everything is fine. If Module1 defines no resources, because it consists only of variables, outputs, and calls to other modules, those modules will fail to inherit provider settings.

Specifically, my `terraform plan

[2015-11-15 22:33] apparentlymart commented on #1298
Seconding what @ringods said. I'm currently using the MySQL provider from #3122 in production (using [our custom Terraform distro](https://github.com/saymedia/terraform-plus)) for this exact use-case: for each of our environments we make a RDS instance to contain the various databases for our low-volume internal admin tools, like Rundeck and Grafana.

So we use `aws_rds_instance` without a databas

[2015-11-15 23:39] saswatp opened #3932 "Output in resource file is broken"
I have a module "aws-dc" that sources a resource file. Resource file has a output like the following :

output "control_ips" {
  value = "${join(\",\", aws_instance.mi-control-nodes.*.private_ip)}"
}

root module output refers the output of the module aws-dc

output "control_ips" {
  value = "${module.aws-dc.control_ips}"
}

When I do terraform plan or apply , I get the following error

Error down

[2015-11-16 01:22] ketzacoatl commented on #3555
v0.6.4 seemed to have the same issue. v0.6.3 is where things got interesting again:

* Testing the plan with `ignore_changes` results in Terraform wanting to change my resource (EBS), but not destroy:
[code]
* When I try to apply the plan, TF actually tries to destroy my resource, rather than change it (I have termination protection enabled, so AWS/TF failed that attempt)
* TF is still not listeni

[2015-11-16 06:20] tkak commented on #3624
I'm sorry for the late response. I tried to list potential Terraform resources for VMware vSphere. But, I'm not sure how much demand is there in the resources except for `vsphere_virtual_machine`. Because I think the resources are used by the VMware vSphere admins, not users. @mkuzmin and @chrislovecnm, what do you think?

* `vsphere_virtual_machine` - represents a running VM
  - Created via `Depl

[2015-11-16 10:14] stack72 commented on #3923
@nickithewatt what would you expect to be able to input for this? Would it be the ami_name always or would you want to be able to select the ami based on tag?

If it is *always* the ami_name then this can be done easily

[2015-11-16 10:41] nickithewatt commented on #3923
@stack72 For our use case we would simply need to specify the ami_name, no need for tags at this stage :)

[2015-11-16 11:03] stack72 commented on #3923
Thanks @nickithewatt - I am just working on a PR for this now :)

[2015-11-16 11:52] musicformellons commented on #443
+1 interested!!

[2015-11-16 12:53] Fodoj commented on #3864
@ColinHebert this PR introduced this bug https://github.com/hashicorp/terraform/pull/2788 If you roll it back and recompile terraform then everything should be fine

[2015-11-16 12:53] Fodoj commented on #3662
@hartzell  this PR introduced this bug #2788 If you roll it back and recompile terraform then everything should be fine

[2015-11-16 12:54] Fodoj commented on #2627
@bennycornelissen another workaround would be to rollback this PR #2788 If you roll it back and recompile terraform then everything should be fine

[2015-11-16 13:12] bennycornelissen commented on #2627
@Fodoj what exactly did you mean by the second point? I'm not sure I quite understand. I've been testing the autoscaling groups for about a week now, and it works exactly the way I wanted. One thing that is worth noting, and that might be what you were getting at, is that whenever I update the launch configuration, it doesn't rebuild the instances already running in the ASG. In my specific use cas

[2015-11-16 13:52] Fodoj commented on #2627
@bennycornelissen well terraform is a tool to describe your infrastructure via templates. Your tempalte would say "1 instance"", but then autoscaling will create 9 more. And now your infrastructure template says "1" while in fact there are "10"of them. But that applies only if you are still using aws_instance resource. If not and if you are using only ASG resourcre in the template then I am wrong

[2015-11-16 14:26] VincentCasse commented on #443
OVH API allow now adding extra hardware using public cloud APIs : https://api.ovh.com/console/#/cloud/project#GET

Because OVH public cloud is based on Openstack, you can use provider "Openstack" in terraform to use OVH cloud before a better integration : https://www.terraform.io/docs/providers/openstack/index.html

[2015-11-16 14:41] bennycornelissen commented on #2627
I replaced the `aws_instance` resource with the `aws_autoscaling_group` and `aws_launch_configuration` resources

[2015-11-16 14:53] jen20 commented on #3932
Hi @saswatp! That output working with previous versions was an accident of the old HCL parser - with newer versions you need to remove the quoting on the `"` inside the interpolated string - so your output should read:

[code]

[2015-11-16 15:14] stack72 commented on #3923
@nickithewatt so the functionality I proposed in #3935 allows you to do as follows:

[code]

This will use the Describe-Images API to get the correct AMI Id for that image

[2015-11-16 15:31] #2694 closed

[2015-11-16 15:41] catsby commented on #3923
Hey all – the problem I see with this (and noted in #3935) is that without the ID in the configuration, Terraform won't know to make any changes to your infrastructure if the ID changes. Terraform will impose your configuration on your infrastructure; if the AMI name is still the same, no action regarding the ID will be taken; it will simply make note (store in state file) that the ID changed.

Do

[2015-11-16 16:23] mrfoobar1 commented on #3874
Would it be possible to get an additional flag when calling: terraform plan -destroy [ -keep-prevent-destroy ]

I have the same problem, I have a few EIP associated with some instances. I want to be able to destroy every but keep the EIP for obvious reasons like whitelisting but I get the same kind of problem. I understand what destroy is all about, but in some cases it would be nice getting a war

[2015-11-16 16:28] stack72 commented on #3923
So I have been giving this great thought and I am actually doing the same style of functionality you are asking for, but in a slightly different way:

in main.tf, I have the following:
[code]

In a nutshell, this script goes to AWS and grabs the latest of my AMI's (using tags) and get's it's AMI. It produces an output similar to as follows:

[code]

Then, in my instance declaration, I do as follow

[2015-11-16 16:42] jen20 commented on #3931
Hi @pikeas! Thanks for reporting this. I'm trying to reproduce this according to your description, but currently can't. Do you have a set of configuration which demonstrates the issue?

The configuration I'm testing with is:

main.tf:
[code]

inner/main.tf:
[code]

This behaves as I'd expect, creating the VPC in the `us-east-1` region. Removing the region from the inner module yields the same resu

[2015-11-16 16:44] catsby commented on #3792
Hey @AlJaMa sorry for the silence here. This looks like a thing we can add support for without too much trouble, I just haven't had a chance to focus on it. We'll try to get to it soon, or hopefully a community member can pick it up.

Thanks for bringing it to our attention!

[2015-11-16 16:44] jen20 commented on #3931
Seems related to #2832

[2015-11-16 16:50] clausasbjorn commented on #3212
@aznashwan Awesome :) Sorry for the late response. I will start catching up this week!

[2015-11-16 16:52] jen20 commented on #2832
@ryanuber, just tried to reproduce this against 5194eb4e2, with the following configuration:

#### main.tf
[code]

#### foo/main.tf
[code]

#### foo/bar/main.tf
[code]

I'm getting mixed results, similarly to yours. Destroy in particular seems to want credentials each time. Definitely seems like there's an issue somewhere here, I'll investigate further.

[2015-11-16 16:54] ruudk commented on #2776
I have the same issue

[2015-11-16 17:27] catsby commented on #3762
I have a patch for this, once I get a test confirming I'll open a PR

[2015-11-16 18:20] jwmarshall commented on #3762
:+1:

[2015-11-16 19:15] jen20 commented on #3931
@pikeas - I'm going to close this issue in favour of tracking it on #2832 since we have a repro there. I'll try to remember to update this one when it gets fixed, but it might be worth you watching #2832 as well.

[2015-11-16 19:15] #3931 closed

[2015-11-16 21:02] catsby commented on #3762
Fix is in https://github.com/hashicorp/terraform/pull/3940 , if you can, take it for a spin, otherwise it is under review. I was able to get this to work:

[code]

Where the subnet and Sg are configured to all SSH

[2015-11-16 21:14] musicformellons commented on #443
cool! would it work to combine ovh dedicated servers with ovh public cloud servers using hashicorp tooling?

[2015-11-16 21:21] CorbanR opened #3941 "Changing root volume size does not register as a change."
OS: Ubuntu 15.10
Terraform v0.6.6

I create an instance with the following configuration

[code]

The above configuration created an instance with an 8gig root volume.
After the instance was created I updated the configuration to

[code]

I then ran `terraform plan` and `terraform apply` and terraform did NOT register any changes. I would have expected terraform to require a new instance. Is this

[2015-11-16 21:28] nickithewatt commented on #3923
@catsby @stack72 For this use case, we never intend to actually change the name of the AMI, rather just want to use it as an alias to refer to the underlying AMI. If for whatever reason the name of the AMI lands up referring to a different AMI ID, it would be reasonable to expect the associated resource to register a change and need to be rebuilt. However as you say, as the name itself has not cha

[2015-11-16 21:32] VincentCasse commented on #443
OVH dedicated servers are not "openstack compliant". There is an API to manage it, but the API is really different. So, that's not possible to use Openstack provider to manager dedicated servers.

But, I could be a good idea to integrate it into a specific OVH provider!

[2015-11-16 21:35] nickithewatt commented on #3923
Also just wanted to say thanks @stack72 for jumping on this so soon whatever the outcome!

[2015-11-16 21:46] #3868 closed

[2015-11-16 22:10] cmacmurray opened #3942 "Terraform Launch Configuration Will only Launch in Default VPC"
I have specified my vpc_zone_identifier's in my auto scaling group, however when I try to run terraform apply, it will fail with the error that the SG specified for the scaling group is not in the default VPC.

[2015-11-16 22:34] pearkes opened #3944 "Encourage use of version instead of build for Atlas Artifacts"
Currently we [document build number](https://terraform.io/docs/providers/atlas/r/artifact.html#build) as a specifier alongside version number for accessing artifacts in Atlas.

Because Atlas acts as an artifact registry, but may not always be building said artifacts, it's generally less sound to rely on the build number as an identifier. It has UIs for viewing versions and version numbers, and enf

[2015-11-16 22:59] catsby commented on #3907
Patched in #3945, thanks for writing in!

[2015-11-17 00:05] chrislovecnm commented on #3720
@kc11381 glad we could help!

[2015-11-17 00:32] jen20 commented on #3942
Hi @cmacmurray. Thanks for opening this, it should be straightforward enough to reproduce. Can you confirm whether your launch configuration target the default VPC? Alternatively do you have a minimal configuration that you could post showing this?

[2015-11-17 03:39] pikeas commented on #2832
There's something else at play here as well. I removed my "middle" module to work around this bug, and this is happening:

With Terraform 0.6.6:
[code]

Above succeeds if I remove the `aws_route` resource. But since I need it, I switch to GH master, the latest Terraform v0.6.7-dev (24ee56326d1b7eccda046524fe7129302d6556fd):
[code]

It looks like no top-level variables are being passed down - outpu

[2015-11-17 04:02] br0ch0n commented on #3370
Yaa, that was the idea.  I mean, it's not a big deal because I should be using an external var for such things anyway, but still there might be some cases where this could be useful.

[2015-11-17 05:38] saswatp commented on #3932
Thanks , removing the "\" works. Looks to be a non-issue then .

[2015-11-17 05:38] #3932 closed

[2015-11-17 09:28] rradecki commented on #3070
+1
I have the same issue. Is there any ETA for this?

[2015-11-17 10:10] kvz opened #3949 "`terraform version` hangs when piping to `head`"
This is on version 0.6.3 when typing

[code]

Nothing happens after this:

<img width="526" alt="screen shot 2015-11-17 at 11 07 05" src="https://cloud.githubusercontent.com/assets/26752/11208445/7cb6c2b6-8d1b-11e5-8262-b62628c84075.png">

When using without `head` it says:

[code]

After upgrading to 0.6.6, it no longer hangs. That's good, but the hang might be triggered by the update warning, an

[2015-11-17 10:14] artworklv commented on #3115
Same issue here.
Also, It does not destroy properly aws_elasticache_cluster if aws_elasticache_subnet_group is defined before the cluster. The error is
`aws_elasticache_subnet_group.redis: CacheSubnetGroupInUse: Cache subnet group foobar is currently in use by a cache cluster.`

[2015-11-17 13:08] jen20 commented on #3949
Hi @kvz! Thanks for opening this. I can reproduce it on Mac OS X using Terraform 0.6.3. I've marked it down as a "core" bug, and will investigate it at some point in the future. I suspect you are right about the update check causing this.

[2015-11-17 14:07] jen20 commented on #298
Hi @svanharmelen! I think most of the behaviour described here has already made its way into Terraform via the `helper/schema` package, and perhaps this issue can be closed off. Specifically:

1. You can specify `ConflictsWith` on schema elements in order to indicate that only one of a group of options should be set.

2. I'm not 100% certain I follow on this, but if I understand you correctly, it'

[2015-11-17 15:10] #3907 closed

[2015-11-17 15:45] catsby commented on #759
Hey @scaissie – sorry to say that there isn't much we can do here. The aws_instance resource doesn't know that it's IP has change until we refresh, and we don't know that the EIP would cause this change in the instance. If you need the `public_ip` on first run, you should reference that from the `eip` itself, since it's an exported value. Sorry :disappointed:

[2015-11-17 15:45] #759 closed

[2015-11-17 15:52] catsby commented on #1192
Hey all – I'm going to close this issue. The `override` feature of the configuration is meant behave as we're seeing here; something specified in a configuration is replaced with the contents of an override file;  that part is overwritten. I think the use of the term _merged_ in the documentation may be the source of confusion. It is clear however that nothing is appended.

Sorry for the trouble h

[2015-11-17 15:52] #1192 closed

[2015-11-17 16:01] catsby commented on #1270
Hey all – this kind of multi-step process is a thing we would like to add, but in all honesty would require some significant work done on the core of Terraform first, and is a thing that is pretty far off. In light of that I'm going to close this issue for now. Please let me know if you have other questions.

[2015-11-17 16:01] #1270 closed

[2015-11-17 16:01] svanharmelen commented on #298
@jen20 indeed it sort of covers the use cases, through there are still use cases that could/should be supported to make things easier to use.

But I'm ok with closing this one and opening a PR if (if ever) I get to adding the things I'm thinking of :wink:

Cheers!

[2015-11-17 16:01] #298 closed

[2015-11-17 16:23] catsby commented on #1725
Hey all – I'm unable to reproduce this issue at this time, so I'm going to close this. I used the following configuration and had no issue:

[code]

If you feel I'm missing something, please modify my example config to demonstrate the issue and I'll take another look.

Thanks!

[2015-11-17 16:23] #1725 closed

[2015-11-17 16:33] phinze commented on #99
Going to close this for inactivity. This scenario could probably be addressed by splitting out `config_vars` somehow into additional top-level resources. We'd welcome PRs in this direction, but going to close this for now.

[2015-11-17 16:33] #99 closed

[2015-11-17 16:36] phinze commented on #113
AFAICT this is still a valid feature request. I'm interpreting this as a lifecycle parameter that ensures any diff is equivalent to a `ForceNew` change. Perhaps the lifecycle parameter could be be called `immutable = true`?

[2015-11-17 16:39] phinze commented on #270
This is still a nice idea, and we'd welcome PRs to this effect, but judging by the inactivity here it's unlikely the core team is going to picking this up any time soon, so I'm going to close this for now. :+1:

[2015-11-17 16:39] #270 closed

[2015-11-17 16:39] phinze commented on #391
I'm fairly certain this bug has been long fixed. If anybody can provide steps to reproduce feel free to jump in here and we can reopen.

[2015-11-17 16:39] #391 closed

[2015-11-17 16:41] phinze commented on #404
We have since shifted strategies here to allow provider variables to be stored in either `tfvars` or in env variables. Either of these strategies prevents prompting for credentials on every run. :+1:

[2015-11-17 16:41] #404 closed

[2015-11-17 16:42] phinze commented on #423
We'd happily review a PR w/ Aliyun support, but I'm going to close this issue for now since we have no plans to pick up this work internally.

[2015-11-17 16:42] #423 closed

[2015-11-17 16:45] phinze commented on #450
I'm working on a sweep through old issues. This still seems like a valid clean-up thing to do, but w/ no activity in over a year I'm going to close this for now. We'd welcome any PRs along these lines. :+1:

[2015-11-17 16:45] #450 closed

[2015-11-17 16:45] phinze commented on #459
Hey hey we landed this in #2807. :+1: :grinning:

[2015-11-17 16:45] #459 closed

[2015-11-17 16:49] phinze commented on #477
Hey folks - I'm making a sweep of old issues. We change up tags and ELB instance registration on a near-daily basis in our own environments, and we've seen no troubles in recent versions of Terraform.

If any of you are still experiencing issues, would you mind filing a fresh issue w/ repro steps? Thanks!

[2015-11-17 16:49] #477 closed

[2015-11-17 16:49] tadasv opened #3951 "terraform does not fail during plan step when template file is missing"
version 0.6.6

Example:

[code]

If filename does not exist, plan step will succeed, but apply will fail.

[2015-11-17 17:03] kc11381 opened #3952 "Cloning a vm using vsphere provider takes an hour"
Hi,

Cloning a vm using vsphere provider takes an hour or more.
Is it a known issue with the provider? Do we need to specify any parameters here?

[2015-11-17 17:17] catsby commented on #1815
Hey Friends – I'm doing a sweep of older issues and circled back here to see if I could reproduce this. I tried several times with the following config:

[code]

It creates 4 instances and 4 eips and tries to add them to a route 53 record, and after several plan->apply->destroy cycles I was unable to reproduce this issue.

If you have another config that demonstrates this I can take another look,

[2015-11-17 17:17] #1815 closed

[2015-11-17 17:26] catsby commented on #2151
Hey friends – Sorry for the silence here. I'm reviewing issues that haven't seen any update in a while and found this, and I'm happy to report that this issue has been resolved. I've created security groups and changed their attributes in the console and Terraform is detecting the change and offering to change them back as expected.

If you feel you're still hitting this on the latest Terraform (v

[2015-11-17 17:36] blakeblackshear opened #3953 "IAM Instance Profile with a path forces new resource"
We have created our IAM instance profiles with a path under `/system/`, and terraform seems to detect the first part of the path as the role name.

Our role arn is `arn:aws:iam::925719937106:role/system/ngd_ansible_controller`

After running `terraform apply`, `terraform plan` shows:

[code]

This doesn't seem to happen when it is set on a launch configuration.

[2015-11-17 17:40] blakeblackshear commented on #3953
Looks to be an assumption from this line: https://github.com/hashicorp/terraform/blob/3721b89010a4d8d39717fb3dd873480657fe29e2/builtin/providers/aws/resource_aws_instance.go#L1085

[2015-11-17 17:50] solarce commented on #459
sweeeeet

[2015-11-17 17:50] phinze commented on #1058
I'm doing a sweep of old issues without recent activity. This would be a welcome addition and we'd happily review any PR adding this feature. I took a quick look and unfortunately it's not as trivial as adding `Optional: true` to the field - it also needs to be added as a field to the API call.

For now I'm going to close this issue. Anybody who ends up here and is interested in picking up the wor

[2015-11-17 17:50] #1058 closed

[2015-11-17 17:51] phinze commented on #1055
Similarly to #1058, I'm going to close this to indicate that there are no active plans to pick this feature up. If anybody finds this issue and wants to give a PR a try we'd love to help out!

[2015-11-17 17:51] #1055 closed

[2015-11-17 18:02] phinze commented on #1879
Going to close this since the original issue was solved. Ideas on improved messaging are still welcome!

[2015-11-17 18:02] #1879 closed

[2015-11-17 18:45] bryanstephens commented on #3679
+1, now that #2157 fixed our issue with grabbing lists of private ips from ENIs this issue has been a pain for us with initializing our cluster for the first time as well.

[2015-11-17 18:53] phinze commented on #925
This is still worth implementing. Unfortunately `"name"` collides with a bunch of attributes on existing resources, so we'll need to come up with a non-colliding reference for this. Perhaps `tfname`?

 * `self.tfname` from within the config
 * `d.Get("tfname")` or `d.GetTFName()` from within a plugin?

Removing `thinking` since we're all leaning towards doing it, just need to figure out the detail

[2015-11-17 19:25] negronjl commented on #2979
I created a very basic maas provider for terraform here: https://github.com/negronjl/terraform-provider-maas
It doesn't cover all of the functionality of either MAAS or Terraform but, it is a start.

[2015-11-17 20:02] catsby commented on #3341
Hello all!
I apologize for the silence here.

First, thank you for the example repo that demonstrates this issue! That made looking into this 3x as fast and easy :smile:

AWS will not allow us to destroy the SG while an Instance is using it. The instance itself can have it's security group(s) updated without termination, if you're on a VPC. As noted, if you're running on Classic, then the instance

[2015-11-17 20:02] #3341 closed

[2015-11-17 20:41] catsby commented on #3328
Hey all – I explained in #3341 that in order to change a security group description/name or any attribute that recreates the security group, you need to use the `lifecycle` block with `create_before_destroy = true` if said Security Group is in use by an Instances.

[2015-11-17 20:41] #3328 closed

[2015-11-17 20:47] cbusbey opened #3954 "aws_db_security_group should allow spaces"
Terraform v0.6.6

The following

[code]

fails with:

This error handling follows the AWS docs. However, the above is a result of attempting to capture a valid db subnet group that was created manually in the console into terraform.   So it does appear that AWS does indeed support spaces in the name attribute.

Very similar to #2664

[2015-11-17 21:13] fnmunhoz commented on #1058
I missed this feature today. It would be great to have it in the future. Anyway, thanks :grinning:

[2015-11-17 21:20] catsby commented on #3295
Hello – I've been trying to reproduce this issue using the latest Terraform (v0.6.6) and have not been successful. I've used the below config:

[code]

If I remove the `group` and `group_membership`, each time I execute the plan the membership is destroyed first, then the group (as I would expect).

I'm going to close this for now. If you feel this is not correct or I'm not following what you're d

[2015-11-17 21:20] #3295 closed

[2015-11-17 21:22] catsby commented on #2623
I'm going to close this for now. It looks like the security groups in question need the `lifecycle` block added to prevent this kind of issue:

- https://terraform.io/docs/configuration/resources.html

Let me know if you have any other questions, or a configuration that otherwise reproduces this issue.

[2015-11-17 21:22] #2623 closed

[2015-11-17 21:26] catsby commented on #2556
Hey @nathanielks – sorry for the silence here.
This looks like an issue in the `aws` library we were using at that time.
Because it's been some time, we've moved to the officially supported version, and we've not seen other reports of this issue, I'm going to go ahead and close this for now.

If by chance you can still reproduce this, please let me know. Thanks!

[2015-11-17 21:26] #2556 closed

[2015-11-17 21:27] nathanielks commented on #2556
sounds great!

[2015-11-17 21:29] catsby commented on #2917
Hey @dlsniper – thanks for writing in here, I apologize for the silence.

Right now, there's no way for Terraform to do this. Each provider is ran in it's own process, and each resource doesn't know about the other resources that are in-flight. Each resource only knows values of things that are interpolated for it, and it gets them from Terraform when it's their turn to run. In order to accomplish

[2015-11-17 21:29] #2917 closed

[2015-11-17 22:00] catsby commented on #2858
Hey @dansteen – sorry for the silence here. I believe this issue is fixed.
Given this config:

[code]

I'm getting a record as I would expect it `dev.notexample.com`:

<img width="587" alt="screen shot 2015-11-17 at 3 59 38 pm" src="https://cloud.githubusercontent.com/assets/61721/11226230/473a61dc-8d44-11e5-8ac2-d2598433e864.png">

I'm going to go ahead and close this. If I'm misunderstanding som

[2015-11-17 22:00] #2858 closed

[2015-11-17 22:04] dansteen commented on #2858
Looks good. Thanks for all your work!

[2015-11-17 22:38] #3954 closed

[2015-11-18 00:55] chrislovecnm commented on #3952
Need more information from you to help diagnose.  What is your tf file?  Can you run the acceptance tests?

[2015-11-18 01:01] chrislovecnm opened #3957 "vSphere provider ipv6 support"
Two things need to be done.

* Update the documentation that ipv6 is not supported at this time.
* https://github.com/hashicorp/terraform/blob/master/builtin/providers/vsphere/resource_vsphere_virtual_machine.go#L384 needs to be updated with ipv6 support.

@tkak if you can point me in the right direction I have an environment up that can test it.  I am a bit lost in ipv6 and golang land :)

Outlin

[2015-11-18 03:19] #2908 closed

[2015-11-18 03:28] jtopjian opened #3958 "provider/openstack: Add Trove / DBaaS Support"
I recently noticed that Gophercloud added support for [Trove/DBaaS](http://docs.openstack.org/developer/trove/):

https://github.com/rackspace/gophercloud/tree/master/openstack/db/v1

It should be possible to create the relevant resources in Terraform.

[2015-11-18 03:52] TimAtLassian commented on #2879
Still getting this behaviour in v0.6.6

[2015-11-18 04:57] chrislovecnm commented on #3957
https://github.com/hashicorp/terraform/pull/3959 submitted to update docs, till this is fixed.

[2015-11-18 07:04] apparentlymart commented on #2979
Nice work @negronjl! I don't know MAAS at all but I think I understood that the way you'd use it is that you give it a catalog of all of your hardware ahead of time, and then `maas_instance` lets you find a machine that fits some criteria, boot it up, and allocate it to a particular task. Is that right?

If you'd like to submit this to be included in official Terraform releases you can feel free t

[2015-11-18 07:40] stolinzeev opened #3960 "Resource 'aws_spot_instance_request' does not have attribute 'public_dns'"
Having a trouble like https://github.com/hashicorp/terraform/issues/3154 but on terraform v0.6.6 and with EC2 (not VPC).

That's my code:

[code]

And Terraform responce:

[code]

[2015-11-18 08:21] apparentlymart commented on #925
@phinze seems weird to me to model it as a resource attribute when this thing is part of the fundamental model of a resource.

Your proposed `d.GetTFName()` seems like the nicest option to me, though looking over the implementation it seems like it'll require a tweak to the schema helper's resource interface since currently the `InstanceInfo` (where the name comes from) isn't passed down into the

[2015-11-18 09:24] boernd commented on #2671
Hi, fyi just tested with master and my issue during destroy is gone (openstack_networking_router_interface_v2.router-interface: Error deleting OpenStack Neutron Router Interface...).

Thx!

[2015-11-18 11:22] mstuparu commented on #2564
I just encountered something similar when I was trying to launch a instance with a 3 terabyte standard volume. No obvious error was thrown instance just got terminated, Then  i used volume_type = "gp2" which fixed it.

[2015-11-18 12:40] jandre commented on #3837
+1 I'm having the same issue with certs being deleted/re-created on re-run despite no change.  I'm loading the certs from a file.

[2015-11-18 12:40] cihatgenc commented on #1604
I'm using count to conditionally execute a resource:

    resource "cloudstack_secondary_ipaddress" "clustervip" {
    count= "${var.servers.instance_count * length(split(",",var.requiredzones)) * length(split(",",var.servers.hostname)) * var.alwayson}"
    virtual_machine = "${element(cloudstack_instance.servers.*.id, count.index)}"
    }

Where var.alwayson is just a variable with 0 or 1.

[2015-11-18 14:22] kbxkb commented on #3568
Update - this bug is fixed on my fork. Depends on some changes that needed to be made to azure-sdk-for-go. The last of such changes to azure-sdk-for-go is pending as a pull request here: https://github.com/Azure/azure-sdk-for-go/pull/238. Previous changes to azure-sdk-for-go have been accepted and merged in this pull request: https://github.com/Azure/azure-sdk-for-go/pull/234

Once azure-sdk-for-g

[2015-11-18 14:26] kbxkb commented on #3568
If anyone is interested to review the fix, it is contained to one file in terraform (resource_azure_instance.go), but it depends on some changes made to azure-sdk-for-go - they can view the changes here: https://github.com/hashicorp/terraform/compare/master...kbxkb:master

[2015-11-18 15:11] willejs commented on #3716
:+1: this would be epic

[2015-11-18 15:21] sherabi opened #3963 "Wish list"
Terraform is great, but lacks some great features that could be a cloudformation killer. It would make it more enterprise ready as well and more acceptable with everyone.

1. Nested maps.

2. Conditionals (if-then-else, for loops, while loops) - Would go a long ways in reducing HCL lines for multiple resources e.g. blue-green stack

3. Some sort name randomization function exposed by the HCL. e.g.

[2015-11-18 16:10] catsby opened #3964 "v0.6.7 Release Process"
v0.6.7 Release Process

cc @hashicorp/terraform-committers

We’re beginning the Release Process for Terraform v0.6.7. Part of this process is validating the `master` branch passes all of our current unit and acceptance tests. To better facilitate this, we’re temporarily suspending commit privilege for our team of core-committers. We’ll re-enable this as soon as the process concludes and v0.6.7 is

[2015-11-18 16:54] paulcdejean commented on #3341
Thanks catsby for the information on the workaround!

[2015-11-18 17:17] svanharmelen commented on #3964
@catsby  @phinze @jen20 I believe there is a bug in the new HCL related code... Hold on while I get you some more details...

[2015-11-18 17:24] pandrew opened #3966 "vsphere provider does not delete vm if machine is powered off"
Im trying to create a vm using the following information

[code]

using ESXI 6.0.0 2809111
terraform build: 0.6.7-dev 24ee56326d1b7eccda046524fe7129302d6556fd

The vm is created but does not powered on and upon deleting with terraform plan -destroy, terraform plan apply it is not being deleted. It fails by informing me that it cant be destroyed while being powered off and looking at the code it se

[2015-11-18 17:46] gmorpheme opened #3967 "terraform refresh of AES domain fails with RecordNotFoundException - stuck"
After having been experimenting with AES and terraform I've ended up in a situation where I can't plan, apply or destroy:

[code]

The resource doesn't exist in my account. It does exist in my tfstate:

[code]

I tainted it at some point trying to fix this. The problem originated during a brief network outage when an apply failed.

Suggestion of my colleague @BSick7 is that this is an exception th

[2015-11-18 17:52] svanharmelen commented on #3964
Yes, I can confirm there is a bug when you feed JSON configs to Terraform. You can test yourself by using the following config:

[code]

Which will result in this output:

![image](https://cloud.githubusercontent.com/assets/4171547/11248809/7850e428-8e23-11e5-8b11-c08955c7241c.png)

While if I run this (the HCL equivalent) it runs without any errors:

[code]

I need to go home now, but can try to

[2015-11-18 17:58] farridav opened #3968 "Feature request: support for Amazon Elastic Transcoder"
I would love to see support for [Amazon Elastic Transcoder](https://aws.amazon.com/elastictranscoder/)...

Specifically creating/editing pipelines and presets [API docs here](http://docs.aws.amazon.com/elastictranscoder/latest/developerguide/api-reference.html)

I'm not quite proficient enough (at all) with `go` to tackle this feature, but if there's more info/assistance i can give, please shout..

[2015-11-18 18:21] mitchellh commented on #3964
@svanharmelen Nice. Thanks for finding this. Let's turn this into a failing test (we can do it) and get it fixed prior to release.

[2015-11-18 18:21] mitchellh commented on #3964
@catsby Let's keep this open until we do the release! :)

[2015-11-18 18:39] baskaran-md opened #3969 "Terraform "aws_spot_instance_request" to support "block-duration-minutes""
Amazon introduced "block-duration-minutes" to block spot instance for specific time duration, for which the instances is guaranteed to be up. Terraform need to support this param.

Expected Param on terraform [aws_spot_instance_request](https://www.terraform.io/docs/providers/aws/r/spot_instance_request.html#spot_instance_id):
`block_duration_minutes` - Optional. It will take value in minutes for

[2015-11-18 19:52] baskaran-md commented on #3889
@salehsedighi-ck  - You can find `terraform-community-modules` for `aws_spot_instance_request` @ https://github.com/baskaran-md/tf_aws_spot_instance_request

[2015-11-18 19:58] antonbabenko commented on #3968
Please make sure that you put your name on spreadsheet mentioned in #28

[2015-11-18 20:01] salehsedighi-ck commented on #3889
thanks

[2015-11-18 20:01] #3889 closed

[2015-11-18 20:15] pll commented on #1604
@cihatgenc - What happens if you don't have any cloudstack_instance.servers ?  Doesn't this blow up?  I'd like to use similar binary logic to determine whether or not to create an aws_vpn_gateway, but can't figure out how that would work. I don't think it could.

[2015-11-18 20:36] steve-jansen commented on #3967
Not sure if this applies here... AWS ElasticSearch domains seem to need several minutes to commit changes.  Perhaps the last AWS API action to create the domain had not completed yet when you asked to destroy it?

[2015-11-18 20:43] roderickrandolph commented on #3963
:+1:

[2015-11-18 21:50] jantman opened #3972 "Add support for configuring Docker logging drivers"
Docker 1.6 introduced support for configurable [logging drivers](https://docs.docker.com/v1.8/reference/logging/overview/) that can take a container's STDOUT and STDERR and send them somewhere other than a file on disk - i.e. syslog, a GELF endpoint, fluentd, or journald. This can be configured per-container using the `--log-driver` and `--log-opt` options to `docker run`. This is a massive step f

[2015-11-18 22:19] pshima commented on #2832
For the provider level variables I have used a workaround to get this going for the time being.

I set the AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_DEFAULT_REGION environment variables and then run terraform and the provider specific vars get passed through.

Not a fix but a good workaround to date.

[2015-11-18 23:09] apparentlymart commented on #3963
Thanks for the suggestions! I think we have other issues open for many of these. Let's see:

1. Nested maps sounds like #2114

2. Conditionals are being discussed in #1604. If you have a particular use-case in mind it'd be great if you could share an example in that issue.

3. It sounds like what you're asking would be accomplished by #3563

4. This one I've not seen. In general all of the argumen

[2015-11-18 23:09] #3963 closed

[2015-11-18 23:12] chrislovecnm commented on #3957
@jen20 thanks

Docs are updated, at a min we need to test for ipv6 ip address and fail.

[2015-11-19 00:39] StFS opened #3974 "Generic EC2 provider"
Hi.

We have a private cloud solution deployed on our own hardware (https://qstack.com/) which provides an EC2 compatable RESTful API (not fully compatable with AWS but the main functions such as instance creation etc are implemented).

I know that there is the AWS provider but with other tools (such as chef-provisioning) the problem with those seems to be that there is no support for specifying a

[2015-11-19 00:46] conorgil commented on #1336
+1
Just ran into this same problem.

[2015-11-19 00:48] mschurenko opened #3975 "How to manage individual resources when using count"
I'm not sure if this should be an issue or not so excuse me if it's in the wrong place.

I am using the aws_iam_user resource to manage users like this:

[code]

The users are defined as a comma delimited string like this:

[code]

After I've run "terraform apply" and created the users I now want to remove user1. So I remove user1 from the string so it's like this:

[code]

When I run "terraform p

[2015-11-19 01:09] progre55 opened #3976 "Cannot create an Azure virtual network, missing location or affinity group"
Whenever I try to create a virtual network, I'm getting the following error:

[code]

Here is my code:

[code]

[2015-11-19 01:17] mschurenko commented on #3774
I have the same issue.

Here is my config:

[code]

I am getting this with version 0.6.4 and 0.6.6

[2015-11-19 04:12] erichmond commented on #3874
+1, I need something along these lines as well.

Would #3366 allow you to skip destroying a service, but modify it instead?  My specific use case is that I have a staging RDS instance I want to persist (never be destroyed), but I want the rest of my staging infrastructure to disappear.  As a side effect of the staging environment disappearing, I need to modify the security groups on the RDS instan

[2015-11-19 04:16] kevin-at-reflexion commented on #2098
Greetings @apparentlymart.

There definitely are two sort of three EMR use cases:

 1. Run some data-processing application once (`AutoTerminate` => true)
 2. Configure a Hadoop cluster running continuously (`AutoTerminate` => false)
 3. Resize an existing EMR Hadoop cluster

I think the second and third use cases are probably what people would like to be able to configure from Terraform.
A sort-o

[2015-11-19 04:27] erichmond commented on #3468
This doesn't directly answer your question, but we have adjusted the IAM of the terraform user so that it is unable to delete resources we never want deleted.

[2015-11-19 04:59] titotp commented on #1552
+1

[2015-11-19 05:03] varmaopenstack opened #3978 "Dynamic values for variables"
I am trying to derive the value of a variable through some logic written in a shell script.

I have a shell script that generates a random mac:

[code]

I want to set this value to a variable. So I can use it for a template file and also a local-exec operation. The only ways I know to generate the value of a variable is through interpolation and builtin functions. Is there a way I can plugin my lo

[2015-11-19 05:04] #3978 closed

[2015-11-19 05:05] uruddarraju opened #3979 "Dynamic values for variable"
I am trying to derive the value of a variable through some logic written in a shell script.

I have a shell script that generates a random mac:

[code]

I want to set this MAC value to a variable. So I can use it for a template file and also a local-exec operation. The only ways I know to generate the value of a variable is through interpolation and builtin functions. Is there a way I can plugin m

[2015-11-19 07:27] apparentlymart commented on #2098
@kevin-at-reflexion wow that is awesome, thanks! Feels much clearer now.

[2015-11-19 09:51] robertfirek opened #3980 "aws_elasticsearch_domain Advanced options are not applied properly"
When tried to apply the following advanced option on **aws_elasticsearch_domain**

[code]

it was not applied properly in amazon (**rest.action.multi.allow_explicit_index** option was set to **false**).

Changing this option doesn't change plan (I've changed true to false) and it is impossible to control options.

State file:

[code]

Terraform version:
v0.6.5

[2015-11-19 10:08] jen20 commented on #3979
Hi @uruddarraju! You can create a variable in Terraform HCL using this syntax:

[code]

Then, you can either set the variable in a file named `terraform.tfvars`, or on the command line via `terraform plan -var "my_custom_var=value"`. You can then interpolate this variable using the syntax `${var.my_custom_variable}`.

There is more information about this in the documentation for Terraform [here](h

[2015-11-19 10:56] uruddarraju commented on #3979
Hey @jen20. Thanks for reponding on the issue. I know the 2 ways of setting the values of a variable, but what if there is a variable that cannot be set and has to be computed. Please see my issue description. I want to set the value of a variable to the output of the shell script, how do i do that ?

[2015-11-19 11:02] farridav commented on #3968
done! thanks

[2015-11-19 11:32] farridav commented on #1552
I'm sure there is a genuine need for rolling updates to an ASG, so wont detract from this too much, but anyone reading this issue that is OK with blue/green deployment as opposed to rolling updates, I've done so successfully and cleanly by using Terraform built in functionality, as suggested [in this really useful post](https://groups.google.com/forum/#!msg/terraform-tool/7Gdhv1OAc80/iNQ93riiLwAJ)

[2015-11-19 11:52] BrunoBonacci commented on #1552
Hi @farridav,

Blue/Green deployments are a better solution for stateless services (such as: web servers, web services), but for stateful services (such as: Databases, SearchIndexes, Caches, Queues) it is often not possible or not advisable to do so.
Immagine a 10 nodes db cluster with 10TB of data, spinning up a complete new cluster will cause the full resync of the 10TB of data from the old clus

[2015-11-19 12:04] ColinHebert commented on #3864
@mitchellh Can you check the PR @Fodoj mentioned above, is reverting it the way forward?

[2015-11-19 12:25] radeksimko commented on #3980
I've got a hunch that this may be caused by the way we process the map for advanced_options:
https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/structure.go#L639

I'll try adding some extra logging and reproduce it.
Thanks for the report!

[2015-11-19 12:28] radeksimko commented on #3980
@robertfirek You can try specifying options as strings in the meantime:

[code]

[2015-11-19 12:32] robertfirek commented on #3980
@radeksimko I've tried this approach before I wrote this issue. It doesn't work.

[2015-11-19 12:50] cihatgenc commented on #1604
@pll - in the example resource above I'm adding an ip to a cloudstack instance. So yes, if there is no server it will fail. I did not use the resource aws_vpn_gateway myself, but it could work if you add a count to the resource aws_vpc

Just to express the idea (don't know if this actually works):

			variable "vpc_count" {
			    default = 1
			}

			variable "dovpn" {
			  description = "0 = No,

[2015-11-19 14:07] svanharmelen commented on #3964
@mitchellh @catsby I just fixed the problem, but need to go to a (nasty) dentist appointment right now. Will put in a PR when I get back (within a few hours that is)...

[2015-11-19 14:09] jen20 commented on #3964
@svanharmelen I just added tests reproducing the issue on this branch: https://github.com/hashicorp/terraform/tree/b-json-hcl

[2015-11-19 14:14] svanharmelen commented on #3964
@jen20 yeah just notice the commit coming in :+1: Good to have this test in so we can verify the PR with the fix in Terraform as well.

The root cause was actually in the new/updated HCL code, so my PR will be on the HCL repo (with it's own test in the PR). But still a good thing to cover this issue here as well!

Be back in a few...

[2015-11-19 14:30] aviflax opened #3981 "MalformedXML Error when deleting versioned S3 bucket with force_destroy"
As first reported in [this mailing list thread](https://groups.google.com/d/msgid/terraform-tool/CANExkS-jRtVgZU75N7SKX87ODWBOjFO8zVW3azpg6tmJErrPGA%40mail.gmail.com).

My bucket resource looks like this:
[code]

The bucket creates just fine and works just fine, and I can put objects into it and those objects are correctly versioned.

But when I try to destroy that bucket — when there are objects

[2015-11-19 14:51] titotp commented on #1552
@farridav as per the post https://groups.google.com/forum/#!msg/terraform-tool/7Gdhv1OAc80/iNQ93riiLwAJ

Everything seems to be working as expected
1 - Updating the ami creates new launch config
2 - Updates the autoscaling to new launch config name
However new machines are not launching automatically using the new LC/ASG created . What could be the issue here ?

[2015-11-19 15:19] jedineeper commented on #1552
@titotp check the scaling history tab on the ASG, should tell you why its unable to launch the instances.

[2015-11-19 15:25] titotp commented on #1552
I am not seeing any activity on the autoscaling group

[2015-11-19 15:47] pll commented on #1604
@cihatgenc - Interesting.  So, if I create the VPC with a count variable, and I only create 1, then I have a splat list where aws_vpc.main.0.id is the ID of the first VPC in a 1-element list of VPCs?  So, if I  do not want a VPN gateway attached, I set the count of that to effectively to 0 ( vpc_count =1 * gw_count = 0), then index into the list of VPCs.  But doesn't that result in assigning the V

[2015-11-19 16:29] clstokes opened #3982 "Final error output should indicate which resource failed."
In Terraform configurations more with more than a few resources, it can be hard to troubleshoot which resource failed in a sea of many other changes. Terraform will output the error message that occurred but it does not indicate which resource triggered the error. The resource ID should accompany the error message to help troubleshoot errors.
#### Example Configuration

[code]
#### Output

[code]

[2015-11-19 16:31] cihatgenc commented on #1604
@pll - No, it will not assign it to the 0th element.
When count = 0, TF will interpret it as "I have to do this resource 0 times", so will do nothing.
When the count = 1, TF will do the resource 1 time on the vpc_id in the 0th element of the list (hence the count.index).

[2015-11-19 16:41] svanharmelen commented on #3964
The PR to fix this is in: https://github.com/hashicorp/hcl/pull/61

[2015-11-19 16:43] carl-youngblood opened #3983 "Librato Provider"
Hello, I made a [Librato](https://www.librato.com/) provider for my team. What's the best way to contribute it back to the built in providers?

https://github.com/underarmour/terraform-provider-librato

[2015-11-19 16:58] clstokes commented on #3974
Go's _net/http_ library supports [HTTP_PROXY and HTTPS_PROXY](https://golang.org/pkg/net/http/#ProxyFromEnvironment) environment variables. I've used this to troubleshoot provider API requests before. You could potentially use this to redirect the requests?

[code]

[2015-11-19 17:01] jen20 commented on #3983
Hi @carl-youngblood! Thanks for this contribution. There is an open pull request here https://github.com/hashicorp/terraform/pull/3371 which contributes a built-in Librato provider which we were intending to merge after the release of 0.6.7. We'll check to ensure that the same range of features are supported.

[2015-11-19 17:16] carl-youngblood commented on #3983
Thanks!

[2015-11-19 17:21] pll commented on #1604
@cihatgenc - Ah, okay.  Very cool. Thanks for explaining this to me!

[2015-11-19 17:21] chrislovecnm commented on #3624
@tkak awesome! We also may want to look at the ability to use govmomi to exec commands on the vm's as well.

[2015-11-19 17:28] ninjaMog opened #3985 "Can't setup Route53 Failover DNS records - InvalidInput: Invalid Request"
Having trouble setting up failover DNS records via terraform, if I drop the health_check_id and failover fields, it all works fine.

I can setup the required DNS record manually with the same values.  In fact if I do, when I run a plan terraform recognises it exists and says there's no changes to make.

Unfortunately no useful output from terraform, either when running dist version (Terraform v0.6

[2015-11-19 17:28] Spicykoala commented on #3468
Thanks for the reply - that is the approach we've taken as well. In fact, even if terraform had an option, we'd likely keep it that way as an extra layer of protection. I just wanted to know if it was intended functionality.

[2015-11-19 17:38] ryanl-ee commented on #3855
[code]
I don't know what specific version of each I'm using, but it is all whatever is included in the 0.6.6 binary release (I did not compile Terraform).

[2015-11-19 18:19] conorgil commented on #591
Any update on the status of this issue? Renaming resources when trying to migrate to using modules is really causing lots of problems for my team.

[2015-11-19 18:28] StFS commented on #3974
weeeeell... using a proxy to redirect the requests is way too much of a hack for us. I think what I need is a dedicated EC2 provider that's independent of AWS (apart from it using the EC2 API of course). I guess no such thing exists and it probably isn't planned either.

[2015-11-19 20:28] mijit commented on #3624
Admittedly low priority, but the ability to set annotations on the VM in vsphere_virtual_machine would be nice. I have minimal Go-fu but a strong desire to learn; feel free to contact me if I can help.

[2015-11-19 20:45] artburkart commented on #2693
I have experienced identical behavior: https://github.com/hashicorp/terraform/issues/3243

[2015-11-19 21:05] chrislovecnm commented on #3855
I see the bug

https://github.com/hashicorp/terraform/blob/v0.6.6/builtin/providers/vsphere/resource_vsphere_virtual_machine.go#L425

Is not checking to see if we have an ip address.  We should by then but we cannot assume.

@ryanl-ee do you have a network in vsphere that is called "VM Network"?  That label must match a network name that is defined in vsphere.  It is defined here:

https://gist.gi

[2015-11-19 21:10] chrislovecnm commented on #3966
@tkak / @pietern can we destroy a powered off vm with govomi?  I can test when I have bandwidth.

@apparentlymart  this is as designed, and would be a new feature.  A feature that we should have eventually, but it is based on how the govomi api will react.

[2015-11-19 21:12] chrislovecnm commented on #3835
@jen20 this is a feature, do you have a feature label :smile:

[2015-11-19 21:13] chrislovecnm commented on #3593
@mkuzmin can we close this??

[2015-11-19 21:14] chrislovecnm commented on #3578
@catsby can we add enhancement label instead of bug?

[2015-11-19 21:16] chrislovecnm commented on #3534
@mkuzmin what version are you running?  Line numbers are getting messy

[2015-11-19 21:18] pietern commented on #3966
@chrislovecnm Yes, no problem. This must be something where it tries to power off first, which fails if it is already powered off. You have to check for this if you're using the bare govmomi API.

[2015-11-19 21:33] gtmtech commented on #3540
I guess... but its kind of against the adage "convention over configuration" and has the following disadvantages:

* all other projects seem to use a directory structure just fine (so expected)
* the learning curve is higher for writing module definitions rather than just having a directory structure
* more code lines (waste)
* more directories later = even more module declarations
* makes refacto

[2015-11-19 21:51] brendangibat commented on #3114
So I ran in to the same issue. I was using an s3 remote state and nothing seemed to help - at one point I had nothing left in my tf file at all, had my remote state deleted, and my local .terraform dir removed and still the error persisted. I do not know if it was caused by some temp cache but renaming the terraform directory so that there would be no s3 cache or local cache that could match up on

[2015-11-19 21:59] ryan0x44 commented on #1552
@farridav - the [link](https://gist.github.com/ryan0x44/18da672bb416046284ed) should be working now, sorry!

[2015-11-19 22:00] chrislovecnm commented on #3957
Here is design for the fix:

Current code:
    // string of ip address
    networkInterface["ip_address"] = v.IpAddress[0]
    m := net.CIDRMask(v.IpConfig.IpAddress[0].PrefixLength, 32)
    subnetMask := net.IPv4(m[0], m[1], m[2], m[3])
    networkInterface["subnet_mask"] = subnetMask.String()

design code:
    if v.IpAddress[0] != nil {
        networkInterface["ip_address"] = v.IpAddress[0]

[2015-11-19 22:12] NickLaMuro commented on #3072
I was struggling with this today, and found an alternative workaround to the bash script.  You could include in your module the provider with an interpolated region that then all of your resources within the module use.

As an example, here would be a module for an AWS VPC:

[code]

And then if you need to create a cross region vpc in each region, you could then do in your `main.tf`:

[code]

Migh

[2015-11-19 22:21] Tokynet commented on #2983
I just got hit with this...
Shouldn't the docs @ https://terraform.io/docs/provisioners/connection.html#agent
State that this needs to be declared one way or another as a default?

[2015-11-19 22:48] ryanl-ee commented on #3855
@chrislovecnm Thanks for the help! I have tried running "terraform apply" both with and without a preexisting NIC attached. When I have no NIC, I get the EOF error. When I do have a NIC, I get this error:
[code]

According to VMware, that error means the number of NICs in the customization spec don't match the existing number. It doesn't matter which template I use - the error seems to only depend

[2015-11-19 22:53] pikeas opened #3988 "JSON variables still broken"
Following up on https://github.com/hashicorp/terraform/issues/3964 (comment-locked) and https://github.com/hashicorp/hcl/pull/61, hopefully @svanharmelen or @catsby sees this.

The example on #3964 passes with Terraform compiled from master (after a `make updatedeps` to grab the latest HCL) @ 75d056c878b651931a85e3ad7e41a5d8ddc4583f. But add a variable to the mix and we're still broken:

[code]

[

[2015-11-19 23:20] JesperTerkelsen commented on #1178
+1

[2015-11-19 23:21] chrislovecnm commented on #3855
There is a bug that has been fixed that you are hitting :) Test drive master or don't have nics on your template.  You can have them in you tf file, just not your vm template ... It has been fixed

https://github.com/hashicorp/terraform/pull/3652

FYI ipv6 is not supported yet.

[2015-11-19 23:23] chrislovecnm commented on #3966
@pietern THANKS!  Yah this is the way it is coded, and it would be good to have feedback from @tkak on what he thinks

[2015-11-19 23:35] svanharmelen commented on #3988
@pikeas thanks for the report! Will have a closer look at it when behind a desk again...

[2015-11-19 23:35] chrislovecnm commented on #3624
@mijit help is ALWAYS appreciated!!!  Email is on the way

[2015-11-19 23:40] svanharmelen commented on #3964
Seems there is still an issue with the new HCL code and JSON, as reported by @pikeas:  https://github.com/hashicorp/terraform/issues/3988

Will have a look first thing tomorrow morning. We have some services talking (pretty complex) JSON to TF, so will run some additional tests with those tomorrow as well to make sure there are no other issues after fixing this new one.

[2015-11-19 23:44] phinze commented on #3964
Thanks for the heads up @svanharmelen. We'll make sure that gets addressed before release. :+1:

[2015-11-20 00:02] mitchellh commented on #3988
For whoever tackles this, let's make sure to add a test to the `config` package for this as well as HCL.

[2015-11-20 01:54] reppard opened #3989 "docker container resource bombs if container exists"
If I run 2 consecutive applies using the docker provider and image/container resources, the apply will fail because the container already exists.  I would think that terraform would treat this much the same as other resources stored in a statefile and run the apply successfully without applying any modifications.  Is this expected behavior?

[2015-11-20 02:04] clstokes commented on #3982
The error output includes the resource ID in some cases, but maybe not for provisioners? Or maybe only on a `refresh`?

[code]

[2015-11-20 02:27] clstokes opened #3990 "Terraform destroy does not handle 404 on Google Compute Instance"
If I create a Google Compute Instance with Terraform, then remove the instance via the Google Cloud console, a `terraform destroy` fails with a _no longer exists_ error (likely a 404) and won't continue. Other Terraform providers seem to handle this case by handling the 404 as a successful destroy and continuing on.

Tested with Terraform **v0.6.6**.

Terraform config:
[code]

Abridged Terraform o

[2015-11-20 10:22] ketzacoatl opened #3991 "Status report for Remote State Config"
While using Terraform remote state, I end up wanting to confirm the state/status of the remote config. A simple dump of the current config info and sync status would be so very helpful - I propose: `terraform remote status`

[2015-11-20 11:22] gtmtech commented on #2680
Any thoughts from the collaborators about this? Still having to do weird things to maintain our EIPs in the meantime

[2015-11-20 15:07] sherabi commented on #3243
Ok so after trying a lot here is the conclusion I have reached...
If you are using tokens do not rely on your tfvars file, instead export all the environment variables without quotes as such....

export AWS_ACCESS_KEY_ID=SOMETHING-WITHOUT-QUOTES
export AWS_SECRET_ACCESS_KEY=SOMETHING-ELSE-WITHOUT-QUOTES
export AWS_SESSION_TOKEN=LONG-TOKEN-WITHOUT-QUOTES

This seems to work on Macs and Linux with t

[2015-11-20 15:32] FergusNelson commented on #386
Another use case for this feature is to allow an unmount command to run before a aws_volume_attachment gets destroyed from a running instance.

[2015-11-20 16:45] svanharmelen commented on #3964
Have a fix, fixing up the PR as we speak...

[2015-11-20 17:02] svanharmelen commented on #3964
@phinze https://github.com/hashicorp/hcl/pull/64 fixes the issue raised in #3988

Unfortunately I don't have time today to do some brute force testing against master in order to see if we have missed more/other use cases with the new HCL code in combination with JSON configs.

I think it's still wise to first do this, but I leave that decision with you guys. I will do these tests Monday morning so

[2015-11-20 17:04] svanharmelen commented on #3988
@mitchellh @jen20 PR https://github.com/hashicorp/hcl/pull/64 fixes this issue. As with the other issue I added a test in the PR so from a HCL package point of view we're covered :wink:

[2015-11-20 17:10] artburkart opened #3995 "provider/aws: aws_vpc_peering_connection requires peer_owner_id"
I know the Terraform docs [say it's required](https://terraform.io/docs/providers/aws/r/vpc_peering.html#peer_owner_id), but the AWS docs say it is not because it [defaults to your AWS account id](http://docs.aws.amazon.com/cli/latest/reference/ec2/create-vpc-peering-connection.html#options). If I changed the code that forces it as required, would it work by default?

Of course, I know I can just

[2015-11-20 17:11] proffalken commented on #2098
+1 for this :)

[2015-11-20 17:12] phinze commented on #3964
Thanks @svanharmelen! Agreed on more JSON testing. I'll see what I can put together today, but we're likely looking at holding the release for Monday anyways, so you'll get your chance to do your thing as well. :grinning:

[2015-11-20 17:55] ryanl-ee commented on #3855
Just as an update, I'm trying to run master but can't get it to compile locally or using the vagrant box :) I'll keep trying.

[2015-11-20 18:27] svanharmelen commented on #3964
:+1:

[2015-11-20 18:33] apparentlymart opened #3998 "AWS OpsWorks acceptance tests not self-sufficient"
While doing pre-release testing, @catsby found that the tests added in #2162 won't work out of the box unless you've already used OpsWorks via the AWS console and have some default objects that the console creates.

#3997 added some additional instructions to get those default objects as a short-term workaround.

In the long run we should rewrite these tests to create the necessary roles and insta

[2015-11-20 18:42] phinze opened #3999 "provider/aws: Add top-level ELB Attachment resource"
Based on an ML discussion:

https://groups.google.com/d/msgid/terraform-tool/e9ef8081-db96-4329-9b62-adf8c0b40c81%40googlegroups.com

It seems like it might be worth splitting out instance <-> ELB attachments as their own resource, in the way that we've done in several other scenarios now.

The use case from the thread is the desire to be able to create an ELB w/ instances and to have provisioners

[2015-11-20 18:51] chrislovecnm commented on #3855
@ryanl-ee what version of go are you using?  What errors are you getting?

[2015-11-20 19:24] phinze commented on #2680
Still seems like a top level `aws_eip_association` is still worth doing from here. Updating title to reflect that more directly.

[2015-11-20 19:28] mberhault commented on #3999
@phinze: thanks for filing this, that would definitely solve my problem. From the way ELBs are configured, it should also be fairly straightforward as creation and instance-registration are different steps.

[2015-11-20 19:37] phinze commented on #3586
Picking this up!

[2015-11-20 19:59] sethp-jive opened #4001 "Interpolation escaping only rendered as expected inside template files"
With the following terraform config:

[code]

I would expect `terraform apply` to yield `${foo}`, but instead my output "foo" has the value `$${foo}`. Changing the output to use a single dollar sign fails with the expected "resource variables must be three parts: type.name.attr" error.

I've tried quite a few ways around, and it is definitely possible to escape "${" but not as easily as "$${":

[c

[2015-11-20 20:15] jen20 commented on #3988
Thanks @svanharmelen! Since hashicorp/hcl#64 is now merged I'll go ahead and close this issue.

[2015-11-20 20:15] #3988 closed

[2015-11-20 20:31] jen20 commented on #3083
Hi @pete0emerson! It looks like this is a duplicate of #3737, which was subsequently fixed in #3843. That fix is currently on the `master` branch and will be in the next point release, so I'll go ahead and close this issue for now - if I'm misunderstanding the report then please feel free to re-open it.

[2015-11-20 20:31] #3083 closed

[2015-11-20 20:35] jen20 commented on #2928
Hi, @wint00. Have you looked at using the `template_file` resource for this? You can use it like this:

[code]

I'll close this issue for now, feel free to reopen it if this suggestion doesn't solve your problem!

[2015-11-20 20:35] #2928 closed

[2015-11-20 20:36] jen20 commented on #3995
@artburkart You should just be able to change the `Required: true` to `Optional: true` in the schema, and update the documentation if you want to take a look at this. I'll mark this as a bug and someone will look in due course, but if you feel like taking it on then that's great!

[2015-11-20 20:44] jare19 opened #4004 "Generic Git Repository ( GitLab CE ) module update issue"
Now, this _could_ be a bug or it _could_ be a miss-use by me but I am leaning toward bug...
I use GitLab CE for my internal git repo and am having an issue running `terraform get -update` to update a downloaded module.
After I commit the change to git I run `terraform get -update` and it does not error and acts like it has updated the changes.  I then navigate to the `.terraform/modules/IDENTIFIER

[2015-11-20 20:49] #3208 closed

[2015-11-20 20:50] #3275 closed

[2015-11-20 20:50] #3301 closed

[2015-11-20 20:50] #3412 closed

[2015-11-20 20:51] catsby commented on #2499
#3898 was merged, so I'm going to close this.
Let me know if you're still seeing this on the master branch, otherwise the fix will rollout in the next release (should be next week)

[2015-11-20 20:51] #2499 closed

[2015-11-20 20:53] catsby commented on #3891
#3898 has been merged, but this may be a core thing. Re-labling for @phinze or @jen20 to take a dive

[2015-11-20 21:18] ryanl-ee commented on #3855
I was trying to follow the guide in the README.md (make dev doesn't exist as a target?) and I followed the one in BUILDING.md instead which worked.

I am now getting this error whether or not I have a NIC attached to the VM:
[code]

The VM properties are correctly modified (CPU and RAM) and it fails while customizing the VM before booting it.

[2015-11-20 21:26] chrislovecnm commented on #3855
What does the task say on the vm itself?  Can you do a debug log for me?

[2015-11-20 21:37] nathanielks commented on #2499
:+1:

[2015-11-20 22:42] catsby commented on #2463
Hey all – I'm going to close this issue for now, due to #3019 being merged and general inactivity. If you're still experience this, please let us know.

[2015-11-20 22:42] #2463 closed

[2015-11-20 22:48] xsmaster commented on #3792
Seems that Amazon just enabled this feature on 10/22/15

https://aws.amazon.com/about-aws/whats-new/2015/10/create-auto-scaling-launch-configurations-that-include-encrypted-ebs-volumes/

[2015-11-20 22:52] conorgil commented on #953
+1

[2015-11-21 03:46] phoolish opened #4007 "Can't reference module output in aws_iam_user count"
[code]

Returns:
[code]

If I set the count or use a local variable, it works without a problem.

Terraform v0.6.6

Thanks!

[2015-11-21 04:38] kbxkb commented on #3428
Update - this bug is now fixed on my fork (https://github.com/kbxkb/terraform) (see last two commits above). @rksinghal please feel free to test. You will need corresponding changes in azure-sdk-for-go to compile, see below.

Will submit pull request on master after this pull request on azure-sdk-for-go is accepted: https://github.com/Azure/azure-sdk-for-go/pull/238

[2015-11-21 08:02] aaronwaddell commented on #1178
+1

[2015-11-21 15:01] jen20 opened #4008 "Crash during Terraform Destroy with remote state on non-existent region"
[code]

[2015-11-21 18:11] artburkart commented on #3995
I'll see if I can take a look this weekend, thanks!

[2015-11-21 20:12] phoolish commented on #4007
Duplicates #1497

[2015-11-21 20:12] #4007 closed

[2015-11-21 20:25] mrwilby commented on #1497
Also just bumped into this when trying to modularize my VPC design. Would be useful to have this support

[2015-11-21 20:42] mrwilby commented on #1178
+1 hit the same thing

[2015-11-21 23:11] mdavis7771 commented on #1178
+1

[2015-11-22 00:03] chrislovecnm commented on #3721
@tkak what changes would need to take place?

@mijit thoughts?

[2015-11-22 00:08] chrislovecnm commented on #3624
A separate conversation with @mijit he mentioned:

* multiple data centers
* multiple VLANS/dSwitches

@mijit can you provide more details?

[2015-11-22 00:17] saswatp commented on #2301
I believe I am also hitting this issue while doing automation through bastion host. Here is the code snippet .

resource "aws_instance" "deployment-host-nodes" {
  ami = "${var.source_ami}"
  availability_zone = "${element(split(",",var.availability_zones),count.index)}"
  instance_type = "${var.deployment_host_type}"
  count = "${var.deployment_host_count}"
  #vpc_security_group_ids = ["${aws_sec

[2015-11-22 03:27] johnhamelink commented on #3341
@catsby Thanks for the information but it doesn't seem to work for me!

Without the lifecycle block:

[code]

And with the lifecycle block:

[code]

[2015-11-22 04:24] Joseph-R commented on #3675
+1.   Pretty critical for a gateway + lambda setup on some services.

[2015-11-22 05:06] mdavis7771 commented on #2445
I too am having this issue, using the stock atlas-examples/infrastructure project 01 with 0.6.6

@amotoohno, As a workaround, an ugly one, you can add the provider and region/access/secret into each main.tf of the module and it does work without using environment vars.

[2015-11-22 05:54] tkak commented on #3957
@chrislovecnm Thank you for investigation. That design code looks good to me.

Anyway, I'm thinking about that we sould change `subnet_mask` parameter to `prefix_length` in order to meet the specification of VMware vSphere API. Because `subnet_mask` paremeter is long to input in case of IPv6. What do you think of this idea?

[2015-11-22 07:53] chrislovecnm commented on #3957
@tkak that makes more sense to me frankly, and is less code.  Less code is always better :grinning:

Do we ever need to send the subnet mask, or does the api alway take the prefix length?

[2015-11-22 09:22] jen20 opened #4013 "Terraform refresh does not prompt for variables"
`terraform refresh` exhibits the same behaviour as #3737.

@phinze I think we should consider fixing this prior to 0.6.7 - it should be fairly simple. Any thoughts?

[2015-11-22 13:27] mrwilby commented on #3691
+1, also just hit this

[2015-11-22 15:08] mrwilby commented on #2100
+1 - the current behavior for policy attachments is not very conducive to reuse and modularization in complex projects for the reasons stated above - the attachment has to be handled once and managed by terraform entirely.

For our scenario, we wanted to use terraform to attach ECS Service Role and ECS Instance Role to various bits of infra. We were surprised that some non-terraform-managed infras

[2015-11-22 15:34] lvjp commented on #3999
I had the same problem when i want to run [my configuration](https://gist.github.com/lvjp/bf1ffc8a037f53cf90b1) with [Amazon recommenced rules](http://docs.aws.amazon.com/fr_fr/ElasticLoadBalancing/latest/DeveloperGuide/elb-security-groups.html#elb-vpc-instance-security-groups)

[2015-11-22 18:06] phinze commented on #4013
@jen20 sure - I assume the fix is similarly minimal. If that's the case - might as well! :+1:

[2015-11-22 18:53] packplusplus commented on #3691
@mrwilby I played with the latest master and it appears the be fixed. Not advocating you run master, just that the next release will probably fix this issue.

[2015-11-22 20:36] thegedge commented on #3975
Was just putting together an example and about to come in and create this same issue when I found this one :smile:

I'll provide the example I put together:
[code]
And the following shell session:
[code]
So all I'm doing is increasing the count and it wants to recreate the initial resource. What's somewhat surprising is that decreasing the count from 2 to 1 doesn't want to do the same (i.e., it wi

[2015-11-22 20:44] thegedge commented on #3786
I believe optional list variables is one of the main use cases for the `compact` function.

My five cents: option 1 seems to make terraform a little too opinionated. Who knows what plugins people may create that desire empty elements. My vote would be for option 2, but perhaps really call out the `compact` function being useful in this context. Also, https://github.com/hashicorp/terraform/issues/5

[2015-11-22 20:50] thegedge commented on #3979
This feels like a `template_file` resource, but instead capturing the output of a script. I could see two possibilities here: a new resource similar to `template_file` that spawns an external process and captures its output, or an interpolation function that does the same thing.

If the latter, seems like something that would make sense in core, but would love to see https://github.com/hashicorp/t

[2015-11-22 20:54] uruddarraju commented on #3979
@thegedge https://github.com/hashicorp/terraform/issues/2771 is the one that I am looking for. For now, I have worked around by creating a plugin. Thanks, I would follow #2771 and would close this for now.

Thanks again.

[2015-11-22 20:55] #3979 closed

[2015-11-22 21:18] artburkart commented on #3995
@jen20 - I switched the parameter for `resourceAwsVpcPeeringConnection` to `Optional: true` and I get this error message:

[code]

This error means it's a bug in the AWS Go SDK, right? I was going to attempt to create a `DefaultFunc` for the `resourceAwsVpcPeeringConnection`, but I wasn't sure it made sense, since the original author of the code probably only set `peer_owner_id` to required becaus