[2016-03-16 21:07] jaymecd commented on #2221
:+1:

[2016-03-16 21:39] phinze commented on #5663
Thanks for the report, @dansteen it does indeed look like the `-force` flag is not working as intended here!

The workaround in the meantime is to manually bump the serial number in your local state cache (`.terraform/terraform.tfstate`) to exceed the number held remotely. Then `terraform remote push` should succeed.

[2016-03-16 21:41] matthughes opened #5672 "hashicorp/hil panic when file() used without quotes"
Terraform was running fine; now crashes on every command.

[code]

[2016-03-16 21:41] dansteen commented on #5663
thanks!

[2016-03-16 21:43] matthughes commented on #5672
Apparently using file without quotes is what blew it up:

[code]

[2016-03-16 21:46] dansteen commented on #3076
So, I did a compare on what amazon thinks is the policy, and the policy that terraform is pushing, and I got the following:
[code]
and
[code]
Notice that the Resource elements are in the reverse order!  Once I adjusted the ordering I no longer have this issue.

I do wish we could have a more semantic compare though...

[2016-03-16 21:50] dansteen opened #5673 "aws_lambda_function requires s3_object_version on update but not on initial creation"
So, for the following config:

[code]

I have no problem doing an initial update of the lambda function, but on a subsequent update where the function changes I get the following error:

[code]

To resolve this I have to add in a line:

[code]

Then things work as expected.  As a note, there is no version on the object in S3, so this should not be required.

I'm on Terravorm v0.6.13

Thanks!
-Dan

[2016-03-16 22:01] phinze commented on #5672
Thanks for the report, @matthughes, and sorry for the confusing error condition here! We'll get this fixed up soon.

[2016-03-16 22:03] phinze commented on #5672
Minimal repro config:
[code]

[2016-03-16 22:07] radeksimko commented on #5673
I guess we could make `s3_object_version = "null"` by default in update calls if it's not defined.

FYI: There is no way to update the Lambda function if the bucket is not versioned, so it will always be using the same code until you either enable versioning on that bucket and start using `s3_object_version` or start using `filename` & `source_code_hash` or `taint` the whole resource.

I don't hav

[2016-03-16 22:07] dansteen opened #5674 "consul_keys show up as changed randomly"
Since v0.6.13, consul_keys that are set in my config show up as "modified" in my "terraform plan"s randomly.  I have not yet found a pattern as to when they will show up and when they won't.   Here is a config example:

[code]

This results in the following plan, but nothing has changed:

[code]

[2016-03-16 22:10] dansteen commented on #5673
thanks for the reply @radeksimko

In the config above, you will see that we define the s3_key as:
[code]

This uses a dynamic variable as the name of the jar file to push up to lambda.   This value changes based on the contents of consul, so we get our updates that way, rather than versioning the same file in s3.

Does that make sense?

[2016-03-16 22:13] radeksimko commented on #5673
I see, so you're versioning via S3 object key, that makes total sense - totally valid use case.

Thanks for the explanation!

[2016-03-16 22:14] phinze commented on #5674
Hi @dansteen - thanks for the report.

`consul_keys` did see some changes in v0.6.13 -> https://github.com/hashicorp/terraform/pull/5210

Is this plan you cited shown once after upgrading or are you getting repeated diffs?

[2016-03-16 22:27] phinze commented on #2424
Hi @nathanielks going to close this and assume it's all fixed up on your side. Feel free to open a fresh issue if there's a problem you can reproduce on the latest TF version! :+1:

[2016-03-16 22:27] #2424 closed

[2016-03-16 22:29] nathanielks commented on #2424
Sorry I never got to this! I haven't seen it since opening so :+1: whoop whoop!

[2016-03-16 22:43] dansteen opened #5677 "aws_sns_topic_subscription diffs didn't match during apply."
Got the following error when running an apply (this was for an update)

[code]

The config for this looks like this:

[code]

When I run "terraform apply" a second time everything works fine.  I see this whenever I update the aws_lambda_function being referenced as an endpoint.

v0.6.13

Thanks!

[2016-03-16 22:47] dansteen commented on #5674
It happens repeatedly, but it's not always the same keys.  Rather, I should say, that for each "apply" I do it's the same keys, but from one "apply" to the next, the keys that show up will be different.  It's also not always all the keys defined in a single "consul_key" set.   So, for example, if I have 5 keys set in a single consul_key set, it may show this for only one of them, or it may show th

[2016-03-16 23:09] jianhuawuchn commented on #5632
##################terraform configuration for setting up VPC#########################
provider "aws" {
  access_key = "${var.access_key}"
  secret_key = "${var.secret_key}"
  region = "${var.aws_region}"
}

// create VPC
resource "aws_vpc" "vml_vpc" {
  cidr_block = "10.65.65.0/24"
  instance_tenancy = "default"

  tags {
    Name = "VML_VPC"
  }
}

// create Internet Gateway
resource "aws_interne

[2016-03-16 23:11] dansteen opened #5678 "aws_lambda_function requires 2 runs to fully apply"
I have an aws_lambda_function, aws_lambda_permission, and aws_sns_topic_subscription all defined that reference each other.

[code]

On the first run of "plan" I get the following:

[code]

Then, once that is applied, and I run a second "plan" I get the following:

[code]

On the second "apply" I run into issue #5677 .  Then on the Third "apply" everything goes smoothly, and the update completes.

[2016-03-16 23:23] iceycake commented on #5648
Attempt to fix it

https://github.com/hashicorp/terraform/pull/5679

[2016-03-16 23:29] jianhuawuchn commented on #5632
strange, it seems working fine now. weird

[2016-03-16 23:30] ketzacoatl commented on #1439
Standard/best-practices for accessing private repos on git is (in my experience) done with SSH and pub/private keys, not HTTPS with username/passwords.

[2016-03-16 23:49] cloudynetwork commented on #1439
@ketzacoatl For other uses cases that is a reasonable way to access private repos. However we are having to work around this lack of abillity to authenticate securely via HTTPS by having external scripting download the private repos for us and then reference the modules locally...all a bit mess. I don't quite understand the resistance to being able to specify the credentials as a variable... Clear

[2016-03-17 00:29] daveadams commented on #4690
Unfortunately this "fix" broke our use case for this resource. We don't want to specify desired_capacity or max_size in our scheduled action. But thanks to the default of zero, we now get an error that desired_capacity cannot be less than min_size.

[2016-03-17 00:34] daveadams opened #5681 "aws_autoscaling_schedule defaults desired_capacity to zero with no way of specifying an empty value"
Thanks to #4690 we are no longer able to make use of aws_autoscaling_schedule resources. With a config like:

    resource "aws_autoscaling_schedule" "asg-scale-up" {
      autoscaling_group_name = "my-asg"
      scheduled_action_name  = "scale-up"
      min_size               = 15
      recurrence             = "0 11 * * mon,tue,wed,thu,fri"
    }

We get an error (via Terraform, from the AWS API

[2016-03-17 01:29] gladsonnyc commented on #3449
Hi, any progress on this issues? The workaround if fine for template_file but not for EBS volumes.  It doesn't make sense to overbuild storage as a workaround.  We need to be able to use count to build instances and attach EBS volumes.

[2016-03-17 02:34] joshuaspence opened #5682 "Appending a value to an array"
It seems to be tricky to append a value to an array. I thought that something like this should work:

[code]

But it seems to cause a parse error.

[2016-03-17 02:42] Gary-Armstrong commented on #5669
That does sound like what is happening here.  When I get a spare minute tomorrow, I'll see about rewinding through git commits and see if I accidentally committed a tfstate with wxtest tainted, just to confirm.

[2016-03-17 04:08] dhermans opened #5683 "'unknown variable accessed' processing template_file shell script which contains other variables"
Hi,

I have userdata scripts that I am processing via template_file and referencing in an AWS launch configuration - all good.

I have a slightly more complicated userdata that does some AWS discovery for self configuration, eg:
ID=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
AZ=$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)

then it tries to do so

[2016-03-17 04:10] bigkraig commented on #5483
+1, we locked ourselves out of our account with this

[2016-03-17 04:22] kbroughton opened #5684 "allow aws_spot_instance_request to default to aws_instance"
I know there has been a lot of discussion about conditionals, which is what I want.
But given what a major effort that is, i'm wondering if terraform could do something like ansible's 'omit' values for spot_price so that I could always use aws_spot_instance_request for creating instances, but if i specified
spot_price = omit

Then i'd get an on-demand instance.

This relates to
https://github.com/

[2016-03-17 04:27] kbroughton commented on #5684
sorry, i discovered further long threads about the back and forth and final decision for separate resource.  Maybe this would still be possible as a second resource that detects 0 for spot_price and then calls aws_instance.  But i'm too new to terraform to know if that is viable.  You may close this.

[2016-03-17 04:27] #5684 closed

[2016-03-17 04:54] dhermans commented on #5683
+1 to this it seems to be only some variables it complains about.
I didn't realize you could do '$$' so i fixed the first occurence (line 29 in the above example) eg:
and one other and it works.
if [ $${AZ} = 'ap-southeast-2a' ] ; then

So why don't ALL references to $variable inside the template require $$ substitution ?

Thanks!

[2016-03-17 07:24] madAndroid opened #5686 "aws_launch_configuration.lc: diffs didn't match during apply"
Hi,

We've got a problem when updating a module's security groups parameter; the module has a launch configuration component, and we're passing a comma separated list of security_group ids to the module.

The module implementation:

[code]

When a security group is replaced with a different one, the following error is shown when attempting to apply:

[code]

State is stored in S3, and accessed wit

[2016-03-17 07:34] partamonov opened #5687 "MySQL provider. Issue with cycle dependencies and graph (0.6.12, 0.6.14)"
[code]

This part of code causing issues. (see attched create.log)

And if I'm creating RDS instance first and as second run I'm creating DBs everything is fine, but destroy failing with

[code]

And once again commenting mysql databases part and apply did the trick for first run and second run can be with destroy flag

[create.txt](https://github.com/hashicorp/terraform/files/177415/create.txt)

[2016-03-17 07:35] radeksimko opened #5688 "provider/aws: KMS key may fail to enable key rotation"
Pasting from Travis [nightly job](https://travis-ci.org/hashicorp/terraform/jobs/116552314):

[code]

I'm pretty sure this test was passing before, so I assume it's intermittent and related to the eventually consistent nature of KMS.

[2016-03-17 07:39] radeksimko opened #5689 "provider/aws: S3 object kms_key_id should accept both ID & ARN"
Pasting from [nightly Travis job](https://travis-ci.org/hashicorp/terraform/jobs/116552323):

[code]

This should be fairly easy to fix - shouldn't require account ID since the API is giving us back the ARN.

[2016-03-17 08:49] robcoward commented on #1439
And how would you propose using ssh and pub/private keys to configure terraform to access a modules in a private github repo when running under Atlas ? Seriously, the only rational thing to do if running terraform through atlas, is to either allow variables to be used in module sources, or provide an alternative format for authenticating against private repos. You can't expect people to hard-code

[2016-03-17 09:00] anosulchik commented on #5658
Thanks for your reply, @phinze. To my opinion it would natural to make terraform to set default value the same as it does Amazon for ELB checks -- 300 sec. Just to prevent confusion that may case default value = 0 when this argument is not specified for ELB check in ASG.

[2016-03-17 09:32] menren opened #5690 "provider/GCE : instance group manager cannot have 0 instace at creation"
In some case I would like to creation a instance group manager with 0 instance in the beginning.
Even with `target_size = 0`, the instance group is created with 1 instance.

Is it an expected behaviour or a bogus ?

As a workaround I can rescale the target size to 0, but how do I create an instance group with 0 instance ?

[2016-03-17 09:48] MansM commented on #5362
0.6.13 has the same issue

[2016-03-17 09:57] chrisfu commented on #5436
+1. Terraform seems to want to destroy even when making even the most trivial of changes to a cluster... even when it comes to adding/removing CIDR from an associated security group.

[2016-03-17 10:24] andrey-iliyov commented on #953
+1

[2016-03-17 10:35] jeroenjacobs1205 opened #5691 "TerraForm forces EBS detach and re-attach for no reason"
Hi,

Let's say you have a TerraForm module like this:

[code]

Now we create a few instances:

[code]

count equals 3. When I apply, Everything works fine. However, I decided I needed more nodes, so I increased the count to 7.

When I do a "plan" I notice it tries to detach the volumes from the existing nodes, for no reason:

[code]

TerraForm should leave the existing nodes intact. Why is a detac

[2016-03-17 12:14] FransUrbo commented on #5657
Try to run it, then delete the ELB from the AWS Console, then run TF again and see if that changes things.

[2016-03-17 12:28] fromonesrc commented on #1439
We created an outside collaborator in github that we granted read only rights to the remote modules it needs. This seems to be the least horrible way we've found to do this which doesn't compromise security of our repos too much.

[2016-03-17 13:28] elisehuard opened #5692 "terraform remote config with s3"
Hi, thank you for all the good work.

I am at a loss as to how to use remote config with s3, which would be the easiest for us at the moment.
I'm using version 0.6.13 of terraform, and I have existing, quite complex infrastructure, with the state saved locally in terraform.tfstate

Then I try to switch to remote:

[code]

basically, whatever I do after having set up the remote config, it fails wit

[2016-03-17 13:36] catsby commented on #5415
Hey @jamescarr – it's normally an underlying AWS error, we had another issue with Retries recently that's since been patched. The latest v0.6.13 should have things sorted out!

Ref:

- https://github.com/hashicorp/terraform/pull/5460

[2016-03-17 13:36] #5415 closed

[2016-03-17 14:03] #5665 closed

[2016-03-17 14:04] catsby commented on #5665
Documented in #5693 , thanks! Unfortunately we can only document it, because the field isn't required unless `ebs_enabled` is true.

[2016-03-17 14:17] catsby opened #5694 "Need a "GetExists" or similar for determining if a key is set in a configuration"
For AWS AutoScaling groups, `max/min/desired` capacity can be `0`, so we added the code in https://github.com/hashicorp/terraform/pull/4693 to no longer use `GetOk` in checking these values, and instead just use `Get`.

https://github.com/hashicorp/terraform/issues/5681 reminds us that simply omitting `desired_capacity` should be allowed, too, since it's not actually required in the API.

We need

[2016-03-17 14:18] catsby commented on #5681
Hey @daveadams – thanks for opening this. I also opened https://github.com/hashicorp/terraform/issues/5694 to push this along, as we're in a bit of a tough spot here, needing to both omit and allow zero values.

[2016-03-17 14:26] stack72 commented on #5694
This ^^ :) Will be an awesome addition!

[2016-03-17 14:36] daveadams commented on #5681
Great. Yeah I figured it had something to do with that.

[2016-03-17 14:38] phinze commented on #5694
Definitely agreed that `func (d *ResourceData) IsSetInConfig(key string) bool` or something would be useful!

So the history here is that `GetOk` at once point _claimed_ to be able to tell whether a value existed in the state, but it turned out to be broken. So in #993 we "fixed the glitch" in part by changing up the semantics of `GetOk` such that `ok` meant "non-zero" instead of the claimed-but-b

[2016-03-17 14:42] phinze commented on #4936
Hi @Carles-Figuerola - I agree this is a bit confusing. It's due to some history around `GetOk` that I just [typed up over here](https://github.com/hashicorp/terraform/issues/5694#issuecomment-197907334).

We're going to solve this by introducing a proper concept for providers to check whether a given key is set in config or not, and #5694 is going to track that work. So I'll close this issue so w

[2016-03-17 14:42] #4936 closed

[2016-03-17 14:45] catsby commented on #5648
We'll resolve this in #5679, thanks!

[2016-03-17 14:45] #5648 closed

[2016-03-17 15:08] catsby commented on #5618
closing as dupe of 5438, thanks!

[2016-03-17 15:08] #5618 closed

[2016-03-17 15:11] catsby commented on #5438
Hey @alsonkemp I'm having trouble reproducing this on `master`. I started with this config:

[code]

The line referenced in your crash doesn't line up with master anymore, in v0.6.12 it's [this line][1], which as a `nil` guard before it...

Not to shift blame but I'm curious if the `terraforming` tool is mudding the water here... can you confirm for me that all the attributes referenced by that EN

[2016-03-17 15:11] catsby commented on #5618
Hey @gurrie one quick question though, do you have a sample config for this?

[2016-03-17 15:46] jen20 commented on #4836
Virtual Machine is now merged, which I believe brings us to resource parity with the ASM provider! :confetti_ball: :confetti_ball: :confetti_ball:

[2016-03-17 15:49] #4836 closed

[2016-03-17 15:54] tehmaspc commented on #5528
@jen20 - similar needs; thanks very much for the nice example! cheers!

[2016-03-17 16:18] coen-hyde commented on #5692
I don't know what is breaking here but I would check your state files to ensure the remote state is configured properly. There should be a section that looks like this:

[code]

[2016-03-17 16:47] nellshamrell commented on #1178
This would be tremendously useful!

[2016-03-17 17:18] vfabrizi commented on #4131
n

[2016-03-17 17:20] vfabrizi commented on #4131
I've got the same issue, and solved as cordoval did. The profile was not visible in the console, no matter the refresh or the logoff/logon I tried.

[2016-03-17 18:17] pizzaops commented on #5180
Heya @phinze! How are things going on this? Any thoughts on if or when there might be a fix?

At some point I need to learn Go so that I can contribute to this...

[2016-03-17 18:26] ketzacoatl commented on #1439
@robcoward, another option would have Atlas adding support for the use case as well.

[2016-03-17 19:43] bryanalves opened #5695 "Openstack/Rackspace: Can not retrieve per-network IPs when manually specified"
Terraform version: 0.6.13

I'm using the Openstack provider on Rackspace with the following resources:

[code]

[code]

As a little bit of background, the 2 explicit networks above are special networks in rackspace (0000... gives you a publicly routable IP, 1111... gives you a RFC1918 address for access to internal services).

When using the explicitly defined networks, access_ip_v4 is set to some

[2016-03-17 19:49] miguelaferreira commented on #5240
I'm seeing the same issue.

[2016-03-17 19:55] jtopjian commented on #5695
@bryanalves Ouch - sorry to hear you're running into this.

There was some work done to how IP addresses are detected and reported and that seems to have thrown off support in Rackspace. If this was working in a previous version, then there might still be some bugs in the change that was made.

One thing that might help is to see the output of both `terraform show` and `nova show <uuid>` for compa

[2016-03-17 19:57] jtopjian commented on #5380
@mewald1 just wanted to touch base on this. A new version of Terraform was released yesterday. Are you still seeing this problem with the new version?

[2016-03-17 19:58] jtopjian commented on #5451
I re-read the crash log and can confirm this bug was fixed in a previous version. I'm going to close this issue, but please feel free to re-open if you're still running into it.

[2016-03-17 19:58] #5451 closed

[2016-03-17 20:05] joshuaspence commented on #5435
+1

[2016-03-17 20:14] kocsismate opened #5696 "Aws_ecs_service resource example is incorrect"
Hey,

I found a small error in the docs of the [aws_ecs_service](https://www.terraform.io/docs/providers/aws/r/ecs_service.html) resource:

[code]

should be

[code]

instead.

I am sending a PR soon.

[2016-03-17 20:51] cloudynetwork commented on #1439
@fromonesrc However this still doesn't get around the need to actually pass a credential in. Whatever way we look at this, passing a credential (without having to hardcode it into the file) is a very basic and rather essential function.

Imagine if terraform didn't allow the passing of provider credentials such as AWS secret keys? It's logical to pass those ...so why is it not just as logical to b

[2016-03-17 21:03] fromonesrc commented on #1439
Yep. I'm providing a workaround, not defending the current design.

[2016-03-17 21:21] joshuaspence opened #5698 "Add "generated" tag to tfstate file"
We currently commit our `tfstate` file into our `git` repository. It would be beneficial to us if the `tfstate` file contained `{ "@generated": true }` because this would indicate to our linters and code review tool (Phabricator) that this file is generated and does not need to be linted/reviewed.

[2016-03-17 21:30] ErikEvenson commented on #1244
Being able to add a second interface is important for cases where you would like to have management commands arrive via a private network interface and other traffic on another network interface.  +1

[2016-03-17 22:21] byrnedo opened #5699 "AWS Remote exec script exits prematurely in v0.6.13, not it 0.6.12"
Using the consul example terraform module, it exits prematurely in the first script which is run:
[code]
The machine I'm provisioning is a consul node. The terraform module is basically the example one from the terraform project.

It began exiting after the `apt-get update` or `apt-get install`, hence the `/dev/null` and `|| true`, but then after adding the `sleep` command to the script it began e

[2016-03-17 22:35] dansteen commented on #5674
Ok.  So I figured out what is going on here.  Basically, I had the following in a module:
[code]

and the following not in a module:
[code]

What would happen is that it would alternately set the consul path "service/app/api/prod" to one value and then the next, so that values in consul would alternate with each run.  Not sure this is a bug at all, but this was definitely an odd result.

[2016-03-17 22:41] apparentlymart commented on #5674
Hi @dansteen,

Having conflicting settings in different bits of Terraform will generally have weird, undefined behavior. I'm sorry that it was hard to see what was going on here... we could potentially explore a feature that allows providers to identify and warn about conflicts in different resources but that is not something Terraform is able to do today.

Sorry for the trouble, but I'm glad you

[2016-03-17 22:41] #5674 closed

[2016-03-17 22:43] dansteen commented on #5674
not a problem. Thanks!

[2016-03-17 22:46] abosley commented on #5699
+1
My  remote-exec script command exits the first bash script prematurely.  Second script if present will run correctly.  It appears to be exiting after my check for cloud init being complete is finished.

timeout 180 /bin/bash -c \
  'until stat /var/lib/cloud/instance/boot-finished 2>/dev/null; do echo waiting ...; sleep 1; done'

The  output from this is shown, then returns 0.  I have more code

[2016-03-17 23:22] harlow commented on #1893
@phinze was looking at the docs and doesn't look like `count` is a documented attribute of `template_file`.

https://www.terraform.io/docs/providers/template/r/file.html

Has something changed? With the following code I get an error when adding `count`

[code]

[2016-03-17 23:50] joshuaspence opened #5700 "Support ELB policies"
I am using an ELB to forward traffic without doing SSL termination. As such, I need to be able to enable "proxy protocol" but Terraform can't manage this at the moment. See http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/enable-proxy-protocol.html for more information.

[2016-03-17 23:52] joshuaspence commented on #5700
Oops, just saw `proxy_protocol_policy`.

[2016-03-17 23:52] #5700 closed

[2016-03-18 01:02] jbruettcva commented on #4399
@stack72 there have been multiple production releases since you mentioned you expected this to be released.  considering multi-az support is a core tenant of RDS and this is a long supported function from the API can you provide an update as to when it's expected for this to be released or what problems were found with it that it hasn't been released yet?

[2016-03-18 01:33] rajinders opened #5701 "Powershell provision hangs randomly"
For the past few months I have been erratic behavior while creating windows AWS EBS AMi's.
Sometimes they work and sometimes they fail.
They fail in the a different powershell scripts.

  "provisioners": [
  {
      "type": "powershell",
      "scripts": [
        "{{user `scripts_dir`}}/install_web_server.ps1",
        "{{user `scripts_dir`}}/install_windows_updates.ps1"
      ]
    },

install_w

[2016-03-18 01:48] iceycake opened #5702 "Required target_id param in aws_cloudwatch_event_target"
The target_id looks like an arbitrary id to guarantee the unique of the event rule target.  Should it be a computed schema instead of a required schema?

[2016-03-18 03:17] #5696 closed

[2016-03-18 03:50] rajinders commented on #5701
This issue had to do with Packer. I mistakenly logged it here.

[2016-03-18 03:50] #5701 closed

[2016-03-18 05:30] JoeOrtiz opened #5703 "consul remote ssl_verify_client TLS?"
Curious, is there a way to present your client certificate plus key to do proper TLS verification with consul, if you have it strictly to verify the client via TLS?

[2016-03-18 06:10] radeksimko commented on #5702
Hi @iceycake

`TargetId`/`target_id` is quite important part of the resource, see https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_cloudwatch_event_target.go#L177-L196

I don't think there is any way we can compute/generate this - correct me if I'm wrong.

[2016-03-18 06:52] avdhoot commented on #4836
thanks @stack72 for all effort

[2016-03-18 06:52] dtx commented on #3362
Shouldn't this be closed? Looks like the solution was posted.

[2016-03-18 07:08] iceycake commented on #5702
May be it is just me or the documentation.  What's does the target_id do?  I can't find it in AWS documentation.  In the go code, I see id = rule + "-" + target_id

[2016-03-18 08:31] ToruMakabe opened #5704 "Azure: Too many requests"
Do you have any plan to implement retry or exponential back off logic? Sometimes I got an error with HTTP status code 429 due to exceeding the API rate limitation of Azure.

Error applying plan:

1 error(s) occurred:

* azurerm_virtual_network.vnet1: autorest:DoErrorUnlessStatusCode 429 PUT https://management.azure.com/subscriptions/my_subscription_id/resourceGroups/mygroup/providers/Microsoft.Net

[2016-03-18 08:46] madAndroid commented on #4311
Awesome :) been waiting on this one for some time now .. thanks!!

[2016-03-18 08:54] Surgo commented on #2661
+1

[2016-03-18 09:09] jeroenjacobs1205 commented on #5692
Did you upload the state file manually before executing the remote config command? Because you shouldn't do that. During the configuration of remote config, terraform will do the initial push.

[2016-03-18 09:11] hoihrig opened #5705 "Creating resource aws_vpc_endpoint requires routingTableId"
Creating resource aws_vpc_endpoint seems to require a RoutingTableID despite documentation claiming otherwise

[code]

[2016-03-18 10:19] elisehuard commented on #5692
@jeroenjacobs1205 no I didn't , I only used aws cli to compare the state terraform put on s3 later.

[2016-03-18 10:51] timothykimball commented on #5134
Having this problem as well w/ v0.6.12

Only occurs when attempting to deleting infrastructure deployed with an older copy of terraform.

[2016-03-18 11:52] soulrebel opened #5706 "EC2 instance recreated every time"
I have a setup (quite simple I think) that includes an EC2 instance with:
2 EBS (root and another, that are stateless, deleted on termination)
1 attached EBS (data, declared independently)
1 attached Elastic IP (not sure if relevant)

The data EBS and Elastic IP are the important assets, so they are set independently and protected.

Calling apply twice results in this:

[code]

Here is the relevan

[2016-03-18 12:01] pmvilaca opened #5707 "aws_redshift_security_group forces new resource with an update to the SG"
If we add or remove an ingress rule to a aws_redshift_security_group resource, it forces a new resource. Apparently, there is no need for that because we can add/remove rules to a security group through the console.

[code]

[2016-03-18 12:44] lwander commented on #3362
I was hoping to hear from @timfallmk if it was working before closing this, but I guess it's been long enough.

[2016-03-18 12:44] #3362 closed

[2016-03-18 13:42] gozer commented on #4311
Turns out this is also affecting aws_route's route {} blocks in the same way:
[code]

[2016-03-18 13:54] richardbowden opened #5708 "remote state - destroy - does not have attribute"
I am getting errors when performing a destroy action. Plan and Apply works fine.

This is using atlas as the remote state store.

Structure:

├── main.tf
├── modules
│   ├── bastion
│   │   ├── bastion.tf
│   │   └── variables.tf
│   └── vpc
│       ├── outputs.tf
│       ├── subnets.tf
│       ├── variables.tf
│       └── vpc.tf
└── vars.tfvars

I have a similar structure for launching instances

[2016-03-18 14:13] stack72 commented on #4399
My apologies for not getting back to this sooner. Between having a fulltime job, being a conference speaker and working ont eh Terraform AzureRM provider, this slipped through my radar. I will get back to addressing the points @phinze made on code review for #4401

[2016-03-18 14:15] stack72 commented on #5625
@ledor473 thanks so much for letting me know. Sorry i wasn't in touch earlier, I have been travelling!

[2016-03-18 14:17] allanlang opened #5709 "google_compute_instance vs google_compute_instance_template disk attributes vary"
To specify local SSD disk in `google_compute_instance` we use:

[code]

but in `google_compute_instance_template` the equivalent block would be:

[code]

It would enhance usability if these were consistent. Personally, I prefer the first form but don't have a strong preference.

[2016-03-18 14:19] catsby opened #5710 "Aurora updates"
Right now, most if not all of AWS RDS Cluster Instance attributes are `ForceNew`. Because they are essentially regular RDS Instances, we should be able to update them via `ModifyDBInstance`:

- http://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_ModifyDBInstance.html

I believe this to be true, but haven't confirmed. We should investigate, since recreating a db instance because we changed

[2016-03-18 14:26] phinze commented on #5418
Hi @boxrick - sorry about the trouble here! Digging in now and will follow up when I have more info for you.

[2016-03-18 14:44] Carles-Figuerola commented on #4936
Yes, that's exactly it. Thank you very much!

[2016-03-18 14:51] deftflux commented on #3148
I started a pull request [#5675](https://github.com/hashicorp/terraform/issues/5675) that implements this, since we need this function too.  It works a little differently than described here, mainly to avoid the decrypted password from ending up in the terraform state file.  This is my first time developing for terraform (and in Go for that matter), so I'd appreciate some feedback.

[2016-03-18 15:00] bryanalves commented on #5695
Here is the output of terraform show:

[code]

Here is the relevant lines from nova list

[code]

nova show explicit:

[code]

nova show implicit

[code]

As you can see, in the case of explicit, terraform is missing 10.208.35.137 and does not have fixed_ip populated for either network.

As for implicit, this run happened to put 10.208.35.137 as the access_ip, but this is non-deterministically som

[2016-03-18 15:07] bsiegel commented on #5436
Seems like this will be addressed by #5710

[2016-03-18 15:09] phinze commented on #5418
Full config reproducing issue (1) in us-west-2:

[code]

[2016-03-18 15:10] jtopjian commented on #5695
Thank you for providing all of this -- I'll have a chance to dig into it soon.

Quick thought: For your explicit instance, can you provide both the `name` and `uuid` parameters?

[2016-03-18 15:19] saliceti opened #5713 "AWS: Can't update certificate associated with ELB"
Tested on terraform 0.6.13

This happens when an IAM is already associated with an ELB, and you try to upload a new certificate.

The certificate is not updated but deleted and recreated. Terraform complains that it is already associated with an ELB. It doesn't try to recreate the ELB.

The workaround is to delete the ELB manually.

[code]

[2016-03-18 15:27] soulcutter opened #5714 "Changing aws_elasticache_cluster Redis engine_version attempts update, but does nothing"
For example in the plan:

[code]

On apply, it says the modification has been made, but subsequent plans still shows the old value.

[code]

Checking AWS console, confirms that the value has not changed.

[2016-03-18 15:27] phinze commented on #5418
Okay looks like the AZ issue is an upstream API problem:

https://gist.github.com/phinze/34c87dc974e70681a41a

I've reached out to AWS Support about this and will report what I hear. Digging into (2) now.

[2016-03-18 15:30] jmccarty3 commented on #4926
I ran into a similar issue as this. It appears that he newest updates are hiding
```"errorCode": "ValidationException",``` That is returned by the api calls. I was able to find the actual error (not timeout) by checking the logs in CloudTrail.

[2016-03-18 15:30] boxrick commented on #5418
I ultimately got around this by using 3azs, I'm happy to share the config for that.

However this is still one to be fixed.

[2016-03-18 15:31] phinze commented on #5418
@boxrick yeah looks like at the moment the AWS API doesn't listen to the AvailabilityZones parameter and always returns the full set of active AZs in your region. So current workaround is to either specify all of them or omit it from the resource and let it be a computed value.

[2016-03-18 15:40] jevonearth commented on #4926
Yes, after upgrading to terraform 0.6.13 my error messages changed to:

* aws_launch_configuration.blue: Error creating launch configuration: ValidationError: AMI cannot be described
	status code: 400, request id: 22d1492f-ec2e-11e5-b6dc-49477e4bcc65
* aws_launch_configuration.green: Error creating launch configuration: ValidationError: AMI cannot be described
	status code: 400, request id: 22d170

[2016-03-18 15:54] mmell commented on #2549
This is still needed.

[2016-03-18 16:01] phinze commented on #5350
Hi @jescochu - thanks for the report, and sorry for the trouble here! I've reproduced the crash locally and am starting work on a fix now.

[2016-03-18 16:46] Bowbaq commented on #4865
@phinze any updates on this?

[2016-03-18 17:29] jen20 commented on #3278
Fixed in #5718.

[2016-03-18 17:29] #3278 closed

[2016-03-18 17:44] ickymettle commented on #2660
also still seeing behaviour occasionally in 0.6.12

[2016-03-18 17:48] mcortinas commented on #1887
No movement on this?

[2016-03-18 17:55] maxrothman opened #5719 "Make aws_elb listeners separate resources"
We already have the option to use separate resources for rules for `aws_security_group`s and `aws_network_acl`s. It seems like it would make sense to have `aws_elb` listeners work the same way. Doing so would make it easier to put `aws_elb`s in modules and then add their listeners elsewhere.

[2016-03-18 17:59] stack72 commented on #5713
Hi @saliceti,

Thanks for the bug report. Please can you share a sample of your config (minus secrets) that can help us recreate this issue?

Paul

[2016-03-18 18:00] #5350 closed

[2016-03-18 18:03] stack72 commented on #5714
Hi @soulcutter,

by any chance does your config have the `apply_immediately` set as false?

For a modification like this to complete, we need to make sure that `apply_immediately` is true

Please let me know your thoughts

Paul

[2016-03-18 18:24] stack72 commented on #5671
Just a FYI, according the AWS SDK and the [docs](https://www.terraform.io/docs/providers/aws/r/autoscaling_group.html#metrics_granularity), the only value accepted here is 1Minute. Therefore people can change this value but it won't technically do anything anyway in AWS :)

[code]

PR incoming to update docs

[2016-03-18 18:40] gravaton commented on #5699
I'm seeing similar behavior within an OpenStack environment - scripts are exiting prematurely or occasionally (as far as I can tell) not being invoked at all.  "sleep" seems to exacerbate the issue, but I'm still trying to figure out precisely what's going on.  Will update if I get more information.

[2016-03-18 18:40] bryanalves commented on #5695
Adding the network names did not cause correct IP detection:

[code]

[code]

[2016-03-18 18:43] SpeedyWinds commented on #3108
+1 for lifecycle

[2016-03-18 18:52] stack72 commented on #5540
@catsby now that this has been added to the AWS SDK, a PR is being created (just running tests) so will be with you shortly

[2016-03-18 19:07] #5671 closed

[2016-03-18 19:07] phinze commented on #5671
Reflecting some chat we had about this - documenting the default seems like the thing to do for now, and we can circle back on the update case if/when this field actually accepts other values.

[2016-03-18 19:53] ebpitts commented on #1273
I don't think #581 is a duplicate of this.

Like several people have mentioned , we do not want terraform to be able to release EIPs. We assign EIPs when our partners (internal or external to our company) require us to provide IP addresses to them so they can whitelist traffic from us. Thus we allocate EIPs manually and don't want to import them into our terraform config like that workaround sugge

[2016-03-18 19:57] jseaidou opened #5722 "Openstack provisionning timeout"
I have a configuration file that I am pushing to atlas, it looks like this:

[code]

I push to atlas like so:
```TF_VAR_auth_url=${OS_AUTH_URL} TF_VAR_user_name=${OS_USERNAME} TF_VAR_password=${OS_PASSWORD} TF_VAR_tenant_name=${OS_TENANT_NAME} terraform push -name "jseaidou/example"```
that succeeds. However when I queue the plan I get the following output:

[code]
Running terraform plan locally s

[2016-03-18 19:58] stack72 commented on #5707
Hi @pmvilaca,

thanks for reporting this issue. FWIW, the redshift work was started before the AWS SDK added the update work. I just had to open another PR that added the ability to modify a cluster for a specific parameter

I will work on this and add it

Paul

[2016-03-18 20:02] #5540 closed

[2016-03-18 20:03] jtopjian commented on #5722
On first glance, this might be a firewall issue. On my personal workstation, I'm unable to connect to `54.153.71.14` on any of ports 443, 35357, or 5000 (the latter two being native ports to Keystone).

[2016-03-18 20:18] jseaidou commented on #5722
got it. After looking more into platform9 it does seem to be behind a firewall. Closing ticket, and sorry for the bother.

[2016-03-18 20:18] #5722 closed

[2016-03-18 20:26] jtopjian commented on #5722
No bother at all :smile:

[2016-03-18 20:34] Gary-Armstrong commented on #1273
I'm fine with TF managing my EIP, I just want to have them persist when the instance they are assigned to is terminated.

Ideally, I'd like to be able to attach a TF-defined EIP to a TF-defined ENI and have that ENI/EIP pair persist independently through instance termination.  I do have my reasons, of course.

[2016-03-18 20:35] stack72 commented on #4311
Hi @gozer,

I am going to link your comment here to the latest open issue for this continual recreation issue:

https://github.com/hashicorp/terraform/issues/4097

Paul

[2016-03-18 20:36] stack72 commented on #4097
As reported in #4311: https://github.com/hashicorp/terraform/issues/4311#issuecomment-198366104 via @gozer

[2016-03-18 20:44] stack72 commented on #4097
Hi @SpencerBrown,

I believe this issue has may have been fixed as part of the 0.6.13 release - can you have a look and tell me if your config shows a continual loop still?

I have been able to recreate it in 0.6.12 but then it wasn't happening in 0.6.13

Thanks

Paul

[2016-03-18 20:59] gozer commented on #4097
I've experienced this on master as recently as today

[2016-03-18 21:16] phinze commented on #5706
Hi @soulrebel - thanks for the report. The problem here is that you're mixing nested `ebs_block_device { }` notation and top level `aws_ebs_volume` / `aws_volume_attachment` declarations. When an `aws_instance` has `ebs_block_device` stanzas, it expects to be able to manage the full set of attached EBS volumes, and additional ones are treated as drift.

So currently the two resources are fighting

[2016-03-18 21:26] bmurtagh commented on #2660
+1 with @ickymettle... Seeing it occasionally in 0.6.12.

[2016-03-18 21:26] steve-jansen commented on #3108
@packplusplus would you please strike ~~log targets~~ and ~~versioning~~?

Believe both features [shipped](https://www.terraform.io/docs/providers/aws/r/s3_bucket.html).

Cheers!

[2016-03-18 21:31] phinze commented on #5418
Okay just found #3754 which has more discussion around the AZs issue, and closed the crasher in #5717. So I believe the best thing to do here is to close this and consolidate conversation around the original AZs issue in #3754. Let me know if you feel like there's anything else outstanding that needs to be tracked here though! :+1:

[2016-03-18 21:31] #5418 closed

[2016-03-18 21:33] phinze commented on #3754
Oh hey just noticed this issue after working on #5418 today.

This does seem to be an AWS API problem - check out the behavior here:

https://gist.github.com/phinze/34c87dc974e70681a41a

I've reached out to AWS Support about this and will report back with what I hear from them. :+1:

In the meantime, it's best to omit `availability_zones` from `aws_rds_cluster` and let AWS populate them with the f

[2016-03-18 21:35] phinze commented on #4019
Hi @eugenetaranov - this crash should be fixed with https://github.com/hashicorp/terraform/pull/5717 which landed today and will be included in the 0.6.14 release slated for Monday. :+1:

[2016-03-18 21:35] #4019 closed

[2016-03-18 21:39] phinze commented on #5333
Yep @bsiegel is correct! Here's a config that yields a writer and a reader striped across two AZs:

[code]

[2016-03-18 21:39] #5333 closed

[2016-03-18 21:46] saliceti commented on #5713
Of course:

[code]

[2016-03-18 21:53] phinze commented on #3699
Hi folks, worked on reproducing this today, and I did run into a few problems getting the above config working, but I couldn't reproduce the `No default subnet detected in VPC.` error - which makes me wonder if the upstream API has changed its behavior slightly. Here's the tweaks I had to make to get it working though:

 * The `db_subnet_group_name` needs to be assigned to the same thing on the `r

[2016-03-18 21:56] carlsverre commented on #2136
Not sure which issue to bring this up - but I am hitting this issue in Terraform v0.6.13.

[code]

[2016-03-18 22:11] vpothnis commented on #5333
thank you for your inputs!

[2016-03-18 22:17] radeksimko commented on #5702
@iceycake Sorry, I initially mixed this up with `arn`, so I'm taking back the words about the importance.

It is documented here:
http://docs.aws.amazon.com/AmazonCloudWatchEvents/latest/APIReference/API_Target.html

It says _Required_, but as you said it doesn't probably do anything except guaranteeing uniqueness.

I think we could make it optional and automatically generated.

[2016-03-18 22:33] SpencerBrown commented on #4097
@stack72: 0.6.13 fixes the issue for me. You can close this issue, or am I supposed to do that?

[2016-03-18 22:38] stack72 commented on #4097
@SpencerBrown this is brilliant news! This to me suggests that the issue that @gozer experienced is a different problem - i will look at this and then close it. Thanks for letting me know so fast @SpencerBrown

[2016-03-18 23:37] ddura commented on #4993
+1 on the feature. We manage a set of VPNs in AWS (and associated VPN Gateways and Customer Gateways) and don't have the ability to destroy/recreate those (secrets, etc. as mentioned above.) Would like to have a resource to just attach (and detach on destroy) an existing VPN Gateway to a VPC that is being created in terraform.

[2016-03-19 11:39] lvjp opened #5728 "Docker container -> volume deps are broken"
Resource `docker_volume` in not in dependencies if `docker_container` even if it's used.

You can see my problem through this [gist](https://gist.github.com/lvjp/28fe09f76d5219fc5a17)

[2016-03-19 16:39] JacobASeverson opened #5729 "Remove hardcoded test user from Github provider acc tests"
The test user that is hardcoded into the acceptance tests should get pulled out and a user should be provided to the test config from an environment variable.

[2016-03-19 16:43] JacobASeverson commented on #5729
#5730 takes care of this.

[2016-03-19 17:09] tphummel opened #5731 "aws_security_group same changes reported in consecutive plans"
i'm on mac osx: `15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64`. El Capitan 10.11.3.

This problem has been happening at least since terraform 0.6.11. And continued unchanged in 0.6.12 and 0.6.13.

[This message board thread](https://groups.google.com/forum/#!searchin/terraform-tool/security$20group/terraform-tool/fx4R9Ts4MWE/h9AHJKlA

[2016-03-19 18:19] jen20 commented on #5729
Fixed in #5730.

[2016-03-19 18:19] #5729 closed

[2016-03-19 18:20] jen20 commented on #5731
Hi @tphummel! There was some major work done before 0.6.12 around security groups, but it looks like that needs revisiting. Could you post the configuration which results in the diff above? Thanks!

[2016-03-19 18:53] SystemZ opened #5732 "Cloudflare - SRV DNS records"
I'm trying to add SRV record but there is an error with cloudflare API

[code]

Version

[code]

Configuration for this SRV

[code]

[2016-03-19 20:59] tphummel commented on #5731
@jen20 thanks for getting back to me :-). i mentioned i'm seeing this with four different security groups. here is the simplest of the four:

*config*

[code]

*state*
[code]

*plan*
[code]

let me know if I can provide any other info. I'm not quite sure what the next steps might be. Like i said I'm having trouble reproducing the problem from scratch.

[2016-03-19 21:32] mrwilby opened #5733 "concurrent map read and map write"
We have a 'reasonably complex' project structure - a lot of modules, null_resources and other goodies to help modularize our environment.

Since upgrading to 0.6.11 and 0.6.12 (could've been earlier too - but we really started noticing the problem lately) we now see the terraform process completely die with exit code 2 - there's basically no output at all (unless you turn on debug logging) - the p

[2016-03-20 00:01] pabloa502 opened #5734 "Terraform crashes when adding more than one file provisioner"
Terraform crashes when adding more than one file provisioner

I am using Terraform v0.6.13 on windows x64

[2016-03-20 01:59] SydOps commented on #5528
@jen20

Thanks for the example, the code works (except missing a `)` doing lookup)

But now I have another requirement. We need take care the platform. So I need lookup from three variables:

[code]

I can't lookup from two keys.

    account1 = "${lookup(var.accountnumbers, var.platform, var.environment}"

[2016-03-20 02:47] ryanl-ee commented on #4112
Hi folks, just wondering if there was anything for this in the works. I'm trying to do all sorts of deployments and am unable to use any provisioner aside from 'local-exec', recreating (in very basic ways) what the provisioner does in a simple shell script, but have run into a few cases where this is not feasible (i.e. I want to copy a config file to CoreOS, but can't use the "file" provisioner du

[2016-03-20 03:46] jantman commented on #5537
This is a pretty big deal in my opinion. I just spent three full days (as in 24 hours) trying to debug this (and a whole string of problems in our build tooling that made that difficult, like terraform being run via wrappers that crashed when TF_LOG was set to DEBUG or higher...). I have a configuration that otherwise works, except for

[code]

After three days and at my wits end, I took the ``Cre

[2016-03-20 10:08] iiro commented on #1819
:+1:

[2016-03-20 12:53] vilelm commented on #2114
+1

[2016-03-20 12:59] jemmyw opened #5735 "Terraform emits an error if a template changes but the rendering does not"
If I have a template and I make structural changes to the way it is put together (say, move something to a variable) that results in a change but the same template output, and that template is used for an AWS IAM policy, then terraform will show a change for the policy but the following error will occur when apply is run:

[code]

[2016-03-20 12:59] jemmyw commented on #5735
A second run with the same target will result in "No changes."

[2016-03-20 15:37] MansM opened #5736 "template_file with count causes instances to be rebuild on increase"
[code]
when I increase var.mastercount from 2 to 3, all 3 the instances are getting recreated.

[code]

Terraform v0.6.13

[2016-03-20 18:31] paulczar opened #5737 "remote-exec stops executing after running `sudo systemctl start`"
This applys to the current release `v0.6.13`...  `v0.6.8` works as expected.

This means only the first service that I ask for actually starts in the current version, whereas the earlier version it all starts up as expected.

## Code Snippet

The following block in remote-exec:

[code]

## Run output - v0.6.13

[code]
## Run output - v0.6.8

[code]

[2016-03-20 20:12] soulcutter commented on #5714
Hm, it's the default, so false. I see that in the documentation now. I wonder if the output could mention that?

Bradley Schaefer

[2016-03-20 21:18] paultyng commented on #3531
This would be very useful for me as well.  Need to tag these volumes on an instance for billing.

An additional feature that would be nice would maybe just be a flag at the instance level to use the same tags on the instance as on the volumes.

[2016-03-20 21:32] paultyng commented on #5435
This is probably a same / duplicate of #2283.

Some other related issues: #3531, #5356, #4380

[2016-03-20 22:43] jkinred commented on #3942
@nemski - Thanks a lot for posting your findings, luckily I found your comment here as I could have wasted hours trying to track the problem down.

[2016-03-20 23:06] rhiann0n commented on #2661
+1

[2016-03-20 23:51] twashing opened #5740 "core: `provider` block inside `resource` causes crash on `plan`"
I've just downloaded and started playing around with Terraform. Creating a simple `aws.tf`config file, then running `terraform plan`, gave a ***panic: runtime error: index out of range*** .

Here's the version.
[code]

Here's the (probably erroneous) config file.
[code]

And here's the crash log
[code]

[2016-03-21 03:19] mbaxa opened #5741 "option_settings crashes elastic beanstalk template"
With Terraform v0.6.13 a terraform plan crashes with the following config

[code]
[crash.log](https://github.com/hashicorp/terraform/files/181650/crash.txt)

If I remove the option_settings part, it completes correctly:
[code]

[2016-03-21 03:49] silverjava commented on #5360
is there anyone who knows how to get around of it?

[2016-03-21 04:44] smotti commented on #1178
+1

Use-case:
* A module to create network infrastructure (VPC, Subnets, Security Groups, ...)
* Other modules to define application related resources that depend on the network infrastructure

[2016-03-21 05:42] jonmorehouse commented on #2661
Thanks for the support on the plugin! I'm actively working on it and trying to get it "battle tested" for us to all use.

I'm planning on simplifying things a lot and adding support for more ansible features by switching to a more "native" approach. It shouldn't change the interface too much, but it might be worth following along on this ticket: https://github.com/jonmorehouse/terraform-provisione

[2016-03-21 07:11] shanielh opened #5742 "aws_instance : Can we wait for "shutting-down" instead of "terminated" state when destroying resource?"
This is the lifecycle of ec2 instance:

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-lifecycle.html

It states that after "terminating" an instance it goes into the `shutting-down` state and after full termination it goes to `terminated` state.

The code that waits for `terminated` state is here :

https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource

[2016-03-21 08:15] byrnedo commented on #5737
Related to #5699

[2016-03-21 08:16] byrnedo commented on #5699
In addition, my `atlas_artifact` doesn't get picked up either in 0.6.13 but works fine in 0.6.12

[2016-03-21 08:39] rklyne opened #5743 "Crash during destroy"
Crash log attached.
I was on a train on 3G at the time so a flaky network is probably part of the cause.

[crash.zip](https://github.com/hashicorp/terraform/files/181834/crash.zip)

[2016-03-21 09:31] xsmaster commented on #5360
Going back to an earlier version is what I had to do. Not the best plan. :(

On Sunday, March 20, 2016, silverjava <notifications@github.com> wrote:

[2016-03-21 10:01] mohamaa commented on #3292
Awesome explanation !!! worked like a charm.

[2016-03-21 11:42] rklyne commented on #4186
I saw a very similar problem to this this morning. The logs showed that the problem was caused by a failure to write to the file /tmp/terraform_nnnn.sh and a subsequent failure to chmod this file.

I was attempting to run the failing provisioner as a non-root user but the file in question already existed and was owned by root. After logging in as root and moving the file out of the way the process

[2016-03-21 12:03] jen20 commented on #5740
Hi @twashing! I can reproduce this - it's a bug in the the [hcl](https://github.com/hashicorp/hcl) library used to parse Terraform configuration. Thanks for reporting!

[2016-03-21 12:20] jen20 commented on #5740
This should be fixed by https://github.com/hashicorp/hcl/pull/105 - once that has been reviewed and merged (likely later today when the US timezones come one) we can update the vendored version for a fix in 0.6.14.

As you say - this is invalid configuration (though that is no excuse for a crash!): what you probably want is:

[code]

Thanks for reporting this!

[2016-03-21 12:47] keymon opened #5744 "AWS: Implement resource to upload codecommit SSH keys for an IAM user"
CodeCommit can be accessed via SSH. For that, you need a IAM user with the right policy and with some public SSH keys to access code commit uploaded. More info [here](http://docs.aws.amazon.com/codecommit/latest/userguide/setting-up-ssh-unixes.html).

The keys can be uploaded with `awscli`:

[code]

It would be great if terraform had a resource to upload, delete or update existing SSH keys on a IA

[2016-03-21 12:54] zapman449 opened #5745 "diffs didn't match during apply: Fully working and repeatable example"
Diffs didn't match during apply error: Fully working, repeatable example

Details of a diffs didn't match error:

[code]

TF Code to generate:

[code]

Configuration:
Standard AWS account.  Error triggered from blank slate of zero configuration other than the account to run Terraform from.

State:
Only state is what was created by 'terraform plan'.

$ terraform --version
Terraform v0.6.13

Steps:

[2016-03-21 13:13] JulienChampseix commented on #1406
@daniel-bryant-uk have you some news about the validation of this PR ?

[2016-03-21 13:46] daniel-bryant-uk commented on #1406
Hey @JulienChampseix, I think you've tagged the wrong Daniel - You want @danielcbright :-)

[2016-03-21 13:48] catsby commented on #5731
hey @tphummel – I believe this is due to case sensitivity of the protocol:

[code]

A patch was introduced to address this by lowercasing the protocol when creating the key

- https://github.com/hashicorp/terraform/pull/5495

This patch went out in the latest version of Terraform (v0.6.13) which I see you mention. I ran the following plan you supplied through v0.6.13 and can't reproduce it

[code]

[2016-03-21 13:52] rklyne commented on #4186
I've managed to reproduce this with these steps:
- Have a remote-exec provisioner configured to run as a non-root user
- I run terraform and the provisioner fails
- The provisioner is then fixed.
- I run terraform again and I see this problem
I'm using CentOS 6.5 on digitalocean, if that matters.

[2016-03-21 14:00] #5647 closed

[2016-03-21 14:15] jen20 commented on #5743
Relevant part of crash log:

[code]

[2016-03-21 14:17] jen20 commented on #5743
Hi @rklyne - from the log it looks like you are using Terraform 0.6.12 - this should have been fixed in Terraform 0.6.13 as part of #5588. Thanks for reporting - if you experience this again with the latest version of Terraform please feel free to re-open!

[2016-03-21 14:17] #5743 closed

[2016-03-21 14:30] #5402 closed

[2016-03-21 14:41] jen20 commented on #4915
Doing some more investigation here: it looks like the crash was in the following code which has subsequently moved around a bit since v0.6.10:

[code]

I'd imagine that the crash must be in the dereference of `r.DestinationCidrBlock` though it is hard to imagine how the route could exist in this case, and I cannot reproduce this locally.

[2016-03-21 14:49] jen20 commented on #5740
Closed this by mistake when the HCL fix got merged - it will actually be fixed in Terraform when #5749 lands.

[2016-03-21 14:51] #5740 closed

[2016-03-21 14:58] msnelling opened #5750 "Can aws_directory_service_directory return the security group"
When creating a directory service using aws_directory_service_directory it would be helpful to return the id of the associated security group created at the same time. This would allow the security group to be used when creating other resources.

[2016-03-21 15:00] jen20 commented on #5420
Thanks for reporting this - I can indeed reproduce. It looks like a bug in HCL, so I'll take a look and get it fixed up!

[2016-03-21 15:10] jen20 commented on #5733
Thanks for reporting this @mrwilby! This is definitely a core bug - potentially introduced when `hil` was factored out into it's own repository and separated out from Terraform's core, though I forget the exact timelines. The stack trace should be sufficient to debug this though.

[2016-03-21 15:48] phinze commented on #5703
Hi @JoeOrtiz - are you talking about pinning the certificate of the remote consul endpoint, or about authenticating using an SSL client certificate?

[2016-03-21 15:57] phinze commented on #5750
Hi @msnelling - good call here. I'm trying to figure out which SecurityGroupId is the correct one for us to set.

There's one here: https://docs.aws.amazon.com/directoryservice/latest/devguide/API_DirectoryConnectSettings.html

And there's one here: https://docs.aws.amazon.com/directoryservice/latest/devguide/API_DirectoryVpcSettingsDescription.html

The second one seems to be legacy though. If yo

[2016-03-21 16:01] #5699 closed

[2016-03-21 16:01] #5737 closed

[2016-03-21 16:04] msnelling commented on #5750
I haven't used the API but imagine that it maps closely to the "aws cli" command set. When creating a directory service with `create-directory`, `create-microsoft-ad` or `connect-directory` you don't get back the security group. I think the only way to get that info is with `describe-directories` which I think is your `DirectoryVpcSettingsDescription` API.

[2016-03-21 16:09] phinze commented on #5750
So the thing that makes me hesitate on the VpcSettings one is this part of the description:

I suppose whoever picks this up can do some quick testing to see whether the other value gets populated. Should be pretty simple to implement! :+1:

[2016-03-21 16:14] msnelling commented on #5750
Hmm, looking at the results of the `describe-directories` cli command it doesn't return the security group fro a directory I created today. Perhaps an oversight by Amazon?

[2016-03-21 16:14] jescochu opened #5753 "Cannot destroy aws_rds_cluster, unexpected state"
Running version 0.6.13 (problem also existed in 0.6.12)

Whenever I run a destroy on a plan that has deployed an Aurora cluster, it is able to remove the individual cluster instances, but not the cluster resource itself. It always fails with this error:

I am not doing anything too strange with my resource:

[code]
From there, I create two rds_cluster_instances, but they are destroyed just fine.

[2016-03-21 16:19] phinze commented on #5750
Perhaps! Or based on that quote I cited - perhaps that is old behavior they no longer perform?

[2016-03-21 16:25] dcloud9 opened #5754 "v0.6.13 - Terraform crash on provisioner"
Hi,
Provisioner crashes on terraform plan|apply|destroy|refresh after modules successfully built that stacks.
It happened also in v0.6.12, bumped +1 version to 0.6.13, but still hit the same crash.
Attached the crash.log.

[crash.log.gz](https://github.com/hashicorp/terraform/files/182672/crash.log.gz)
[code]

[2016-03-21 16:28] radeksimko commented on #5754
Cutting out the interesting but of crash log:

[code]

[2016-03-21 16:32] anttis commented on #4361
+1

[2016-03-21 16:44] tphummel commented on #5731
@catsby protocol case was the cause. correcting from uppercase to lowercase in my config fixed the issue for 3 of 4 security groups on the next `plan`. the fourth group needed to be applied to take the change. but now I have a clean `plan`.

like you, I can't reproduce this problem from scratch on v0.6.13. my guess is that because of the patch you linked to above, it might have been reproducible p

[2016-03-21 16:47] rbachman commented on #4120
+1 for s3 events

[2016-03-21 16:55] phinze commented on #5737
Hi @paulczar - thanks for the report and sorry for the trouble here! Looks like the attempt to clean up remote exec scripts in v0.6.13 had an unexpected race condition. Fixed on master and will be fixed in 0.6.14 to be released layer today.

[2016-03-21 17:05] deftflux commented on #3473
I just ran into this issue, but with AWS.  I found out the root cause is actually a problem with the WinRM communicator.  See this line:

https://github.com/hashicorp/terraform/blob/v0.6.13/communicator/winrm/communicator.go#L196

Terraform does not pass HTTPS, Insecure, or CACert connection information to the winrm copy client.  Thus, it will always default to HTTP.  Any provisioning that involve

[2016-03-21 17:07] nickithewatt commented on #5627
@phinze what are your thoughts wrt whether this may make it into the next release or not?

[2016-03-21 17:59] #5741 closed

[2016-03-21 18:06] catsby commented on #5741
Hey @mbaxa – thanks for the detailed info! I patched this in https://github.com/hashicorp/terraform/pull/5756, however you need know some things:

- I renamed the `option_settings` config to just `setting`. This matches Beanstalk Environments, and currently Beanstalk Configuration Template will crash on the use of `option_settings` anyway...
- In my testing, I found that you need to also include a

[2016-03-21 18:10] curena commented on #4120
It looks like bucket event notifications are being implemented via https://github.com/hashicorp/terraform/pull/5473

[2016-03-21 18:14] metalseargolid commented on #4361
+1

[2016-03-21 18:23] sean-bennett112 opened #5762 "Cannot destroy VPC in 0.6.13"
After upgrading from 0.6.12 to 0.6.13, I am consistently unable to delete VPC's using `terraform destroy -force`. I haven't changed any of the code relating to the VPC since well before the upgrade, roughly several months.

My state file is below, and it appears that all the related resources have been deleted.

[code]

The relevant tf file:

[code]

It doesn't really seem like there's anything he

[2016-03-21 18:25] mbaxa commented on #5741
Wow, thanks for fixing so quickly! :+1:  Yeah, I had a full suite of settings that I was trying to move into a template; I just cut it down to one to make the bug report cleaner. :smile:

[2016-03-21 18:28] jen20 commented on #5731
I think that is the case @tphummel! I'll close this for now - if you see any repeat of it please feel free to re-open! Glad it's resolved.

[2016-03-21 18:28] #5731 closed

[2016-03-21 18:29] jmfuchs commented on #953
Is there a plan to add this feature or should we look at work arounds?

[2016-03-21 18:35] jen20 commented on #5762
Hi @sean-bennett112! Thanks for opening this - can you describe the manner in which this fails? I can't reproduce it here with the latest master build.

[2016-03-21 18:52] mitchellh commented on #953
I started working on this feature, and we do have it planned. We reprioritized it lower though when I realized that the internals of Terraform need to be refactored quite a bit to support this properly. On the surface it seems like a simple "just duplicate it N times" sort of thing, but internally its quite a bit more complex since we'd have to support multiple variables and outputs. And that is t

[2016-03-21 18:56] sean-bennett112 commented on #5762
Sure @jen20. It's possible this is already fixed in master, which would be great! So after performing `terraform apply`, which completes successfully, configures the instance, and successfully runs all tests, I immediately:

1) stop the instance manually due to #2957
2) run `terraform destroy -force`

Which then prints the following logs:
[code]

The run hangs for several minutes at `aws_vpc.vpc:

[2016-03-21 19:09] P13612 opened #5764 "associate_public_ip_address always true!"
Hi,

in

terraform/builtin/providers/aws/resource_aws_instance.go

the parameter

associate_public_ip_address

is always associating a public ip-address even when set to false.

associate_public_ip_address = false

I have no idea of Golang even though its looking like a fascination programming language.
Can somebody correct this behavior?

Thanks

Peter

[2016-03-21 19:12] stack72 commented on #5764
Hi @P13612

Please can you supply a sample of the config that you are using and we can see if this bug can be reproduced?

Thanks

Paul

[2016-03-21 19:17] johnt337 commented on #5258
Hi @jen20 thanks for the feedback, i'll be sure to track #4169.

[2016-03-21 19:17] #5258 closed

[2016-03-21 19:26] P13612 opened #5765 "aws_instance parameter network_interfaces is missing!"
Hi,

in AWS CloudFormation you have in AWS::EC2::Instance a parameter NetworkInterfaces:

{
   "Type" : "AWS::EC2::Instance",
   "Properties" : {
      .
      .
      "NetworkInterfaces" : [ EC2 Network Interface, ... ],
      .
      .
      .
   }
}
This Parameter is missing entirely in  terraform/builtin/providers/aws/resource_aws_instance.go
This significantly limits how ENIs can be used.

aw

[2016-03-21 19:26] phinze commented on #5734
Hi @pabloa502 - can you attach a crash log / error message to this report? Then we can take a look and get this fixed up! :+1:

[2016-03-21 19:32] P13612 commented on #5764
Hi Paul,

so quick? Thank you. Here is your example:

resource "aws_instance" "app" {
    ami = "${var.anylinuxami}"
    instance_type = "t2.micro"
    associate_public_ip_address = false
    subnet_id = "${aws_subnet.private_1.id}"
    private_ip = "10.130.0.7"
    security_groups = ["default"]
    key_name = "${var.key_name}"
    tags {
        Name = "APP"
    }
}

It's fairly straightforward.

[2016-03-21 19:40] sean-bennett112 commented on #5762
Here's a snippet of the DEBUG level logs, though it looks like it is largely repeating a lot of this section over and over.

[code]

[2016-03-21 19:48] stack72 commented on #5764
Hi @P13612

I believe this is the issue. You are trying to assign a public_ip to an instance in a private_subnet. I would take a punt and suggest that the private_subnet doesn't actually create public_ip address

Paul

[2016-03-21 19:54] rbachman opened #5767 "provider/aws: Lambda function w/ vpc_config - destruction may fail"
Probably not a specific issue with Terraform, but wanted to open up a discussion and maybe add extra support for a feature like https://github.com/hashicorp/terraform/issues/4121

An issue exists where the destruction of a lambda function with a vpc_config block has the potential of leaving behind infrastructure that prevents the completion of a terraform destroy action.  This is due to the fact t

[2016-03-21 19:57] P13612 commented on #5764
Hi Paul,

but I'm doing this:

associate_public_ip_address = false
subnet_id = "${aws_subnet.private_1.id}"
private_ip = "10.130.0.7"

I'm associating a private IP and I want no public IP therefore I set

associate_public_ip_address = false

I even didn't use this parameter at all and still I get a public IP

Peter

[2016-03-21 20:00] stack72 commented on #5764
Hi @P13612

Apologies - ok so can you show me the configuration that creates a subnet?

Paul

[2016-03-21 20:03] P13612 commented on #5764
Sure,
resource "aws_subnet" "private_1" {
    vpc_id                  = "${aws_vpc.vpc.id}"
    cidr_block              = "10.130.0.0/27"
    availability_zone       = "us-west-1a"
    map_public_ip_on_launch = true
    tags {
       Name = "myprivatesubnet"
    }
}

oops! Is this my problem?

map_public_ip_on_launch = true

Peter

[2016-03-21 20:12] phinze commented on #5569
The fix in #5724 looked simple enough to pull in as is while we work on a larger fix. Seems reasonable to add DefaultOs on the initial create if that fixes up the windows code path. Will leave this open to continue discuss amore holistic fix.

[2016-03-21 20:35] rodlogic commented on #5568
I tested again with v0.6.3, which now uses AWS GoSDK v1.1.9, but unfortunately I am seeing the same issue:
[code]

The issue went away once I upgraded to the latest ```aws-cli/1.10.14 Python/2.7.10 Darwin/15.3.0 botocore/1.4.5```. So I am wondering if the problem is actually in the AWS Go SDK.

[2016-03-21 20:37] mroark1m commented on #3517
I can confirm this issue, seeing the same thing.

[2016-03-21 20:43] stack72 commented on #5764
That's the issue :)

[2016-03-21 20:56] P13612 commented on #5764
Hi Paul,

I dropped the line and all is fine.

Thank you

Peter

[2016-03-21 21:03] jseaidou commented on #649
has there been any activity on this ?

[2016-03-21 21:03] stack72 commented on #5764
Nice one! Thanks for letting me know

[2016-03-21 21:03] #5764 closed

[2016-03-21 21:04] tjlee0909 commented on #649
+1 My use case is to pause and wait for the VM to complete and in-progress builds before safely destroying.

[2016-03-21 21:36] thegranddesign opened #5771 "Whatever downloads modules doesn't use the root certificates stored in the OS X keychain"
I'm not sure which library is being used to download modules, but typically on Mac, if I "Always Trust" a self-signed certificate's `pem` file, I never get a warning about that connection being insecure.

Unfortunately despite it working fine in Chrome, git, etc, when Terraform attempts to download a module from my site, I get a self-signed certificate warning.

`x509: certificate signed by unknow

[2016-03-21 21:36] thegranddesign commented on #5771
Sorry, not a warning.  An error.  The `get` completely fails.

[2016-03-21 21:36] deepthawtz commented on #2359
woohoo, thanks.. fixed things on our end too

[2016-03-21 21:38] timfallmk commented on #3362
@lwander Apologies, I don't recall what testing revealed. It should be fine to close and someone can reopen if it comes back up.

[2016-03-21 21:40] kpumuk commented on #4361
+1

[2016-03-21 22:07] lwander commented on #3362
No worries at all, sounds good to me too.

[2016-03-21 22:28] sean-bennett112 commented on #5762
Also I can confirm that, while downgrading to Terraform 0.6.12 does not cause the `terraform destroy -force` command to succeed on state that has previously been deployed with Terraform 0.6.13, it does fix the issue for deploying and subsequently destroying new resources created solely with Terraform 0.6.12.

[2016-03-21 22:31] shanesveller commented on #3417
I wound up bumping into this through user error:

My template had a count, my aws_instance had a count, both based on the same variable, but the instance originally looked for a singular template resource, with the according syntax. I had to switch to using `element(template_file.foo.*.rendered, count.index)` where I was calling it previously.

[2016-03-21 22:35] gurrie commented on #5618
Which config are you looking for? Not sure if it helps or not, but I generate the terraform scripts using terraform-inventory.

[2016-03-21 23:20] jen20 commented on #5771
Hi @thegranddesign! This is likely an artefact of how Go interacts with the OS X certificate store. Root CAs are obtained via the function listed below on OS X, so unless the certificate is in the keychain specified it won't be found. Ultimately there isn't much we can do here, as far as I can see - @phinze or @mitchellh - do you have any suggestions?

[code]

[2016-03-21 23:22] mitchellh commented on #5771
@jen20 You're right, we're just using the Go standard library with no trickery.

[2016-03-21 23:24] FlorinAndrei commented on #3531
@paultyng Global tags are better than nothing, but I'd still like to tag the instance with "hostname", but tag the volumes with "hostname:/mountpoint".

[2016-03-21 23:25] wsh commented on #4354
+1 this is annoying me right now.

[2016-03-21 23:26] thegranddesign commented on #5771
Would it be possible to also check to see if the certificate exists in the Login keychain?

[2016-03-21 23:27] coreone commented on #4222
@jen20 This is becoming a real issue as certain unrelated setting updates to CloudSQL now wipe existing authorized networks, even if the *authorized_networks* setting is not being used in the *google_sql_database_instance* resource.

[2016-03-21 23:40] phinze commented on #5566
Done in #5749 :smile_cat:

[2016-03-21 23:40] #5566 closed

[2016-03-21 23:57] borsboom commented on #2997
@justnom: Your workaround makes sense, but how were you able to attach multiple EIPs to an instance in the first place?

[2016-03-21 23:58] iamveen commented on #4084
A welcome addition, indeed.

[2016-03-22 00:51] mengesb opened #5773 "template_file render not waiting on dependencies"
I've been trying to narrow down an issue I'm having sourcing plan generated files via `template_file`.

The approach I've taken is to submodule out the generation of dynamic files I need to read, and then use that module's 'output' method to use the file in the parent plan. The module outputs the contents and path to the required file which I then use in the template `vars` segment.

Example:
- ne

[2016-03-22 01:01] stack72 commented on #5744
@keymon just a FYI, I have started a PR for this func

[2016-03-22 01:11] tjlee0909 commented on #649
Is this issue still blocked on a philosophical debate regarding whether this feature is appropriate?

[2016-03-22 01:51] roderickrandolph commented on #5733
experienced the same problem - 0.6.14 seems to fix it. thank you!

[2016-03-22 02:33] dmourati commented on #649
See, e.g.:

http://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/AutoScalingGroupLifecycle.html

For how this works in AWS.

[2016-03-22 02:46] sheerun commented on #5706
Shouldn't terraform throw an error in such case? (aws_volume_attachment defined with instance_id that has already ebs_block_device attached)

[2016-03-22 05:16] varuns-zetaris opened #5775 "remote-exec inline doesn't proceed to next command"
provisioner "remote-exec" {
    inline = [
           "aws s3 cp ${var.jar_path} ./",
           "hadoop jar <job>",
           "aws s3 cp job_* ${var.log_path}"
    ]
    }

I have a terraform deployment which fires up a cluster in ec2 run a job using remote-exec . However the hadoop job get executed but after the 2nd command , terraform doesn't go further. It doesn't proceed to the 3rd command .

[2016-03-22 05:49] vaibhavjain882 commented on #5578
Any resolution yet ?

[2016-03-22 08:00] rklyne commented on #5775
I'm seeing this too when provisioning postgres. New on v0.6.13 for me. I'm rolling back to v0.6.12 temporarily.

[2016-03-22 08:18] msnelling commented on #5750
I got a response from AWS support, they say that currently the only way to get security group is to use the directory id and filter the security groups based on that. For example using the AWS CLI tool
`aws ec2 describe-security-groups --filters Name=group-name,Values="d-1234567890_controllers" --query SecurityGroups[].[GroupId]`
Would this be possible with the API? It's not the prettiest solution

[2016-03-22 08:18] soulrebel commented on #5706
I agree that there is a documentation/validation bug, but...
I think that mine is no rare corner use case: some disks are meant to store important data other are just for applications/logs/whatever.

The data is better defined by itself (it gets named explicitly, tagged for snapshotting) and attached.

The rest is part of the machine, but it's better to have different filesystems for constraining

[2016-03-22 08:58] thecodeassassin commented on #4060
@ajcrowe is it possible to use this with the compute_backend_service? It currently requires a manager i believe i am wondering if your implementation also works. By the way do you know when they will create a version that has your merged PR?

[2016-03-22 09:06] ajcrowe commented on #4060
Hi @thecodeassassin, yes I believe it should work, you'll need to use the `self_link` attribute from the `compute_instance_group` in the `backend` block in your `compute_backend_service`.

They released `0.6.13` which contains this addition.

[2016-03-22 09:41] pdecat commented on #4092
Hi,

I somewhat managed to implement this using the following terraform configuration.

[code]

It will warn during plan:

[code]

And fail during apply:

[code]

I acknowledge this is not perfect.
For once, the local-exec command makes it not portable.
Also, I'm not sure it fails before applying any other changes to the state, even if placed at the beggining. Adding dependencies to this resource

[2016-03-22 09:42] jen20 commented on #5775
Hi @varuns-zetaris and @rklyne! We release 0.6.14 yesterday afternoon (US time) which should address this - the PR was #5751. I'll close this issue for now, but if you see a recurrence of it with 0.6.14 please feel free to reopen. Thanks for reporting!

[2016-03-22 09:42] #5775 closed

[2016-03-22 09:45] radeksimko commented on #4092
Not exactly a flag that a user can specify, but something interesting in regards to this issue is in https://github.com/hashicorp/terraform/pull/5597

[2016-03-22 09:47] pdecat commented on #4092
Indeed! Thanks for the pointer.

[2016-03-22 09:50] jen20 commented on #5742
Hi @shanielh! Thanks for opening an issue. I don't think this is a good idea at this stage, because if an instance is only in the "shutting down" state, it is not actually gone (as you point out), and so resources which depend on it being gone (e.g. a subnet or a VPC) cannot be destroyed. I am willing to be convinced otherwise however - if you have a good way of avoiding this please reopen the iss

[2016-03-22 09:50] #5742 closed

[2016-03-22 09:53] rklyne commented on #5775
@jen20 You're on fire!
Thank you very much

[2016-03-22 10:17] jen20 commented on #5728
Hi @lvjp! I just reproduced this using the configuration in your gist. I'm using:

main.tf
[code]

A `terraform apply` then a `docker ps` shows a running container:

[code]

And using `docker inspect 5271c09f038a` shows the mounted volume:

[code]

And finally, `docker volume ls` shows the volume:

[code]

Running `terraform taint docker_volume.dummy_volume` and then `terraform apply` gives:

[cod

[2016-03-22 10:25] jen20 commented on #5683
Hi @dhermans! It's somewhat hard to follow what is happening here - could you post an example of such a template? Thanks!

[2016-03-22 10:28] jen20 commented on #5682
Hi @joshuaspence - the problem here is `concat` wants a list as it's second parameter. This will go down on record as the ugliest Terraform known to man but here goes:

[code]

I believe _should_ work. However, this will be hugely simplified by native lists which I am working on right now. Please feel free to reopen if this doesn't work for you!

[2016-03-22 10:28] #5682 closed

[2016-03-22 10:50] edmundcraske opened #5776 "aws_route53_record does not enforce having set_identifier when weight is set"
Just spent a while debugging an issue where we had some aws_route53_record resources in our terraform code where the plan went through OK, but the apply got a 400 error from the AWS API. It took a while to find that the issue was because the 'weight' attribute was set on the resource (to 0, in this case), but no set_identifier. I notice that the docs say that set_identifier is required (https://ww

[2016-03-22 10:51] edmundcraske commented on #5776
BTW seeing this issue with 0.6.12 and 0.6.13.

[2016-03-22 10:59] stack72 commented on #5744
Hi @keymon

this has been merged to master :)

Paul

[2016-03-22 10:59] #5744 closed

[2016-03-22 11:44] shanielh commented on #5742
Hi @jen20, Thanks for the fast answer. You're probably right and know about this more than I do, My terraform scripts does contain volumes, vpc's and instances that depend on instances. Most of the "destruction" time is consumed by waiting for `terminated` state. When instances are waiting for other instances, It might slow the destroy operation really badly. I hope that someday AWS will fix it, o

[2016-03-22 11:44] sstarcher commented on #2136
After upgrading from 0.6.12 to 0.6.13 this issue appears and I have to downgrade.

[code]

[2016-03-22 11:56] Zordrak commented on #3189
Issue present in 0.6.12/13 - Can this be re-opened?

[2016-03-22 12:01] keymon commented on #5744
Wow, that was so quick!!!  Thank you

[2016-03-22 12:06] ydaetskcoR commented on #1273
It would be nice if you could specify an EIP allocation id to attach to an EC2 instance upon instance creation like you can with NAT gateways.

That way you could have something like this:

[code]

##### eip.tf:

[code]

##### instance.tf:

[code]

This enables you to destroy the instance, freeing the EIP back to the pool and then when you rebuild the instance the EIP would be re-associated. Equal

[2016-03-22 12:18] radeksimko commented on #3189
@Zordrak if you can provide a repro case - i.e. piece of code that can help us reproducing the issue, then I'd be happy to either reopen this or (more likely) open a new issue.

[2016-03-22 13:05] phinze commented on #5735
Thanks for this report @jemmyw - can you provide an example reproducing config to help us look into this?

[2016-03-22 13:06] phinze commented on #5733
That's great news @roderickrandolph! #5772 did land in 0.6.14 and attempts to address this - @mrwilby can you give 0.6.14 a shot as well and let me know if it sorts out your issue?

[2016-03-22 13:13] ydaetskcoR commented on #1273
Looking at it https://github.com/hashicorp/terraform/pull/5236 seems to provide this functionality

[2016-03-22 13:20] jemmyw commented on #5735
Sure this is quite easy to reproduce. Here is the configuration. Run this once and it works fine.

template policies/s3.json
[code]

iam.tf
[code]

Now make a change to the template that makes it ouput the same:

[code]

This will now error on apply.

[2016-03-22 13:32] phinze commented on #5762
Hi @sean-bennett112 - thanks for the additional details.

So the error message:

[code]

Is coming directly from the AWS API. Unfortunately the API does not give any information in this message about _what_ dependencies are preventing this deletion, which is what's making this trickier.

Based on the output you quoted, I counted the `Destroying...` / `Destruction Complete` pairs and found that all

[2016-03-22 14:06] keymon opened #5778 "aws: aws_iam_group_membership allow append only operation"
Currently the [aws resource aws_iam_group_membership](https://www.terraform.io/docs/providers/aws/r/iam_group_membership.html) will remove all the members that are not specified in the resource.

But this can be a problem if the group is not completely managed by terraform because any reason.

For instance, in our case we use groups to allow some team members create new users to access only codeco

[2016-03-22 14:10] atward commented on #5610
source_profile/role_arn is not supported by aws-sdk-go. This is a dupe of #1275.

[2016-03-22 14:24] atward commented on #1275
Ideally this would be supported via profiles similar to [aws-cli](http://docs.aws.amazon.com/cli/latest/userguide/cli-roles.html)

    [profile marketingadmin]
    role_arn = arn:aws:iam::123456789012:role/marketingadmin
    source_profile = default
    mfa_serial = arn:aws:iam::123456789012:mfa/jonsmith

Changes need to happen to aws-sdk-go upstream to support similar config to aws-cli/botocore
(

[2016-03-22 14:43] toddnni opened #5780 "openstack: Instance resize doesn't work if flavor_name is changed"
Instance resizing doesn't work if **flavor_name** is changed. However, resize does work if **flavor_id** is changed.

The error message received from API is
[code]

To my understanding it doesn't work, because in **resource_openstack_compute_instance_v2.go** the update function uses **getFlavorID()** to get the a new flavor ID when either **flavor_id** or **flavor_name** is changed, and the functi

[2016-03-22 14:47] #5776 closed

[2016-03-22 14:48] jtopjian commented on #5780
Good catch :smile:

[2016-03-22 14:51] phinze commented on #5440
Hi Seth - I ran through your example terraform configs 3-4 times with full apply/destroy and was unable to  reproduce. Happy to dig in further if we can figure out a bit more about the conditions for reproduction.

[2016-03-22 14:55] leigh507 commented on #4926
Hmmm, I am running 0.6.13 and i still see the same issue.
Error applying plan:

1 error(s) occurred:

* aws_launch_configuration.launch_config: Error creating launch configuration: timeout while waiting for state to become '[success]'

After updating the AMI var to be the AMI ID rather than a reference to a global var set in platform.tf it works.

[2016-03-22 15:11] phinze commented on #5708
Hi @richardbowden - thanks for the report. Can you double check this on Terraform v0.6.14 released yesterday and let us know if the error persists there?

[2016-03-22 15:21] phinze commented on #5627
Okay, v0.6.14 contains several improvements to the `ignore_changes` behavior. I'm checking off the first two items from the list above and checking up on repro steps for the second two now. Take 0.6.14 for a spin and let me know what you find!

[2016-03-22 15:43] #5754 closed

[2016-03-22 15:44] phinze commented on #5754
Hi @dcloud9 - thanks for the report. This crash is fixed on master now. :+1:

[2016-03-22 15:47] mtougeron commented on #5627
ya! I'll upgrade today! :)

[2016-03-22 16:36] sethvargo commented on #5440
Hey Paul - I gave you access to the Terraform logs and failed runs in Atlas. Thanks!

[2016-03-22 16:36] dlanger commented on #5610
Alas - we should update the docs to remove references to this.

[2016-03-22 16:41] dcloud9 opened #5782 "v0.6.13 - remote-exec executes first inline record only"
Hi,
I've just updated to v0.6.13 from .12 and noticed only the first command of inline is executed then exits.
I've downgraded back to v0.6.12 and remote-exec executed all inline commands.
[code]

[2016-03-22 16:57] stack72 commented on #5782
Hi @dcloud9 - I believe this was fixed in the release of 0.6.14 (https://github.com/hashicorp/terraform/pull/5751)

If you upgrade to 0.6.14, that should sort out the issue

Please let me know if it doesn't

Paul

[2016-03-22 17:01] apparentlymart commented on #5750
Might be a pretty heavy cost to pay just to get this feature, but one way we could make this work is to finish up #4961, after which I was expecting that many of the AWS "Describe" APIs would get exposed as data sources. In this case, it might look something like this:

[code]

Again, this makes a relatively simple suggestion dependent on a big architectural change, which isn't great, but it does

[2016-03-22 17:03] dcloud9 commented on #5782
Sure @stack72 . I'll test in v0.6.14 and let you know.

[2016-03-22 17:11] stack72 commented on #5714
Hi @soulcutter,

apologies for not getting back to you sooner on this. We tried to clarify this behaviour in https://github.com/hashicorp/terraform/pull/4386

If you feel that it needs more clarification then we'd happily accept a PR :)

Paul

[2016-03-22 17:11] #5714 closed

[2016-03-22 17:14] soulcutter commented on #5714
Thanks for your consideration! That documentation is helpful

Bradley Schaefer

[2016-03-22 17:20] DaveBlooman opened #5783 "Provider link is broken"
Not sure where the consul provider link is supposed to go on this page, https://github.com/hashicorp/terraform/tree/master/examples/consul, but it leads here, https://github.com/hashicorp/terraform/blob/master/docs/providers/consul/index.html, which 404's.

[2016-03-22 17:23] dcloud9 commented on #5782
@stack72 I can confirm v0.6.14 fixed the remote-exec bug. Thanks.

[2016-03-22 17:23] #5782 closed

[2016-03-22 17:24] stack72 commented on #5782
Thanks for confirming @dcloud9 :)

[2016-03-22 18:05] #5783 closed

[2016-03-22 18:06] stack72 commented on #5783
@DaveBlooman this has been fixed and pushed to master

Thanks for pointing out the broken link

[2016-03-22 18:42] stack72 commented on #1313
The [documentation](https://www.terraform.io/docs/providers/aws/r/security_group.html) has been updated to reflect ICMP. I am going to close this issue. If you feel that the documentation is not as clear as it can be, please let us know

Thanks

Paul

[2016-03-22 18:42] #1313 closed

[2016-03-22 18:43] stack72 commented on #2491
Hi @jkodroff
Apologies this slipped through the net. For best practices around multiple environments have a look here

https://github.com/hashicorp/best-practices/tree/master/terraform

Sorry again for the time this took!

Paul

[2016-03-22 18:43] #2491 closed

[2016-03-22 18:48] stack72 commented on #4292
Hi @kitsunde

There is no default value on `associate_public_ip_address` as @jianhuawuchn correctly points out. When in a VPC, you can specify a value for this but any configuration in your subnet declaration can override this

E.g

A Private Subnet has the following config:

[code]

This will mean that you will not get a public ip regardless of specifying `associate_public_ip_address = true` in a

[2016-03-22 18:48] #4292 closed

[2016-03-22 19:05] multilinear commented on #5642
I ran in to the same issue, so I wrote a patch for it including a couple of other fields and tests. ^

[2016-03-22 19:27] dagnello opened #5790 "openstack change floating ip error"
** Terraform Version: 0.6.13**
    Resource ID: openstack_compute_instance_v2.my_vm.0
    Mismatch reason: attribute mismatch: floating_ip
    Diff One (usually from plan): *terraform.InstanceDiff{Attributes:map[string]*terraform.ResourceAttrDiff{"floating_ip":*terraform.ResourceAttrDiff{Old:"15.184.138.128", New:"${element(openstack_networking_floatingip_v2.my_floating_ip.*.address, count.index)}

[2016-03-22 19:39] jtopjian commented on #5790
Thanks for reporting this. Since this involves `count` and `element`, I want to point out #3449 which is a bug that affects all types of computed/interpolated resources.

However, I'd be happy to try to reproduce this on my end. Can you provide the before and after Terraform configurations? In your description you said "The error happened when I changed my Terraform file" -- can I see both the ori

[2016-03-22 20:41] cbroglie opened #5791 "aws: Support step scaling autoscaling policies"
The `aws_autoscaling_policy` resource only supports simple scaling, but the AWS Go SDK supports  step scaling (https://github.com/aws/aws-sdk-go/blob/9da4345e8a55ca7e7e018d367e628aa002ad1de8/service/autoscaling/api.go#L4818).

[2016-03-22 20:42] nickithewatt commented on #5627
Thanks @phinze

I did test with 0.6.14 (using the same setup as described in my original issue https://github.com/hashicorp/terraform/issues/5294) and unfortunately it still does not work for me :( Infact it actually breaks slightly worse now ....

Having done a successful `terraform apply`, I modified a variable within of the the template resources which in turn serves to generate the input for t

[2016-03-22 20:46] mtougeron commented on #5627
For me adding the ignore of `image_name` (using the `openstack_compute_instance_v2` resource) worked as expected.

[code]

[2016-03-22 20:47] gdhagger opened #5793 "azurerm_virtual_machine broken in 0.6.14"
I'm attempting to use the new azurerm_virtual_machine provider in 0.6.14 however I cannot find any combination of options that will result in the successful launch of a vm.  I just get a 400 Bad Request response from Azure whatever I try.

This even appears to be broken using the example from the documentation - per the output below:

[code]

Getting this provider fixed would MASSIVELY increase my

[2016-03-22 20:50] gdhagger commented on #5793
Attached is the terraform file that was used for the above (with redactions of private info)
[test.tf.txt](https://github.com/hashicorp/terraform/files/184966/test.tf.txt)

[2016-03-22 21:10] stack72 commented on #5793
Thanks for the bug report @gdhagger. This is a brand new resource so i will try and debug your configuration to see what the issue is

[2016-03-22 21:24] stack72 commented on #5793
Hi @gdhagger

So I have been able to debug this (using charles proxy) and found the following:

[code]

This actually relates to the following:

[code]

take out the %d from that and it works. This is my fault with the documentation - I will update that immediately! I will also open a PR to add some validation toe the computer_name for both linux and windows machine types

Paul

[2016-03-22 21:44] stack72 opened #5796 "provider/azurerm: Virtual Machine Compute_name validation"
We need to add some validation to the `azurerm_virtual_machine` computer_name

the SDK swallows errors so we should try and help the users out by pre-validating the computer_name

Reported in #5793

[2016-03-22 21:54] stack72 commented on #3703
This was merged in #3704

[2016-03-22 21:54] #3703 closed

[2016-03-22 21:56] stack72 commented on #5791
There is a PR already open for this

https://github.com/hashicorp/terraform/pull/4277

[2016-03-22 21:57] stack72 commented on #4600
This isn't going to be fixed for the forseeable future according to the Azure-sdk-for-go repo

[2016-03-22 21:57] #4600 closed

[2016-03-22 22:08] iceycake opened #5797 "Missing RDS Event Subscription"
Looks like we are missing RDS Event Subscription.  Looks like potential feature enhancement?

[2016-03-22 22:35] stack72 commented on #5797
http://docs.aws.amazon.com/cli/latest/reference/rds/create-event-subscription.html

[2016-03-22 22:53] Dchamard opened #5798 "Export ASG and ELB information for beanstalk environments"
For my use case to create cloudwatch alarms on the ELB and ASG that beanstalk created, i actually need the resources information. Right now terraform, do not export these informations after beanstalk environment creation. This is a limitation  that blocks us to create cloudwatch alarms on beanstalk environments with terraform.

[2016-03-22 23:04] dharrisio commented on #5798
At a quick glance this looks like it should be pretty easy to do for the ELB, as this info is returned in the describe environment api. (http://docs.aws.amazon.com/elasticbeanstalk/latest/api/API_EnvironmentResourcesDescription.html)

The ASG may be a bit more difficult to correlate with a specific environment.

[2016-03-22 23:04] CaptBeardie commented on #3218
+1

[2016-03-22 23:14] Dchamard commented on #5798
Looks like this call might do it?
http://docs.aws.amazon.com/elasticbeanstalk/latest/api/API_EnvironmentResourceDescription.html

[2016-03-22 23:25] mengesb opened #5799 "outputs not waiting for terraform completion"
I've noticed some irregular performance since 0.6.12 to current that the outputs.tf sourcing of files doesn't always happen.

Terraform 0.6.14 consistently doesn't wait long enough, and I always have to `terraform refresh` to get the full outputs generation:

[code]

The 'credentials' output is `"${file(".delivery/credentials.creds")}"`, which sources a file that doesn't exist at the begining of t

[2016-03-22 23:38] dagnello commented on #5790
no problem @jtopjian.  This was my Terraform file before:

provider "openstack" {
  user_name  = "${var.user_name}"
  tenant_name = "${var.tenant_name}"
  #password  = "${var.password}"
  auth_url  = "${var.auth_url}"
}

resource "openstack_compute_keypair_v2" "my_keypair" {
  name = "SSH keypair for Terraform instances"
  region = "${var.region}"
  public_key = "${file("${var.ssh_key_file}.pub")}

[2016-03-22 23:50] cdorros opened #5800 "Allow assignment of security_group_rule to multiple security_group objects"
The work done here to create the new security_group_rule type is hugely appreciated - solved many cycle issues I was having:
https://github.com/hashicorp/terraform/pull/1620

It would be extremely useful to be able to assign security_group_rules to multiple security_groups, to allow for re-use. Additionally, inverting the assignment by allowing an array of security_group_rules to be defined in the

[2016-03-23 00:20] gdhagger commented on #5793
Paul,

That fixed the example for me, however I'm still receiving the same error report with my "real world" code.

Have charles setup - but struggling to get terraform to accept the charless SSL cert. Any tips?  Would like to add here if what I'm encountering is still a bug.

[2016-03-23 00:38] dhermans commented on #5683
Hi,
sorry - here is a clearer example ( hopefully )..

say i have a template_file resource defined:
resource "template_file" "sample-userdata" {
   template = "${file("sample-userdata.template")}"
   vars {
      SetupBucket = "${var.SetupBucket}"
      ConfigDir   = "${var.stackname}"
   }
}

which is referenced in a launch config or instance:
user_data = "${template_file.sample-userdata.rendered

[2016-03-23 01:03] justinhennessy commented on #2136
Yep, I can confirm this, made me a sad panda, I have rolled back to 0.6.11 and the issue has gone away.

[2016-03-23 01:13] ctiwald commented on #5791
Any guidance someone can give me on getting #4277 merged I'd deeply appreciate. It's been open for months and as far as I know is good to go.

[2016-03-23 02:59] justnom commented on #2997
You need to set the EIP to attach to only the network interface and not the instance:

If that has already been done - then just make sure that there is a un-assigned private IP address on the ENI.

Example:
[code]

[2016-03-23 03:12] tjlee0909 commented on #4129
This is slightly embarassing, but at Box we actually have an image that is so large that it takes close to an hour to provision, depending on network traffic and whether or not that particular KVM host has a cached version of the image or not.

Do you know if there are any immediate plans to support timeouts? We are currently evaluating terraform to see if it fits out requirements.

[2016-03-23 03:24] jtopjian commented on #4129
@tjlee0909 I'm going to re-open this question and investigate options.

[2016-03-23 03:26] jtopjian commented on #4429
Sorry for the late reply with this.

At this time, it's not possible for Terraform to automatically taint a resource. It must be done by the user. Since this would be a core feature, I'm going to close this issue for now.

[2016-03-23 03:26] #4429 closed

[2016-03-23 03:40] jtopjian commented on #4430
Again, sorry for the late reply.

I've done some more investigation and came up with similar results as before: a token will be created for an entire Terraform phase (such as plan, refresh, apply, destroy). There's no current way to authenticate during one phase and store that information for another phase.

And similarly, authenticating with a token in Gophercloud only generates a new scoped toke

[2016-03-23 03:40] #4430 closed

[2016-03-23 03:59] twashing commented on #5740
Thanks for addressign this Jen. Hope the report was helpful.

[2016-03-23 07:09] pryorda opened #5802 "OS_AUTH_TOKEN/API_KEY issue with openstack provider"
No matter if I use keystone v2 or v3 I continue to get this failure ( * The base Identity V2 API does not accept authentication by APIKey) when connecting using APIKEY/AUTH Token . Any guidance is appreciated.

(1:527)$ terraform --version
Terraform v0.6.14

Error refreshing state: 1 error(s) occurred:

* The base Identity V2 API does not accept authentication by APIKey

[2016-03-23 07:32] autotune commented on #4926
Hey all,

Using @imacube debug suggestion I found out it's looking for the specific provider to be specified somewhere, so in my example:

2016/03/23 00:30:41 [DEBUG] vertex provider.aws (close), waiting for: aws_launch_configuration.apses1
2016/03/23 00:30:41 [DEBUG] vertex root, waiting for: provider.aws (close)

    brian$ head -n5 main.tf
    # Configure AWS provider

    provider "aws" {

[2016-03-23 09:02] alexander-balashov commented on #2136
I faced with same problem after updated from v0.6.11 to v0.6.14.

[code]

part of config:

[code]
log list after executed `terraform apply`
[code]
Error disappears when second execute `terraform apply`

[2016-03-23 09:05] lmeyemezu commented on #5793
My configuration is below
os_profile {
    #computer_name = "hostname%d"
    computer_name = "vmtest1"
    admin_username = "testadmin"
    admin_password = "Password1234!"
  }
but i have the same issue
failed with 400 Bad Request

[2016-03-23 09:39] Shruti29 commented on #3654
Running terraform 0.6.13 and still hitting this issue.
This happens for only some AMIs.

[2016-03-23 10:01] jumping opened #5803 "spot instances without public ip in a vpc"
I am using the latest, but still have this problem when bidding spot instances in an VPC, only the private ip.
[code]
The output of  ```terraform plan```
[code]

[2016-03-23 10:25] stack72 commented on #5793
Hi @lmeyemezu

Please can you post your config (minus secrets) so that I can try one too?

Paul

[2016-03-23 10:26] stack72 commented on #5793
@gdhagger how does the code in the example differ from your code?

[2016-03-23 11:06] netflash commented on #3108
+1  cross-region replication / lifecycle

[2016-03-23 11:22] keymon commented on #5744
Just FYI, I paste here a workaround for this case:

[code]

[2016-03-23 11:56] gdhagger commented on #5793
@stack72 the block giving issues is as follows:

[code]

The issue appears to be with the ssh_keys block.  It's unclear from the docs what 'path' actually means in this context, and from experience I've found Azure to be picky about the format of the ssh public key.  I've tried both ssh pubkey format, and x509 pem public keys (as seen here) to no avail.

Still trying to get my proxy working so I c

[2016-03-23 12:02] stack72 commented on #5793
@gdhagger try following this example

[code]

Path seems to be the path to store the key on the VM

[2016-03-23 12:03] stack72 commented on #5791
Hi @ctiwald

I will review this today / tomorrow and see if we can get it merged :)

P.

[2016-03-23 12:04] stack72 commented on #5791
@cbroglie I am closing this so that we can track progress in the original PR :)

[2016-03-23 12:04] #5791 closed

[2016-03-23 12:15] keymon commented on #5778
Here are some example cases using AWS cli

# Case one, adding one user

Lets assume I define one membership of one user in a group with already 4x users:

[code]

And I apply this file:

[code]

The first run will be OK, it only adds the user once.... But the second run, as it has updated with the tfstate, it will wipe all the other users!:

[code]

# Second case, conflicting memberships

With the

[2016-03-23 12:26] borsboom commented on #2997
@justnom: Hmm, that doesn't work for me.  I copied and pasted exactly your configuration, only adjusting the IP addresses an subnet/instance IDs, and I still get the same error ([full output here](https://gist.github.com/borsboom/8435f89b67b168046a38)).  Which version of TF are you using?  I'm on the latest (0.6.14).

[2016-03-23 13:10] gdhagger commented on #5793
@stack72 can you translate that into terraform format?  I've tried but am failing.  Also, setting 'path' to '/home/admin/.ssh/authorized_keys'  isn't helping.

[2016-03-23 13:12] stack72 commented on #5793
[code]

I don't think you can set it as an authorized key as that is a file in itself - you would need to do that with a custom_data script AFAICT

[2016-03-23 13:16] stack72 commented on #5803
Hi @jumping

Are these instances getting launched in a VPC? If so, can you show a sample of the code that creates the VPCs and subnets they get launched into?

Pau

[2016-03-23 13:39] gdhagger commented on #5793
OK... I got charles working - here's what I found:

admin_username = "admin" results in:

[code]

ssh_keys path set to '/tmp/' gives:
[code]

setting it to '/tmp/foo' reveals this:
[code]

fixing that, with a PEM formatted public key I got:
[code]

this appears to have worked - the vm now exists in azure (though i've screwed up the network so I can't test ssh right now.... doh!)  but terraform is

[2016-03-23 13:42] lbernail commented on #1845
A richer templating engine would definitetly help!
:+1:

[2016-03-23 13:56] jumping commented on #5803
Yes, the instances are launched, but no public ip.
[code]

[2016-03-23 14:00] catsby commented on #4977
Hey all – I'm going to close this for now. I agree with @stack72 here, I don't believe this is a Terraform bug. Thanks!

[2016-03-23 14:00] #4977 closed

[2016-03-23 14:06] catsby commented on #2171
Closing as a duplicate of #1226, and as @ryanking mentioned it looks like this is implemented in #5637!

[2016-03-23 14:06] catsby commented on #3176
Looks like this is implemented in #5637! We'll review and get that in if possible.
Thanks!

[2016-03-23 14:27] catsby commented on #2471
Hey all – this was fixed in #5100.

Example:

[code]
no longer produces a diff

Thanks!

[2016-03-23 14:27] #2471 closed

[2016-03-23 14:33] stack72 commented on #5793
@gdhagger OK good news on finding those azure messages. These will form part of the validation

With regards to the ssh key address, this is indeed a bug!! So that needs fixed. Will work on that immediately so thanks for finding it

Your example will help me add a regression test in place so thanks for that

[2016-03-23 14:50] stack72 commented on #5803
Hi @jumping

Apologies, I should have been a little more clear - can you describe to me the subnet in which they are being launched? Is it a subnet where public IPs are not assigned (i.e. a private subnet)

If so, then regardless of `associate_public_ip_address = true`, AWS will not assign it a public ip

Paul

[2016-03-23 14:50] catsby commented on #3077
Hey @nimbusscale – I apologize for not getting to this for MONTHS!

I've gotten to reproduce this, and I believe it's because `protocol` should be a `String`, not an int.

I get no error with this:

[code]

I do though if you use `6` and not `"6"`. Oddly enough, if I have just _one_ ingress block with `6`, I get no issue.

I'll look into this in a few, maybe @phinze has an idea too..

[2016-03-23 15:07] jtopjian commented on #5802
Hi there,

Yes, thank you for pointing this out. It's been something I've been meaning to look into and resolve. The `api_key` attribute was accidentally added as a way to enable token authentication, but `api_key` serves a totally different purpose: it acts as a secondary password for specialized OpenStack environments such as Rackspace.

AFAIK, the vast majority of OpenStack environments do not

[2016-03-23 15:21] pryorda commented on #5802
Is there a way to use OS_AUTH_TOKEN rather then password? #4430 did not really go into any details of what values need to be set for it to work.

[2016-03-23 15:27] tkellen opened #5805 "introspecting resource names"
Is there any way to do this?

[code]

[2016-03-23 15:32] jtopjian commented on #5802
At this time it's not possible to use `OS_AUTH_TOKEN` rather than a password. The testing I did in #4430 either reported the generated token from the username/password combination or was a test with Gophercloud directly.

I can look into adding `OS_AUTH_TOKEN` functionality, but with the understanding that specifying a token will simply create another token once authenticated. I just want to be ex

[2016-03-23 15:38] pryorda commented on #5802
Yeah that would be fine. Tokens in source files usually expire, passwords are permanent. We are trying to get by having to store the password, but still allow it be automated without having to prompt for a password. We got past this by storing the password as an ENV variable and would like to remove this and just use a auth_token/username pair.

BTW, Thanks for all the fast responses. This is the

[2016-03-23 15:41] jtopjian commented on #5802
No problem at all - It's all in the gmail filters :wink:

This sounds good and as I wrote out my last response even wondered why it hasn't been done yet. I'll put this on my TODO.

[2016-03-23 15:41] rvangundy commented on #2832
@arohter's solution works well when creating new resources, however if you later remove a module from your configuration and run `terraform apply`, the provider is lost and those resources can't be destroyed.

In my case the AWS environment variable fix doesn't work. I'm using S3 remote states using buckets in a different AWS account than the one I'm applying against (remote state uses the default

[2016-03-23 15:46] Gary-Armstrong opened #5806 "Observed inconsistency in remote-exec"
I have a set of five "things" that I want done to instances on instantiation.  I'm pretty sure my TF code is solid:
[code]
I definitely have the passwordless sudo set up.  I also know that ssh and sudo and such work because I've seen evidence of some of those commands executing on the instance.  They don't ALWAYS execute, however.

I've been testing the above debuggy TF code today and I'm consiste

[2016-03-23 15:47] phinze commented on #5806
Hi @Gary-Armstrong - this looks like the shape of a bug that snuck into 0.6.13 and was fixed in 0.6.14 - what version of Terraform are you using when you see this behavior?

[2016-03-23 15:55] Gary-Armstrong opened #5807 "Error waiting for instance to terminate"
Background info:
1. Instance type is i2.4xlarge.
2. These take a while to terminate.
3. Usually this happens without error.
4. Today I got one error.  Disrupts the workflow.
5. Instance did actually terminate; confirmed via AWS Console.

This seems pretty straightforward.  I need a longer timeout.  Can I configure these myself?  Maybe I don't want to wait 15 minutes for a t2.micro, but for a i2.4x

[2016-03-23 15:58] Gary-Armstrong commented on #5806
Using 0.6.13 but give me a few minutes and I'll be using 0.6.14!

[2016-03-23 16:42] MarsuperMammal commented on #5762
I've actually run into this quite a bit today as well. At least in my specific case, I've determined the following.

The code I'm executing creates a VPC, and also creates a network acl. The network acl in my case is failing to be deleted, as it's running before the individual subnets are re-associated with the default network acl.

![screenshot 2016-03-23 12 34 33](https://cloud.githubusercontent

[2016-03-23 17:04] danielcbright commented on #1406
Thanks @daniel-bryant-uk :)

@JulienChampseix at this point I think the more people who can test and comment on the existing PR the better, the open PR is here https://github.com/hashicorp/terraform/pull/4327. Please let me know of any bugs/issues you find. The other thing of note is that this is going to be a community supported provider for Hashicorp, based on @mitchellh 's blog post earlier thi

[2016-03-23 17:23] phinze commented on #5762
Thanks for the extra details here, @MarsuperMammal.

Yeah the difficult part is that the AWS Web Console has a bunch of code for "cleaning up dependencies" when you click Delete for a VPC - code that is unexposed via the API.

So it sounds like this might be the root of the problem here:

I think we should be able to cook up some reproducing config around that problem.

[2016-03-23 17:31] MarsuperMammal commented on #5762
I actually got irritated enough with the error messaging coming out of the SDK that I opened an AWS support case last night. The response I got was roughly "We've heard requests for a --all-dependencies flag to be added to the aws ec2 delete-vpc CLI command, because the button in the console uses some unexposed magic to clean dependencies."

I would think you should be able to repro with just a te

[2016-03-23 17:34] gdhagger opened #5809 "azurerm_subnet is broken in 0.6.14"
This is due to a bug in upstream azure-sdk-for-go which I've reported here https://github.com/Azure/azure-sdk-for-go/issues/297

Azure responds with this when you try to create a subnet:
[code]

[2016-03-23 17:54] cricketlong opened #5810 "New plugin for OTC(Open Telekom Cloud)"
Deutsche Telekom has published its own cloudplatform, is it time to make a new plugin for it? Though it's based on openstack, Deutsche Telekom would specialize its funtionalities.

[2016-03-23 18:15] cbroglie commented on #5791
Works for me, thanks

[2016-03-23 18:43] nextrevision commented on #5394
I added a few resources a little while back when it was called tutum in a PR that is still open (#4353). It just needs to be refactored (and retested with Docker Cloud).

[2016-03-23 19:12] gdhagger commented on #5809
Not actually broken - some of the computed values I was using from terraform appear to be causing the breakage.  Error message is just grossly misleading.

[2016-03-23 19:12] #5809 closed

[2016-03-23 19:27] alexpbrown opened #5812 "Redeploy terraform.io website"
Given that [my PR](https://github.com/hashicorp/middleman-hashicorp/pull/23) was merged, I _think_ the terraform.io website just needs a rebuild/redeploy for the changes to take effect.

Most noticeable thing fixed will be that links on pages like [this](https://www.terraform.io/docs/configuration/interpolation.html) will have working anchor links again for all of the list-items.

[2016-03-23 20:05] Gary-Armstrong commented on #5806
This is fixed in 0.6.14

[2016-03-23 20:05] #5806 closed

[2016-03-23 20:06] grayaii opened #5815 "terraform plan requires write access to s3"
Our TF state files are in s3.
We have a nightly jenkins job that runs "terraform plan" to see if anything has changed, and if so, we get alerted.

Unfortunately "terraform plan" requires s3 WRITE access.

We don't want terraform plan WRITE access to the state files because we don't want them inadvertently modifying the state files.

[code]

Does "terraform plan" REALLY need s3 write access?

[2016-03-23 20:16] pearkes commented on #5812
Will also need a `bundle update middleman-hashicorp`.

[2016-03-23 20:43] catsby commented on #5810
Hey @cricketlong – we're always willing to consider new providers, however we can't guarantee we'll bundle them with Terraform itself. If you or others are interested in this provider, please checkout the [Contributing Guide][1], which covers contributing (including Providers).

Even if a provider is not bundled and distributed with Terraform itself, 3rd party plugins are still possible as mention

[2016-03-23 20:43] #5810 closed

[2016-03-23 20:52] phinze commented on #5568
@rodlogic Terraform 0.6.14 [is using aws-sdk-go v1.1.12](https://github.com/hashicorp/terraform/blob/v0.6.14/Godeps/Godeps.json#L225) released 6 days ago. I believe that should have the proper behavior now. Are you able to re-test this with 0.6.14?

[2016-03-23 21:13] phinze commented on #4186
@rklyne by any chance was your trouble with v0.6.13? That release did have a bug with remote-exec that has been fixed in v0.6.14, so I'd encourage you to double check with the latest release. :+1:

[2016-03-23 21:18] phinze commented on #5537
Hey folks, sorry for the lack of update on this issue and for the trouble that these confusing error messages have caused!

Terraform v0.6.13 did include several core improvements that prevented timeout errors from masking other error messages in the majority of configs. I'm fairly certain that on the latest Terraform (v0.6.14) you should see access denied and validation type error messages displa

[2016-03-23 21:18] #5537 closed

[2016-03-23 21:28] phinze commented on #4112
Hi @ryanl-ee - the core team is at a bit of a loss at the moment since we are without a vSphere environment for testing. We're working on that, but progress is slow!

It's possible that https://github.com/hashicorp/terraform/pull/5558 might have improved things somewhat in Terraform v0.6.14 - can you give that version another shot to see if `remote-exec` behaves better for you there?

[2016-03-23 21:33] jen20 commented on #5815
Hi - right now this is the case - though you could plan by copying the state locally and running it from there. There is a roadmap item likely to hit in 0.7 which prevents creating a new state version on plan.

[2016-03-23 21:34] dharrisio commented on #5798
@Dchamard you're right, I only saw the EnvironmentResourcesDescription when I originally looked at this.

[2016-03-23 21:46] AwaNoodle commented on #5399
I've been having the same issue with 0.6.12 and 0.6.14. I've tested on Windows and Mac with the same results. I have a simple Azure network with a single subnet, one security group, storage. No VMs as yet.

[crash.log](https://gist.github.com/AwaNoodle/86373a42a6cdc72ded5e)

If you need the scripts, let me know.

[2016-03-23 22:01] jumping commented on #5803
@stack72  the subnet has "Auto-assign Public IP: no", is it means a private subnet ?

[2016-03-23 22:11] stack72 commented on #5803
yes - I believe there is no way that you will get a public ip in that subnet. You can test this by manually launching an instance into that subnet and asking for a public ip

you will need to change and use a public subnet (Auto-assign Public IP: yes)

[2016-03-23 22:12] lmeyemezu commented on #5793
Hi @stack72 ,
Sorry for the delay..
It's working now. my corporate proxy was misconfigured.
Regards

[2016-03-23 22:17] jumping commented on #5803
@stack72  When processing manually, there are three options can be selected on the "Auto-assign Public IP": 1. Using subnet setting(disable); 2.Enable; 3.Disable.

[2016-03-23 22:27] #5812 closed

[2016-03-23 22:34] phinze commented on #4865
Sorry I haven't been able to get to this yet - just noting that this is still on my (ever-shuffling) stack! :ok_hand:

[2016-03-23 22:34] sheldonkwok opened #5819 "aws_main_route_table_association removal does not update main_route_table_id in tfstate"
Initially, I used an aws_main_route_table_association to use a new route table as my main route table but later removed this resource. This successfully changed the route table back to the original one on removal but the tfstate file still references the changed route table id from the old resource.

[code]

[2016-03-23 23:06] phinze commented on #3754
Still going back and forth with AWS Support on a thread - after some talking past each other, I believe we're understanding each other now and nearly have a conclusion. Will report back with my findings soon.

[2016-03-23 23:12] phinze commented on #5180
Hi @pizzaops - my apologies for not getting around to this yet - we're still without an official Terraform vSphere Provider maintainer so vsphere issues are slower going.

Do you still experience this crash on Terraform v0.6.14? Can you also include the config that produces the crash for you?

[2016-03-23 23:17] phinze opened #5820 "Allow Azure ARM instances to Join Domains"
Looks like this is functionality we had in ASM that we don't yet have in ARM.

Here is a blog post that describes the API - I think! :smile:

https://blogs.msdn.microsoft.com/igorpag/2016/01/25/azure-arm-vm-domain-join-to-active-directory-domain-with-joindomain-extension/

[2016-03-23 23:18] phinze commented on #5820
Ping to @stack72 :heartbeat:

[2016-03-23 23:27] rbachman commented on #5767
I want add additional context around this problem.  This isn't an issue in just the use case outlined above, but anytime a lambda resource with a vpc_config is created using Terraform.  I have been in contact with AWS about this behavior and it is an intended design of their service to allow network ENI re-use to make the service more efficient.

Per AWS:

Knowing this makes me believe that runnin

[2016-03-24 00:02] chrisdcampbell opened #5821 "Terraform consule module fails during provisioning with 'remote-exec' (/usr/bin/env: bash : No such file or directory)"
Terraform v0.6.14
Consul Module is latest from today

Running terraform apply with a .tf file that contains the consul module. The process ends prematurely with node-0 and consul-0 VMs up and running.

**.tf**
<pre><code>provider "aws" {
  access_key = "${var.access_key}"
  secret_key = "${var.secret_key}"
  region = "${var.region}"
}

resource "aws_instance" "node" {
  ami = "${lookup(var.amis, v

[2016-03-24 00:09] chrisdcampbell commented on #5821
Manually reverting this commit https://github.com/hashicorp/consul/commit/071631dc164d06dd7448a16f1365dd95cb633302 fixes my problem.

[2016-03-24 00:22] rsspig commented on #5442
Thanks for the updates guys, Not sure why I fogot to sub to this. I really appreciate the advice and resolution.

_Not much surprise the source of the confusion is incorrect AWS documentation._

[code]

[2016-03-24 03:41] ketzacoatl opened #5822 "AWS rate limiting APIs on TF resource refresh?"
I use TF on AWS with tokens for MFA. This usually works well. Recently, I have run into many token forbidden/403 errors. After vetting all of my MFA bits and pieces, I eventually figured out I could work around the issue with `-target`. Fast forward a little more, and I think I have an idea of what's going on.

If I use `-target`, I am limiting the number of resources Terraform is working with. If

[2016-03-24 04:13] madhurranjan opened #5823 "AWS autoscaling group notification issue"
Facing the following issue while trying to set notification in SNS for ASG.  I've a previously created SNS and want all my ASGs to post to that SNS. Below is the output:

[code]

Below is the snippet for notification:

[code]

[2016-03-24 05:38] dmitryint commented on #4393
I try to create two Lambda functions, run it by the scheduler.

However, I ran into a problem.

Here is my code:

[code]

Terraform is able to successfully create the necessary infrastructure.

But the connection between Cloudwatch scheduled event and Lambda functions not being created correctly.

And therefore lambda functions are not triggered by the event scheduler.

![2016-03-24 8 33 00](https

[2016-03-24 06:40] bilal-fazlani commented on #4797
+1. It would be great to have this enhancement

[2016-03-24 07:34] rklyne commented on #4186
My trouble was with 0.6.12 as well.
I have retried the steps I listed above and they did not reproduce the problem this time.
I don't think this is the same problem as was found in 0.6.13 but I can't reproduce so close this one if you like.

[2016-03-24 09:32] rainmanh commented on #4165
having similar problem:
* Attaching the same policy to 2 different users works when applying the1st time.
* If applying a second time it detaches the policy from the users.
* It re-attaches the policy if applying a 3rd time..

[code]

[2016-03-24 09:38] FransUrbo commented on #5423
*bump* Anything about this yet? It's really annoying :)

Btw, I now run latest git (```Terraform v0.6.15-dev (b20f680cbf0505825e6ae173c5986243683d8eb3+CHANGES)```).

[2016-03-24 11:30] dene14 opened #5825 "Password inconsistency between config and state"
Not sure whether it feature or bug... assuming latter:

Met this in "aws_db_instance" resource:
password = "pa$$w0rt"
resulting in
password: "pa$w0rt"

for both state file and online configuration.

[2016-03-24 11:31] loicalbertin commented on #4686
HashiCorp guys working on terraform (@phinze, @mitchellh, @catsby, @jen20, ...) what do you think about this idea of a new docker connection type ?

Thanks in advance for your feedback.
Loïc

[2016-03-24 11:49] WesleyCharlesBlake commented on #5503
To confirm, if you have more than one resource, you need to loop through the resources in your `aws_volume_attachment` definition, eg:

[code]

Not a bug, but interpolation error. @catsby is right though, the interpolation docs are pretty clear in this regard

[2016-03-24 13:45] codymccain commented on #516
+1

[2016-03-24 14:08] allandrick commented on #581
This is a bit of a show stopper for my application - I don't want to edit the tfstate if I can avoid it...  any update on whether this will be moving forward in one form or another?

[2016-03-24 14:28] Gary-Armstrong opened #5826 "core: prevent_destroy does not prevent destroy when caused by reducing the count"
I do not know if this is a documentation bug or a TF bug or a bug in my expectations.

The situation is that I'm using instance count variables to create/destroy instances.  I also am working hard on finding a way to have EIPs persist during instance termination.  Well, `prevent_destroy = true` seems like what I want.  Also due to that "diffs don't match" issue, I feel like `ignore_changes` is als

[2016-03-24 14:43] robcoward commented on #5160
I cant get to the bottom of the cause of this and cannot at this time reliable replicate it. My gut suspicion is that the vCloud API is returning an error or an unexpected response when terraform performs a refresh, so it assumes the resource is no longer available and removed it from the state file.

I'm going to close this for now and will raise a new issue if I can provide anything more substan

[2016-03-24 14:43] #5160 closed

[2016-03-24 14:44] lmeyemezu opened #5827 "error creating vnet/subnet azurerm resource in 0.6.14"
Hi,
cannot create a vnet (10.10.0.0/16) and subnet (10.10.10.0/24).
terraform plan gives
+ azurerm_virtual_network.af-vnet1
    address_space.#:     "" => "1"
    address_space.0:     "" => "10.0.0.0/16"
still gives the values provided in website examples .is it hardcoded ?
Regards

[2016-03-24 14:47] gottwald opened #5828 "element function on list of rendered templates fails with incorrect data"
I am experimenting with terraform and found something that looks like a bug when using templates in combination with count and the element function.

I've got a var definition like this:

[code]

And I render cloud instance start scripts as templates like this:

[code]

And with that, I create GCE instances like so:

[code]

Somehow the metadata_startup_script attribute is set to the value `mesos-

[2016-03-24 16:00] stack72 commented on #5827
Hi @lmeyemezu

Please can you post the config that you used to try and make this?

Paul

[2016-03-24 16:01] lmeyemezu opened #5829 "azurerm 0.6.14 400 Bad Request creating nic"
Hi,
I get  following error whenever i try to create a nic
autorest:DoErrorUnlessStatusCode 400 PUT https://management.azure.com/subscriptions/xxxxxxx/resourceGroups/xxxx/providers/Microsoft.Network/networkInterfaces/af-jenkins-dev-nic1?api-version=2015-06-15 failed with 400 Bad Request
my configuration is below
[code]
Any idea ?

[2016-03-24 16:20] alexpbrown commented on #5812
Great! Does the website get redeployed on the same schedule as terraform releases? Or is there some separate trigger?

[2016-03-24 16:56] phinze commented on #5459
Hi again @davyt10 - happy to continue to work with you on this, but I'm going to close the issue for now. Let me know if you'd like to dig in further and I can reopen! :+1:

[2016-03-24 16:56] #5459 closed

[2016-03-24 16:59] personias opened #5831 "AWS RDS provisioning times out"
Appears similar to now closed Bug [#438-AWS RDS provisioning times out](https://github.com/hashicorp/terraform/issues/438) - needing larger or configurable timeout
May be fixed with the resolution of [#5161-Timeout on destroying rds with skip_final_snapshot = false](https://github.com/hashicorp/terraform/issues/5161)

When running the AWS Provider, RDS Oracle provisioning, with multi-AZ, the provi

[2016-03-24 16:59] personias commented on #5831
$ terraform version
Terraform v0.6.14

[2016-03-24 17:06] davyt10 commented on #5459
Hi Paul,

Thanks, the issue was my side.

On 24 March 2016 at 16:57, Paul Hinze <notifications@github.com> wrote:

[2016-03-24 17:14] joaocc commented on #5793
Not sure if this is right place to ask this.
But, it seems to me that it would be easier on everyone if those error messages could be made visible (instead of requiring network traffic sniffing).
I'm asking this because I already went through a lot of pain because of the difficulty in getting the original error message.
Is this a feature already planned? Or should I raise a feature request?
Thx

[2016-03-24 17:18] stack72 commented on #5793
Hi @joaocc

these messages are actually hidden by the SDK not by terraform. Terraform is returning the error's that the SDK returns
But i agree with you it is harder that expected

P.

[2016-03-24 17:24] BigCheeze45 commented on #5829
Looks like the subscription ID you provided is invalid:
`The subscription 'xxxxxxx' could not be found.`

[Take a look at this](https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/#authenticate-with-password---azure-cli) walkthrough on authenticating a service like Terraform to interact with your Azure subscription.

[2016-03-24 17:43] rodlogic commented on #5653
I am hitting the same issue.

I also noticed the same behavior when using the ```aws-cli``` indicating that this is the SDK's default behavior, which seems wrong imo. So it seems that terraform should catch this specific exception and keep going.

[2016-03-24 17:46] rodlogic opened #5832 "Missing instruction on how to build terraform on OSX"

[2016-03-24 17:47] joaocc commented on #5793
Hi @stack72.
So, do you think the nice people at the SDK can devise a way to make the messages more accessible?
Thx

[2016-03-24 17:49] richardbowden commented on #5440
Hello, i am seeing the same type of errors here, same as @sethvargo on destroy, i am using atlas.. happens every single time, in addition when using output blocks in main.tf those output blocks also error (not shown in the example)

hope this helps

[code]

[2016-03-24 17:50] stack72 commented on #5793
@joaocc

I am really desperate for that to happen too so we will certainly be lobbying them to do this

Paul

[2016-03-24 17:52] richardbowden commented on #5708
@phinze hey, the error persists on v0.6.14 I am trying to investigate in source, not having much luck at pin pointing the issue

[2016-03-24 18:06] phinze commented on #494
Just noting here that `ignore_changes` has landed, so a PR for a `timestamp()` interpolation function would be welcome!

[2016-03-24 18:28] shanhchen opened #5833 "Multiple environments with different security group"
We have a dev environment we want to set the white list on and the prod environment where all traffic should be allowed, then result security group id is feed into ELB. What is the best practice to solve this issue?

[2016-03-24 18:35] rodlogic opened #5834 "destroy on a stack in ROLLBACK_COMPLETE state doesn't work"
I have a stack created by Terraform that failed ending in the ROLLBACK_COMPLETE state.

When trying to apply again, I get the following:
[code]

When trying to destroy just this resource, I get the following:
[code]

1) I would expect destroy to delete the stack so that an apply can try again
2) Should an apply delete and create the stack? Probably not. At least the error is misleading.

[2016-03-24 18:36] rodlogic commented on #5834
The only workaround I know of is to manually delete the stack and manually delete the resource from the state file.

[2016-03-24 19:08] jonhatalla commented on #3941
With Terraform 0.6.13 also seeing this.

Using `taint` to recreate the instance

[2016-03-24 19:39] chrislovecnm commented on #4112
@ryani-ee can you assist with testing? The code changes are pretty simple actually.

[2016-03-24 19:41] chrislovecnm commented on #4112
@phinze I don't think #5558 would help, and we have to wait for vsphere to get the ip attached properly. This is probably a pure timing issue.

[2016-03-24 19:41] chrislovecnm commented on #4112
@phinze could be wrong ;)

[2016-03-24 19:42] rodlogic commented on #5834
Apologies, I just realized that I pasted the wrong resource name. I used ```aws_cloudformation_stack.ENV-LB``` instead of ```module.DEV-USEAST1.aws_cloudformation_stack.ENV-LB```.

I would have caught the mistake if the error message was more specific: i.e. the resource doesn't exist.

So closing as invalid.

[2016-03-24 19:42] #5834 closed

[2016-03-24 19:44] chrislovecnm commented on #4112
@ryanl-ee sorry I typo'ed your username. Would you be able to test for us?

[2016-03-24 19:46] artburkart opened #5835 "nat_gateways, ENI, and security groups"
Would it be helpful if I created a pull request for the [aws_nat_gateway](https://www.terraform.io/docs/providers/aws/r/nat_gateway.html) resource to depend on a custom defined [aws_network_interface](https://www.terraform.io/docs/providers/aws/r/network_interface.html)?

Right now it [only supports allocation_id and subnet_id](https://github.com/hashicorp/terraform/blob/1b3908633cbc6eb3cb7972550c

[2016-03-24 20:01] artburkart commented on #5835
Er, this may be user error. It doesn't appear the AWS console allows me to associate security groups with the ENI either, despite the fact that it gives me the option to do so.

[2016-03-24 20:12] artburkart commented on #5835
This was purely user error. I spun up an instance using an AMI that required special networking configurations that would never work in the environment I had.

For anyone else that comes upon this, the NAT gateway spins ups its own ENI and neither can have a security group assigned to them.

[2016-03-24 20:12] #5835 closed

[2016-03-24 20:23] phinze commented on #5050
Retested the above config on master just now. With the following added to the top to make it work as a stand alone config:

[code]

The SG destroy still does seem unable to sort itself out.

[code]

Looking into this further. Stay tuned!

[2016-03-24 20:35] ryanl-ee commented on #4112
@chrislovecnm Sure, I'd be happy to. What do I need to do?

[2016-03-24 20:39] chrislovecnm commented on #4112
@ryanl-ee I need to submit a PR and then we need to work together. Let me see if I can get the code done this weekend

[2016-03-24 20:54] chorrell opened #5836 "Error when creating tags with Triton provider"
I'm hitting an issue setting a tag for an instance using the Triton provider.

It works fine for simple tags like this:

[code]

But it fails with a tag like this:

[code]

The above tag sets a DNS name for the instance via the [CNS service](https://github.com/joyent/triton-cns).

Here's the error I get:

[code]

What I think is happening is the CNS service tag name "test" is that some sort of esc

[2016-03-24 20:59] saswatp opened #5837 "Directory service creation exports malformed DNS IP addresses"
One of the exported attribute after creation of directory service is a list of DNS IP address for that directory service. This piece seems to be broken. When I create a directory service and print the output , it comes malformed . Directory service gets created fine but DNS server IP comes like the following :

B780FFEC-B661-4EB8-9236-A01737AD98B610.0.10.105B780FFEC-B661-4EB8-9236-A01737AD98B610.0

[2016-03-24 21:03] catsby commented on #2837
Closing this for now, I can no longer reproduce the bug as shown, thanks!

[2016-03-24 21:03] #2837 closed

[2016-03-24 21:14] gottwald commented on #5828
Found the error:
[code]
I accidently assigned a list to a template var instead of a string.
Everything works if I change it to something like this:
[code]

Seems like handing a list to the template var completely throws off the template rendering.
I would have expected an error message instead of this behaviour.
Will leave this issue open for you to judge whether this needs to be changed or not.

[2016-03-24 21:46] jen20 commented on #5836
Hi @chorrell! Just as a quick way of narrowing this down - do you get the same error if you specifiy the key as `"triton.cns.services"`?

[2016-03-24 21:50] david-at opened #5839 "AWS Credentials when working with s3 Remote State"
I ran into an interesting problem when working with a terraform project that used a S3 remote tfstate file.

The setup:
I have been working on a terraform project on my personal laptop, I set it up locally with a remote state s3 file. AWS credentials are loaded into the project using a .tfvars file, for simplicity. (this file is not committed to git).

During the course of the project, it was dete

[2016-03-24 21:53] tjlee0909 commented on #4549
Hi, I'd like to re-open this conversation about having machine-parseable output for 'terraform plan'.

We are implementing our own simple auto-scaling solution on top of Terraform for our non-AWS nodes we have. As a part of monitoring, we are planning on outputting metrics to wavefront on the volume of adjustments we are making to the cluster during peak and off hours.

We also want to use this mo

[2016-03-24 21:57] david-at commented on #5839
This is limited specifically to s3 remote state, working with terraform and AWS is fine.

[2016-03-24 22:03] lmeyemezu commented on #5829
Hi ,
xxxx is just masking subscription id because of corporate rules.

Cet e-mail a été envoyé depuis un ordinateur protégé par Avast.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DDB4FAA8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

Cordialement,
Meye-Mezu Lylian
Tel.:06 98 93 13 14

2016-03-24 18:24 GMT+01:00 Prince Kannah <notifi

[2016-03-24 22:19] saswatp opened #5842 "Join AWS instance into directory service directory"
When I create an aws_instance for a windows server, I don't see a way to automatically join that to a AWS directory service directory. In the EC2 console , I can do that.

Is there a way this could be done (with proper iam instance profile) ??

[2016-03-24 22:25] thegranddesign commented on #2445
@mitchellh @phinze please reopen this issue.  I'm hitting on the exact issue that many (specifically @pgporada [described above](https://github.com/hashicorp/terraform/issues/2445#issuecomment-165163381)

[2016-03-24 22:34] xantheran opened #5843 "Please include folders in search for network_interface labels in vsphere_virtual_machine provider"
I have been running into an issue with the vsphere_virtual_machine provider.  My networks are in a folder off of root so I need to included the folder with the label field under network_interface.

[code]

The VM gets provisioned just fine, however the folder not taken into account when returning the label for the network_interface.  This results in the error below if I taint the resource

[code]

[2016-03-24 22:39] phinze commented on #2445
Hi @thegranddesign - sorry for the trouble! Is the issue you're seeing properly described in #4865? That's on my short list of issues to tackle soon.

[2016-03-24 22:52] JacobASeverson commented on #1731
This one can be closed, taken care of in ^

[2016-03-24 22:53] mitchellh commented on #1731
Yep!

[2016-03-24 22:53] #1731 closed

[2016-03-24 22:55] thegranddesign commented on #2445
@phinze 100%!  Thanks for the quick reply.  I'll subscribe to that issue for updates. :grinning:

[2016-03-24 23:04] radeksimko commented on #4393
@dmitryint I think this can be caused by missing/incorrect `aws_lambda_permission` which you seem to have in place, but generally closed issue is not the best place to ask about such things, especially if this issue isn't discussing a bug that could be reopened, but an initial implementation/feature request.

Open a new issue and we can have a look at it more deeply - copy-pasting you existing com

[2016-03-25 01:21] kendawg2 commented on #5839
i believe PR #5270 may address this issue.

[2016-03-25 01:47] david-at commented on #5839
I believe you might be right. I'll work on testing

[2016-03-25 02:19] tomdavidson opened #5847 "${file"

[2016-03-25 02:20] #5847 closed

[2016-03-25 02:35] tomdavidson opened #5848 "remote saml_metadata_document"
I would like to reference a remote document over https in creating a aws_iam_saml_provider rather than a local file, something similar to modules' `source = "github.com/....` such as:

[code]

The remote file seems especially relevant in this case - am I overlooking existing functionality?

[2016-03-25 06:34] dmitryint opened #5849 "Prevent creation of duplicate aws_lambda_permission"
I try to create two Lambda functions, run it by the scheduler.

However, I ran into a problem.

Here is my code:

[code]

Terraform is able to successfully create the necessary infrastructure.

But the connection between Cloudwatch scheduled event and Lambda functions not being created correctly.

And therefore lambda functions are not triggered by the event scheduler.

![2016-03-24 8 33 00](https

[2016-03-25 09:18] guidob commented on #2087
+1 same here

[2016-03-25 09:54] radeksimko commented on #5848
This looks like an interesting idea. I think that adding a way to get data from remote location over HTTP(S) and/or other protocols may require a slightly more sophisticated approach though. It would almost deserve its own resource, or better - [data source](https://github.com/hashicorp/terraform/pull/4961).

Something like this (hypothetical data source):

[code]

Also I think it would make even

[2016-03-25 10:15] jen20 commented on #5832
Hi @rodlogic! You can build on OSX using the [instructions in the README](https://github.com/hashicorp/terraform#developing-terraform). We keep these up to date with the latest process for development builds. If you have a specific issue building not addressed in these instructions please feel free to reopen with a description of the problem and we'll try to address that.

[2016-03-25 10:15] #5832 closed

[2016-03-25 13:35] wr0ngway commented on #3388
Another use case - say you have a module for setting up rds with an associated parameter group, one has no way to customize the parameters in that group from outside the module

[code]

[2016-03-25 14:27] catsby commented on #2027
Here's a full reproduction config:

[code]

Terraform plan/apply will show a `diffs don't match` error. plan/apply again and things will work fine.

If you omit `nat`, plan/apply, and then re-add `nat`, it will apply on first try :confused:

[2016-03-25 14:37] catsby commented on #5833
Hello –

Your best bet is probably review the best practices repository we've started here:

- https://github.com/hashicorp/best-practices/tree/master/terraform/providers/aws

That may provide some guidance here. In general, you can like leverage modules to help you here:

- https://www.terraform.io/docs/configuration/modules.html

Lastly, you may have more success in getting guidance by contactin

[2016-03-25 14:37] #5833 closed

[2016-03-25 14:46] pporada-gl opened #5852 "associate_public_ip_address diff didn't match during apply"
Host: Ubuntu 15.10

[code]

TF Version

[code]

Plan

[code]

Apply error

[code]

What has changed was me adding ignore_changes to my user_data template and ec2 resource. All I really need to do is add some DNS settings.

[2016-03-25 15:05] tkellen opened #5853 "unable to force re-creation of user"
Reproduction with config below:
1. Run `terraform apply`
2. Uncomment the path assignment for `aws_iam_user.user`
3. Run `terraform apply`

[code]

[2016-03-25 15:05] tkellen commented on #5853
PS: the resultant error is
[code]

[2016-03-25 15:11] pporada-gl commented on #5852
Turns out I needed to ignore_changes on the following before my apply would work.
[code]

Terraform still told me that 6 resources were going to be added and 2 were going to be destroyed. Even though I was only shown 4 resources that were going to be added.

[2016-03-25 15:18] wr0ngway opened #5854 "aws_elasticache_parameter_group always dirty"
If I set a single parameter in an aws_elasticache_parameter_group, it does get applied, but subsequently the group is always seen as dirty - i.e. the aws side has multiple params in the group (defaults), but the local side only has the one I set.

[code]

result of subsequent plan:

[code]

[2016-03-25 15:24] mgoodness opened #5855 "Crash during (after) successful apply"
v0.6.13
[crash.log.txt](https://github.com/hashicorp/terraform/files/189654/crash.log.txt)

[code]

[2016-03-25 15:51] phinze commented on #5050
Going to pass this off to @catsby for further investigation. :+1:

[2016-03-25 15:54] catsby commented on #5826
Hey @Gary-Armstrong thanks for writing in. The core problem here is that `prevent_destroy` is not preventing destroys caused by reducing the `count`. I believe this is more a TF core problem, not you at all :smile:

[2016-03-25 15:55] phinze commented on #5836
Hi folks, this is an expression of a current limitation of Terraform's config that we're probably going to need to address soon - dots in keys do not work!

You can track the canonical issue for this problem over here: #2143

Going to close this issue to consolidate into that thread, feel free to follow up if you believe there's an independent problem to track here. :+1:

[2016-03-25 15:55] #5836 closed

[2016-03-25 15:59] SpencerBrown commented on #5691
I am seeing the same issue and reported it as #5240 a month ago. Still seeing it on 0.6.14.

If I try to run the plan, terraform times out waiting for volumes to detach.

If I manually stop the nodes, I can run the plan. It detaches the volumes, destroys and recreates the volume attachments, for no reason. But it works.  However it causes me to disrupt operations.

[2016-03-25 16:07] phinze commented on #5855
Hi @mgoodness - thanks for the report, and sorry for the trouble!

A few questions to help us narrow this down:

 * Does this crash also occur for you on Terraform 0.6.14?
 * Can you share the config that you were using when the crash occurred?

[2016-03-25 16:08] #5585 closed

[2016-03-25 16:09] svanharmelen commented on #5585
Fixed and merged :+1:

Thanks @larstobi and @jen20!

[2016-03-25 16:12] catsby commented on #5050
Looking into this now

[2016-03-25 16:18] phinze commented on #5854
Hi @wr0ngway - thanks for the report.

I just tested the config you specified on Terraform v0.6.14 and I'm not seeing the same behavior.

[code]

Do you notice anything different about my repro attempt that might be causing this?

[2016-03-25 16:18] mtougeron commented on #2349
@mitchellh This issue is back in v0.6.14. Examples are given in #2136

[2016-03-25 16:26] phinze commented on #5828
Hi @gottwald - thanks for the report, and sorry for the confusing behavior here.

I believe the impending first-class list support will make this a proper error message in the near future.

Is that correct @jen20? If so, I think we can close this since we know it will be fixed up soon!

[2016-03-25 16:28] phinze commented on #5852
@pporada-gl thanks for the report - this is definitely odd behavior. Looks like we might have some sort of bug in the boolean field diff handling here.

Can you share the config that's causing this?

[2016-03-25 16:30] phinze commented on #5853
Hi @tkellen - ah yes, it looks believes that it can "update" the `policy_attachment` so it doesn't get removed before the user is replaced. We'll have to dig into this a bit more to figure out what we can do here.

[2016-03-25 16:31] phinze commented on #5825
Thanks for the report, @dene14 - this looks to be like our interpolation "double dollar sign" escaping code being a little overzealous. @jen20 do you think you can look into this when you have the chance?

[2016-03-25 16:37] wr0ngway commented on #5854
Strange - I'm not quite sure of the path I took to get there, but it involved starting with an empty param group, then some combination of playing with that param in the console and/or terraform before settling on the final value in terraform and noticing I couldn't get it to stay clean.  I'll see if I can duplicate it better - maybe try create an empty param group, then add the single setting aft

[2016-03-25 16:38] phinze commented on #5822
Hi @ketzacoatl - in .13 and later the raw AWS API request/response details are dumped into the debug log, so if you reproduce your issue with a debug log you should be able to search this log for the exact response from the AWS API which might help shed some light on this. Once you have the raw API behavior that might give you enough information to go to AWS Support with questions about what to do

[2016-03-25 16:40] phinze commented on #5821
Hi @chrisdcampbell - sorry for the trouble here. Can you report this over on the consul repo, they should be able to investigate and come up with a fix for everybody! :+1:

[2016-03-25 16:40] #5821 closed

[2016-03-25 16:44] phinze commented on #5800
Hi @cdorros - definitely understand the desire to allow for security_group_rule reuse. Consolidating the conversation around this down in https://github.com/hashicorp/terraform/issues/2081. :+1:

[2016-03-25 16:44] #5800 closed

[2016-03-25 16:46] phinze commented on #3525
Hi @pradeepchhetri - sorry for letting this one fall through the cracks. :disappointed:

After reviewing the issue, the reason for your reported problem was that you were attempting to use interpolation within a `tfvars` file. The general strategy should work just fine, but interpolation can't work in `tfvars`.

Hope this helps! Feel free to follow up if you're still having troubles. :+1:

[2016-03-25 16:46] #3525 closed

[2016-03-25 16:47] pporada-gl commented on #5852
@phinze
My files are kinda.... verbose. Here you go.

Provider
[code]

Module
[code]

[2016-03-25 16:57] phinze commented on #5854
Interesting! So flopping between this:

[code]

And this:

[code]

Doesn't seem to trigger any mischief from here on v0.6.14. Let me know if you figure out anything on your side. :+1:

[2016-03-25 17:17] FlorianLudwig opened #5858 "Azure PaaS (Service Bus, ...)"
The Azure platform offers a wide range of Platform-as-a-Services. The service bus is just one of them.  It would be great having one place (terraform) to create, change and version them like the rest of the Azure infrastructure.

[2016-03-25 17:34] phinze commented on #5706
@soulrebel I definitely understand the desire to have two different "flavors" of EBS instances, and you describe the difference between the two very well.

The "document and disallow" strategy I'm taking here is not done lightly - there's a real core gap that Terraform will need to address at some point that has to do with managing a given "set" of things across multiple resources while still ensu

[2016-03-25 17:42] Jonnymcc opened #5861 "Terraform intro description of Atlas UI incorrect"
https://github.com/hashicorp/terraform/blob/08e88d60eac02603a9a35b269f3f4adcd8a8fc33/website/source/intro/getting-started/remote.html.markdown

"From the main menu, select your username in the **top right** corner to access your profile. Under Personal, click on the Tokens tab and hit generate."

Is this still accurate? While following the demo, after creating an Atlas account, I had to click on m

[2016-03-25 17:47] Gary-Armstrong commented on #5826
Thanks catsby.  Are you clarifying that `prevent_destroy` will only work in the context of a `terraform destroy` command?  I'd ask that the docs be updated, but I'm not going to suggest that anyone drop core work for docs at this point in the dev cycle.

[2016-03-25 17:49] wr0ngway commented on #5854
Try this, add the following param settings into your group, then apply, then remove them, then apply, then plan - and you should see dirtiness.

[code]

[2016-03-25 17:51] ketzacoatl commented on #5822
OK, I am running .13 now, so I ought to be able to retrieve details from that debug log as you describe.

Your note about `-parallelism` is a little short, but I see `-parallelism=n      Limit the number of concurrent operations. Defaults to 10.` in the docs, so that makes sense. Thanks for the reply.

[2016-03-25 17:54] phinze opened #5862 "Launch Configurations no longer properly wait for IAM Instance Profile propagation in v0.6.14"
We fixed #2349 a while ago, but a recent AWS SDK update broke our error detection.

https://github.com/hashicorp/terraform/blob/7501f3272106ce77a1117229ce65d10c2aefe094/builtin/providers/aws/resource_aws_launch_configuration.go#L435

I have a failing test locally - will follow up when I have a fix!

[2016-03-25 17:54] phinze commented on #2349
Thanks for the ping @mtougeron - tracking new fix in #5862. :+1:

[2016-03-25 17:54] pizzaops commented on #5180
Hey Paul,

Not sure. I'm not a terraform user, because I can't use it without stable
vSphere support. I'll try to find a time to test it though.

-Zee
On Mar 23, 2016 4:12 PM, "Paul Hinze" <notifications@github.com> wrote:

[2016-03-25 17:55] phinze commented on #2136
Hey folks, tracking the new bug and the incoming fix in #5862

[2016-03-25 17:56] phinze commented on #5862
For folks running into this in current version - you can work around it by adding a `local-exec` provisioner with a `sleep` to your instance profile resource so it waits for propagation before continuing. :+1:

[2016-03-25 18:09] ketzacoatl commented on #5822
Using `-parallelism=5`, I was able to get further (thru 186 and 188 resources, in two tests), but that still errors out with the 403 forbidden/bad token.

I can see the debug log (I enabled trace with `export TF_LOG=TRACE`), but it does not tell us any more about the error (at least that I can see). I can see a whole bunch of HTTP 200 responses with full XML for the resources, and then AWS returns

[2016-03-25 18:12] ketzacoatl opened #5864 "question: moving resources from one TF env to another"
This is in part splitting off #5822.

Let's say I have a TF environment which has a handful of resources which I want to split off into a new TF env. I want to take the resources currently tracked in one state file, and I want to move them to a new environment (but moving to an existing one would also make sense at times). The resources should not be destroyed, and TF should be happy with the stat

[2016-03-25 18:14] phinze commented on #5822
@ketzacoatl okay cool - sounds like that's the data to take to AWS support to figure out why they 403 after a certain number of requests. AWS has plenty of request limit response messages that are handled gracefully in the SDK with backoff/retry logic - the fact that they 403 here feels like an API bug.

[2016-03-25 18:19] phinze commented on #4926
Hey folks, this timeout error masking should be addressed in v0.6.14 :+1:

[2016-03-25 18:19] #4926 closed

[2016-03-25 18:20] justnom commented on #2997
@borsboom

I haven't tested my configuration on the latest version, I am still using v0.6.6.

If you look at the ENI in the AWS console - is there at least one free private IP address available?

I'll try again on v0.6.14 and let you know! :)

[2016-03-25 18:24] phinze commented on #3600
Hi folks, this is odd behavior from the AWS API.

You can read a bunch more details in this AWS Support forum thread: https://forums.aws.amazon.com/thread.jspa?threadID=128896

Based on my interpretation, it seems like you can either request AWS Support restore a Default VPC for the region in question, or you can omit the `security_groups` parameter to work around the error. I'd also guess that yo

[2016-03-25 18:24] #3600 closed

[2016-03-25 18:24] eedwardsdisco commented on #1336
+1 WHY IS THIS NOT A FEATURE??

[2016-03-25 18:25] ketzacoatl commented on #5822
OK, I will hit up AWS support for an explanation.

[2016-03-25 18:26] greg-jaunt opened #5865 "Crash in terraform 0.6.14 on refreshing route state"
I attempted to change a CIDR block in a route, and have ended up suck in a state where terraform will crash on every run.  It appears to be crashing while Refreshing state:

[code]

I would appreciate any assistance in tracking this down.

Thanks.

[2016-03-25 18:28] phinze commented on #5819
Hi @sheldonkwok - I'd expect the VPC to catch the new main route table on the subsequent refresh. Does the ID update in the state after your next `terraform refresh` or `terraform plan` (which performs a refresh)?

[2016-03-25 18:30] phinze commented on #5865
Hi @greg-jaunt - thanks for the report - and sorry for the trouble here! You can work around the crash by yanking the resource in question out of your `tfstate` file. It will show up under a `"resources"` key and the whole `"aws_route.foo": { ... }` block can be removed to make Terraform "forget" about the resource and work around the crash.

For our part, we'll look into the root cause and get th

[2016-03-25 18:31] #5862 closed

[2016-03-25 18:37] greg-jaunt commented on #5865
Thanks for the fast response!

I have quite a few routes.  Can I get any hints from the trace or crash log on which one is causing the issue?

[2016-03-25 18:37] mgoodness commented on #5855
No trouble, @phinze ; the configuration applied successfully. Will try it again, with 0.6.14, and report back.

[2016-03-25 18:44] phinze commented on #5865
@greg-jaunt should be one of the last few `Refreshing resource aws_route.????`... in your output before the crash.

[2016-03-25 18:48] phinze commented on #5865
Actually @greg-jaunt I see the trouble in the code - looks like if the Route Table referenced by `route_table_id` disappears for any reason, we're not handling it properly.

[2016-03-25 19:15] sheldonkwok commented on #5819
Running `terraform plan` did not resolve this issue. I got the error of attempting to use the old main_route_table_id when running `terraform plan`

[2016-03-25 19:44] dennis-bsi commented on #4789
I am having the same issues as @tylerFowler.  Using the provider in module work around.

[2016-03-25 19:47] #3790 closed

[2016-03-25 19:58] jmcvetta commented on #2661
:+1:

[2016-03-25 20:22] Moeser commented on #4946
I'm running into this same problem.  We're trying to create a fault tolerant redis elasticache cluster through terraform, but replication_group isn't supported.  Terraform supports adding a single node redis cluster, but can you really call it a cluster at that point?

[2016-03-25 20:25] dustyburwell opened #5868 "Default AWS profile used by nested modules for aws_route53_record resource"
I've encountered an issue with the AWS provider while trying to create a route53 record inside of a nested module. Even though I've set the profile for the AWS provider, it appears to be trying to use the `[default]` profile when refreshing state for this resource. I've set up a somewhat contrived, but minimal [test case](https://github.com/dustyburwell/terraform_test_case).

My `[default]` profil

[2016-03-25 20:26] dustyburwell commented on #5868
Also, please, let me know if I'm doing something completely silly, here. I'm trying to compose more generic modules into super modules that have some nice defaults set. Perhaps there's a better way to go about this.

[2016-03-25 20:35] #5536 closed

[2016-03-25 20:44] radeksimko commented on #5706
Behaviour documented in #5857

Is it worth keeping this open until the core problem gets solved? I would personally be up for closing it since it's now documented, but I'm leaving the decision up to author or @phinze .

[2016-03-25 21:06] calvn opened #5870 "Terraform doesn't plan or apply nested module resources when using target on parent module"
Doing `terraform plan -target module.NAME` on a target module that uses other modules does not show the underlying resources that will be created. Similarly, running `terraform apply -target module.NAME` does not create resources from the nested modules. However, running plain `terraform apply` will create them.

`modules/module1/main.tf`

[code]

`modules/module2/main.tf`

[code]

`main.tf`

[cod

[2016-03-25 21:11] grayaii commented on #5815
Awesome! Thanks!  For now, ```-refresh=false``` works fine for our purposes.

[2016-03-25 21:18] phinze commented on #5462
Still no repro here - @alsonkemp can you confirm you hit this on 0.6.14 as well?

[2016-03-25 21:24] vmindru commented on #2661
@jonmorehouse

Hi

very interested  in this provisioner to become alive. Don't give up on your idea so early. A couple of things I want to mention  ( if those are obvious repeating doesn't harm )

Did you know?

1)  One can pass inventory data directly somehow as JSON format ? e.g.
**Multiple  hosts **
ansible-playbook -i 'host1,host2,host3,host4:80,host5' --options playbook.yml

**One host**
ansi

[2016-03-25 21:29] phinze commented on #5854
Okay yes that does repro! Steps for minimal repro:

[code]

Apply the above, then apply:

[code]

Yields unresolvable diff:

[code]

[2016-03-25 21:35] alsonkemp commented on #5462
@phinze You were not able to get my repro from https://github.com/hashicorp/terraform/issues/5462#issuecomment-192543760 to work?  I have not re-tried against 0.6.14.  I will do so soon.

[2016-03-25 21:45] alsonkemp commented on #5462
Still seeing the same error.

[code]

**template_body:** "" => "Error parsing JSON: invalid character '$' looking for beginning of value"**

[2016-03-25 21:58] timfallmk opened #5872 "Align Terraform environment variables with GCE defaults"
Placeholder issue for aligning the default environment variables used by Google Cloud (via gcloud) with those used by Terraform for the same items. This would reduce complexity, but also make it easier to get started with Terraform as these variables would already be set.

- [ ] List the env vars set by `gcloud`
- [ ] Change default Terraform mappings to match

[2016-03-25 22:15] radeksimko commented on #5373
@FransUrbo I think what you want to achieve probably makes sense. Changing the existing DSL in a backward-compatible manner is a challenge, and is unlikely to happen (soon). Maybe we could introduce something like `vpc_ids` and make `vpc_id` & `vpc_ids` mutually exclusive?

I assume these are VPCs for different customers that you host in the same account?
Understanding the use case (_if_ you can s

[2016-03-25 22:27] radeksimko commented on #5373
Here is an example of slightly cleaner solution with some fancy interpolation:

[code]

Here the zone gets recreated only if the first VPC in the list is changed and adding a new zone is a matter of adding 1 line into `vpc_cidrs` map and `vpc_names` list. The support for maps/lists will be improved soon.

Looking at a fairly clean solution for this problem above and thinking about the difficulties

[2016-03-25 22:50] radeksimko commented on #3076
@dansteen I think your last comment is unrelated to the original bug report with `Error parsing JSON`.
What you described in the last comment is tracked under https://github.com/hashicorp/terraform/issues/4948

I have a feeling the original report is a core bug that affects other resources using `template_file` too: https://github.com/hashicorp/terraform/issues/5462

Hopefully will be fixed in htt

[2016-03-25 22:52] radeksimko commented on #5462
See https://github.com/hashicorp/terraform/issues/3076 which I believe is caused by the same bug.

[2016-03-26 00:13] greg-jaunt commented on #5865
Thanks for tracking that down!  I also worked out the required state file change to work around the problem.

[2016-03-26 03:30] jeshuaborges commented on #5152
Pinging... Has been a review or there is any conversation or review of #5304? Thanks!

/cc @catsby

[2016-03-26 12:22] borsboom commented on #2997
@justnom I confirmed that there's a free private IP address available in the AWS console.  I also tried downgrading to v0.6.6, but still got the same error.  So colour me confused... I can live with adding EIPs as a manual step after running the TF, although I'd rather not have to of course.

[2016-03-26 17:39] slowbluecamera commented on #5483
Further looking into this, and this issue is similar, if not a duplicate of, issue #2100.

In any event, I've verified that @GrayCoder's fix in PR #4016 resolves the role-based break case presented and the approach makes sense.  Good work!

[2016-03-26 17:42] kfarris9 opened #5875 "Crashed on plan for Azure"
Version is 0.6.14 running on Windows 10

[2016-03-26 17:48] soulrebel commented on #5706
Thx, I get the conceptual difficulties, let's close.

I didn't go the AMI way. I don't think it's nice to manage AMIs. I defined all with aws_ebs_volumes and it's not that bad.

Get this thing into shape guys ;-)

[2016-03-26 18:05] #5706 closed

[2016-03-26 18:09] radeksimko commented on #5875
Hi @kfarris9
would you mind sharing the used Terraform config and the crash log?
It is usually placed in the working directory as `crash.log`. Don't forget to remove any sensitive/secret details you don't want to share before posting it here.

Without config or crash log it is highly unlikely anyone will be able to reproduce and fix the bug.

[2016-03-26 18:10] kfarris9 commented on #5875
I attached the crash log, but here it is with the other info.

From: Radek Simko [mailto:notifications@github.com]
Sent: Saturday, March 26, 2016 1:09 PM
To: hashicorp/terraform <terraform@noreply.github.com>
Cc: kfarris9 <keithfarris9@gmail.com>
Subject: Re: [terraform] Crashed on plan for Azure (#5875)

Hi @kfarris9 <https://github.com/kfarris9>
would you mind sharing the used Terraform config a

[2016-03-26 18:11] clstokes opened #5876 "Error destroying resource that has already been deleted."
If an `azurerm_storage_account` resource has already been removed, Terraform is unable to proceed with a destroy due to a 404 error.

##### Steps to Reproduce
1. Perform `terraform apply` with configuration below.
1. Delete the storage account from the Azure portal.
1. Run a `terraform destroy`

##### Example Config
[code]

##### Error log
[code]

[2016-03-26 18:11] clstokes commented on #5876
Similar to https://github.com/hashicorp/terraform/issues/3990.

[2016-03-26 18:12] radeksimko commented on #5875
@kfarris9 I don't see the crash log being attached here on Github.
You can also paste it into a [gist](gist.github.com) and post a link here.

[2016-03-26 18:24] kfarris9 commented on #5875
2016/03/26 12:46:12 [INFO] Terraform version: 0.6.14  c7e5b24531e73aae1eec2f7530d968ac8c69804c
2016/03/26 12:46:12 [DEBUG] Discovered plugin: atlas = c:\dev_tools\terraform\terraform-provider-atlas.exe
2016/03/26 12:46:12 [DEBUG] Discovered plugin: aws = c:\dev_tools\terraform\terraform-provider-aws.exe
2016/03/26 12:46:12 [DEBUG] Discovered plugin: azure = c:\dev_tools\terraform\terraform-provide

[2016-03-26 21:44] radeksimko commented on #5868
@dustyburwell Can you check whether you have any environment variables set?

[code]

such variables with invalid credentials may be causing this issue as environment variables [have priority](https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/config.go#L393) over the config file.

[2016-03-26 22:30] panda87 commented on #2661
@vmindru I really like the idea you presented.
There is a way to use local-exec provisioner to run multiple ansible playbooks?

[2016-03-27 00:46] iiro commented on #2296
Does this apply for disk resizing as well? It seems it's not possible to resize disks with TF now - but you can do it using the APIs...

[2016-03-27 10:49] nickithewatt opened #5877 "Make remote state backends a pluggable option"
As with the current pluggable terraform provider approach, it would be very handy to have the ability to plug in custom remote state backends without having to have them directly incorporated into the core terraform code.

This would allow people to develop and make use of a variety of different remote stores such as custom Databases etc in an independent manner, yet still allow for it to be contr

[2016-03-27 12:25] gservat commented on #3874
+1 - just ran into this. Another example are key pairs. I want to create them if they don't exist, but if I destroy, I don't want to delete the keypair as other instances may be using the shared keypair.

Is there a way around this for now?

[2016-03-27 15:25] stack72 commented on #5876
Hi @clstokes

Am just preparing a fix for this right now :) good find on this

P.

[2016-03-27 15:44] stack72 commented on #5875
Hi @kfarris9

Can you please tell me how you generated the keys required for the provider? The crash seems to be related to these keys

Paul

[2016-03-27 16:16] kfarris9 commented on #5875
Sure.  That part was a little confusing for me, so very possible I did it wrong.  The subscription_id is my MSDN subscription which I cut/pasted from the Azure portal.  The client_id & client_secret comes fomr the datamarket.azure.com portal where I registered an app, just for being able to use Terraform.  The tenant_id is the hardest.  I couldn’t find it anywhere and the examples on the terraform

[2016-03-27 16:19] kfarris9 commented on #5875
I just confirmed both the subscription & tenant by running for PS Add-AzureAccount

From: Paul Stack [mailto:notifications@github.com]
Sent: Sunday, March 27, 2016 10:45 AM
To: hashicorp/terraform <terraform@noreply.github.com>
Cc: kfarris9 <keithfarris9@gmail.com>
Subject: Re: [terraform] Crashed on plan for Azure (#5875)

Hi @kfarris9 <https://github.com/kfarris9>

Can you please tell me how you

[2016-03-27 17:04] sparkprime commented on #2296
You'd do that by having a separate disk resource and referring to it in the instance with a ${} ref, and then modifying the disk.  So if you want that you should file an issue on the disk resource.  But the feature is in the beta API now which makes it a pain to use from Terraform because all the self links change.  It's still worth tracking it in an issue though.

I'm not sure on the exact semant

[2016-03-27 17:44] iiro commented on #2296
Yea, noticed that it's still in beta so probably time to just wait...

To my understanding it's a completely online operation - so disk can be attached when resizing. Just tested, can only grow, does not allow shrinking.

[2016-03-27 22:07] radeksimko commented on #3234
@lmickh Out of interest - is there any reason why you deliberately want to use standalone EC2 instances instead of autoscaling groups? ASGs solve this problem quite well.

[2016-03-27 22:14] radeksimko commented on #3302
#3200 has been merged (it is possible to upload a template to S3).

Is there anything left to implement or we can close this?

[2016-03-27 22:22] radeksimko commented on #3401
Closing in favour of https://github.com/hashicorp/terraform/issues/1557 which is a duplicate issue and has a little bit more traction.

[2016-03-27 22:22] #3401 closed

[2016-03-27 22:51] radeksimko commented on #4060
Can we close this now since #4087 was merged?

[2016-03-27 22:53] thecodeassassin commented on #4060
@radeksimko @ajcrowe any chance the documentation on this can be updated? https://www.terraform.io/docs/providers/google/index.html

[2016-03-27 22:54] thecodeassassin commented on #4060
Never mind i see it was since added, thanks guys!

[2016-03-27 23:24] stack72 commented on #5694
This is going to solve quite a few issues regarding setting of 0. I have linked a few that I have found so far

[2016-03-27 23:25] stack72 commented on #5069
This is due to a known issue and will be worked on in #5694

[2016-03-27 23:26] stack72 commented on #5732
Hi @SystemZ

I believe this is due to the 0 values in the call. Currently, Terraform has a known issue with retying to set values to 0

This is being worked on as part of #5694

When that is merged, I can have a look at this one

Paul

[2016-03-27 23:27] stack72 commented on #5690
Hi @menren

This is due to a known issue in terraform when using 0 values. The fix required for this is being tracked in #5694

When this is finished, we should be able to get this working

Thanks

Paul

[2016-03-28 00:43] #5876 closed

[2016-03-28 00:45] jen20 commented on #5876
@clstokes This fix is now on `master`.

[2016-03-28 00:49] jen20 commented on #5877
Hi @nickithewatt! This is not something we have previously considered as far as I am aware, and is not currently on the roadmap. I think in the short term this is something we are unlikely to prioritise internally, and it's hard to justify separate binaries at this stage. That said, the new `go-plugin` system may allow for us to have internal plugins while still also allowing external ones, so we

[2016-03-28 01:47] nickithewatt commented on #5877
Thanks for the reply @jen20, I understand and to be fair its not causing me massive grief at present, but when I started looking into this thought it would be a nice approach. I'll keep an eye on it anyway, and watch out for possible ``go-plugin`` niceness :) thanks!
Also happy Easter BTW

[2016-03-28 07:04] Shruti29 opened #5879 "AWS : disable api termination rule doesn't work when a new resource is enforced."
I am trying to create an AWS instance. Template shown below;
Using terraform version 0.6.13

[code]

Since `ebs_block_device` enforces new resource every time #3654 , the `terraform plan` on this template adds 1 and deletes 1 resource.
disable_api_termination was set to true, so I change it to `false` so that the resource enforcement works as expected. However it is not reflected when i run `terra

[2016-03-28 07:55] radeksimko commented on #4683
Can we close this now, when https://github.com/hashicorp/terraform/pull/4688 is merged?

[2016-03-28 08:02] radeksimko commented on #4931
The mentioned PR #4770 which is fixing this was merged a while ago. Closing.

[2016-03-28 08:02] #4931 closed

[2016-03-28 08:03] radeksimko commented on #4853
Implemented in https://github.com/hashicorp/terraform/pull/4854

[2016-03-28 08:03] #4853 closed

[2016-03-28 08:30] radeksimko commented on #5136
There are two ways you can prevent this lock-out from happening:

### Set the S3 bucket policy to enforce `acl`

https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#canned-acl
http://docs.aws.amazon.com/AmazonS3/latest/dev/amazon-s3-policy-keys.html

Basically this will cause the S3 bucket to reject any `Put` requests that don't comply with the condition:

[code]

### Set `acl` for a

[2016-03-28 08:32] radeksimko commented on #5153
https://github.com/hashicorp/terraform/pull/5444 was merged a week ago.

CloudWatch Metric Filters are part of the latest release.
https://www.terraform.io/docs/providers/aws/r/cloudwatch_log_metric_filter.html

[2016-03-28 08:32] #5153 closed

[2016-03-28 09:55] stack72 commented on #4683
@radeksimko apologies for not closing this sooner - didn't realise it was still linked

[2016-03-28 09:55] #4683 closed

[2016-03-28 11:21] menren commented on #5690
Hi @radeksimko @stack72

thank you for tracking this issue and hope that the fix is finished soon :)

[2016-03-28 12:16] jbruettcva commented on #5136
@radeksimko, while I completely agree that your suggestion would be a great _workaround_,  I don't agree that this is not a bug and rather some kind of enhancement request.  The tool is allowing an invalid user to be set as the owner, and it's the tool that's doing it, not the lack of a bucket policy.  Just my opinion.  Thanks for taking the time to respond in either case, you and @jen20 both.  I'

[2016-03-28 12:50] catsby commented on #5826
I'm clarifying that `prevent_destroy` is not working as intended :smile: .

I've re-titled this issue and it should get picked up with other core work. There's another issue regarding `ignore_changes` that is already getting some work done, and this may be picked up in the process.

Thanks again!

[2016-03-28 14:05] dustyburwell commented on #5868
I don't have any AWS environment variables set:

[code]

[2016-03-28 14:23] radeksimko commented on #5136
I personally don't see this as a bug because the right behaviour/ACL depends on use-cases/workflows that you have in your team/company.

It depends on _who_ owns the bucket and _who_ is using Terraform to save the state in that bucket and what is the trust between these two parties.

It may be just different teams within the same company, in which case `acl=bucket-owner-full-control` in most cases

[2016-03-28 14:33] james-huston commented on #3699
I can confirm that this does appear to be working now for me on a clean config. I don't remember exactly what account I had this issue in originally so I can't retest easily. It's possible the account is one where we deleted the default VPC and that is what triggers the issue. I will try to find time to research.

Thanks for the response!

[2016-03-28 14:34] FlorianLudwig opened #5880 "Azure: Documentation on Authentication"
The documentation is sparse on how to correctly authenticate the azure provides.

See also [this comment](https://github.com/hashicorp/terraform/issues/5875#issuecomment-202097500) on #5875 - it is also suggested that the issue might result in incorrectly setup authentication.  Which is hard to do with the current sparse information in the documentation.

I am trying this guide: https://msdn.micro

[2016-03-28 15:12] radeksimko commented on #5868
from [what I can see](https://github.com/dustyburwell/terraform_test_case/blob/master/base_module/main.tf) you did not declare the `provider` block again inside the module?

There is currently no easy way to predictably inherit providers between modules I think, so you'll need to redeclare the provider inside the module _for now_. It admittedly does make the module less reusable as module code in

[2016-03-28 15:26] dustyburwell commented on #5868
Yes! #2832 definitely seems to track toward the same problem. And I've noticed that setting the provider profile inside the module does work around the issue. Thanks!

[2016-03-28 15:26] #5868 closed

[2016-03-28 15:43] catsby commented on #5050
Hey all – 

The core of the original issue at top is the mix/match of protocol numbers and names, e.g. `"6"` and `"tcp"`. According to [this link](https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml) they are interchangeable, however Terraform was not treating them so.

I've sent #5881 to patch this. For now though, use `"tcp"` (or other protocol _names_) as a workaround, unti

[2016-03-28 15:59] catsby commented on #1193
Hey all – after a long wait, `"all"` support will come in #5881. Note that you need to set `to_port` and `from_port` to `0` for this.

Thanks! Sorry for the silence :smile:

[2016-03-28 15:59] #1193 closed

[2016-03-28 16:03] catsby commented on #3066
Hey Friends – sorry for the very long silence here! I'm happy to say that this (these?) was recently patched in https://github.com/hashicorp/terraform/pull/5100, and went out in v0.6.12 (latest version at this time being v0.6.15). Sorry for the long wait!

Let us know if you need anything else!

Best,
Clint

[2016-03-28 16:03] #3066 closed

[2016-03-28 16:47] chrisferry commented on #1844
Any news on this?

[2016-03-28 17:03] tomdavidson commented on #5848
I agree, that making some cas providers would be slick, but i think the remote file resource would still have significant value. I suggest "remote_file" that supports local, http, and git just as module source does?

In my case, I want to fake it for now. This seems a bit hackish, do you have a better suggestion?

[code]

[2016-03-28 17:37] radeksimko commented on #1844
@chrisferry have you tried using https://github.com/russellcardullo/terraform-provider-pingdom ?

Does it work well?

[2016-03-28 17:40] radeksimko commented on #5848
That might work, but you may want to define explicit dependency between `null_resource` and `aws_iam_saml_provider` otherwise Terraform may try to create `null_resource` and `aws_iam_saml_provider` at the same time and the file may be missing:

[code]

The value you'll get from such setup is arguable though. Terraform doesn't know whether the remote file has changed and it will never re-execute th

[2016-03-28 17:43] tomdavidson opened #5882 "s3 remote state in config"
Hello, Im struggling a bit with remote state in s3. I want the config to be completely encapsulated in a module:

[code]

The bucket is created and terraform is configured to use remote but I tet an error saying the bucket does not existing, including when i try to destroy, [gist of full output](https://gist.github.com/tomdavidson/58b2f8f8fc052f1d1946):

[code]

Now if I were to use init rather th

[2016-03-28 17:54] tomdavidson commented on #5848
It "works" but not unsure about best practice and convention. I added the explicit depends. It does download the file, but there is no clean up for it.

Do I need to declare the saml_metadata_file variable generally , could I add this var to null_resource.getfile? Example code?

[2016-03-28 17:56] phinze commented on #3305
Hi @marceldegraaf - sorry for the delay here. Looks like we need to filter out duplicates from that dependencies collection somewhere. I'll get this sorted out soon! :+1:

[2016-03-28 18:19] catsby commented on #3716
Hey friends –

I recently merged https://github.com/hashicorp/terraform/pull/5814 which implements @apparentlymart 's original idea for a Fastly provider. Big thanks to him for the initial thought work :smile:

Let me know if you have any other questions!

[2016-03-28 18:19] #3716 closed

[2016-03-28 18:24] catsby commented on #5050
I merged #5881 so I'm closing this; let me know if you have any questions!

[2016-03-28 18:24] #5050 closed

[2016-03-28 19:44] r0p0s3c opened #5885 "GCE instance template modifications fail"
When making modifications to the instance template used by an instance group, used as part of an autoscaler, that end up creating a new resource, TF seems to attempt to create the same resource (name), which GCE doesn't like:

[code]

[2016-03-28 19:47] vmindru commented on #4911
+1 for now i am using remote-exec ls ....  for that purpose

[2016-03-28 20:02] catsby commented on #5713
Hey @saliceti – 

The trick here is to use the `lifecycle` block, and add `create_before_destroy`. Ex:

[code]

Two important parts that make this possible:

- The `lifecycle` block here instructs Terraform that it needs to create a new resource, before it tries to destroy the old one. This allows you to create a new certificate, update the ELB with the new one, and then destroy the old, thus avoi

[2016-03-28 20:02] #5713 closed

[2016-03-28 20:08] catsby commented on #5050
#5881 was merged, so I'm going to close this for now. Thanks! Let me know if you have any other questions

[2016-03-28 20:17] saliceti commented on #5713
Hi @catsby thanks for the detailed explanation, I will give it a try.

Any reason why this is not default behaviour in terraform?

Could this be documented, maybe in [iam server certificate](https://www.terraform.io/docs/providers/aws/r/iam_server_certificate.html) as this looks like a common use case.

[2016-03-28 20:28] vmindru opened #5886 "terraform not interpreting arguments correctly"
I have a Python wrapper for terraform, terraform will somehow misinterpret  the arguments that it's being passed.

[code]

__Note:__ ass observed bellow when running simple echo ( or any other binary ) it would interpret correctly all the args, for some reason terraform decided to split the arg -var foo=bar into -var foo and probably bar

[code]

[2016-03-28 20:28] mrfoobar1 commented on #3874
Yes, split your terraform project into multiple parts.

Example:
- base
- core (like persistent data)
- application stack

Le dimanche 27 mars 2016, gservat <notifications@github.com> a écrit :

--
Sent from Gmail Mobile

[2016-03-28 20:43] catsby commented on #5713
Hey @saliceti –

It can be difficult to determine _when_ Terraform should make this a default behavior, and when it should not. E.g. when should it go out of it's way and make this kind of lifecycle decision for you, and when should it just stop and give you an error. Hopefully in the future we'll have a better picture of that, but for now we'd rather default to not making big choices like that fo

[2016-03-28 21:07] daodennis commented on #4376
It would be prudent to verify the other providers as well, but also prevent this from happening in general as we add providers and mark secret data appropriately.

I did just do a test run with the GCE provider and did not notice any credentials stored in the tfstate.

[2016-03-28 21:16] greg-jaunt commented on #2501
I'm getting this in 0.6.14 with:

lifecycle {
    ignore_changes = ["tags.LaunchedBy"]
}

I'm passing in the value that this is originally set to as a TF_VAR, so it's expected to change from run-to-run.

I will try to see if there is a simple repo.

[2016-03-28 21:25] tomdavidson commented on #5882
I did get things to work with the the local-exec script, but turns out there is an undocumented resource that does the job the right away. Thank you [Mattias](http://blog.mattiasgees.be/2015/07/29/terraform-remote-state/):
[code]

[2016-03-28 21:28] ketzacoatl commented on #5822
I've gotten zero help from AWS, and I'm completely stuck. I am also wondering.. if there is backoff/retry logic in the SDK, couldn't this also be a bug in that logic? I'm not sure why we would not want to confirm the SDK is not a part of this. Should I file a bug with the go SDK?

At least for Terraform, I believe my only workable option with this env is to edit the TF state file and manually shuf

[2016-03-28 21:40] catsby commented on #5119
Hey Friends –

I've opened https://github.com/hashicorp/terraform/pull/5888 to patch this. It's 1 part code fix, one part documentation; the `maxReceiveCount` needs to be an integer, not a string, so:

[code]

[2016-03-28 21:51] phinze commented on #5822
Yep there is, based on my review of [the code in the area](https://github.com/aws/aws-sdk-go/blob/0ea870317b8b52ec4671892685b973d303dd79ae/aws/request/retryer.go) it doesn't look like it will retry 403s. It does feel like an API bug that you're getting back 403s and not any of the throttle / ratelimit specific errors they clearly support.

Splitting up your TF envs so less API calls are made would

[2016-03-28 21:59] daodennis opened #5889 "How to use google bucket as remote storage via S3 backend (or other?)"
Hi,

I am trying to use a Google Bucket as remote state storage and I am under the impression that it has API compatibility with the AWS S3 API, though I can't seem to make it work out of the box.
I think I am close?

`$ terraform remote config -backend=s3 -backend-config="bucket=" -backend-config="key=terraform.tfstate" -backend-config="endpoint=www.googleapis.com/download/storage/v1/b/" -backend

[2016-03-28 22:13] ketzacoatl commented on #5822
OK, that is a good point, I will disable MFA and see if that sheds any light on the situation.

[2016-03-28 22:17] dbroockman commented on #3302
Yes. Thank you!

[2016-03-28 22:17] #3302 closed

[2016-03-28 22:23] ketzacoatl commented on #5822
Nope, that did not change anything, I got the same error at roughly the same place as before (after 173 resources)

[code]

[2016-03-28 22:36] saliceti commented on #5713
Good work. Thanks @catsby!

[2016-03-28 23:28] panda87 commented on #2811
@booch Did you try to run more then one playbooks on one instance? if so, does Terraform support multiple commands in one local-exec or needs to run provisioner for each playbook?

[2016-03-29 00:54] davidblewett commented on #5627
@phinze Still having trouble with `ignore_changes` with 0.6.14. I initially created an `aws_instance` with a single `ebs_block_device`. I then went back and added a 2nd `ebs_block_device` to the config, so that I could optionally setup a software RAID. I added the following, but Terraform still wants to destroy the instances and re-create them to add the 2nd device:

[code]

[code]

[2016-03-29 01:09] jbruettcva commented on #5136
We'll agree to disagree.  Thanks again for the input, this issue aside, the tool is fantastic, keep up the great work!

[2016-03-29 01:09] #5136 closed

[2016-03-29 01:20] rog555 opened #5891 "aws_api_gateway_integration_response selection_pattern not sent"
Hello @radeksimko @phinze @nicolai86,

In resource_aws_api_gateway_integration_response.go, "selection_pattern" is in the schema but not sent in resourceAwsApiGatewayIntegrationResponseCreate [PutIntegrationResponse](https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_api_gateway_integration_response.go#L69)

This effectively means can only have one integration_re

[2016-03-29 03:01] tj commented on #451
Gah this setup is kind of weak, if you change the name of a module to support multiple regions, it tries to recreate everything due to this name change..

[2016-03-29 03:14] tj commented on #451
Also appears to be broken, unless I'm missing something. I have the same setup as @jszwedko mentioned, and each resource has:

[code]

but I get dozens of:

[code]

seems like the interpolation stuff is failing

[2016-03-29 03:17] tj commented on #4789
:( ok just hit this as well

[2016-03-29 03:29] tj commented on #1819
Big blocker for me as well, unless I want to copy/paste everything a dozen times. I'd also +1 being able to pass the provider in, which is confusingly what #451 mentions to do.

[2016-03-29 03:37] adammeghji commented on #4361
+1

[2016-03-29 04:20] thegranddesign opened #5892 "Option to Delete Existing Records Before Adding"
Often when rerunning my applies, Terraform can't figure out that the DNSimple A record is supposed to be updated instead of created.  This happens on CNAME (which error out) and A records (which don't).  However since multiple A records can be added for a domain, it associates the domain with multiple IPs (which I don't want).

So I'd love some way (maybe an option?) to say "Hey if you see a recor

[2016-03-29 06:53] btyler97 commented on #3536
I noticed there hasn't been activity on this issue in a while, but I am experiencing the same issue and @jtopjian I can confirm that the VPN software does NOT update /etc/resolv.conf (at least not in my case). The VPN software I am using is Sonicwall Mobile Connect and I'm on OS X El Capitan. I understand that the old NetExtender software does update /etc/resolv.conf; however, there are issues wit

[2016-03-29 07:16] partamonov commented on #5687
Also crashed today with 0.6.14
[code]

[2016-03-29 07:33] partamonov commented on #5687
Looks like I realized the root cause of this issue.
mysql provider tries to establish connection even during plan phase to db endpoint.
[code]

After change of variable to hardcoded value I see the following error
[code]

May be the same way of configuration as for postgre will fix that or we should not evaluate
[code]

[2016-03-29 07:46] partamonov commented on #5687
@apparentlymart just to mention you here. I can try to fix that

[2016-03-29 08:28] lholman commented on #5082
@ryanl-ee I had exactly the same error. The key for me was flipping to the "New Portal" and following the steps 'Assign application to role'  https://azure.microsoft.com/en-us/documentation/articles/resource-group-create-service-principal-portal/#assign-application-to-role, I set 'Contributor' at the Subscription level which allowed Terraform to generate the new resource group I had specified in m

[2016-03-29 08:59] radeksimko commented on #5891
Thanks @rog555 for the report.

Bugfix in #5893

[2016-03-29 09:54] Mykolaichenko opened #5894 "XML syntax error on line 1: illegal character code U+001F"
Hi!
I have a very big problem with terraform + vSphere.
It almost not working.
Here is more information about problem:
I tried out all versions of this provider, but haven't anything positive result.
https://github.com/rakutentech/terraform-provider-vsphere/issues/31
If needed, i can describe more information.
As key, my vSphere 6.0 hosted on OVH, maybe i will mail to them with same issue?
Thanks

[2016-03-29 10:31] radeksimko commented on #5894
@Mykolaichenko To clarify - are you using Terraform's built-in vsphere provider or https://github.com/rakutentech/terraform-provider-vsphere as a plugin?

[2016-03-29 10:41] Mykolaichenko commented on #5894
@radeksimko Of course first of all i tried with generic built-in provider, but it isn't working for me. I tried  Terraform v0.6.12 and Terraform v0.6.14, but it isn't working.
After that i tried  with all that i found in internet :)

[2016-03-29 10:50] radeksimko commented on #5894
In that case (built-in provider) would you mind adding a repro case in the form of Terraform code? I can see the logs in https://github.com/rakutentech/terraform-provider-vsphere/issues/31#issuecomment-202800441 but whoever comes here to eventually fix it needs to be able to reproduce this easily.

[2016-03-29 11:09] FransUrbo commented on #5373
The (current) use case is that I have:

1. An "admin" VPC where some core services resides (such as Salt, Graylog, Jenkins master and swarms etc) which all the others use.
  * Because of this, this VPC needs two-way access to the other VPCs. Services here needs to be able to RESPOND to a request from other hosts in other VPCs, but also PUSH to other hosts in other VPCs.
2. A DB VPC (doh :) - where

[2016-03-29 11:59] dbrandt commented on #5322
This is biting me right now. I'm trying to start up one EC2 instance in every availability zone with output from [tf_aws_availability_zones](https://github.com/terraform-community-modules/tf_aws_availability_zones) but running into this parse error instead, forcing me to use hard coded values.

[2016-03-29 12:00] radeksimko opened #5895 "core/schema: Introduce schema.ForceNewWhen"
There seems to be a need for a new schema field - `ForceNewWhen`.

This came up in https://github.com/hashicorp/terraform/issues/5373 where we found that Route53 Hosted Zone's VPC association updates don't have to trigger replacement of the whole zone at all times.

I assume the end-schema-user interface might look roughly like this:

[code]

[2016-03-29 12:02] radeksimko commented on #5373
@FransUrbo Thanks a lot for further explanation of your use-case. It makes total sense to me.

Well, it does - try re-reading my code examples above. It may not be super-clean as it involves some code duplication, but it works (it effectively does what you want).

I see that [the CloudFormation team](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-route53-hostedzone.html

[2016-03-29 12:07] Mykolaichenko commented on #5894
Yes, of course.

Here is version:
[code]

Content of provider.tf:
[code]

Content of variables.tf:
[code]

Contents of test.tf:
[code]

Here is full trace of command output:  [click](http://paste.ofcode.org/YpgmiB7HvSXBSkjF3mZpDG)

To reproduce this you may create suggested files and run ` "terraform apply"`

Thanks a lot.

[2016-03-29 12:37] manojlds commented on #1731
@JacobASeverson @mitchellh but are the use cases mentioned here covered by the provider as implemented? Is the `github_sshkey` scenario being considered?

[2016-03-29 12:38] fuhbar opened #5896 "vsphere_virtual_machine: not supported (vCenter only)"
What does this error message mean?

[code]

Running terraform 0.6.14 against VSphere 5.5 and 6.0 - both same result as above.

Traced this error message to `vmware/govmomi` dependency at:
* [object/common.go:31](https://github.com/hashicorp/terraform/blob/master/vendor/github.com/vmware/govmomi/object/common.go#L31)
* [object/custom_fields_manager.go:42](https://github.com/hashicorp/terraform/blob

[2016-03-29 13:31] jtopjian commented on #3536
@btyler97 Thanks for the information. To confirm: this is only happening when you're connected to the VPN? Are you able to use the OpenStack command line tools while you're connected to the VPN?

[2016-03-29 13:48] pryorda commented on #3536
@jtopjian here is a link on how dns works with mobile connect. Might help with diagnosing the issue. https://support.software.dell.com/kb/sw11559

[2016-03-29 13:52] chorrell commented on #5836
OK, makes sense. Is there any kind of workaround for this to get tags with `.` to work?

[2016-03-29 13:57] jtopjian commented on #3536
@pryorda Thanks!

At this point, I'm trying to make a confident determination that the issue everyone is seeing is only happening when they are connected to a VPN. If so, then I believe this issue isn't local to just the OpenStack provider, but possibly Terraform core and/or Golang.

I think the main reason why this problem is manifesting within the OpenStack provider is because it's one of the fe

[2016-03-29 13:58] vmindru commented on #5886
this can be closed, workaround http://stackoverflow.com/questions/36270788/why-are-args-being-splitted-by-when-terraform-is-ran-from-python-subprocess

[2016-03-29 14:10] einyx commented on #4097
this still happen for me on 0.6.13

[2016-03-29 14:20] JacobASeverson commented on #1731
That's a good point, I guess a provider has been created but the specific resource mentioned originally wasn't implemented. Not sure if it would be better to reopen or create a new issue for that resource.

[2016-03-29 14:30] gopisaba opened #5898 "Chef Provider: Proxy not seeing"
Hi Team,

I am using terraform to build AWS and Chef infrastructure. From company laptop we have strict security policies and using proxies to connect to internet. We have set environment variables like http_proxy and https_proxy to connect to the AWS and chef servers.

The problem is terraform can able to connect to the AWS but not to the Chef server.

`module.production.chef_environment.environm

[2016-03-29 14:31] jen20 commented on #5886
Thanks for posting a solution @vmindru! For those coming to this issue in the future, the required syntax is:

[code]

Note the quoting around the `-var` argument value.

[2016-03-29 14:31] #5886 closed

[2016-03-29 14:36] superseb commented on #5896
@fuhbar Can you supply exact vSphere versions and the .tf file you are using?

[2016-03-29 14:40] dmfenton commented on #4709
adding a depends_on block resolved this for me

[2016-03-29 14:43] catsby commented on #4468
Hey all – I rant the above config (changed a bit, to populate the variables) and had no problem creating a `sqs_queue` using Terraform version v0.6.14. Since this issue is from January and an older version, I'm going to consider this closed.

Sorry for the delay, and thank for writing in!

[2016-03-29 14:43] #4468 closed

[2016-03-29 14:50] catsby commented on #4468
Also, I should mention that the policy structure is relevant here, it should be in this format and order:

[code]

Noticeable changes:

- ordering of fields
- because you only have a single `Action`, AWS will reformat your list into just a string

[2016-03-29 14:56] catsby commented on #5438
Hey all – haven't heard back for some time, so I'd like to consider this closed.

If anyone is still hitting this issue please let us know. I _think_ it's related to the Terraforming tool, but without more data and a reproduction case I can't quite confirm.

As I mention above, the specific line in question has a `nil` guard so I think we're safe at this time. If anyone else hits this please let u