[2016-04-27 14:09] choppedpork commented on #6369
Thanks @catsby. That's something I've already discovered when creating a brand new environment - using `vpc_security_group_ids` from the start does work however trying to simply change `security_groups` to `vpc_security_group_ids` in my config still results in the same change plan as before. `vpc_security_group_ids` is already populated in my 0.6.14 state which used `security_groups`. Hope this he

[2016-04-27 14:27] catsby commented on #6369
Hey @choppedpork does your statefile have an entries for `vpc_security_group_ids`? Can you try **making a backup copy** of your statefile, and modifying `security_groups` to just be  `"security_groups.#": "0",`, does that resolve it?

[2016-04-27 14:45] choppedpork commented on #6369
Ack, that was my bad - turns out I was editing the wrong .tf file. Replacing `security_groups` with `vpc_security_group_ids` **does** work in 0.6.15! The resulting plan applies no changes and `security_groups.#` gets changed to 0 in the state file automatically. Thanks for your help @catsby!

[2016-04-27 14:58] catsby commented on #6369
Awesome, I hope @MattiasGees and @kristjanelias report similar success!

[2016-04-27 15:41] eedwardsdisco commented on #6359
Backslashes are REALLY messing up parsing.

[code]

If I escape the backslash in the 3rd replace argument, it's a "parse error: syntax error"

If I DON'T escape the backslash in the 3rd replace argument, then it becomes an empty string `""`

[2016-04-27 15:48] dcarley commented on #6375
There's an issue and PR in the upstream parser for this:
- hashicorp/hcl#108
- hashicorp/hcl#113

[2016-04-27 16:08] chrislovecnm commented on #6341
@mixacha - Thanks! We need docs and unit tests in the PR

[2016-04-27 16:36] vancluever commented on #6324
@jen20 I know what's up here - there was a similar issue that came up pre-merge due to the fact that primitives in some of the sub-structures were not being checked for their underlying zero values. I can fix this if you want - it should not take long. I'm taking a stab at it this morning and if I finish quickly here I'll put in the PR at least.

If you guys have started on it already let me know!

[2016-04-27 16:40] codymccain commented on #3116
+1

[2016-04-27 16:41] jrnt30 commented on #6324
@vancluever I started an attempt myself @ https://github.com/jrnt30/terraform/tree/GH-6342-cloudfront-custom-error but would be very interested in seeing if there is a better more idiomatic way of approaching this.  I was going to start some testing with the plan -> apply -> plan -> update, etc. to ensure the state file remains consistent.

There is a bit of a strangeness with the diff output but

[2016-04-27 16:54] stack72 commented on #5134
Hi @dcloud9

Can you let me know if this is still a problem? I cannot recreate this error

Thanks

Paul

[2016-04-27 16:57] grahamjenson opened #6379 "aws_security_group lifecycle ignore_changes not working and causes incorrect plan add/change/destroy counts"
[code]

Terraform template

[code]

Terraform state

[code]

Running

[code]

**This is correct, but I want to ignore descriptions.**

So I added a lifecycle ignore_changes making the Terraform template

[code]

Now running

[code]

**This is incorrect and I have no idea what an `apply` will do.**
1. When I `apply` will it change the resource, or remove and add it?
2. Why is it changing a variable

[2016-04-27 17:02] dcloud9 commented on #5134
I don't have issues in my v0.6.15. We can close it. Thanks.

[2016-04-27 17:02] #5134 closed

[2016-04-27 17:02] stack72 commented on #5134
Wonderful news :) thanks!

[2016-04-27 17:02] vancluever commented on #6324
@jrnt30 I think that's exactly what is needed here, unless the SDK docs are lying, then those fields should not be required and their respective pointer values should be `nil`. I'm taking a slightly different approach to testing initially first though and writing unit tests for the expansion functions, so that it's certain that the helper functions are behaving as intended first. Then once that's

[2016-04-27 17:05] stevegula commented on #6096
I have found I hit this limit even when I'm not doing particularly large infrastructure in AWS (including when I use service that don't have particularly low rate limits like Route 53)

[2016-04-27 17:05] stack72 commented on #5049
This has been merged in #5508 :)

[2016-04-27 17:05] #5049 closed

[2016-04-27 17:06] stack72 commented on #3805
This has been merged in #5508

[2016-04-27 17:06] #3805 closed

[2016-04-27 17:07] stack72 commented on #4097
Hi @sochoa & @einyx

Please can you tell me if this issue still exists in 0.6.15 ?

Thanks

Paul

[2016-04-27 17:24] jrnt30 commented on #6324
@vancluever Leaving the fields as nil was my first approach, however when sending the request with those fields present at all, AWS will send a different error response about the custom error not being present so I went that around, setting them all to empty.

That resulted in the underlying XML request having the fields present but unset and the distribution being created properly

[2016-04-27 17:27] vancluever commented on #6324
@jrnt30 cool - I'll check it out. Pulling in your test right now and about to give it a go!

[2016-04-27 17:35] stack72 commented on #5803
@jumping yes that option is available in the UI. without changing the UI - the default will be `Use subnet setting` - this is set to false

I believe we can close this as it  isn't a bug

Thanks

Paul

[2016-04-27 17:35] #5803 closed

[2016-04-27 17:37] stack72 commented on #5710
@catsby I believe we can close this now

The `aws_rds_cluster` resource now has an Updatefunc and it also has started having modification operations on it

Thoughts?

[2016-04-27 17:50] vancluever commented on #6324
@jrnt30 Confirmed your issue. I'm wondering if all of these fields should just be moved to being required, seeing as I can't seem to find an answer in the SDK docs on what they should be if they are not specified, [PUT DistributionConfig][http://docs.aws.amazon.com/AmazonCloudFront/latest/APIReference/PutConfig.html] doesn't seem to really say either. Just doing a quick check of the CloudFront doc

[2016-04-27 17:52] jrnt30 commented on #6324
If you keep them as empty strings it will work properly.  So in my branch it checks for the default int value of 0 and if present, changes it to "", which results in the XML config rendering the attribute but no value actually being associated with it.  This does allow for the same behavior you can get via the UI which is nice, just seems a bit janky.

I wanted to look into the state rehydration s

[2016-04-27 17:54] jrnt30 commented on #6324
Oh, I just noticed one difference between our branches, https://github.com/jrnt30/terraform/commit/60bef88eb98d03e0c28d13b40d350f41a144f6d4#diff-754b6e16b29ee15b1d7463edb2e1f4f7R724

Instead of leaving nil, I explicitly set that response_code to ""

[2016-04-27 17:55] stack72 commented on #5578
A PR has been opened to fix this (#6381) - it will be part of the 0.6.16 release

[2016-04-27 17:58] stack72 commented on #5463
Hi @dustingraves

Can you tell me if this issue is still happening for you? We believe we have solved the `timeout` error message. This means an actual error message should be found now

thoughts?

Paul

[2016-04-27 18:03] stack72 commented on #5406
Hi @JoeOrtiz

Circling back on this to try and close off some older issues - what do you need to use the ELB ARN for?

P.

[2016-04-27 18:03] vancluever commented on #6324
Ahh, I betcha it's because `strconv.Itoa(0)` is `"0"`, versus `""`.

And `response_page_path` might have been OK the way it was, without checking for any empty values. I'm on the fence here on to be explicit or not on this - I've noticed one other thing where if that test on `origin_path` is not defined either (another "optional" field), it fails as well:

[code]

Trying to decide if redundant `el

[2016-04-27 18:10] jrnt30 commented on #6324
The redundant "else" was only required for the `response_error` field in my trails. https://github.com/paybyphone/terraform/commit/f4f09bed9e5ebf43c52fdfe87eb9e5b5b1d284ac#diff-754b6e16b29ee15b1d7463edb2e1f4f7R722 , will leave the response_error nil which results in it not being sent via the SDK call and failing.

I just removed the check for `response_page_path` since that itself results in my de

[2016-04-27 18:10] vancluever commented on #6324
@jrnt30 yeah, you know what, I think your branch is okay. No need introducing anything unintended into this if it's not needed, and it looks like the CloudFront API is happy enough with empty values in a lot of places.

Slowly backing away 😉

[2016-04-27 18:14] vancluever commented on #6324
PS: The only thing I would recommend adding is a unit test for this in `cloudfront_distribution_configuration_structure_test.go` for the case, to test that a value of `0` for  `ResponseCode` translates into `""`.

[2016-04-27 18:20] jrnt30 commented on #6324
Oh no, you get back here, you touched it ;)  I'll take a look at the test.  If you have it setup already we can just merge it in and issue the PR.

Thanks for the feedback and discussion as well, trying to get oriented to the whole stack is a bit overwhelming

[2016-04-27 18:23] catsby commented on #5710
@stack72 not quite; this ticket is referring to RDS Cluster Instance, which still is all `ForceNew`

[2016-04-27 18:28] vancluever commented on #6324
Haha ok, I dropped my branch, I'll pull in yours and add the unit test and put in the PR.

Oh, also to answer your question on zero values on `map[string]interface{}` - I've looked into that as well and haven't seen much. Luckily it hasn't come up as an issue too much for me where it's burned me, except in these few minor instances. What I might look into when writing future code is how to treat s

[2016-04-27 18:34] apparentlymart commented on #6360
Hi @colemickens! Thanks for this.

If you'd like, feel free to open a pull request for your Terraform fork, which will make it easier to see what you've changed and eventually merge it. Work-in-progress PRs are very welcome... just put [WIP] at the start of the summary so we can see clearly that it's not yet ready to merge.

[2016-04-27 18:41] bgutierrez commented on #6369
I was also bitten by this today, and switching to vpc_security_group_ids fixed it.

[2016-04-27 18:46] #5891 closed

[2016-04-27 18:51] vancluever commented on #6324
@jrnt30, I've added the test, see https://github.com/paybyphone/terraform/commit/c5b0bdc63a1a67d88061a64906c186209242f61d.

Not going to put in the PR yet because I think the first two commits should be squashed, seeing as the second is a sort of a revert of the first one. But otherwise I think it's good to go 👍

[2016-04-27 19:07] #5578 closed

[2016-04-27 19:23] mixacha commented on #6341
Kudos goes to @thetuxkeeper <https://github.com/thetuxkeeper>, I just
referenced the pull request in this issue so we keep track of it :-)

[2016-04-27 19:28] dangerp commented on #6375
I ran into this issue as well, and I found a fairly simple workaround.  For any multiline comments that are not attached to a resource (meaning there is an empty line between the comment and the resource), simply use the HCL syntax for a multiline comment instead of multiple single line comments.  For example, instead of

[code]
do this instead:
[code]

As far as I can tell, the hcl printer is tre

[2016-04-27 19:52] mdxp commented on #6343
I assumed that using -diff like this: `terraform fmt -diff` will only display the diff just like the man page is describing: "Display diffs instead of rewriting files" but in order to get this functionality you have to add the `-write=false` flag that is not very intuitive.

[2016-04-27 20:12] eedwardsdisco commented on #6359
Here's some debug info I grabbed using terraform source + delve to understand the backslash syntax error issue.

It appears to be a very low level parsing error.

[code]

[2016-04-27 21:01] jrnt30 commented on #6343
That's a good point.  It appears they are all mutually exclusive.  The explanation of diff is misleading

[2016-04-27 21:06] eedwardsdisco commented on #6359
For completeness I also tried converting my template to JSON and seeing if it's just an issue with the HCL parser.

It's not!

`\\` still results in a syntax error...

[code]

[code]

It's literally impossible for me to insert a single `\` character.

[2016-04-27 21:23] eedwardsdisco commented on #6359
Suspect related to #4052 and #5550

[2016-04-27 21:59] chrislovecnm commented on #3624
@rossedman we are of like minds.

It may be till next week before I have a chance to create a roadmap issue.  Busy busy 😄

[2016-04-27 22:24] dkalleg commented on #3624
Not sure if this is the right forum for this question.. pl point me elsewhere if needed.  Regarding vm update to add a disk (I'm hoping some vmware folks can chime in here):

From vSphere I can add a disk to a running vm, but I cannot see that disk from within the vm; fdisk -l doesn't show it and nothing new under /dev/sd*.  On the vm there are various ways to rescan the SCSI controller for new di

[2016-04-27 22:38] chrislovecnm commented on #3624
@mixacha you seemed to have done disk stuff before.  Can you comment on @dkalleg's question??

@dkalleg I think we need to assume that a remote-exec needs to be run, and probably a reboot.  At the least they have to format or add the disk to lvm for instance.  What @mixacha mentioned is that hot add functionality is often not supported because it is a performance hit.  I recommend that we proceed

[2016-04-27 22:50] stack72 commented on #6169
Hi @mdxp

I finally found the issue here :) PR has been submitted to fix it!

P.

[2016-04-27 22:58] mdxp commented on #6169
Awesome; many thanks! looking forward to test it out.

[2016-04-27 23:00] #6324 closed

[2016-04-27 23:02] #6169 closed

[2016-04-27 23:49] dkalleg commented on #3624
After some internal discussions, it sounds like leaving the scsi rescan up to the user (whether via remote-exec or other means) is the preferable option.  This is a guest OS level operation, which Terraform should be agnostic to.  Maybe we can add a parameter to the vm resources disk definition like `hot-add` which would determine whether we force a guest OS reboot on new disk update or not.  Thou

[2016-04-28 00:28] chrislovecnm commented on #3624
@dkalleg I would say that we should default to reboot, and have an override functionality.  Not sure how the other providers handle it, but would model them.  I know for instance to update sizing on a gce instance, you have to power it down first.

[2016-04-28 00:30] HX-Rd commented on #3354
@afiune Yeah having the same "no such file or directory in" problem. Looks like there is a check done on the paths in the variable interpolation in a phase before the actual run. If you create a empty "my_key" before the terraform apply, that key will be overwritten and used. Ugly hack but the only one that I have come up with to solve this.

[2016-04-28 00:31] chrislovecnm commented on #6300
@dkalleg do you have a moment to see if the PR helps?  This is big problem that we have right now.

[2016-04-28 01:00] dkalleg commented on #6300
I haven't seen any 5 minutes delay problem where no activity is seen in vSphere..  I have seen a possible bug that I made a note to look into at some point around creating a vm from a template on some network.  In that scenario i was seeing the vm coming up but the network would always show up in a "Not connected" state, where I had to go manually hit the Connect check box in the UI before it woul

[2016-04-28 01:26] chrislovecnm commented on #6300
@Shruti29 tag you're it 😄

[2016-04-28 01:30] chrislovecnm commented on #6300
@dkalleg issue: https://github.com/hashicorp/terraform/issues/6174 has another example TF file.@benlangfeld can you pipe in at all?  @dkalleg is getting very familiar with the code, and needs more information.

[2016-04-28 02:52] jonathanallen commented on #2765
I think I am seeing a similar issue trying to use a terraform_remote_state resource in a lookup:

[code]
Plan results in the error:
[code]

Any suggestions on a workaround would be appreciated.

[2016-04-28 03:21] silverjava commented on #5360
I was doing downgrade to work around of it :(

[2016-04-28 03:22] xsmaster commented on #5360
It's what I did.

On Wednesday, April 27, 2016, silverjava <notifications@github.com> wrote:

[2016-04-28 04:10] joshuaspence commented on #6254
It seems that `boolean` is also not a valid `variable` type.

[2016-04-28 06:18] kristjanelias commented on #6369
@catsby I got is sorted by using vpc_security_groups aswell! Thanks!

[2016-04-28 07:05] panda87 commented on #5828
@gottwald Can you pls create a gist or something like that and present what 'mesos-master-init.sh.tpl' file contains?

Thanks

[2016-04-28 07:38] dcloud9 opened #6386 "v0.6.15 - Need to terraform apply twice during VPC peering"
Hi,
Due to recent AWS release of ingressing security groups (SG) on top CIDR ranges when VPCs are peered, we're locking all SQL calls coming only from specific SGs.
I needed to run terraform apply twice as the first run couldn't find the source SG after successful VPC peering.
Do we need to "wait" or include timeout before TF gives up?

[code]

KR,
Don

[2016-04-28 07:40] afiune commented on #3354
@HX-Rd It is exactly what I did. But it is very ugly indeed. Thanks for the answer though! 👍

[2016-04-28 08:50] rainmanh opened #6388 "InsufficientS3BucketPolicyException -- aws_cloudtrail aws_s3_bucket"
Hi

This is on terraform 0.6.15, it also happens on 0.6.14.

When I run a simple terraform file such as :
[code]
{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Sid": "AWSCloudTrailAclCheck20160318",
			"Effect": "Allow",
			"Principal": {
				"Service": "cloudtrail.amazonaws.com"
			},
			"Action": "s3:GetBucketAcl",
			"Resource": "arn:aws:s3:::cloudtrail"
		},
		{
			"Sid": "AWSCloudTrailWr

[2016-04-28 09:02] rainmanh commented on #6388
The issue is down to the AWS Accounts specified in the Policies if ever used.
I created the S3 Bucket in a XXXX AWS account and at the same time creating an AWS_cloudtrail definition in the same account against that bucket.
I forgot to include in the policy the AWS account for this scenario so I got the right error for it.

[2016-04-28 09:02] #6388 closed

[2016-04-28 10:04] tmatilai opened #6390 "Failed CloudFront logging_config change stored to state and not refreshed"
I had an existing `aws_cloudfront_distribution` resource without `logging_config` configuration.
The when adding a new `aws_s3_bucket` and a referencing `logging_config` block, the Bucket was created but not ready when Terraform tried to configure it for the CloudFront distribution:

[code]

This is a familiar case with AWS and it's caching, but the issue is that Terraform anyway **stored the new

[2016-04-28 10:05] tmatilai commented on #6390
Pinging @vancluever and @jrnt30 as you might to have all the context in your working memory after a recent fix on another issue. ;)

[2016-04-28 10:33] tmatilai commented on #6390
Oh, the `bucket` must be specified in "<name>.s3.amazonaws.com" format. Should have read the docs. =)

But the issue still remains, if e.g. the configuration is changed via web console.

[2016-04-28 10:44] markmaas opened #6391 "cannot add instances to existing ELB"
Hi List,

When I add more instances via `aws_instance`, I want those instances to be added to the ELB created with `aws_elb`. So I change the "count" from 1 to 2 and expect the new instance to be added to the elb.

But it crashes (Look at the gist link).

When I destroy it all, and then "apply" it (with now a count of 2) everything is ago and shows no problems.
### Terraform Version

Terraform v0.

[2016-04-28 11:37] jose-cardoso-tjg commented on #4993
Yet another vote for this additional resource. We have existing Direct Connect interfaces with associated Virtual Private Gateway's that we need to manually attach/detach whenever we execute our Terraform code.

This really should be as simple as the solution described by @bryanlovely

[2016-04-28 11:45] benlangfeld commented on #6300
I have not experienced this issue. I have also not had an opportunity to test any further changes yet; I will do ASAP.

[2016-04-28 12:47] markmaas opened #6392 "Instance ID's shifted a spot (Using count)"
Dear Reader,

Because I was running into this problem:
https://github.com/hashicorp/terraform/issues/6391

I refactored my terraform code using this elb setup:

[code]

and this instance setup:

[code]

Where public_subnets comes from the vpc module I wrote:

output:

[code]

main:

[code]

And a zones / blocks variable like this:

[code]

When creating this thing, this variable `instances = ["${s

[2016-04-28 13:11] jrnt30 commented on #6390
Wanted to run this by @vancluever to make sure I'm not off base here, but the branch I put out there addresses the behavior you described.  Just wanted to validate this addresses the spirit of what he had originally done with the check around Enabled and there isn't an edge case I am not aware of (don't use CloudFront much myself)

[2016-04-28 13:41] leopepe commented on #2661
+1

[2016-04-28 15:26] polasekr opened #6394 "Terraform remote-exec and file are using private IP addresses for connection"
## Terraform Version

Terraform v0.6.15
## Affected Resource(s)
- aws_instance
## Terraform Configuration Files

[code]
## Debug Output

https://gist.github.com/polasekr/239d987e061f11b8104360c04fc8d0e9
## Panic Output

n/a
## Expected Behavior

As shown in the output remote-exec provisioner is trying to connect to 172.16.1.84 (private IP address) via ssh while my expectation is that it should be

[2016-04-28 16:00] PurrBiscuit opened #6395 "aws_launch_configuration root_device"
Terraform version: 0.6.15

Affected Resource(s):
- aws_launch_configuration

Terraform Configuration File:

[code]

Terraform Plan output:

[code]

The `root_block_device.#:                       "0" => "1"` part in particular is interesting.  It thinks there is no root device currently set in the launch config when there is one set already in AWS.

Expected Behavior:
Terraform shouldn't be trying

[2016-04-28 16:15] PurrBiscuit commented on #6395
I should also note that we've had this setup running well for approximately 2 months and only recently have started seeing this happen (since upgrading to `0.6.15` it seems.)  We also have a stage environment with the same exact ami build process and terraform configuration for this app in particular that isn't showing this behavior at all.

[2016-04-28 16:24] dharrisio commented on #6357
@awesometown Thanks for the details, I was able to recreate the issue included the `cname_prefix`. Digging into this now.

[2016-04-28 16:40] apparentlymart commented on #6394
Hi @polasekr!

[The `connection` block](https://www.terraform.io/docs/provisioners/connection.html) is the intended way to control how the provisioners connect to your instance(s).

You can use interpolation with the special `self` object to access the properties of the instance being provisioned, including the public IP address, like this:

[code]

Terraform tries to provide some reasonable defau

[2016-04-28 16:44] vancluever commented on #6390
Hey @jrnt30, just commented on the code. I think this is okay, the only time that logging is enabled is when `logging_config` is defined, so if effectively unsetting it to force a diff works, then great!

The one caveat - I'm not too sure if using `nil` the best idea here or if you would want to use `schema.NewSet(loggingConfigHash, []interface{}{})` instead (an empty set). Maybe test it with that

[2016-04-28 16:45] polasekr commented on #6394
Hi Martin

Thank you for the prompt response.
I changed the code to include connection, but now I ran into dependency cycle. How should I define it to avoid dependency loop?

robert@razer-laptop:~/terraform_10point1$ terraform plan
Error configuring: 1 error(s) occurred:

* Cycle: aws_instance.k8s-bootstrap, aws_eip.k8s-bootstrap-IP

    provisioner "remote-exec" {
        inline = [
          "ec

[2016-04-28 16:59] dcarley commented on #6343
The description was copied straight from [gofmt](https://golang.org/src/cmd/gofmt/gofmt.go#L31). I agree, it's confusing - documentation pull requests incoming.

[2016-04-28 17:21] vancluever opened #6396 "provider/aws: aws_vpc_peering_connection should use connected AWS account ID by default"
Currently `aws_vpc_peering_connection` has `peer_owner_id` as a required field. Since this is not a reliable parameter to get from Terraform, it makes deployment into a template that does not have knowledge of account IDs a bit problematic.

Looking in the SDK, [`CreateVpcPeeringConnectionInput`](http://docs.aws.amazon.com/sdk-for-go/api/service/ec2.html#type-CreateVpcPeeringConnectionInput) seems

[2016-04-28 17:22] devth opened #6397 "Feature request: additional-zones on google_container_cluster resource"
https://cloud.google.com/sdk/gcloud/reference/container/clusters/create

[2016-04-28 17:24] devth commented on #5551
Fixed by #5871

[2016-04-28 17:24] #5551 closed

[2016-04-28 17:28] dharrisio commented on #6357
This error is being returned from the `resourceAwsElasticBeanstalkEnvironmentDelete` fucntion. More specifically trying to read the `wait_for_ready_timeout` value.
https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_elastic_beanstalk_environment.go#L507

I was able to get around this using this, but it seems like a migration might be a better way to handle this on

[2016-04-28 18:33] bruun commented on #5812
Has your change been deployed? I'm experiencing that there are duplicate `name` properties in the generated HTML, causing URLs to link back to the top level argument.

Example:
https://www.terraform.io/docs/providers/aws/r/cloudfront_distribution.html#custom_error_response

[2016-04-28 18:46] ledor473 commented on #6179
I'm having the same issue.
Seems like detaching manually (via the Console or the CLI) before running Terraform fix this.

[2016-04-28 18:47] alexpbrown commented on #5812
Looks like it. the previously broken anchor links on the interpolation page[0] for example, seem to work. I'm not sure what you're describing is related, but you probably want to open a separate issue that links to this one if you want someone to take a look.

[0] https://www.terraform.io/docs/configuration/interpolation.html#file_path_

[2016-04-28 19:03] bruun commented on #5812
Seems what I am experiencing is the same as described in https://github.com/hashicorp/middleman-hashicorp/issues/6, which is still open. Thanks for the quick response :-)

[2016-04-28 19:27] vmorris opened #6402 "OpenStack documentation and clarification on boot from image (create new volume)"
### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
- openstack_compute_instance_v2
- openstack_compute_instance_v2.block_device

### Terraform Configuration Files
- variables.tf
[code]
- main.tf
[code]
### Expected Behavior
Terraform does not recreate instance alone when the config doesn't change.

### Actual Behavior
With no changes to the config, Terraform recreates instance.

[co

[2016-04-28 19:54] geekifier commented on #6369
Thanks @catsby, your workaround, or rather, correction on proper usage; prevented my ec2 instance from being destroyed over and over.

[2016-04-28 20:06] jtopjian commented on #6402
@vmorris Thanks for the great bug report! I'll look into this.

[2016-04-28 21:19] norcalli commented on #5673
I was doing the same thing and ran into the problem. Setting `s3_object_version` to "null" worked, but I would like it to do this by default since it's not documented. I was also versioning by appending the `etag`.

[2016-04-28 21:30] dangerp commented on #6005
This one is affecting us pretty heavily.  We want to be able to ignore certain changes on ec2 instances that would otherwise cause a new resource and have the flexibility to manually taint them at our leisure at a later time.

[2016-04-28 21:31] eedwardsdisco commented on #6359
@phinze is there any additional information I can gather to attempt to help resolve this issue?

The parse and escape behavior is SO BROKEN that I cannot trust terraform for production use as it stands.

Here's some more examples showing why this is a big problem:

**1**
[code]

[code]

If I don't escape the backslashes in the JSON file, terraform complains of an `illegal char escape`, so it's at

[2016-04-28 21:39] eedwardsdisco commented on #6359
If this doesn't prove that backslashes are breaking things, I dunno what will...

**1**
[code]

[code]

**2**
[code]
[code]

[2016-04-28 21:41] phinze commented on #6359
Hi @eedwardsdisco - thanks for putting together all these examples! Definitely multiple bugs in here to be sorted out. One of us dig in and keep you posted as we make progress.

[2016-04-28 22:13] pschipitsch opened #6406 "provider/aws Redshift restore from cluster snapshot"
Would like to use terraform to restore from Redshift cluster snapshot.

https://github.com/aws/aws-sdk-go/blob/master/service/redshift/api.go#L2149,L2188

[2016-04-28 22:17] jrnt30 commented on #6390
Yeah, it's interesting in that you can't directly range over `nil` but in this case the actual of `items` in `schema.NewSet` is an empty array.  I'll change it because it does look cleaner and a bit less confusing (and also dig into the spec around pass by value with nil).

[2016-04-28 22:59] boboli opened #6408 "Previous AWS autoscaling policy definition with min_adjustment_step does not migrate properly to terraform 0.6.15"
I was using version 0.6.14 with an `aws_autoscaling_policy` defined with a `min_adjustment_step` value of 1. When I upgraded to 0.6.15, I saw the deprecation warning, so I replaced `min_adjustment_step` with `min_adjustment_magnitude` as I understood them to do the same thing, just one name is deprecated.

I then ran `terraform plan` and `terraform apply` to get it to a clean state. Everything suc

[2016-04-28 23:28] JulianSza opened #6409 "Docker *.tf unexpected EOF crash"
### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
- docker_container

### Terraform Configuration Files
[code]

### Panic Output
gist.github.com/JulianSza/57484554cd5a5d83324ec59e14094058

### Expected Behavior
Error message saying `command =[""]` is invalid

### Actual Behavior
Crash (unexpected EOF)

### Steps to Reproduce
`terraform apply`

[2016-04-29 02:55] codeweft commented on #6084
Thanks for the response. I ended up using the workaround for this. I can understand that this is probably because of the limitations of HCL itself. I wonder why HCL was developed the way it is. Ruby would have been best suited and more flexible for writing tf scripts.

[2016-04-29 06:08] TsuyoshiUshio opened #6412 "Creating Azure ARM strage account at the second time fails"
When I tried to create a storage account using Terraform, it woks fine at the first time.
It fails at the second time.

I think the problem is the storage account name.
If I change the storage account name at the second time, it successes.

I guess that is why Azure Resource Manager has uniqueString function.
The storage account might be deleted later.

Azure Resource Manager template generate thi

[2016-04-29 06:31] danshao opened #6413 "Cloudfront + Internet Gateway terraform destroy issue"
### Terraform Version
[code]

### Affected Resource(s)
- aws_cloudfront_distribution
- aws_internet_gateway

### Output
https://gist.github.com/danshao/afbc1f901ec2fb580832d476ebd14a90

### Expected Behavior
Internet Gateway should be destroyed after one run of `terraform destroy`.

### Actual Behavior
Internet Gateway requires `terraform destroy` to be run twice.

[2016-04-29 09:58] danshao commented on #6413
I have a guess that after trying to destroy the internet gateway after 5 minutes, terraform stops to do so and causes this issue. This might have some correlation with the obligatory 15minute cloudfront distribution destruction.

[2016-04-29 11:54] boxrick opened #6416 "Security group --> vpc_security_group_ids change bug"
### Terraform Version
0.6.15 ( Works in 0.6.14 )

### Affected Resource(s)
- aws_instance

### Terraform Configuration Files

 security_groups
 vpc_security_group_ids

### Info

In Terraform 0.6.14 security_groups was valid from custom VPC, in 0.6.15 it takes it as a value and works but then upon a refresh it tries to re-create the resource.

This means from upgrading to 0.6.14 to 0.6.15 the it re

[2016-04-29 12:10] markmaas commented on #6392
So I think I found the source:

[code]

As you can see terraform is trying to add 4 instances to the elb, even though there really are only three instances. It's just that one of them is called "instances.0" which I do not know where that one comes from. It's also an empty entry.

This is why  I get this error:

[code]

Now I just need to find out where that entry comes from

[2016-04-29 12:53] MattiasGees commented on #6369
@catsby thanks for the explanation, this fixes it.

[2016-04-29 14:11] pmvilaca commented on #5290
I guess that this is related with the problem that I've detected..

If you've a elb without the security_group parameter define (the default sg will be used for that elb) and if you add a security group using the console, terraform won't detect any change when you run `terraform plan` again.

[2016-04-29 14:21] catsby commented on #6369
Hey all, glad to hear the suggestion is working out. I'm going to close this, but for what it's worth, another issue was opened https://github.com/hashicorp/terraform/issues/6416 for the same thing, so I'm going to try to dig into what happened and fix something. If nothing else, re-word/update the docs.

Sorry for the trouble, and thanks!

[2016-04-29 14:21] #6369 closed

[2016-04-29 15:13] joshuaspence opened #6417 "VPCZoneIdentifier cannot be empty"
I have a module that I use for creating AWS autoscaling groups. I have the following variable defined within my module:

[code]

I then have the following Terraform code:

[code]

If I try to use this code to create an ASG that is //not// within a VPC. I get an error from the AWS API:

[code]

The following change seems to make things work again:

[code]

[2016-04-29 15:26] thijsschnitger opened #6419 "Systemd fails to restart DHCP & DNS services when creating Cobbler resources"
When I use Cobbler to manage DHCP and DNS, even with as few as 7 systems systemd fails to restart these services repeatedly and as a result does not keep them running:

[code]

Terraform apply fails with the error:

[code]
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)

cobbler_system
### Terraform Configuration Files

[code]
### Debug Output
##
### Panic Output
##
### Expected

[2016-04-29 16:00] vancluever commented on #6413
Hey @danshao, just looking at the CloudFront stuff specifically, it looks like it deleted okay:

[code]

What might be happening is that you are not getting the error until all the destroy operations in progress finish (as TF runs multiple at once as you can see from the output).

There have been issues where the IGW waiter has misbehaved before, see #3747 and #5120. I'm surprised though, because

[2016-04-29 16:53] joshuaspence opened #6422 "`s3_origin_config` is a required field for `aws_cloudfront_distribution`"
I have the following Terraform configuration:

[code]

Running `terraform apply` returns an error from the AWS API:

[code]

It seems that in order to fix the error I need to add this:

[code]

This requirement should be documented at the very least.

[2016-04-29 18:00] #3562 closed

[2016-04-29 19:13] RyanBowlby-Reflektion commented on #2564
What's the status on this one? Bubbling up that error would prove useful.

[2016-04-29 19:23] jtopjian commented on #6402
@vmorris as you saw in #6411, the docs have been updated. I'm also going to look into reporting a pre-launch error when a top level `image_id` or `image_name` is specified when booting from volume.

[2016-04-29 21:32] catsby commented on #6408
Hey @boboli thanks for writing in. I can see the bug in the `UPDATE` code:

[code]

you've removed or set `min_adjustment_step` to 0, either way, `d.GetOk` will return `false` there for the `ok` value, because it's finding the default zero value for the attribute. In that context, `GetOk` says "false", when we really do want to just just clear that value...

I'm working on a fix for this, in the m

[2016-04-29 22:35] brikis98 commented on #5663
Hitting a frustrating issue with the `-force` flag as well. I have some state in an S3 bucket that is old. Like @dansteen, I did a `terraform remote config` with a `-pull=false`. I then tried a `terraform push -force` to overwrite the old state. However, instead, the old state gets merged into my current state, which messes things up. I'll try the serial number fix to see if that helps.

[2016-04-29 22:37] brikis98 commented on #5663
Update: looks like bumping the `version` number in the `.terraform/terraform.tfstate` file did the trick. Thanks for the workaround.

[2016-04-29 22:48] boboli commented on #6408
Thanks for the quick response!

If by statefile you mean the terraform.tfstate, then I've already tried it, and it doesn't work. After I wipe that value from the statefile, another `terraform plan` just puts the `"min_adjustment_step": 1` back in, and says it'll set it from 1 to 0 again. :(

[2016-04-29 22:50] jen20 commented on #6409
Hi @JulianSza! I can reproduce this on `terraform apply` - thanks for the clear repro. We'll get this fixed ASAP.

[2016-04-29 22:57] djmjmurphy opened #6423 "Module update crashes when adding a second tf file to module directory"
Terraform crash after adding a second file to a module and attempting to perform an update to the module.

The module is basically a set of address books that will get used in building a security group.  Works fine when there was only one file (aws.tf.json) in the module directory but crashed when a second file (desktop.tf.json) was added and an update attempted.

### Terraform Version
Terraform v

[2016-04-29 23:55] jen20 commented on #6409
Hi @JulianSza - this should be fixed in https://github.com/hashicorp/terraform/pull/6424 - we'll try to ensure that gets merged before the next release of Terraform!

[2016-04-30 00:01] #6409 closed

[2016-04-30 02:53] jtopjian commented on #6419
@thijsschnitger Thanks for the report!

It looks like we've got a sticky situation with three different culprits:

* systemd is regulating the number of restarts
* Terraform doesn't have a clean way of issuing a single, final post-apply step.
* Cobbler doesn't account for a large number of sync requests.

I can think of a few different solutions:

1. We implement the channel method from your origi

[2016-04-30 03:58] djmjmurphy commented on #6423
This issue can be closed.  Crash appears to have been caused by improper syntax in desktops.tf.json file.  Though the file was valid json it did not included the proper terraform keys.

Updated as follows to resolve:
{
  "variable":
    [
      { "ssl_vpn":      { "default": "10.254.172.0/22" }}
    , { "nro":          { "default": "10.128.0.0/9" }}
    , { "wireless":     { "default": "10.128.0.0

[2016-04-30 03:58] #6423 closed

[2016-04-30 04:55] danshao commented on #6413
I don't mind having to wait for the deletion of the `aws_cloudfront_distribution`. It's having to run `terraform destroy` twice in order to remove the `aws_internet_gateway`.

While producing the logs that you requested, I noticed that running terraform with `-parallelism=1` produced interesting results.
1. When I ran `terraform destroy -parallelism=1`, all resources were successfully destroyed. W

[2016-04-30 12:14] ruippeixotog opened #6425 "cookies in aws_cloudfront_distribution not optional"
I have the following minimal `aws_cloudfront_distribution` resource config:

[code]

Running `terraform plan` (Terraform v0.6.15) with this config causes a panic (full stack trace [here](https://gist.github.com/ruippeixotog/dcb01808a0ad8f4d87857c77cae61152)). I found out that by adding a value for `default_cache_behavior.forwarded_values.cookies` everything worked as expected.

`cookies` is theref

[2016-04-30 12:35] ApsOps commented on #4077
+1 It would be nice, for taking/updating dynamodb backups as well. Any updates on this?

[2016-04-30 12:49] stack72 commented on #6425
Just a note here that the error occurs in the creation of the Hash for the forwardedValues

[code]

P.

[2016-04-30 13:59] bryanl commented on #4455
Hello, I'm curious if this is still the case? A few months back, we submitted a change to replace the hashicorp built DigitalOcean client with a DigitalOcean maintained version. Throughout multiple projects, I provision hundreds of Droplets at week with Terraform with great success.

[2016-04-30 14:48] matthughes opened #6426 "provider/openstack: Terraform Crash with 0.6.15"
TF files that was working fine with 0.6.14 crashes repeatedly when I upgrade to 0.6.15.

[2016-04-30 14:49] matthughes commented on #6426
[crash.txt](https://github.com/hashicorp/terraform/files/243656/crash.txt)

[2016-04-30 15:28] chalford opened #6427 "Consul module requires a VPC"
Hi there,

### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
- module.consul.aws_security_group.consul
- https://github.com/hashicorp/terraform/blob/master/website/source/intro/getting-started/modules.html.md

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/chalford/7da82451af645f5d7a2f920374de40b6

### Expected Behavior
3 consul servers and a sec

[2016-04-30 19:13] nicolai86 commented on #2143
@mitchellh any guidance on how we can support hashicorp in solving this issues?

[2016-04-30 23:10] kyhavlov opened #6431 "Terraform state stuck after invalid docker_image tag"
### Terraform Version
0.6.15
### Affected Resource(s)
- docker_image

### Terraform Configuration Files
Initially:
[code]
Then, changed the following line:
[code]

### Debug Output
https://gist.github.com/kyhavlov/5a2d79cfc5409d101d5ba2291af807d6

### Expected Behavior
Terraform should fail on the first run because of the invalid tag, then succeed after being given a valid tag

### Actual Behavior

[2016-04-30 23:34] kyhavlov commented on #1178
+1

[2016-04-30 23:47] dstibrany opened #6432 "Crash on v0.6.15 when missing quotes in file function"
The crash happened when running `terraform plan` with the following resource:

[code]

Adding quotes to the the file path fixed it.

[crash.log.zip](https://github.com/hashicorp/terraform/files/243880/crash.log.zip)

[2016-05-01 00:38] apparentlymart commented on #6097
Another possibility: I've noticed that sometimes computed map attributes end up interpolating as an integer... possibly the number of elements in the map? or something else?

In that case, doing an initial plan/apply with `-target="consul_keys.matching-spark-scaler"` may resolve the issue and allow that boolean value to interpolate correctly.

Still a bug that it's crashing rather than returning a

[2016-05-01 00:40] apparentlymart commented on #6432
Hi @dstibrany! Sorry for this crash, and thanks for the report!

I think this is the same bug as in #5672, so I'm going to close this to consolidate the discussion over there.

[2016-05-01 00:40] #6432 closed

[2016-05-01 00:45] apparentlymart commented on #6426
Thanks for the report, @matthughes!

Here's the stack trace part of that log, for easier skimming:

[code]

This crash seems specific to the openstack provider, so I'm going to tag it that way for now until we learn more. Thanks again!

[2016-05-01 00:53] buzztroll opened #6433 "azurerm availability set case mismatch"
When using the asurerm provider and availability sets with on virtual machines terraform always mis-detects that the availability set associated with then VMs has changed even tho it has not.  This occurs due to a case conflict in the name of the availability set.  It appears that azure always reports it in all caps.  Here is the output from a "plan" immediately after an "apply"

[code]

Note that

[2016-05-01 01:04] jtopjian commented on #6426
@matthughes Thanks for the report! I see the issue here, but, if possible, can you post a sanitized version of the configuration that is triggering this error? I'm curious to see how it happened.

[2016-05-01 04:48] apparentlymart commented on #6433
Hi @buzztroll! Thanks for this report.

It's a pretty common class of bugs in Terraform where the backend API does some sort of normalization of values that Terraform doesn't yet know about, and it causes this sort of "perma-diff". I expect you're right that this issue is an example of this type of error.

Normally in this situation we advise as a workaround to manually match your configuration to

[2016-05-01 10:03] radeksimko commented on #6343
Can this be closed now, when #6398 was merged or is there anything left to implement/fix?

[2016-05-01 16:07] jtopper commented on #2957
I'm still bumping up against this.  Use of an EBS volume to hold state whilst instances themselves can be recycled is a really common pattern for us.

[2016-05-01 21:04] HX-Rd commented on #6212
Yupp, hitting this wall as well, "Invalid address to set"

[2016-05-02 04:33] cloudeng opened #6435 "same error in both 0.6.14 and 0.6.15 try to achieve rolling deployment"
Error applying plan:

1 error(s) occurred:
- aws_autoscaling_notification.asg_notifications: diffs didn't match during apply. This is a bug with Terraform and should be reported as a GitHub Issue.

Please include the following information in your report:

[code]

Also include as much context as you can about your config, state, and the steps you performed to trigger this error.

Terraform does not

[2016-05-02 08:38] cstruct opened #6436 "EIP reallocation failure"
Hi,

Since the v0.6.15 release terraform cannot reassociate elastic IPs.

### Terraform Version
Fails on `Terraform v0.6.15`
Succeeds on `Terraform v0.6.14`

### Affected Resource(s)
- aws_eip

### Terraform Configuration Files
Changing config from:
[code]
to:
[code]

### Debug Output
[TRACE log](https://gist.github.com/cstruct/16b25a70711a7554b95fb0b52e23600b)

### Expected Behavior
The EIP shoul

[2016-05-02 09:27] WishCow commented on #6436
Also affected by this

[2016-05-02 11:37] HX-Rd commented on #6394
havent tried this my self but maybe try using the eip public_ip instead ${aws_eip.k8s-bootstrap-IP.public_ip} in the connection block. From the documentation "If you are using an aws_eip with your instance, you should refer to the EIP's address directly and not use public_ip, as this field will change after the EIP is attached."

[2016-05-02 12:34] jritsema opened #6438 "aws_elasticsearch_domain.es: InvalidTypeException: Error setting policy"
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)
- aws_elasticsearch_domain
### Terraform Configuration Files

[code]
### Debug Output

https://gist.github.com/jritsema/8d4060e703c9a287753e1e0db5c41afd
### Panic Output

none
### Expected Behavior

An Elasticsearch domain should be created with a policy that grants access to the newly created user.
### Actual Behavior

Throws the f

[2016-05-02 12:35] Turneliusz commented on #2551
Would be great to update

[2016-05-02 13:17] daveadams commented on #5067
My impression from running into this in the past is that the AWS API is returning the JSON document in different equivalent orderings each time, (ie with the keys in a different order). If I run `terraform plan` a dozen times, I might be told nothing needs to change two of those twelve times, and that a change needs to happen the other ten times. The more complex the policy document, the less ofte

[2016-05-02 13:22] daveadams commented on #6289
See also #3634. I think the solution for many of these JSON issues will be for Terraform to parse the JSON from either end and compare the resulting data structure instead of just comparing the JSON strings. AWS clearly isn't always storing these documents internally as strings, but is regenerating the JSON on the fly for a describe.

[2016-05-02 13:59] gottwald commented on #5828
Don't have the original any more but something like this would do:
[code]

Was just referencing the vars, nothing fancy.

[2016-05-02 14:22] panda87 commented on #5828
Thanks @gottwald

[2016-05-02 15:40] apparentlymart commented on #6394
@polasekr sorry I didn't notice in your first message that you are using an `aws_eip` resource to assign an elastic IP to the instance.

You suspected correctly that the `aws_eip` resource won't be handled until the `aws_instance` resource is completed, and provisioning is part of creating the resource.

I think you have a few options here to work around this:
* Use `associate_public_ip_address` o

[2016-05-02 15:46] catsby commented on #6408
@boboli yeah I figured that out myself shortly after posting that.  I think I have a fix in place I'm just testing it now, hopefully post that today.

Sorry for the trouble!

[2016-05-02 16:36] jeekajoo opened #6439 "aws: Add support for 'requiresAttributes' in aws_ecs_task_definition"
### Terraform Version

v0.6.15
### Affected Resource
- aws_ecs_task_definition
### Problem

`aws_ecs_task_definition` [documentation](https://www.terraform.io/docs/providers/aws/r/ecs_task_definition.html) does not tell how to configure `requiresAttributes`

Example:

[code]

Is it a matter of documentation that is not up-to-date, or is it missing in the api code also?

Thanks

[2016-05-02 16:38] catsby commented on #6408
The fix is in https://github.com/hashicorp/terraform/pull/6440 and should tidy up the reoccurring plan

[2016-05-02 16:53] astoltz opened #6441 "Terraform plan crashes when aws_cloudfront_distribution.xxx.default_cache_behavior.forwarded_values.cookies is not set"
Terraform version: v0.6.15

Example:

[code]
[crash.log.zip](https://github.com/hashicorp/terraform/files/245529/crash.log.zip)

[2016-05-02 17:05] delias- commented on #5802
Maybe not worth opening a new bug for this, but when I am attempting to use token against a v3 keystone auth_url, terraform outputs the following error, saying it requires a password.

"
Error refreshing state: 1 error(s) occurred:

* You must provide a password to authenticate
"

Specifying a v2.0 keystone URL allows it to connect, but I get an authentication error back from keystone as v2.0 obvi

[2016-05-02 17:22] stumyp commented on #6416
Have the same issue, forced to revert back to 0.6.14, not fixed in current master either.

[2016-05-02 17:24] pryorda commented on #5802
What Variables do you have set and what os?

[2016-05-02 18:20] fernandobixly commented on #4455
We have not tested this at all since moving to Kubernetes on GCE. We no longer have the setup to test this.

[2016-05-02 18:43] apparentlymart commented on #6416
Sorry for the trouble, folks!

The referenced issue #6369 has a workaround for this, which appears to allow you to get around the problem by adjusting the config to match what Terraform is reading back from AWS.

It sounded like @catsby wanted to use this ticket to investigate this and either implement a fix or document the workaround, but hopefully that workaround is useful in the mean time.

[2016-05-02 18:47] apparentlymart commented on #6441
Here's the stack trace I fished out of the log, for easier reference:

[code]

This crash seems to be inside the custom hashing function for the `forwarded_values` set, so I'm going to tag this as an AWS provider issue for now, until we learn some more.

It might be possible to "quick-fix" this by removing the custom hashing function and instead use the built-in default that was added some version

[2016-05-02 18:53] delias- commented on #5802
CentOS 6.6, 2.6.32-504.30.3.el6.x86_64

example.tf:

`provider "openstack" {
  auth_url = "https://devcloud.mycompany.com:5000/v3"
  tenant_name = "dev2"
  token = "<The X-Subject-Token returned from keystone http api>"
}`

No "OS_" environment variables are set; however I get the same behavior if I do set OS_AUTH_TOKEN, though.

[2016-05-02 19:10] Gary-Armstrong commented on #2957
It is interesting that I can make it go away by simply tainting the instance.

[2016-05-02 20:06] chrislovecnm commented on #3535
@jen20 @stack72 @phinze please close

[2016-05-02 20:07] polasekr commented on #6394
@apparentlymart

Thank you for your help. The solution of moving provisioner to aws_eip worked like a charm.

[2016-05-02 20:18] stack72 commented on #3535
Closed as PR open for this now

[2016-05-02 20:18] #3535 closed

[2016-05-02 20:56] stumyp commented on #6416
thanks @apparentlymart , that worked.
I think it is safe to close this one :+1:

[2016-05-02 22:13] apparentlymart commented on #6394
I've re-tagged this as documentation to turn this ticket into a request to document that workaround. :)

Thanks!

[2016-05-02 22:43] catsby commented on #4578
Hello all – 

I apologize for the silence here. I’ve read up on the issue and can explain the root cause here and provide a workaround.

The provided configuration is attempting to manage users to groups dynamically via variables, however, it’s dynamically creating a `aws_iam_group_membership` _per user_, which is the crux of the reoccurring plan we’re seeing. The `aws_iam_group_membership` resour

[2016-05-02 23:05] dkalleg opened #6444 "Schema update existing member of list vs update new member of list"
Hi there,
### Terraform Version

Terraform v0.6.16-dev (e0f1283ee4692cbdebbde5042d4c8bc66685b9aa+CHANGES)
### Affected Resource(s)
- vsphere resource_vsphere_virtual_machine.go
- Probably every other provider

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.
### Problem definition

I don't see a way to distinguish updating a reso

[2016-05-02 23:43] razrman commented on #5108
Same, here. Now I can't do a terraform destroy and have to manually delete stuff - uhg

Error refreshing state: 1 error(s) occurred:

* aws_launch_configuration.admin: Invalid address to set: []string{"root_block_device", "0", "encrypted"}

[2016-05-03 00:15] apparentlymart commented on #6444
Hi @dkalleg,

For the moment I've tagged this as specific to the vSphere provider, because in other cases the behavior you're describing would be correct... adding a new item to a list requires a new resource just as much as editing an existing one.

If vSphere allows adding new disks to a VM but doesn't allow exiting existing ones then it may be that this should just be expressed in a different w

[2016-05-03 00:28] dkalleg commented on #6444
Thanks @apparentlymart! I certainly understand that many use cases would expect and want the behavior we see from Terraform today, I meant to propose this more as a feature add rather than an adjustment to todays behavior.

I'm working on the workaround I mentioned above of adjusting the overall schema definition of a disk.  I'll report back if it doesn't work out or not, and how graceful the chan

[2016-05-03 01:17] glasser opened #6446 "ignore_changes: diffs didn't match during apply"
I got this with `terraform apply`.  It happens moderately often on this ASG.

[code]

We are running TF from a relatively recent master with a couple (presumably irrelevant) local changes: https://github.com/meteor/terraform/commit/4df071f6884e80c4839551e974bbb311f23309fc

I have not been able to minimize this. This seems to only affect this ASG even though we have others; the most obvious differe

[2016-05-03 01:51] cyakimov commented on #581
👍

[2016-05-03 02:42] eedwardsdisco commented on #6359
Getting bit again by this parsing issue in yet ANOTHER way. I seem to be unable to insert `$!` when using `remote-exec`.

[code]

Notably, this section near the end of the long command string: `& echo \"$!\"`

When terraform parses it and runs it in the .sh file that it creates on the target server, the echo contains an empty string (e.g. `& echo ""`).

I've tried escaping it as per `$$!` as well

[2016-05-03 03:07] mengesb opened #6447 "True != True"
Terraform variables behave differently when overridden from `terraform.tfvars` or command-line versus accepting the defaults from `variables.tf` or `main.tf` (plan files). Basically, if you're using a boolean variable in the plan, anything you provide that will override this is considered a string, and not the same type as the original variable.
### Terraform Version

0.6.15
### Affected Resource(

[2016-05-03 03:45] jtopjian commented on #5802
@delias- I think this is worth opening a new issue for 😄

[2016-05-03 03:53] chrislovecnm opened #6448 "vsphere provider - stability enhancements - improve validation of schema"
Many of the `Schema` elements are not being validated properly.  From instance if `cdrom` is set to an empty string, we are not failing gracefully.  Validation needs to be added throughout the code base primarily through the use of `ValidateFunc`.  Specifically if a `Schema` is marked `Optional: true` then we need to add validation.  It could come in as an empty String.

Example https://github.com

[2016-05-03 05:43] pforman commented on #5108
I know why this is happening, but I don't have a fix I'm comfortable with yet.

Based on this: https://aws.amazon.com/blogs/aws/new-encrypted-ebs-boot-volumes/
and this: http://docs.aws.amazon.com/sdk-for-go/api/service/autoscaling.html#type-Ebs

it is clear that root devices _can_ be encrypted.  So, the API is returning "encrypted = false" on these devices.  When `readBlockDevicesFromLaunchConfig

[2016-05-03 05:52] chrislovecnm commented on #4727
@mehleet there are two problems here. First we do not support this feature yet, secondly we need to fail gracefully.

[2016-05-03 05:53] chrislovecnm commented on #4755
@gitmayor any updates?

[2016-05-03 06:02] pforman commented on #5108
Hmm, looks like `resource_aws_instance` handles this completely differently, by shortcutting out of the structure read on the root device.

In `readBlockDevicesFromInstance `, `resource_aws_instance` skips these for root devices:
* device_name
* encrypted
* snapshot_id

https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_instance.go#L785

[2016-05-03 06:05] atward commented on #6076
Appears to be introduced in 3f41515d from #5321. The ec2 TerminateInstances leaves the eni dangling and is picked up by the aws_route.resourceAwsRouteRead Computed attribute.

I don't think computed attributes here are the ideal solution as we need a way to differentiate between what is desired and what has been automatically set by AWS. Preferably resourceAwsRouteUpdate should lookup the NetworkI

[2016-05-03 07:45] dbrandt commented on #6436
Ran in to this as well.

@cstruct Thanks for taking the time to write up a thorough bug report. I wasn't certain if I was doing something stupid with AWS or if this was an issue...

[2016-05-03 11:13] radeksimko commented on #6439
Hi,
this field is currently not supported by Terraform - hence it's not documented either.

We'd welcome PRs for adding that field though. It looks like the best way to implement this currently would be via `TypeSet` rather than `TypeMap` due to [this bug](https://github.com/hashicorp/terraform/issues/2143).

[2016-05-03 12:13] jrnt30 commented on #6441
Seems like a duplicate of #6425

[2016-05-03 12:32] kuberkaul opened #6450 "using splat within a connection to get self.private_ip doesn't work."
Hi there,

Terraform v0.6.15

Affected Resource(s)
Please list the resources as a list, for example:
- connection

[code]
### Debug Output

Error applying plan:
1 error(s) occurred:
- Resource 'google_compute_instance_group_manager.djin-dev-search.0' does not have attribute 'private_ip' for variable 'google_compute_instance_group_manager.djin-dev-search.0.private_ip'

Please list the steps require

[2016-05-03 12:48] lewg opened #6451 "OpenStack Security Group IPv6 Capitalization"
When using the OpenStack provider, if you specify an IPv6 cidr with capital letters, terraform will continually try to re-create the group (and fail) because the state returned and stored for the cidr is in lowercase. The provider should do a case-insensitive compare.

### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
- openstack_compute_secgroup_v2

### Terraform Configuration Fil

[2016-05-03 13:02] astoltz commented on #6441
I didn't see that one. Thanks.

[2016-05-03 13:02] #6441 closed

[2016-05-03 13:11] jrnt30 commented on #6435
@cloudeng I'm curious, does your configuration actually reference the `aws_launch_configuration` resource for the `groups_names` attribute as the diff suggests?  I believe this should referencing the `aws_autoscaling_group` resource not the  `aws_launch_configuration` resource.

If so, does changing this fix your issue properly?

Relevant Diff Extract:
[code]

[2016-05-03 13:14] jrnt30 commented on #6425
@apparentlymart Had some additional info/log @ https://github.com/hashicorp/terraform/issues/6441#issuecomment-216324989

[2016-05-03 13:19] Fodoj commented on #6155
Any luck with this issue? Do you need my support?

[2016-05-03 13:24] davidfic commented on #581
👍

[2016-05-03 14:15] rainmanh commented on #4578
@catsby Thank you so much for the provided workaround. It works perfectly fine as long as you do not use any sort of modules.

Have you got an example on how to get this done also using modules? The values for the mapping gets lost when using modules and I cannot see a simple solution to overcome this issue.

[2016-05-03 14:15] jtopjian commented on #6155
Sorry for the delay on this -- I'll try to spend some time this week. If you're able to find a solution, I'd gladly take a PR :)

[2016-05-03 14:17] jtopjian commented on #6451
Bonus points for IPv6 😃

Thanks for reporting this!

[2016-05-03 14:22] jtopjian commented on #3601
#6410 was just merged that provides Neutron security groups and rules as two separate resources.

The Nova API-based security groups will continue to have rules and groups coupled. I think there would be significant work to decouple them.

I'm going to consider this closed, but anyone is free to re-open if they feel other wise.

[2016-05-03 14:22] #3601 closed

[2016-05-03 14:34] catsby commented on #4578
The workaround suggested won't work with modules, unfortunately. There's another issue that documents the problem here: https://github.com/hashicorp/terraform/issues/1336

This should be addressed in an upcoming release, likely v0.7.0, but I don't have an ETA for that, unfortunately.

[2016-05-03 15:33] vmorris opened #6455 "provisioner/chef: make the installURL parameterized"
### Affected Resource(s)
- chef_provisioner

Can we have the installURL in the Chef Provisioner to be parameterized? Not all clouds are public, and not everyone can use an HTTP proxy!
### References

https://github.com/hashicorp/terraform/blob/master/builtin/provisioners/chef/linux_provisioner.go#L14

[2016-05-03 15:37] catsby commented on #4578
Hey all –

Another solution that should work with modules can be done by combining the membership information in a single string variable, and splitting on a special delimiter.

**variables.tf:**
[code]

**example_config.tf:**
[code]

**invocation:**

[code]

(not the "pipe" `|` separator between `charlie` and `bob`)

Here the `group_membership_names` variable lists the users, separated by `,`, an

[2016-05-03 15:52] loicAG commented on #2551
This is an issue for us as well

[2016-05-03 16:31] stack72 commented on #6366
This has been implemented in #6401

[2016-05-03 16:31] #6366 closed

[2016-05-03 16:38] smuth4 commented on #6056
I'd really like to have terraform working with 4, and am willing to take a stab at the work, but my strategy would be doing a couple requests upon client initialization to detect the version of the API (since 4.x isn't stable yet). I'm not sure if that's a kosher strategy, or it would be preferred to wait until 4 is stable and then terraform would only support that.

[2016-05-03 16:40] delias- opened #6458 "Using Keystone v3 token with openstack provider returns error requiring password"
Attempting to use openstack provider with "token" to create an instance returns the following error:

[code]

### Terraform Version
terraform -v
Terraform v0.6.15

### OS Version
CentOS 6.6, 2.6.32-504.30.3.el6.x86_64

### Affected Resource(s)
Please list the resources as a list, for example:
- terraform-provider-openstack

### Debug Output
https://gist.github.com/delias-/4c945e7aa97c63cd80d28b270

[2016-05-03 16:40] conord33 commented on #1431
+1

[2016-05-03 16:45] mechastorm opened #6459 "Remote States - ${path.module{ hardcodes the full machine path in the state file (intended?)"
I was wondering is this intended and is it something we need to take into account when adopting remote states.

We are currently adopting remote states for our usage of terraform and having Jenkins run our terraform plan and apply commands to simplify auditing and controls.

What we have found is on terraform stacks that use the ${path.moduel}, the value is hardcoded on the tfstate file. This comp

[2016-05-03 17:05] dkalleg commented on #3624
@chrislovecnm @phinze @tkak et al.  Is there plans to move up our govmomi version?  I've learned that there is a fix/feature thats come in since 0.3.0 that I'd be interested in taking advantage of.  In short, with 0.3.0, we cannot detach a disk from a vm without destroying that disk.  I'm sure theres other improvements/features too.

[2016-05-03 17:12] chrislovecnm commented on #3624
@dkalleg yes we need the latest for another bug 👍

[2016-05-03 17:18] dkalleg commented on #3624
@chrislovecnm Is anyone working on it? Do we have an eta?

[2016-05-03 17:23] chrislovecnm commented on #3624
@thetuxkeeper actually is having some issues with it. I cc'ed you on another issue.  If you guys want to figure it out and get a PR in ... we can try to expedite it

[2016-05-03 17:28] mengesb commented on #6447
It should be noted... that this does affect all data types. Any override coming from `terraform.tfvars` or command-line are interpreted as strings. This affects booleans and numerics (float/integer)

[2016-05-03 17:45] ngamradt commented on #5610
I am using terraform v0.6.15 and I am running into the same problem with the tilde (~) character to point to my AWS credentials file.  The folowing should work, but does not:

provider "aws" {
  region = "us-east-1"
  shared_credentials_file  = "~/.aws/credentials"
}

When I hardcode the full path, things work:

provider "aws" {
  region = "us-east-1"
  shared_credentials_file  = "/home/user/.aws/

[2016-05-03 17:52] cloudeng commented on #6435
@jrnt30 following is the template I am using to do rolling deployment its working  after removing aws_autoscaling_notification  without any issues

[code]

[2016-05-03 18:04] akranga opened #6460 "interpolation of file() should not fail"
Interpolation function file() fails if file not found however it shouldn't. Here is an example

[code]

It seem terraform tries to compute state of the attribute before execution. However file does not exists which leads to failure. Will be happy for any sort of workaround

[2016-05-03 18:32] JefStat opened #6461 "aws_api_gateway_integration_response with selection_pattern attribute cannot be created"
### Terraform Version

Terraform v0.6.15

### Affected Resource(s)

- aws_api_gateway_integration_response

### Terraform Configuration Files

https://gist.github.com/JefStat/7db907e52566ce59c575881a7c7c3467

### Debug Output
 https://gist.github.com/JefStat/9eca9815630d2c0fff90a313da94b180

### Expected Behavior
Created API Gateway Integration Response for selection pattern

### Actual Behavior
D

[2016-05-03 18:49] chrislovecnm opened #6462 "provider/vsphere: crash with empty "cdrom" argument"
The following line is throwing a panic if the value of cdrom is set to an empty string.

https://github.com/hashicorp/terraform/blob/501c05d0f76bcdb9f53a733fad675e531d0939bd/builtin/providers/vsphere/resource_vsphere_virtual_machine.go#L686

Need to test for `nil`, and should test the parameter value.

[2016-05-03 19:05] JefStat opened #6463 "Cannot create api-gateway integration with stage variable for lambda function name"
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)
- aws_api_gateway_integration
### Terraform Configuration Files

https://gist.github.com/JefStat/9cb343c0ee66366aa060e7db55fbcef6
### Debug Output

https://gist.github.com/JefStat/9ffa536e973066c67e627d7e77aa0ac9
### Expected Behavior

Should update lambda function
### Actual Behavior

Error invalid lambda function
### Steps to Repr

[2016-05-03 19:20] chrislovecnm opened #6464 "godep error"
I am on the master branch and I am trying to update `govmomi`.  I keep getting an error while running:

[code]

Ideas?

The update fails as well:

[code]

[2016-05-03 20:29] cabarria commented on #5955
I'm running Terraform v0.6.15. I have exported the following keys following an STS call for credentials:
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN (Can use AWS_SECURITY_TOKEN as well)

the aws-cli works, but Terraform complains with the following:

Refreshing Terraform state prior to plan...

Error refreshing state: 1 error(s) occurred:

* 1 error(s) occurred:

* InvalidClientToken

[2016-05-03 20:35] catsby commented on #6464
I've bumped this locally and have a patch here https://github.com/hashicorp/terraform/pull/6465, waiting for acceptance tests to pass

[2016-05-03 20:42] chrislovecnm commented on #6464
@catsby YOU ROCK!!!

cc: @thetuxkeeper @dkalleg

[2016-05-03 20:44] rainmanh commented on #4578
your proposed solution works well for the modules @catsby

I would like to also include an extra for any of those who are trying to automate the inclusion of policies for the groups
for example..:
[code]

[2016-05-03 21:16] #6464 closed

[2016-05-03 21:17] catsby commented on #6464
I merged #6465 , I hope that unblocks you here. Let me know!

[2016-05-03 21:21] jen20 commented on #5360
Fixed in #6452. Thanks for the detailed report!

[2016-05-03 21:21] #5360 closed

[2016-05-03 21:28] sarguru commented on #5975
Just a gentle bump, to see if there is any update . TIA :)

[2016-05-03 21:30] chrislovecnm commented on #6464
@catsby I am still getting the `no packages can be updated`

[2016-05-03 21:36] catsby commented on #6464
The patch I put in was to fix the `cloudfront` godep error. For updating the other library, see [Adding a dependency](https://github.com/hashicorp/terraform#adding-a-dependency) and [Updating a dependency](https://github.com/hashicorp/terraform#updating-a-dependency) in the README. If those don't work, let me know.

[2016-05-03 21:57] colout commented on #6057
+1 to correct the documentation.  You probably already figured it out, but you can do this to fix your plan (hopefully this helps others in the future):

`resource "aws_network_acl_rule" "test" {
    network_acl_id = "${aws_network_acl.public.id}"
    rule_number = 250
    egress = true
    protocol = "all"
    rule_action = "allow"
    cidr_block = "0.0.0.0/0"
}`

[2016-05-03 22:04] linuxus commented on #6056
Hi Stephen,
I'd agree with you that detecting version of the API would help avoid using
unsupported version but I'm not sure if there is a better approach. An
alternative would be to update the provider (pdns) in Terraform to support
the new API at least for 4.0. Alpha2 since PowerDNS updated the api to with
better structure.

As far as my deployment concerns I'm downgrading pdns code base to vers

[2016-05-03 22:08] jen20 commented on #6056
Hi @linuxus and @smuth4! I'm open to either suggestion here. If there is an easy way to detect the version in use we can use that, otherwise we could put some config in the provider to determine which API to use. I'm assuming there are not major changes, but if there are a new provider may be more appropriate.

[2016-05-03 22:21] #6256 closed

[2016-05-03 22:22] catsby commented on #6256
Hi friends – I merged #6325 which should help here, and will go out in the next release (sometime this week, I believe).

Let me know if this helps, or if there is anything else! Thanks!

[2016-05-03 22:30] paulruiz opened #6466 "aws_elasticache_parameter_group crash when change exists outside of tfstate"
Panic crash in _aws.flattenElastiCacheParameters_ when running terraform apply, plan or destroy with existing _aws_elasticache_parameter_group_ where change to a parameter is made outside of terraform.  Verified reproducible with terraform -v "0.6.15" and "0.6.14"

To reproduce
* terraform apply the aws_elasticache_parameter_group.tf included in the gist below
* change the timeout parameter value

[2016-05-03 22:33] paulruiz commented on #6466
Sorry.  Actually the crash only happens if you make the change in AWS console.  Updating the parameter via awscli produces the expected diff from plan.

[2016-05-03 22:38] asciifaceman commented on #386
+1

This is almost a requirement for a terraform+chef infra

[2016-05-03 22:58] paulruiz commented on #6466
Further testing in AWS console revealed that no parameter change is necessary.  A crash can be triggered by just selecting the parameter group, clicking "Edit Parameters", then clicking "Save Changes", without making any changes to parameters.  Then run terraform plan.

[2016-05-03 23:25] chrislovecnm commented on #6464
@catsby yah that did not work. Followed those instructions and what is on godeps readme :(

[2016-05-03 23:27] chrislovecnm commented on #3624
@thetuxkeeper can you try to bump the version of govmomi again? I am getting an error doing it ;(

[2016-05-03 23:34] chrislovecnm commented on #6341
CPU and mem marked as completed

[2016-05-03 23:49] dabdine-r7 commented on #4097
@stack72 don't know about @sochoa and @einyx but it still does the same for me on 0.6.15.

[2016-05-04 00:33] apparentlymart commented on #6459
Hi @mechastorm! Thanks for this question.

In general we've been moving away from including filenames directly in Terraform configs for a number of reasons, including this one. Instead, we now prefer to make an attribute for the file's *contents* and use the `file(...)` to fill it, so that it's the contents rather than the filename that get written into the state.

For `template_file` in particula

[2016-05-04 00:37] apparentlymart commented on #6447
@mengesb thanks for this report!

As of Terraform's current release, all variables and outputs are always strings.

There is actually work underway right now to support different data types for 0.7, after which this might look better... so I expect we'll probably just let this ticket sit for a moment and then see how the situation has changed once the new type system changes are merged. The issue

[2016-05-04 00:58] buzztroll opened #6468 "TRACE level logging when TF_LOG=DEBUG"
When I run terraform with the environment variable TF_LOG=DEBUG I see TRACE level messages in the log.
### Terraform Version

Terraform v0.6.16-dev (9827bfe1a37234be766a7d9a822f559c09ec1f35)
### Steps to Reproduce

Please list the steps required to reproduce the issue, for example:
1. `export TF_LOG=DEBUG`
2. `export TF_TF_LOG_PATH=/tmp/log`
3. `terraform apply`
4. observe TRACE level logs in the

[2016-05-04 01:08] bobtfish commented on #5975
ping @mitchellh @phinze @radeksimko - what's missing here for us to join the party?

[2016-05-04 01:50] dabdine-r7 commented on #4097
OK, I take that back. This is fixed, at least for the nat gateway use case.

After debugging the TF source for a bit I found it was PEBKAC. I made a mistake in my TF configuration: I used `gateway_id` instead of `nat_gateway_id`:

[code]

If you look *very* closely at @mtekel's [comment](https://github.com/hashicorp/terraform/issues/4097#issuecomment-173964071) (which is the same I was experiencin

[2016-05-04 04:31] jtopjian commented on #6458
@delias- Thank you for opening this issue and including a lot of great information to work with!

I've made a slight edit to the title to mention that this seems to be a Keystone v3 issue.

[2016-05-04 04:32] jtopjian commented on #6155
@Fodoj I understand why this is happening.

Take the following configuration:

[code]

The `access_ip_v4` attribute will be the floating IP because there is only one network specified. A floating IP, logically, must be attached to a network and since there's only one, it is implicitly attached to that first network. This is for two reasons:

1. Backwards compatibility from before `access_network`

[2016-05-04 07:29] myrlund commented on #5854
I'm seeing a similar issue, possibly related, where casing seems to trigger the dirtiness.

[code]

This leads to the following diff on subsequent calls to apply/plan:

[code]

If you don't believe it to be related, let me know, and I'll create a separate issue for it.

[2016-05-04 08:17] radeksimko commented on #6461
Hi @JefStat
I believe this is fixed in the master branch via https://github.com/hashicorp/terraform/pull/5893 which will be part of the next release (`0.6.16`).

Feel free to reopen if the issue persists.

[2016-05-04 08:17] #6461 closed

[2016-05-04 11:02] boxrick opened #6470 "Untagged default ACL in VPC - AWS"
### Terraform Version
0.6.15

### Affected Resource(s)

Please list the resources as a list, for example:
- aws_vpc

### Terraform Configuration Files
resource "aws_vpc" "vpc_primary" {
  cidr_block           = "${var.vpc_cidr}"
  enable_dns_hostnames = true
  instance_tenancy    = "default"

  tags {
    Name               = "${var.product}-${var.environment}-vpc"
    Owner              = "${var.

[2016-05-04 12:11] gechr opened #6471 "provider/consul: `consul_key_prefix.subkeys` improperly handles keys containing '.'"
### Terraform Version
`Terraform v0.6.15`

### Affected Resource(s)
- consul_key_prefix

### Terraform Configuration Files
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

### Steps to Reproduce

1. Specify resource `consul_key_prefix` with `subkeys` key containing a `.` character
2. Run `terraform plan` or `terraform apply`

[2016-05-04 12:11] gechr commented on #6471
Ping @apparentlymart

[2016-05-04 12:13] radeksimko commented on #6471
This is cause by a known core bug: https://github.com/hashicorp/terraform/issues/2143

[2016-05-04 12:19] radeksimko commented on #6092
#6344 merged, it will be available in the next release `0.6.16` as `response_parameters_in_json` for both `aws_api_gateway_integration_response` and `aws_api_gateway_method_response`.

It may be reimplemented in the future once as discussed above, but I'm closing this issue for now.

[2016-05-04 12:19] #6092 closed

[2016-05-04 13:15] tkellen commented on #5908
@phinze any thoughts here?

[2016-05-04 13:54] apparentlymart commented on #6471
Yah, unfortunately this (maps with keys that have periods) is just something Terraform can't do for any provider right now...  If the core were fixed I expect this would just stay working.

In the mean time all I can suggest is to choose Consul key names that don't contain periods. Sorry :(

[2016-05-04 14:02] radeksimko commented on #6471
The way we worked around this in some API Gateway resources recently was to add a field `field_in_json`, which was effectively (un)marshalled under the hood as map (I know, 🐽  yucky, isn't it).

I think that such workarounds should be limited to cases where map keys are not fully in user's control (i.e. keys are prescribed by the API) and also such workarounds will be deprecated once we get the co

[2016-05-04 14:21] vmorris commented on #6402
@jtopjian Thanks.
I'd like to request an additional feature that's related here. When booting from an image (create new volume) in openstack, I tend to use shutdown=remove to clean up the cinder volume along with the instance. I'm going to make an attempt at adding this myself to the code... if I'm successful I'll drop a PR in here.

[2016-05-04 14:41] jtopjian commented on #6402
@vmorris would the following help?

[code]

I just noticed that was added to the examples, but is missing from the argument reference in the docs. I'll get that fixed.

[2016-05-04 14:42] vmorris commented on #6402
@jtopjian Thanks :+1:  Do you expect the docs to go live at some point soon?

[2016-05-04 14:44] jtopjian commented on #6402
Doc updates are usually queued and published when a release is cut. I think in certain circumstances docs are published sooner.

Just to make sure, you have seen the existing docs published [here](https://www.terraform.io/docs/providers/openstack/index.html), right?

[2016-05-04 14:47] chrislovecnm commented on #3624
@thetuxkeeper @dkalleg the version bump is not trivial :(  We have breaking changes ... working on it.  Guys let me know if you want to cut a separate PR on this or if I need to focus on it.

Thanks

[2016-05-04 14:53] vmorris commented on #6402
Yes, for some reason I was thinking the new examples were on the openstack provider page, not the compute resource page.

[2016-05-04 14:57] jtopjian commented on #6402
The patch I made with the updated examples will be added to the instance resource page once docs are updated.

There are some existing examples sprinkled throughout all resources, but there could definitely be more. If you think any other kinds of examples are missing, do let me know!

[2016-05-04 15:04] catsby commented on #6464
I opened https://github.com/hashicorp/terraform/pull/6472 to address this, bumping the dependency to the latest tag, v0.6.1

I too got the `no packages can be updated` message, but I was running `godep update github.com/vmware/govmomi` – when I tried `godep update github.com/vmware/govmomi/...` it did update, with all the sub packages. Were you using the trailing `/...`? The instructions make it l

[2016-05-04 15:08] chrislovecnm commented on #3624
@thetuxkeeper @dkalleg @markpeek working on getting the version bump

[2016-05-04 15:18] n8gard commented on #1683
Sorry for the noise, but just wanted to say thanks so much for this. I've been banging my head as all my instances have been being force-recreated. I missed it in the docs. Terraform rawks.

[2016-05-04 15:20] vmorris opened #6473 "openstack_compute_instance_v2 block_device not removed."
### Terraform Version
Terraform v0.6.16-dev (507ae65f43d9767dd057f4408b37a2e5cbdf4ceb)

### Affected Resource(s)
- openstack_compute_instance_v2

### Debug Output
https://gist.github.com/vmorris/6ff907bab20c61a4a9a0de093d82c8dd

### Expected Behavior
Boot volume should be removed following a destroy.

### Actual Behavior
Boot volume persists following a destroy.

### Steps to Reproduce
1. Create n

[2016-05-04 15:27] adriamorgado commented on #6236
Hi there,

I am creating an `aws_lambda_function` resource and I am just wondering whether the `source_code_hash` argument expects the zip file containing the lambda function source code to be present during the execution plan step.

In my case, the lambda resource depends on a null resource that will, in the first place, execute a script to pull the zip files from a Git repository, as it follows:

[2016-05-04 15:40] davidfic opened #6474 "Terraform not reading AWS credentials file"
When attempting to use the AWS provider for Terraform I am unable to only have my credentials in the credentials file. I must have them in either an environment variable or hard coded into the files.

According to the [documentation](https://www.terraform.io/docs/providers/aws/index.html) Terraform should be able to fall back to this file to find credentials for AWS.

I have verified that the cred

[2016-05-04 16:08] dharrisio opened #6476 "provider/aws: Support Elastic Beanstalk option settings with optional parameters"
In Elastic Beanstalk the aws:autoscaling:scheduledaction option settings require an additional parameter. After glancing through all the option settings, it looks like this is currently the only set of settings requiring more than namespace, name and value.

[http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html#command-options-general-autoscalingscheduledaction]

Than

[2016-05-04 16:22] mattmoyer opened #6477 "Set implementation does not appropriately handle hash collisions"
The set implementation in [`helper/schema/set.go`](https://github.com/hashicorp/terraform/blob/8cf13d9582309f45e4a04cd4cd36e717b5b60c75/helper/schema/set.go) produces incorrect results if elements in the set have colliding hash code values.

This should be relatively rare in practice because the size of the sets represented by this implementation would typically be relatively small, but the conseq

[2016-05-04 16:22] catsby commented on #4578
Hey all – it looks like the workarounds are viable, so I'm going to close this. If you're using modules, you'll need to use the latter approach until https://github.com/hashicorp/terraform/issues/1336 is resolved.

Thanks!

[2016-05-04 16:22] #4578 closed

[2016-05-04 16:26] ajbrown opened #6478 "After failover, terraform wants to replace RDS cluster instances"
Hi there,

I'm having a major issue involving Terraform wanting to replace my RDS cluster images despite no configuration changes being made to them. This started happening after we had some production issues which caused a Failover, swapping the reader and writer.

My hypothesis is that terraform is seeing that the `terraform.tfstate` says instance 0 should be the writer, but it no longer is, and

[2016-05-04 16:31] smuth4 commented on #6056
I took a closer look at what would be needed, and as far I can tell from the documentation the two relevant things that change are the endpoint prefix (`/` to `/api/v1`), and some minor restructuring of the JSON data (the `ttl` issue plus one or two other things). As for determining the version, that would basically be pinging [`/api`](https://doc.powerdns.com/md/httpapi/api_spec/#url-api) to see

[2016-05-04 16:39] phinze commented on #6232
Consolidating this over with #6005 - see you there!

[2016-05-04 16:39] #6232 closed

[2016-05-04 16:39] ajbrown commented on #6478
This is a false alarm.  After digging a bit deeper, I discovered that the name of the cluster images was changed ever so slightly.  That was what caused the instance destruction.

[2016-05-04 16:39] #6478 closed

[2016-05-04 16:41] phinze commented on #6152
Consolidating with #6005 - see you there!

[2016-05-04 16:41] #6152 closed

[2016-05-04 17:06] phinze commented on #6005
Hey folks, apologies for all the trouble here! This was a tricky one to run down since I didn't originally realize that `ignore_changes` is key to reproduction here. It looks like a boolean casting but when really it is an `ignore_changes` bug.

In order to reproduce, we need a config that:

 * Has a boolean attribute set
 * Has `ignore_changes` applied to another attribute that forces replacement

[2016-05-04 17:08] linuxus commented on #6056
Hi Stephen,
I agree with you that most the client code are valid and shouldn't require
a lot of refractor. Let me know when you have a PR and I can test it out
against my environment.

Thank so much for looking into this.

Abdi

On Wednesday, 4 May 2016, Stephen Muth <notifications@github.com> wrote:

[2016-05-04 17:13] MikeSchuette commented on #6005
@phinze This is exactly my case as reported in #6047, except I was changing AMI instead of size.

[2016-05-04 17:16] hajhatten commented on #6005
@phinze Yeah, I'm using ignore_changes in #6152 aswell.

[2016-05-04 17:31] chrislovecnm commented on #6464
👍 thanks

[2016-05-04 17:35] Fodoj commented on #6005
Same for me, using ignore_changes with user_data

[2016-05-04 19:06] #6390 closed

[2016-05-04 19:08] skarungan commented on #5185
Got the same issue, while using different state-files
```terraform apply -state=dev.tfstate```  ---> Runs fine and succeeds
```terraform apply -state=qa.tfstate```  ----> Throws the following error
[code]
Re-running the command worked though

[2016-05-04 19:32] jen20 commented on #6474
Hi @davidfic! Thanks for opening an issue. Do you have a default profile set in your shared credentials file, and if so do you have the `AWS_PROFILE` environment variable (or equivalent) set?

[2016-05-04 19:34] jen20 commented on #6477
Hi @mattmoyer - you're right, this is particularly nasty if you happen to encounter it. I'll give it some thought with @phinze and @mitchellh and come back to this issue once we have a plan.

[2016-05-04 19:41] catsby commented on #6470
Hello @boxrick –

Terraform v0.6.15 included a resource to manage the Default Network ACL, with tags support:

- https://www.terraform.io/docs/providers/aws/r/default_network_acl.html

Please let me know if that resource doesn't suit your needs! It's new as of the latest release, but it should allow you to manage the default acl. There are some caveats explained in the documentation though.

[2016-05-04 19:41] #6470 closed

[2016-05-04 19:43] jen20 commented on #6460
Hi @akranga! You're correct with this at the moment - there is no workaround strictly within Terraform. One common method people are using here is to wrap Terraform execution with a script that generates out a key if necessary and then passes in the file path as a variable. Would this work for you?

[2016-05-04 19:47] jen20 commented on #2143
I *think* #6322 should fix this, though I've not tested anyspecific cases. I'll add some tests around this issue and #6471 to the dev-0.7 branch and see what we can do. At minimum, the actual limitation is possible to remove now the internal representation of maps has changed, so this should be possible to support now.

[2016-05-04 20:13] nicolai86 commented on #2143
@jen20 that sounds great. this is a missing piece in a great `aws_api_gateway` implementation, so any progress on this front makes my day, literally, b/c I can start improving terraform again :)

[2016-05-04 20:15] jen20 commented on #2143
@nicolai86 I just verified that at least in the simple case it works. I'll test with actual resources shortly and close up this issue by adding some tests if all is well.

[2016-05-04 20:20] tyrostone commented on #2972
I just upgraded to Terraform v0.6.15 and I am still seeing this issue. Code below:

[code]

Command used to reproduce:
[code]

[2016-05-04 20:24] davidfic commented on #6474
credentials file:
[code]

config file:
[code]

I have no AWS related environment variables set.

[2016-05-04 20:31] robholland commented on #6005
Yep, we're using ignore_changes also.

[2016-05-04 20:59] chrislovecnm opened #6485 "vSphere provider - document and improve error handling in integration tests"
1. test should fail if `ENV` values are not provided correctly
2. document how to setup the tests
3. document how to only run certain tests

@markpeek did I miss anything?

This is an enhancement for vsphere provider.

[2016-05-04 21:06] hnarimani opened #6486 "Docker images don't get updated on instance"
### Terraform Version
Terraform v0.6.9
### Affected Resource(s)
 aws_instance

Hi,
I  updating frequntly the Container images and after that terraform apply , every thing work fine but image don't get update on instance.

I have to manually reboot the instance to get image updated.

Please help on this issue .
 Thanks

[2016-05-04 21:09] catsby commented on #6422
Hey @joshuaspence – for S3 origins, it seems we "need" an S3 origin config... even if it's empty :/

I've opened #6487 to address this

[2016-05-04 21:15] catsby commented on #6413
Hey there @danshao do you have a configuration file that demonstrates this? Speiciflaly, I'm interested in where you're using the Internet Gateway.... in the past we've addressed this by explicitly adding a `depends_on` with the Internet Gateway:

- https://www.terraform.io/docs/providers/aws/r/internet_gateway.html

If you could share part of your configuration that references the Internet Gatewa

[2016-05-04 21:16] johnbarney opened #6488 "Diffs don't match after applying IAM policy"
## Error output:

    Terraform Version: 0.6.15
    Resource ID: aws_sqs_queue.vault_queue
    Mismatch reason: extra attributes: policy
    Diff One (usually from plan): *terraform.InstanceDiff{Attributes:map[string]*terraform.ResourceAttrDiff{"visibility_timeout_seconds":*terraform.ResourceAttrDiff{Old:"", New:"", NewComputed:true, NewRemoved:false, NewExtra:interface {}(nil), RequiresNew:false,

[2016-05-04 22:01] chrislovecnm commented on #6485
Use some of the documentation talking about creating a test vmdk

- https://github.com/chrislovecnm/microservices-infrastructure/blob/dd483e268e66614f298c60fefc6608309195f086/docs/getting_started/vsphere.rst

@markpeek should we use packer?? I know there is some quirkiness about packer and vsphere currently.  Thoughts?

[2016-05-04 22:10] zeninfinity commented on #5108
Just ran into this issue myself.  Is there a workaround?  Adding an encryption variable still doesn't fix it.  This config:

`  ebs_block_device = {
    device_name = "/dev/xvda"
    volume_size = 8
    volume_type = "gp2"
    delete_on_termination = true
    encrypted = true
  }`

Still outputs:

`* aws_launch_configuration.launch_router: Invalid address to set: []string{"root_block_device", "0",

[2016-05-04 22:26] ryanking opened #6489 "cloudfront distribution should export route53 zone_id"
### Terraform Version

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- cloudfront_distribution

### Feature request

In order to create a route53 alias you need the zone id. So to create an alias to a cloudfront distribution, we need to have the cloudfront_distribution return its zone id.

[2016-05-04 23:04] vancluever commented on #6489
Hey @ryanking, there was a conscious decision to leave this out of the resource, as it is a hardcoded value that is not exposed through the CloudFront API. See https://github.com/hashicorp/terraform/pull/5221#issuecomment-192049919 for the original discussion.

The zone ID is actually global for all CloudFront distributions - `Z2FDTNDATAQYW2` - which is documented [here](http://docs.aws.amazon.com

[2016-05-04 23:08] dcgoss commented on #5622
@c4milo This is a limitation on the Terraform driver, I believe. Check this out: https://cloud.google.com/container-engine/docs/resize-cluster

[2016-05-04 23:11] dcgoss commented on #5622
[code]

[code]

[2016-05-05 00:19] rsalmond commented on #4435
@oillio in case you haven't seen it yet the sqs policy json is now normalized (#4780), works for me as of 0.6.15.

[2016-05-05 00:56] simpsonjon commented on #2114
+1

[2016-05-05 01:41] sodre commented on #2143
@jen20 I am also trying to fix this issue for PR #6115. Can you point how you would expect the provider code would have to change in view for #6322 ?

[2016-05-05 01:48] glasser commented on #6446
OK, I've made my source files a lot smaller and this is good enough to do it (I can probably get it even smaller but it's the end of my day right now).  I can create this successfully, but then if I change user_data and run apply again, I get the diff mismatch error.  Then I run it again and it works.

(I haven't tried it without our wrapper script that does remote state, will try to do that later

[2016-05-05 01:48] glasser commented on #6446
And this is with master, built at 72a1306.

[2016-05-05 01:50] glasser commented on #5627
Looks like #6446 is an ignore_changes issue.

[2016-05-05 02:17] glasser commented on #6446
OK, here's entirely stripped down, built at c8928e4.  This uses a capacity-zero ASG so it starts up fast!

A single tf file (with an AWS profile called dev):
[code]

Run it, change user_data, run again:
[code]

[2016-05-05 02:18] glasser commented on #5627
Yup, #6446 is definitely ignored_changes and I've made a pretty minimal reproduction of how using ignore_changes with aws_autoscaling_group desired_capacity breaks you.

[2016-05-05 03:35] jtopjian commented on #6473
@vmorris This is a good catch.

It should be possible to add a check in the resource's Update function to return an error rather than accepting the change.

[2016-05-05 06:17] danshao commented on #6413
@catsby

I was able to resolve this issue by creating a `depends_on = ["aws_internet_gateway"]` inside the `aws_cloudfront_distribution` resource.

On the otherhand, I've run into this problem before and I've double checked to make sure that I am using `depends_on internet_gateway` for the relevant resources. Dependency-wise, it looked like this:

[code]

Therefore, I would assume that there is a

[2016-05-05 07:52] jcortejoso commented on #2817
Is there any update about this? Supporting Cyncerv2 seems an essential requirement nowadays.

[2016-05-05 09:08] tasquith opened #6494 "azurerm - unable to use a vhd as a reference source image"
### Terraform Version
v0.6.15

### Affected Resource(s)
Please list the resources as a list, for example:
azurerm_virtual_machine

### Expected Behavior
An option should be present in storage_image_reference, allowing a source vhd path instead of image details (publisher, sku, version etc).

### Actual Behavior
No way to use a custom .vhd as a source, to create a new osdisk .vhd from. Only option

[2016-05-05 09:39] dvianello opened #6495 "Terraform crashes when `disk` is wrongly declared in a `google_compute_instance`"
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)
- google_compute_instance
- google_compute_disk
### Terraform Configuration Files

[code]
### Panic Output

https://gist.github.com/dvianello/b9b5124398b9ae8064d12b9ec45077aa
### Expected Behavior

Terraform exits with an error stating that `type` cannot be used when declaring a `disk` into a `google_compute_instance` referring to a

[2016-05-05 10:11] thebenwaters opened #6496 "elb fails to add to state if health check fails during"
Hi there,
### Terraform Version

[code]
### Affected Resource(s)
- aws_elb
### Debug Output

[code]
### Expected Behavior

The elb should have been added to the state
### Actual Behavior

Elb was created, but not added to state
### Steps to Reproduce

Create an elb that will have an unhealthy startup
### Important Factoids

This is more of an issue with the AWS api. It returns an error but still c

[2016-05-05 10:54] stack72 commented on #6494
Hi @tasquith

Please can you post the config that you are using (that you expect to work) - minus secrets?

The provider follows the Azure ARM docs - https://msdn.microsoft.com/en-us/library/mt163591.aspx#bk_imageref

As you can see, it currently only suggests that:

* publisher
* offer
* sku
* version

are supported. Do we need to ask Azure for extra support in their SDK?

Paul

[2016-05-05 11:32] tasquith commented on #6494
Hi Paul (@stack72),

The config doesn't actual exist, it's more a question of feature parity with the xplat cli - probably more of a feature request.

Please find the CLI features here - https://gist.github.com/tasquith/571d98fc04b16f0a9654b06b3fccbd8a

As far as I'm aware, the CLI uses the same REST API - so hopefully its there.

The main objective is trying to have a source vhd as a reference, w

[2016-05-05 12:03] stack72 commented on #6494
Hi Tom

This sounds about correct - I will have to raise an issue against the SDK (as that is what terraform uses) I will try and get that done today

Thanks for getting back to me so fast

Paul

[2016-05-05 12:16] tasquith commented on #6494
Thanks Paul,

I've been asked to mention this issue to hashicorp as we work closely with them and this along with #6372 are blockers for us. Just letting you know so it doesn't seem like I'm not going over your head!

Cheers,

Tom

[2016-05-05 12:19] stack72 commented on #6494
Got it :)

[2016-05-05 12:45] radeksimko commented on #6463
I haven't personally used stage variables (yet), I'm wondering if API Gateway deployment is eventually consistent ...

I plan to work on `aws_api_gateway_stage` resource so I might have a look at this bug too.

[2016-05-05 12:51] joshgarnett opened #6497 "Terraform destroy fails on missing SQS queue"
When attempting to destroy an environment, I run into the following issue when an SQS queue is already missing.  This does not appear to be an issue with other Amazon resources.

Terraform v0.6.15

[code]

[2016-05-05 13:15] sthulb commented on #3690
@catsby Is this an approved proposal? Because I could probably work on it

[2016-05-05 13:28] Aitem commented on #4845
+1  Same problem

[2016-05-05 13:46] stack72 commented on #6497
Hi @joshgarnett

apologies for the error here. Luckily, this has already been fixed in #6381 and will be released in 0.6.16

Thanks for the report

Paul

[2016-05-05 13:46] #6497 closed

[2016-05-05 13:56] radeksimko commented on #6489
To be fair we do this already for S3 buckets: https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_s3_bucket.go#L674

I think it's still better to have this hardcoded once in Terraform rather than sprinkled all over user's Terraform configs.

Also we should allow users to build the dependency chain where DNS records will only be created once the CF distribution is

[2016-05-05 14:14] zulkarnainsncr opened #6498 "Terraform Crashes with panic: Unary - is only allowed"
### Terraform Version
[code]

### Panic Output

[code]

[2016-05-05 14:16] zulkarnainsncr commented on #6498
2016/05/05 10:09:33 [INFO] Terraform version: 0.6.15  0c5c54e7b6a59d77e89ce24057509503639d8d3d
2016/05/05 10:09:33 [DEBUG] Detected home directory from env var: /Users/zkag0001
2016/05/05 10:09:33 [DEBUG] Discovered plugin: atlas = /usr/local/terraform_0.6.15_darwin_amd64/terraform-provider-atlas
2016/05/05 10:09:33 [DEBUG] Discovered plugin: aws = /usr/local/terraform_0.6.15_darwin_amd64/terrafor

[2016-05-05 14:29] phinze commented on #6498
Hi @zulkarnainsncr - sorry to hear about the crash! Looks like you had a little trouble with the new issue template - I'll reformat the above issue for you. 👍

[2016-05-05 14:36] phinze commented on #6498
Doing a search of the issues - looks like the same panic is reported over in #5672.

If you have the config that triggered this panic - can you drop it over on that thread? Thanks!

[2016-05-05 14:36] #6498 closed

[2016-05-05 14:41] davidfic commented on #6474
I cleaned up everything, and started basically from scratch with the files and now Terraform is able to fallback to the credentials file and not need an environment variable. I'll chalk this up to user error although I'm not exactly sure where the error was :)

Closing

[2016-05-05 14:41] #6474 closed

[2016-05-05 15:12] apparentlymart commented on #6489
I would second @radeksimko's opinion here. Having this exposed is expected and intuitive in spite of the fact that we'd be working around a limitation in the native AWS API.

One of the big benefits Terraform provides, in my opinion, is making explicit what would normally be implicit: the relationships between different things are evident to those reading the Terraform configuration, even if they

[2016-05-05 15:17] #6408 closed

[2016-05-05 15:19] catsby commented on #6408
https://github.com/hashicorp/terraform/pull/6440 was merged and will go out in the next release (this week, I think)

[2016-05-05 15:24] apparentlymart commented on #6496
Hi @thebenwaters!

This is a funny one. While creating an `aws_elb` we first create the load balancer and [use partial state to save what we did so far](https://github.com/hashicorp/terraform/blob/6ac312e682819b2241077c5dd4bce6c24e47856b/builtin/providers/aws/resource_aws_elb.go#L280), and then we run the `Update` logic to take care of all the things that require additional API calls.

At first gl

[2016-05-05 15:25] phinze commented on #6446
Thanks for providing the solid repro case @glasser! Digging into this now.

[2016-05-05 15:28] apparentlymart commented on #3690
Hi @sthulb... something along these lines is actually being worked on as part of the 0.7 development by @jen20, so probably best to hold on that and see how things look after he's finished his work. I've not been following closely the details, but I gather that something very like the motivating example in this issue should work once that set of changes is complete.

[2016-05-05 15:49] #6422 closed

[2016-05-05 15:50] catsby commented on #6422
Merged #6487

[2016-05-05 16:14] chrislovecnm commented on #6485
Document
- image setup Linux / open-vm-tool 9.10+ with perl
- datastore needs
- cluster / esx host needs
- vsphere reqs
- API user setup
- network needs IPv6
- ENV vars used in tests
- running individual tests
- specific test needs (CD-ROM image, vmdk, network)

Break up IPv4 and IPv6 into serparate tests. As well as combined test.

Figure out which needs to be documented for users and which needs

[2016-05-05 16:22] boboli commented on #6408
Great, thanks! Looking forward to using the new release!

[2016-05-05 16:33] catsby commented on #6413
Thanks for following up. For `depends_on`, the format is `TYPE.NAME`, e.g.:

[code]

I realize what you shared is shorthand, so maybe you have that in there. I'm glad you were able to resolve this though, and I'm sorry for the trouble. The Internet Gateway limitation is documented and in this case there isn't a lot I can do here about it.

Let me know if there's anything else I can do here

[2016-05-05 16:33] #6413 closed

[2016-05-05 16:46] kuberkaul commented on #6450
@phinze  - Any workaround for this or am I missing something here ?

[2016-05-05 16:53] johnbarney commented on #6488
Just tried with TF 0.6.14 and this issue does not hit me. I'm unblocked, but this seems to be an issue in the latest release only.

[2016-05-05 16:55] radeksimko commented on #6489
True, I forgot about that dependency, you're right.

But it's still better to be explicit, as you mentioned.

[2016-05-05 16:56] stack72 commented on #5406
I am going to close this off - AFAICT I can't see anywhere where the use of ARN for ELB is used. If it were the case, AWS would expose the functionality. If you have a specific usecase then let me know and we can reopen

Thanks

Paul

[2016-05-05 16:56] #5406 closed

[2016-05-05 16:59] ryanking commented on #6489
Thanks @vancluever for the pointer. I was unable to find that.

At the very least this warrants a docs update. I know terraform pretty well and was unable to figure this out on my own.

On the other hand, exporting the zone, even if hardcoded would make life simpler.

[2016-05-05 17:05] vancluever commented on #6489
Hey Guys,

Yeah, it definitely seems like there is a consensus here. The main thing that made me start thinking about this a bit more myself was when someone mentioned the dependency issue on IRC, ie: having the zone ID as an attribute allows a better natural dependency chain between a CloudFront distribution and its Route 53 records.

I can put in a PR soon, if there isn't one already.

[2016-05-05 17:16] danshao commented on #6413
Yes, I'm fully aware of the syntax. As you mentioned, I was writing it shorthand to save time.

Again, although documentation is limited, I don't see why the internet_gateway should be a dependency for aws_cloudfront_distribution since that resource has no relationship with internet_gateway. This holds true for AWS logic and should hold true for the logic in terraform as well.

Dan Shao
+886.988.7

[2016-05-05 17:19] chicagobuss commented on #3413
+1 for us as well.  VPCs without internet access but still with access to s3 via vpc endpoints are one of the primary reasons we want to use AWS but we would like to terraform this infrastructure!

[2016-05-05 18:05] vmorris commented on #6473
@jtopjian I have to admit, I'm just learning terraform.. I see the update function but not sure what would be required. I'll defer this until later, or if someone can drop a PR, I'd like to review.

Thanks!

[2016-05-05 18:08] glasser commented on #5627
For a more abstract `ignore_changes` question: I've read the docs and I don't understand what the intended semantics of `ignore_changes` is.  There are two things I could imagine it being:

(1) After creating, fully ignore this field's configuration and always preserve what exists in the resource's actual state.

(2) Do a three-way diff between the previous value in the tfstate A, the value in the

[2016-05-05 18:28] ccampo133 commented on #1178
+1

[2016-05-05 18:46] hnarimani commented on #6486
Any update please?

[2016-05-05 18:55] hmcgonig commented on #1439
@heavyliftco I have a similar scenario to the one you listed. Being able to pass the source in as a variable (ultimately coming from the jenkins parameter) would make this feature so much more robust.
+1 for this idea.

[2016-05-05 18:59] jtopjian commented on #6473
@vmorris I should be able to tackle this in the next week. I'll keep you updated.

[2016-05-05 19:07] stephenchu opened #6502 "Plan breaks on recreating an aws_security_group_rule whose cidr_blocks contain both a straight-up and function-return list value"
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)
- AWS `security_group_rule`
### Terraform Configuration Files

[code]
### Debug Output

[code]
### Actual Behavior
- The plan shows un-interpolated values for `cidr_blocks` attribute (see `cidr_blocks.3` below):

[code]
- Apply fails. The destruction part of the re-create completes successfully, but the subsequent creation will fail

[2016-05-05 19:30] catsby commented on #3690
Hey @sthulb – glad to hear you're interested in contributing!

There is no formal approval process. We do have a contributing guide if you're interested, but we aren't too stringent about it:

- https://github.com/hashicorp/terraform/blob/master/.github/CONTRIBUTING.md

Regarding this issue in particular, @apparentlymart is correct in that work has already been done, in fact it's already been merg

[2016-05-05 19:30] #3690 closed

[2016-05-05 20:08] sthulb commented on #3690
@catsby I'm not sure this issue is closed by @jen20's PR. I think there's more to cover, i.e. maps

[2016-05-05 20:16] tkellen commented on #5908
a slightly unrelated but relevant concern to consider for user management in terraform (yeah yeah, we should just use vault):
https://github.com/hashicorp/terraform/issues/1604#issuecomment-137797595

[2016-05-05 20:49] catsby commented on #6425
Hey @ruippeixotog – I think you're very correct there, despite the sparse documentation on AWS that explicitly says yes or no here... from my testing I was getting error messages if this was omitted.

I've opened #6505 to address this by documenting that it's required. Unfortunately I think there's a core bug that is preventing us from warning if it's omitted, but we'll have to address that in ano

[2016-05-05 21:00] mrlamroger opened #6506 "Adding retry to chef provisioner"
Hi,

Are there plans to add retry logic to the chef provisioner? Something similar to the max_retries in the aws  provider.

[2016-05-05 21:25] kuberkaul commented on #1902
@apparentlymart  - What about google compute engine ? I try the same but gives me :

[code]

[2016-05-05 22:23] jen20 commented on #3690
Hi @sthulb! Map outputs are supported in 0.7 - just not via that PR. #5841 is the one you are looking for I think!

[2016-05-05 22:44] jwaldrip commented on #6234
Occurring for us as well. Makes it very hard to manage user-data....

[2016-05-06 01:06] kyhavlov commented on #3639
This bug is still around. Is this a side effect of how the docker provider manages images? Right now (0.6.15) it also seems to pull images on plan if they aren't there because of the way it's written, which seems like a major bug.

[2016-05-06 01:19] apparentlymart commented on #3639
I'm not 100% sure since I don't know much about the internals of the docker provider, but I think this would be addressed by us finishing #6430 and then converting `docker_image` into  a data source.

I think what's going on here is that Terraform can't tell at plan time that changing the `docker_image` `name` attribute is going to change the `latest` attribute; it only finds that out at apply tim

[2016-05-06 02:25] clintonm9 opened #6510 "Share provider info between terraform directories"
Is there a way to share a set of provider credentials across different terraform directories?

I was trying to use a module, but I haven't been able to figure it out.

Cheers!

[2016-05-06 02:46] pforman commented on #5108
Sorry, the hint was about the internal implementation.  There is no workaround yet without patching TF source, because it's a state parsing problem in Terraform.  I believe the bug is tickled by using "ebs_block_device" to manage your root device.  Once that's set with "encrypted = false" in the state, you're going to get the error.

It _may_ be possible to change that to "root_block_device" and h

[2016-05-06 04:24] kyhavlov commented on #3639
@apparentlymart I'm not sure converting docker_image to a data source is the right way to go here; the pulling of a specific docker image onto a host seems like state of a deployment that terraform should be managing. That said, it looks to me like this bug happens because terraform is calling the same code on read as it is on update: https://github.com/hashicorp/terraform/blob/master/builtin/prov

[2016-05-06 05:05] apparentlymart commented on #3639
Oh I see... I should've looked more closely before commenting because I didn't know this resource was actually downloading the image... I was thinking about it like "docker run" where the container creation does the image download (where necessary) as a side-effect.

In which case I think using ForceNew in conjunction with what you suggested seems reasonable. The trick is that Terraform can't hand

[2016-05-06 05:35] kyhavlov commented on #3639
Thanks, that makes sense; i'll try to get a PR up.
As a side note, I've been looking for some kind of guide or overview on the structure/design of Terraform's code, is there something like that around? It'd be really helpful as someone new looking to contribute.

[2016-05-06 05:45] donaldguy opened #6511 "aws_route53_record changing name from 'foo.terraform.io' to 'foo.terraform.io.' with create_before_destroy end up with no record"
One thing the title elides is that I am using a state injected by dtan4/terraforming (and mitchellh's `state mv` pr ... actually ...  but I don't think that's a determining factor) which a) was responsible for the disparity in trailing period (even though my state was consistent, albeit moved from one place to another) and b) weight needed to be reset cause I had a pre- dtan4/terraforming#197 inst

[2016-05-06 05:56] pforman commented on #5108
That PR will prevent the problem seen here, and prompt the user to fix an incorrect `root_block_device` declared as an `ebs_block_device`.  (Only during an `apply`, I'm afraid.  It's not caught in a `plan`)

There are some other safety checks I'd like to add, but implementation issues were getting in my way.

[2016-05-06 08:00] adriamorgado opened #6513 "aws_lambda_function: source_code_hash argument expects a zip file to be present"
Hi there,

I am creating an `aws_lambda_function` resource and I am just wondering whether the `source_code_hash` argument expects the zip file containing the lambda function source code to be present during the execution plan step.

In my case, the lambda resource depends on a null resource that will, in the first place, execute a script to pull the zip files from a Git repository, as it follows:

[2016-05-06 10:39] dougt1 opened #6514 "azurerm - error when trying to create a VM with multiple NICs - Network interface must have Primary property set"
**Terraform Version**

v0.6.15

**Affected Resource**

azurerm_virtual_machine

**Terraform Configuration Files**

[code]

**Error**
    \* azurerm_virtual_machine.bastion_host: autorest:DoErrorUnlessStatusCode 400 PUT https://management.azure.com/subscriptions/e214ec76-5e8d-4923-8888-52758aede286/resourceGroups/azurebase/providers/Microsoft.Compute/virtualMachines/acctvm?api-version=2015-06-15 fa

[2016-05-06 11:08] mrcrilly commented on #3116
+1

[2016-05-06 11:21] stack72 commented on #6514
Hi @dougt1

Apologies for the error here. I have actually already reported this to the Azure team (https://github.com/Azure/azure-sdk-for-go/issues/259) - they suggest that multiple NIC configurations are not supported so far. I will chase this up again and let you know

Paul

[2016-05-06 11:37] stack72 commented on #6486
Hi @hnarimani

Apologies that no one has gotten back to you here. If you can, please can you post the terraform configuration (minus any sensitive information) so that we can try and understand what the error is?

Is the error related to aws_instance or docker containers (as the title suggests)?

Thanks

Paul

[2016-05-06 12:00] dvianello opened #6515 "notFound error while destroying a GCP Instance with attached disks"
### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
- google_compute_instance
- google_compute_disk

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/dvianello/b01fcdf37b6a95e15ef5dd9da3136219

### Expected Behavior
Terraform destroys the provisioned infrastructure without errors.

### Actual Behavior
Terraform exits with the following error:

* goog

[2016-05-06 12:13] bks7 commented on #1178
+1

[2016-05-06 12:29] ruippeixotog commented on #6425
Correcting the documentation is more than enough for me. Thank you for the fast fix!

[2016-05-06 13:09] boxrick commented on #4946
This is a real showstopper and again would be awesome if it could be added!

[2016-05-06 13:32] clintonm9 opened #6516 "azurerm can not use Count attribute correctly"
When using the asurerm provider and a count attribute, I can get the initial vm's up and running. When I adjust the count up it tries and change some of the already running vm's.

Config:
https://gist.github.com/clintonm9/b568686fc25456250d5a206e4017e26a

Changing the count from 2 to 3 then running a plan:

[code]

If I try and apply I get the following error:
https://gist.github.com/clintonm9/c22

[2016-05-06 13:51] clintonm9 opened #6517 "azurerm can not adjust vm-size after deploy"
When using the asurerm provider and changing the vm_size, I get an error.

Config:
https://gist.github.com/clintonm9/421a3c04570c5b5d4d0ad99fe2f6eb1f

Changing vm_size from A0 to a A1

[code]

If I try and apply I get the following error:
https://gist.github.com/clintonm9/d922299a29d723cdb1def97c076ad1e0

Error from Azure Audit Log:
[code]

[2016-05-06 14:07] stack72 commented on #6517
Hi @clintonm9

Thanks for the report here. Let me have a look at this and see if i can work out what the issue is here. This could be something in the SDK that is stopping hte upgrade but I need to have a look at this and see first

I will keep you informed

P.

[2016-05-06 14:12] StoyanIvanovI commented on #539
The solution provided is so far from actually being usable. I end up having variables of the desired security group ids and circumvent the dependency clash like that. Far from ideal..
(I am sorry about the rant note of my comment but it really has caused us trouble as our system has quite some rules that go between two groups and using the security_group_rules in a real-world production environmen

[2016-05-06 16:29] gdowmont opened #6519 "provider/postgresql: default ssl_mode is "prefer" introduces breaking change with AWS RDS"
Following the upgrade to 0.6.15, and the commit https://github.com/hashicorp/terraform/commit/220d73f32c8cfef1de1a40e5f29ef3f39aa51c2d we have found that we were unable to run plan/apply using Postgresql provider with the following error:

`postgresql_role.****: Error reading info about role: pq: unsupported sslmode "prefer"; only "require" (default), "verify-full", and "disable" supported`

We ar

[2016-05-06 16:32] thetuxkeeper opened #6520 "provider/vsphere: network interface order changes"
Config:

[code]

Results in (removed ipv6 parts):

[code]

As you can see, interface `0` in the config becomes interface `1` in vmware (confirmed over webinterface of vsphere API `<vsphere-server/mob/?moid=vm-<id>&doPath=guest.net)

Perhaps a different approach for the index of the interfaces would be good (perhaps `deviceConfigId`?)?

[2016-05-06 16:35] dharrisio commented on #6257
@ninjaMog This should be fixed once #6491 is merged.

[2016-05-06 16:37] dharrisio commented on #6257
@artburkart I wasn't able to reproduce the issue with the ELBSubnets. Do you have an Terraform plan that creates the issue? This is what I was using to try and recreate the issue.

[code]

[2016-05-06 16:43] cabarria opened #6523 "Terraform fails to authenticate using STS temporary credentials - InvalidClientTokenId"
I'm running Terraform v0.6.15. I have exported the following keys following an STS call for credentials:
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN (Can use AWS_SECURITY_TOKEN as well)

the aws-cli works, but Terraform complains with the following:

Refreshing Terraform state prior to plan...

Error refreshing state: 1 error(s) occurred:

1 error(s) occurred:

InvalidClientTokenId:

[2016-05-06 17:04] apparentlymart commented on #6519
Hi @gdowmont. Sorry for the trouble here.

The choice of "prefer" was made based on the Postgres manual saying that it was the default. Has RDS just got a more restrictive configuration than regular Postgres, or is the documentation I was reading out of date or otherwise inaccurate? (I will readily confess to not knowing much about Postgres, so I was relying on its documentation and some very ligh

[2016-05-06 17:44] justintime commented on #4070
@solarkennedy how has this been working for you?

[2016-05-06 17:56] gdowmont commented on #6519
Hey Martin. I doubt there is a way to check in the provider if the postgres
is RDS. Would it make sense to put a note in the docs to indicate that
"prefer" cannot be used with RDS. By the way 'pq' docs mention that
"require" is the default for the driver which oddly contradicts the default
from postgres. See https://godoc.org/github.com/lib/pq
On 6 May 2016 18:05, "Martin Atkins" <notifications@gi

[2016-05-06 18:10] icebourg commented on #4165
A solution for being able to attach a policy to a role would be great. We're slowly transitioning to using Terraform for more and more things, but in the interim we can't really use Terraform to manage IAM policy attachments because it will remove access to things Terraform does not yet know about.

It's really too bad because Terraform managing IAM is WAY more compelling than the console/api.

[2016-05-06 18:16] chrislovecnm commented on #6520
i understand that this is a design issue, my question is how is it a problem? What is it breaking, how is it impacting us?

[2016-05-06 18:37] thetuxkeeper commented on #6520
TF would change/redeploy the affected VMs each time you trigger an `apply` (ForceNew for those parameters). Since there is no update implemented. The tests would also fail (non-empty plan) if they used multiple network interfaces.
With an update the issue wouldn't be as big as it is now. But still need a second `apply` to get it right (tests would also fail), if it wouldn't recreate the interfaces

[2016-05-06 18:52] chrislovecnm commented on #6520
What about ignoring the order and keying on mac addresses?  Does the interface have a vmware guid?  Sounds like we need some api level advice as well.

In TF or in `govmomi`?

This is something we need to get fixed or worked around better.  Running a second apply will not fly.

[2016-05-06 18:58] cabarria commented on #6523
Looks like this is failing because the temporary credentials are being requested using the GetFederationToken API. http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html

Those temporary credentials are not allowed to make IAM API or STS calls. There must be some code in Terraform checking for that regardless of whether the user intends to work with IAM or not.

I think t

[2016-05-06 19:53] reppard commented on #1275
We created a gem to deal with this issue using terraform and other community tools:
https://github.com/manheim/awssume

[2016-05-06 20:17] catsby commented on #6436
Hey @cstruct thanks for opening this!

#6521 should fix this. Note that if you're using `private_ip` in your EIP resource, you'll need to use the new `associate_with_private_ip` attribute that's added in that pull request

[2016-05-06 20:29] apparentlymart commented on #6519
I'm not sure here whether it would be better to document that this needs to be set or to just change the default to be "require"... I'd appreciate thoughts from people who know more about Postgres than me about whether "require" is an expected default or whether that would be surprising or cause problems for people...

When I tested this locally whatever version of postgres I got out of the Ubuntu

[2016-05-06 20:30] u2mejc opened #6524 "Terraform fmt adds spaces to commented here-docs, every run returns output to STDOUT"
### Terraform Version

`Terraform v0.6.15`
### Affected Resource(s)

Any HCL object stanza (resource, module, variable, etc...)
### Terraform Configuration Files

[code]
### Debug Output

**Nada**, fmt doesn't appear to support TF_LOG=debug nor trace. Should this be a separate issue? Would be nice to understand how a code block was evaluated.
### Panic Output

n/a
### Expected Behavior

Exit 0, wi

[2016-05-06 20:38] #6436 closed

[2016-05-06 20:39] cstruct commented on #6436
Thank you @catsby

[2016-05-06 20:41] apparentlymart commented on #6524
Hi @u2mejc! Thanks for this report.

It looks like in your example the heredoc is actually inside a multi-line comment, and so `go fmt` is fiddling with the comment rather than the heredoc. I expect the parser doesn't even know there's a heredoc in there, because it'd just treat the comment as a single opaque stream of characters.

Issue #6375 describes another weird thing that `fmt` does with com

[2016-05-06 21:02] stack72 opened #6526 "Next Steps For AzureRM"
This is the roll up issue to track the next pieces of work requires for AzureRM:

- [x] ~~Update AzureRM SDK Version -~~ - Fixed by #6976

- [x] ~~`azurerm_virtual_machine` shows `availability_set_id` shows continual changes (possibly due to casing) - #6331 / #6433~~ - Fixed by #6768

- [x] ~~`azurerm_virtual_machine` cannot update vm_size - #6517~~ - Fixed by #6528

- [x] ~~Potential issue creati

[2016-05-06 21:02] stack72 commented on #6517
@clintonm9 This is being tracked in a rollup issue (#6526) - so i am going to close this so i can track things there

[2016-05-06 21:02] #6517 closed

[2016-05-06 21:04] stack72 commented on #6331
Hi @clintonm9

I am tracking this issue now as part of #6526 and will close this so all correspondance will go there

P.

[2016-05-06 21:04] #6331 closed

[2016-05-06 21:05] stack72 commented on #5829
Hi @lmeyemezu

I am tracking this as part of a larger rollup set of AzureRM issues #6526. I am going to close this so that I can work on the issue there

Paul

[2016-05-06 21:05] #5829 closed

[2016-05-06 21:05] stack72 commented on #5827
Hi @lmeyemezu

I am tracking this as part of a larger rollup set of AzureRM issues #6526. I am going to close this so that I can work on the issue there

Paul

[2016-05-06 21:05] #5827 closed

[2016-05-06 21:07] stack72 commented on #6264
Hi @majormoses

I am going to track this issue as part of a larger set of AzureRM work. I want to have any conversation there so I will close this for #6526

Please track that issues for updates

Paul

[2016-05-06 21:07] #6264 closed

[2016-05-06 21:08] u2mejc commented on #6524
Thx Martin, and you're correct, it's commented here-docs specifically. I appended the title.

Related, do you think the hcl library should have a verbose option in terraform debug? Presently, if gives no output, even in trace.

[2016-05-06 21:09] stack72 commented on #6433
Hi @buzztroll

I am going to track the work on this issue as part of a larger set of AzureRM work I am doing. Issue #6526 is the place to keep an eye on the works progress here

Paul

[2016-05-06 21:09] #6433 closed

[2016-05-06 21:12] stack72 commented on #6494
Hi @tasquith

I am going to track this work as part of a larger set of AzureRM work before the next main release. Please track the updates in #6526 :)

Paul

[2016-05-06 21:12] #6494 closed

[2016-05-06 21:13] clintonm9 commented on #6526
What about the ssh key issue #6212 and data disk issue #6120? Can we add those to the list?

[2016-05-06 21:14] stack72 commented on #6372
Hi @tasquith

I am currently tracking this issue now as a larger set of AzureRM work. I am going to close this issue so that everything can be tracked on #6526

[2016-05-06 21:15] #6372 closed

[2016-05-06 21:17] stack72 commented on #6212
Hi @jlecren

I am going to track the work required for this issue in a larger set of AzureRM work that needs to be done. This is going to be #6526 so please track there

Paul

[2016-05-06 21:17] #6212 closed

[2016-05-06 21:17] stack72 commented on #5793
Hi all

I am going to track the work required for this issue in a larger set of AzureRM work that needs to be done. This is going to be #6526 so please track there

Paul

[2016-05-06 21:17] #5793 closed

[2016-05-06 21:18] stack72 commented on #5796
Being tracked now in #6526

[2016-05-06 21:18] #5796 closed

[2016-05-06 21:23] stack72 commented on #6526
@clintonm9 you caught me in the process of the issue creation :)

[2016-05-06 21:26] clintonm9 commented on #6526
ha, np.

How about this one ;)
azurerm can not use count attribute correctly #6516

[2016-05-06 21:27] stack72 commented on #6120
Hi @razsha / @clintonm9

I am closing this so we can track the fix / progress of it as part of a larger set of azurerm work (#6526)

Please keep updated in that issue

Paul

[2016-05-06 21:27] #6120 closed

[2016-05-06 21:42] pete0emerson opened #6527 "aws_cloudfront_distribution attribute mismatch: custom_header"
My attempt at creating an AWS CloudFront distribution fronted by S3 is failing, and while my gut says it's a configuration problem on my part, the terraform output says that it's a bug. So, here's a bug report.
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)
- aws_cloudfront_distribution
### Terraform Configuration Files

[code]
### Debug Output

https://gist.github.com/pete0emer

[2016-05-06 22:48] stack72 commented on #6526
@clintonm9 looks like the ability to update a virtual machine vm_Size will be part of 0.6.16 - just found the error and am waiting for the tests to run now

[2016-05-06 23:12] stack72 commented on #5827
Hi @lmeyemezu i am trying to recreate this error and it is tough because I do not have a list of the variables you have used

Please can you try and post these (removing anything sensitive)

Thanks

Paul

[2016-05-06 23:23] stack72 commented on #6526
I have been able to recreate the casing of `availability_set_id` issues. This has been reported to the Azure-sdk-for-go team (https://github.com/Azure/azure-sdk-for-go/issues/324) - we need to wait for them to tell us why this is the case

[2016-05-07 00:13] kyhavlov commented on #3639
@apparentlymart After trying this out, I see what you mean. The only way terraform will update both the image and container in the same run is by setting ForceNew. In that case though, it recreates the container any time the image name changes, which isn't what I want either (if I'm switching to a new tag that points to the same image hash I don't want to restart).

So it looks like some aspect of

[2016-05-07 01:31] vmorris commented on #57
This has been open for a year, everybody wants it, any status?

[2016-05-07 01:37] apparentlymart commented on #3639
The way I was originally conceiving it was that there'd be a data source to find containers by criteria *without* downloading them, and then the `docker_container` resource would then automatically download the given image if it isn't already available locally.

So in my earlier example, the `docker_image` data source would just find the hash of the image that matches the name but would not downlo

[2016-05-07 01:43] skuenzli commented on #5422
The issue was that the ESXi server I was working with had a trial license, which apparently does not include API access. A 60-day 'Full' trial license 'fixed' things.

[2016-05-07 02:01] mitchellh commented on #57
Most the work to support this is merged already for 0.7. I expect a close is imminent.

[2016-05-07 02:33] chrislovecnm commented on #5422
@skuenzil so that was the cause only part of the issue ;) Need to fix the panic that occurred. ;)

Please keep this bug open!

[2016-05-07 02:45] skuenzli commented on #5422
oh for sure -- it's pretty-silly for the panic to occur, especially since it comes from govmomi.

[2016-05-07 02:47] chrislovecnm commented on #5422
@skuenzli It may have been fixed ... we are running a REALLY old version.  Currently testing the version bump.

[2016-05-07 03:16] sbkumar007 commented on #523
+1

[2016-05-07 03:29] vancluever commented on #6527
One thing I'm noticing in the diff is the computed hash for the single `origin` is different in both diffs, with the only real difference I see being `origin_access_identity`:

[code]

Not too sure if this counts for anything - I'm not too sure if since the hash for `origin` is computed based off the sub-hashes of all complex structures underneath it, maybe the pre-apply diff is breaking because t

[2016-05-07 03:51] apparentlymart commented on #6527
@vancluever, I wasn't able to find the code on a quick search but I believe at some point I found code that suggested that the `~` prefix means "computed", which seems consistent with your theory.

[2016-05-07 04:25] vancluever commented on #6527
Thanks @apparentlymart!

So if this is true, then I guess the answer we need is if a child hash is computed, is that communicated to the parent? I'm guessing this gets marked as computed as it's an interpolated value, versus what is in the schema, as none of the values in the `s3_origin_config` path are marked as computed.

[2016-05-07 05:13] smyrman opened #6531 "google_storage_bucket does not apply / get create"
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)
- google_storage_bucket
### Terraform Configuration Files

Tested both in a larger configuration, and in a separate, smaller configuration shown below:

[code]

The myrenett.no domain ha been verified through Google Search console, and I am able to create the bucket manually.
### Debug Output

https://gist.github.com/smyrman/b040ec5

[2016-05-07 05:24] smyrman commented on #6531
Update: Also tested with a bucket-name not containing a domain name and get the same error. This makes the steps to reproduce simpler.

# Steps to Reproduce
1. Replace the bucket name (do not use dots).
1. `terraform apply`

[2016-05-07 20:28] kyhavlov commented on #3639
That would work for fixing this issue but then it kind of turns the container resource into a container + image resource that just manages both. That seems kind of weird in the terraform model, but it would work.
The other option is keeping the current image resource pretty much as is and just making it rely on a data source to get the SHA, so that it and the container resource can be updated corr

[2016-05-07 20:50] kyhavlov commented on #3639
@apparentlymart Would it be possible to make ForceNew work for computed fields, so that reading an update to `latest` would trigger a recreation of the image (and thus, the container)? Or is that impossible for the same reason you're adding data sources.

[2016-05-07 21:00] rainmanh commented on #4165
Answering to my own question this seems to work well. So I am attaching the same policy for different users:

terraform.tfvars
[code]

[code]

[2016-05-07 22:12] apparentlymart commented on #3639
This is definitely an interesting case. I'm going to address your first comment first here. :grinning:

I'm definitely not a Docker expert (I've only used it in dev/CI systems so far, and not in production) so please do correct my assumptions here if they seem off...

In my mental model of Docker I've tended to think of the local image store as just a "cache", and thus local images not as resource

[2016-05-07 22:26] apparentlymart commented on #3639
Now considering the issue of putting `ForceNew` on a `Computed` resource: this combination of schema attributes is tricky because one aspect of "Computed" is that it gets excluded when diffing because it's not under the configuration's control and thus there's nothing to diff against (unless it's also `Optional`, in which case things are more complicated.)

Since `ForceNew` is an attribute that is

[2016-05-07 22:38] knuckolls commented on #4713
I can confirm that I am also seeing this problem on v0.6.15

[2016-05-07 23:33] kyhavlov commented on #3639
I think that's a fair point about image management. I don't see a good way for terraform to clean up old images in any implementation; it can't delete the old image immediately after downloading the new one because the container might still be running (and docker won't even allow it to be deleted if that's the case). So if it's going to leak images to the cache anyway, we might as well roll the im

[2016-05-07 23:45] apparentlymart commented on #3639
I'm working on the data sources stuff right now, actually. As of this comment the branch is in a state where it would in theory be possible to develop a `docker_image` data source using the `terraform_remote_state` one as an example. However, I'm probably going to rebase the branch a few more times along the way so it might be easier to wait a little until the first set of work has been reviewed a

[2016-05-08 01:06] rberger commented on #3605
Does it look like this is something anyone is working on? Its a huge pain point at least for me and I would assume anyone who is using Terraform and Chef.

[2016-05-08 04:40] chrislovecnm commented on #4713
@knuckolls this problem is being worked on. We need to bump the govmomi vsphere API version, and are testing it.

[2016-05-08 05:13] zccollad commented on #4863
Having somewhat the same issue her... I am running on a Mac OS

packet_device.virl (remote-exec): + /usr/local/bin/vinstall salt
packet_device.virl (remote-exec): /tmp/terraform_14271347.sh: 16: /tmp/terraform_14271347.sh: /usr/local/bin/vinstall: not found
Error applying plan:

1 error(s) occurred:

* Script exited with non-zero exit status: 127

Terraform does not automatically rollback in the f

[2016-05-08 07:49] yamaszone commented on #265
+1

[2016-05-08 13:06] radeksimko commented on #6523
Hi @cabarria
I was able to reproduce this. You're right in a way that Terraform currently uses `iam:GetUser` to validate credentials.

We may be able to swap this with a fairly new API endpoint `sts:GetCallerIdentity` which wasn't available before. It seems that this API method is always available, even in regions that have explicitly disabled STS support.

I need to confirm this is expected and c

[2016-05-08 13:44] radeksimko opened #6535 "Support (and test functionality) for AWS alternatives?"
It seems that more people are asking for support of AWS-like alternatives - some supported/provided directly by AWS, some not, e.g.:
- [Eucalyptus](https://github.com/eucalyptus/eucalyptus) (EC2 and probably a lot more)
- [Hologram](https://github.com/AdRoll/hologram) (Fake EC2 metadata API) - related: https://github.com/hashicorp/terraform/pull/5014
- [Local DynamoDB](http://docs.aws.amazon.com/a

[2016-05-08 13:59] knuckolls commented on #4713
@chrislovecnm i will happily test and perhaps contribute to whatever branch has that work on it

[2016-05-08 14:08] chrislovecnm commented on #4713
@knuckolls any and all help is appreciated.  This is the PR that we are testing right now: https://github.com/hashicorp/terraform/pull/6479 ... To be clear it is only an API bump change.  It does not have the "Wait for all IP's" that we are hoping will fix some of our network issues.  If you have questions please holler 😄

[2016-05-08 14:30] radeksimko commented on #6523
I just confirmed that `sts:GetCallerIdentity` works on EC2 instances.

I also approached the AWS support in regards to disabled STS regions and the representative told me to wait until they hear confirmation back from the service team. I think I will prepare a PR in the meantime though.

[2016-05-08 14:42] chrislovecnm commented on #6444
@dkalleg email me when u have a chance!

[2016-05-08 14:43] chrislovecnm commented on #6326
@deasmi any ideas to my previous comment?

[2016-05-08 14:46] chrislovecnm commented on #6300
Anyone that can help testing https://github.com/hashicorp/terraform/pull/6479 would get a free cookie ;) We are trying to get up to date API before we tweak network stuff.

If you have questions please ask!

[2016-05-08 14:48] chrislovecnm commented on #4755
@gitmayor ping ...

[2016-05-08 14:57] radeksimko commented on #6523
See PR that is fixing this at #6536

[2016-05-08 16:23] chrislovecnm commented on #6520
@thetuxkeeper as you brought up we should move to using https://www.vmware.com/support/developer/vc-sdk/visdk25pubs/ReferenceGuide/vim.vm.device.VirtualDevice.html#key to identify, but I am wondering if we still need 0,1,2 type keys as well.

Specifically other projects like mantl need a list of devices. Can we do this non-breaking??

[2016-05-08 16:26] chrislovecnm commented on #6520
If not I can get the mantl code changed, and I don't think we need to worry about too many people integrating at this point. We need TF vsphere to run off of the keys, and not 'order'. This apples to all objects disks, CD-ROM, etc.

[2016-05-08 19:32] radeksimko commented on #6217
This is most likely an effect of eventually consistent IAM Role. We already have retry logic in many other places, apparently not in `aws_cloudtrail` yet. :/

[2016-05-08 20:57] solarkennedy commented on #4070
I would say "pretty good". I think we've got the major bugs out by now and it has been serving us well for for non-customer facing use cases (just in case).

I'll make a PR soon and start the process of upstreaming the code.

[2016-05-08 21:35] deasmi commented on #6326
@chrislovecnm still investigating. Reading the gonmomi it seems to be calling out to command line stuff. Trying to get under the hood to see what that returns as if that's incorrect then doubt this is fixable.

[2016-05-08 21:48] chrislovecnm commented on #6326
So we are bumping the govmomi version. And let me know when and if you have an issue in with them. We have some assisrtance by VMware on this.

[2016-05-08 23:40] #6005 closed

[2016-05-08 23:40] #6489 closed

[2016-05-08 23:41] stack72 commented on #6150
Hi @clintonm9

This is being fixed and a PR is just about to open for it. Tracking this as part of the wider AzureRM issue right now

Paul

[2016-05-08 23:41] #6150 closed

[2016-05-09 00:45] jwaldrip opened #6544 "Resource '$n' does not have attribute 'rendered' for variable '$n.rendered'"
On destroy of an terraform config in atlas, I get the following error:

[code]

Each template_file resource looks like this (pretty simple):

[code]

The template file itself:

[code]

[2016-05-09 03:48] arsdehnel opened #6546 "security_groups confusing behavior on non-default VPC"
### Terraform Version
v0.6.15

### Affected Resource(s)
- aws_instance

I was using security_groups within an aws_instance resource that was not within my default VPC:

[code]

This created the instance without a problem and created the reference to the security group without a problem (in the AWS console and the `terraform apply` output).  But it was not saved in the terraform state so every time

[2016-05-09 06:44] knuckolls commented on #6174
I fixed this by adding in a loop that waits until the network information is returning properly from the API. It's up on a rough PR that just shows what I did to get unblocked today. You can see the code in #6547.

[2016-05-09 08:56] trungnguyen commented on #3316
The solution by egarbi works for me - thank you!
But I am curious to know why the split() function works this way i.e. why it creates an index zero element?

[2016-05-09 10:31] tasquith opened #6549 "azurerm - private ip not visible when assigned dynamically"
### Terraform Version
v0.6.15

### Affected Resource(s)
azurerm_network_interface

### Terraform Configuration Files

[code]

### Expected Behavior
When the VM is provisioned, through the web portal a private IP is displayed - dynamically allocated within the subnet range. I'm unable to access this IP for use in further modules of my TF script. When I run terraform show, i can see the following:

[2016-05-09 10:39] stack72 commented on #6549
Hi @tasquith

Luckily, there is a PR open to fix this :) https://github.com/hashicorp/terraform/pull/6538

I am hopeful this will make the 0.6.16 release

P.

[2016-05-09 10:41] looppair opened #6550 "Terraform wants to create aws_cloudwatch_metric_alarm on each run"
Every time I run a plan with terraform, it suggests creating an aws_cloudwatch_metric_alarm which terraform has already created. Additionally, the resource never appears in the terraform state file.

### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
- aws_cloudwatch_metric_alarm

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform should not have attempted to

[2016-05-09 10:42] tasquith commented on #6549
Cheers Paul,

Is there an ETA for the 0.6.16 release?

Thanks again for your help!

Tom

[2016-05-09 10:45] stack72 commented on #6549
@tasquith I believe in the next day or 2 :)

[2016-05-09 10:46] dcarley opened #6551 "aws_route_table: Inconsistency when using gateway_id / nat_gateway_id"
### Terraform Version

[code]
### Affected Resource(s)
- aws_route_table
### Terraform Configuration Files

An `aws_route_table` resource that incorrectly refers to an `aws_nat_gateway` using `gateway_id` instead of `nat_gateway_id`:

[code]
### Expected Behavior

We could make it more user friendly in the face of incorrect configuration by doing one of either:
- automatically converting the `gate

[2016-05-09 10:49] stack72 commented on #6550
Hi @looppair

Thanks for the report, sorry this is causing issues. Please can you post the plan differences that you are seeing? This will help try and debug the issue

Thanks

Paul

[2016-05-09 10:55] stack72 commented on #6551
Hi @dcarley

Thanks for the report here. I agree that this can be confusing. I don't think that we can auto-assign params based on prefixes though - this may cause issues with the state. I think this specific issue needs better documentation to point out that gateway_id is not a nat_gateway but an internet_gateway

thoughts?

Paul

[2016-05-09 10:56] looppair commented on #6550
Thanks for the response.  Updated above.

[2016-05-09 11:07] stack72 commented on #6550
Hi @looppair

I have just tried the following config:

[code]

This works as expected for me. I understand there will be some differences between my code and yours. Can you post what happens on a terraform apply, then a terraform plan?

the code above only suggests that it's adding a cloud metric alarm for the first time. What is the output from the terraform apply?

P.

[2016-05-09 11:15] arsdehnel commented on #6546
Also just noticed that this behavior is slightly different than the behavior for `aws_security_group` resources which is also confusing.  Realizing that now this is getting to be more involved of a request, too.

[2016-05-09 11:43] looppair commented on #6550
On terraform apply, I see:

[code]
Any subsequent plan produces the output mentioned in the OP Actual Behaviour.

[2016-05-09 12:39] Felivel commented on #6514
Hey @stack72, I think we can fix this. They are two `primary` fields, one in the Network Interface itself and one in the IP configuration inside the Interface. This message refers to the on the Network Interface.

I am going to take a look a this later to see if I can get it to work. (Probably not for 0.6.16)

Thanks,
Felivel

[2016-05-09 12:43] stack72 commented on #6514
No worries - this makes sense :)

thanks for the work here on this

P.

[2016-05-09 12:50] hoshy commented on #1431
+1

[2016-05-09 14:05] c4urself commented on #5396
I've now run into this as well -- it seems that you can reproduce this by creating a `aws_security_group_rule`, applying it (runs fine), and then adding an item to the `cidr_blocks`. Applying after this will result in the exact same error @rdark gets.

[2016-05-09 14:09] stack72 commented on #6372
Hi @tasquith

Are you in a position to be able to build terraform from source to run a test for this issue? A PR has been very helpfully created by @Erouan50 and I'd like to try and include it in 0.6.16

Paul

[2016-05-09 14:22] stack72 commented on #6549
Hi @tasquith

this has now been fixes with #6538 :)

P.

[2016-05-09 14:22] #6549 closed

[2016-05-09 14:23] thetuxkeeper commented on #6520
@chrislovecnm : Thanks for confirming this.
A non-breaking change would be possible if there is a reliable way to match the existing interfaces with configured interfaces.
We have some interfaces in the config and some interfaces from the vmware API which we have to get together.
I couldn't find a vmware API call which returns the created device, so that we could save the ID after the creation of

[2016-05-09 14:32] chids commented on #1230
Can confirm this is still happening with `v0.6.15`.

[2016-05-09 14:43] chrislovecnm commented on #6520
@thetuxkeeper we need to engage the `govmomi` experts.  What exactly do you need from the API?

[2016-05-09 14:46] chrislovecnm commented on #6174
@knuckolls would doing a https://github.com/vmware/govmomi/blob/6e991fc1ecadb031898ff6cd9cf53fe08f86116f/property/collector.go#L100 fix this problem as well? I would prefer to do this via the API, so we can let them handle timeouts, errors and such

[2016-05-09 14:48] radeksimko commented on #1230
@chids I think the original issue was different to what @jmehnle mentions above. Can one of you two (or both) open a new issue involving relevant `*.tf` files, sequence of commands + potential `tfvars` files?

Thanks.

[2016-05-09 15:08] chids opened #6554 "Does not prompt for missing variables when --var-file argument is given"
### Terraform Version

[code]
### Terraform Configuration Files

`main.tf`

[code]

`foo.tfvars`

[code]
### Expected Behavior

Terraform should prompt for all missing variable values.
### Actual Behavior

Terraform does not prompt for the value of `BAR` if one supplies a `.tfvars` file even if that file does not define `BAR`.
### Steps to Reproduce

Please list the steps required to reproduce the

[2016-05-09 15:23] catsby commented on #6425
#6505 was merged, fixing the crash and updating the documentation, so I'm going to close this. Thanks!

[2016-05-09 15:23] #6425 closed

[2016-05-09 15:35] tasquith commented on #6372
Hi @stack72,

I'll take a look now - progress may be slow as I've not built it before but it should be fine!

Tom

[2016-05-09 16:01] thetuxkeeper commented on #6174
@chrislovecnm : That's the function (`WaitForNetIP`): https://github.com/vmware/govmomi/blob/master/object/virtual_machine.go#L249

[2016-05-09 16:07] thetuxkeeper commented on #6520
@chrislovecnm : I think we need to know how we can identify a device after creating the VM.
What I can think of right now:
- setting a known ID when creating the device and matching it wherever we want a specific device
- or some API function that let's you create one device after another and returns the device object or the ID

[2016-05-09 16:30] tasquith commented on #6372
Hi @stack72,

I built the provider successfully, but I couldn't get past plan - so I assume the fix is in the core?

I tried building the whole lot just using make - but got the following issue:

ok  	github.com/hashicorp/terraform	0.023s
ok  	github.com/hashicorp/terraform/builtin/bins/provider-atlas	0.019s
ok  	github.com/hashicorp/terraform/builtin/bins/provider-aws	0.022s
ok  	github.com/hashi

[2016-05-09 16:37] tomasquith commented on #6372
@tomasquith

[2016-05-09 16:38] tomasquith commented on #6372
@tomasquith - mentioning my other account as I seem to be having issues subscribing from it.

[2016-05-09 17:05] eedwardsdisco commented on #6554
+1 I've encountered this as well on 0.6.15

[2016-05-09 17:30] #5440 closed

[2016-05-09 17:30] #3268 closed

[2016-05-09 17:30] #4988 closed

[2016-05-09 17:30] #5708 closed

[2016-05-09 17:42] stack72 commented on #2680
Hi all,

I am delighted to say that the work by @jkinred has been merged and will be available in Terraform 0.6.16

Thanks a bunch @jkinred!! :)

P.

[2016-05-09 17:42] #2680 closed

[2016-05-09 17:57] stack72 commented on #6372
Hi @tasquith @tomasquith

We have gone ahead and merged this. There is no adverse effects here and normal func will continue. When 0.6.16 comes out, please can you test this works as expected and let me know how you get on :)

I am going to try and get an acceptance test in place for this

Paul

[2016-05-09 18:11] Felivel commented on #6526
About the casing of `availability_set_id issue` (#6331), I am able to work around the problem by setting the `azurerm_availability_set.name` in all caps.

E.g:
[code]
Apparently Azure is upper casing the names.
Maybe we can upper case it automatically.

[2016-05-09 18:38] majormoses commented on #6526
@Felivel that's strange unless something has changed in the last little bit it should allow lowercase... I can try testing when I have a minute... this is what I had defined and it worked for me:
[code]

if this is now true then I would not want it to auto uppercase but rather add validation in terraform to warn user. @stack72 any thoughts?

[2016-05-09 18:46] majormoses commented on #6526
@Felivel sounds like a red herring as I am able to create with lowercase just fine

My config:
[code]

My plan:
[code]

Applied successfully:
[code]

[2016-05-09 18:47] serialseb commented on #1604
A `when` is already achievable very easily with count, be it as a 1 or 0 from true/false, or as a count * 0/1.

`when` is nice but only cleans up the existing syntax. I'd find a `not()` operator bloody useful, and an `isemtpy()`, as we don't have conditionals and those require regex tricks to work, which is just not nice.

passing empty arrays is hard too, as "" is not an empty, and you ahve to us

[2016-05-09 18:48] norcalli commented on #3884
And also on `v0.6.15`

[2016-05-09 18:56] clintonm9 commented on #6526
@majormoses The issue is when you update the resource after it is deployed. It will keep thinking there's a difference in the lower case version.

[2016-05-09 19:09] lubars commented on #1604
@serialseb, how can I apply this technique to an ebs_block_device?  It doesn't have a `count `parameter.

[2016-05-09 19:09] majormoses commented on #6526
@clintonm9 can you be more specific on what you are updating? I just updated it with a simple tag.

plan:
[code]
aplly:
[code]

modifying an existing tag works as well...

[2016-05-09 19:11] clintonm9 commented on #6526
@majormoses What version are you using?

[2016-05-09 19:16] majormoses commented on #6526
I tested with .14 and .15

[2016-05-09 19:18] comerford commented on #5462
Can confirm that I am seeing this with 0.6.15 too - plan errors parsing the JSON but the apply succeeds and is using the correct policy

[2016-05-09 19:26] majormoses commented on #6526
I brought up a new machine in a new availability set to test and am unable to reproduce so its possible that they fixed it upstream in the go sdk.

[2016-05-09 19:38] pll commented on #1604
@lubars  - I believe `count` is a meta param and can be applied to anything.

[2016-05-09 19:40] jasonf20 commented on #1604
It can only be applied to resources, which somewhat limits it's use as a
"when" condition
On May 9, 2016 22:39, "Paul" <notifications@github.com> wrote:

[2016-05-09 19:40] cabarria commented on #6523
Thanks for the quick response!!!

[2016-05-09 19:44] pll commented on #1604
Oh, ebs_block_device. I think my brain interpreted that as aws_ebs_volume... Sorry about that.

[2016-05-09 19:53] jen20 opened #6561 "Terraform v0.6.16 Release Process"
Hello again @apparentlymart, @jtopjian, @sparkprime, @stack72, @radeksimko, @svanharmelen , @lwander and @ack!

It's Terraform release time again, this time for v0.6.16

Please hold off on merges until this issue is closed - thanks!

[2016-05-09 20:38] pete0emerson commented on #6527
It looks like you're on the right track; if I hardcode the `origin_access_identity` inside the `aws_cloudfront_distribution.origin` stanza it gets rid of the error. I still can't get aws_cloudfront_distribution to succeed with a custom SSL cert, but that's a separate issue that I'll either figure out or file.

[2016-05-09 20:42] stack72 opened #6562 "Remote Storage on Azure"
Tracking issue to note that we need to be able to store remote state in Azure

[2016-05-09 20:43] stack72 opened #6563 "Remote State on Manta"
Tracking Issue to note that we need to be able to store remote state on Manta (Joyent Object Storage)

[2016-05-09 21:06] clintonm9 commented on #6526
@majormoses The issue is not when you update the availability set. It is when you apply that to a azurerm_virtual_machine. After applying try running terraform plan. You will see the casting is wrong and it is trying to update the VM (which it will fail if you try)

See this config example:
https://gist.github.com/clintonm9/218c139385acdd930291cdc1fd569f1f

@Felivel the all caps works for me as we

[2016-05-09 21:14] chrislovecnm opened #6565 "vSphere Provider Roadmap Outline"
# vSphere components started

Will update what is completed:
1. Virtual machines - mostly done
   - Update functionatlity is underway
2. Disks - Need to double check what is doen
   - vmx attachable disks
   - cdrom iso images
3. Misc
   - folder - update is missing
   - cdrom
4. Finders
   - some basic finders are implemented to support object creation
# Overview of vSphere components not started

[2016-05-09 21:15] chrislovecnm commented on #3624
Roadmap started ... please comment!!

Issue: https://github.com/hashicorp/terraform/issues/6565

[2016-05-09 21:47] shuoyenl opened #6566 "Random AuthFailure (401) from *terraform apply*"
Hi,

Here's a summary of the issue we encountered.
*terraform apply* randomly reports 401 error:
Error launching source instance: AuthFailure: AWS was not able to validate the provided access credentials
        status code: 401...

According to the trace log, requests of *RunInstances* and *DescribeInstances* randomly failed (while the same actions succeeded other times.) When RunInstances succee

[2016-05-09 21:59] closconsultancy commented on #2430
I've submitted a similar question to the google group on this:

https://groups.google.com/forum/#!topic/terraform-tool/OhDdMrSoWK8

The workaround of specifying the modules separately seems to work. However, the `terraform destroy` command still seemed to experience a similar error for me:

[code]

[2016-05-09 22:18] cloudynetwork commented on #4919
Any news on if or when this may get implemented? There really is no practical way to tag EBS volumes right now...and tagging EBS volumes is a big part of providing a quality environment!

[2016-05-09 22:18] igorlg commented on #4919
+1! Please, this feature is quite important for us!

[2016-05-09 22:45] damstux opened #6567 "openstack firewall policy and rules: avoid big array"
Hello,

I would like to manage my openstack firewall policy and rules, I have read this:

https://www.terraform.io/docs/providers/openstack/r/fw_policy_v1.html

Is it possible to iterate over openstack_fw_rule_v1.rule_* to avoid a long array like this:
  rules = ["${openstack_fw_rule_v1.rule_1.id}",
           "${openstack_fw_rule_v1.rule_2.id}"]

Thanks !

[2016-05-09 23:11] arcadiatea opened #6568 "aws RDS: db cluster parameter group feature"
This is missing feature.
Terraform currently not support create aurora cluster with db cluster parameter group.

[2016-05-09 23:11] mschurenko opened #6569 "security_groups forces new resource in non default VPC in aws_instance"
In the terraform.tfstate file it looks like security_groups.#: is set to 0 and vpc_security_group_ids.# is set to 1. Here is the relevant snippet:

[code]

For some reason when I run "terraform plan" I get this output:

[code]

Why is terraform now setting security_groups when it wasn't before? I am not using a default VPC so, according to the documentation, it should be just using vpc_security_gr

[2016-05-09 23:29] rayzorinc opened #6571 "aws_security_group_rule doesn't seem to support security groups from multiple aws accounts."
### Terraform Version

[code]
### Affected Resource(s)

Please list the resources as a list, for example:
- aws_security_group_rule
- aws_security_group
### Terraform Configuration Files

[code]
### Expected Behavior

After running `terraform apply`, and it successfully ran, there should be no more infrastructure changes when running `terraform plan`
### Actual Behavior

Running `terraform plan` k

[2016-05-09 23:37] dagnello opened #6572 "provider/vsphere: Existing VMDK deleted with VM"
Running terraform:
Terraform v0.6.16

When a VM is created with an existing VMDK with terraform apply, the VMDK should not be deleted when the VM resource is deleted with terraform destroy.  Current functionality deletes the VMDK with the VM.  This makes the initial state and final state of vSphere different.

[2016-05-09 23:38] evandbrown commented on #6234
@JorritSalverda, anticipated behavior here would be to re-create the InstanceGroupManager, correct? If so, I'll have the patch in to fix this shortly.

Thanks!

[2016-05-09 23:41] Felivel commented on #6526
@majormoses as @clintonm9 mentioned, the problem is when you try to re-apply.

I noticed that in some places of the azure portal you can see the `availability set` name in all caps.
We have two fields here: `id` (always get created in caps) and the `name` (can be lowercase).

Here is an example from the AzureRM API:
[code]

I just tried to reproduce the problem just now and it seems to be fixed. T

[2016-05-10 00:08] zzzuzik commented on #1336
+1

[2016-05-10 00:54] jimmycuadra opened #6576 "AWS provider: KMS key creation fails if the policy references a recently created IAM entity"
When creating a new KMS key with the AWS provider, if the key policy references an IAM role that was just created from the same Terraform configuration, a generic `MalformedPolicyDocumentException` is returned by the AWS API and the operation fails. Waiting a minute and running apply again results in success. It seems that there may be a short delay between the time an IAM entity (in my case it's

[2016-05-10 01:38] rvangundy commented on #1552
@brikis98 Did you manage to get around the issue related to #1109? I'm getting `Cannot delete launch configuration <my-lc-name> because it is attached to <my-asg>`. The LC update still manages to apply, it just can't delete the previous one so I encounter an error each time...

[2016-05-10 01:41] kcroaker commented on #2824
@pll

I just have this in my **provider.tf**
`provider "aws" {
	region = "us-east-1"
	shared_credentials_file  = "~/.aws/credentials"
	profile = "<aws_creds_profile_name>"
}`

As described here : [https://www.terraform.io/docs/providers/aws/index.html](https://www.terraform.io/docs/providers/aws/index.html)

in a section called - "Shared Credentials file"

[2016-05-10 01:45] JorritSalverda commented on #6234
@evandbrown yes, I would expect the InstanceGroupManager is recreated, because in the dependency graph it should depend on the InstanceTemplate. Thx.

[2016-05-10 01:48] brikis98 commented on #1552
@rvangundy Do you have `create_before_destroy = true` on your LC?

[2016-05-10 01:49] u2mejc commented on #5907
I poked at this a little today. First issue is here in opsworks_layers.go

[code]
Should be:
[code]

That small change actually resolves @ldhertert initial issue. If you `terraform apply`, it works. But after digging, the root issue is the live (remote AWS) layer attributes are not being written to the statefile. This breaks changing anything inside the attributes map and then the eval loop fails

[2016-05-10 01:52] rvangundy commented on #1552
@brikis98 Yeah I sure do. What's weird is I'm seeing that as the CloudFormation stack is being modified, it's actively trying to destroy the previous LC as well,

[code]

Note also that I've encapsulated my CloudFormation+ASG configuration in a module, so I may try to pull that out next...

[2016-05-10 02:08] clintonm9 commented on #953
+1

Would like it to work with AzureRM. We use a powershell script now that we can pass how many datadisk we would like:

[code]

[2016-05-10 02:46] johngossman commented on #6526
Hi all. In general Azure ids have to be interpreted case insensitively. Several of the backends normalize and we didn't enforce this (maintaining the case as originally submitted) strongly in the common frontend. I can only cite Postel's Law and Sir Tim's comments about URLs being case insensitive and apologize for the inconvenience.

[2016-05-10 03:04] davidfic commented on #4946
:+1:

[2016-05-10 05:13] apparentlymart commented on #2430
Issue #4149 was my later proposal to alter Terraform's workflow to better support the situation of having a single Terraform config work at multiple levels of abstraction (a VM and the app running on it, as in this case).

It's not an easy fix but it essentially formalizes the use of -target to apply a config in multiple steps and uses Terraform's knowledge of the dependency graph to do it automat

[2016-05-10 05:15] apparentlymart commented on #1336
Variables being maps and lists is coming in version 0.7, coming soon!

[2016-05-10 07:48] richardbowden commented on #6569
I can confirm this, this has happened ever since v0.6.15. Planning to investigate over the next few days... need to diff the changes to see whats happened.

[2016-05-10 08:25] bocan commented on #3581
I've found you get the problem when using modules that create both resources and the elb, and we've set the aws_resource count to zero, but not the elb.  In said case it's quite right to error out, but it's the error text that needs work.  All you see is:
[code]
The only way to figure out where that's occurring is to turn logging on and search through that for the proper ERROR line like so:

[code

[2016-05-10 08:51] tasquith commented on #6372
Thanks @stack72,

No problem, I'll keep an eye out for this and will test as soon as it lands.

As I can see an image_uri as part of this PR, is that a part of #6494 or am I jumping to the wrong conclusion?

Cheers,

Tom

[2016-05-10 09:18] Fodoj opened #6580 "provider/openstack Proposal: drop floating_ip from instances"
From documentation:

There is a major problem with top-level floating_ip: it does not react to changes in actual infrastructure.

Its easy to check it: create an instance with top-level FIP, then deassociate this FIP in Nova and then re-run terraform. Terraform won't notice any changes and will behave as if FIP is still associated with this instance.

There are two ways to fix it:

1. Add some che

[2016-05-10 09:19] Fodoj commented on #6580
Of course, one of benefits to using top level at the moment is the fact that it doesnt have the same bug, as network. Luckily, I fixed this bug in this PR: https://github.com/hashicorp/terraform/pull/6579

[2016-05-10 10:15] MELLENS opened #6581 "Azure Classic Resource Groups"
Terraform v0.6.15
Azure Service Management provider

The main reason I've started using Terraform is to get a consistent tool for building / configuring Azure Classic and Azure V2.  Even though we use Azure classic resources we organize them using Resource Groups.  Is there any workaround or other way to create resources using the service manager provider and put them in a resource group?

[2016-05-10 10:25] tasquith commented on #6372
@stack72 I've grabbed 0.6.16 from the releases service and can confirm that I can provision a machine correctly. The image uri has also allowed me to create a new VHD based on that source as expected in #6494 - I'll test that this works properly today but initial findings look good!

Thanks for all of the help on these!

Tom

[2016-05-10 10:49] stack72 commented on #6372
@tasquith

This is fantastic news. I am very pleased that this has unblocked you

Paul

[2016-05-10 11:04] brikis98 commented on #1552
@rvangundy Hmm, not sure. If you post your code, I can see if there are any obvious differences, but for the most part, the ASG setup with CloudFormation has worked reasonably well for me.

[2016-05-10 11:17] stack72 commented on #6566
Hi @shuoyenl

Thanks for the bug report here. Apologies for the error. In order to try and help get to the bottom of it, can you tell me if this worked pre-0.6.15 release? Or is this something you are encountering for the first time using terraform?

Paul

[2016-05-10 11:22] sethvargo opened #6582 "Connection block values are not checked"
### Terraform Version

v0.16.0
### Affected Resource(s)
- core
### Terraform Configuration Files

[code]
### Expected Behavior

Terraform should have said the key was invalid during the plan phase.
### Actual Behavior

Terraform does nothing during plan or apply.
### Steps to Reproduce

Please list the steps required to reproduce the issue, for example:
1. `terraform plan`

[2016-05-10 11:36] stevendborrelli opened #6583 "Azure: 409 when adding a network security group to a VM."
Hi there, may want to add this to the Azure list of issues.

### Terraform Version
Terraform v0.6.15

### Affected Resource(s)

### Terraform Configuration Files
https://gist.github.com/stevendborrelli/f5567ee8bea0d37efe522dd49a57c275

### Debug Output
https://gist.github.com/stevendborrelli/58e800b4dec10f9ab3193fd1a3d6b1d8

### Expected Behavior
Network security group added to the instance. I can

[2016-05-10 11:55] stevendborrelli commented on #6583
As an update to this, if I attempt to change the source port range, I will get a 409:

[code]

[2016-05-10 13:02] stack72 commented on #6583
Hi @stevendborrelli

thanks so much for the report here - sorry this has happened. We will have a look at this and see if we can find the route of the error

Just a FYI, the version of the SDK we are using is hiding the error messages. We will have this taken care of in the next release of Terraform

Paul

[2016-05-10 13:56] chrislovecnm commented on #6565
@stack72 @jen20 @phinze ~ can I get a vsphere label

[2016-05-10 14:06] serialseb commented on #1604
You could just create ebs devices and use attachments if you want to use count?

[2016-05-10 14:18] lubars commented on #1604
I thought about that - I guess I'd add a `count ` to both the `aws_ebs_volume` and `aws_volume_attachment` and make sure they match?

And I've seen the admonition against mixing ebs_block_device with `aws_ebs_volume`; is `root_block_device `a kind of `ebs_block_device `(and could that be the source of the issues you encountered)?

[2016-05-10 14:35] apparentlymart commented on #6566
Hmm... very interesting. Based on that output it looks like the following sequence occurs:

* `iam:GetUser` cred validation for refresh walk: 200 OK
* `iam:GetUser` cred validation for plan walk: 200 OK
* `iam:GetUser` cred validation for apply walk: 200 OK
* `ec2:RunInstances` for creating `aws_instance`: 200 OK
* `ec2:DescribeInstances` to check instances status: 200 OK, but still pending
* `ec2

[2016-05-10 14:40] apparentlymart commented on #6569
Hi folks. Sorry for the frustration with this... it's been a pretty common report since 0.6.15 went out.

The quick workaround is to change from using `security_groups` to `vpc_security_group_ids` in your configuration, after which Terraform will stop seeing this as a diff.

The cause of this problem is that when reading back the state from AWS Terraform is noticing that it got a VPC security grou

[2016-05-10 14:45] apparentlymart commented on #6546
Hi @arsdehnel. Sorry for the trouble here!

This issue was reported a few times, so I'm going to close this one to consolidate the discussion in #6416.

[2016-05-10 14:45] #6546 closed

[2016-05-10 14:45] apparentlymart commented on #6569
This issue was reported a few times, so I'm going to close this one to consolidate the discussion in #6416.

[2016-05-10 14:45] #6569 closed

[2016-05-10 14:47] apparentlymart commented on #6416
In #6585 @radeksimko is retroactively adding a note to the changelog about this.

@catsby, did you want to add something to the main `aws_instance` docs about this, or perhaps change the provider implementation to give better feedback for this case?

[2016-05-10 14:49] shanmugakarna opened #6588 "Get AccountID/OwnerID using IAM Credentials on AWS Provider"
Hi,

This is a kinda of feature request, not sure if it exists already and I missed.
Can we get AWS AccountID as an attribute to be used in VPC peering connections.
and auto-accept VPC peering connections between different accounts.

### Use Case
I have created a VPC module, that has aws profile and its CIDR as a variable.

The _main.tf_ file inside **_vpc_** folder
[code]
The _main.tf_ file uses

[2016-05-10 14:49] jtopjian commented on #6580
@Fodoj Thank you for your input.

I agree with you that having two ways of specifying a floating IP can be confusing. The `openstack_compute_instance_v2` resource can be quite unwieldy at times due to the numerous use-cases it has to account for.

As discussed previously, the top-level floating IP used to be the only way to specify a floating IP to an instance. The caveat, as mentioned in the docs

[2016-05-10 14:49] #6580 closed

[2016-05-10 14:52] apparentlymart commented on #6416
(A potential fix for this was merged in #5193 but then reverted because it broke for EC2-Classic users.)

[2016-05-10 15:06] phinze commented on #6561
Reopening until dev-0.7 merge is done.

[2016-05-10 15:27] totojack opened #6590 "terraform 0.6.16 - Vmware Vsphere Provider - ipv4_gateway not saved in tfstate file"
### Terraform Version
v0.6.16

### Affected Resource(s)
- vpshere_virtual_machine
- network_interface
- ipv4_gateway

### Terraform Configuration Files
#define variable from terraform.tvars
variable "vsphere_user"       {}
variable "vsphere_password"   {}
variable "vsphere_server"     {}
variable "vsphere_cluster"    {}
variable "vsphere_datacenter" {}
variable "vsphere_domain"     {}
variable "vs

[2016-05-10 15:29] rossedman commented on #6565
👍 Looks good.

[2016-05-10 15:33] apparentlymart commented on #6416
I have closed several other reports of this same issue to consolidate discussion here. Let's not close this one until we're sure we've got a handle on the plan for this problem.

[2016-05-10 15:36] stack72 commented on #6590
@chrislovecnm this may be worth looking inot

P.

[2016-05-10 15:49] tasquith opened #6591 "azurerm - INFO - WALinuxAgent ERROR:unicode argument without an encoding occured creating /var/lib/waagent/CustomData"
Please see the following which I've encountered using terraform v0.6.16 (not that I think its a TF problem). Raising here for visibility if others get the same error.

Using base64 encoded user data (as required by the API), an error related to encoding occurs when provisioning the machine.

Full details below:

Azure/WALinuxAgent#187

[2016-05-10 16:01] stack72 commented on #3212
Hi all

I am going to close this issue - ARM is now a thing in Terraform and has active development

P.

[2016-05-10 16:01] #3212 closed

[2016-05-10 16:01] tj commented on #5849
Hit this as well, confusingly appears like it works from the CloudWatch events Events page, but they don't do anything

[2016-05-10 16:15] thetuxkeeper commented on #6565
:+1: Same here, looks good.
Some "missing" things:
- folders have no update implemented, but supported by `Rename_Task` in vSphere API (haven't checked govmomi)
- datastore files: upload (but no creation without source), rename/update, read and deletion are implemented. So file uploads should already work (vmdk, cdrom iso, ...)

[2016-05-10 16:36] amsharm commented on #4615
Hi, I know this topic is closed, but I have a question relevant to this, and I can't find the answer elsewhere. I'm trying to use Chef Provisioner with AWS Windows instances but Terraform keeps timing out due to winRM issues. astrally2000, you mentioned in your post that you are using pre-baked AMIs with winRM already configured. How did you do this? Could you point me towards a guide that might h

[2016-05-10 17:00] jdextraze opened #6593 "aws_codedeploy_deployment_group on_premises_instance_tag_filter not added after apply"
I have a simple deployment group defined as
[code]

When I run terraform plan, I can see that the deployment group will be created
[code]

After running terraform apply with no error, when I go into AWS to verify the deployment group, the on premise instance tag is not added.

[2016-05-10 17:04] catsby commented on #6511
Hey @donaldguy thanks for reporting this! This is a tricky one, since the Route53 API doesn't have a strict create / update endpoint, it just accepts PUT and a change request (things that don't exist are implicitly created). `create_before_destroy` presents a challenge there...

I've opened #6592 to address your particular case here, where the name should not change here at all, and thus no delete

[2016-05-10 17:16] chrislovecnm commented on #6565
I this is number 7 item one?

[2016-05-10 17:19] chrislovecnm commented on #6590
@stack72 I think this is resolved. https://github.com/hashicorp/terraform/pull/6522

@thetuxkeeper please confirm

[2016-05-10 17:27] dcosson opened #6594 "Add support for iam_roles to Redshift"
Redshift somewhat recently added the ability to assign a list of IamRoles to a cluster, e.g. in the [go sdk](http://docs.aws.amazon.com/sdk-for-go/api/service/redshift.html#type-Cluster). This lets you specify the iam credentials of an s3 bucket or dynamodb table to COPY from in a role when you create the redshift cluster, so you don't need to pass them in to the COPY sql command.

Would be great

[2016-05-10 17:28] thetuxkeeper commented on #6565
@chrislovecnm: I think it fits best to "Datastores"->"basic file commands". Since the files are always in a datastore.
When I think about "Folders" it's the organizational structure for VMs in "VMs and Templates" view in the vSphere client. I think that's also the terminology in the API.

[2016-05-10 17:41] chrislovecnm commented on #6565
@thetuxkeeper where do you want me to put the text?

[2016-05-10 17:44] vancluever commented on #2301
Just adding that I've seen this as well - in my instance, in one module, I had a resource `count` that depended on two variables, one supplied statically and one provided via a an output from another module, which in turn was computed. In fact, my use case was almost exactly how @mpage laid out the original post.

I'm not too sure if this is something that's being addressed as part of #4961 but if

[2016-05-10 17:58] thetuxkeeper commented on #6565
I would put it to "Datastores"->"basic file commands".
And you can remove "Image Uploads" since it's covered by the datastore operations if there's nothing I'm missing.

[2016-05-10 18:35] Preskton commented on #6412
Confirmed, able to reproduce.  Appears that there is a holding period after you destroy a storage account during which you can't reprovision a storage account of the same name.  I'm not sure of the length, but it's less than an hour.

[2016-05-10 18:46] thetuxkeeper commented on #6590
@chrislovecnm : Yes, it's fixed by #6522. Just confirmed it by testing and checking the code.
In `resourceVSphereVirtualMachineRead` the `networkInterfaces` map is rebuilt and replaces the one in the `ResourceData` object. All `networkInterfaces` subsettings not set in `resourceVSphereVirtualMachineRead` will be gone like the gateway setting. => setting the gateway fixes the behavior.
But that the

[2016-05-10 18:58] shuoyenl commented on #6566
Hi @stack72 and @apparentlymart,
Thanks for the prompt response. Here' are my answers to your questions:

- if this worked pre-0.6.15 release? Yes and No. It used to work on 0.6.14 and then the issue happened. I tried again using 0.6.15 and the issue was gone for a short time before it came back.
- Does this error occur every time you run terraform apply, or is it intermittent? It is "intermittent

[2016-05-10 19:11] u2mejc opened #6595 "provider/aws: Missing Opsworks instance dependency allows premature destruction of OpsWorks stack IAM role policy"
### Terraform Version

0.6.15
### Affected Resource(s)

aws_opsworks_instance is affected by aws_opsworks_stack default IAM Role policy
### Terraform Configuration Files

WIP
### Debug Output

[code]
### Panic Output

n/a
### Expected Behavior

`terraform destroy` should destroy all resources.
### Actual Behavior
- `terrafrom destory` fails, due to opsworks losing it's ability to interact with EC2

[2016-05-10 20:03] boboli commented on #6408
Just tested it with 0.6.16, and it's indeed fixed. Thanks for the quick turnaround!

[2016-05-10 20:57] jimmycuadra commented on #4849
I have this same problem. What do you do if removing `create_before_destroy = true` is not feasible?

[2016-05-10 21:14] rvangundy commented on #1552
Fixed it! It was because I had externalized my CloudFormation template in to a `template_file` resource which decouples the dependency graph between the LC and ASG. I inlined it using `<<EOF...EOF` and that did the trick.

[2016-05-10 21:17] gitmayor commented on #4755
Hi Chris,
Thank you for ping message. I have some issues with vsphere environment. So, give me few days to test.
Cheers,
Tomek

Dnia 8 maj 2016 o godz. 16:49 Chris Love <notifications@github.com> napisał(a):

[2016-05-10 21:18] brikis98 commented on #1552
@rvangundy Ah, I have mine inlined with a heredoc, which is probably why I didn't hit that issue. Good to know, thanks!

[2016-05-10 21:30] jen20 commented on #6561
This is done! Thanks everyone.

[2016-05-10 21:30] #6561 closed

[2016-05-10 21:53] tecnobrat opened #6601 "Elastic Beanstalk Configuration Template"
Perhaps I'm misunderstanding how the beanstalk environment templates are supposed to function.

I'm on Terraform 0.6.16

However, I have configuration like the following:

[code]

The first time this planned, it said it was removing the stuff I moved into the config template.  But didn't say that the environment variable would be removed.  But after applying, all of the `aws:elasticbeanstalk:appli

[2016-05-10 21:54] tecnobrat commented on #6601
@dharrisio figured I would ping you as you seem to have a good amount of knowledge here.

[2016-05-10 21:59] spanktar opened #6602 "aws_cloudformation_stack output values broken?"
When using a CloudFormation template to create an ElastiCache replication cluster, I added some outputs so I could get the EC Cluster's primary address (for eventual use in Consul).  Instead of getting the expected output value (`imi1dyi60vqjp42a.FOO.ng.0001.usw2.cache.amazonaws.com:6379`) I got the following string:
`B780FFEC-B661-4EB8-9236-A01737AD98B6`.  All other outputs are working correctly.

[2016-05-10 22:07] stack72 commented on #6593
Hi @jdextraze

Thanks for the report here - sorry this has caught you! I am trying to recreate this right now to see if we can get to the bottom of it

One thing I have found is that on a second apply, the tags actually do get added - so I am debugging this now

Paul

[2016-05-10 22:09] stack72 commented on #6602
Hi @spanktar

Thanks for the report here - sorry this is causing pain right now. I see that you are using Terraform 0.6.12 here - we just released 0.6.16 yesterday - can you try the latest version and see if the issue exists?

A lot of bug fixes have been pushed out over the past few months and we should be sure that the issue still exists on the latest before we can look into this

Thanks

Paul

[2016-05-10 22:10] tecnobrat opened #6603 "Cannot remove `template_name` from beanstalk environment"
Looks like if you add a `template_name` to a beanstalk environment, and then try to remove it later, you get the following error:

[code]

Terraform v0.6.16

[2016-05-10 22:17] tecnobrat commented on #6603
Looks like it actually removed, in despite of this error.

[2016-05-10 22:30] evandbrown commented on #6234
OK, had some time to reflect on this. Deleting and re-creating the Instance Group Manager has implications (@billf pointed out how this cascades to backend services if you use those).

In #6604 I'm proposing the use of `lifecycle.create_before_destroy` on the Instance Template. Terraform will create an updated instance template resource, update the Instance Group Manager, then destroy the previous

[2016-05-10 22:38] spanktar commented on #6488
Same thing with SQS queues

[2016-05-10 22:42] spanktar commented on #6488
Possibly related to https://github.com/hashicorp/terraform/pull/5888

[2016-05-10 22:43] zzzuzik commented on #1244
+1

[2016-05-10 23:47] andrelss commented on #5941
Hello Mate,

Your plan seems very nice.

I see that you are using "metadata.startup-script-url", it has work good? for me not, I am able to use only metadata_startup_script =

Using "metadata.startup-script-url" it returns error: invalid or unknown key: metadata.startup-script-url

Very weird.

[2016-05-11 00:19] iroller opened #6605 "aws_opsworks_stack hangs on creating IAM role"
Hi,

I'm using the following template to create `aws_opsworks_stack` and it just hangs for 20+ minutes on `terraform apply` with `Service Role Arn: Credential has not the necessary trust relationship`.

I've tried it on a completely new AWS account and the result is the same.

### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
- aws_opsworks_stack
- aws_iam_role_policy
- aws_iam_rol

[2016-05-11 00:42] iroller commented on #6605
The following change in policy helped:
[code]

[2016-05-11 00:42] #6605 closed

[2016-05-11 00:46] phinze commented on #6566
Hi @shuoyenl - this is definitely weird! I think if you google around for AWS Auth Issues you might find some possible solutions. For instance, when googling "AWS was not able to validate the provided access credentials" I just stumbled on https://forums.aws.amazon.com/thread.jspa?threadID=175266 which has a bunch of suggestions, one of which was intriguing to me:

This is true - clock skew can re

[2016-05-11 01:11] apparentlymart commented on #6566
Oh yes... confirming what @phinze said, we (at my employer) had exactly this problem recently with some of our dev environments interacting with S3 when we'd let the clock skew. The AWS signature format includes a timestamp, so it's important to have a reasonably-accurate clock on all API clients.

[2016-05-11 02:17] smuth4 commented on #6056
I have a branch here which works with both 3 and 4: https://github.com/smuth4/terraform/tree/pdns-4
The only thing that needs to change between the two is that for a `powerdns_record`, the `name` argument for 4 must have a trailing period, while for 3 it must not. That branch is the minimum viable change to make it work, I'm still looking at if it's worth moving to a more complex but elegant solut

[2016-05-11 05:44] iroller commented on #3778
@catsby thanks for adding ELB support for opswords. Is RDS in opsworks also planned?

[2016-05-11 06:42] iroller opened #6608 "RDS support for OpsWorks"
Hi there,

Is there a chance the support for [RDS in OpsWorks](http://docs.aws.amazon.com/opsworks/latest/APIReference/API_RdsDbInstance.html) is in work somewhere? I'm new to terraform and can be just not seeing it. Could you let me know if it's something not yet supported by terraform and if it's planned to be supported?

Thanks!

[2016-05-11 07:34] JorritSalverda commented on #6234
Hm, this is a though one. I've actually set up a set of scripts that does deployments with GCE's http load balancer, backend services and one instance group replacing another. Getting the same functionality in terraform is probably not what we should be after on the short term.

I think though you can remove an instance group from a backend service - a service can have multiple backends - but does

[2016-05-11 07:50] shuoyenl commented on #6566
Yep - that is it. The debug output actually shows the system time is 5 mins faster:
2016/05/05 13:**43**:19 [DEBUG] terraform-provider-aws.exe: Date: Thu, 05 May 2016 20:**38**:17 GMT

Thanks very much for checking this !!

[2016-05-11 07:50] #6566 closed

[2016-05-11 08:14] sebastien-prudhomme opened #6609 "Using network name not working for openstack_compute_instance_v2"
### Terraform Version

Terraform v0.6.16

### Affected Resource(s)

openstack_compute_instance_v2

### Terraform Configuration Files
[code]

### Output

* openstack_compute_instance_v2.jmeter-2: Error creating OpenStack server: Expected HTTP response code [201 202] when accessing [POST https://openstack-pprd.national.agri:8774/v2/bc0bf96ab70e464ca3dce73e3e086775/servers], but got 400 instead
{"bad

[2016-05-11 08:16] ftx commented on #5692
Hello,

I've the exactly same problem, my tfstate are the same localy and on remote S3....
The file is upload with "terraform remote config", no manually.

[2016-05-11 08:22] MattFenner opened #6610 "destroy azure rm virtual machine doesn't destroy it's vhd blob (meaning apply will fail the next time)"
I believe this is a bug but i am new to azure and terraform so maybe i am just doing things wrong.

i have a terraform configuration which creates a virtual machine and all the networking and storage to go along with it. and i want to be able to destroy the vm and recreate it regularly.

however when i call:
[code]

it fails on the apply because the destroy never cleaned up the associated vhd crea

[2016-05-11 08:34] MattFenner commented on #6610
i should mention if i do the following instead it works:

[code]

which is a reasable workaround for now, but it does delete the whole stoarge container and recreate it which only works if i make sure i dont reuse that container for anything else.

So the original post is still definately a bug (and one with a decent priority IMO) but i thought i would mention this for anyone else looking for a wo

[2016-05-11 09:37] evilezh opened #6611 "aws route table and route entries"
Simple scenario:
in module-1 create route table and in module-2 add route table entries (for route-table defined in module 1).
run1-> create all
run2-> remove new entries from route table
run3-> add new entries to route table
run4->run2
run5->run3
run6->run2
.......
As route-table-id is passed as variable to module-2, i guess it is not easy to detect relationships and that needs special processing

[2016-05-11 10:02] sebolabs commented on #4818
I have the same problem, it starts complaining when I add terget switch :/

[2016-05-11 10:08] stack72 commented on #6610
Hi @MattFenner

apologies for the confusion here. When you are targetting a specific resource - you are only destroying that resource - NOT it's dependencies. The dependency of the VM (in this case the storageblob) may actually be a dependency for something else as well - so destroying it may cause a chain of events. Does this sort of make sense?

P.

[2016-05-11 10:28] blalor commented on #6128
I'm too new at the API gateway to say if this is a bug, but at the very least the documentation should be updated to reflect the need for this dependency.

[2016-05-11 10:58] blalor opened #6612 "aws_api_gateway_deployment doesn't support stage configuration"
Terraform v0.6.16

Beyond stage variables, `aws_api_gateway_deployment` doesn't provide a way to configure other settings available in the console, such as "Cache Settings", "CloudWatch Settings", and "Default Method Throttling".  In order to enable logging, I have to manually make changes in the console.

[2016-05-11 11:08] blalor opened #6613 "aws_api_gateway_deployment doesn't get updated after changes"
`aws_api_gateway_deployment` doesn't get updated after a dependent resource changes.  For example, if I change a `aws_api_gateway_integration` resource to modify the `request_template` property, `aws_api_gateway_deployment` should be triggered.  Since that doesn't happen, the stage specified in the deployment continues to use the old configuration.  `depends_on` doesn't seem to be sufficient; I tr

[2016-05-11 11:23] tasquith commented on #6526
I can confirm that #6494 has been fixed in #6553

My observations so far:

The source and destination vhd uri must be within the same storage account, but that storage account can be in a different resource group to the VM, providing both resource groups are in the same subscription.

[2016-05-11 11:43] radeksimko commented on #6128
Agreed @blalor

We'd welcome PRs changing the documentation page.

[2016-05-11 13:43] serialseb commented on #1604
The count would work, order is guaranteed so 0..n volumes, 0..n attachments and they'll match, you element(aws_ebs_volume.*.id,count.index) and off you go. You probably will want the device name to come from a list too as those are required.

I've not investigated that much but i tried having the aws_ebs_volume from a snapshot and an attachment, using the root device name, and it failed on me beca

[2016-05-11 14:26] ketzacoatl commented on #1604
Please correct me if I am wrong, but I believe the problem with using volumes attached outside of the `aws_instance` block is that if you want to run init on the instance you've created, you don't have any guarantees for when the volumes are actually attached, and there is potential for race conditions or bad assumptions during init.

[2016-05-11 14:34] jtopjian commented on #6609
@sebastien-prudhomme can you provide some details about your OpenStack environment? Is it Neutron or nova-network based?

If you run the following command on the command-line, does it succeed?

[code]

[2016-05-11 15:05] serialseb commented on #1604
Maybe we're kinda polluting this github issue with this conversation? My fault, I'm sorry :/ i think terraform will always wait for the instance to be up before attaching the drive for aws_instance, for asg you can configure that, scripts i tend to loop till device becomes avail

[2016-05-11 15:13] lubars commented on #1604
@ketzacoatl I had this exact problem with Azure (classic) using `azure_data_disk `- couldn't get disk creation to precede instance creation - even using a [depends_on] clause.

[2016-05-11 15:53] radeksimko commented on #5849
Usually the reason you wouldn't see any Event Sources in the GUI is because you don't have Lambda permission in place to allow the CloudWatch Event to trigger the Lambda function, but it seems that's not your case.

Your example doesn't include definition for `aws_iam_role.ebs-backup-worker`. I used a basic one:

[code]

then replaced two `aws_lambda_function` fields (`filename`, `engine`) and `ap

[2016-05-11 15:59] jdextraze commented on #6593
@stack72 second apply added the tag for me too, but crash terraform and corrupt state file.
[code]

[2016-05-11 16:08] stack72 commented on #6593
hi @jdextraze

That is exactly what i am trying to debug right now :)

P.

[2016-05-11 16:10] dmitryint commented on #5849
This advice helped solve my problem.
https://github.com/hashicorp/terraform/issues/4393#issuecomment-204415472

[2016-05-11 16:28] vancluever commented on #4169
@apparentlymart - looks like you are close to making this happen 100% - awesome!

Just curious - did you manage to get data sources to interpolate in `count` properly? I merged your changes from #6598 last night and tried out `terraform_remote_state` and got the same error I did on my current build of 0.6.16.

I'm trying to investigate to see if it may have come from a path where that's not possib

[2016-05-11 16:43] stack72 commented on #6593
@jdextraze

just found the bug and opened a PR to fix it - thanks for reporting it

Paul

[2016-05-11 17:12] Sreeramk commented on #5006
I am running into a similar issue. In the plan it keeps pointing to the following.
Couple of observations: I am not using iops. Yet it seems to compute iops
I did not change the delete_on_terminate - yet it thinks there is a change
ebs_block_device.3796809015.delete_on_termination:** "true" => "1"** (forces new resource)
ebs_block_device.3796809015.device_name:           "/dev/xvdl" => "/dev/xvdl"

[2016-05-11 17:38] #6593 closed

[2016-05-11 17:45] radeksimko commented on #5849
Ah, I see, duplicate statement ID...

We could possibly do something clever, like prevent creation of permission with statement id that already exists.

[2016-05-11 18:19] Preskton commented on #5169
I've tried a number of different configurations, but I haven't been able to figure this one out.  I learned that you're required to include at least one subnet (or the vnet creation fails), so I've been creating a "junk" subnet, then creating specific `azurerm_subnet`s for the ones I need to access later on.

[2016-05-11 18:27] Preskton opened #6618 "Provider documentation: list known issues by resource type"
As a user of Terraform, I want known issues/proposed enhancements to be tagged by resource type so that I can quickly determine a) if I can use Terraform in an environment, and b) if I choose to do so, I have a quick list of items I may need to work around.

What I'm trying to avoid is starting on a Terraform only to find that a particular resource type isn't quite as baked as the documentation ma

[2016-05-11 18:48] Gary-Armstrong commented on #3309
I forgot this happens, and so when someone asked me to add two more nodes, I increased count and then RED.

[code]

[2016-05-11 18:52] Gary-Armstrong commented on #3309
A second apply didn't go red, and I still have EIPs on the pre-existing instances plus EIPs on the new instances, so not a disaster at all.  But I did panic a tiny bit.

[2016-05-11 19:44] michaelgrosser opened #6620 "Cloudflare Record Fails on Existing Resources in 0.6.16"
### Terraform Version
0.6.16

### Affected Resource(s)
- cloudflare_record

### Terraform Configuration Files
[code]

### Expected Behavior
I was building only to replace an EC2 instance with a new one running a new AMI. I expected the instance to get replaced and assigned the Elastic IP assigned to it. The Cloudflare record should not have been modified since it's tied to the EIP. I expected the

[2016-05-11 20:25] sprokopiak opened #6621 "vsphere_virtual_machine with chef provisioner fails to connect with IPv6 address"
Hi,

I am trying to use Terraform to provision a VM from a template in my organization's vSphere instance. While Terraform is able to create a folder, deploy from a template, and boot up the VM properly, the Chef provisioner fails to connect to the VM. The problem seems to be that vsphere_virtual_machine receives the IPv6 IP address for the VM and sends that IP to the Chef provisioner. Chef then f

[2016-05-11 21:33] apparentlymart commented on #4169
@vancluever sorry, we discussed that in a different forum and I realize now that I didn't mention it explicitly: after some back and forth we concluded that data sources in `count` was better split into a separate bit of work, because it requires some pretty big changes in its own right.

I would still like to make this happen, but want to get the basic functionality landed first since the patch i

[2016-05-11 21:46] spanktar commented on #6602
Thanks for the reply!  The reason I'm using v0.6.12 (and 14) is that there's [a problem with queues](https://github.com/hashicorp/terraform/issues/6488) that's preventing me from going past 0.6.15.
I just disabled the queues and tested with 0.6.15 and 0.6.16, same result:

`elasticache_primary_address = B780FFEC-B661-4EB8-9236-A01737AD98B6`

[2016-05-11 21:52] apparentlymart commented on #5999
@jen20 this should be resolved in master now, right?

[2016-05-11 21:54] vancluever commented on #4169
Thanks @apparentlymart. Yeah, since this is a big thing for me and would make things that I'm working on a lot easier, I've been poring over the source myself and have not seen a silver bullet or anything. It seems so close!

The code does indeed work otherwise - if I add a static value for the variable in question, the rest of the data source stuff marches along just fine.