[2015-03-19 17:21] #1123 closed

[2015-03-19 18:13] phinze opened #1249 "New block devices code improperly handles an empty block device mapping"
With an empty block device mapping, we are calling `DescribeVolumes` with an empty set, which returns all volumes in the region.

[2015-03-19 18:21] #1249 closed

[2015-03-19 18:27] jwaldrip commented on #1248
Worked, thank you

[2015-03-19 18:27] #1248 closed

[2015-03-19 18:29] jwaldrip opened #1251 "AWS DB - final_snapshot_identifier error"
When trying to create my database, I now get the following error:

[code]

***tf file:***
[code]

[2015-03-19 18:56] catsby commented on #1085
Support for setting `iops` was added in #1045, closing

[2015-03-19 18:56] #1085 closed

[2015-03-19 19:09] phinze commented on #1204
@jaxxstorm now that #1045 has finally landed - can you give this another shot for me?

[2015-03-19 20:17] catsby commented on #934
I just opened #1252 to fix this.

_Alternatively,_ you can add a simple `depends_on = "aws_subnet.private"` to `"aws_security_group" "sample"`, which will produce this destroy graph:

![out](https://cloud.githubusercontent.com/assets/61721/6739050/2ce63276-ce44-11e4-8b2e-86b60c94216f.png)

which works as well.
#1252 should have you covered though, please check it out!

[2015-03-19 20:26] jwaldrip opened #1253 "Why is my aws DB instance being destroyed and re-created on each apply?"
For some reason, on every apply, my database is destroyed and recreated. Any idea why?

***tf file:***
[code]

[2015-03-19 20:39] #934 closed

[2015-03-19 20:40] catsby commented on #934
I guess merging #1252 auto-closed this because it mentions "fixes", so, yeah this is closed. Let us know if you're still seeing this behavior on master.
Thanks!

[2015-03-19 21:01] #455 closed

[2015-03-19 21:49] radeksimko opened #1255 "Allow defining relationships in config schemas"
Given following the piece of code in `helper/schema/schema.go`

[code]

all config options are sorted alphabetically and treated independently in the prompt.
I can imagine cases where I would like the user to enter some config options first and eventually not ask for some other options based on the entered data.

Example?
Imagine following AWS provider config:

 - `credentials_provider` (`detect |

[2015-03-19 22:37] dentarg commented on #62
No-one here having the problem that secrets end up in terraform.tfstate? (#516) Example: the Heroku provider stores every ENV var from Heroku (`heroku config`) in terraform.tfstate. Could be a lot of secrets...

[2015-03-19 22:38] mitchellh commented on #62
@dentarg There is another issue where people have definitely brought this up. We're still discussing it there.

[2015-03-20 02:55] anveo opened #1256 "source_dest_check not applying properly"
I appear to be having this problem with `v0.3.7`. I have 3 instances total, two do not specify a `source_dest_check` and one I'm setting it as false. The `.tfstate` shows all instances are `false` (documentation says default is True) and AWS console shows all created as `True`.

This may be similar to #229.

[2015-03-20 08:51] justanshulsharma opened #1257 "How to debug terraform while development"
Is there any tutorial for debugging terraform while development ?

[2015-03-20 08:53] mitchellh commented on #1257
TF_LOG=1 and using `log` judiciously. Additionally, a lot of our debugging is based on writing acceptance tests and/or unit tests. If you have a more specific case I can give you a better example.

[2015-03-20 08:53] #1257 closed

[2015-03-20 09:14] pmoust commented on #1219
@catsby This no longer occurs with current HEAD (bb4dd8ae7750bb0c8abb08d8d8603d780d5268df) merged into our fork.
I don't know if there is any benefit in dissecting the builds to see what was wrong. IMHO with non-vendored dependencies we wont make much sense.
Thanks!

[2015-03-20 09:14] #1219 closed

[2015-03-20 10:06] RuslanHamidullin opened #1258 "Enable Connection Draining for AWS Amazon Load Balancer"
Hey Guys,

Is it possible to enable "Connection Draining" for AWS Amazon Load Balancer via Terraform?
http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/config-conn-drain.html

Thanks :beers:

[2015-03-20 10:32] jaxxstorm commented on #1204
@phinze initial checks seem to have fixed this completely! Thanks a bunch! I'll close this out

[2015-03-20 10:32] #1204 closed

[2015-03-20 10:33] jaxxstorm commented on #1256
@anveo, I had the same problem, this is fixed in latest built from git. Build from source if you need it to work.

[2015-03-20 10:41] RuslanHamidullin opened #1259 "AWS AutoScaling Group health_check_type if always "EC2" even if you pass "ELB""
Hey Guys

I got issue with setting health_check_type for AWS Auto-Scaling Group.
I use latest version of terraform from github.
[code]

My code:
[code]

Steps:
1) terraform plan
[code]

2) terraform apply
[code]

Then I'm checking on AWS EC-2 console and see that "Health Check Type" is "EC2".

3) Run terraform plan again:
[code]

=> And see in plan that terraform going to change "Health Check Type

[2015-03-20 12:55] jaxxstorm opened #1260 "ebs_block_device forces a new resource each time"
Similar #1204 it looks the same problem affects the ebs_block_device param:

I added

[code]

and the result, even though the resource already exists and has the correct mapping:

[code]

[2015-03-20 12:55] jaxxstorm commented on #1260
/cc @phinze

[2015-03-20 13:06] Falx opened #1261 "Error when changing .tf file for more AWS instances of existing resource"
My initial infrastructure had a resource called datapool with just 1 instance of type t2.small.
I changed the count to 3 and re-planned and apply-ed it.
This is the error i got:

[code]

[2015-03-20 14:01] catsby commented on #1219
Thanks for reporting :smile:

[2015-03-20 14:02] #496 closed

[2015-03-20 14:03] catsby commented on #496
Fixed in #1254

[2015-03-20 14:27] catsby commented on #1256
Thanks for reporting @anveo , and thanks for checking @jaxxstorm :smile:

I'm going to close this, let me know if you're still seeing it.

[2015-03-20 14:27] #1256 closed

[2015-03-20 14:29] catsby commented on #1261
Hey @Falx, is this on 0.3.7 or the latest `master`?
Do you have a bare-minmum config that can reproduce this issue?
If you can share one, omitting any secrets of course, that would be helpful.

[2015-03-20 14:32] jaxxstorm commented on #1260
I should also note my instance has a root_block_device assigned as well, so if you need to reproduce the config it looks like so:

[code]

[2015-03-20 14:33] jaxxstorm commented on #1253
Something is forcing a new resource, run `terraform plan -module-depth=-1` and it'll tell you the offending option.

[2015-03-20 14:33] phinze commented on #1260
Taking a look now

[2015-03-20 14:38] phinze commented on #1260
Initial testing results. This config works AOK for me in us-west-2:

[code]

[2015-03-20 14:39] phinze commented on #1260
So differences between mine and yours:

My `root_block_device` is 8GB because I got this  error on first launch:

[code]
My `root_block_device` is `/dev/sda1`, not `/dev/sda` - I have a hunch that this is actually what's causing your problem.

[2015-03-20 14:52] jaxxstorm commented on #1260
If I set it to /dev/sda1 I get an error.

Example config:
[code]

Result:

[code]

[2015-03-20 14:59] jaxxstorm commented on #1260
When I revert back to /dev/sda1 this happens

Example config:

[code]

First run, resource created
[code]

Then when I run a plan (after resource is created

[code]

[2015-03-20 15:01] jaxxstorm commented on #1260
My current version in case I aren't using the right one?

`terraform version
Terraform v0.4.0-dev (bb4dd8ae7750bb0c8abb08d8d8603d780d5268df)`

Only change I see from git is the last commit, around aws_db_subnet_group.go

[2015-03-20 15:03] phinze commented on #1260
@jaxxstorm I'm working on adding a validation for the root block device mismatch thing. But based on your latest update this may indeed be a different issue.

Is that AMI a private one? Can you share the output of `ec2 describe-images --image-ids ami-cfae31b8` so I can check out the BlockDeviceMappings of that AMI?

Thanks for your patience - we'll get this figured out! :grinning:

[2015-03-20 15:12] catsby commented on #1259
This should be fixed in #1262

[2015-03-20 15:16] jaxxstorm commented on #1260
Yep, it's a private ami:

[code]

[2015-03-20 15:24] phinze commented on #1260
I think I see the problem.

The AMI defines a `RootBlockDevice` of `/dev/sda1`, but its `BlockDeviceMapping` mounts `snap-7b6a5888` at `/dev/sda`.

I'm actually not sure what the behavior is of an AMI like that - when you boot an instance from that AMI without any additional `BlockDeviceMappings` defined, what do the volumes on the instance look like?

[2015-03-20 15:28] bantonj opened #1263 "panic: missing root module on output call"
When calling "terraform output autoscaling_group_id" terraform crashes.

2015/03/20 15:16:57 [INFO] Terraform version: 0.3.7  0bc0c03fece07c4f21ee5195743116a4d418f234+CHANGES
2015/03/20 15:16:57 [DEBUG] Discoverd plugin: atlas = /home/vagrant/project/src/environments/conf/intelligence-api/z/a/terraform-provider-atlas
2015/03/20 15:16:57 [DEBUG] Discoverd plugin: aws = /home/vagrant/project/src/env

[2015-03-20 15:39] Falx commented on #1261
Hi @catsby, I am on v0.4.0-dev.
I am sorry, I tried reproducing it, but I don't seem to be able to  :-1:

[2015-03-20 16:19] wazoo commented on #564
This is a great idea, even the ability to disable the destroy command globally would be great.  I like to use terraform to deploy environments for customers (that may or may not use terraform in the end despite my prodding) and the ability to turn terraform into a "apply changes but don't destroy" mode would be excellent.

[2015-03-20 16:23] wazoo opened #1264 "AWS Route 53 Records delete every apply"
For some reason every time I run terraform apply it deletes all of the DNS records in the config and re-applies them, this creates a lot of blocking tasks.

My records aren't anything complicated, here is an example:

[code]
And this gives me (sanitized):
[code]
Is this expected behavior?

[2015-03-20 16:47] #1253 closed

[2015-03-20 16:47] #1251 closed

[2015-03-20 16:47] wazoo commented on #28
If we are still tracking here, I would like to request the following:

ELB Tags
S3 Bucket Tags
RDS Instance Tags / Snapshot Tags
Encrypted RDS (Even without KMS support, just providing key ARN)
EC2 Tenancy
Placement Groups
VPC VPN Configuration
EBS Encryption (when volume creation is created)

[2015-03-20 16:52] Tokynet commented on #28
Yeah, I'm really stuck without the tags for elb and rds (basically all
resources that allow them) since we use tags to filter
viewa/config/reports.

Thanks for all the efforts :)
-Miguel
On Mar 20, 2015 12:47 PM, "Ben Thomas" <notifications@github.com> wrote:

[2015-03-20 17:20] ctro opened #1265 "bug report: 0.4.0 Cycle error when no cycle exists"
I'm running terraform off of the master branch (Terraform v0.4.0-dev (d3135c1b2bac4c6b6f1934b18ec58dd2f0ef1110+CHANGES))
When I `terraform plan` the following script I get a Cycle Error, but I don't see a cycle.

[code]

The error that I receive is

[code]

[2015-03-20 18:02] justanshulsharma commented on #1257
@mitchellh like in ruby we can use pry at places we wanna debug, i wanna know about something like that.

[2015-03-20 19:18] duggan commented on #1025
FWIW, I've been sporadically running into this with Terraform. Interestingly, the culprit also happens to be supervisor. Unfortunately, it's not consistent. Sometimes it works, sometimes it doesn't, and the only difference is changing the instance size to force a reprovision of the resource.

Without digging further into it, I'd be 50:50 on whether this is a supervisor packaging bug or a Terraform

[2015-03-20 19:19] catsby commented on #1257
`TF_LOG=1` will cause any `log.Printf()` statements to be dumped to standard out.
I don't believe Go has anything like Pry where we can intercept program execution and step through things, unfortunately.

For iterations, you'll have to `make dev` a lot, unless you write an acceptance test first, then you can just run that and your just that code will recompiled and ran:

- https://github.com/hashi

[2015-03-20 19:31] bitglue commented on #922
So as it happened I had reason to look into this more, and it looks like currently `terraform graph -module-depth=1` doesn't actually expand the graph anymore. The graph has nodes named things like "module.public_dev_coreos (expanded)", but actually nothing is expanded.

![noname gv](https://cloud.githubusercontent.com/assets/1232472/6759392/12d9b9c0-cf16-11e4-926c-3ef2144f01e8.png)

Now that it l

[2015-03-20 19:39] blacked opened #1267 "aws_security_group - description doesn't change"
[code]

[code]

But nothing was changed.

[2015-03-20 19:52] catsby commented on #1264
Hey @wazoo – if you're not changing anything, then no this is not expected. Is this on 0.3.7?

[2015-03-20 20:27] wazoo commented on #1264
Yep.

[code]

I don't know if it matters but the zone is an "internal" zone that is attached to a VPC and it is not managed by terraform (because I can't do private zones with TF right now).

[2015-03-20 20:44] duggan commented on #1025
Hey, so here's a question - what are your AMI sources? I've been building images in us-east-1 with Packer, then copying them to other regions. I'm booting everything in eu-west-1 at the moment.

There's a funny thing going on with `apt-get update` the first time it gets run after a copy (judging by `strace`) - it seems to be updating us-east sources. Then the `apt-get install` immediately followin

[2015-03-20 21:00] bitglue commented on #922
I haven't figured out all the code yet, but I suspect what's going on is that a destroy walks the modules in the correct order, but then walks the components of each module in the opposite order, that is, the order that should be used to create the module. Of course, all the edges need to be flipped in the destroy case, and when they aren't, it pretty much guarantees that destroy will fail since d

[2015-03-20 23:10] ryanking opened #1268 "terraform crash"
panic: runtime error: index out of range [recovered]
  panic: runtime error: index out of range

goroutine 924 [running]:
github.com/hashicorp/terraform/terraform.func·008()
  /private/tmp/terraform-HGZbjD/terraform-0.3.6/src/github.com/hashicorp/terraform/terraform/context.go:1299 +0xe2
github.com/hashicorp/terraform/terraform.(*walkContext).persistState(0xc2082b41e0, 0xc2083985a0)
  /private/tmp

[2015-03-20 23:14] ryanking commented on #1268
This is with version 0.3.6

[2015-03-20 23:18] ryanking commented on #1268
Just reproduced with 0.3.7

[2015-03-21 00:06] blacked opened #1269 "How dynamically create multiple routes in aws_route_table?"
I'm trying to create multiple routes in route table:

[code]

How to split data and config? I really don't want store network addresses in config file. Because I use one config file to make 10 environments. I want put route cidrs into variables. But don't know how to use it in .tf file then.

[2015-03-21 00:23] blacked commented on #1267
`Terraform v0.4.0-dev`

[2015-03-21 02:32] franklinwise opened #1270 "AWS:EC2 - Change InstanceType to Scale Vertically - Add Support"
Would be very helpful to be running a small instance, a database or some other persistent datastore and be able to scale that instance up (or down) vertically to a different instance type. (horizontally is supported very well by amzn).

So changing the instance_type from "m1.small" to "m1.large" would launch a new ec2 instance and then reattach the "old" EBS volumes to the new instance, and ideall

[2015-03-21 11:33] radeksimko commented on #1264
@catsby This is really happening if you use the "auto-magic" feature from #969
See https://github.com/hashicorp/terraform/issues/1122

It is possible to work around that, taking the example above:

[code]

[2015-03-21 11:49] radeksimko commented on #1270
:+1: I like the idea. I've been thinking about similar functionality for RDS, where I can see this being even more important and useful, especially when upgrading your set of DB slaves for any reason.

Even though I can't think of anyone explicitly wanting to do it the risky way (destroying & creating a new instance), it's worth mentioning that the cost for the redundancy and safe upgrade is the c

[2015-03-21 14:03] eukaryote commented on #564
Another emphatic vote for the ability to prevent deletions with absolute certainty from me.

I recently had a surprise deletion of an RDS database when the plan that was being used had reported only an in-place update would be performed. If people use Terraform for things like production databases, then there really needs to be a way to guarantee that a deletion will absolutely never occur with th

[2015-03-21 14:25] mitchellh commented on #564
@eukaryote If the plan said it would do in-place, and you did a `terraform apply <plan>`, and it did a destroy, this would be a _critically terrible_ bug that needs to be fixed RIGHT NOW in Terraform. We have a lot of test coverage around plan verification and we haven't seen anything slip through yet. If you can reproduce that, please report the bug ASAP for us.

(However, please note that if you

[2015-03-21 15:26] eukaryote commented on #564
@mitchellh Upon trying to investigate and dig further, I see that I was misinterpreting the plan output. I saw plan output of:

[code]

And I thought the 1 resource in module.db would be modified in-place, but the "~" and yellowish text color don't mean that for modules. When I add "-module-depth=1" to the plan command, it shows the actual changes in the db module will be to delete then recreate,

[2015-03-21 18:55] bts opened #1273 "Associating an AWS instance with a pre-allocated EIP"
For organizations that need to whitelist AWS IP addresses to access private services, it would be very useful if it were possible to associate an instance with a pre-allocated EIP. As it stands, the `aws_eip` resource currently only supports allocation of, not association to existing, EIP addresses.

[2015-03-22 01:06] outrunthewolf commented on #1025
Damn! I was starting to think I was crazy. I ended up building supervisor into the AMI's... which is not ideal.

I'll give it a try and see if a double update works

[2015-03-22 14:39] radeksimko commented on #1209
I'm just looking at `terraform output` and thinking that it could be the right place for such functionality...

1. We could make the argument `NAME` optional and if it's not provided, it will simply print all the variables in format `key=value` (obviously escaped strings if necessary).
2. We could also add a new argument `-out=path` which would write the output to that file instead of stdout. Defa

[2015-03-23 02:00] ncraike opened #1275 "Support for AWS access via IAM - AssumeRole"
I get it's probably a lot of complexity to add, but it'd be great if Terraform supported using IAM roles in its AWS provider authentication.

This adds a few steps to how API credentials are used – you use your normal AWS access key and secret key to call `sts assume-role` in the API, and this responds with a temporary access key, secret key and session token which you use for the rest of the sess

[2015-03-23 11:31] radeksimko commented on #1275
I'm currently working on https://github.com/hashicorp/terraform/pull/1049 which is providing IAM support via the `aws-sdk-go` library, but it's not covering the `assume-role` use-case (yet?).

The only use-case for the IAM authorisation at the moment is to call the metadata API from inside a running EC2 instance: https://github.com/awslabs/aws-sdk-go/blob/440f9da54cf714e7c27b5b4ffa789793a5fbd658/a

[2015-03-23 11:37] radeksimko commented on #1275
Also if you use MFA for the the AssumeRole, it would require some other changes in the whole TF CLI workflow as well, e.g. Terraform interactively asking for the TOTP and providing it in that API request.

[2015-03-23 11:47] radeksimko commented on #1275
btw. there's a lot more use-cases = workflows for this...

http://docs.aws.amazon.com/cli/latest/reference/sts/assume-role-with-web-identity.html
http://docs.aws.amazon.com/cli/latest/reference/sts/assume-role-with-saml.html

Ain't saying it should all be covered in the first implementation, just thinking loudly about it...

[2015-03-23 13:37] catsby commented on #1268
Hey @ryanking – do you have a configuration you were using that triggered this? Any other clues you can provide that detail what you were attempting that brought this up?
Thanks!

[2015-03-23 13:56] #1259 closed

[2015-03-23 15:02] catsby commented on #1264
Thanks @wazoo and @radeksimko ; 969 was well intended and a good idea I think, but so far it seems to be introducing more problems than the convenience is worth. I'm going to tinker with something this morning and discuss internally.

[2015-03-23 15:28] ndarilek opened #1276 "Unable to build"
github.com\hashicorp\terraform (download)
github.com\hashicorp\consul (download)
github.com\hashicorp\errwrap (download)
github.com\hashicorp\go-checkpoint (download)
github.com\hashicorp\go-multierror (download)
github.com\hashicorp\hcl (download)
github.com\mitchellh\copystructure (download)
github.com\mitchellh\reflectwalk (download)
github.com\mitchellh\mapstructure (download)
github.com\mitch

[2015-03-23 15:59] catsby commented on #1276
`y.go` is a weird remnant that shouldn't be there. Can you try removing it?

[2015-03-23 16:15] ndarilek commented on #1276
That did it. Thanks!

[2015-03-23 16:15] #1276 closed

[2015-03-23 16:17] ryanking commented on #1268
I think its related to create_before_destroy. I had added that to a handful of resources (in addition to making a bunch of other changes).

When I backed out the create_before_destroy part it worked.

[2015-03-23 16:59] mitchellh commented on #1268
So unfortunately the code path that this is hitting has been completely removed/gutted for master/0.4. It is unlikely we'll be able to fix this unless you can reproduce this under master. Sorry for the inconvenience but it would help a lot. We plan on releasing 0.4 this week.

[2015-03-23 17:26] ryanking commented on #1268
I can wait for 0.4.

On Mon, Mar 23, 2015 at 9:59 AM, Mitchell Hashimoto <
notifications@github.com> wrote:

[2015-03-23 17:40] wazoo commented on #1264
Interesting, I see where you were going with 969, makes sense.  I guess my issue here was that I can't manage the zone with TF yet (its internal only).  I will use the FQDN for now, thats a pretty easy workaround.

[2015-03-23 17:46] ryanking opened #1278 "multi_az in aws_db_instance should not force a new resource"
Making this change does not force a new resource in the aws console or api.

[2015-03-23 18:06] mitchellh commented on #1268
Thanks, I'm going to close this for now and please open a new issue if you see it with 0.4. Its sort of pointless to keep this open since the majority of lines and basically the entire code path that this panic above is hitting no longer exists.

[2015-03-23 18:06] #1268 closed

[2015-03-23 19:30] catsby commented on #1122
Hey @radeksimko – unless I'm reading the docs incorrectly (which is always possible :smile: ), Route 53 doesn't have a distinct `update` action. The action we use for creating records is `UPSERT`, which deletes the records and then recreates them for us

- http://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html

sadly yes, though I'm looking into that now

[2015-03-23 20:40] bitglue commented on #451
@outrunthewolf The AWS provider requires a region because each region has its own API endpoints, so you can't connect to anything until you have decided what region to use. You could move the region into the resources, and then have them connect as necessary. Then what if you have multiple accounts? You could move the access and secret keys into the resources also, but then why have provider confi

[2015-03-23 20:47] ryanking opened #1280 "-var-file documentation is wrong about default"
The docs on -var-file=... say:

"If "terraform.tfvars" is present, it will be automatically loaded if this flag is not specified."

However, it appears that terraform.tfvars is always loaded, even if -var-file is supplied.

This is in version 0.3.7.

[2015-03-23 23:19] radeksimko commented on #1122
I don't think so, as the name suggests, it's UPSERT = Update or Insert, nothing like DELETE should be happening there.

That said, yes, you're going to use the same action name for both create & update, but different data will be passed into that API request, so that we can efficiently update things that can be updated and don't have to be recreated again (`ttl` + `records`).

Destroy & Create tak

[2015-03-23 23:29] radeksimko commented on #1280
I think it should be fixed in the documentation, but the functionality should remain as is - autoloading all the files makes sense to me.

[2015-03-24 00:08] mgood commented on #451
@bitglue yeah, I am working on removing that singleton restriction based on some feedback from folks at Hashicorp. PR #1281 above isn't quite complete, but has a proof-of-concept allowing multiple providers defined in the same config.

[2015-03-24 00:44] ncraike commented on #1275
Adding an `iam_role_arn` config is about as much as I think would be required, though maybe `iam_role_to_assume` or similar might be more meaningful and readable.

I would expect to provide them the same way `access_key` and `secret_key` are currently provided, as fields within the `provider "aws" {` block, as in the current [docs](https://terraform.io/docs/providers/aws/index.html).

I'm not sure

[2015-03-24 00:46] ncraike commented on #1275
So, to clarify, I'd expect this to be enough for the cross-account `assume-role` use case:
[code]

[2015-03-24 00:51] ncraike commented on #1275
I admit the other role workflows and MFA would add _a lot_ of scope.

I'm primarily interested in this for the cross-account use case I described, because it seems to be the only method AWS supports for accessing a consolidated billing sub-account from the parent account, other than creating a new set of IAM users for each sub-account.

[2015-03-24 00:57] ncraike commented on #1275
Ah, looking at PR #1049, it does look like you've added support for more complex AWS credential provider configurations?

Sorry, I don't actually know the Terraform codebase or goamz, aws-go-sdk, etc very well. Currently I don't know Go (though Terraform may motivate me to learn), so my issues and comments are largely from the point-of-view of someone using Terraform and using AWS's own tools and

[2015-03-24 01:00] mgood opened #1282 "User input variables ignored"
Variables from the user input do not appear to be applied to the config prior to validation, so a validation error is still reported:

[code]

A similar issue #736 was previously reported and fixed where the user was not even asked for input. I can verify that the intended behavior was working in version 0.3.7, but now with the current master I get the error above.

This might be related to other

[2015-03-24 14:05] catsby commented on #1122
According to the documentation I linked to, and I admit maybe I'm misinterpreting it, Route 53's definition of `UPSERT` is a bit different here:

If the value of the Action element in a ChangeResourceRecordSets request is UPSERT and the resource record set already exists, Amazon Route 53 automatically performs a DELETE request and a CREATE request. [...]

For what it's worth, I agree with your def

[2015-03-24 14:17] willmcg opened #1283 "ELB creation failed due to VPC having unattached internet gateway"
I'm running into issues with creation of ELB where the VPC containing the subnets across which it is balancing load has not yet had its internet gateway attached.

    * Resource 'aws_internet_gateway.igw' not found for variable 'aws_internet_gateway.igw.id'
    * Resource 'aws_internet_gateway.igw' not found for variable 'aws_internet_gateway.igw.id'
    * Resource 'aws_internet_gateway.igw' not

[2015-03-24 15:02] willmcg commented on #1275
Another use case for IAM roles is when you are running Terraform from an EC2 instance with an IAM role in its instance profile. In this case the temporary access credentials (access, secret & token) for the account can be obtained directly from the EC2 instance metadata. This relieves you from the need to manage these credentials manually if you are willing to run terraform in an EC2 instance and

[2015-03-24 15:06] willmcg commented on #1283
Oh... and this is with Terraform from the master branch synced up yesterday.

[2015-03-24 15:19] radeksimko commented on #1122
It still means you'll be sending two API requests and waiting for the `INSYNC` status for both, which in reality takes at least couple minutes and you're doubling that period by this approach.

I will have a look.

[2015-03-24 15:26] radeksimko commented on #1275
@willmcg

Yes, that's already included in the linked #1049

Good point with cross-account access in general. I'd personally say that it's actually a reason to implement that separately in another PR as it's increasing the scope of the original PR quite significantly.

The renewing logic is already part of the go library we use:
https://github.com/awslabs/aws-sdk-go/blob/440f9da54cf714e7c27b5b4ffa7

[2015-03-24 15:32] radeksimko commented on #1283
Would you mind isolating that issue and attaching a minimal example TF code that may cause that error?

[2015-03-24 15:36] willmcg commented on #1275
Ah... thanks for the code pointers. Agreed on splitting to another PR... significant scope creep :-)

The expiration time is available in the EC2 metadata along with the temporary credentials:

http://169.254.169.254/latest/meta-data/iam/security-credentials/<role>/Expiration

[2015-03-24 15:37] willmcg commented on #1283
I'm trying to pair down to a minimal test case for reproduction. Currently its part of a much larger config :-)

[2015-03-24 15:57] radeksimko commented on #1275
:eyeglasses: read the code more carefully, before you post, Radek... :expressionless:

My bad, the hard-coded time period actually only applies to token provided from a config file:
https://github.com/awslabs/aws-sdk-go/blob/master/aws/auth.go#L130
there might be a way on how to track down the IAM policy which has the time period value, but it may not be that easy as the user calling the API may n

[2015-03-24 15:59] radeksimko commented on #1275
@ncraike would you mind modifying the issue title to _"Support for AWS access via IAM - AssumeRole"_ or something along those lines?

[2015-03-24 16:09] willmcg commented on #1283
Here is a fairly minimal test case that fails pretty much every time for me...

    provider "aws" {
        access_key = "REDACTED"
        secret_key = "REDACTED"
        region     = "us-west-2"
    }

    resource "aws_vpc" "vpc" {
        cidr_block           = "10.0.0.0/16"
        enable_dns_support   = true
        enable_dns_hostnames = true
        tags {
            Name = "vpc"

[2015-03-24 16:11] willmcg commented on #1283
Also not sure what this message is all about:

    * Fields for multiple attribute types specified: enableDnsHostnames, enableDnsSupport

[2015-03-24 16:25] willmcg commented on #1283
Looks like something is busted when both of the VPC DNS options are specified.

If I comment out either one of the DNS options the apply completes successfully first time:

    resource "aws_vpc" "vpc" {
        cidr_block           = "10.0.0.0/16"
        enable_dns_support   = true
    #    enable_dns_hostnames = true
        tags {
            Name = "vpc"
        }
    }

[2015-03-24 16:57] ndarilek opened #1286 "Empty network name forcing google_compute_instance recreation"
Seeing this on latest master + a couple of my PRs. Here is the relevant portion of my config:

  network_interface {
    network = "${google_compute_network.default.name}"
    access_config {
      nat_ip = "${element(google_compute_address.default.*.address, count.index)}"
    }
  }

I create the instance and immediately run `terraform plan -no-color`. This gives me

bash-3.1$ terraform plan -no-

[2015-03-24 16:58] radeksimko opened #1287 "aws/provider: Add support for OpsWorks"
http://aws.amazon.com/opsworks/details/

Some people may prefer to build their infrastructure using the higher level approach and I think that Terraform should respect that and help with that task.

http://docs.aws.amazon.com/cli/latest/reference/opsworks/index.html

It may be overly complicated to support custom layers, but Terraform could at least initially support the predefined layers:

[2015-03-24 17:52] radeksimko commented on #1122
TL;DR what I'm trying to say here is that the current update solution does the job but it's way too expensive in terms of API calls & time spent on waiting.

[2015-03-24 18:01] tarrant opened #1288 "Add `secret` flag to variables"
Terraform allows you to prompt a user for info, like a password. It would be convenient if you could mark the field as a secret, such that the key was not encoded into the state and had to be reentered every time terraform ran.

[2015-03-24 18:10] radeksimko commented on #1288
Related issue: https://github.com/hashicorp/terraform/issues/516

[2015-03-24 18:56] fromonesrc commented on #1051
@willmcg can you share more details on how you implemented the back-off?

[2015-03-24 19:19] willmcg commented on #1051
It was some simple horrible hackery in aws-sdk-go/aws/ec2.go in to EC2Client Do() method that put a retry loop around the request logic to keep retrying the request with brain-dead exponential back-off delay in the case where the EC2 API call returned the "RequestLimitExceeded" error:

    if ec2Err.Code == "RequestLimitExceeded" {
        time.Sleep(time.Duration(count) * time.Second)
        con

[2015-03-24 19:54] adamdecaf opened #1291 "core: Terraform (master) crash in field_reader_config.go"
I'm getting a crash related to a null reference being used. I'll try and see what I can do in the terraform source as a bug.

Stacktrace: https://gist.github.com/adamdecaf/51c5ad7344bfc28b363e

[code]

[2015-03-24 19:57] adamdecaf commented on #1291
I should mention my terraform version
[code]

[2015-03-24 19:57] phinze commented on #1291
Thanks for the report - taking a look!

[2015-03-24 20:07] phinze commented on #1291
Ah I see now - `banno/terraform-provider-haproxyapi` - is this a custom provider you're working on?

It seems there's an issue with the "service_discovery_group" attribute in the `haproxyapi_config` resource. Think you could share the schema definition for that attribute?

[2015-03-24 20:08] adamdecaf commented on #1291
Sure thing.

[code]

[2015-03-24 20:10] adamdecaf commented on #1291
Here's the relevant .tf source from the test I'm writing.

[code]

[2015-03-24 20:12] phinze commented on #1291
@adamdecaf there we go - any sub-resource with `TypeSet` needs a `Set:` hash function provided. This is something we should make a clearer in with the internal validations we run.

For an example, see https://github.com/hashicorp/terraform/blob/55d682482a072f783de33954bb396bbf556a882c/builtin/providers/aws/resource_aws_instance.go#L297-L307

[2015-03-24 20:19] adamdecaf commented on #1291
@phinze Ah, that makes more sense. So I guess that's not being checked to make sure it exists before calling into it?

[2015-03-24 20:21] phinze commented on #1291
Well it's being checked in the provider unit test and failing with a cryptic error message:

[code]

But we should probably fail harder and earlier at runtime as well. Let me know if implementing it sorts the problem on your side and I'll leave this issue as a reminder to look into better validation. :+1:

[2015-03-24 20:36] adamdecaf commented on #1291
@phinze yea, that seems to work now! Thanks for checking into this.

[2015-03-24 21:06] ncraike commented on #1275
Done.

I feel I've opened a can of worms here, though.

[2015-03-25 11:08] jaxxstorm commented on #1260
hi @phinze sorry for the delay, been out of office.

The problem is, the AMI was created with packer with the following config:

[code]

An instance with no blockdevicemappings attached looks like this:

[code]

I'm not sure what to do next, as this has only recently become a problem...anything else I can provide you with?

[2015-03-25 11:30] radeksimko opened #1295 "Support multiple isolated deployments per one TF root"
There's currently assumption that each TF root/codebase will be deployed once.

In simple terms 1 codebase = 1 `terraform.tfvars` = 1 `.terraform/` = 1 `terraform.tfstate` = 1 `terraform remote config` = 1 [Atlas config](https://github.com/hashicorp/terraform/pull/1294).

I think that Terraform should support multiple isolated deployments of the same code. I can see use cases for isolated environm

[2015-03-25 15:32] Alars-ALIT commented on #1198
Got same issue when using terraform 0.3.7 in a linux virtualbox on a windows host. Works fine when using terraform directly from windows though..

[2015-03-25 15:56] radeksimko opened #1296 "AWS - tagging of resources"
As requested by @catsby in https://github.com/hashicorp/terraform/pull/1080#issuecomment-83473959 I'm creating this meta-issue to track all tagging functionality for AWS in TF.
## EC2-related tagging
### Existing

It's worth pointing out that the existing `./builtin/providers/aws/tags.go` should really be called `ec2_tags.go` as it in fact uses the EC2 API only and deals with tags that are related

[2015-03-25 15:57] radeksimko commented on #1296
@catsby feel free to modify and/or reorganise things if needed.

[2015-03-25 16:16] phinze commented on #1260
Thanks for the update @jaxxstorm - I'll try to get a test case over here with a similar AMI and take a look at the behavior on master.

[2015-03-25 16:21] catsby commented on #1296
Excellent, thanks @radeksimko !

[2015-03-25 16:30] radeksimko opened #1297 "Terraform fails to increment local state serial number when using remote"
**`main.tf`**:
[code]

[code]

[code]
[code]
[code]
[code]

### Further debugging:
[code]
[code]
[code]
[code]

[2015-03-25 16:30] catsby commented on #1296
Right now I've duplicated the `tags.go` for the non-EC2 resource(s) I've added, ELB and RDS.

I plan to introduce a simple `Tag` struct like you've shown above. The idea is to make `diffTags()`, `tagsToMap()` and `tagsFromMap()` work on that generic tag.

Each resource to be responsible for converting from the simple `Tag` to their own version (ex. `rds.Tag`), and maintain their own `setTags` func

[2015-03-25 17:34] radeksimko commented on #1295
btw. I know I can always use options like `-state`, `-var-file` etc., but I more looking for more systematic approach, that may eventually leverage these existing features.

[2015-03-25 18:24] RuslanHamidullin opened #1298 "Ability to add multiple databases per on AWS RDS instance"
Hey Guys,

Is it possible  to add multiple databases per on AWS RDS instance?

Thanks :beers:

[2015-03-25 18:58] radeksimko commented on #1295
Just thinking that there could be a very simple, minimal and IMO nice solution... it's not solving all of the problems with differences between environments nor remote config, but it does the job.

[code]

[code]

and automatically use that variable as a suffix for all related files: `terraform.${ENV}.tfstate`, `terraform.${ENV}.tfvars`

Whoever doesn't want to use these environments will just kee

[2015-03-25 19:07] franklinwise opened #1299 "aws_security_group rule already exists error"
When adding an Allow All egress rule on a security group that already has an allow all egress rule results in an error.  Seems like it should not be an error since the system is already in the desired state. Perhaps we should update our model of the local state to reflect that the rule already exists, rather than cause an error.

"Error authorizing security group egress rules: the specified rule "

[2015-03-25 19:23] franklinwise opened #1300 "aws_security_group already exists error"
When a security group already exists in a VPC, but Terraform local state doesn't reflect this, perhaps because the group wasn't fully created because of an egress rule already existing on creation (see #1299), it results in an error. Seems like it should not be an error since the system is already in the desired state. Perhaps we should update our model of the local state to reflect that the secur

[2015-03-25 19:23] kendawg2 opened #1301 "bug resource aws_vpc and DNS"
There are two DNS related fields in aws_vpc.   "enable_dns_support" and "enable_dns_hostnames".   If both set to 'True' an error is thrown at apply time.

* 1 error(s) occurred:

* Fields for multiple attribute types specified: enableDnsHostnames, enableDnsSupport

However if either is set, no error occurs, but setting "enable_dns_support" does not in fact enable DNS support in the VPC.   Setting

[2015-03-25 19:26] franklinwise commented on #1300
Terraform v0.4.0-dev (28ecdac)

[2015-03-25 19:30] willmcg commented on #1301
Looks like the same issue as #1283.

[2015-03-25 19:33] phinze commented on #1301
Ah I see the bug here; we're just reusing a request object improperly. Fixing...

[2015-03-25 19:36] kendawg2 commented on #1301
@willmcg yes it does appear the the same error anyway and the config does have both set to true.

[2015-03-25 19:36] kendawg2 commented on #1301
@phinze Thanks

[2015-03-25 19:53] franklinwise opened #1302 "aws_security_group - referencing an existing security group in ingress rule causes an attempt to create it twice"
Referencing an existing Security Group by it's ID causes an attempt to create it twice as shown below.  When the "nat" security group is being created, it references the "jump" security group id, consequently i attempts to create the existing group again instead of using the existing group. (Related issue #1300)

## Error Message

[code]

## Context

 % terraform apply
... (clipped)
**aws_security

[2015-03-25 20:15] franklinwise opened #1303 "aws vpc destroy fails with unmap public addresses before detaching gateway"
upon attempting to destroy an aws vpc setup I get the following error:

`Network vpc-d440fdb1 has some mapped public address(es). Please unmap those public address(es) before detaching the gateway.`

Seems like destroying should just work.  Perhaps unmapping public addresses needs to happen at the beginning of destroy?

Terraform v0.4.0-dev (28ecdac)

[2015-03-25 20:15] PaulCapestany commented on #451
:+1:  for this

[2015-03-25 20:44] kendawg2 commented on #1283
@willmcg This should be fixed with PR #1304

[2015-03-25 20:56] phinze commented on #1260
Ok so I've built an AMI with a packer template like this:

[code]

Here's the output of `aws ec2 describe-images` on my built AMI:

[code]

I can't get this thing to launch successfully - block device mapping or no.

When I try to launch it from the CLI it terminates immediately, and when I try to launch it from the Web Console I get this:

![ec2_management_console](https://cloud.githubusercontent

[2015-03-25 21:24] #1301 closed

[2015-03-25 21:25] phinze commented on #1260
Ok so the PV side is only marginally different:

AMI looks like this:

[code]

Instance "starts" but does not ever become reachable:

![ec2_management_console](https://cloud.githubusercontent.com/assets/37534/6835871/8860fa16-d30b-11e4-90bf-ebf5db2bb131.png)

[2015-03-25 21:28] willmcg commented on #1301
@phinze Thanks!  Just verified that it works with my larger configuration.

[2015-03-25 22:11] mitchellh commented on #1288
I'd say this is close enough to a dup to #516.

[2015-03-25 22:11] #1288 closed

[2015-03-25 22:16] mitchellh commented on #1297
I just ran into this, pretty serious. Looking into it now. Thanks.

[2015-03-25 22:43] mitchellh commented on #1297
Fix in PR

[2015-03-25 22:55] #1297 closed

[2015-03-25 22:59] mitchellh commented on #1282
Confirmed. Looking at it now.

[2015-03-25 23:31] mitchellh commented on #1280
Fixed docs. Thanks.

[2015-03-25 23:31] #1280 closed

[2015-03-25 23:54] #1263 closed

[2015-03-25 23:54] #1282 closed

[2015-03-25 23:56] kendawg2 commented on #1303
@franklinwise if you look at #1189 you will see some discussion about this.   I was having a similar issue, and what I did was add a depends_on = ["aws_internet_gateway.gw"] to the instance that was getting an elastic IP and the problem went away.  (of course .gw will be whatever you called it).

[2015-03-25 23:58] mitchellh commented on #1232
Interpolations don't work at all in `source`. We should add validation for that. For the others, I'll take a look here.

[2015-03-26 00:23] kendawg2 commented on #1303
@mitchellh perhaps an implied dependency of the internet gateway for anything getting a public IP/Elastic IP might be in order.  For me, the only time this happens is when I use an Elastic IP.  All other instances that get a public IP have no issues.   Also, if I run a destroy a second time, it finished the destroy properly.

[2015-03-26 00:24] kendawg2 commented on #497
@catsby this issue is also related to #1303 for your 'thinking' tag.

[2015-03-26 01:01] spenczar opened #1309 "crash on terraform apply"
Here's the dump I'm getting:

[code]

This consistently happens. Retrying isn't helping.

My version:
[code]

[2015-03-26 05:57] shorn opened #1310 "Problems with windows line endings when using remote-exec"
I'm running Terraform 0.3.7 from Windows 8.1, to create resources on AWS.
When I try to use remote-exec with a script attribute, or in combination with a file provisioner, the windows line endings are ending up on the linux ec2 instance and causing the script not to execute properly.

This is my current workaround:

    provisioner "file" {
      source = "${path.module}/provision-resource.sh"

[2015-03-26 09:37] avdhoot commented on #1273
+1 Any update :)

[2015-03-26 15:36] phinze commented on #1260
Okay sorry for the infodump above @jaxxstorm, but this one has me stumped!

If you could provide me with a packer template that generates an AMI that causes this issue, I can continue trying to debug. But at this point I'm unable to figure out how to build an EBS-backed AMI where the `RootDeviceName` does not appear in the `BlockDeviceMappings`.

[2015-03-26 15:44] phinze commented on #1309
Sorry for the trouble here, @spenczar.

Can you share your config and your statefile (with any secrets omitted)? That will help us debug this and hopefully get it fixed quickly. :ok_hand:

[2015-03-26 15:49] phinze commented on #1273
Pretty sure this is actually an expression of a special case of #581, if you could "import" an existing EIP into terraform config, you'd be able to make this association normally.

This is still something we'll eventually support, but in the meantime I did want to mention that there's a workaround available, outlined here:

https://www.dark.ca/2015/01/27/handling-extant-resources-in-terraform/

Cl

[2015-03-26 15:49] #1273 closed

[2015-03-26 15:54] andrewh commented on #102
+1

[2015-03-26 16:01] mitchellh commented on #1232
Found the bug, looking into it further.

[2015-03-26 16:26] wazoo opened #1313 "Security Groups do not allow ICMP"
I was trying to create a security group with the following configuration:

[code]
and I get the following error:
[code]
While I understand why this error is happening, ICMP doesn't really have a port and if you try to specify one you get this error from amazon:

[code]
Is there a specific way to configure ICMP?  From looking at [resource_aws_security_group.go](https://github.com/hashicorp/terrafor

[2015-03-26 16:35] mitchellh commented on #1232
Fixed in linked PR.

[2015-03-26 16:42] mitchellh commented on #1220
Yes, this is tricky, but read about double-slashes here: https://terraform.io/docs/modules/sources.html

[2015-03-26 16:42] #1220 closed

[2015-03-26 16:51] mitchellh commented on #1211
Fixed in PR

[2015-03-26 16:54] mitchellh commented on #1209
So, `tfvars` format is just JSON, so I think we can add a `-format=json` flag to `terraform output` to do this. I like it.

[2015-03-26 16:58] mitchellh commented on #1186
This was fixed with #1282

[2015-03-26 16:58] #1186 closed

[2015-03-26 16:59] mitchellh commented on #1206
Yeah this isn't valid you can't nest variables like that, but we should catch this error more cleanly.

[2015-03-26 17:05] mitchellh commented on #1206
Oh this is fixed in master, we added more validation. Hurray!

[2015-03-26 17:05] #1206 closed

[2015-03-26 17:07] mitchellh commented on #1142
Fixed by #1282

[2015-03-26 17:07] #1142 closed

[2015-03-26 17:08] mitchellh commented on #1261
Please let us know if you're able to reproduce. We haven't been able to. Thanks!

[2015-03-26 17:08] #1261 closed

[2015-03-26 17:28] wazoo commented on #1296
It is great that you are tracking this, now that AWS has implemented the [Resource Groups](https://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/what-are-resource-groups.html) UI tags will become even more valuable going forward.

[2015-03-26 17:29] phinze commented on #1309
Ended up figuring it out from the backtrace.

PR has incoming fix. :+1:

[2015-03-26 17:54] dcapwell commented on #932
+1

[2015-03-26 18:17] wazoo opened #1317 "built in unit conversion ability"
It would be cool to have a feature to be able to convert units in shorthand, as such:

[code]
This is kinda minor but it would save time from having to convert back and forth for sizes of disks and things. (so I could do like in_gb("4T") for an EBS volume or something).

[2015-03-26 18:33] mpareja commented on #1220
I'm baffled with how I could have missed this in the documentation. :disappointed:

[2015-03-26 19:18] gosuri commented on #1186
:+1:  Awesomness

[2015-03-26 19:32] wazoo commented on #564
@eukaryote yeah that is what I am afraid of.

I think this is more of a concern in the paradigm where TF is being used to "maintain" an environment (i.e. all changes are done with TF but the environment never dies) vs the tear up/down paradigm that I imagine TF was designed for.

The ability to mark any object as `delete=never` or something so that it would throw an error if it was going to delete

[2015-03-26 19:48] sethvargo opened #1318 "Remote state pull gets serial error"
When running `terraform remote pull`, Terraform is actually doing a push:

[code]

The culprit seems to be [somewhere here](https://github.com/hashicorp/terraform/blob/master/command/state.go#L239-246). I don't think Terraform should be pushing during a pull. If it needs to, it should definitely ignore a failure like this.

/cc @pearkes @mitchellh

[2015-03-26 19:50] mitchellh commented on #1318
I don't think its doing a push, it is `PersistState` locally, not remotely. This error happens only on a pull (it can't happen on a push).

[2015-03-26 19:53] sethvargo commented on #1318
Steps to reproduce:

[code]

Workaround: manually delete the remote state:

[code]

[2015-03-26 20:12] catsby commented on #1296
ASG Tagging was just merged with #1319

[2015-03-27 00:21] #1318 closed

[2015-03-27 01:24] mitchellh commented on #866
I'm actually going to say "let's just not do this" because deprecating and eventually removing will just cause pain to some users which is useless since its pretty harmless to support. As you said, its already documented, so no one will "learn" the old variables. I think that's good enough.

[2015-03-27 01:24] #866 closed

[2015-03-27 01:42] mitchellh commented on #564
@wazoo

Great! We'll plan to implement this.

We already designed for these metaparameters. :) These would live in the `lifecycle` block that exists on every resource already.

And a correction: Terraform was very much designed for ongoing maintenance. But, you have to get a really strong convergence story first before you can tackle lifecycle. With 0.4 we're very comfortably at that stage and we'

[2015-03-27 01:55] eukaryote commented on #564
@mitchellh

What about the idea of making module-depth on plan default to -1 rather than 0, since it's arguably a friendlier and safer default, since nobody could make my mistake of interpreting "yellow ~" output next to a module as "in-place update".

[2015-03-27 02:37] blacked opened #1323 "QUESTION: ElastiCache, aws-sdk-go"
Hi,

I started working on elasticache implementation for terraform. I see that all resources in aws provider use `github.com/hashicorp/aws-sdk-go/ ` but at least elasticache package in that library is different from original aws package. It even calls elastiCCache in that fork, which is not right. AWS repo have latest implementation of it and update it often.

My question is, should I use that for

[2015-03-27 05:48] outrunthewolf commented on #1142
You're a :star:

[2015-03-27 09:00] pmoust opened #1324 "provider/aws: aws_launch_configuration add device mapping option"
enhancement to provider/aws: aws_launch_configuration add device mapping option

Do we have time before 0.4.0 @catsby ?

[2015-03-27 09:13] frankscholten commented on #1145
+1

[2015-03-27 14:19] catsby commented on #1283
I believe this to be fixed with #1304. I can't reproduce it with the provided configuration (everything creates as expected).

Let me know if you're still running into this, and thanks!

[2015-03-27 14:19] #1283 closed

[2015-03-27 14:24] catsby commented on #1303
Hey @kendawg2 , thanks for reporting this. Do you have an example config I can use? Please omit any secrets.

[2015-03-27 14:30] catsby commented on #1303
Reproduced with the [config example here in 1189](https://github.com/hashicorp/terraform/pull/1189#issuecomment-78569222).

I'm seeing if I can add error handling to Internet Gateway as a bandaid, but the current solution is the explicit `depends_on` as mentioned.

[2015-03-27 17:01] #1303 closed

[2015-03-27 17:02] catsby commented on #1303
I merged a fix for this in #1325

[2015-03-27 17:04] catsby commented on #497
Hey all – #1325 was just merged and should fix this. Let me know if you're still running into it on `master`

[2015-03-27 17:04] #497 closed

[2015-03-27 17:18] wazoo opened #1326 "Point to Point Security Group configuration results in circular dependency"
When configuring two SG as follows:
[code]
This results in a circular dependency in the graph:
[code]

I understand why this is happening from a graph perspective but this is a pretty common configuration and I would think that TF could figure out to create both groups first then adjust their rules.  Thoughts?

[2015-03-27 19:02] catsby commented on #1323
Hey @blacked – we forked to maintain stability until after awslabs finished their refactoring and merged their develop branch into their master, which happened used yesterday.

We will move back over to their implementation as soon as possible, but I can't say for sure when. Next week would be great, but I can't promise that as I don't know :/

[2015-03-27 19:06] jmreicha opened #1327 "Error applying plan: diffs didn't match during apply"
Not sure if this issue has been raised elsewhere.

I am experiencing the following issue when attempt to run a `terraform apply` on an AWS (EC2 and route 53) resource that has already ben created.

[code]

It seems to rebuild the server correctly but the DNS record doesn't update correctly, I have to run the `terraform apply` command a second time to "sync" everything up correctly.

[2015-03-27 19:12] franklinwise commented on #1303
Awesome! Thanks @mitchellh & @catsby

[2015-03-27 19:14] #1232 closed

[2015-03-27 19:17] ryanuber commented on #1327
I've also seen this recently, but it is always transient and not reproducible. @jmreicha do you have a repro case for this? If so, a gist would be great!

[2015-03-27 19:17] #1211 closed

[2015-03-27 19:19] mitchellh commented on #1327
Yeah, adding to @ryanuber with specifics:

1. Config
2. State
3. Repro steps

would be wonderful. Please omit or scrub private details, we can fill in our own keys and such.

[2015-03-27 19:24] jmreicha commented on #1327
Sure, I'll get a gist put together here.

[2015-03-27 20:05] jmreicha commented on #1327
Here is the gist, there was a lot of cut and paste so hopefully I didn't screw it up too bad.

https://gist.github.com/jmreicha/2adcf57ae63d37e6213a

Let me know if you need any more details.

[2015-03-27 21:04] jszwedko commented on #266
It looks like this is already built into `goamz/aws`. Even though `packer` prompted for credentials, if I just hit enter it was still able to connect correctly.

[2015-03-27 21:50] catsby commented on #932
This is implemented in #1319

[2015-03-27 21:50] #932 closed

[2015-03-28 05:23] ketzacoatl commented on #1295
+1

[2015-03-28 05:23] ketzacoatl commented on #1298
+1

[2015-03-28 05:30] tmtk75 commented on #1323
Hi guys,

Several day ago, I also started working on implementation for elasticache and it has been almost finished just now.
https://github.com/hashicorp/terraform/compare/master...tmtk75:dev/aws_ecache

I use `github.com/hashicorp/aws-sdk-go/` as is for now because it is not so hard to fix if the package name is changed.

@blacked I should have announced here before I started my implementation.

[2015-03-28 05:30] ketzacoatl commented on #1260
I have experienced a similar issue, and it was generally related to a mismatch in the device name between the AMI, instance type, and/or block device definition in terraform. The AWS docs are not very clear on this topic, so it is easy to run into the situation where terraform wants to recreate the device. FTR, I'm on 0.3.7.

[2015-03-28 05:38] ketzacoatl commented on #1255
In SaltStack, state files (formula, sort of like .tf resource definitions) are rendered as a template before being applied. In reading the source as a template, we can use all the power provided by the package rendering the template. For example, by default SaltStack uses the jinja renderer, so templates have all the power of jinja in them. In this way, we can _easily_ create and manipulate data s

[2015-03-28 05:38] ketzacoatl commented on #1244
+1

[2015-03-28 05:39] ketzacoatl commented on #1242
+1

[2015-03-28 05:39] ketzacoatl commented on #1233
+1

[2015-03-28 05:40] ketzacoatl commented on #1209
+1

[2015-03-28 05:40] blacked commented on #1323
Hi @tmtk75
Not a lot, thanks to let us know. I hope you will finish soon, because I really need elasticache implementation, that's why I start working on it too :)

Will you make it for both, memcached and redis type of clusters?

[2015-03-28 05:46] ketzacoatl commented on #756
+1

[2015-03-28 05:47] ketzacoatl commented on #729
+1

[2015-03-28 05:54] ketzacoatl commented on #591
My workflow also includes various tricks and hacks to work around `terraform apply` wanting to destroy my resources as they grow and evolve in my attempts to apply better practices through Terraform. On quite a few instances I have even modified the state file to simplify the work in migrating/renaming/etc.

Having first-class support in Terraform, for renaming/migrating/exporting/importing resour

[2015-03-28 05:59] ketzacoatl commented on #532
+1

[2015-03-28 06:01] ketzacoatl commented on #516
Ansible vaults is a feature I often want in other devops tools. Protecting these details is not as easy as protecting the state file.. what about using consul or Atlas as a remote/backend store?

+1 on this

[2015-03-28 06:04] tmtk75 commented on #1323
Sure! It's almost done. I'm now tweaking comments or cosmetic changes like blank lines :smiley:

I think it can.

Just in case, I tried to run acceptance test with [this fix](https://github.com/tmtk75/terraform/commit/db75ac2b76e74156cd8757ec527c9e7c016c0a94) in order to check if it properly launches clusters in redis engine. It ended with `ok`.

During the test, a redis cluster appeared in my con

[2015-03-28 06:08] ketzacoatl opened #1330 "changes to module resources should be more informative"
Apologies if an existing issue is out there on this one.. I looked around a bit but could not find one.

When using modules to encapsulate the details of one or more resources, `terraform plan` doesn't tell you much of anything about what will change in the module:

[code]

In this case, Terraform will actually destroy an AWS instance on me, though I have no idea that is going to happen until I ru

[2015-03-28 07:29] radeksimko commented on #1255
@ketzacoatl How does Jinja solution apply to this problem of dependencies between config options? Any example you can provide so we can be inspired?

[2015-03-28 08:46] tmtk75 commented on #1323
FYI: @blacked I created a pull request https://github.com/hashicorp/terraform/pull/1331

[2015-03-28 17:01] jaxxstorm commented on #1260
@phinze can I send it to you privately somehow?

[2015-03-28 17:25] phinze commented on #1260
@jaxxstorm sure! My hashicorp.com email is just `paul@`.

[2015-03-28 17:56] phinze commented on #1260
@ketzacoatl It's worth noting that block device handling has been drastically reworked in master (and therefore in the imminent 0.4 release). The `block_device` attribute has been split into three different fields:
 * `root_block_device`
 * `ebs_block_device`
 * `ephemeral_device`

This has proven to generally make the behavior much more consistent and predictable. I'd encourage you to either give

[2015-03-28 18:28] ketzacoatl commented on #1260
@phinze, Thanks for the details, I am looking forward to the 0.4.0 release. Mostly, I wanted to point out that it is relatively easy to get into this problem with AWS, where an instance does not have the correct block device configuration. Being more explicit with the new configuration will likely reduce that problem.

[2015-03-28 18:28] xcoderzach commented on #1326
I think this is a dupe of #539

[2015-03-28 21:26] CpuID commented on #539
+1 to this being ticked off :) will be great for multi tier AWS topologies

[2015-03-29 02:09] mitchellh commented on #564
@eukaryote Lets move to #1330. I'll CC you there to sub you.

[2015-03-29 02:10] mitchellh commented on #1330
/cc @eukaryote

I think we should change the `~` to simply be `-/+`. I know @eukaryote wanted `module-depth=-1` to be default, but this quickly gets out of hand for the plan and we intended modules to mostly be black boxes. I think the issue is that `~` isn't expressive enough: we should just show the worst case.

[2015-03-29 02:11] mitchellh commented on #1326
Agreed, dup of #539.

[2015-03-29 02:11] #1326 closed

[2015-03-29 02:17] ketzacoatl commented on #1330
@mitchellh I'm glad you agree. I think the one last bit of feedback I have: IMHO, modules as black boxes is fine, but I really need to know what in a module is contributing to Terraform wanting to recreate my instances.

I do not see how it is possible to use Terraform for managing production resources if you are always working to keep the tool from `rm -rf`'ing your production resources. Maybe I

[2015-03-29 04:24] eukaryote commented on #1330
I think changing '~' to the worst case in the module is a good improvement.

I still think there's merit in making the default output more informative though. Maybe -1 is not feasible if there are many people who have deeply nested modules, but perhaps 1 would be a better default than 0?

I'd also be fine with specifying a default -module-depth in some terraform rc file somewhere as well. I just d

[2015-03-29 08:19] ketzacoatl commented on #1330
+1 on flexibility through default module depth, or something configurable. I don't mind supplying the parameter on the command line, I use aliases for this sort of thing.

[2015-03-29 13:53] #1309 closed

[2015-03-29 23:21] lingmann commented on #640
Just ran into this issue as well. @robzienert you might try this as a workaround:
[code]

[2015-03-30 01:22] nevir commented on #28
Also curious/interested about ECS integration

[2015-03-30 08:45] nathanleiby commented on #1327
Likewise have seen this and would be happy to look into reproducing, if you need additional info. Thanks!

[2015-03-30 13:48] catsby commented on #1298
Is this achievable through Amazon's RDS API? The [Create Database Instance][1] endpoint only seems to allow a single name.

Can you accomplish this with a provisioner that runs after creation, and uses a SQL connection?

[1]: http://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBInstance.html

[2015-03-30 13:50] 7heo commented on #62
Since the syntax in terraform is `type.name.attr`, wouldn't it be more logical to use `${shell.env.$NAME}`?

[2015-03-30 14:24] catsby commented on #1324
duplicate of #1271 ?

[2015-03-30 14:25] catsby commented on #756
I believe #1271 is a pull request for this, agree?

[2015-03-30 14:30] dublx opened #1332 "Documentation on terraform remote -name flag"
Hi,
It's not very clear in the docs that the `-name` flag of `terraform remote` should be in the `'<username>/<name>'` format.
The online documentation doesn't specify this format should be used and the output'ed error `malformed name '<flag value>'` is not very clear either.

[2015-03-30 14:34] mikkoc opened #1333 "Failure to lookup AMI ID when count>1"
Snippet:

[code]

[code]
Instance tsuru-app-0 is created without error, with the correct AMI.
The other two instances creation fails with:
`Error launching source instance: Invalid id: "${lookup(var.amis, var.region)}" (expecting "ami-...") (InvalidAMIID.Malformed)`

Terraform version 0.3.7

Error: https://gist.github.com/mikkoc/f4789b80c2652d2847c5

[2015-03-30 14:51] jschneiderhan commented on #756
@catsby correct. #935 was the original PR, but it's since become out of date. @jwaldrip was awesome enough to fork it and bring it up to date #1271. I'm going to close #935 since #1271 is definitely the better PR at this point.

[2015-03-30 15:04] eproxus opened #1334 "No support for AWS Frankfurt region (eu-central-1)"
Terraform v0.3.7 does not work with the Frankfurt region of AWS.

Using the following `example.tf`:
[code]

Yields the following output:
[code]

Changing the region to `eu-west-1` and the AMI to an AMI existing in that region works.

[2015-03-30 15:05] pmoust commented on #1324
Indeed!

[2015-03-30 15:05] #1324 closed

[2015-03-30 15:12] catsby commented on #1334
Hey @eproxus – correct, `eu-west-1` required a different signature with the API that our old AWS library (goamz) did not support. This is fixed on our `master` branch though, and will be out in our next release (very soon).

[2015-03-30 15:12] #1334 closed

[2015-03-30 15:14] johnrengelman commented on #1295
I've been thinking about this as well recently, but I was thinking I could make this work now by making my entire environment a module and then still having a separate tf file for each environment that simply pulls that module in.

[2015-03-30 15:18] eproxus commented on #1334
Thanks, looking forward to it!

[2015-03-30 15:29] RuslanHamidullin commented on #1298
@catsby yeah, looks like it's not possible via RDS Api.
Only via PSQL cli command.
Also, looks like access to RDS in restricted by AWS VPC.
hmm, not sure if it's possible as PSQL cli command should be runned from VPC (Instance so on).

[2015-03-30 15:31] RuslanHamidullin commented on #1298
Ahh looks PSQL cli is possible, I needed to correct Security Group

[2015-03-30 15:33] catsby commented on #1247
Thank you for submitting your crasher, I'm sorry you ran into this.
Here's a full configuration that reproduces this:

[code]

I believe this is a core bug:

[code]

cc @phinze

[2015-03-30 15:41] catsby commented on #756
Closing this as well then in favor of #1271

[2015-03-30 15:41] #756 closed

[2015-03-30 15:41] catsby commented on #1298
Thanks for following up. I'm going to close this for now, as I don't know that we can provide this at the configuration level. Thanks!

[2015-03-30 15:41] #1298 closed

[2015-03-30 15:48] phinze commented on #1247
Yep this is a `helper/schema` bug - that should be triggering a validation error but it's somehow making it through.

We should be catching it here:

https://github.com/hashicorp/terraform/blob/90058a6c48e4f0a892a7e58a540a751f3ca36f78/helper/schema/schema.go#L1066-L1071

But we're not. I bet it has something to do with the fact that `ingress` is a sub-Resource so we're not appropriately recursing.

[2015-03-30 15:50] jamestoyer opened #1336 "Unable to pass mapping to module"
I'm working with AWS VPCs and I created a module for each region to set up a VPC. In the variables to the module I define a mapping of subnet addresses to availability zones, like so

[code]

I then go ahead and reference this mapping, no problem, to set up the VPC. However, if I try to override this mapping in a file referencing this, I get an error, saying a value in the mapping is not set. Here

[2015-03-30 15:58] phinze commented on #1260
@jaxxstorm forgot to mention: if you'd like to encrypt the message, you can get my public key on keybase.io - https://keybase.io/phinze

[2015-03-30 16:40] catsby commented on #1267
The AWS API for Security Groups doesn't allow update at this time:

- http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Operations.html

Unfortunately, `description` here should be a `ForceNew` operation

[2015-03-30 19:18] catsby commented on #1264
The core issue here is fixed with #1279.  Route 53 records still need a proper update function, as detailed in #1122

[2015-03-30 19:18] #1264 closed

[2015-03-30 19:28] wazoo commented on #1326
Ah damn, I tried to search but I couldn't figure out what to call it.  I like the solution in that bug, awesome work guys.

[2015-03-30 19:33] mgood commented on #1282
Thanks, that worked.

[2015-03-30 19:38] catsby commented on #671
I'm going to close this for now, please re-open if you feel #1234 does not address this.

[2015-03-30 19:38] #671 closed

[2015-03-30 19:43] catsby commented on #1109
I believe this is a duplicate of #532.
Regardless, a way of doing a targeted update to the ASG (not full destroy/create) to update it's `launch_configuration` would be needed here

[2015-03-31 00:53] spenczar opened #1339 "support EC2 spot instances"
I'd like to be able to spin up spot EC2 instances, setting the price in my .tf file.

My particular use case is managing a moderately large Apache Spark cluster. Spot pricing cuts costs considerably - 70% off, often - and the possibility of nodes getting interrupted and stolen is actually totally fine in Spark - like any Hadoop, it expects node failure as a matter of course.

I'd like to be able t

[2015-03-31 14:51] catsby commented on #777
Considering this closed.
I have a pull request up coming to address part of 1. above

[2015-03-31 14:51] #777 closed

[2015-03-31 15:49] catsby commented on #1302
Hello – do you have a sample configuration (with secrets excluded) that demonstrates this? Thanks!

[2015-03-31 15:54] mikkoc commented on #1333
Note that re-executing the command worked, so it might not be easily reproducible.

[2015-03-31 16:13] catsby commented on #1105
@pmoust odd, the ASG resource is supposed to drain the instances before attempting to delete the ASG itself, so this _shouldn't_ be an issue. If you have a sample config around that would help, otherwise I'll try to reproduce this on my own.
Thanks!

[2015-03-31 16:23] catsby commented on #1302
I attempted to reproduce this but was unable to with the following configuration:

[code]

Am I capturing the configuration you're describing?

[2015-03-31 16:43] catsby commented on #1105
I've reproduced this, digging in more...

[2015-03-31 17:39] ketzacoatl commented on #1295
In some cases, the environment is just an identifier that provides namespace in the real world, over the same formula. Right now I have a couple of projects with separate terraform paths for dev/production as separate deployments, and this is an anti-pattern (which is ok for now, because dev and production are significantly different). In all cases, I'm nearly losing my mind with the need to keep

[2015-03-31 18:43] pmoust commented on #1302
The sg reference should be two-way. I.e. Tf-sg-1 should have tf-sg-2 in its
ingress list.

[2015-03-31 18:44] pmoust commented on #1302
Hm. Sorry I thought I was commenting on another sg reference issue my team
had opened.

[2015-03-31 18:50] catsby commented on #1302
@pmoust so, does my config model the scenario, or not ? I'm confused :smile:

[2015-03-31 19:44] bts commented on #1267
This should probably still be considered a "bug" though, right?

If a user wants to change the description on an ELB, they can't do so through terraform -- they have manually delete the resource (and its dependencies) and then rebuild with terraform.

[2015-03-31 20:17] catsby commented on #1105
This is a timing problem, in that there's a brief window of time when the ASG has a status of "Delete in progress" after we issue the API call to delete it. We're not giving it enough time to complete the deletion before we try to re-create it.

I'm looking into what we can do here. It's simple enough to poll for a successful deletion here before moving on, but that would likely block in every oth

[2015-03-31 21:19] franklinwise commented on #1302
If you run terraform apply on this directory below, you should reproduce the problem:

https://github.com/kraveio/chef/tree/master/up

[2015-03-31 21:58] #51 closed

[2015-03-31 22:16] rhiann0n commented on #1313
The Terraform Resource for security groups with the AWS provider does allow ICMP, but I'm researching if complex custom rules can be added without writing a plugin or modifying source code.  Haven't found a solution to that, but hopefully HashiCorp will consider this a feature request?

Please allow Custom ICMP rules? (Its even tricky with the AWS CLI.)

Here is an example I found randomly online

[2015-03-31 22:39] drnic commented on #51
Boom shakalaka!

On Tue, Mar 31, 2015 at 2:58 PM, Paul Hinze <notifications@github.com>
wrote:

[2015-03-31 22:40] nibalizer commented on #51
woot!

[2015-03-31 22:50] delitescere commented on #62
No.

[2015-03-31 22:57] mitchellh commented on #62
@7heo We have precedent for 2-element things: `${path.module}`, etc. I think that is much cleaner.

[2015-03-31 23:09] spenczar opened #1344 "`terraform apply` crashes if a variable's default is set to a list"
If you set a variable’s default to a list, then `terraform apply` exits with an ugly crash.

Here’s my test case:

1. Make a new directory and cd into it:

[code]
2. Make a testcase terraform config:
[code]
3. Try running terraform apply:
[code]

I stumbled on this while crossing my fingers that I could set a default to a list of CIDR blocks to whitelist in an AWS security group. I’m fine with lis

[2015-03-31 23:46] mitchellh commented on #1344
Is this with master?

[2015-03-31 23:57] spenczar commented on #1344
It's on 19d6fdfc348c292cf5d0144056607b6fae41ac04, which is from Mon Mar 30 15:01:04.

I just noticed something got frazzled in writing this issue though - those are unicode quotation marks in my step 2. I had “testcase”, but it should be "testcase" of course. Try again now.

[2015-04-01 00:34] patricklucas opened #1345 "Crash report: invalid memory address or nil pointer dereference"
Contents of crash.log:

[code]

[2015-04-01 00:58] patricklucas commented on #1345
This actually appears to have been a corrupted state file (by us), but I'll leave this open in case the traceback is of any use. Feel free to close if not.

[2015-04-01 01:59] justinclayton commented on #51
Applause to all involved!

On Tue, Mar 31, 2015 at 3:40 PM -0700, "Spencer Krum" <notifications@github.com> wrote:

woot!

—
Reply to this email directly or view it on GitHub.

[2015-04-01 03:10] zzamboni commented on #51
Great stuff, thanks!

[2015-04-01 07:09] ipolyzos commented on #523
+1

[2015-04-01 08:20] bobtfish commented on #948
+1 we'd like this at Yelp

[2015-04-01 11:25] gisnalbert opened #1349 "Openstack provider - networking_subnet generating duplicate plans"
Hi,

I am using the OpenStack provider since yesterday. Before the merge of PR#924 I was able to create the infrastructure and make changes on it just right.
This morning I changed to the current master (thanks for the merge of the PR) and it seems that the subnetwork plan is being generated with an error.

I have created a very simple example that demonstrate this behaviour:

1 - Create a network

[2015-04-01 12:30] gisnalbert commented on #1349
Sorry, it was my mistake with the network mask -- that was fixed on OpenStack and so was showing as a difference...

[2015-04-01 12:30] #1349 closed

[2015-04-01 13:17] tfhartmann commented on #51
Nice work!!!

:shipit:

[2015-04-01 13:39] ehaselwanter commented on #51
Awesome!

[2015-04-01 13:43] bitglue commented on #1181
This is also a problem that can be solved by not using provisioners. Instead, "the IP written on the instance" is a resource: it's a thing that can exist or not, which you can update or delete. It maps very nicely to CRUD operations.

[2015-04-01 13:47] bitglue commented on #880
Is eventually consistent a problem? Arguably, even the local state isn't consistent already: https://github.com/hashicorp/terraform/issues/694

If I could be guaranteed that at least eventually zombie resources would be identified and rectified, that would be good enough for me, and an improvement over local state.

[2015-04-01 14:25] willejs commented on #1109
targeted update to the launch_configuration :+1:
Im just trying to add an iam_instance_profile...

[2015-04-01 14:25] willejs commented on #532
:+1: im also experiencing this bug. I think #1109 is a duplicate

[2015-04-01 14:28] catsby commented on #1105
@pmoust this should be fixed in #1353

[2015-04-01 14:44] catsby commented on #1109
I believe the original problem stated here is resolved in #1353 .

[2015-04-01 15:20] #1105 closed

[2015-04-01 15:43] 7heo opened #1354 "Provide minimal provisioning features"
### Overview
I open this ticket to propose to implement bare minimal provisioning features in terraform. Before rejecting the idea mentally, please take the time to read what follows. My suggestion is motivated by a use case we encountered, and could have many benefits at a very acceptable cost (note the "minimal" keyword).

### Some background
In a short meeting with our team today, we tried to r

[2015-04-01 17:49] jschneiderhan commented on #1051
It looks like master of aws-sdk-go implements retries with an exponential back-off on Throttling errors: https://github.com/awslabs/aws-sdk-go/blob/master/aws/service.go#L124-L142. The fork that terraform is using doesn't include it, but perhaps this will once it catches up with the upstream.

[2015-04-01 21:08] patricklucas commented on #1120
Just ran into this as well.

[2015-04-01 21:08] #1070 closed

[2015-04-01 21:12] catsby commented on #1278
Fixed in #1341

[2015-04-01 21:12] #1278 closed

[2015-04-01 21:12] catsby commented on #1140
Fixed in #1341

[2015-04-01 21:12] #1140 closed

[2015-04-02 13:11] plalloni commented on #51
Great!

[2015-04-02 14:09] gisnalbert opened #1360 "Support providers connection over SSL - without a valid certificate"
I am running a POC using Terraform as the provisioner on a OpenStack based cloud. This is using the master branch of Terraform.

My problem is that the Keystone service is exposed as HTTPS, but since this is a lab environment there is no valid certificate (i.e. the certificate is self-signed). I have tried to find any option in Terraform to disable this check of the certificate, but with no luck.

[2015-04-02 14:46] kzyczenko commented on #1201
+1

[2015-04-02 15:30] catsby opened #1361 "Rebase hashicorp/aws-sdk-go, migrate back to official AWS library"
Migrate Terraform back to upstream https://github.com/awslabs/aws-sdk-go

- [ ] ~~Rebase https://github.com/hashicorp/aws-sdk-go on `awslabs`~~ punted here
- [x] Test, make sure any patches to `hashicorp/aws-sdk-go` are applied or fixed in upstream
- [x] Migrate Terraform source back over to `awslabs/aws-sdk-go`

[2015-04-02 15:33] jschneiderhan commented on #1361
Once work is ready to start on this, I'd be happy to help root out the issues. My hope is that it decreases the frequency of the problems in #1051

[2015-04-02 15:38] pmoust commented on #1361
@catsby due to the way goland (does not) handle dependencies at the moment, wouldn't be safer to keep the hashicorp fork till this is resolved in language level?

[2015-04-02 15:41] catsby commented on #1361
Can you clarify what you mean here?

[2015-04-02 15:46] pmoust commented on #1361
@catsby For instance currently `go get` fetches the current `HEAD` of git repos. If `awslabs` changes the codebase of `aws-sdk-go` our builds will fail or even worse if `terraform` does indeed build might not perform as expected.
This applies to all dependencies that are not vendored (like with Godeps).

Some maintainers like @svanharmelen notifies us when there are breaking changes on cloudstack

[2015-04-02 15:53] pmoust commented on #1361
How I manage to make so many grammatical/syntactical errors in 3 phrases is beyond me.. *..sigh..*

[2015-04-02 15:54] catsby commented on #1361
True, however that situation already exists for all of our dependencies at the moment; `awslabs` wouldn't be unique here.

Dependency management is another pain here, yes. The Golang community wants to solve this better, and Mitchell is referring to an email chain on the golang email list. It's unlikely something will surface in the near future, but we can be hopeful :smile: In general I agree thr

[2015-04-02 15:57] pmoust commented on #1361
:+1:

[2015-04-02 16:17] phrawzty commented on #265
:+1:

[2015-04-02 17:10] #532 closed

[2015-04-02 17:53] franklinwise commented on #1302
@catsby - were you able to reproduce using the the directory?

[2015-04-02 19:16] ketzacoatl commented on #532
exciting, thanks!

[2015-04-02 19:25] tysontate commented on #1177
FWIW, I can also replicate this with:

[code]

Applying that results in this message each time:

[code]

[2015-04-02 19:53] chrisferry opened #1367 "Can't update existing resources with new EBS block device settings"
When running a plan with new 0.4.0 I get the following output:
~ module.inf-consul.aws_launch_configuration.launch_config
    ebs_optimized:            "" => "0"
    ephemeral_block_device.#: "" => "<computed>"
    root_block_device.#:      "" => "<computed>"

I'm not specifying a block device in the launch_config.

When I try to apply I receive:
* 1 error(s) occurred:

* 1 error(s) occurred:

* 1

[2015-04-02 21:19] jwaldrip commented on #1367
Can you post your configuration for that resource.

[2015-04-02 21:20] phinze commented on #1367
Looking into this now. Will try to repro from here, but a config would definitely be helpful!

[2015-04-02 21:54] chrisferry commented on #1367
Config here: https://gist.github.com/chrisferry/f74d57c091f712afef36

[2015-04-02 21:58] phinze commented on #1367
Reproduced locally with a pretty minimal config.

[code]

Digging in for root issue now.

[2015-04-02 23:38] bitglue opened #1369 "`terraform plan` or maybe `refresh` removes outputs from state file"
If you have a configuration that uses modules which have outputs, or the root module has outputs of its own, `terraform plan` will eat them.

[code]

You can also see this by doing:

  - run `terraform apply`. The root outputs will be printed.
  - run `terraform show`. Outputs are printed again.
  - run `terraform plan`. No changes are planned.
  - run `terraform show`. The outputs are gone.
  - r

[2015-04-03 02:30] rhiann0n commented on #28
Please add custom ICMP types and codes to security group options.

Example
Ingress ICMP traceroute from 0.0.0.0/0
Ingress ICMP echorequest from 0.0.0.0/0
Ingress ICMP echo-reply from 0.0.0.0/0
Ingress ICMP Destination Unreachable from 0.0.0.0/0
Ingress ICMP Time Exceeded from 0.0.0.0/0
Ingress ICMP Parameter Problem: Bad header from 0.0.0.0/0

I saw what looked like the logic for icmp_code and icm

[2015-04-03 02:33] rhiann0n opened #1372 "Custom ICMP Codes and Types within Security Groups"
Please add custom ICMP types and codes to security group options.

Example
Ingress ICMP traceroute from 0.0.0.0/0
Ingress ICMP echorequest from 0.0.0.0/0
Ingress ICMP echo-reply from 0.0.0.0/0
Ingress ICMP Destination Unreachable from 0.0.0.0/0
Ingress ICMP Time Exceeded from 0.0.0.0/0
Ingress ICMP Parameter Problem: Bad header from 0.0.0.0/0

I saw what looked like the scaffolding for the logic o

[2015-04-03 05:04] sczizzo opened #1373 "Using variable with aws_instance count results in a parse error"
Able to reproduce consistently using Terraform v0.4.0 and the following config:
[code]

Planning with the above configuration:
[code]

[2015-04-03 05:07] sczizzo commented on #1198
Still running into this in v0.4.0

[2015-04-03 06:48] allomov opened #1374 "[OpenStack] Problem with networking service: No suitable endpoint could be found in the service catalog."
Hey, all.

Trying out new OpenStack provider I met the following error. When I try run `terraform apply` command I get following error output:
[code]
Here is description of OpenStack configuration:
[code]
I tried to set `auth_url` equaled to `OS_AUTH_URL` variable from [this doc](http://docs.openstack.org/juno/install-guide/install/apt/content/keystone-client-environment-scripts.html). I tested it

[2015-04-03 12:12] jrslv opened #1375 "Google Cloud Provider attributes vs. modules usage in 0.4.0"
In our project https://github.com/ContainerSolutions/terraform-mesos we have the following provider.tf
[code]
When we use this repository as a module:
[code]

then `terraform plan` returns:

[code]

If we use .tfvars in the project, it works. If we use terraform 0.3.7, it works. If we run `terraform apply`, it asks for `account_file`, `project` and `region` and works just fine.

We even tried to h

[2015-04-03 13:35] catsby opened #1376 "Error finding DB Subnet group when there is more than one subnet associated"
Reported from the mailing list, this configuration will trigger an error of `* Unable to find DB Subnet Group`:

[code]

~~It's the config from our acceptance test, however the logic that checks for it's existance differs between the test and the implementation:~~  probably wrong thought, but I'm digging in

[2015-04-03 15:03] catsby commented on #1376
Fixed in #1377

[2015-04-03 15:03] #1376 closed

[2015-04-03 15:40] jtopjian commented on #1374
Is it possible for you to share sanitized versions of the tf file you're using as well as the output of the command:

keystone catalog

[2015-04-03 15:52] zxjinn opened #1380 "AWS Provider in 0.4.0- Credentials can't be used in modules"
Hey guys, I appreciate all your hard work. 0.4.0 looks like a really great release! I downloaded it excitedly yesterday and ran into an issue I couldn't resolve. So I made a tiny POC to show the problem. I hope I'm not missing something really small and dumb here :person_frowning:.
## File structure and contents ##
### tree ###
[code]
### awsprovider-poc.tf ###
[code]
### modules/awsprovider-poc/m

[2015-04-03 15:59] phinze commented on #1380
Hey there, sorry for the trouble, and thanks for the detailed report!

Let me take a look and see what's up.

[2015-04-03 16:08] phinze commented on #1380
Hmm everything seems to be working fine from my side. Let me detail out my environment / process and hopefully we can figure out where the discrepancy is.

[code]

See any differences between that and your environment?

[2015-04-03 17:33] phinze commented on #1380
Figured it out! I had env variables set that the provider was using.

Unsetting `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` lets me reproduce the issue. Digging in now! :+1:

(This also means that setting those env vars should function as a workaround for you.)

[2015-04-03 17:36] zxjinn commented on #1380
I just deleted everything I could find related to terraform:
* 0.3.7 version in my PATH
* 0.4.0 version in my Downloads folder
* pre-0.4.0 version I'd compiled for testing (it also didn't work, it was version dc4abb48fad02c4b93d1185599812af32b0e31fb)
* ~/.terraform.d directory

I then re-downloaded/reinstalled the bins for 0.4.0 from the [download site](http://www.terraform.io/downloads.html) then

[2015-04-03 17:39] phinze commented on #1380
Wow - thanks for putting in all that work to help isolate the issue! Now it's my turn to work on getting it solved for you. :grinning:

[2015-04-03 17:42] zxjinn commented on #1380
I just tried the environment variable setting and unfortunately it _did_ work for me! Glad I could assist in helping you find this. I'm digging into it so much because most of what I am working on today relies on Terraform and I wanted to use the newest version!

[code]

[2015-04-03 17:43] zxjinn commented on #1380
s/unfortunately/fortunately

[2015-04-03 17:47] phinze commented on #1375
Hi there - thanks for the report! I'm almost positive this is the same issue as #1380, which I happened to pick up first, but I'll leave this open until I get a chance to verify.

If it is the same issue, you should be able to work around it for now by using the `google-cloud` provider's env vars for configuration: `GOOGLE_ACCOUNT_FILE`, `GOOGLE_PROJECT`, and `GOOGLE_REGION`.

I'll keep you posted

[2015-04-03 18:39] begriffs opened #1383 "Re-create Route 53 zone if it was deleted externally to Terraform"
I manually deleted a Route 53 zone and hoped that `terraform refresh` would notice and rebuild the zone, but this actually causes refresh to die.

[code]

I'm running v0.3.7.

[2015-04-03 19:03] catsby commented on #1383
Hey @begriffs !
Sorry for the trouble here. It seems the code for detecting this (a deleted hosted zone, or no such zone) is wrong, and I've opened pull request #1384 to fix that.

The "correct" behavior here, or at least intended behavior, is for Terraform to wipe the local state clean of that resource. Strictly speaking then, `refresh` does _not_ rebuild anything. Subsequently invoking `plan` or

[2015-04-03 19:11] catsby commented on #513
Closing since #648 takes care of it :smile:

[2015-04-03 19:11] #513 closed

[2015-04-03 19:17] catsby commented on #574
Closing, all these resources support tagging now. Thanks!

[2015-04-03 19:17] #574 closed

[2015-04-03 19:24] nickhs opened #1385 "Minor docs inconsistencies in AWS DB providor"
There's a couple of super minor inconsistencies in the docs:

* In `providers/aws/r/db_parameter_group.html.markdown`
RDS paramater groups names can only have alphanumeric chars and hyphens, no underscores.

* In `website/source/docs/providers/aws/r/db_instance.html.markdown`
`False` should be `false` according to the HCL spec. See `apply_immediately`.

[2015-04-03 19:40] mitchellh commented on #1380
@phinze Nothing is popping out as an exact solution for this for me, but it is almost certainly in the graph config merge logic stuff, which is reasonably advanced. Some pointers of where to look:

1. Print out the config that is being merged/seen in evaltree_provider.go
2. Figure out if the module variables are interpolating properly
3. It might be the case that for some reason the module variabl

[2015-04-03 19:47] phinze commented on #1380
Thanks for the pointers @mitchellh - time to dive in. :swimmer:

[2015-04-03 19:51] mitchellh commented on #1354
Thanks for the issue. I'll attempt to hit upon everything, but if I miss something let me know. I have no intention of skirting around anything.

Regarding imperative vs declarative: I disagree with your assessment. Shells on machines are inherently imperative. Tools like Chef, Puppet mask that from you (you're just pushing it one level deeper), and Terraform isn't meant to replace those. We sit o

[2015-04-03 19:51] #1354 closed

[2015-04-03 19:52] vlk-charles commented on #1339
I am dealing with the same problem. Although [the documentation](https://terraform.io/docs/providers/aws/r/launch_config.html) does not mention it, from examining [resource_aws_launch_configuration.go](https://github.com/hashicorp/terraform/blob/045c020244baf7c918ed142bb7b0288d08b005cf/builtin/providers/aws/resource_aws_launch_configuration.go) it looks like launch configurations might support Spo

[2015-04-03 21:40] trumant opened #1387 "Minor spelling issue in the OpenStack Provider Networking documentation"
[code]

[2015-04-03 21:42] 7heo commented on #1354
Thanks @mitchellh to have taken the time to answer that issue with so much detail.

I will try to answer all you reacted on, the best I can:

I don't get what assessment you disagree with, but that's not really important, as I believe we want the same thing (direct handover from terraform to an SCM) in the end; we just are expressing it differently. However please feel free to explicit what assess

[2015-04-03 23:11] mevansam commented on #102
To add to the mix of vsphere plugins in the wild, I too started working on one https://github.com/mevansam/terraform-provider-vsphere. I am taking a slightly different approach as my requirement is to be able to 'terraform' a VDC given a couple of ESX hosts and a vCenter server. So I have started by mapping the vSphere datacenter domain and host constructs to terraform - I borrowed from the plugin

[2015-04-04 00:48] nevir commented on #1332
To make matters worse, the error gives a malformed example too:

[code]

[2015-04-04 02:06] nevir opened #1389 "Length of list or map?"
I figure I'm missing something here. How can I calculate the length of a list/map variable?

I'd like to specify a list of AWS availability zones, and generate a subnet per zone (either via a map of values, or the `split()` hack for now)

[code]

[2015-04-04 05:05] wjimenez5271 commented on #102
+1 for Vmware vsphere/vcloud support

[2015-04-04 14:18] kendawg2 opened #1391 "AWS Provider key_name in instances only loads the first key."
Although Terraform does not complain if key_name is used more than one in aws_instance, it only loads the first key.   It would be very useful to be able to add multiple keys to root.   On large infrastructures it is quite common to have several people working at the same time.

So if it could be used more than once in an instance, that would be good, or if it could be a list, that would be just a

[2015-04-04 15:03] kennyg opened #1392 "backend consul problem with address flag"
with v0.3 I used to upload the state with:

terraform remote -backend=consul -address=consulhost:8500 -path=release_engineering/terraform/terraform-docker

now with v0.4 and the new remote config command:
terraform remote config -backend='consul' -address='consulhost:8500' -path='release_engineering/terraform/terraform-docker'

I get an error with the help text:
Error parsing CLI flags: flag provi

[2015-04-04 21:16] hairmare commented on #1392
I just ran into this as well. You need to specify the ``-address`` flag as follows.

[code]

[2015-04-05 09:56] bobtfish opened #1393 "Deleteing an ASG in the console and then running terraform can break."
If you delete an ASG which had previously been created by terraform in the console, and then try to delete it with terraform, then terraform doesn't pay attention to the current state before trying to drain the ASG:

    terraform_remote_state.vpc: Refreshing state... (ID: 2015-04-05 09:49:55.922430917 +0000 UTC)
    module.kubernates.aws_launch_configuration.kubernates-master: Refreshing state...

[2015-04-06 02:44] mitchellh commented on #1354
I agree with your last point: integrating SCMs more closely into Terraform is our idea. Re: your concern about installation: yes, we've taken both stances in other projects of both knowing how to auto-install the SCM as well as not. We've found it easier to start to defer installation to the user (via remote-exec or some other method) but we do have experience doing both. I'm not sure what the cor

[2015-04-06 03:29] begriffs commented on #1383
That makes perfect sense -- refresh updates the state, plan displays what will happen and apply makes it so.

Thanks for the fix!

[2015-04-06 09:31] allomov commented on #1374
@jtopjian thank you for answer. This was my fault. I put wrong region: `RegionOne` instead of `regionOne`.

Hope error messages will be more informative in future :)

[2015-04-06 09:31] #1374 closed

[2015-04-06 10:27] thijsschnitger commented on #1375
I can confirm it works when using env vars. One thing I found, it complains about the project and the region when I don't set them, but not the account_file. Terraform will ask for the account_file when I do a terraform plan.

[2015-04-06 10:29] laggyluke opened #1394 "google_compute_instance: network_interface constantly forces resource recreation"
I've hit the following issue when trying to migrate from 0.3.7 to 0.4.0.

Basically, `google_compute_instance` is unusable, because it tries to recreate itself all the time.

Configuration:
[code]

First, I run `terraform apply`:
[code]

Next, I run `terraform plan` with no changes to configuration:
[code]

As you can see, Terraform insists on recreating instance because `network_interface.0.netwo

[2015-04-06 10:29] laggyluke commented on #1394
Might be related to #1286.

[2015-04-06 11:25] 7heo commented on #1354
My opinion on the correct solution (ofc ymmv):

1. Probe what package management system is there (not too hard to do, rather reliable, since UNIX-like systems heavily rely on package management).
2. Write a list of commands used for each known package management system (probably mostly "add" or "install", and "update" - pretty easy to do, and totally reliable, once you've figured out which package

[2015-04-06 12:02] kennyg commented on #1392
I tried what @hairmare suggested and the remote command didn't recognize the -path argument. I added -backend-config='path=release_engineering/terraform/terraform-docker' and it errors with:
Error initilizing remote state: <nil>
It seems I should migrate the 0.3 remote consul state to local storage before upgrading to 0.4 and setting up the remote config.

[2015-04-06 12:55] max-voloshin commented on #1148
:+1:

[2015-04-06 13:00] permyakovsv commented on #1148
+1

[2015-04-06 14:31] catsby commented on #1383
Great, glad we're on the same page.
I'll get #1384 merged as soon as I can.
Thanks for opening the issue!

[2015-04-06 14:34] catsby commented on #1393
Curious, this sounds like a timing issue. It sounds like you deleted it in the console, and then also deleted it in Terraform, if for nothing else but to remove it from the state, is that correct?

Assuming that, it's likely a timing issue. The ASG was probably in mid-drain or delete when we issued the API call. If that's the case, then we need to simply tolerate that situation better, correct? E.

[2015-04-06 14:35] bobtfish opened #1395 "Deleting route53 zones in the console can break terraform runs"
I created a hosted zone with a record in it with terraform, then went to the console and removed it (expecting terraform to recreate it), however I now get this output:

    aws_route53_zone.mesos: Refreshing state... (ID: Z3LNYFRQELU092)
    module.mesos.dns.aws_route53_zone.mesos: Refreshing state... (ID: ZMSQHHTU9HS8B)
    Error refreshing state: 2 error(s) occurred:

    * The specified hosted

[2015-04-06 14:54] catsby commented on #1395
I believe this is a duplicate of #1383, and should also be fixed by #1384. Does that sound right?

[2015-04-06 15:20] catsby commented on #1122
I've submitted #1396 to address this

[2015-04-06 15:29] chrisferry commented on #1367
@phinze This fixes the issue.  Thx

[2015-04-06 15:57] #1367 closed

[2015-04-06 15:59] #1387 closed

[2015-04-06 16:02] #1385 closed

[2015-04-06 16:11] #1383 closed

[2015-04-06 16:11] catsby commented on #1383
#1384 was just merged, thanks again!

[2015-04-06 20:36] chrisferry opened #1399 "Setting remote backend-config scheme to https results in <nil> remote state"
Info:
https://gist.github.com/chrisferry/be543df0217286be09b3

Let me know what other info I can provide.

[2015-04-06 20:47] solarce opened #1400 "Feature Request: Terraform version requirements in configuration files"
I'm starting to work on updating the [terraform community modules](https://github.com/terraform-community-modules/) to take advantage of the new [split function](http://www.terraform.io/docs/configuration/interpolation.html#split_delim_string_), but this will leave users on older versions unable to use the latest versions of these modules.

Being able to put some kind of version constraint as a co

[2015-04-06 20:51] mhahn commented on #1345
Running into the same issue, just going through the examples:

[code]

I cleared out any tfstate files before running this

[2015-04-06 21:06] radeksimko commented on #1400
Good idea :+1: , that would be helpful especially in these early days when the API is still changing rapidly, although it goes a bit against the whole Golang-concept which forces all developers to "live on the edge" (as you cannot specify versions in `import "github.com/..."`).

I wouldn't want to see people freezing everything forever and complaining about old bugs that have been fixed x releases

[2015-04-06 21:08] radeksimko commented on #1400
In fact these are two different problems

1. using new version of Terraform on older codebase
2. using older version of Terraform on new codebase

(2) should be definitely addressed, but I'd be careful about (1) as mentioned above.

[2015-04-06 21:09] catsby commented on #1345
Thanks for reporting! Can you elaborate on how the state file was corrupted?

@mhahn , can I ask which example you were on? I'd like to try and reproduce it.

If you have a config file around that reproduces it that will help too, **be sure to omit any secrets** like API keys and such :smile:

[2015-04-06 21:11] mhahn commented on #1345
i was just running through these: https://terraform.io/intro/getting-started/build.html with version Terraform v0.4.0
[code]

[2015-04-06 21:13] patricklucas commented on #1345
@catsby: I believe another user ran a different version of terraform and accidentally committed his statefile. There were no corresponding changes to the source files, so I reverted his statefile change and the crash did not occur.

[2015-04-06 22:24] apparentlymart commented on #215
Rather than this being a simple function, could it instead be a resource so that it can participate normally in the dependency graph?

[code]

...then elsewhere in the config, use ``${string_from_template.example.rendered}`` to get the result of rendering the template.

Unless I'm missing something, this allows both the filename and the variables to be dynamic by re-using the existing dependency m

[2015-04-06 23:36] solarce commented on #1380
Looks like I am running into this as well, when trying to test out our zookeeper template with the changes I made to https://github.com/solarce/tf_aws_asg/commit/9485be26949b40548a57af8b71c89a519365f57a to use `split()`

I normally have the AWS_* stuff set in my environment, except I don't set a REGION by default, so when I unset AWS_ACCESS_KEY and AWS_SECRET_KEY I begin to get the same errors as

[2015-04-07 01:05] bobtfish commented on #1395
Yep, sounds right! I'm going to close this and I'll update to master and retry, thanks!

[2015-04-07 01:05] #1395 closed

[2015-04-07 01:06] bobtfish commented on #1393
Yes, thanks! Your description is exactly what I believe is happening, and either of the fixes you propose would work for me.

[2015-04-07 01:10] jperry commented on #1158
:+1:

[2015-04-07 07:49] MerlinDMC commented on #1394
I was just going to post the same issue after hitting that yesterday as well.
It seems to persist the self_link instead of the network name in the state but requires the actual network name for creation.

I did help me around that for now by editing the terraform config once the resource got created:
[code]
which is a stupid way around this but getting me working again.

I'm currently looking for

[2015-04-07 08:06] MerlinDMC commented on #1394
This does fix my current problems in a first stupid way but I doubt it will fix the complete problem:

[code]

[2015-04-07 08:41] thijsschnitger commented on #1394
I've hit this bug as well, using the workaround proposed by @MerlinDMC for now.

[2015-04-07 08:49] dublx opened #1402 "Incorrect Argument Reference section in docs for the Docker provider"
Hi,
In https://www.terraform.io/docs/providers/docker/r/image.html the Example usage block has the `image` property but the Argument Reference section below it says `name` is required.
Shouldn't it be `image - (Required) The name of the Docker image, including any tags.` instead?

Tks!

[2015-04-07 10:08] knifhen opened #1403 "Crashed following the https://www.terraform.io/intro/getting-started/dependencies.html"
2015/04/07 12:05:16 [INFO] Terraform version: 0.4.0  9fd14f16382b05c41ebc719e966c1386313b7da8
2015/04/07 12:05:16 Detected home directory from env var: /home/knifhen
2015/04/07 12:05:16 [DEBUG] Discovered plugin: atlas = /home/knifhen/opt/terraform/terraform-0.4.0/terraform-provider-atlas
2015/04/07 12:05:16 [DEBUG] Discovered plugin: aws = /home/knifhen/opt/terraform/terraform-0.4.0/terraform-pro

[2015-04-07 11:03] lyptt opened #1404 "AWS Route53 - Diffs didn't match during apply"
On 0.4.0 and lower, when running terraform apply with Route 53 configurations we get the message 'diffs didn't match during apply'.

Here's the contents of the Route 53 config tf file:
[code]

We were hoping this would be fixed by 0.4.0, but that does not appear to be the case as it's still happening on the latest release.

[2015-04-07 13:50] pmoust commented on #1109
@catsby nop, this issue still persists

[2015-04-07 13:57] Iouns opened #1405 "Route53 resource : InvalidSignatureException"
Hello,

Since Terraform 0.4.0, I have some issue with an aws resource.
Following code works on 0.3.7 and not on 0.4.0 :
<pre><code>
resource "aws_route53_record" "main" {
  zone_id = "/hostedzone/XXXXXXXXXXX"
  name = "${var.hostname}.${var.domain_name}"
  type = "CNAME"
  ttl = "60"
  records = ["myrecord.tld."]
}
</code></pre>

On 0.3.7 I have following result :
<pre><code>
aws_route53_record.ma

[2015-04-07 13:58] Iouns commented on #1405
It seems not related to aws-sdk-go as stated on this report : https://github.com/awslabs/aws-sdk-go/issues/186

[2015-04-07 13:59] bendodd opened #1406 "Add support for Softlayer"
Are there any plans to support Softlayer?

[2015-04-07 15:44] phinze opened #1409 "ebs_block_device forces perpetual instance recreation unless volume_size and volume_type are set explicitly"
Example config that causes this:

[code]

[2015-04-07 15:46] phinze commented on #1409
I think the issue is that the set hashcode gets calculated differently when the config is omitted.

Here's the relevant snippet of the statefile after applying the above:

[code]

And then when you `terraform apply`, notice the different hashcode for the volume...

[code]

[2015-04-07 16:07] willmcg commented on #1169
Re-opening as now Im definitely seeing this happening in my deployed configurations.

Specifying egress rules for a security group does not remove the default egress allow-all rule
(All traffic, All, All ,0.0.0.0/0) which defeats all the specified egress rules in the configuration.

Terraform should remove the security group default egress rule if any egress rules are specified.

Working on puttin

[2015-04-07 16:18] bitglue commented on #1098
Maybe this could be documented somewhere? I don't see it in the [configuration syntax](https://terraform.io/docs/configuration/syntax.html) or the [interpolation syntax](https://terraform.io/docs/configuration/interpolation.html).

But also, it doesn't seem to work. While it does avoid the syntax error due to the invalid interpolation, it also puts a literal `$$` in the resulting parsed string.

[2015-04-07 16:32] phinze opened #1410 "Cannot create ASG in EC2 Classic"
Attempting to creating an ASG in EC2 Classic results in the following error message:

[code]

Looks like we're not properly omitting that field from the request struct when it does not apply, causing AWS API validation to complain.

[2015-04-07 17:50] phinze commented on #1410
Example config that generates this error:

[code]

[2015-04-07 18:11] willmcg opened #1413 "Dynamically updated Route53 records are not destroyed"
I have a configuration in which I create a bunch of A records in route53 into pre-existing hosted zones (both public and private). These creation of these records is intended to be managed by Terraform, but they are dynamically updated during runtime (not by Terraform) to point to instances created by autoscaling groups as necessary.

This is all working great with the exception of destruction of

[2015-04-07 18:22] phinze commented on #1409
More general expression of the problem that I believe is accurate:

Will continue to update as I learn more.

[2015-04-07 18:24] woodhull opened #1414 "Add Collaborators to Heroku Provider"
We're currently using a ruby script to add/remove Heroku collaborators to heroku applications after the terraform apply run completes. It would be nice to have the ability to modify the list of collaborators on a per application basis through terraform.

https://devcenter.heroku.com/articles/platform-api-reference#collaborator

[2015-04-07 18:55] vlk-charles commented on #1339
I was able to create a Spot Instance request liek this:
[code]
The problem now is that I cannot reference the instance from the configuration so I cannot, for examle, assign a DNS name to its public IP address.

[2015-04-07 19:35] catsby commented on #1405
Hey @Iouns thanks for reporting this. I'm taking a look now. I suspect it has to do with `/hostedzone/XXXXXXXXXXX` as your `zone_id`, which we should be cleaning up, but maybe we aren't here. I'm investigating.

For what it's worth, Terraform 0.4.0 does not use awslabs/aws-sdk-go, but a fork we made for stability while the awslabs folks refactored upstream. We're in the process of migrating back.

[2015-04-07 19:41] catsby commented on #1405
In my prelim dig, it seems `/hostedzone/` is in fact at fault here. Can you confirm that removing that prefix from the `zone_id` fixes it for you?

I'll look into automatically scrubbing that, which I _thought_ we were doing..

[2015-04-07 20:15] catsby commented on #1413
What properties of the Route 53 record are being updated?
Do you have any additional how-to steps so I can try and reproduce this?
What steps are you taking to attempt to destroy them?
Thanks!

[2015-04-07 20:19] catsby commented on #1403
Thanks for opening this. The issue seems to appear round here:

[code]

I'll dig in and see what's (not) happening

[2015-04-07 20:22] catsby commented on #1405
This should be fixed in #1415

[2015-04-07 20:23] knifhen commented on #1403
thx, I got around the problem by setting things to use vpc instead.

On Tue, 7 Apr 2015 at 22:19 Clint <notifications@github.com> wrote:

[2015-04-07 20:36] willmcg commented on #1413
The properties of the record that would be changed are the IP and the comment. The cut-down version of the Boto python code that does the out-of-band update is this:

    zone = route53_conn.get_zone('example.com.')
    zone.update_a('server.example.com', '10.0.5.5', ttl=60, comment="Updated by DNS utility")

The placeholder record in the Terraform configuration looks like this:

    resource "aws

[2015-04-07 20:49] catsby commented on #1404
Thanks for reporting this @lyptt . Unfortunately I'm not able to reproduce this on either Terraform 0.4.0 that I just downloaded, or from the build of the current `master` branch (at 18f2e13).
I used the below pan, which is identical to yours except for use of `private_ip` references:

[code]

I'm attempting another test with an AWS Instance and using it's private IP. Do you have any other informa

[2015-04-07 20:54] catsby commented on #1404
I modified the config to use the private IP of an instance and still can't reproduce the issue:

[code]

[2015-04-07 20:57] phinze commented on #1402
@dublx thanks for this!

The docs are actually stored [in this repository](https://github.com/hashicorp/terraform/blob/master/website/source/docs/providers/docker/r/image.html.markdown). Are you interested in heading over there and making the edit yourself and submitting a PR?

You can actually do the whole flow from within the GitHub web interface nowadays.

If not I'm happy to pick up the tweak.

[2015-04-07 21:01] phinze commented on #1399
Thanks for the report @chrisferry.

Think you could check this out @mitchellh since you've been in the area recently?

[2015-04-07 21:02] phinze commented on #1392
Thanks for the report @kennyg - @mitchellh can you pick this up in your remote-state issue sweep?

[2015-04-07 21:06] phinze commented on #1332
Thanks for the report, and sorry for the confusion. We'll get these docs cleaned up.

[2015-04-07 21:07] DoctorVin opened #1416 "inconsistent count interpolation"
Built terraform from source on OS X, version: Terraform v0.4.0-dev (f8a699f3d888e7c697daa947728d52552378a20e)

I'm finding that count.index is being set inconsistently in plans and applies.
[code]

I expected 3 instances with name tags "Web-0", "Web-1", "Web-2", and serial 0, 1, 2, but intermittently I get multiple Web-1's or Web-2's. The serial tag always matches the name tag. You don't need to a

[2015-04-07 21:09] phinze commented on #1169
Thanks for the report. This makes sense. Marking as a bug.

That test configuration you mentioned will be very helpful.

[2015-04-07 21:15] catsby commented on #1327
https://github.com/hashicorp/terraform/issues/1404 is a possibly similar/related Route 53 issue involving diffs not matching

[2015-04-07 21:23] willmcg commented on #1169
Here is the minimal reproduction case that demonstrates the issue:

    resource "aws_vpc" "vpc" {
        cidr_block           = "10.0.0.0/16"
        enable_dns_support   = true
        enable_dns_hostnames = true
    }

    resource "aws_security_group" "secgrp" {
        name        = "secgrp"
        description = "my group"
        vpc_id      = "${aws_vpc.vpc.id}"

        egress {

[2015-04-07 21:29] dublx commented on #1402
Cool, I'll get that one thru.
On Tue 7 Apr 2015 at 21:57 Paul Hinze <notifications@github.com> wrote:

[2015-04-07 21:29] willmcg commented on #1169
Also a word of caution here for people using egress rules as well...

I had assumed all my security group egress rules in my configuration were working as expected until I discovered that they were all being overridden by the default allow-all egress rule. When I manually deleted all these allow-all default rules I discovered a number of things that were incorrect with my original egress rules tha

[2015-04-07 21:32] phinze commented on #1416
Hi @DoctorVin, thanks for the report.

I made some attempts to reproduce, but no luck over here.

My Config:

[code]

My test runs:

[code]

So AFAICT I'm getting consistent output over here. Can you share a bit more detail to help me reproduce?

[2015-04-07 21:40] lyptt commented on #1404
It looks like this is an issue when working with a tfstate file created in 0.3.7. Using tfstate files only created in 0.4.0 won't reproduce the issue.

This issue is prevalent in 0.3.7 and it appears that this issue then follows onto 0.4.0 via the tfstate file.

[2015-04-07 22:03] mitchellh commented on #1392
Fixed

[2015-04-07 22:03] #1392 closed

[2015-04-07 22:05] mitchellh commented on #1399
Fixed along with GH-1392!

[2015-04-07 22:05] #1399 closed

[2015-04-07 22:06] catsby commented on #1413
Pretty sure I've reproduced this now, working on a fix

[2015-04-07 22:31] #1410 closed

[2015-04-07 23:59] willmcg opened #1419 "Support for ASG scaling notification configuration (SNS)"
It would be great if the aws_autoscaling_group implemented support for scaling notifications via SNS as would normally be done with the autoscaling: PutNotificationConfiguration API. Still requires some external setup for the SNS topic, but when Terraform supports SNS/SQS the SNS topic ARN could simply be a aws_sns_topic resource.

Here is a straw man for a possible format for the notification:

[2015-04-08 00:27] woodhull opened #1420 "Allow Lookup of AMIs by tag"
In our application, we build AMIs using packer. Those AMIs are tagged by type and in various other ways.

In terraform, we'd always like to apply the newest AMI that has been generated as part of the plan.

To make that work currently we've wrapped terraform in a ruby script that retrieves the current list of AMIs for a particular tag, finds the latest one and then passes the AMI ID to terraform a

[2015-04-08 00:33] woodhull opened #1421 "Allow encryption of tfstate file"
We currently have a wrapper ruby script that decrypts the tfstate file before terraform apply runs and then encrypts the file after the run is complete.

We check the encrypted version into source control so the tfstate can be shared among the team, while storing and distributing the keys separately. We do not check in the unencrypted version of the tfstate file as it includes RDS passwords and ot

[2015-04-08 00:36] woodhull opened #1422 "Allow an easy to follow convention for managing separate staging and production environments"
There is no suggested convention for managing a single infrastructure configuration that has multiple different environments.

We maintain separate tfstate files for staging, production, (and soon, long running feature branches) -- we've written our own workflow for this, but a standardized convention recommended by hashicorp would be nice.

How should we arrange the tfstate files? Shouldn't terra

[2015-04-08 00:41] woodhull commented on #1421
Related https://github.com/hashicorp/terraform/issues/516

[2015-04-08 01:25] DoctorVin commented on #1416
I did manage to find my problem. It's mostly a new guy mistake, but there is the potential for some race-condition weirdness in here, so I put together a Gist that shows the problem in my hands.

https://gist.github.com/12c3c845452baa968025.git

Thanks again, @phinze!

[2015-04-08 09:40] lyptt opened #1423 "Syntax errors in provisioners are ignored if no tfstate is present"
When running `terraform apply` for the first time, if there are any syntax errors in the provisioners of a resource, those provisioners are simply skipped over. Subsequent `terraform apply`s properly fail when encountering syntax errors.

Here's an example resource that should help in replicating the issue:

[code]

[2015-04-08 10:00] bobtfish commented on #1177
+1 on ingress rules

My example: https://github.com/bobtfish/tf_aws_mesos/blob/f60226137351c52daa3c0d42e26bb466caeb8819/firewall.tf#L5

[2015-04-08 11:34] alexclifford opened #1425 "State file shows initial public_ip and not an eip"
During the initial creation (for example during https://www.terraform.io/intro/getting-started/provision.html) if you have an EC2 instance with an EIP associated to it during apply `terraform show` lists the public_ip as what is presumably the IP address before the EIP is attached. Re-running `terraform refresh` fixes the state file. Should this detail be correct on first orchestration?

[2015-04-08 12:04] Iouns commented on #1405
Hello @catsby,

You're right, it works when I remove /hostedzone/.

    aws_route53_record.main: Creation complete

I now understand why I got "/2013-04-01/hostedzone/hostedzone/XXXXXXXXXXX"

Thank you.

[2015-04-08 13:01] alexclifford opened #1428 "Editing name or description of Security Group deletes EC2 instance"
Is it possible to edit the name or description of an AWS Security Group (for example in https://github.com/hashicorp/terraform/blob/master/examples/aws-two-tier/main.tf) and do it in-line without re-creating the entire EC2 instance it is applied to?

I'm aware there may be some API limitations here but could you create another group and then apply it to the instance then remove the old group? I fe

[2015-04-08 13:31] radeksimko commented on #1389
:+1:

[2015-04-08 13:41] catsby commented on #1405
Great, thanks for following up!
As I mentioned, I believe #1415 fixes this, and should be merged into `master` sometime today.
Thanks!

[2015-04-08 14:04] knuckolls commented on #1389
Agreed. IMO some sort of count / length function should be in core.

[2015-04-08 14:19] catsby commented on #1413
I've found the issue(s) and have sent a PR to address this (#1430).

There is a bug in our Route 53 Record code that happens we update our state file with what AWS reports. We were incorrectly storing the `records` (IP addresses, for example) for each Route 53 Record. Unfortunately we were ignoring this error, so nothing was changing.

In the event(s) you describe (updating externally), any `terra

[2015-04-08 14:38] #1405 closed

[2015-04-08 14:47] willmcg commented on #1413
I've run this change against my full configuration and can confirm that the modified DNS A records are now being correctly deleted during destroy.

Thanks! You guys rock.

This pace of evolution and responsiveness to issues is why I chose Terraform.

[2015-04-08 15:09] radeksimko opened #1431 "Add substring between built-in interpolation functions"
I can see this being useful in following situation:

[code]

so the important bit:

[code]

if the `element` returns e.g. `eu-west-1a` then turns into `a`, which means I can get

[code]

[2015-04-08 15:57] jefferai opened #1432 "When optional provider.docker.cert_path is empty, plan/apply always prompt"
Not having the value set (which is the general/popular case; it is rare to set TLS configuration information unless you're going across hosts) results in the following prompt every time `terraform plan` or `terraform apply` is run:

[code]
Pressing enter (leaving the value blank) allows Terraform to get on with it.

This is probably not an error specific to the Docker provider; @phinze suggested t

[2015-04-08 16:04] lyptt commented on #1404
@catsby Another thing that seems to reproduce the issue, but I'm unsure how it's related, is when the target AMIs of the instances using these Route 53 records changes. I get exactly the same error when swapping out an old AMI with a new AMI.

We're having to work around this by running destroy, then pulling down the latest terraform config files and running apply on a blank slate, basically avoid

[2015-04-08 18:46] phinze opened #1433 "Make terraform version available in provider code"
Talking with @sparkprime on IRC, who was working on setting a reasonable User-Agent for the google cloud provider's HTTP client, we realized that there's no easy way for plugins to get at the `main.Version` and `main.GitCommit` constants.

That is, unless I'm missing something.

@mitchellh how do you think we could move the version data somewhere that plugins could see it?

[2015-04-08 19:12] radeksimko opened #1434 ""-target" doesn't work with modules"
I'm not sure if this is a bug or a feature, but `-target` does not work with modules. See below:

**`sample.tf`**:
[code]

[code]
[code]

[code]
[code]

[2015-04-08 19:24] #1394 closed

[2015-04-08 19:29] phinze commented on #1394
Hey folks, just merged @dainis's fix into master. If that doesn't solve this issue, let me know and we can re-evaluate. :+1:

[2015-04-08 19:45] neduma opened #1435 "Cannot specify "-1" for all protocols aws_network_acl resource"
Cannot specify "-1" for all protocols in aws_network_acl resource configuration.

[code]

$ terrafrom plan -
no problems found.

$ terrraform apply

Got
* Invalid Protocol -1 for rule map[string]interface {}{"from_port":0, "to_port":0, "rule_no":100, "action":"allow", "protocol":"-1", "cidr_block":"17.0.0.0/8"}

[2015-04-08 20:16] catsby commented on #1122
I just merged #1396. It adds a resource update function that simply falls through to the `create` function, and utilizes create's UPSERT. @radeksimko please take a look and let me know if you have ideas of further improvement.

If you're ok with #1396 and satisfied, we'll close this one.

[2015-04-08 20:18] sparkprime commented on #1286
I think this should be fixed in master.

[2015-04-08 21:29] knuckolls commented on #1434
We encountered this yesterday as well. It would be nice to be able to target an entire module.

[2015-04-08 21:48] radeksimko commented on #1434
I reckon it has something to do with the fact that all dependencies are currently based on resources and module is not a resource, which is also the reason for https://github.com/hashicorp/terraform/issues/538 and https://github.com/hashicorp/terraform/issues/1178

[2015-04-08 21:53] woodhull commented on #1421
The obvious problem with encrypting the entire file is that we're not able to diff changes to the tfstate file.

Perhaps the user could choose through configuration between either encrypting certain specific attributes, the file as a whole, or nothing at all.

[2015-04-08 22:08] radeksimko commented on #1434
btw. I thought I'm gonna get around that, but this doesn't work either:
[code]
nor this
[code]

[code]

[2015-04-09 02:42] ojongerius commented on #938
+1

[2015-04-09 04:32] EvanKrall opened #1436 "ComputedWhen doesn't work."
Per the docs on [schema.Schema](http://godoc.org/github.com/hashicorp/terraform/helper/schema#Schema).

Apparently you were aware of this already, but I couldn't find an issue about it.

[2015-04-09 04:44] mitchellh commented on #1436
We've decided not to implement this for now, we should just remove it from the schema. Sorry about misguiding you.

[2015-04-09 04:44] #1436 closed

[2015-04-09 07:11] radeksimko commented on #1122
@catsby Thanks for pinging me.

The basic update works, but here's an example which demonstrates an issue:

[code]
[code]
[code]
[code]
[code]

1. after I run the second modified template, it will effectively **disown** (resource disappears from `tfstate`) the record making it impossible to do anything with the a record of that name. Is that related to https://github.com/hashicorp/terraform/pull/1

[2015-04-09 08:15] amaczuga opened #1439 "terraform get: can't use variable in module source parameter?"
I'm trying to avoid hard-coding module sources; the simplest approach would be:

[code]

The result I get while attempting to run `terraform get -update` is

[code]

[2015-04-09 08:41] thijsschnitger commented on #1394
worksforme thanks!

[2015-04-09 08:49] laggyluke commented on #1394
I can also confirm that this works, thanks a lot!

[2015-04-09 09:49] radeksimko commented on #1439
Is there any particular reason behind that? Do you expect some modules to have the same interface, so you can swap these?

[2015-04-09 10:24] lyptt commented on #1404
@catsby I've gotten down a decent way of reproducing this one. Based on the following config file:

[code]

Run an initial `terraform apply` with no tfstate files present. Then, update a property on your `nat` instance that'll cause it to be destroyed and recreated. Now run `terraform apply` again, and you'll be presented with the error:

[code]

It seems that once an instance is destroyed, the Ro

[2015-04-09 12:41] bpo opened #1441 "[OpenStack] region should not be required"
Trying out the OpenStack provider, this seemed a bit confusing to me. The `region` field is required for several resources in the OS provider, e.g. this will fail validation:

    resource "openstack_compute_instance_v2" "test-server" {
      name = "tf-test"
      image_id = "${var.imageid}"
      flavor_name = "m1.small"
      key_pair = "${var.keypair}"
      #region = ""
    }

I would have ex

[2015-04-09 12:43] katherinealbany opened #1442 "Feature request: Please provide functionality to configure a dynamic number of block devices within an aws_instance resource"
Feature request: Please provide functionality to configure a dynamic number of block devices within an aws_instance resource. Currently each block device (ephemeral/ebs) has to be specified separately as follows:

[code]

It would be useful to be able to state the number of each given type of block device when creating the instance, much like "count" can be used at the resource level, something si

[2015-04-09 13:27] jtopper commented on #1260
I'm seeing this problem too.  Config for block devices looks like:

[code]

and terraform apply gives:

[code]

The AMI involved (built using packer, starting with a base of `ami-e4b5be90`) should be publicly usable, in the eu-west-1 region.

[code]

[2015-04-09 13:30] phinze commented on #1260
@jtopper that looks like it might be a closely related issue #1409 - if you add "volume_type" to your config does the refresh go away?

Your AMI looks :ok_hand: from here:

[code]

[2015-04-09 13:51] johnrengelman commented on #1380
I'm encountering this same issue if I try to delete a `module` from a plan that's already been applied. Running `terraform plan` results in
[code]

[2015-04-09 13:54] jtopper commented on #1260
@phinze Yep, that fixes it - there's a similar issue with instances that have additional block devices attached, but I guess being explicit about volume type will help there too.

[2015-04-09 13:58] phinze commented on #1260
@jtopper the good news there is that should be fixed in 0.4.1 - just pushed #1445 which should fix the issue.

[2015-04-09 14:05] phinze commented on #1380
Hey folks - just landed what should be the fix for this. If you have the ability to build from master, it'd be great if you could take it for a spin to double check that your issue is solved. Either way, it should come out in v0.4.1 this week.

[2015-04-09 14:11] johnrengelman commented on #1380
Still getting the error in my situation.

[code]

[code]

[code]

Then comment out `module "child"` in `main.tf` and run `terraform plan`...

[code]

My system:
[code]

[2015-04-09 14:12] phinze commented on #1380
@johnrengelman Thanks for double checking. Will take a look at that scenario and follow up.

[2015-04-09 14:19] johnrengelman commented on #1380
Yup. Do you want a separate ticket?

[2015-04-09 14:20] phinze commented on #1380
@johnrengelman actually yeah that'd be great! :+1:

[2015-04-09 14:52] mitchellh commented on #1439
This is as intended. We should add validation that this isn't allowed.

The reason is simply that it breaks our compile -> semantic check -> execute loop. i.e. imagine if your C code could arbitrarily download new C files during compile/execution. Would be weird.

[2015-04-09 14:53] johnrengelman opened #1447 "AWS provider configuration not available in delete module"
Simliar to https://github.com/hashicorp/terraform/issues/1380#issuecomment-91244154

## Steps
* Create a `main.tf` that declares and configures the `aws` provider.
* Add a module (declares only aws resources, not the provider)
* `terraform apply` - everything is created
* Remove the module from `main.tf`
* Run `terraform plan`

Result:
[code]

Tested using the following:
[code]

[2015-04-09 14:53] johnrengelman commented on #1380
Moved to https://github.com/hashicorp/terraform/issues/1447

[2015-04-09 14:53] bitglue commented on #1442
Similar: #996

[2015-04-09 14:57] bitglue opened #1448 "Referencing module outputs that don't exist doesn't raise an error"
Say I have a module `a` with no outputs, and another module `b` which requires a variable `foo`. Then this configuration:

[code]

seems to run just fine. Of course `${module.a.this_output_does_not_exist}` is undefined, so there's no way this could do anything useful, and it should raise an error.

[2015-04-09 14:58] bitglue commented on #1448
Complete test case at https://github.com/bitglue/terraform-1448

[2015-04-09 14:59] alexclifford opened #1449 "AWS VPC routes fail"
Could someone please point out to me why my plan fails? I was taking some hints from [here](https://github.com/hectcastro/terraform-aws-vpc/blob/feature/terraform-aws-vpc/aws-vpc.tf) but I'm not using a NAT as I'm only testing from a public subnet. If it's not a route configuration problem does any one else know what the problem is?

[code]

It runs through everything down to the EC2 remote-exec a

[2015-04-09 15:11] rvangundy commented on #1265
@ctro, did you find a workaround for this? I'm encountering the same issue. It seems like it's something that could be resolved by rearranging dependencies or setting some depends_on flags? Would be nice to use the 0.4.0 features as currently I'm swapping between terraform versions for certain tasks.

[2015-04-09 15:24] #1409 closed

[2015-04-09 15:28] pearkes opened #1451 "aws_network_acl: ICMP parameters"
We need to accept `icmpTypeCode` when specifying the ICMP protocol on network ACLs.

http://docs.aws.amazon.com/cli/latest/reference/ec2/create-network-acl-entry.html

[2015-04-09 15:39] pearkes commented on #1451
Dupe of #1372, closing.

[2015-04-09 15:39] #1451 closed

[2015-04-09 16:03] #1447 closed

[2015-04-09 16:03] mitchellh commented on #1447
Should be fixed!

[2015-04-09 16:18] rvangundy commented on #1265
@ctro, I'm beginning to understand the complications involved here, and finding that there may be a sort of workaround in 0.4.0 by using the --target option for destroying/creating resources. While I don't see any dependency issues in your configuration, there are still some interdependencies. You can get a better picture of this by running "terraform plan" followed by "terraform graph". Take that

[2015-04-09 16:32] phinze commented on #1265
Hey folks, thanks for the report, and sorry for the trouble here.

It is indeed possible to express some difficult-to-grok cycles when using `create_before_destroy` on resources with non-CBD dependencies.

In your example, @ctro, here's what the dependency graph ends up looking like:

![output](https://cloud.githubusercontent.com/assets/37534/7071383/87759e86-deaa-11e4-9394-d9d233fc9982.png)

It's

[2015-04-09 16:33] #1416 closed

[2015-04-09 16:40] rvangundy commented on #1265
@phinze, how did you manage to get the dependency graph to include the (destroy), etc. indicators? Here's a graph of what's giving me a cycle error, and I can't seem to see the same results in my graph...

![graph_0 4 0](https://cloud.githubusercontent.com/assets/1909616/7071761/819930c6-deb5-11e4-940b-859c15f1ea86.png)

[2015-04-09 16:50] #1432 closed

[2015-04-09 16:54] #1413 closed

[2015-04-09 17:22] neduma opened #1457 "terraform destroy is not deleting previously created keypair in AWS"
I have created following keypair when spinning up new vpc. After work is done, if i say - terraform destroy, the key pair is not removed from AWS

[code]

[2015-04-09 17:23] zxjinn commented on #1380
Thanks a lot guys, just pulled the latest master and it appears as if it's fixed. With the same TF config as above:
[code]

Funny enough `$ terraform --version` returns `Terraform v0.4.1` looks like I pulled at the right time!

Thanks again everyone! :clap: :fireworks:

[2015-04-09 17:35] neduma commented on #1457
With recent version: Terraform v0.4.0. It's working as expected. Closing the issue.

[2015-04-09 17:35] #1457 closed

[2015-04-09 18:07] DanielRussell opened #1460 "Reproducible crash in 0.4.1 when refreshing tfstate for a single RDS instance"
[gist of full crash log](https://gist.github.com/DanielRussell/e6d37ce2aaed35a7a025)

Command line:

[code]

The above command line worked with 0.3.6 and 0.3.7; I skipped 0.4.0.

FWIW, I initially created this RDS instance in the AWS Console, and then "backported" it into terraform by hand. I created the first `terraform.tfstate` file by examining a `terraform.tfstate` for an RDS instance that had

[2015-04-09 18:09] jtopper commented on #1380
I've also pulled and tried this today because I hit a similar bug. My use case is that I want to use different AWS credentials inside >1 invocation of a module, in order to create resources across multiple Amazon accounts in one run of the tool, and manage ordering between them.

If the module tries to create just one resource (eg. a VPC), this works fine.  If I also try to create multiple subnets

[2015-04-09 18:20] mitchellh commented on #1460
Fixed. Thanks! Yeah, this should be able to be worked around. Sorry about that.

[2015-04-09 18:20] #1460 closed

[2015-04-09 18:21] mitchellh commented on #1380
@jtopper Can you open another issue with a full repro case? I'd be happy to take a look.

[2015-04-09 18:26] DanielRussell commented on #1460
TYVM!

[2015-04-09 18:30] jtopper opened #1461 "Using multiple AWS credentials across modules failing"
Following on from my post to #1380 1380

My use case is that I want to use different AWS credentials inside >1 invocation of a module, in order to create resources across multiple Amazon accounts in one run of the tool, and manage ordering between them.

Tested against 166efa1ba0c7aa2fb5a7230f787c8499c765786e

Reproduction steps:

[code]

[code]

`terraform plan` all looks fine.  On a `terraform a

[2015-04-09 19:40] amaczuga commented on #1439
yes, that is exactly my point - for the flexible running plans against various versions/forks of identically interfaced modules, without refactoring base terraform code

[2015-04-09 19:42] amaczuga commented on #1439
Er. Forgive me - I'm lost here, due to labels - that is - marked bug, yet your comment suggest a wontfix

[2015-04-09 19:57] radeksimko commented on #1439
The fix is to add the validation so you get something a bit more clear rather than `"error downloading module"` I guess.

[2015-04-09 20:16] catsby commented on #1122
Thanks for the detailed follow up!

The first part I can't reproduce anymore, I think #1430 resolved it by actually recording the records in the state file correctly.

The later part is ... surprising (no mention of `8.8.8.8` going away). @phinze any idea what's causing that?

[2015-04-09 20:20] catsby commented on #1122
I think it means _always_ DELETE too:

- http://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html

[2015-04-09 20:23] mzupan opened #1466 "upgraded to 0.4.1 plan is failing"
My setup was working ok for 0.4.0. I'm just testing things out so I may have done something wrong but when I tried 0.4.1 I get the following error

[code]

Here's my layout

[code]

[2015-04-09 20:32] catsby commented on #1466
Hey there, thanks for reporting this! Can you let me know what resources you're using that aren't shown above?
Specifically , are you using any AWS eip, internet_gateway, key_pair, network_interface, or subnet ?

[2015-04-09 20:36] mzupan commented on #1466
Here's all the resources

[code]

[2015-04-09 20:42] rvangundy commented on #1265
I've attached an easier-to-read output of my dependency graph. This is definitely related to the create_before_destroy flag. If I add this to my aws_instance.inbox-test, I get the cycle error. If a state & infrastructure already exist, it's just performing an update, and everything seems to work fine. But running this initially with no previous state throws the cycle error. So for now, I have to l

[2015-04-09 21:31] nathanhruby opened #1468 "aws/eip: allow attachment to aws_network_interface"
Hi,

In AWS, EIP's can be attached to an instance or an ENI.  Now that there's ENI support in 0.4.0, it makes sense to support attaching EIP's to them as well.

Currently, this fails on 0.4.1 with an invalid id error, I assume because the eip code assumes an ec2_instance.id

Thanks!

-n

[2015-04-09 22:09] catsby commented on #1466
Excellent, thank you for the follow up. Can you do me a huge favor and checkout #1470 to see if it fixes things?

[2015-04-09 22:12] EvanKrall opened #1471 "module invocations should support count"
I tried to do something like nested loops of sorts by writing code that looks like:

[code]

This results in a crash:

[code]

It would be nice to be able to call a module multiple times, passing different arguments each time.

I think I can get around this with judicious use of count=${inner \* outer} and modulo and division, but it feels a bit dirty.

[2015-04-09 22:23] sparkprime commented on #1433
I'm keen on getting that User-Agent in ASAP so we can start looking at usage metrics.

[2015-04-09 23:06] bensojona opened #1472 "Terraform destroy bug"
I have a [TF template](https://gist.github.com/bensojona/009a548f71b53bed3718) that creates a Consul cluster using a [TF module](https://gist.github.com/bensojona/8930f77a2ae80815fe63) that creates the consul aws_instance resource.

The aws_instance depends on an [aws_security_group](https://gist.github.com/bensojona/009a548f71b53bed3718#file-main-tf-L7) and an [aws_key_pair](https://gist.github.c

[2015-04-10 02:08] rlister commented on #1403
Also seeing same problem on getting started example using v0.4.1. Doesn't even work with VPC here.

[2015-04-10 02:16] rlister commented on #1403
Correction: destroyed instance and EIP manually (`terraform destroy` was also crashing), removed statefile, set `subnet_id` to a VPC subnet for instance and `vpc: true` for EIP, and re-applied, and now this works. Seems like problem is some combination of a bug for EC2 classic, and broken state file following the resulting crash.

[2015-04-10 04:17] ascendantlogic opened #1474 "Terraform 0.4.1 no longer detecting SSH key in AWS during plan run"
After upgrading to 0.4.0 and attempting to use the new `aws_db_instance` resource and seeing a huge crash, I upgraded to 0.4.1. Once I did that I was not presented with a stacktrace, but rather a message claiming that my "blackbird-us-west-2" key was not present (and it is).

[Here is a gist containing the output of the 0.4.0 and 0.4.1 runs](https://gist.github.com/ascendantlogic/c6ce7c2db1890f508

[2015-04-10 06:07] EvanKrall opened #1475 "What is the dependency cycle in this?"
I have a very simple module (lives at `module/main.tf`):
[code]

And a very simple config that includes the module above (`main.tf`):
[code]

I would expect this to produce a dependency graph where:
 - C depends on A
 - C depends on B
 - A depends on B

which has no cycles.

Instead, I get this error:
[code]

Since `terraform graph` refuses to produce a graph when there's a cycle (which is very fr

[2015-04-10 06:13] mitchellh commented on #1475
Sorry for the frustrating experience. We'll look into this.

Terraform right now is fairly conservative with graph cycles. It is better to incorrectly error when there is no cycle then to execute and fail to work with a real cycle. We'll continue to iron out any false cycles over time.

I've tagged this issue and will take a look for the next release.

[2015-04-10 06:36] abhishektomar commented on #1083
+1, There are few resources for which I am writing CF templates(because terraform doesn't support them), it would be great if I could use terraform to manage CF templates.

[2015-04-10 08:22] willejs commented on #1422
:+1:

[2015-04-10 10:52] radeksimko commented on #1422
Related https://github.com/hashicorp/terraform/issues/1295

[2015-04-10 14:27] catsby commented on #1404
Odd, I suspected #1430 to fix this; I can't reproduce on master :/

I used this config:

[code]

And changed it to this:

[code]

The relevant plan bits:

[code]

Everything worked as expected, the Route received the new record:

[code]

Can you check out the `master` branch, or even the recently released `0.4.1` and let me know? Thanks for all the help here.

[2015-04-10 14:27] mzupan commented on #1466
@catsby yes that PR fixes the issues

:+1:

[2015-04-10 14:53] johnrengelman commented on #953
I have the same use case for wanting to use `count` on a module. Basically creating the network topology and I want to wrap that up in a module and then iterate over AZs.

[2015-04-10 15:06] #1466 closed

[2015-04-10 15:07] catsby commented on #1466
@mzupan awesome, I merged it _just for you_ :smile:

Thanks for reporting!

[2015-04-10 15:34] frntn commented on #466
Fixed by #704

[2015-04-10 15:34] #466 closed

[2015-04-10 15:59] catsby commented on #1449
Hey @alexclifford  –

2 things:

[code]

Is that `vpcc_id` a typo? Should just be `vpc_id`.

Can you try adding a `sleep` command in your provisioner? `"sleep 30",` is usually OK. That will wait until the instance SSH is truly ready. Terraform succeeds once the instance is running, but not necessarily when SSH is available. For example, I ran a paired down version of your config and got this:

[co

[2015-04-10 16:00] pearkes commented on #1369
Just a note that I've encountered this too.

[2015-04-10 16:44] rcostanzo opened #1476 "Terraform plan removes dynamic variable values from state file"
I'm on 0.4.0 (I tried to test on 0.4.1 but https://github.com/hashicorp/terraform/issues/1466 prevented me). When I run terraform plan, my state file is updated and any dynamic output variable values are lost. This makes terraform output of those values not work afterwards.

Test resource file:
[code]

Pre-plan tfstate snippet:
[code]

Post-plan tfstate snippet:
[code]

[2015-04-10 16:46] phinze commented on #1476
Hi there, sorry for the trouble. I think this is a dup of #1369, which is high on our list of bugs to squash. Stay tuned over on that thread for the fix. :+1:

[2015-04-10 16:46] #1476 closed

[2015-04-10 17:02] Rh1N0 commented on #1472
Having same behavior on terraform v0.4.0 and 0.4.1. It tries to destroy security groups and launch configuration before destroy autoscale group which leads to fail.

[2015-04-10 17:35] alexintel opened #1477 "0.4.1 terraform: aws_elb resource does not recognize a list of subnets returned by the split function"
aws_elb resource does not recognize a "list" of subnets returned by the split function.
works:
...
subnets = ["subnet-xxx","subnet-yyy"]
...

does not work:
...
subnets = "${split(",", var.elb_subnets)}"
...

where var.elb_subnets is defined in variables.tf as:

variable "elb_subnets" {
  description = "ELB subnets to use."
  default = "subnet-xxx,subnet-yyy"
}

[2015-04-10 17:49] arubis commented on #1265
I found that, similarly, `create_before_destroy` created a cyclic dependency error where there shouldn't have been one between a `aws_instance` and an `aws_security_group` that was included in the instance's `security_groups` block.

[2015-04-10 17:54] chrisferry opened #1478 "Add include functionality"
Would like to follow DRY principles with my TF templates.
I currently have:

[code]

----- at the top of all my templates

would prefer the ability to use:

[code]

[2015-04-10 17:55] chrisferry commented on #1477
Try this:
subnets         = ["${split(",", var.subnet_azs)}"]

[2015-04-10 17:56] phinze commented on #1265
@rvangundy it's behavior that I'd like to bake into core at some point, but for now it's a bit of a manual process

(1) Run `TF_LOG=1 terraform plan`

(2) Find the point in the output after the final graph transformation. Currently that's just after this line:

(3) Copy the plaintext graph output

(4) Pipe it through this [janky little ruby script I wrote](https://github.com/phinze/terragraph) and

[2015-04-10 18:16] alexintel opened #1479 "Documentation incorrect for the aws_security_group resource tags"
Documentation page( https://www.terraform.io/docs/providers/aws/r/security_group.html) incorrectly indicates that ingress and egress rules by themselves support tags.

This is not the case. Only a higher level resource aws_security_group supports tags.

[2015-04-10 18:18] catsby commented on #1474
Thanks for writing in @ascendantlogic – I'm having trouble reproducing this though, can you provide some more info?

Which resources are referencing the key pair in question? Can you share the config for them (care to redact secrets of course).

Thanks!

[2015-04-10 18:25] ascendantlogic commented on #1474
@catsby essentially all AWS instances I'm spinning up minus my NAT boxes. Do you need all resources to be exhaustive? There's no secrets since I've got everything templated in variables, they're just spread out across multiple files. Here's an instance of one:

[code]

[2015-04-10 18:34] fromonesrc opened #1480 "Unknown variable errors in atlas on terraform push"
I've tried setting aws key vars set in `terraform.tfvars`, `variables.local.tf` but I get the following error after a `terraform push -name foo/bar` triggers a plan execution.

[code]

I've also tried `terraform push -name foo/bar -var "aws_secret_key=foo"` and get the same error.

I'm running Terraform v0.4.1.

[2015-04-10 18:44] fromonesrc commented on #1478
Are you looking for something like [modules](https://terraform.io/docs/configuration/modules.html)?

[2015-04-10 18:47] fromonesrc commented on #1480
The vars are set on Atlas
![](http://cl.ly/image/383R3Q183V1A/Image%202015-04-10%20at%202.46.37%20PM.png)

[2015-04-10 19:28] phinze commented on #1479
Good catch - fixing!

[2015-04-10 19:49] chrisferry commented on #1478
I use modules already for other functionality, but modules does not solve this use case.

[2015-04-10 19:53] #1479 closed

[2015-04-10 21:10] rlister commented on #28
+1 for `Network ACL subnet association (you can associate one ACL with multiple subnets)`.

This omission makes it impossible to use Terraform for any non-trivial VPC work. It looks like a fix was provided in #644 but that issue was closed without merge, possibly for backward-compatibility reasons. Should we reopen that issue?

[2015-04-10 21:33] #1369 closed

[2015-04-10 21:49] catsby opened #1488 "Meta Issue: Migrate to upstream awslabs/aws-sdk-go"
This is a meta issue to track our migration of AWS resources to the upstream version of `aws-sdk-go` at https://github.com/awslabs/aws-sdk-go.

If anyone would like to contribute, see my previous PRs (linked below) for examples of the general work to be done in each PR. To aid us here, there are upstream versions of `tags.go` and `structure.go`, with the `_sdk` prefix. In them are the `awslabs` ve

[2015-04-10 23:33] knuckolls commented on #1478
I've wanted to be able to define my own resource templates that define defaults.

Something like...
[code]

[2015-04-10 23:43] ryanuber commented on #1478
@knuckolls I did something exactly like that in the early TF days. The PR is probably totally not relevant now, but for reference here it is: https://github.com/hashicorp/terraform/pull/232

[2015-04-10 23:46] mitchellh commented on #1480
I clarified the error message, but you need to define the variables with `variable.

[2015-04-10 23:46] #1480 closed

[2015-04-10 23:50] knuckolls commented on #1478
wow cool. modules certainly help dry things up but I feel like resource_templates would improve the readability of a lot of .tf files.

[2015-04-11 02:21] alexclifford commented on #1449
Champion @catsby! Thanks very much for reviewing my config, works a charm now I don't typo :)

[2015-04-11 02:21] #1449 closed

[2015-04-11 12:43] fromonesrc commented on #1480
@mitchellh Thanks but I don't think this is resolved or I'm misunderstanding something key about Terraform/Atlas variables. The variables were defined in a `variable` block but the ones that were missing in Atlas were the vars I defined in `variables.local.tf` (and had them .gitignored since they are sensitive).

I found that by moving those sensitive vars to `variables.tf`, Atlas now picks them u

[2015-04-11 14:55] c4milo commented on #208
Why this cannot be implemented using modules?

[2015-04-11 17:19] cvvs opened #1493 "Crash when running terraform plan"
When running terraform plan using the openstack provider, terraform crashes with the error noted at the bottom. I suspect this is due to a misconfiguration on my part. I has just added the following configuration to an openstack instance resource:

	network = [ "${openstack_networking_network_v2.network-floating.id}",
		           "${openstack_networking_network_v2.network-internal.id}"]

I'm new

[2015-04-11 17:22] cvvs commented on #1493
I cannot attach the crash log, so here are its entire contents, with some minimal obfuscation.

2015/04/11 11:05:57 [INFO] Terraform version: 0.4.2  852e7a355428c6535d2996b99127919d871cb842
2015/04/11 11:05:57 Detected home directory from env var: /Users/anonymous
2015/04/11 11:05:57 [DEBUG] Discovered plugin: atlas = /Users/anonymous/Documents/development/go/gopath/bin/terraform-provider-atlas
20

[2015-04-11 17:40] cvvs opened #1494 "Destroy using the OpenStack provider fails to destroy security groups"
It appears that the OpenStack provider attempts to destroy the security groups before the instances are destroyed, which is not allowed by OpenStack, and causes a failure during the destroy.

	* Error deleting OpenStack Neutron Subnet: Expected HTTP response code [202 204] when accessing [DELETE https://region.example.com:9696/v2.0/subnets/da04e0ae-6ec8-4268-b592-b44283f3ca1a], but got 409 instead

[2015-04-11 17:50] c4milo commented on #1389
I just hit the need for getting the length of a list too.

[2015-04-11 18:33] mitchellh commented on #1480
@fromonesrc If it is ignored by git, it won't be uploaded with `terraform push`, You can use `-vcs=false` to upload all files.

[2015-04-11 20:23] radeksimko commented on #1389
See #1495

[2015-04-12 12:46] fromonesrc commented on #1488
@catsby I'm trying to take a shot at converting the instance resource but hitting errors like

[code]

Could you help point me in the right direction?

[2015-04-12 14:26] fromonesrc commented on #1488
Figured it out... it helps if I use the correct methods :smile:

[2015-04-12 14:58] bobtfish opened #1497 "count parameter needs to be able to interpolate variables from modules."
I've been trying to extend my Terraform examples to support multiple AZs by default.

As such, I have an _az_count_ variable output by my module to detect the AZs you have available:

https://github.com/terraform-community-modules/tf_aws_availability_zones#outputs

And I then want to reuse it for instances, for example here:

https://github.com/bobtfish/terraform-vpc/blob/master/main.tf#L37

My ex

[2015-04-12 19:52] franklinwise commented on #1302
@catsby - following up

[2015-04-12 21:25] dublx commented on #1402
PR on the way.

[2015-04-12 21:25] #1402 closed

[2015-04-12 21:50] franklinwise commented on #1302
too many 80hr weeks, the name property was duplicated on my side, would be helpful if there was more error information about the conflicting instances.

[2015-04-12 21:50] #1302 closed

[2015-04-13 00:33] franklinwise opened #1499 "Add Resource create_only feature - Resource.lifecycle.create_only"
One of my biggest fears using terraform is accidentally deleting a database or other canonical datastore due to a simple change that causes the resource to get destroyed and recreated.  Would be very helpful to add a key to the resource.lifecycle of create_only, such that terraform will not delete these resources under any condition (or without some extra user interaction or extra confirmation).

[2015-04-13 01:39] jwaldrip commented on #1109
:+1: issue still present. Also the SDK doesn't allow for LC updates, so the strategy would have to either be to create a new LC and associate it to the autoscaling groups before trying to destroy the old, or to destroy the autoscaling groups and recreating them. I would prefer the creation of a new LC and then re-associating it.

[2015-04-13 08:13] radeksimko commented on #1499
:+1:

[2015-04-13 10:58] lyptt commented on #1404
This appears to be fixed in 0.4.2, thanks!

[2015-04-13 10:58] #1404 closed

[2015-04-13 13:47] duggan commented on #1472
Also seeing this bug since upgrading from 0.3.7 to 0.4.0+

[2015-04-13 14:16] catsby commented on #1449
Haha, great :smile:

[2015-04-13 14:17] catsby commented on #1404
Great to hear, thanks for opening the issue!

[2015-04-13 14:42] knuckolls commented on #1499
:+1:

[2015-04-13 14:45] phinze commented on #1499
Yep totally - this is something we've talked about internally. This is definitely a feature we'll do - probably for 0.5.

[2015-04-13 14:45] phinze commented on #1375
This should be fixed in 0.4.2 - feel free to follow up if you still see issues. :+1:

[2015-04-13 14:45] #1375 closed

[2015-04-13 14:50] phinze commented on #1260
This issue's thread has gotten a bit diluted and made it a magnet for a bunch of separate things, so I'm going to close this and see if we can split any remaining problems into more focused issues.

From where I sit, all EBS problems should be solved with the possible exception of @jaxxstorm's funky AMI. @jaxxstorm - if you're still seeing problems on 0.4.2 can you open up a fresh issue with:

 *

[2015-04-13 14:50] #1260 closed

[2015-04-13 14:58] jtopjian commented on #1494
The instance and security group will be destroyed in the right order as long as you reference the security group in the instance like so:

[code]

The error message indicates that a Neutron subnet is attempting to be deleted... in this case, I don't think there's a "natural" way to define the relationship between the two. Can you try setting an explicit `depends_on` on the security group? That mig

[2015-04-13 15:06] jtopjian commented on #1493
Are you still having problems with this or per your Update note, were you able to resolve it? If you're still having a problem, can you post a sanitized version of your `tf` file to a gist?

[2015-04-13 15:12] catsby commented on #1258
A promising pull request was opened for this https://github.com/hashicorp/terraform/pull/1502

[2015-04-13 15:20] gposton opened #1503 "Support for route53 private hosted zones"
When creating a new hosted zone using 'aws_route53_zone'
I would like to expose the boolean value for making a zone private
so that I can create 'internal' DNS records.

This is useful for backend services that aren't publicly exposed.

http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/hosted-zone-private-creating.html
http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/hosted-zones-pr

[2015-04-13 15:37] gposton opened #1505 "Provide an optional default value to the 'lookup' function."
A user can provide an optional default value to the lookup function so that when the key is not found in the mapping, the default value is used.

For example, given the following mapping:

    subnet_index = {
      "prod" = "10"
    }

and the following resource:

    resource "aws_subnet" "main-private" {
      vpc_id = "${aws_vpc.main.id}"
      availability_zone = "${lookup(var.availability_zo

[2015-04-13 15:50] delianides opened #1506 "DNSMadeEasy SRV Records Fail with 400 Error"
Trying to automate an etcd cluster with DNS Discovery so terraform creates each individual EC2 instances and then maps an A name record to DME followed by the SRV record. But when terraform tries to create the SRV record, I get the following error on Terraform 0.4.2:

[code]

A sample of the .tf file looks like:

[code]

I'm still troubleshooting but wanted to post and see if anyone else had seen

[2015-04-13 16:10] johnrengelman opened #1507 "Interpolation allows non-existent properties to be set on a resource"
I was updating some documentation and came across a configuration that didn't seem correct:
https://www.terraform.io/docs/providers/aws/r/route53_zone.html
[code]

The `parent_route53_zone` doesn't exist in the schema for the route53_zone resource, but this configuration doesn't throw an error.

However, if you change the value of the property from an interpolated value to a static value `parent_r

[2015-04-13 16:11] phinze opened #1508 "Diff mismatch when changing ForceNew and k/v attribute together"
I'm tracking this with google_compute_instance, but I believe it's a core bug.

### Given

A resource definition with:

 * A ForceNew attribute
 * A Map attribute

e.g.

[code]

### When

I attempt to apply a change that updates both the `ForceNew` attr and updates the map in such a way that that changes the set of keys.

e.g.

From a successful apply of this config that creates the resource:

[co

[2015-04-13 16:11] phinze commented on #1508
cc @sparkprime

[2015-04-13 16:12] cvvs commented on #1494
That was it.  I was referencing the security groups by name using a string value, not by interpolation.

This was a layer 8 error.

[2015-04-13 16:12] #1494 closed

[2015-04-13 16:17] cvvs commented on #1493
There was a configuration error which caused to crash, so my problem is resolved.

I left it open because I would expected a syntax or parsing error instead of a crash. I've no problem closing this if crashes due to silly human tricks are not bugs.

[2015-04-13 16:24] jtopjian commented on #1493
Understood :smile:

@catsby since this isn't an issue specific to OpenStack, could the label be changed? Or could someone weigh in on the comment?

[2015-04-13 17:15] catsby commented on #1493
No problem changing it, though I would like to know what kind of configuration error caused this. @cvvs can you expand there? Just want to make sure it's not a symptom of a larger issue

[2015-04-13 17:29] cvvs commented on #1493
Hey, @catsby,

I was configuring an openstack instance resource. I added the following configuration directive to the resource:

	resource "openstack_compute_instance_v2" "foo" {
		...
		network = [ "${openstack_networking_network_v2.network-floating.id}",
		           "${openstack_networking_network_v2.network-internal.id}"]
		...
	}

Which caused the crash noted above. The correct--or at least w

[2015-04-13 18:00] ascendantlogic commented on #1474
@catsby do you need more from me?

[2015-04-13 18:49] catsby commented on #1474
Probably not, thanks!
I'll see about reproducing

[2015-04-13 18:59] delianides commented on #1506
@soniah

[2015-04-13 19:03] ascendantlogic commented on #1474
Looks like the error goes away in 0.4.2. [Here is a gist showing it working properly in 0.4.2 and still erroring in 0.4.1](https://gist.github.com/ascendantlogic/a85f2a0004e210c7f6c6).

[2015-04-13 19:15] ascendantlogic commented on #1474
@catsby is under the impression [this pull request](https://github.com/hashicorp/terraform/pull/1487) may have inadvertently fixed my issue. I'm going to close this assuming it is indeed fixed.

[2015-04-13 19:15] #1474 closed

[2015-04-13 19:21] rvangundy opened #1511 "Perform "consul leave" or shutdown routine when node is destroyed"
On destroying a node running consul, it would be nice if that node could run ```consul leave``` prior to being removed. In my particular case this is to maintain a healthy infrastructure state on Atlas when a node has been deliberately destroyed. In particular I'm deploying to AWS, but I'm sure it applies to other providers.

An approach that would be consistent with Terraform might be to set a "c

[2015-04-13 19:23] catsby commented on #1474
Thanks! Please re-open if you hit it again

[2015-04-13 19:59] radeksimko opened #1512 "aws/asg: Wait for scaling activities before deleting"
Sometimes I end up with and error trying to destroy an ASG:

[code]

I guess you can simulate that state by manually changing "desired count" in the web console and then immediately trigger `terraform destroy`.

I believe that Terraform should try at least couple times and wait some time until ASG finishes these scaling activities and then destroy the ASG.

[2015-04-13 20:11] phinze commented on #1512
I wonder if it's actually more appropriate for TF to actually pause and resume scaling operations when making changes to ASGs. That's what most bespoke tooling I've worked with does, and it seems pretty reasonable.

https://docs.aws.amazon.com/AutoScaling/latest/DeveloperGuide/US_SuspendResume.html

What do you think @radeksimko?

[2015-04-13 20:23] radeksimko commented on #1512
Hmmm, I didn't know it's actually possible, thanks for teaching me something new! :+1: :smiley:
It is probably the best solution as long as the API call is synchronous.

i.e. if there's scaling activity in progress, it either wait until that activity finishes and then puts the lock in place that will prevent any further activities to occur OR if it just suspends whatever's happening (which would b

[2015-04-13 20:47] rhartkopf commented on #1461
I can verify this issue with Terraform v0.4.1. My config:
[code]
Output:
aws_vpc.main: Creating...
  cidr_block:                "" => "10.84.0.0/16"
  default_network_acl_id:    "" => "<computed>"
  default_security_group_id: "" => "<computed>"
  enable_dns_hostnames:      "" => "<computed>"
  enable_dns_support:        "" => "<computed>"
  main_route_table_id:       "" => "<computed>"
  tags.#:

[2015-04-13 20:58] phinze commented on #1508
Alright, I've gotten a repro case up at the acceptance test level, but it's difficult to pin down this issue at the unit test level.

I've verified the `helper/schema` diff behavior - it's not a bug in diff calculation.

The problem comes from the fact that during the Plan graph walk, there's still an existing instance there, but the Apply graph walk visits a "destroy" node and then the normal res

[2015-04-13 20:59] rhartkopf commented on #1461
Nevermind, fixed in v0.4.2 / #1470.

Thanks!

[2015-04-13 21:16] phinze commented on #1512
Yeah good question. Going over the docs it seems like it's generally expected to succeed, which makes me feel like it's only going to suspend future operations. We'd have to do a little testing to see if the effect takes place immediately and what the edge cases might be.

[2015-04-13 21:22] catsby commented on #1461
@jtopper can you confirm this is fixed in 0.4.2 (or master)?

[2015-04-13 21:56] trumant commented on #1360
@gisnalbert - Terraform uses rackspace/gophercloud to interact with OpenStack. That's the project where a change like the one you suggest should be targeted. Once present there, then something could be done in Terraform to allow this behavior.

[2015-04-13 22:43] soniah commented on #1506
Ack.

@delianides I won't get to look at this until the weekend; in the meantime it would help me a bit if you could provide a wireshark dump - I use ```host 208.94.147.116``` for the sandbox; you'd have to find the ip for prod. (From __readme.md__ at https://github.com/soniah/terraform-provider-dme).

[2015-04-13 23:25] jtopper commented on #1461
Looks good to me, thanks!

[2015-04-13 23:25] #1461 closed

[2015-04-14 00:34] rhartkopf commented on #539
+1, I'm attempting to capture our AWS environment for future deployments and would rather not have to whiteboard my security groups all over again :)

As an aside, it would be great if the rules are transparent to terraform graph, otherwise they will become unreadable!

[2015-04-14 03:34] sparkprime commented on #1433
@mitchellh what do you think?

[2015-04-14 12:41] Kosta-Github commented on #1511
what about introducing the concept of an `unprovisioner` or `cleaner`?

[2015-04-14 14:17] mongrelion commented on #265
:+1:

[2015-04-14 14:24] johnrengelman commented on #1503
I've got a branch we're I'm starting to add some support for this, I'll have a PR up today for some discussion.

It's actually a bit more complex then exposing the boolean, because you have to associate the hosted zone to a VPC in order to create a private one. Additionally, you can associate/disassociate multiple VPCs.

[2015-04-14 14:40] delianides commented on #1506
@soniah I'm not sure what you mean by a wireshark dump. But I did get this working. I had to add `depends_on` to the block for the ec2 instance and the dme A name record. Like the following:

[code]

The only thing I did differently was to have terraform create each SRV record one at a time. I'm not sure why that would affect the DME API.

[2015-04-14 15:28] mitchellh commented on #1441
Fixed by #1490

[2015-04-14 15:28] #1441 closed

[2015-04-14 16:22] mitchellh commented on #1511
Thats the plan! We have another issue for this (from many months back) that we haven't yet implemented. Closing as dup. Sorry I can't find the issue but I know 100% its still open since its a major feature we have planned.

[2015-04-14 16:22] #1511 closed

[2015-04-14 16:22] mitchellh commented on #1507
Yeah that is really weird. Tagged.

[2015-04-14 17:24] gtrevg commented on #1420
I was just wondering the same thing as I'm starting down the packer / terraform path for building out AWS clusters.  Any recommendations from Hashicorp on the best way to do this would be appreciated.

Thanks!

[2015-04-14 17:58] #1475 closed

[2015-04-14 17:58] mitchellh commented on #1475
Fixed in master!

[2015-04-14 17:59] EvanKrall commented on #1475
Sweet, I'll try it out

[2015-04-14 18:33] johnjelinek opened #1524 "terraform get fails on windows"
I have a local module. It fails to `get` in Windows (same dir works in OSX).
[code]

[2015-04-14 18:35] mitchellh commented on #1524
I'm guessing this is because of some weirdness with symlinks and Windows. It will take me a bit to get debugging on this since I don't have a WIndows machine readily available, but I've tagged it.

[2015-04-14 18:35] johnjelinek commented on #1524
Would you like a vagrant box of windows to debug with?

[2015-04-14 18:36] mitchellh commented on #1524
Heh, yeah that'd help. Since switching computers I lost all my old ones. Feel free to email me directly with it to avoid licensing issues if there are any (assuming its a trial though).

[2015-04-14 18:55] jszwedko commented on #1267
I agree, this still feels like a bug @catsby

[2015-04-14 19:17] johnjelinek commented on #1524
Sent

[2015-04-14 20:18] marcecaro opened #1528 "Crashing while interpolating in outputs"
.tf:

[code]

Crash dump: https://gist.github.com/phinze/5e31f1ac88837d3dc287

[2015-04-14 20:46] jtopper opened #1530 "No documentation for "element" function"
#554 added support for a new "element" function, but this isn't documented on the website.  I think I know how it's used, but I've thus far been unable to describe it with any clarity.  If nobody else picks up this issue in the meantime, I'll come back to this and submit a PR for the docs when it's clearer in my head.

[2015-04-14 20:54] jtopper commented on #1497
:+1:

Surprised to see I can't do `count = ${var.az_count}` here.

[2015-04-14 21:17] jtopper commented on #1530
Actually, this is documented on https://terraform.io/docs/configuration/interpolation.html - I was expecting to find this described on https://terraform.io/docs/configuration/resources.html in the section that discusses use of `count`. It perhaps warrants a mention or a link there.

[2015-04-14 22:44] #1508 closed

[2015-04-14 23:04] phinze commented on #1530
Thanks for reporting this!

The website is stored right in this repo so if you like you can [head over to the page in question](https://github.com/hashicorp/terraform/blob/master/website/source/docs/configuration/resources.html.md), click the edit button, and draft up a change. GitHub's improvements of late have made that flow pretty easy.

If you'd prefer we take on the docs though, one of us wil

[2015-04-15 00:09] phinze commented on #1528
Sorry for the trouble here. We're improperly handling the fact that `count.index` is not in scope there.

I've reproduced the panic locally and I'll follow up with a PR once I have a fix.

[2015-04-15 00:24] Drewzar opened #1533 "Unable to create AWS VPC subnet."
I'm having an issue where terraform works on one of my AWS accounts and not the other.

My code:
[code]

The Plan:
[code]

The Apply on the Staging AWS account:
[code]

The Apply on the Production AWS account:
[code]

Both accounts are using an `Admin` IAM account.

[2015-04-15 00:37] phinze commented on #1533
Hi @Drewzar, it looks like you're running against both AWS accounts from the same directory. After the first run, a `terraform.tfstate` file is produced in which Terraform records the "state of the world" after its operations are completed. Then in your follow-up run, the state file from the other environment is being picked up, so it's expecting the VPC recorded in the state file to exist.

To re

[2015-04-15 00:42] Drewzar commented on #1533
Hey @phinze Sorry I should of mentioned that I removed the `terraform.tfstate` and the `terraform.tfstate.backupfile` between test.

[2015-04-15 00:52] phinze commented on #1533
Well that makes things more interesting!

If you can reliably reproduce this, can you capture the output of the failing command with the environment variable `TF_LOG=1` set? This will tell terraform to generate copious debug logs that you can toss into a [gist](https://gist.github.com). (You'll want to pull any sensitive information out of the logs before posting.)

[2015-04-15 01:00] Drewzar commented on #1533
Here's the [gist](https://gist.githubusercontent.com/Drewzar/f25466ea7071fc65531f/raw/f513493209b5cbc1a98a945a075ccfc65054dcb4/debug.log).

[2015-04-15 05:34] vitalis opened #1535 "0.4.2 terrafrom refresh not working for aws security groups"
In version 0.4.0 the refresh was working fine, after update to 0.4.2 it does not update the data.

Output from 0.4.0:
[code]

Output from 0.4.2:
[code]

[2015-04-15 05:52] vitalis commented on #1535
Update: version 0.4.1 is working fine

[2015-04-15 07:47] Rh1N0 commented on #1420
As an option you can store newest AMI id to consul server and use consul_key as a part of your plan (https://www.terraform.io/docs/providers/consul/r/keys.html)

[2015-04-15 14:08] catsby commented on #1535
Thanks for reporting, we'll take a look

[2015-04-15 14:21] catsby commented on #1533
Unfortunately I can't yet reproduce this. I even attempted planning with one set of credentials, and applying with the other, but it worked as expected.

Any other clues? What version of Terraform are you using?

[2015-04-15 14:25] rmenn commented on #1533
I was unable to reproduce it either, tried it on two different accounts. I replaced my aws vars and ran it on different accounts.

[2015-04-15 14:26] catsby commented on #1533
This block of your gist looks good:

[code]

It seems the VPC we're expecting is created and then updated, but then we can't find it

[code]

Are you possibly using IAM credentials that have a policy (or _don't_ have a policy) that prevents the second account from working with Subnets?

[2015-04-15 14:32] catsby commented on #1533
@Drewzar can you try using the latest and greatest Terraform v0.4.2?

[2015-04-15 15:45] catsby commented on #1535
Do you have a sanitized config file that reproduces this, or any other steps to reproduce this? I've tried with 0.4.0 through 0.4.2 and get the same results, the full attributes are listed.

[2015-04-15 16:03] #1528 closed

[2015-04-15 16:13] apparentlymart commented on #305
@pearkes in the example you added to the docs there is a ``parent_route53_zone`` attribute that doesn't appear in the documentation for that resource type nor, as far as I can tell, anywhere in the Terraform code.

Was that just accidentally included from the initial example in this ticket, or am I missing something?

As far as I can tell there is still a missing link here in that the Route53 zone

[2015-04-15 16:19] apparentlymart commented on #305
Looks like my final point in my earlier comment will be addressed by PR #1525.

[2015-04-15 17:33] MerlinDMC opened #1540 "dependency resolution broken"
Given the following config:
[code]

Expected order of creation would be:
- null_resource.foo.1
- null_resource.foo.0

Current computed order is:
- null_resource.foo.0
- null_resource.foo.1

(it creates both resources in parallel)

which makes it fail during the provisioning step:
[code]

[2015-04-15 17:33] mitchellh commented on #1540
This is indeed a problem. Thanks. Tagged.

[2015-04-15 17:38] phinze commented on #1034
Done in #1501

[2015-04-15 17:38] #1034 closed

[2015-04-15 17:56] MerlinDMC opened #1541 "terraform destroy with -target depends on uninitialised provisioners"
when trying to destroy a specific subset of resources terraform should ignore the provisioner pipeline:
[code]

[2015-04-15 18:28] franklinwise commented on #1178
+1 agree. Need to have modules that can be re-used atomically with parents connecting the dependency.  This modularity enables easier testing, isolation, understandability... all the benefits that code gets from having module packages.

For example (with my best text art):

[code]

[2015-04-15 19:00] Drewzar commented on #1533
Hey @catsby, after upgrading to `v0.4.2` everything is working like a charm! Now to dive in to the diff and see what changed. Thanks for looking in to it everyone!

[2015-04-15 19:02] KatherineAlbany opened #1543 "AWS Route53 Request Rejected"
When creating multiple route53 records in aws I receive the following error response:

"The request was rejected because Route 53 was still processing a prior request"

After discussion on IRC this was considered a bug and that terraform should account for the slow Route53 API and wait/retry instead of failing.

[2015-04-15 20:22] catsby commented on #1543
Thanks @KatherineAlbany , I'll take a look. You're talking about multiple `aws_route53_record` resources in the config, right? As opposed to a single one with many `records`, correct?

[2015-04-15 21:10] catsby commented on #1533
We'll close this for now then, thanks for following up. Let us know if you discover something :smile:

[2015-04-15 21:10] #1533 closed

[2015-04-15 21:10] arubis opened #1545 "multiple remote-exec's against the same target overwrite script.sh"
I'm using terraform's `remote-exec` provisioner with inline argument to run a script on my configuration management server whenever a new instance is provisioned. This allows me to pass Terraform variables directly into the script, which is very convenient.

Crucially, in case this wasn't clear, I'm using `remote-exec` to execute not on the instance the enclosing resource block describes, but on a

[2015-04-15 21:17] neurogenesis opened #1546 "distribution: update homebrew formula for 0.4.2"
looks like there's a homebrew formula for 0.4.1, it should be updated for the latest 0.4.2 release.

[2015-04-15 21:36] radeksimko commented on #1546
This belongs to the [Homebrew project](https://github.com/Homebrew/homebrew), not here, I'm afraid.
btw. Pull requests are usually quite welcomed in Homebrew too. :wink:

[2015-04-15 21:48] arubis commented on #1546
Also note that Brew Cask (http://caskroom.io/) is typically more on the ball about Terraform releases :)

[2015-04-15 21:48] neurogenesis commented on #1546
@phinze ... re: terraform on homebrew, i noticed you had submitted 0.4.1. i was going to update it there but it looked like it might not be trivial, given all of the go dependency revisions specified in there.

[2015-04-15 21:50] mitchellh commented on #1546
@radeksimko is correct. Please report this with homebrew. We don't maintain that release channel currently. Thanks.

[2015-04-15 21:50] #1546 closed

[2015-04-15 22:23] sparkprime commented on #1433
After discussion on IRC we decided to proceed with no version number in the useragent for now  https://github.com/hashicorp/terraform/pull/1547

[2015-04-15 22:51] grahamgreen opened #1548 "create read replicas for rds instances"
when creating an "aws_db_instance" resource I would like to be able to create read replicas for that instance:

http://docs.aws.amazon.com/AmazonRDS/latest/APIReference//API_CreateDBInstanceReadReplica.html

[2015-04-15 22:56] elchudi commented on #265
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-04-15 23:40] clstokes commented on #57
What's the status of this? My use case is the same as the OP's. I don't see mention of this in the 0.4.0 release notes...

[2015-04-15 23:45] clstokes commented on #57
Split/join is the workaround for now I take it?

[2015-04-16 00:22] sethlindberg opened #1549 "Crash while adding network acls"
So as not to be spammy, I've attached as a gist:

https://gist.github.com/sethlindberg/68311cfe488636995bb3

the issue happened when applying a self-created module that applies a set of network acls to subnets. If you need more information I'm happy to give it.

[2015-04-16 00:36] nadnerb commented on #1472
Have a related issue with destruction of dependent resources, made even worse by using modules :(

[2015-04-16 01:04] BenPhegan opened #1551 "Access to Provider properties from the same Provider's Resource"
We have a use case where a property that is required by the provider setup is also required by multiple of that provider's resources.  It is not an ideal or clean problem to work around, but it is based on integrating to providers with particular constraints.

From what we can see there does not appear to be an easy way to do this within the resource code.  There is also no clear way to do this as

[2015-04-16 01:04] BenPhegan commented on #1551
@phinze hopefully this makes more sense than the previous 140 characters!

[2015-04-16 07:18] c4milo commented on #1299
I'm running into this as well. v0.5.0-dev

[2015-04-16 09:24] radeksimko opened #1552 "aws: Allow rolling updates for ASGs"
Once #1109 is fixed, I'd like to be able to use Terraform to actually roll out the updated launch configuration and do it carefully.

Whoever decides to not roll out the update and change the LC association only should still be allowed to do so.

Here's an example from CloudFormation:
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatepolicy.html

How about something

[2015-04-16 09:29] pmoust commented on #1552
:+1:

Our use case pretty much depends on this to be crystal clean. Other wise rolling updates require some minimal human intervention which I am working on making obsolete.

Huge +1 on this

[2015-04-16 09:50] nickithewatt commented on #1360
+1 for this request - it really helps with local / POC style setups :)

@gisnalbert @trumant @phinze It looks like this functionality has already been added into gophercloud by allowing for a custom HTTP client to be used - ref  https://github.com/rackspace/gophercloud/issues/158 so perhaps its just a case of adjusting terraform to provide the options. Perhaps a change to the provider definition,

[2015-04-16 10:06] vitalis commented on #1535
I followed the suggestion of adding existing resources to to state.
I updates my `terraform.tfstate` with the following data:
[code]

then used `terrafrom refresh` command

[2015-04-16 10:13] vitalis commented on #1535
I also see another issue in 0.4.1 ingress configuration:
Here is the list of existing ingress on security group:
![ec2_management_console](https://cloud.githubusercontent.com/assets/36814/7178781/210586bc-e43a-11e4-9fa8-ad5d4e78406f.png)

and here is the result I have after `terrafrom refresh`:

[code]

[2015-04-16 10:53] radeksimko commented on #1535
where did you get such suggestion?

There's an [existing feature request](https://github.com/hashicorp/terraform/issues/581) for this, but I don't think it's a good idea to manipulate with tfstate file manually.

[2015-04-16 11:05] vitalis commented on #1535
https://www.dark.ca/2015/01/27/handling-extant-resources-in-terraform/

[2015-04-16 12:07] KatherineAlbany commented on #1543
Correct, multiple aws_route53_record resources.

[2015-04-16 12:32] c4milo commented on #1472
I ran into a similar problem. This is the output of the destroying command:

![](https://cldup.com/3fXUYsBfbw.png)

[2015-04-16 12:47] fromonesrc commented on #1488
@catsby just in case you were waiting for me on the instance conversion, I moved on to route53 and haven't come back to instance yet, feel free to bring that over

[2015-04-16 13:14] catsby commented on #1488
No worries, I'm doing Instance today and then we'll be done!

[2015-04-16 13:22] catsby commented on #1549
Thanks @sethlindberg ; do you have a sample configuration (sanitized, without keys/passwords) that reproduces this?

This seems like an error building up rules:
[code]
 but nothing immediately jumped out at me in the code

[2015-04-16 13:24] catsby commented on #1543
Thanks @KatherineAlbany – I'll try and look at this today, but I can't promise it 😕

[2015-04-16 13:39] catsby commented on #1299
Is this existing rule external to Terraform, or does it exist in your configuration already?

[2015-04-16 13:57] c4milo commented on #1299
External to Terraform, it seems they are added by AWS by default when the security group is created. I fixed my problem by removing the rule in my Terraform configuration file.

[2015-04-16 14:07] c4milo commented on #1472
In my case I believe it is because there isn't any implicit dependency between my ec2 instances and the VPC. So, when destroying, I think it has to start by destroying the EC2 instances and then the subnets, internet gateways, the routing table and so on.

[2015-04-16 14:24] c4milo commented on #743
I reported this exact same issue over https://github.com/hashicorp/terraform/issues/1472. I used 0.5.0-dev. As I mentioned in #1472, it seems the ec2 instances have to be destroyed first before the actual VPC or resources associated with the VPC such as: subnets, internet gateways, routing table, etc.

[2015-04-16 14:33] 7heo opened #1556 "Mask the content of the files included with the substitution `file()` in the terraform output"
When using `terraform plan` or `terraform apply` with a configuration file containing the string substitution `file()`, the contents of the file are included in the output of the terraform command. That can lead to various problems, ranging from standard output cluttering to potential security issues (confidential data in clear text in the terraform output report, which can easily be pastebin'ed,

[2015-04-16 14:52] matthewford commented on #1552
+1

[2015-04-16 14:54] matthewford commented on #1419
+1

[2015-04-16 15:04] phinze commented on #1556
From talking about this in IRC, I was wondering if we might consider a meta-parameter that would let users hide any attribute from plaintext output.

Maybe something like this:

[code]

And then it could be used to abbreviate long attributes as well:

[code]

I'm not sold on the parameter name, so ideas are welcome there. Thoughts @mitchellh?

[2015-04-16 15:32] matthewford commented on #1499
:+1:

[2015-04-16 15:45] failshell commented on #1158
:+1:

[2015-04-16 15:54] 7heo commented on #1556
@phinze That was my first idea; but then I thought about something automatic that could mask the content of the included files, while outputting their path. Because in your solution, the filepath is masked as well.

So a `masked_attribute` might be very useful, but what do you think about automatically displaying the content of an included file as "content of file <path>"?

[2015-04-16 16:00] svanharmelen commented on #1158
I'm currently finishing up a Chef provisioner implementation. But it's depend on PR #1483 so we first need to get that one up-to-spec so it can be merged, and right after that I'll open a PR for the Chef provisioner.

It's currently a chef-client provisioner meant to work with a chef-server... So maybe it should be called `chef-client provisioner` so that someone could also create a `chef-zero pro

[2015-04-16 16:06] btsteve opened #1557 "Additional private ip addresses for aws_instance"
Could you please expose adding additional ip addresses to an instance at creation time. This is supported via the api. Instances can have a different number of private ip addresses per ENI. For example I need 10 private ip addresses on an newly created instance. I should be able to add them with out having to attach another ENI if the instance size allows.

See Last Example:
https://docs.aws.amazo

[2015-04-16 16:11] vitalis commented on #1435
:+1:

[2015-04-16 16:51] clstokes commented on #1439
FWIW, this is something I wanted to do as well and found wasn't supported. In my case, I wanted to avoid duplicating `git::ssh://git@github.com/...` across tens or hundreds of files and do something like `source = "${var.module_path}//modules/common-vpc"`.

[2015-04-16 17:06] clstokes commented on #1439
Also to set the branch/tag via a variable would be helpful...

[2015-04-16 18:02] failshell opened #1559 "the file provisioner doesn't support ~/foo"
The file provisioner doesn't seem to understand the ~ path.

With the following config:

[code]

I get the folllowing error:

[code]

I'm guessing something like [1339](https://github.com/hashicorp/terraform/pull/1338) is needed.

[2015-04-16 18:06] phinze commented on #1559
Thanks for the report - we'll get this looked at - shouldn't be too bad.

[2015-04-16 18:10] ketzacoatl commented on #28
+1 for ECS support - https://aws.amazon.com/blogs/aws/ec2-container-service-ready-for-production-use/ and https://aws.amazon.com/ecs/details/ for more. This already integrates well with ELB,

[2015-04-16 18:14] Veraticus opened #1560 "Error creating RackSpace networks with OpenStack"
I'm trying to use terraform in RackSpace to create a network and subnet. I have this plan:

[code]

This always results in this output message:

[code]

It looks like the generated OpenStack URL is wrong. I'm not sure how to specify that manually or override it to be correct, however.

[2015-04-16 18:21] jessem commented on #1552
:+1: Likewise. Using a python script to handle this, which makes it a bit clunky to keep things simple with terraform.

[2015-04-16 18:22] sethlindberg commented on #1549
It's probably from this module:

[code]

Anything jump out?

[2015-04-16 18:33] CpuID commented on #28
+1 for ECS, now that it's GA. Would be a nice addition.

Nathan Sullivan
Sent from a mobile device

[2015-04-16 18:38] radeksimko commented on #1439
See https://github.com/hashicorp/terraform/issues/1145

[2015-04-16 18:45] Veraticus commented on #1560
I think this is actually a gophercloud bug, and I referenced this issue from there.

[2015-04-16 18:45] arubis commented on #1559
I've been working around this by specifying absolute paths (including in accompanying usage documentation), but would love to see this improvement!

[2015-04-16 18:53] catsby commented on #1488
Everything is merged!

[2015-04-16 18:53] #1488 closed

[2015-04-16 18:54] Veraticus commented on #1560
According to @jrperritt, this is unfortunately a result of OpenStack and RackSpace providers being slightly different. He's presently working on a [RackSpace provider](https://github.com/hashicorp/terraform/pull/1438) that should correct this issue.

[2015-04-16 18:54] #1560 closed

[2015-04-16 19:03] franklinwise opened #1561 "List Variabe"
Maybe I'm not reading the docs correctly, however, it would be help to be able to define a list of let's say cidr blocks as a variable so that the variable could then be passed to a security group.  Is this possible now?

[code]

[2015-04-16 19:05] mitchellh commented on #1561
This isn't allowed. Please use `split/join`, which are documented in the interpolation section. Sorry! There is another issue for this: #1212

[2015-04-16 19:05] #1561 closed

[2015-04-16 19:05] mitchellh commented on #1559
We added this feature to `remote-exec` so it shouldn't be hard to do for `file`. Will do!

[2015-04-16 19:07] franklinwise commented on #1561
Thanks @mitchellh

[2015-04-16 19:12] franklinwise opened #1562 "self doesn't work in aws_security_group"
It's necessary in AWS to all members of a group to talk to each other, thus the following would be helpful; it's currently an error.

[code]

[code]

[2015-04-16 19:13] mitchellh commented on #1562
You can only use `self` in provisioners currently. Sorry!

[2015-04-16 19:13] #1562 closed

[2015-04-16 19:20] franklinwise commented on #539
+1 Also, a group needs to be able to reference it's self so members of a group can "talk" to each other.

[code]

[2015-04-16 19:21] mitchellh commented on #57
Yes, for now.

[2015-04-16 20:04] franklinwise commented on #539
I think the reason this feature has not been addressed is that it would create a cycle in the DAG.  One solution is to create a 3rd resource like IoC.  Create a proxy resource that is mostly a facade that breaks the dependency cycle.

Example:

Today:
GroupA --> GroupB
GroupB --> GroupA

Solution:
GroupA --> GroupB
GroupA --> GroupAProxy
GroupB --> GroupAProxy

1. When GroupAProxy get "created" it

[2015-04-16 20:32] chrisferry commented on #1552
:+1:

[2015-04-16 20:42] matthewford commented on #1139
:+1:

[2015-04-16 20:51] phinze commented on #1552
@radeksimko totally agreed that this is desirable behavior.

It's worth noting, though, that this is CloudFormation-specific behavior that's not exposed up at the AutoScaling API. I think the way we'd be able to achieve something similar would be to build some resources based on CodeDeploy:

https://docs.aws.amazon.com/codedeploy/latest/APIReference/Welcome.html

[2015-04-16 21:01] clstokes commented on #1439
@radeksimko I'm familiar with [ref](https://terraform.io/docs/modules/sources.html#ref) as added in a recent version, but I'm suggesting something like `source = "github.com/clstokes/terraform-modules//modules/common-vpc?ref=${var.module_branch}"`.

Are variables allowed at all in modules sources?

[2015-04-16 21:39] franklinwise commented on #539
After looking at the code, it seems like a time consuming problem to solve.  For now I guess I can create a dummy empty group as a work around.

GroupA --> GroupB
GroupB --> EmptyGroup

instanceA has:
GroupA
EmptyGroup

instanceB has:
GroupB

[2015-04-16 21:51] jwaldrip commented on #1120
:+1: This is happening for me as well.

[2015-04-16 23:24] drnic opened #1567 "Update example AWS to generate keypairs"
I was told by @longnguyen11288 that terraform for aws now supports keypair creation. Could https://github.com/hashicorp/terraform/tree/master/examples/aws-two-tier example be updated to demo it? Thanks!

[2015-04-16 23:41] clstokes opened #1568 "get -update doesn't update from non-master branches"
I'm using git remote modules (hosted in a private repo on GitHub) and specifying a branch other than master. However, it seems when using a branch other than master, modules are not updated when I run `get -update`. If modules are pulled from `master`, then they're updated fine.

Using `v0.4.2`...

# Steps to reproduce
1. Create module *module1* in repo *repo-modules*.
1. Create project *project1*

[2015-04-17 09:37] kaelumania opened #1570 "Unable to access docker container network settings"
Docker Container provide a lot of information. But the builtin terraform docker provider does not provide any information about the started container. Example use-case:
[code]

[2015-04-17 09:40] kaelumania commented on #1570
Made a PR for NetworkSettings https://github.com/hashicorp/terraform/pull/1554

[2015-04-17 11:01] stepanstipl opened #1571 "terraform refresh on AWS EC2 instances is missing data"
When running terraform refresh on AWS EC2 instance resources, terraform won't refresh all data. In my case I've got **ami**, **ephemeral_block_device.#** and **instance_type** missing. All of these should be easily obtainable from AWS api, or is there any reason for this behaviour?

My use case is to try to get rid of necessity of tfstate file -> use simple script that would generate bare tfstate

[2015-04-17 13:22] #1559 closed

[2015-04-17 13:44] catsby commented on #1549
Unfortunately not, I tried reproducing it with this configuration https://gist.github.com/catsby/c75fc16a662643a9de37 and everything was cleanly applied. Of course, I'm using the latest Terraform version, v0.4.2, can you try upgrading and seeing if that addresses the issue?

[2015-04-17 13:48] catsby commented on #1549
I was able to track down 0.3.7 and try with that, but still couldn't reproduce the issue. Please let me know if upgrading helps, or if you have further steps/config to reproduce this. Thanks!

[2015-04-17 14:04] catsby commented on #964
Unfortunately we can't yet reproduce this. If you have more information to help us to do so, please re-open this issue and we'll take another look.

Thanks!

[2015-04-17 14:04] #964 closed

[2015-04-17 14:25] catsby commented on #512
Tags for Auto Scaling Groups were added in https://github.com/hashicorp/terraform/pull/1319, so I'm closing this now. Thanks!

[2015-04-17 14:25] #512 closed

[2015-04-17 14:26] catsby commented on #502
We believe this issue was resolved in the recent v0.4.0 release. Please try upgrading (the latest at this time os v0.4.2) and let us know if you still run into this.

Thanks!

[2015-04-17 14:26] #502 closed

[2015-04-17 14:29] fishnix commented on #1548
:+1:

[2015-04-17 14:29] #551 closed

[2015-04-17 14:29] catsby commented on #551
I believe all these features are now available. Please re-open or comment if we've missed something.

Thanks!

[2015-04-17 14:31] catsby commented on #607
There is an open pull request for this feature: #1526

[2015-04-17 14:31] #607 closed

[2015-04-17 17:13] bitglue opened #1574 "Terraform fails with empty string errors"
Since updating from master a week or two ago, Terraform has started giving me mystery errors:

[code]

If I run it with `TF_LOG=1` and grep for errors, I see a lot of this:

[code]

I'm confused because it says "1 error(s) occurred:" but then there's no error, and the logs say "[ERROR]" and then explain that there's an empty list of errors.

A guess: I recently deleted some resources through the A

[2015-04-17 17:34] bitglue commented on #1574
Found the issue. I guess it could be considered a bug in the AWS SDK that some of its errors `Error()` to an empty string, which is about the least useful thing possible. Though, maybe at least the logs generated by `TF_LOG=1` could print the error with `%#v`, or something else more verbose than `%s`?

[2015-04-17 17:36] woodhull commented on #1548
:+1:

[2015-04-17 17:40] woodhull opened #1577 "Allow Setting CORS Settings on s3 buckets"
It should be possible to specify the CORS rules on an AWS S3 bucket created through terraform:
http://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html

This is really one part of a larger bug: s3 buckets have a multitude of properties relating to logging, permissions and the like that terraform currently does not know anything about.

[2015-04-17 18:03] johnjelinek opened #1579 "Stop instances"
How can I specify the state of my instances to be `stopped`?

[2015-04-17 18:20] sethlindberg commented on #1549
Upgrading left a more interesting error message:

[code]

The configuration snippet I posted above was wrapped in a module, which may be different from how you tested. I dunno, I'm at a loss for words, here.  It almost looks like it is applying the acl configuration in an infinite loop.

[2015-04-17 18:51] sethlindberg commented on #1549
Ok, looking at the AWS console -- each time I run terraform it's correctly creating the network ACL.  What it is not doing is associating it with a subnet - that is where it crashes.

[2015-04-17 19:13] sethlindberg commented on #1549
Is the issue that I am creating a new ACL and attempting to associate a subnet that terraform previously created?

[2015-04-17 19:33] dpetzold commented on #1548
:+1:

[2015-04-17 19:33] Rigdon commented on #1503
:+1:  Yes please.

[2015-04-17 19:34] Rigdon commented on #1548
:+1:

[2015-04-17 19:34] dpetzold commented on #1503
:+1:

[2015-04-17 19:34] gposton commented on #1548
:+1:

[2015-04-17 19:35] anthonymetzler commented on #1548
:+1:  x :100:

[2015-04-17 19:37] pcraciunoiu commented on #1548
:+1:

[2015-04-17 19:37] pcraciunoiu commented on #1503
:+1:

[2015-04-17 19:38] maguec commented on #1503
:+1:

[2015-04-17 19:38] anthonymetzler commented on #1503
![Image of Ben Stiller](http://i.imgur.com/tJdvMfN.jpg)

[2015-04-17 19:38] maguec commented on #1548
:+1:

[2015-04-17 19:44] mqarty commented on #1503
:+1:

[2015-04-17 19:44] mqarty commented on #1548
:+1:

[2015-04-17 19:48] radeksimko opened #1581 "aws: Inform user better about security_groups/vpc_security_group_ids"
The deprecation has been introduced via https://github.com/hashicorp/terraform/pull/1539 - 2 days ago.

It took me quite a while to find out why my security groups are not being attached and it would help a lot to actually print out a UI warning (visible without `TF_LOG=1`) instead of just logging it.

I thought I would send a PR but I'm not sure about how to get the `UiHook` down in the resource

[2015-04-17 19:49] jmerson commented on #1503
Please please please.

[2015-04-17 19:50] jmerson commented on #1548
Yes, please.

[2015-04-17 20:18] rubbish opened #1582 "Destroy doesn't respect module dependencies correctly"
I've ran into an issue similar to #1472 and I think i've distilled it to a simple example.

This is on the current master of terraform:
[code]

Given a configuration:

**./main.tf**
[code]

**./a_module/main.tf**
[code]

On apply, it should bring up `a_module.null_resource.a` before it brings up `root.null_resource.b` and on destroy, it should destroy `b` before `a` by respecting the dependency.

[2015-04-17 20:23] radeksimko commented on #1145
As @clstokes pointed out in #1439, there's a solution for this:
https://terraform.io/docs/modules/sources.html#ref

I just wonder why @mitchellh didn't point me there and more importantly why I didn't notice that bit in documentation...

Any reason why keep this open then?