[2016-04-13 13:58] leventyalcin commented on #6136
I've bumped the same issue. I've tried to create the launch configuration both `aws_iam_instance_profile.ec2_profile.id` and `aws_iam_instance_profile.ec2_profile.name` and when I try to create for the first time I'm getting the error below.

[code]
and 2nd try of `terraform apply` is successful, interestingly.

[code]

[2016-04-13 14:22] radeksimko commented on #5767
@brikis98 I'm afraid the only workaround for now is to go and identify the ENIs manually and detach & delete those.

I'm still waiting for response from AWS, hopefully they will shed some light on this.

[2016-04-13 14:28] #2174 closed

[2016-04-13 14:33] jtopjian commented on #6155
@Fodoj I'm working out some kinks with the access IPs. There's some additional info and possible ways of specifying networks and access in #5695 including a patch I have in progress to fix some logic of the access IPs.

In general, you're correct in what you see: a floating IP will always trump the access network. This is under the assumption that in most OpenStack clouds, a floating IP is also us

[2016-04-13 14:39] Vidimensional opened #6158 "aws_db_security_group makes a modify on every subsequent plan/apply."
### Terraform Version

[code]
### Affected Resource(s)
- aws_db_security_group
### Terraform Configuration Files

[Complete config file](https://gist.github.com/Vidimensional/4bb02abd383f0aeb7be5652e5939c2e1)

[code]
### Debug Output

https://gist.github.com/Vidimensional/b8c460b43905cc18a63b3741f970592e
### Expected Behavior

When we execute a `terraform plan` after a `terraform apply` (without e

[2016-04-13 14:41] rbachman commented on #5767
@brikis98

My solution to this is a bit unorthodox but I have a destruction method in my lambda function that deletes its own ENI.  Once there is an attached ENI to your lambda function, that becomes the default interface for all external comms so that method needs to be the last function called.

Essentially I look for a particular key in the event source to determine if this is related to the de

[2016-04-13 14:47] leventyalcin commented on #6153
These issue can be related with #6136

[2016-04-13 14:48] radeksimko commented on #5767
@rbachman Would you mind sharing any the details about how are you identifying the right ENIs?

i.e. which fields from https://gist.github.com/radeksimko/e8d9176f12e20f521322103f607b6c24 are the right ones for reliable identification?

[2016-04-13 15:01] stack72 commented on #6150
Hi @clintonm9

As far as I can see, from the ARM docs, there is no way to create a DataDisk from the API. Is this incorrect? If so, please point me at the docs and I will happily get it implemented

Paul

[2016-04-13 15:03] rossedman commented on #3624
@chrislovecnm @phinze @mkuzmin Hey guys, @aheeren [branch](https://github.com/hashicorp/terraform/pull/6087) is working really well. I know this doesn't add new resources but this is a pretty serious outstanding bug. Would someone mind reviewing this? We have tested it on vSphere 5.5 and vSphere 6.0.

Also, I have vSphere 6.0 at home if you need me to test some things

[2016-04-13 15:07] Fodoj commented on #6155
i wil try it ouy.. but does it still merge top level floating ip into existing network with private ip?

[2016-04-13 15:09] stack72 commented on #6117
Hi @clintonm9

I am going to close this as a duplicate of #5820 - this requires the CustomScripts to be in place :) Having 1 place to track it all will be much better

It will be taken care of as soon as some bugs are fixed in the VM resource

Thanks

Paul

[2016-04-13 15:09] #6117 closed

[2016-04-13 15:09] stack72 commented on #6156
Hi @Felivel

I am going to close this as a duplicate of #5820 - having 1 place to track it all will be much better to keep everyone informed

It will be taken care of as soon as some bugs are fixed in the VM resource

Thanks

Paul

[2016-04-13 15:09] #6156 closed

[2016-04-13 15:09] alfonso-cabrera commented on #3108
+1 for cross region replication

[2016-04-13 15:11] Preskton commented on #3624
@chrislovecnm @phinze @mkuzmin /second @rossedman's request above.  Having good success with @aheeren's changes and would like to see these reviewed asap so we can then get it merged in.

[2016-04-13 15:11] jtopjian commented on #6155
It does, yes:

https://github.com/jtopjian/terraform/blob/c0c718cd9459f166a275abf0947f7052505d1906/builtin/providers/openstack/resource_openstack_compute_instance_v2.go#L998-L1002

So you're saying given a situation where someone has specified a "global" / top-level floating IP but has specified one or more `network` blocks, one of which is the `access_network`, the `access_network` should still b

[2016-04-13 15:13] stack72 commented on #6151
Hi @mcuadros

thanks for the suggestion. Please feel free to open a PR with the enhancement - we will happily have a look at the functionality :)

Paul

[2016-04-13 15:19] mcuadros commented on #6151
Sure, I will open a PR ASAP.

[2016-04-13 15:21] catsby commented on #4794
I just merged #6140 as a partial fix here, what issues remain here?

[2016-04-13 15:53] dougneal commented on #4794
Thanks for the merge @catsby. The remaining issue is that the combination of `base64_enable=false` and `gzip=true` results in the binary gzip data being encoded into the JSON statefile in a way that it corrupts when read back out again.

[2016-04-13 15:58] dougneal commented on #4794
Also not sure if this is exactly the same issue as @ohlol's bug report that I've kinda hijacked :)

[2016-04-13 16:04] ohlol commented on #4794
@dougneal @catsby I'm no longer with my previous employer so unfortunately I have no way to verify that this fixes my problem :(

Feel free to close or address otherwise as you feel necessary!

[2016-04-13 16:47] clintonm9 commented on #6150
@stack72

Is this what you need?
https://msdn.microsoft.com/en-us/library/azure/mt163591.aspx

Thanks

[2016-04-13 17:19] benlangfeld commented on #2780
I'm seeing the same sort of thing for the vSphere provider:

[code]

[2016-04-13 17:49] si5074 opened #6161 "OpenStack autoscaling"
Is there any plan to implement autoscaling for the OpenStack provider? Is there an alternate option to configure autoscaling in Terraform today?

[2016-04-13 17:56] jtopjian commented on #6161
Just to clarify: would this be Terraform interacting with OpenStack Heat?

[2016-04-13 17:57] si5074 commented on #6161
Terraform interacting with OpenStack directly. A replacement for Heat basically.

[2016-04-13 17:59] jtopjian commented on #6161
Ah, understood. I think that would fall under Terraform as a whole. I'll label this question as such so someone with better knowledge/insight can answer 😄

[2016-04-13 17:59] si5074 commented on #6161
Thank you.

[2016-04-13 18:01] apparentlymart commented on #2780
I think this might be the same thing as #3536, assuming you're on a Mac.

It seems that the cause there was Go's DNS resolver going directly to the global nameservers and bypassing the more complex resolver steps that libc-based applications would do. More details in PR #5925.

Does this seem like plausibly the same thing to you, @igrayson? If so, I'd like to consolidate the discussion about the i

[2016-04-13 18:28] dharrisio opened #6164 "provider/aws: aws_elastic_beanstalk_environment resource needs migration."
A recent commit of mine caused issues with previous versions of Terraform.

The issues were introduced with #5966

In previous versions tier could have been left blank and did not have a default value. A change was made so that the default value was "WebServer", while setting up the `cname` output to only work for "WebServer" tier environments.
Unfortunately, this attribute also forces a new resou

[2016-04-13 18:56] btilford commented on #5108
Having the same issue. I don't have a roo_block_device specified anywhere. Just a ebs_block_device.

[2016-04-13 19:03] jtopjian commented on #6161
After looking into this, autoscaling strictly within Terraform really just involves modifying the `count` parameter, running Terraform via cron, things like that. Totally up to the user to trigger the count update and when/how Terraform runs.

I'm going to close this issue, but please feel free to re-open if this doesn't entirely answer your question!

[2016-04-13 19:03] #6161 closed

[2016-04-13 19:32] brentley commented on #5417
I just hit this same bug using v0.6.14

[2016-04-13 19:32] si5074 commented on #6161
I am not sure which count you're referring to.

[2016-04-13 19:37] jtopjian commented on #6161
`count` is an argument that can specify a number of identical resources:

https://www.terraform.io/docs/configuration/resources.html

[2016-04-13 19:53] brikis98 commented on #5767
@rbachman Thanks for the info. If you're able to share any of the code, that would be really helpful!

[2016-04-13 20:16] jseaidou opened #6166 "Terraform openstack doesn't use latest image"
When giving `image_name` to `openstack_compute_instance_v2`, if we have multiple images for the same name in glance, it will not sometimes use the latest. We generally autogenerate new images with same names and keep only the last few versions as backups. Terraform should allow to specify to use latest or to default to that.

[2016-04-13 20:35] stack72 commented on #6150
Hi @clintonm9

This is the creation and updating of VMs. We have that resource already - it even has the ability to attach already created data disks.

https://www.terraform.io/docs/providers/azurerm/r/virtual_machine.html#storage_data_disk

P.

[2016-04-13 20:49] windus commented on #5417
I had to wrestle with it for a whole day yesterday until I upgraded to 0.6.14.  Then I blew everything away in AWS by hand, deleted the state and backup files and reran Terraform with this in the rds definition:

snapshot_identifier = "some-snap"
skip_final_snapshot = true

And it finally worked.  Aggravating bug though.

[2016-04-13 20:57] mdxp opened #6169 "aws_cloudwatch_log_group w/ retention_in_days set results in no arn"
When using retention_in_days set on a cloudwatch log group, the arn is not added to the state. If no retention is set this works as expected. This causes problems (failures like above) if trying to use the resulting log group:

[code]

### Terraform Version
Terraform v0.6.14

### Affected Resource(s)
- aws_cloudwatch_log_group

### Terraform Configuration Files
[code]

### tfstate
[code]

The stat

[2016-04-13 21:15] stack72 commented on #6164
@dharrisio

Thanks for the PR that fixes this - I am going to go ahead and close this out right now as we can track any convo in that PR

P.

[2016-04-13 21:15] #6164 closed

[2016-04-13 21:15] civik commented on #5545
@jtopjian It would be part of the pool resource. Something like so:

[code]

[2016-04-13 21:17] stack72 commented on #6148
Hi @sodre

I am going to close this out as you have opened a PR that fixes this work. Thanks so much for all the work on tracking this down and fixing it :)

Paul

[2016-04-13 21:17] #6148 closed

[2016-04-13 21:27] stack72 commented on #5912
Hi @mcalthrop

Closing this as you had a PR merged for #5917 - thanks for letting us know and then fixing it :)

P.

[2016-04-13 21:27] #5912 closed

[2016-04-13 21:29] stack72 commented on #5889
Hi @daodennis

there is a PR in place to use Google as a storage medium for state

https://github.com/hashicorp/terraform/pull/3719

We will try and get this merged soon

Paul

[2016-04-13 21:29] #5889 closed

[2016-04-13 22:05] stack72 commented on #5932
Hi @glasser

This has been closed in #6163 :)

Paul

[2016-04-13 22:05] #5932 closed

[2016-04-13 22:26] jtopjian commented on #6166
That's actually really bizarre. If you specify a non-unique image name, you should be getting the following error:

```* openstack_compute_instance_v2.test: Found 2 images matching Ubuntu 14.04```

In which case, you'll need to specify a UUID rather than a name.

Are you using the latest version of Terraform?

[2016-04-13 22:52] shinka81 opened #6170 "panic: 'Unary - is only allowed' crash"
Hello,
 I was working on creating a new module for creating AWS Aurora instances and ran in to this crash output when I went to `terraform plan`. I am able to successfully plan when I remove the `replace(aws_rds_cluster.db.endpoint, /:.*/, '')` function (see below) so it has me thinking this is the culprit, be it user error or just a bug.

Thanks for any help!

### Terraform Version
[code]

### Af

[2016-04-13 23:30] beeerd opened #6172 "aws_s3_bucket_object uses kms_key_id attribute inconsistently"
### Terraform Version
0.6.14

### Affected Resource(s)
- aws_s3_bucket_object
- aws_kms_key

### Terraform Configuration Files
[code]

### Debug Output
First apply: https://gist.github.com/beeerd/45da50c41eee72ea1a9d4d6aa894026b
Second apply: https://gist.github.com/beeerd/dc2f9ff9f79c61ba491e4fe21318e231

### Expected Behavior
Second apply should be no-op, since no changes are made between runs o

[2016-04-14 00:12] theturtle32 commented on #5956
I'm seeing something similar. us-west-2 here.

[code]

Possibly related to setting the following on my `aws_instance` resources?
[code]

[2016-04-14 00:16] theturtle32 commented on #5956
If I try to apply, I get this:
[code]

[2016-04-14 00:21] jseaidou commented on #6166
@jtopjian sorry my mistake. It seems like I have confused different image-ids. You are right I do see that.
However is it possible to allow Terraform use latest out of multiple images instead of erroring?
To give some information:
we have a pipeline built that will update images with new code etc .. and we push them to openstack. We keep the last few versions for rollback reasons but we want to be

[2016-04-14 00:22] theturtle32 commented on #5627
Also -> #5956

[2016-04-14 01:16] benlangfeld commented on #4713
@lesaux I'm also seeing the `network_interface*` fields missing from the state file on the first `apply` run. They are then created by a `plan` run > 1 minute later. From debug logs, it appears the vSphere API is reporting no interfaces when the `apply` run refreshes state immediately after creating the VMs. I guess some part of the build process is asynchronous and Terraform isn't properly waitin

[2016-04-14 03:00] jtopjian commented on #6166
@jseaidou Thanks for the background. I understand the use case and I agree that hard-coded image-ids are no good here. However, I feel that placing this kind of logic in the `image_name` retrieval wouldn't be a good design. Let's say after it was implemented, someone wanted the earliest image instead.

Gophercloud (the underlying OpenStack Golang library that Terraform uses) doesn't support the Gl

[2016-04-14 05:12] chrislovecnm commented on #3624
@rossedman might you test drive https://github.com/chrislovecnm/terraform/tree/vsphere-ip-wait-issue for me

I have not done a PR cause we may kill another PR that is in ;) I don't have a test bed and won't put in a PR that has not been smoked tested.

[2016-04-14 05:14] chrislovecnm commented on #3721
@kc11381 that would be aaaawwwweeesssoommmme!!!!

[2016-04-14 07:07] Fodoj commented on #6155
@jtopjian yes, exactly. Because currently it will always prefer top level floating IP :( How about I will make a PR that avoids this merging?

[2016-04-14 08:02] mcalthrop commented on #5912
Thanks @stack72! Forgot to close. It was a great way to learn more about Terraform.

[2016-04-14 08:43] Shruti29 commented on #1557
+1 on this. Badly needed

[2016-04-14 10:44] spyrospph opened #6173 "aws s3 - disallow creating bucket names with underscore character (_)"
Hi,

Was trying to troubleshoot an aws EMR issue while using aws data pipeline and I bumped onto an amazing aws gotcha.

Bucket names which contain underscores "_" are allowed to be created only in the us-east-1 region and they create issues with aws products such as EMR. Specifically when EMR tries to store data to S3, it breaks because the bucket name contains an "_".

Could terraform prohibit s

[2016-04-14 13:09] benlangfeld opened #6174 "vSphere VM is always partially tainted (missing network interface in local state)"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

Terraform v0.6.14

### Affected Resource(s)

- vsphere_virtual_machine

### Terraform Configuration Files

[code]

### Debug Output

https://gis

[2016-04-14 14:05] benlangfeld commented on #4713
I filed https://github.com/hashicorp/terraform/issues/6174 for my problem, @lesaux

[2016-04-14 14:06] orimarti commented on #953
+1 for me too. Useful to create parametrizable modules with a counter

[2016-04-14 14:35] jtopjian commented on #6155
@Fodoj I can just roll it into the patch I'm working on 😄

[2016-04-14 14:35] Fodoj commented on #6155
Great, looking forward to it then :)

[2016-04-14 14:44] rossedman commented on #3624
@chrislovecnm Yes I will! I need to set this up at home. May be a few days but I can do it.

[2016-04-14 15:40] thegranddesign opened #6176 "Dedicated Development Resources?"
I have a general question.  It seems as though this is one of the core pillars in the Hashicorp ecosystem, however it _appears_ as though (but may not be the case), that although response to issues is quick (tagging, organization, etc), actually fixing those issues is not.  Just since I've been using Terraform over the last couple months, the open issues count has risen from 900 to 1,050.

Some of

[2016-04-14 17:04] bryanalves commented on #5695
Can verify.  Using mainline v0.6.14, with this resource:

[code]

I get this for `terraform show`

[code]

Which is exactly what I want.  I noticed that even access_ip was correct here.  Can I expect access_ip to always be correct, or will it potentially flip-flip between the networks (like the behavior I was seeing previously).

As for implicit versus explicit, I think it's totally fine to requir

[2016-04-14 18:13] mootpt opened #6177 "aws_launch_configuration throwing "doesn't support update" when unsetting user_data"
### Terraform Version

0.6.14
### Affected Resource(s)
- aws_launch_configuration
### Terraform Configuration Files

When removing `user_data` from `aws_launch_configuration`

[code]
### Output

When removing `user_data` from an existing `aws_launch_configuration`, Terraform throws the following error:

"aws_launch_configuration.application: doesn't support update"
### Expected Behavior

Resource

[2016-04-14 19:21] phinze commented on #6176
Hi @thegranddesign, thanks for this thoughtful and well articulated question.

I definitely understand the concerns you have about the status of the project.  It can be tough to get a read on what is happening in a big piece of OSS like this one. And that becomes especially concerning when it feels like the issues affecting you are being neglected!

For an overall read on the activity on the proje

[2016-04-14 19:21] cmlad commented on #1815
We are hitting that issue quite frequently. Should I open a new one?

[2016-04-14 19:28] paultyng commented on #2283
There is the global Tag Editor in the AWS Console, I don't believe its supported in any of the SDK's though, I'm not sure.  But that may be a pathway to a consistent interface for tag application for all resources, to emulate the way it interacts with resources for tagging.

http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/tagging-resources.html

[2016-04-14 19:41] cmlad commented on #2584
We are still hitting quite hard the issue that security group rules are not getting recorded during creation. We get about 40-50% failure rate (of most recent 5 runs, 3 had the issue).

Newest 0.6.14 version. I'm attaching two state files - one for a successful build, and two for a bad build - you can see that many rules themselves are missing.

Should I file a full bug report or is that enough. I

[2016-04-14 19:42] Mil0dV opened #6179 "aws ENI re-attachment fails after ec2 instance recreation"
### Terraform Version

Terraform v0.6.15-dev (70c65fb00a69680257a21c44aa023df999cd9b1b)
### Affected Resource(s)
- aws_network_interface
### Terraform Configuration Files

[code]
### Expected Behavior

After tainting the instance I expected terraform apply to recreate the instance and attach the ENI.
### Actual Behavior

[code]
### Steps to Reproduce
1. `terraform apply`
2. `terraform taint aws_in

[2016-04-14 19:49] c4milo commented on #1815
@cmlad, yes please, with a configuration that can be used to reproduce the issue.

[2016-04-14 19:55] zmallen opened #6180 "Support socket reuse or expose 2 factor for Bastions w/ 2FA Enabled"
I am currently deploying to a cloud provider through a company-ran Bastion. I think the Bastion support is great, but we have additional security mechanisms in place that use 2FA through our phones to authenticate to these bastions.

Generally, when we authenticate once, ssh reuses a socket state kept by the previous authenticated session so that we dont have to send another code/push to a phone.

[2016-04-14 20:04] #5490 closed

[2016-04-14 20:04] stack72 commented on #5490
Closed via #6087

[2016-04-14 20:24] jseaidou commented on #6166
I think we can definitely implement a similar workaround, but I do believe this is logic that should be tied to terraform as well. I will look into consul_keys, we're currently using etcd and might not make sense to also set up consul. Is there any chance that there will be a etcd provider as well, and a similar `etcd_keys`?
Thanks for the help!

[2016-04-14 21:10] mengesb opened #6182 "Terraform sending api command to wrong AWS endpoint"
...delete this...

[2016-04-14 21:14] jtopjian commented on #6155
@Fodoj Looks like my patch already had that covered :)

It does not allow someone to specify both a top-level and network-level floating IP, so because of that, your use-case is implicitly satisfied.

Check out #6181 and let me know if you have any problems!

[2016-04-14 21:17] xunnanxu commented on #1178
:+1:

[2016-04-14 21:19] jtopjian commented on #6166
hm, I'm not entirely sure about etcd stuff. A quick search in the issues and prs didn't turn much up, but I really only focus on the OpenStack side.

I agree - once there's better access to the Glance/Image API, adding support for image querying will be possible to do.

[2016-04-14 21:29] #6182 closed

[2016-04-14 21:54] bigkraig commented on #2143
:+1: this is important for the api gateway

[2016-04-14 21:56] mengesb opened #6183 "Terraform allows aws resource use without defining `provier "aws"`"
Hi there,

Came across this actually a couple of times. In some regards, it is nice that using AWS resources clues terraform in to "hey, we're using the terraform provider!" however if you use environment variables, and write  a plan to override those variables and omit the provider, you are in a lost world of hurt.

Ideally it would be nice if Terraform notices that you've defined aws resources,

[2016-04-14 23:01] coen-hyde commented on #2143
As linked above this is breaking `advanced_options` for AWS's Elasticsearch service. Would be great to get this fix.

[2016-04-14 23:03] zeninfinity commented on #3373
Just ran into this issue today.  Would love more detailed output.

[2016-04-15 01:25] joshrtay commented on #6092
is there any reason this can't be implemented before fixing #2143? i assume this would work with JSON syntax and it's critical for us.

[2016-04-15 02:02] Lifto commented on #5095
using
variable "foo" {
  type    = "map"
  default = {}
}
gives this kind of error:

Error running plan: 1 error(s) occurred:

* 1:3: unknown variable accessed: var.foo.bar in:

${var.foo.bar}

[2016-04-15 02:23] jtopjian commented on #6166
@jseaidou I'm going to go ahead and close this issue with the understanding that more intelligent image querying will be investigated/implemented once the Glance/Image API lands in Gophercloud. Please feel free to re-open if you'd like to discuss further :)

[2016-04-15 02:23] #6166 closed

[2016-04-15 02:25] u2mejc commented on #6176
@phinze Thank you for taking the time to comment and to speak candidly. I had previously started using Terraform a year ago and stepped away for a short while. It was refreshing to come back and find a bunch of pain points now resolved! Please keep up the great work! :+1:

I wanted to follow @thegranddesign 's comments, but instead of addressing issues, addressing PRs. I'm sure you familiar with d

[2016-04-15 03:01] joshrtay commented on #6092
Another options here is to expose a different API:

It looks like AWS sdk go expects the following for response paramaters:
[code]

While aws sdk node expects:
[code]

If terraform exposed an api that looked more like nodes, would we be in the clear?

[code]

[2016-04-15 03:10] joshrtay commented on #6092
Welp forget that. Just realized I mixed-up the types for integration response and method response parameters.

[2016-04-15 03:33] joshrtay commented on #6092
I think the observation stands though. We can change up the terraform api so that there are no dots in keys.

method response response parameters could look like:

[code]

and integration response could look like:

[code]

Then the provider can change the keys to be of the form `integration.response.header.{name}`

[2016-04-15 03:54] joshrtay commented on #6092
Then, assuming I have the prefix right, the code becomes:

[code]

[2016-04-15 05:08] atward commented on #6082
I am also seeing this. Terraform is modifying roles that are not even defined in terraform. Example below shows it modifying the default created 'aws-elasticbeanstalk-ec2-role' by elasticbeanstalk.
[code]
config below:
[code]

Looking at the state shows all the attachments of a hardcoded policy, even if they do not relate to an attachment:
[code]

This ties in with #5947. It is documented in the t

[2016-04-15 05:10] atward commented on #6045
I am also seeing this. Terraform is modifying roles that are not even defined in terraform. Example below shows it modifying the default created 'aws-elasticbeanstalk-ec2-role' by elasticbeanstalk.
[code]
config below:
[code]

Looking at the state shows all the attachments of a hardcoded policy, even if they do not relate to an attachment:
[code]

This ties in with #5947. It is documented in the t

[2016-04-15 05:16] atward commented on #5483
Seconded.

The problem here is that the relationship of the attachment is 1 policy : many roles/users/groups. Terraform is viewing the attachment from the perspective of the policy. Perhaps an alternative resource/mechanism to attach many policies to 1 role/user/group would suit.

[2016-04-15 09:35] robholland commented on #6152
This is a duplicate of #6005 (same symptom and presumably underlying cause).

[2016-04-15 13:31] cmlad commented on #1815
@c4milo, I'm still trying to reproduce the issue with stand-alone config, as the config we use is part of a huge deploy system which I cannot share.

In the meantime, here is the debug-level log of the issue.

It seems to be a race condition where AWS has not yet prepared/creating the EIP, so I think for reproducing you need to run on a machine that is physically close (we run on an EC2 instance)

[2016-04-15 14:27] davidblewett commented on #3108
+1 lifecycle

[2016-04-15 14:38] wleese commented on #3166
Will this ticket be re-opened by the way?

[2016-04-15 15:10] mblankleder commented on #2114
+1

[2016-04-15 15:30] serialseb commented on #4084
I've been abusing this a bit on some automation scripts. The problem is that you can't use the output of `null_resource.triggers`, or even `length(null_resource.stuff.*.id)` as it barks with a `resource count can't reference resource variable: null_resource.environments.*.triggers.name`.

I'd find it very useful to have a let, that can only interpolate, just like `count`, other variables, but be i

[2016-04-15 15:59] ketzacoatl commented on #4169
The mangled nature of variables and data sources, _seriously_ limits our ability to bring Terraform to larger teams with high-security requirements (eg, Atlas would only be considered if it were on-prem). Considering the overwhelming support for this proposal, has this been included in a concrete roadmap, or still an ephemeral future todo?

[2016-04-15 16:29] coen-hyde commented on #4169
@ketzacoatl As a work around you could wrap the terraform execution and pull data from other sources then set them as ENV vars. This is what we do. This allows us to have environment specific configs, latest ami's and secrets.

[2016-04-15 16:58] octalthorpe commented on #2824
+1
Simply having support for -state and -backup apply to remote state would solve our issues as well.
We have many deployments that we have seperate terraform configs for and want to keep isolated for reason I think a very important, i.e. staging deployments should never play in production environments.

[2016-04-15 17:03] ketzacoatl commented on #4169
Right, I'm completely aware of that possibility (see https://groups.google.com/forum/#!topic/terraform-tool/5WInahdIQm4), but a work-around like this is cumbersome and kludgy (as others have noted). It's also a bit difficult for me to get developer/engineering attention on creating a tool for that (and which would sufficiently meet the needs of our different environments) when this issue is an obv

[2016-04-15 17:04] yogeshnath commented on #6076
I see the same issue. Is it going to be fixed in the next release or should I roll back to 0.6.12?

[2016-04-15 17:12] pgray commented on #5483
@atward #4016 solves this. I wish someone would review/merge it.

[2016-04-15 17:27] aespinosa opened #6190 "Allow the PUT method in the http remote state backend"
This is in addition to the POST method in https://github.com/hashicorp/terraform/blob/master/state/remote/http.go#L135

My use case is I want to use Nexus [1](or any WebDAV enabled server) to store my remote state in.  As I understand, for WebDAV, placing individual files needs the PUT method instead of POST [2].

Allowing the http backend's `Put()` method to be configured to send PUT requests sho

[2016-04-15 17:28] sarkis commented on #3715
:+1: experiencing the exact problem here, agree this is a problem with the provider as well.

[2016-04-15 17:35] aviflax commented on #3108
+1 lifecycle please!

[2016-04-15 17:49] apparentlymart commented on #4169
@ketzacoatl, @jen20 and I are currently working on this, and it's slated to be in the 0.7 release. I gather it's the last significant feature for that release so my assumption would be that 0.7 lands shortly after this does, though @jen20 (as a Hashicorp staffer) would know better than me on that front.

This feature is a tricky one because it touches basically ever layer of Terraform, so it'll pr

[2016-04-15 17:53] ketzacoatl commented on #4169
That sounds wonderful, and I will (patiently) look forward to testing the RC when it is available. Thanks for your confirmation @apparentlymart, not to mention all your hard work on this!

[2016-04-15 17:58] mtougeron commented on #4169
@apparentlymart woohoo! I'm super looking forward to this functionality. :) Thanks for the update.

[2016-04-15 18:03] apparentlymart commented on #3715
Terraform's general policy is to avoid quietly "taking ownership" of pre-existing resources, since once Terraform is managing a resource it may get updated or deleted by Terraform and cause irreparable damage to existing infrastructure that the user did not intend to manage with Terraform.

However, I can certainly empathize with the frustration here having gone through similar hurdles migrating o

[2016-04-15 18:03] #3715 closed

[2016-04-15 18:17] tparnell8 commented on #581
:+1:

[2016-04-15 18:48] chrislovecnm commented on #4713
@benlangfeld this may be related to https://github.com/hashicorp/terraform/pull/4283 ... Which is needs more testing.  Let me know if you want to test a branch that I have.

[2016-04-15 19:02] chrislovecnm commented on #6174
@benlangfeld this may be related to #4283 ... Which is needs more testing. Let me know if you want to test a branch that I have.

What is going on with the logs on the vm and the logs / messages in vSphere??

[2016-04-15 19:27] phinze commented on #6176
Hi @u2mejc, you make great points about PRs and the nature of the time and effort behind them. This is 100% in line with our thinking and the conversations we're having about how us HashiCorp employees can better help the Terraform community.

In fact, we elected as a team to focus on PR pulse as an internal priority precisely because we want to do everything we can to acknowledge and respect the

[2016-04-15 19:50] wstaples opened #6192 "aws_opsworks_stack custom cookbook password keeps re-applying"
### Terraform Version
v0.6.14

### Affected Resource(s)
- aws_opsworks_stacks

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform should have created the stack and set a value to the password field. On subsequent plan runs Terraform should report
`No changes. Infrastructure is up-to-date.`.

### Actual Behavior
Terraform correctly creates the stack and sets the password. How

[2016-04-15 20:51] chrislovecnm commented on #5933
@dkalleg can you and @kristinn work this out??  Happy to give my two cents worth.  READY, SET, GO!!!!

[2016-04-15 20:53] tmulhern3 opened #6193 "shared_credentials_file for aws provider does not expand `~/<path>`"
The `aws` provider does not expand the user's home directory `~/` for the `shared_credentials_file` argument. See below:

`provider "aws" {
    shared_credentials_file  = "~/.aws/credentials"
    profile                  = "Profile"
    region = "${var.region}"
}`

Error message: `No valid credential sources found for AWS Provider.`

Please note that and error does not occur when supplying the ful

[2016-04-15 21:00] chrislovecnm commented on #5913
Is this related?? https://github.com/hashicorp/terraform/pull/4100

[2016-04-15 21:06] chrislovecnm commented on #3535
@mkuzmin do we need to keep it open??

[2016-04-15 21:07] chrislovecnm commented on #3534
@mkuzmin what is the status on this?

[2016-04-15 21:08] chrislovecnm commented on #3562
@eloycoto can we get this documented or close this issue??

[2016-04-15 21:11] chrislovecnm commented on #3578
@catsby please close the PR is in

[2016-04-15 21:11] chrislovecnm commented on #3593
@catsby please close

[2016-04-15 21:12] chrislovecnm commented on #3834
It is done ...

[2016-04-15 21:12] #3834 closed

[2016-04-15 21:13] chrislovecnm commented on #3966
@kc11381 are you able to assist??

@jen20 @catsby can you retag as enhancement?  This is running as designed.

[2016-04-15 21:16] chrislovecnm commented on #4104
@jen20 @catsby please close

[2016-04-15 21:18] chrislovecnm commented on #4755
@gitmayor @p-prakash @ryanl-ee we have an merged PR from windows support https://github.com/hashicorp/terraform/pull/6087

Does this resolve this problem?

[2016-04-15 21:22] chrislovecnm commented on #5894
@Mykolaichenko yes vsphere 6 is supported, and where is the stack trace?

[2016-04-15 21:24] chrislovecnm commented on #5992
More info please

[2016-04-15 21:29] catsby commented on #3578
Thanks for following up

[2016-04-15 21:29] #3578 closed

[2016-04-15 21:30] #3593 closed

[2016-04-15 21:30] #4104 closed

[2016-04-15 21:37] abosley opened #6194 "Terraform on Bash on Ubuntu on Windows"
As an experiment, I attempted to run the Linux version of 0.6.14 on Bash on Ubuntu on Windows - a beta feature on Windows 10.  Running terraform -v generates the following error:

runtime: failed to create new OS thread (have 2 already; errno=22)
fatal error: newosproc

runtime stack:
runtime.throw(0xfb3ab0, 0x9)
        /opt/go/src/runtime/panic.go:530 +0x90
runtime.newosproc(0xc820026000, 0xc820

[2016-04-15 21:43] ElliotG commented on #5582
+1, this is also happening for me. Currently a pretty obnoxious blocker, as every time we apply terraform to re-generate a lambda function we have to manually edit the state file.

[2016-04-15 21:59] RyanBowlby-Reflektion commented on #3629
+1

[2016-04-15 22:02] trodemaster commented on #5913
Yes does seem related to #4100 ! From my quick read seems like resource_pool does not currently work with clusters. If that's the case clearly a big omission. Outside of a lab I would say 99% of vSphere environments are a cluster.

[2016-04-15 22:36] tommymalmqvist commented on #5913
<cluster_name>/Resources/<resource_pool_name>

[2016-04-15 22:40] chrislovecnm commented on #5913
@tommymalmqvist thanks!! I assume that we should add that to the docs?

[2016-04-15 22:44] tommymalmqvist commented on #5913
Good idea, i'll add it as an example.

[2016-04-15 22:45] jen20 commented on #6194
Hi @abosley! Thanks for opening an issue here.

This is deep inside the Go runtime. Go is known to be problematic for system call translation - the experience of Joyent with Illumos LX zones shows that. This is not something we can fix in Terraform - it will require Microsoft to more accurately emulate Linux. Since this is currently preview software and way beyond our control, I'm going to close t

[2016-04-15 22:45] #6194 closed

[2016-04-15 22:50] chrislovecnm commented on #5913
@tommymalmqvist cookie for u!! One thing I was thinking about is mentioning the command line VMware tool that the API provides. You want me to file an issue for doc improvements?

[2016-04-15 22:54] tommymalmqvist commented on #5913
Sure, assign it to me.

[2016-04-15 23:19] chrislovecnm opened #6198 "vsphere provider - improve documentation umbrella issue"
Please improve the documentation with the syntax for resource paths.

cluster_name/Resources/resource_pool_name

In your case it would be:
resource_pool = "MacPro/Resources/Image_Lab"

Also it may be a good idea to mention govc in the VMware go API, great tool for debugging and figuring out stuff like paths.

@jen20 could you assign this to @tommymalmqvist as he offered his assistance!

[2016-04-15 23:20] chrislovecnm commented on #3624
Yo peeps we have a new issue open for documentation improvements - what are we missing in the docs!???

https://github.com/hashicorp/terraform/issues/6198

[2016-04-16 02:06] thegranddesign commented on #6176
@phinze thank you for the amazing response.  I'm looking forward to seeing what you all come up with. :)  I'll close this for now.

[2016-04-16 02:06] #6176 closed

[2016-04-16 07:14] apparentlymart commented on #6192
Oh, whoops... Looks like we missed another one of these odd cases where opsworks returns a placeholder string in place of a secret. This api does this a lot and each case requires some special handling to ignore the value when refreshing.

Thanks for the report! Agreed that the solution here is likely similar to the other one you linked, and indeed a few others. :grinning:

[2016-04-16 07:21] tommymalmqvist commented on #5913
Sorry, moved PR to https://github.com/hashicorp/terraform/issues/6198 this issue instead, fyi.

[2016-04-16 07:36] Tails commented on #443
+1
they are the biggest host. definitely useful

[2016-04-16 07:50] godfryd commented on #5992
What info is needed? Terraform is not able to set MAC address of deployed vm.

[2016-04-16 10:35] GreenEA commented on #4169
ahh… thank goodness for apparentlymart. Sometimes he makes me wish my rain was bigger.

On Apr 15, 2016, at 1:59 PM, Mike Tougeron <notifications@github.com<mailto:notifications@github.com>> wrote:

@apparentlymart<https://github.com/apparentlymart> woohoo! I'm super looking forward to this functionality. :) Thanks for the update.

—
You are receiving this because you are subscribed to this thread

[2016-04-16 15:47] jtopjian commented on #5695
@bryanalves great news!

I'm going to be merging the aforementioned patch that _might_ flip the access ips on you. But short of that, the access IP detection will always be stable.

I agree about, at minimum, documentation and will leave this issue opened as a reminder for me to add it.

[2016-04-16 16:45] sodre commented on #2661
+1

[2016-04-16 17:03] apparentlymart opened #6201 "provider/aws: TestAccAWSOpsworksCustomLayer tests failing inconsistently"
Over in #4272 @stack72 noticed a test failure on the `aws_opsworks_custom_layer` tests which can't be reproduced by the original submitter or by me, and seems at first glance to be orthogonal to that change.

It would appear that something is different about @stack72's configuration compared to @mrjefftang's and mine, but it's not clear what that might be.

In the past we've found issues where tes

[2016-04-16 17:04] chrislovecnm commented on #5992
@godfryd every time I have used the plugin vSphere sets the mac address, not terraform.  So I don't understand why you are expecting or needing terraform to do this.  What is your exact use case?  Why do you expect terraform to set the MAC, when vSphere sets the mac, and then the DHCP server gives the vm a ip.  Are you guys using static MAC addresses??  This is an extreme edge case that is not sup

[2016-04-16 17:05] chrislovecnm commented on #5992
@stack72 this is not a enhancement request btw ... only a question.  I doubt that will will support static mac assignment.  But you never know ... do you.

[2016-04-16 17:11] apparentlymart opened #6202 "provider/aws: Opsworks Resource Tests missing exists/attribute verification"
Most of the acceptance tests for the opsworks resources are creating objects and then testing the Terraform state contains expected values, but aren't actually calling the Opsworks APIs to retrieve the created object and verify that it has the correct attribute values in the underlying API.

In practice much of this is being indirectly tested by the test harness calling `Read` and then checking th

[2016-04-16 17:15] chrislovecnm commented on #5992
@godfryd major edit on the last post, as I did not read 'STATIC MACS' in your issue.  My mistake.  At this point terraform provider does not have the capability to set a mac address.  If that is indeed your use case, please feel free to submit a PR.  You may want to verify that the underlying API supports that first.

Again sorry that I did not read your issue as well as I could.

[2016-04-16 17:38] jen20 commented on #6194
I just found there is an "open" issue tracker for the system call translation on Windows - Terraform working seems to be contingent at least on this:

https://github.com/Microsoft/BashOnWindows/issues/158

We know there is nothing inherently in the Linux binaries for Terraform incapable of working with such systems in general, as it runs fine in an LX zone - so I think the solution here is to just

[2016-04-16 17:48] apparentlymart commented on #5970
#4419 and #3459 are merged now, so I think this issue is resolved... let me know if I missed something else in the comments!

[2016-04-16 17:48] #5970 closed

[2016-04-16 17:49] apparentlymart commented on #3459
#4276 was merged, so I think this is now resolved.

[2016-04-16 17:49] #3459 closed

[2016-04-16 17:50] p-prakash commented on #4755
@chrislovecnm Yes, it worked for me. Thanks!

[2016-04-16 17:54] chrislovecnm commented on #4755
@gitmayor can we close this? Will keep it open a couple of more days

[2016-04-16 19:39] u2mejc commented on #5970
Thank you Martin!!!

[2016-04-16 19:43] chrislovecnm commented on #3624
Ladies and gentlemen, please take a peek at https://github.com/hashicorp/terraform/pull/6204 trying to create onboarding / dev docs

[2016-04-16 19:43] chrislovecnm commented on #6198
Here is another one https://github.com/hashicorp/terraform/pull/6204

[2016-04-16 19:44] chrislovecnm commented on #6198
@catsby @jen20 might I get a documentation label on this umbrella issue??

[2016-04-16 19:48] chrislovecnm commented on #5492
@DDuTCH please submit a PR if you like.  Help is always appreciated!!

[2016-04-16 19:57] chrislovecnm commented on #5422
@user419 what is your vsphere version and licensing level??  This may be a fun one to reproduce.  Are you able to help with debugging?

[2016-04-16 20:16] chrislovecnm commented on #5607
Great find btw, and thanks for the time that you took on this issue ... so this smells like API level fun.

I am thinking that we need to test removing the * out of the code, but then you have to fully reference the network name ... Kinda a catch 22.

Let us ping the guys on govomi: Oooh @pietern @dougm @cblomart is there a better way to design this?  Let me know if your team wants me to open a is

[2016-04-16 20:25] chrislovecnm commented on #5896
@fuhbar @xantheran should we reach out to the govomi folks?

@fuhbar can u use [govc](https://github.com/vmware/govmomi/tree/master/govc) to recreate this?  Recreating this problem with `govc` will also us to isolate it further.

[2016-04-16 20:30] chrislovecnm commented on #5913
@trodemaster can we close this?? We will hold it open a couple more days!

[2016-04-16 20:33] chrislovecnm commented on #5894
@Mykolaichenko can you reproduce any of this using [govc](https://github.com/vmware/govmomi/tree/master/govc)?

[2016-04-16 20:37] chrislovecnm commented on #5843
@xantheran this is a duplicate issue, just asked for advice on how to handle this from a couple of gurus.
Adding required folder names would be a breaking change.  If we force that people would have to update existing TF files to meet the new standard.

Please comment on: https://github.com/hashicorp/terraform/issues/5607

@jen20 @phinze how do you guys handle duplicates??

[2016-04-16 20:38] chrislovecnm commented on #5843
@xantheran actually you opened this issue first :)  I just run into the other one first ... lol.  Appreciate you submitting the issue.  Are you able to assist?

[2016-04-16 20:42] chrislovecnm commented on #5347
@jen20 you think this also may be the ip address issue that we are having?  @tkak's PR https://github.com/hashicorp/terraform/pull/4283  We are really not waiting for the ip address correctly

[2016-04-16 20:47] chrislovecnm commented on #4111
Guys what is a status on this?  I know we are waiting on https://github.com/hashicorp/terraform/pull/4283 to get merged, which will help some of this.

We probably should document a couple of the items on how to setup a image correctly.

Does anyone have packer instructions on setting up a vsphere vm to be used by terraform?

[2016-04-16 20:48] chrislovecnm commented on #3534
@jen20 @catsby Can we close this please??

[2016-04-16 20:49] chrislovecnm commented on #3535
@jen20 @catsby can we close this??

[2016-04-16 20:50] chrislovecnm commented on #3835
@catsby @jen20 @phinze  sorry to be picky but might I get a feature label?  Once I get a darn test bed I want to fix this :)

[2016-04-16 21:56] #6192 closed

[2016-04-16 22:02] bryanalves commented on #5695
So far, in the latest stable version of terraform, access_network has been the IP that I want (the one that I have specified access_network = true in it's network stanza).  I don't know if that's luck or not.

[2016-04-16 22:24] stack72 commented on #5695
@jtopjian not sure if this should be open or closed now? Github tried to auto-close due to the merge

[2016-04-16 22:30] mijit commented on #4111
I can confirm Terraform 0.6.14 with open-vm-tools-deploypkg-9.4.x correctly connects the NIC and allows the VMware custom spec to set static IP, DNS settings, etc. Here's a gist if you're stuck on the older VM tools:

https://gist.github.com/mijit/8689b2b53391d903eea308566ed906f8

[2016-04-17 00:31] chrislovecnm commented on #4111
@mijit do you think it is a timing issue? have you experienced the problem before?  More load on vSphere can slow down ip address allocation, and since we are not doing an IPWait ...

[2016-04-17 00:51] mijit commented on #4111
Not a timing issue as far as I was seeing. The VM and NIC came up, but the NIC was disconnected and never became connected. I am stuck on the older open-vm-tools without deploypkg, and after seeing Illydth's comment, I hunted down the instructions I needed to install it that I put in the gist. That seems to be what I was missing - just confirming it for inclusion in documentation or Packer templat

[2016-04-17 04:53] jtopjian commented on #6155
@Fodoj I just merged #6181 which also included an acceptance test specifically for the scenario you described. Please let me know if something seems off.

[2016-04-17 04:54] jtopjian commented on #5695
I think it's fine to have closed -- thank you for checking 😄

@bryanalves #6181 was just merged. You should not see a (negative) change in behavior, but if you do, please let me know!

[2016-04-17 04:54] #5695 closed

[2016-04-17 04:57] #5802 closed

[2016-04-17 05:02] jtopjian commented on #5545
@civik Thanks for the info 😄

It looks like this first needs to be added to [Gophercloud](https://github.com/rackspace/gophercloud/blob/master/openstack/networking/v2/extensions/lbaas/pools/requests.go). I'll look at getting it added there first.

[2016-04-17 10:25] gitmayor commented on #4755
Thanks. Let me look and back to you.

Dnia 16 kwi 2016 o godz. 19:54 Chris Love <notifications@github.com> napisał(a):

[2016-04-17 12:43] radeksimko commented on #6067
I was thinking about this again when I noticed couple days ago that AWS introduced [`AWS::Lambda::Version`](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-version.html) type for CloudFormation.

I think Terraform could have a similar resource (`aws_lambda_function_version`) which would have similar set of fields

 - `source_code_hash`
 - `description`
 - `functio

[2016-04-17 15:13] apparentlymart commented on #6067
@radeksimko, I don't really understand why we'd need to duplicate all the code-location-specification attributes from `aws_lambda_function` on a version. What am I missing? :grinning:@radeksimko,

Looks like your workflow 1 is basically my original proposal, which also happens to (by lucky coincidence) exactly match the CloudFormation model:

[code]

It seems like workflow two could be written as

[2016-04-17 16:01] radeksimko commented on #6067
I'm thinking about how to make this compatible with the "Otto-like" deployment model (`otto infra` + `otto deploy`) - i.e. imagine you have two Terraform contexts/directories (connected via `terraform_remote_state`):

 - 1st for resources that typically don't change per version and you typically don't want to touch nor change by accident (app-specific S3 bucket, DNS, IAM Roles+policies, ELB, Cloud

[2016-04-17 17:50] apparentlymart commented on #6067
Of course where exactly to draw the line between "infrastructure" and "app" will always be very subjective :grinning: but thinking specifically about your IAM example it seems like this is already solved by having `aws_iam_role` as a separate resource which the `aws_lambda_function` can reference. Consequently, I'd be inclined to think of the lambda function as being part of "the app", with it obt

[2016-04-17 17:57] roderickrandolph commented on #3999
To expand on @amochtar's use case, here's an example where `aws_elb_attachment` would be powerful in managing docker containers across an ASG of docker hosts. This allows one to associate containers with an ELB (for port mapping) while also giving them the ability to destroy the containers and ELB without destroying the underlying docker hosts (which may have other unrelated containers running wit

[2016-04-17 18:33] apparentlymart commented on #6072
The resource implementation is certainly *trying* to make this work, as evidenced by [the branch to update the Comment when set](https://github.com/hashicorp/terraform/blob/d750d4d1cccb08f194cdbc9484825f548be286d2/builtin/providers/aws/resource_aws_route53_zone.go#L174-176), so it seems that something more subtle is going on here than just a missing feature.

One possible bug I see there is that i

[2016-04-17 20:58] trodemaster commented on #5913
Yes we can close this one. I agree that some additional doc examples would be very helpful. Do have to say that specifying the cluster and the constant value of "resources" seems redundant. My config already specified the cluster. Might be more elegant to require the cluster value and just create the full path from that.

[2016-04-17 21:19] jonasschneider opened #6210 "Crash on invalid configuration syntax"
This is crashing:

    resource "aws_route_table" "private" {
      route "private-to-vpn-client" {
        destination_cidr_block = "${var.vpn_client_cidr}"
        instance_id = "${aws_instance.vpn.id}"
      }
    }

(I wanted to give the route a name, and I realise it's invalid. It shouldn't crash, though.)

Terraform v0.6.14

Crash log: https://gist.github.com/96787bb2f9503bd7cc6fa43ca050d3e3

[2016-04-17 22:11] jhorwit2 opened #6211 "triton provider key_material does not accept a file as the docs say"
Version: current stable

As you can see in this [PR](https://github.com/hashicorp/terraform/pull/6090/files) `key_file` was changed in favor of `key_material`; however, it was does not work with a file. The private key value is passed to create a new auth object [here](https://github.com/hashicorp/terraform/blob/d1ac7d3b2e1be2f32092275340f33a2d73f7b31a/vendor/github.com/joyent/gosign/auth/auth.go#

[2016-04-17 22:12] chrislovecnm commented on #5913
@trodemaster I would like to follow the standard that govc / govmomi uses. We have multiple points, for instance network names that are not standardized.

That is only a thought, but keeping it the same syntax as what govc / govmomi uses just make sense.

Can I recruit you for some documentation awesomeness??

@jen20 @phinze can we close this issue??

[2016-04-17 22:16] chrislovecnm commented on #5913
@catsby please close pretty please, sugar on top ;)

[2016-04-18 00:34] jlecren opened #6212 "Error while assigning a SSH key to a VM with azurerm"
Hi there,

### Terraform Version
master : 026e488310cdd187ea1daab133ee942d2e0a761f

### Affected Resource(s)
- azurerm_virtual_machine

### Terraform Configuration Files
[Archive.zip](https://github.com/hashicorp/terraform/files/222916/Archive.zip)

### Expected Behavior
Terraform provider "azurerm" should terminate without errors as Azure properly created the virtual machine.

### Steps to Reprod

[2016-04-18 00:41] joshuaspence commented on #6135
+1

[2016-04-18 01:12] gugahoi commented on #5483
+1

[2016-04-18 01:56] joshuaspence commented on #3618
Would the upstream accept a pull-request to simply rename `_local` to `local` and add documentation? Is there anything blocking this?

[2016-04-18 04:12] godfryd commented on #5992
Yes, in our environment we are able to use only manually assigned MAC addresses. So we need terraform to control MAC addresses and preserve them when given virtual machine is being recreated. Otherwise we will be getting randomly generated MAC to the same VM.

[2016-04-18 07:19] ringods commented on #3624
@chrislovecnm didn't find the time unfortunately. Currently swamped with my home renovation, so very scarce on time for the coming weeks.

[2016-04-18 07:30] chrislovecnm commented on #3624
@ringods understand completely. Hope the renovations are awesome once they are done! Appreciate the follow-up!

[2016-04-18 07:42] svanharmelen commented on #5586
@larstobi any chance you got to test this? And/or any chance you can test this with a build from master? Would be cool to know if we can close this one...

[2016-04-18 09:05] larstobi commented on #5586
I'm doing it now. :-)

[2016-04-18 09:14] gonzaloserrano commented on #5677
More or less same thing after upgrading from 0.6.13 to .14:

[code]

Regards,

[2016-04-18 09:55] svanharmelen commented on #5586
Cool, let me know the results and/or any findings you may have...

[2016-04-18 10:57] anosulchik opened #6214 "Can terraform save hash of S3 object in tfstate?"
Hi there,

I'm trying to make terraform to detect local changes to file that was used to create S3 object - so in case local file is updated then terraform should create new version of S3 object from it.

Here's what I'm talking about:

[code]

After first 'terraform apply' S3 bucket and object in it are created like a charm. But once I change contents of local_file and do 'terraform apply' then n

[2016-04-18 11:12] larstobi commented on #5586
@svanharmelen Tested, and working as advertized. 👍 Thanks!

[2016-04-18 11:12] #5586 closed

[2016-04-18 11:14] svanharmelen commented on #5586
Nice! Thanks for the feedback!

[2016-04-18 11:27] radeksimko opened #6215 "core/schema: Add support for map w/ structured values"
### Terraform Version

`Terraform v0.6.14`

### Terraform Configuration Files

[code]

### Expected Behavior

[code]

### Actual Behavior

[code]

### Steps to Reproduce

[code]
[code]

The current schema does support `TypeMap` which translates into `map[string]interface{}`. The interface is then decoded via `mapstructure`:
https://github.com/mitchellh/mapstructure/blob/master/mapstructure.go#L70

[2016-04-18 11:46] stack72 commented on #6212
Hi @jlecren

I am actually debugging this same issue for another user right now :) I will keep you informed about it's progress

Paul

[2016-04-18 12:01] attenda-pjaquenoud commented on #1557
+1 please please

[2016-04-18 13:51] wnkz opened #6217 "InvalidCloudWatchLogsRoleArnException when updating aws_cloudtrail"
### Terraform Version

`Terraform v0.6.14`
### Affected Resource(s)
- aws_cloudtrail
### Terraform Configuration Files

[code]
### Debug Output

`plan`:

[code]

`apply`:

[code]
### Expected Behavior

The trail should have been updated.
### Actual Behavior

`InvalidCloudWatchLogsRoleArnException` is returned, my guess is that the AWS API is requiring both `cloud_watch_logs_role_arn` and `cloud_wa

[2016-04-18 14:21] ajlanghorn commented on #3108
+1 lifecycle!

[2016-04-18 14:30] catsby commented on #6214
Hey @anosulchik – you can set the `etag` attribute on the bucket object:

- https://www.terraform.io/docs/providers/aws/r/s3_bucket_object.html

So, it would look like this:

[code]

That will calculate an MD5 of the object and detect changes.

Let me know if you have any other questions!

[2016-04-18 14:30] #6214 closed

[2016-04-18 14:35] #5913 closed

[2016-04-18 14:37] phinze commented on #1414
Going to close this issue since it hasn't seen any activity in a long time, but we'd happily accept a PR for functionality like this!

[2016-04-18 14:37] #1414 closed

[2016-04-18 14:38] catsby commented on #6210
Hey @jonasschneider – is there any more to this story? I tried to reproduce your example and I don't get any crashing (both using Terraform v0.6.14 and a build from `master` branch):

[code]

output:

[code]

Your crash is giving this error:

    panic: runtime error: index out of range

Sounds like some configuration syntax is using splats, or arrays of sorts. Is there anyway to share all (or mor

[2016-04-18 14:38] phinze commented on #1822
Hi @radeksimko - is this still a valid issue? The AWS authentication code path has gone through multiple iterations since this was filed. Happy to keep it open if so, just checking! 😁

[2016-04-18 14:49] phinze commented on #2172
This is still a good idea I think! Refiled in the now-shared upstream library.

[2016-04-18 14:49] #2172 closed

[2016-04-18 14:57] tilgovi commented on #1822
I don't fully understand the ask, but as far as I can tell setting credentials from the environment works fine. But maybe the ask is to error out if, say, `AWS_PROFILE` isn't set? It sounds like the ask is that @radeksimko wants to use environmental configuration but doesn't want to accidentally use the wrong account if it's the default. I don't really understand, though. In that case, can't you j

[2016-04-18 15:17] phinze commented on #3679
Hi folks!

The core of this issue is that the splat operator only has defined behavior for collecting lists of resources that were created using the `count` meta-parameter. The fact that it sometimes works to collect set elements is an incidental side effect of it's current implementation.

We'd definitely like to get the splat operator to fully support structured attributes, but today it does not

[2016-04-18 15:54] radeksimko commented on #1822
I still think it would be nice to make this explicit, rather than implicit, so that I can say e.g. _"Always use ENV variables and never fall back to EC2 metadata API"_.

I think I could make this possible fairly easily after https://github.com/hashicorp/terraform/pull/5030 which also includes a decent refactoring. I'm happy to come up with another PR after #5030 .

This is now possible, although n

[2016-04-18 16:00] radeksimko commented on #3108
See S3 lifecycle PR in https://github.com/hashicorp/terraform/pull/6220

Feel free to post any feedback related to the implementation there ^

[2016-04-18 16:02] #5971 closed

[2016-04-18 16:12] janschumann opened #6221 "provider-aws: Creating Opsworks Stack fails with default OS Ubuntu 14.04 LTS and Chef version 11.10"
### Terraform Version
Terraform v0.6.15-dev (a3db93245c09e4c619b67310cc03b3c191c6b87c)

### Affected Resource(s)
- aws_opsworks_stack

### Config
[code]

### Debug Output
[code]
### Panic Output
[code]

### Expected Behavior
The desired configuration should work, as it can be created via the aws console.

### Actual Behavior
Stack creation fails due to the error described above. Please note that t

[2016-04-18 16:23] xantheran commented on #5607
I am happy to help test this issue.  Give me a couple days to generate some results

[2016-04-18 16:25] xantheran commented on #5843
Yep. commented on issue [#5607 ](#5607) and would be happy to assist.

[2016-04-18 16:37] xantheran commented on #5896
Does the user@domain account have read access to the root level in cluster clust01 on dc FFM?

[2016-04-18 16:49] chrislovecnm commented on #5607
@dkalleg, @kristinn, @tkak we have an interesting feature in our code :) Two main things are being reported:

1. Our code does not support full path notation for a network device.  For example '

[code]

https://github.com/hashicorp/terraform/issues/5843

2. Our code's search method allows for wildcard search results to be found.  You have QA1 an QA2 networks, and you should get this codes results

[2016-04-18 16:51] chrislovecnm commented on #5607
@xantheran and @kzittritsch dragged a couple of other active developers in to see if we can come up with a better solution that I am thinkin of ;)

[2016-04-18 17:20] cristobal23 commented on #6067
Is anyone here pinning their lambda function versions to version aliases?  http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html Perhaps we could use a new resources `aws_lambda_function_alias` and `aws_lambda_function_alias_version` which seems to be more CRUD like.

[2016-04-18 17:30] jrnt30 opened #6222 "provider-aws: Intermittent Race Condition with Ec2 Metadata service/credentials"
### Issue:

While `plan` or `apply`ing our infrastructure when using the EC2 Metadata Service for TF AWS credentials we are seeing intermittent issues with our larger TF stack where we receive varying numbers of `No valid credential sources found for AWS Provider.` error messages.

A few things to note:
- Doesn't ever happen on some of our smaller TF stacks
- If we pass the credentials via environ

[2016-04-18 17:31] jrnt30 commented on #6222
@phinze Per our conversation in chats today. Thanks for your help as well

[2016-04-18 17:57] chrislovecnm commented on #5896
@fuhbar can you verify @xantheran's question.  `govc` is a good tool to do this with.  It is a go cli that is awesome.  Located [here](https://github.com/vmware/govmomi/tree/master/govc).

[2016-04-18 18:11] andymc904 commented on #2098
+1

[2016-04-18 18:13] wr0ngway commented on #1240
+1

[2016-04-18 18:26] jonasschneider commented on #6210
Sorry, I messed with the snippet before I posted it to cut out some
parts (which I thought were harmless). I'll try to reproduce and post
a better config.

On Mon, Apr 18, 2016 at 4:39 PM, Clint <notifications@github.com> wrote:

[2016-04-18 18:52] Gary-Armstrong opened #6223 "I believe aws_ebs_volume parameter "size" is not Optional"
Hi there,

### Terraform Version
Terraform v0.6.14

### Affected Resource(s)
aws_ebs_volume

### Terraform Configuration Files
[code]

### Expected Behavior
Documentation specifies 'size' is optional.
https://www.terraform.io/docs/providers/aws/r/ebs_volume.html

### Actual Behavior
[code]

### Steps to Reproduce
1. Create resource as above.
2. `terraform plan`
3. Nod head.
4. `terraform apply`
5.

[2016-04-18 19:40] svanharmelen commented on #6101
@Firxiao sorry for the delay... I found the problem causing this bug. This is due to a change in the API response given by the CloudStack API.

I will discuss with some CloudStack developers tomorrow to see when this change was introduced and based on that info discuss the way forward. Because fixing this for the newer CloudStack versions will automatically mean that it will be broken for older Cl

[2016-04-18 20:17] xantheran commented on #5607
I am able to test for vsphere 5.5 and 6 in clustered environments as well.

[2016-04-18 20:24] u2mejc commented on #6221
I was docuemnting this too, I belive this is a known regression:
* https://github.com/hashicorp/terraform/pull/5724 - Add DefaultOs on Stack creation (fix Windows stack issue)

It actually breaks even more distos, including AWS linux distro, RHEL and anything dependent in the stack (newly merged instances and apps support, etc).

Related:
* https://github.com/hashicorp/terraform/issues/5958 - AWS

[2016-04-18 20:48] catsby commented on #6183
Hello @mengesb –

Thanks for taking the time to open an issue here! Let’s see if I can help
explain some things, and I do have a question for you. But first..

The ability to omit the provider block is intentional. When Terraform runs, the
needed Providers are determined based on the configuration, and are loaded and
configured.

In the case of AWS, most fields are optional in order to allow vario

[2016-04-18 20:57] chrislovecnm commented on #5607
@xantheran can you test a branch I have? I can ping you the info - we can take it to email or another issue

[2016-04-18 21:11] mengesb commented on #6183
So the situation I had with this was that a module of my plan didn't define the provider. The other modules, however, did. The plan was setup such that you can pass items to the provider and potentially deploy different modules to different aws regions, however because this particular module didn't define the provider, it used the 'aws' provider with my shell environment variables, not even a prev

[2016-04-18 21:13] willrstern commented on #5394
Is there any update on this one by any chance?  It would be awesome to be able to manage clusters and stacks in code!

[2016-04-18 21:58] joshrtay commented on #6092
@radeksimko would love to get your thoughts on changing the api to avoid #2143

[2016-04-18 22:07] CpuID opened #6228 "Policy on new provider acceptance tests - keys for Travis CI"
I just wanted to verify the policy on providing keys to the HashiCorp team for Travis CI runs on new providers?

[2016-04-18 22:25] snorberhuis opened #6229 "Starting commands with screen or nohup are not kept running."
I provision several machines using Terraform. I also want to use Terraform to start the service it has to provide using ssh and a command, so that I not need something else to do this. The behaviour I expect is that Terraform is able to do this using `screen` or `nohup`:

[code]

or

[code]

But these commands are not kept running for no apparent reason. I checked the machines and the commands are

[2016-04-18 22:34] clstokes commented on #6212
Related to #5793.

[2016-04-18 22:41] mtougeron commented on #4361
@catsby Any chance this is somewhere on Hashicorp's radar for implementation? Not being able to set a replication group is preventing us from being able to use Terraform to deploy our redis clusters in AWS.

sorry to ping you directly, I just know you've worked on some of the AWS providers :)

[2016-04-18 22:43] vancluever opened #6230 "Issue with new map check code"
Having issues with a specific commit right now - d7d39702c04b3ae5e2df0b50c6a7aa9b479d19b3.

Given a configuration snippet like this:
[code]

Which is then called off of something like:

[code]

I'm getting (paraphrased):

[code]

Reverting the commit fixes the issue.

It should be noted that I am not strictly working off strings here, as these are older modules that are taking "boolean" values, th

[2016-04-18 22:50] mtougeron commented on #6136
FYI, this should be fixed via #5862

[2016-04-18 23:19] #2832 closed

[2016-04-18 23:19] #4443 closed

[2016-04-18 23:19] #4865 closed

[2016-04-18 23:33] clstokes commented on #5942
This is a bigger issue than just the error message. This could lead to unintentional data loss.

This is because Google is deleting the attached disk separately from Terraform managing it. This has several consequences - it's annoying (best case), it breaks Terraform's resource graph for taints, recreating the instance, etc, and could very likely could delete my disk when I didn't want it too (wor

[2016-04-18 23:44] phinze commented on #6211
Hi @jhorwit2 - the `file()` interpolation function is the intended way to lift file contents into config. Will get the docs fixed up on this!

Should be:

[code]

[2016-04-18 23:46] #6211 closed

[2016-04-19 00:12] phinze commented on #5942
Good points @clstokes - @lwander @evandbrown does the above make sense to you as reasonable changes to make?

[2016-04-19 02:26] paul opened #6232 "Bug: terraform apply is trying to change a boolean "true" to "1""
Apologies if this is already opened, I tried searching, but searching "boolean", "true" and "1" returned a bunch of unrelated issues.

Terraform version 0.6.14.

Output of `terraform plan`

[code]

`terraform apply` results in an error for both resources:

[code]

`blue.tf` (`green.tf` is identical, aside from the name):

[code]

Thanks!

[2016-04-19 02:46] zhefanlin commented on #6108
not sure if this error related to the aws ami.
The "ami-c796bcad" I was using could reproduce this error everytime

[2016-04-19 03:11] jaygorrell commented on #5821
I ran into this also. Just change to unix/osx (LF) line endings for the scripts/*.sh files and you'll be good to go, even with the latest version... no need to pull b4dfd0. Most good editors can do this for you.

[2016-04-19 03:15] kmamykin commented on #6067
I have been experimenting with both CloudFormation and Terraform to setup an decent automatic CI deploy process to aws. Ideally the CI process would build/zip/upload the ${commit}-build.zip to a bucket and configure a new version of lambda function(s) with that code (keeping old versions and their config immutable).

TLDR: From what I've learned, I would vote in favor of `publish_version` property

[2016-04-19 03:24] beeerd commented on #5595
+1

[2016-04-19 05:13] #3836 closed

[2016-04-19 05:14] chrislovecnm commented on #6198
@stack72 👍👍

[2016-04-19 06:31] kmamykin commented on #6067
Here is my basic support: https://github.com/hashicorp/terraform/pull/6233
Looking for someone to review if I am moving in the right direction

[2016-04-19 06:43] JorritSalverda opened #6234 "google_compute_instance_group_manager does not get destroyed when google_compute_instance_template does, resulting in error"
When changing metadata in google_compute_instance_template - which is set via a template_file - the depending google_compute_instance_group_manager does not get rebuilt

[code]

Tainting the google_compute_instance_group_manager  still results in an error because it's simultaneously destroyed with the google_compute_instance_template, not before.
### Terraform Version

0.6.13
### Affected Resource

[2016-04-19 08:23] hajhatten commented on #6232
Opened a similar case earlier, which got merged with issue #6005

[2016-04-19 08:45] Shruti29 commented on #3721
+1 badly need this :)

[2016-04-19 09:35] Fodoj commented on #6155
No, sorry, it still picks floating ip. I do not specify fixed ip as in your acceptance test btw, that could be an issue.

[2016-04-19 09:46] radeksimko commented on #6092
@joshrtay While I totally understand the need to get this implemented with or without https://github.com/hashicorp/terraform/issues/2143 I'm not entirely sure about this approach.

If we're really going to implement this without #2143 I believe there should be an _easy_ way to migrate users to the correct DSL once #2143 is fixed.

I was thinking along the lines of raw JSON, e.g.

[code]
it may not

[2016-04-19 09:53] Fodoj commented on #6155
Looks like it still uses floating ip in fixed private ip is not specified for access network, so bug still persists. :(

[2016-04-19 10:23] majormoses commented on #4974
@phinze @catsby @jen20 any idea when this is going on the roadmap? If this is not on the somewhat short term roadmap would the best bet be to resort to using the template resource?  https://www.terraform.io/docs/providers/azurerm/r/template_deployment.html

[2016-04-19 10:28] anosulchik commented on #6214
Thanks @catsby !

[2016-04-19 10:33] Fodoj commented on #6155
My best  guess is that it happens because fixed_ip_v4 is computed in case its not specified in template, thus during getINstanceAccessAddresses method execution it is empty?..

[2016-04-19 10:36] nagardd commented on #5399
Hi Paul,

Sorry for late replay. I was busy with other stuff.
I tested this with correct credentials (with credentials that I have access to AzureRM via Python) and there is no crash!!

The crash is with the credentials (correct credentials) that I have no access to AzureRM with SDK.
So the license type (pay-as-you-go) has limits that deny python and other automations.

Thanks for help.

[2016-04-19 11:24] stack72 commented on #5399
@nagardd

This is good news. thanks for letting me know

Closing this now

P.

[2016-04-19 11:24] #5399 closed

[2016-04-19 11:30] anosulchik opened #6236 "etag for AWS lambda resource"
Hi there,

I'm creating lambda function with terraform with the following configuration:

[code]

When terraform runs for the first time when lambda doesn't exist than all works fine -- terraform creates new lambda function from ecs_autoscale.zip file. But in case ecs_autoscale.zip is updated and terraform is applied -- nothing happens, terraform doesn't detect changes and does nothing with lambda

[2016-04-19 11:53] ZZelle opened #6237 "OpenStack cacert_file option not documented"
Hi there,

According to [OpenStack provider code](https://github.com/hashicorp/terraform/blob/f2fef2556a6983d7c432dc9f2a063bcbce4bfaf4/builtin/providers/openstack/provider.go#L120), cacert_file option or OS_CACERT env variable can be used to provide a specific CA file but is not documented in [associated documentation](https://github.com/hashicorp/terraform/blob/master/website/source/docs/provider

[2016-04-19 12:39] lwander commented on #5942
I agree @clstokes, this config should throw an error on `apply`.

[2016-04-19 13:24] Firxiao commented on #6101
OK, I see, thanks anyway.

[2016-04-19 13:33] svanharmelen commented on #6101
FYI, looking into a solution right now... Will probably add a PR to fix this later today...

[2016-04-19 13:58] davyt10 opened #6239 "Feature request - Support for Instance creation across Availability Zones while using count"
Support for Instance creation across Availability Zones while using count. So for example specify what AZ's are in play and set count to 2. During instance creation terraform will evenly create distribute instance across AZ's

[2016-04-19 14:00] kristinn commented on #5607
It would be best to keep the label key and intelligently resolve it to the correct network/vlan.

[2016-04-19 14:28] jtopjian commented on #6155
@Fodoj Thanks for checking. I'm re-opening this and will look into it.

[2016-04-19 14:37] xantheran commented on #5607
I would be happy to help test your branch @chrislovecnm email me the details and we can go from there

[2016-04-19 14:55] apparentlymart commented on #6236
Hi. @anosulchik!

I believe the equivalent of `etag` for Lambda functions is `source_code_hash`, which can be set this way:

[code]

[2016-04-19 15:29] radeksimko commented on #6236
Even though it's mentioned in the docs it probably isn't as visible as it can be, I guess?
https://www.terraform.io/docs/providers/aws/r/lambda_function.html#source_code_hash

Users may not realise that there are some (not entirely straightforward) steps required to make updates work with `filename`.

[2016-04-19 15:46] partamonov commented on #5687
@apparentlymart I've started today. Will create PR by the end of the week

[2016-04-19 15:47] partamonov commented on #5404
Can be related to #5687

[2016-04-19 15:55] colout commented on #3888
All,

I found a thread that addresses the counting issue, and it appears a fix is in the works.

From https://github.com/hashicorp/terraform/issues/4169:
"This limitation on count exists because the value of count must be known during the plan phase, and thus it is impossible to complete the plan if the count value were a resource property that is not known until after apply."

The proposed soluti

[2016-04-19 15:59] fuhbar commented on #5896
@xantheran @chrislovecnm Thanks for your support. Nailed it down to insufficient Permissions.

* [govc](https://github.com/vmware/govmomi/tree/master/govc) delivered the same results as terraform does: `govc: not supported (vCenter only)`
* Tried local Administrator account instead of LDAP connected one, this time with success

Will investigate which permissions were missing tomorrow. Will report

[2016-04-19 16:02] joshrtay commented on #6092
That works for me.

When using JSON syntax I assume you'd still have to use the `response_parameters_in_json` field name and it would look something like?

[code]

[2016-04-19 16:32] chrislovecnm commented on #5896
@fuhbar - problem is definitely something wth perms or licensing.  Let us know what you find out, would be good to document!

[2016-04-19 16:42] radeksimko commented on #6092
If you (for any reason) didn't want to use the _HEREDOC_ syntax I presented in the example above, then yes, it would look exactly like that - including the backslashes.

We could also use `normalizeJson` helper we use elsewhere to ensure that no diffs/updates are generated for whitespace/newline changes.

[2016-04-19 16:44] chrislovecnm commented on #4111
@xantheran the branch that you are testing helps some of this.  Part of this bug is older vmtools, not usin deploypkg, and the other parts was just a timing problem.  @tkak has a PR in, but I like where I put the hook sooner in the code.  I have not put in a PR, because we already sorta have one in!

Frankly this has been a bitch to recreate, but here is my branch https://github.com/chrislovecnm/t

[2016-04-19 16:51] joshrtay commented on #6092
Ok got it. I'd love to get this in master by the end of the week. If it would speed things up, I'd be happy to submit a pull request. Though I have zero go experience.

[2016-04-19 17:05] zeninfinity commented on #1178
+1.  Really need this.

[2016-04-19 17:12] coen-hyde commented on #6086
I just ran into this. But I didn't change the source template file. I did change the template and template variables.

[2016-04-19 17:35] chrislovecnm commented on #5894
@Mykolaichenko please respond otherwise we will close this.  Please feel free to reopen, but I am guessing that you having a api level issue.

[2016-04-19 17:39] chrislovecnm commented on #5945
@stack72 can I get a low hanging fruit and P2 tag??

[2016-04-19 17:40] chrislovecnm commented on #4112
@xantheran  this is a good way to test the branch I have as well :)

[2016-04-19 17:41] stack72 commented on #5945
@chrislovecnm huh? We don't have priority tags

[2016-04-19 17:41] chrislovecnm commented on #3721
@stack72 @phinze @jen20

1. please remove the bug tag
2. please add feature
3. please add P1

[2016-04-19 17:45] chrislovecnm commented on #5945
@stack72 lol ... Insert rimshot... most projects do

[2016-04-19 17:50] chrislovecnm commented on #3721
Pulling in couple more active devs and users:

@dkalleg @kristinn need some design ideas here.  Govomi has added support for datastores, https://github.com/vmware/govmomi/pull/428,  and now it needs to be implemented in TF.  Would either of you be willing to take this on?  I can but it may be a couple of weeks, and the scope is probably not huge.

@hugoboos @tommymalmqvist  @xantheran as vsphere g

[2016-04-19 17:55] chrislovecnm commented on #3534
@stack72 can I get a close 😄

[2016-04-19 17:55] chrislovecnm commented on #3535
@stack72 can I get a close 😄

[2016-04-19 17:56] chrislovecnm commented on #3562
@stack72 this is not a bug, but a documentation need 😄

Please do as you please.  BTW APPRECIATE THE HELP!!!!!!!!

[2016-04-19 17:57] chrislovecnm commented on #3835
@stack72 this again is not a bug, but a feature, and needs docs

[2016-04-19 17:57] chrislovecnm commented on #3966
@stack72 see above comment.  Sorry for the spam, but I be grooming ... I be jamming

[2016-04-19 17:58] chrislovecnm commented on #4755
@gitmayor ping ... will leave this open a bit longer, or you can reopen 😄

[2016-04-19 17:59] chrislovecnm commented on #4867
@radeksimko you think this is because it is a datastore??  That is not currently supported...

[2016-04-19 18:01] chrislovecnm commented on #5180
@pizzaops yep we are working on getting this more stable!!  Appreciate you breaking it for us, because that is the only way it will become more stable!  If you have a chance to run the tests again, please do!

[2016-04-19 18:28] tecnobrat opened #6242 "Beanstalk Changes "succeed" instantly."
When you apply changes to a beanstalk environment, they "succeed" as soon as the API call finishes. However, they can take quite awhile to actually complete after that.

I suggest terraform blocks until the beanstalk environment goes back to a stable state before saying that the apply succeeded.  As it is right now, you can have an apply say it was successful, but its not complete yet.

Also cause

[2016-04-19 18:34] glasser commented on #6230
@jen20  I'm seeing this too, for a map defined in a stack like

[code]

and not actually passed in to the module definition at all.  (ie, the only mentions of this var are that declaration and one use, both inside the module.)

[2016-04-19 18:34] u2mejc opened #6245 "provider/aws: All open OpsWorks issues, with PRs, targeted for inclusion in v0.6.15?"
This is a consolidation of every [known] OpsWorks issue broken v0.6.14, each with a PR, with the hope that we can get OpsWorks stable in 0.6.15! 🚀  Also if anyone sees a PR / Issue I missed, please let me know.
- [x] provider/aws: OpsWorks stack creation brocken - **Released in 0.6.15**
  - This is a bad one, a [PR merged](https://github.com/hashicorp/terraform/issues/5724) caused a regression tha

[2016-04-19 18:48] tecnobrat commented on #6102
@dharrisio did you use latest master in your tests, or did you use the latest release. it appears the bug was fixed after the last release so I'm going to have to wait for another release?

[2016-04-19 19:00] stack72 commented on #5569
Closed in #6244

[2016-04-19 19:00] #5569 closed

[2016-04-19 19:00] stack72 commented on #5905
Closed with #6244

[2016-04-19 19:00] #5905 closed

[2016-04-19 19:00] stack72 commented on #5958
Closed with #6244

[2016-04-19 19:00] #5958 closed

[2016-04-19 19:01] stack72 commented on #6221
Closed in #6244

[2016-04-19 19:01] #6221 closed

[2016-04-19 19:13] dharrisio commented on #6102
@tecnobrat That is correct, I tested this off of a recent master. I think it should be fixed when 0.6.15 is released, although it is currently missing from the changelog.

[2016-04-19 19:26] stack72 commented on #5082
Hi @JamesFenton

I haven't heard if this solved the issue for you. I am going to go ahead and close this out - please let me know if it hasn't

Paul

[2016-04-19 19:26] #5082 closed

[2016-04-19 19:28] stack72 commented on #5384
Hi @mbfrahry

I haven't heard back to see if this helped solve the issue. From the other reported issues that are similar, this solves them. I am going to close this out for now. Please let me know if there is still a problem

Thanks

Paul

[2016-04-19 19:28] #5384 closed

[2016-04-19 19:39] stack72 commented on #6223
Hi @Gary-Armstrong

This is a good find - basically, 1 of size or snapshot_id is required

We can make an ammendment to the docs to support this

Thanks

Paul

[2016-04-19 19:42] mbfrahry commented on #5384
Oh shoot! I was subscribed to a similar issue and thought this one died. I got the documentation for azurerm and it works great! Thanks for looking back on this

[2016-04-19 19:43] stack72 commented on #5384
thanks for letting me know @mbfrahry :)

[2016-04-19 20:08] freefood89 opened #6248 "SIGTERM results in zombie processes"
Terminating `terraform plan` while it's trying to grab resources from AWS  results in unreaped zombies

### Terraform Version
v0.6.9

### Affected Resource(s)
N/A

### Terraform Configuration Files
N/A

### Debug Output
[debug gist](https://gist.github.com/freefood89/2e19cf26b21ebb177002726e9f720168)
[ps aux gist](https://gist.github.com/freefood89/cee9e3a08526826a47b65dde68c7382a)

### Panic Outp

[2016-04-19 20:22] kristinn commented on #3721
@chrislovecnm I would love to. Unfortunately I don't have access to a vmware instance with a datastore cluster configured. I've just used our small vmware setup at work so far while I'm creating PR for TF. 😞

[2016-04-19 20:25] kristinn commented on #5607
@chrislovecnm Is this solved in the branch you referred to?

[2016-04-19 20:28] RevCBH commented on #5951
+1
v0.6.14
v0.6.15-dev (c280d621892be81b99724e3cf86eb6a6e1a84731)

[2016-04-19 20:41] RevCBH commented on #5951
It only appears to fail for me on the count property. For example, when I make a change like this it works:
[code]

It also turns out that the `var.target_cidr_blocks` variable isn't an output from another module here, so I might be seeing a different issue.

[2016-04-19 20:59] dod83 opened #6250 "updating count var changes existing resources (openstack)"
Hello,

While updating the var count (using the openstack provider) from 1 to 2 the following happens:

test> terraform plan -parallelism=1 Refreshing Terraform state prior to plan...

Note: You didn't specify an "-out" parameter to save this plan, so when
"apply" is called, Terraform can't guarantee this is what will execute.

~ module.fe_node.commone_node
    3 resource(s)

Plan: 2 to add, 1 to

[2016-04-19 21:05] chrislovecnm commented on #5607
@kristinn no ... that is just ipWait stuff.  This is an open issue ..

[2016-04-19 21:07] #6223 closed

[2016-04-19 21:08] chrislovecnm commented on #3721
@kristinn any comments about design would be awesome.  Yah lots of bells and whistles ..

[2016-04-19 21:21] #6101 closed

[2016-04-19 21:28] joshuaspence commented on #6223
Shouldn't this requirement be enforced in code as well as documented?

[2016-04-19 22:07] stack72 commented on #6223
@joshuaspence there is currently no way to have schema level validation to have 1 or another value required. The schema states that each of the params are 'optional'

[2016-04-19 22:10] syskill opened #6252 "Dynect "convenient" client cannot create NS records"
This omission is decidedly inconvenient for me.
### Terraform Version

Terraform v0.6.12; doesn't look like this has been fixed in master.
### Affected Resource(s)
- dyn_record
### Terraform Configuration Files

[code]
### Expected Behavior

As indicated by `terraform plan` output:

[code]
### Actual Behavior

[code]

[2016-04-19 22:30] janschumann commented on #6245
@u2mejc As mentioned in #4419, some attributes of an `aws_opsworks_application` resource are not passed to the underlying go idk for some reason.

E.g. the attribute `document_root` is always empty. That is when creating that resource and also when refreshing the state after editing that resource manually.

Can you confirm, that you can not reproduce this behavior? Otherwise I would create an issu

[2016-04-19 22:44] janschumann commented on #5907
I think I found a similar bug while testing #4419 (opsworks app). There some optional arguments can be passed to the aws api depending on the application type. These are passed as `Arguments` of type `map[string]*string`. Probably these two bugs share the same source of pain?

[2016-04-19 23:09] joshuajabbour commented on #2312
I'd find this incredibly handy, in either the form above, or as a third parameter to `lookup` as described in #1505.

[2016-04-19 23:23] jwieringa opened #6253 "Terraform crash when S3 bucket website created with an empty string assigned to index_document"
### Terraform Version

[code]

### Affected Resource(s)

- aws_s3_bucket

### Terraform Configuration Files

[code]

### Working Terraform Configuration Files

[code]

### Panic Output

Terraform `crash.log` https://gist.github.com/jwieringa/f1e8f851274cd56571460aa73ba52ec7

### Expected Behavior

I expected a S3 bucket to be created with a website configuration containing empty values for `index_

[2016-04-19 23:27] dene14 commented on #6102
Hi guys, I'm sorry for not been attended for a while...

I was using the latest release in my tests (0.6.14). And yes, that's pretty strange that nothing related has been added to changelog of upcoming 0.6.15

[2016-04-19 23:39] majormoses commented on #5793
@gdhagger I cant seem to get terraform to accept the ssl cert how did you get that working?

[2016-04-20 00:24] majormoses commented on #5793
I got charles working and see some interesting things. @stack72 I see this that is curious:
[code]

The docs say this is optional: https://www.terraform.io/docs/providers/azurerm/r/virtual_machine.html#computer_name

This is also interesting:
[code]

There is no mention of such requirements in the doc: https://www.terraform.io/docs/providers/azurerm/r/virtual_machine.html#admin_password

Can we pu

[2016-04-20 01:14] joshuaspence opened #6254 "Integer variables are not supported"
I tried to do something like this:

[code]

But it seems that `integer` is not a valid `variable` type.

[2016-04-20 01:23] jhorwit2 commented on #6211
@phinze just submitted a PR #6255 for the documentation a few lines down that still references the key path.

[2016-04-20 02:18] cmlad opened #6256 "Unable to find matching ingress Security Group Rule"
Terraform version: **0.6.14** (latest as of now)
Affected resource: aws_security_group_rule

AWS security group rules are not added to the tfstate file, after correctly being created because they don't appear immediately in the security group check (`DescribeSecurityGroups` request in https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_security_group_rule.go#L160)

[2016-04-20 05:46] Shruti29 commented on #3654
I am trying to use terraform in production and failing to do so because of this issue. I understand this was fixed before in #1260. Can someone help me fix this issue?
@phinze

Using terraform version : v0.6.14
1. Not using any packer AMIs. We are importing the AMIs into AWS using vmimport.
2. The terraform config which is causing the issue
[code]

**Terraform output everytime I run terraform plan

[2016-04-20 05:51] Mykolaichenko commented on #5894
@chrislovecnm  i will get you additional info, sorry for stack trace - that service not stored shared code permanently

[2016-04-20 07:45] gitmayor commented on #4755
Thank You

Dnia 19 kwi 2016 o godz. 19:59 Chris Love <notifications@github.com> napisał(a):

[2016-04-20 08:15] Firxiao commented on #6101
Thank you very much!

[2016-04-20 10:17] ninjaMog opened #6257 "Recurring plan issue with aws_elastic_beanstalk_environment and aws:autoscaling:launchconfiguration:SecurityGroups setting"
Hi there,

### Terraform Version
Using Terraform v0.6.14

### Affected Resource(s)
aws_elastic_beanstalk_environment

### Expected Behavior
When applying custom security groups to instances in a beanstalk using aws_elastic_beanstalk_environment and the "aws:autoscaling:launchconfiguration:SecurityGroups" setting, subsequent plans should show no changes required.

### Actual Behavior
Subsequent pla

[2016-04-20 10:19] mongrelion opened #6258 "Provider teardown"
Hi!

The Provider API could use a `TeardownFunc` method just like it offers a `ConfigureFunc` method.
Basically, some use cases need to make a final call to some API after the whole Terraform run is done, say, for example, in cases where the client used to communicate with the API does not support token-based authentication but instead user/password combination, and must make a call in the end to

[2016-04-20 10:41] stack72 commented on #3108
Lifecycle PR (#6220) has been merged

Can someone summate what is still missing from this issue? @packplusplus ?

[2016-04-20 11:24] wallies commented on #5672
I recently got this exact same crash.log, on the same version of terraform. Here is my resource.

[code]

[2016-04-20 14:12] jtopjian commented on #6250
@dod83 This is most likely related to bug #3449. You can be absolutely sure if you're using other interpolation functions with `count` such as `element`. Can you confirm if this is the case?

[2016-04-20 14:28] #6237 closed

[2016-04-20 14:40] liquid-sky commented on #5037
Can confirm this is an issue. I split modules into parts: vpc, hadoop, spark, etc. At first VPC module gets applied where all the subnets and routes are created for later use by the service modules.
When a need arisen to create a route via instance, as it (the instance) is declared in a service module, the only way to do that was to create a new route table and associate it with instance interface

[2016-04-20 14:44] packplusplus commented on #3108
I updated the original issue with strike thrus (good idea @steve-jansen).

@stack72  do you want to see these issues split out so you can wrestle them better, or do you like it in one place to point to?

What's left:
* Turn on / off Requestor pays - Not hugely important, I was just trying to highlight what wasn't supported that existed in aws. No one has +1'd
* [Cross region replication](http://do

[2016-04-20 14:56] stack72 commented on #3108
nice summation @packplusplus - let's leave this issue as the main place right now :)

[2016-04-20 15:09] cmlad commented on #1815
@c4milo I couldn't create a minimal example, but I found the cause.

In `resource_aws_eip.go`, Terraform creates the EIP (`resourceAwsEipCreate`), then immediately assigns it to an instance/network interface (`resourceAwsEipUpdate`), and then immediately queries back its status (`resourceAwsEipRead`).

Not sure if it's the AWS region we're using (us-west-2), or the huge amount of traffic on our ac

[2016-04-20 15:13] cmlad commented on #6256
I was able to work around this by modifying the Terraform source to sleep for 5 seconds before the `resourceAwsSecurityGroupRuleCreate` method calls `resourceAwsSecurityGroupRuleRead`.

[2016-04-20 15:25] jrnt30 commented on #6256
We just ran into exactly the same issue, thanks for diagnosing it, I can stop going over my syntax for the 15th time to validate it...

[2016-04-20 15:26] RevCBH commented on #5951
The error I'm seeing originates here: https://github.com/hashicorp/terraform/blob/master/config/config.go#L198

Instead of an integer string, it's still the whole interpolation expression, in this case `${length(split(",", var.target_cidr_blocks))}`

[2016-04-20 15:28] cmlad commented on #6256
@jrnt30 this is the really dumb way I use to work around it: https://github.com/cmlad/terraform/commit/8f6bf99e4661077e544d2c37eec108e6a4a58006 (also works around https://github.com/hashicorp/terraform/issues/1815, which has the same problem)

[2016-04-20 15:33] jrnt30 commented on #6256
Appreciate it, will dig in and see if what we can learn.  There area  few other resources are a bit "smarter" about the retry/population of state file which may be able to be stolen from (or generalized and reused).

[2016-04-20 15:36] apparentlymart commented on #6258
This seems like a reasonable idea to me!

In the core Terraform layer we have an interface `ResourceProviderCloser` which a provider can implement so that `Close()` will be called on it once it's no longer needed, but as far as I can tell the `helper/schema` layer doesn't actually implement it and so the real-world providers we have today (which all use the schema helper) don't currently support i

[2016-04-20 15:37] hectcastro commented on #3108
Are event notifications covered by https://github.com/hashicorp/terraform/pull/5473? Also, I think adding support for toggling the newly added transfer acceleration feature would be great (landed in the Go SDK yesterday: https://github.com/aws/aws-sdk-go/commit/174327fecba83be58dea4dee0ef1599652e0f2e5):

- https://aws.amazon.com/blogs/aws/aws-storage-update-amazon-s3-transfer-acceleration-larger-s

[2016-04-20 15:52] gdhagger commented on #5793
Re: the charles cert - it's been a while, but I think this is what I did:

I'm running ubuntu, so I copy the Charles ca cert from ```~/.charles/ca/charles-proxy-ssl-proxying-certificate.pem``` to ```/usr/local/share/ca-certificates/charles-proxy-ssl-proxying-certificate.crt```.  Note the change in extension.

Then run ```update-ca-certificates```

Details here: http://manpages.ubuntu.com/manpages/

[2016-04-20 15:57] stack72 commented on #5793
FYI, we are trying to get the next release of Terraform to have the updated SDK so that error messages are not hidden

[2016-04-20 15:58] Dchamard commented on #4361
+1

[2016-04-20 16:09] RevCBH commented on #5951
Here's a trace of all the goroutines running when the error occurs. I can't seem to get anything from debug.PrintStack() inside of this particular thread of execution.

[trace.txt](https://github.com/hashicorp/terraform/files/228331/trace.txt)

[2016-04-20 16:41] majormoses commented on #5793
@stack72 yup I talked with @jen20 about that yesterday

[2016-04-20 16:48] chrislovecnm commented on #3624
Hey vSphere gurus!

Please let us know which PR's are the most important right now.  I would like to help Hashicorp with a priority list, so they can get this done!

Thanks

[2016-04-20 16:49] tyrostone opened #6263 "Bastion key and host key must be the same for provisioning to work"
As per the question on Terraform's google group: https://groups.google.com/forum/#!topic/terraform-tool/4Pmq5W8AXDo, I am unable to provision an AWS instance via a bastion host unless I use the same key for both instances.

I was unable to locate a similar issue. If one exists, feel free to reference it.

### Terraform Version
Terraform v0.6.10

### Affected Resource(s)
Please list the resources a

[2016-04-20 17:31] majormoses opened #6264 "Azurerm changing compter_name in vm attempts to change resource rather destroy create"
### Terraform Version
$ terraform --version
Terraform v0.6.14

### Affected Resource(s)
- azurerm_virtual_machine

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Apparently the computer_name is immutable so it can not be changed, this should force a delete and create action rather than a change action.

### Actual Behavior
Terraform submitted the change re

[2016-04-20 17:50] yanatan16 opened #6265 "aws_instance tags don't get created or updated"
### Problem

AWS Instance tags never get applied, even after repeated `terraform apply`. `terraform plan` always reports that the tags are empty and need to be set:

[code]

### Background

Terraform Version: `Terraform v0.6.14`
OS: OSX

Affected Resources: `aws_instance`

## Configuration

This is the primary module being used with a few different roles:

[code]
### Debug Output
https://gist.gith

[2016-04-20 18:00] liammac commented on #3531
+1 really need this as well

[2016-04-20 18:56] stack72 commented on #6264
Hi @majormoses

I am currently trying to get a fix in place for this before the release of 0.6.15

Thanks for reporting it

Paul

[2016-04-20 19:00] rbriancollins opened #6266 "Error with vsphere provider - network not found"
Very new to terraform.  Using version 0.6.14.
### Affected Resource(s)
- vsphere_virtual_machine
### Terraform Configuration Files

[code]
### Debug Output

https://gist.github.com/rbriancollins/8e0308c372f16a2051a98f735ea9d998
### Expected Behavior

terraform creates a new VM from a template
### Actual Behavior

terraform exited with "vsphere_virtual_machine.test: network '*vm63' not found"
### S

[2016-04-20 19:05] glasser commented on #494
Something similar to this that would make me happy would just be changing `name_prefix` (ie, resource.PrefixedUniqueId) to add a timestamp before the random part. Then you'd be able to sort your ASGs/launch configurations but it still shouldn't cause any diff-happiness issues.

[2016-04-20 19:20] catsby commented on #6256
Hey all – thanks for the information. Any additional information or reproducible configs would help. We have pretty good testing around here so I'd like to know where the holes are.

We do wrap our create/read operations in a mutex _per security group_, so concurrency is not _likely_ at fault here, hopefully :)

Is this reproducible in your large setup (without causing much harm?) If so, and you'r

[2016-04-20 20:10] jen20 commented on #6265
Hi @yanatan16! Thanks for the detailed report here. This is an interesting bug - tags are tested as part of our acceptance testing suites and are widely used. My first guess reading your config is that issue lies with the interpolation - particularly the element. This _should_ work - but as a potential workaround (and probably clearer code) why not perform the string formatting directly in the tag

[2016-04-20 20:15] yanatan16 commented on #6265
I understand this is probably a configuration error, being unable to set the "Name" tag would be a pretty big regression.

I edited the tags to use regular interpolation with no function calls (no format), but still no luck. Same output and results.

[code]

[2016-04-20 20:17] cmlad commented on #6256
@catsby, it happened quite often and i can def build a custom Terraform.

I'm not sure however what change to make to print the permissions received with the ID. Could you maybe point me?

I do not think this is a race condition - I think it is an AWS issues, as in AWS says yes I created that rule for you and associated it to the group, but they on the following call doesn't return the rule as par

[2016-04-20 20:18] yanatan16 commented on #6265
Alas @jen20, I have found the bug. `"${role}"` is an invalid string interpolation (it should be `"${var.role}"`). Apparently this error is being suppressed in the `aws_instance` resource. Perhaps this is a different issue of error suppression?

[2016-04-20 20:55] jrnt30 commented on #6256
I too am able to run a custom build.  It is certainly reproducible in our stack and have essentially the same situation as cmlad.  Output shows aws_security_group_rule being created, AWS SG is properly updated but there is no output written.

One of the more complex scenario we have (but is not the only one that fails) is that we do not always create the SG in the stack we are creating the rule in

[2016-04-20 21:55] catsby commented on #6253
Thanks @jwieringa – I've patched this in #6269 ... not that the configuration expects either `index_document` or `redirect_all_requests_to` to be valid, and with #6269 you'll now get an error

[2016-04-20 21:58] jwieringa commented on #6253
Nice, thank you! :+1:

[2016-04-20 22:23] allanlang opened #6270 "Panic when running terraform plan with azurerm provider and a single resource"
### Terraform Version
Terraform v0.6.14 / Mac OS 10.11.4

### Affected Resource(s)
There is a single configured resource besides the `azurerm` provider:
- `azurerm_resource_group "espoc"`

### Terraform Configuration Files
[code]

### Panic Output
See https://gist.github.com/allanlang/0adc614c9f441cf96e3538be8e37c788 for `crash.log` output and associated config files (as above).

### Expected Beha

[2016-04-20 22:57] LusciousPear commented on #581
+1, this makes it much easier to recover from partial applies

[2016-04-20 23:07] jszwedko commented on #6029
To add on to this, this appears to prohibit terraform users from moving from specifying the rules inline to specifying the rules as separate `security_group_rule` resources as Terraform doesn't remove the existing inline rules, causing a conflict on apply.

[2016-04-20 23:10] stack72 commented on #6270
Hi @allanlang

It looks to me like the credentials are incorrect. We have had a number of instances of this

[code]

There is a section in the [docs](https://www.terraform.io/docs/providers/azurerm/index.html) about creating the credentials

Can you check that the credentials are correct? We found that sometimes credentials already created were not working for other people

Paul

[2016-04-20 23:12] mminkus commented on #6029
Agreed. We had this happen as well. Had to manually remove the rules using the AWS console.

[2016-04-20 23:13] tecnobrat commented on #6102
@dharrisio any idea what the timeline for `0.6.15` is? Is there milestone or specific features needed to release it?

[2016-04-20 23:39] dharrisio commented on #6102
@tecnobrat I'm not sure exactly when it will be released, I read somewhere that it was very soon though. For a more accurate answer someone from hashicorp would need to provide that.

@stack72 any chance you could get #6035/#6043 added to the changelog?

[2016-04-20 23:44] stack72 commented on #6102
Done :) I believe the release will happen in the next day or 2 :)

[2016-04-21 00:03] tyrostone commented on #5950
Hi @catsby - I wanted to reach out and see if you needed any additional information from me regarding this issue. Let me know!

[2016-04-21 00:16] cmosetick opened #6272 "segmentation fault with remote-exec + wget"
terraform version:
0.6.14 (installed via brew)
running on:
`Darwin 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64`

I have a simple bash script that I want remote-exec to run on a Ubuntu 16.04 (devel) server:
e.g.

[code]

via:
`script = "files/doit.sh"`

with `TF_LOG=TRACE` set, terraform seems to indicate that it's choked on the wg

[2016-04-21 00:17] dylangrafmyre commented on #5394
Update please! This would be great!! Thanks! What else can be done to make this happen?

[2016-04-21 00:22] jrnt30 commented on #6256
@catsby I was working through a retry policy (inspired by the AMI resource) and @cmlad's investigation for this but am still seeing somewhat inconsistent results even with 5 retires @ 4 sec, but I did find a very easy way to reproduce some of this.

If you run the `TestAccAWSSecurityGroupRule_Race` with `TF_LOG=debug` a few times you should see some of the "Unable to find matching ingress Security

[2016-04-21 00:32] cmosetick commented on #6272
Note that switching from wget to `curl` seems to work, and gets past the segfault in my project.

[2016-04-21 00:54] apparentlymart commented on #6272
Hi, @cmosetick! This looks hairy...

Given that it works when you switch to `curl`, I suspect the segmentation fault is actually coming from `wget` itself on the remote server. In that case, the core dump would be wherever that remote host is configured to write core dumps; this is not something Terraform is controlling or affecting.

Have you tried manually installing your script on the target se

[2016-04-21 01:26] dharrisio commented on #6102
Awesome, thanks @stack72!

[2016-04-21 02:49] kzap commented on #1336
Turns out im not alone in this, made Gist demonstrating this:
https://gist.github.com/kzap/14fc4c9428564dbcff16034219d9fae1

For now i think instead of the complex list, a symlink would work for now

[2016-04-21 02:55] bsiegel opened #6274 "Failure changing number_of_nodes count on aws_redshift_cluster resource"
It appears that the `number_of_nodes` value for a `aws_redshift_cluster` can't be changed once created.

### Terraform Version
0.6.14

### Affected Resource(s)
- aws_redshift_cluster

### Terraform Configuration Files
[code]

### Expected Behavior
Redshift cluster size updated from 2 to 3

### Actual Behavior
[code]

### Steps to Reproduce
1. Update `number_of_nodes`from `2` to `3`
1. Do a `terraf

[2016-04-21 03:06] bsiegel commented on #6274
This is probably the cause, from the [docs](https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html):

[2016-04-21 04:16] hgontijo opened #6276 "Failure configuring AWS Autoscaling Policy with adjustment-type ExactCapacity and scaling-adjustment from 1 to 0"
### Terraform Version
v0.6.14

### Affected Resource(s)
aws_autoscaling_policy

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/hgontijo/5005e78944ccffe8b87410269804680e

### Panic Output
n/a

### Expected Behavior
ASG policy scaling_adjustment to be set as "1" => "0".
This configuration can be done via AWS Console or cli: https://gist.github.com/hgontijo/14ad093

[2016-04-21 05:00] Shruti29 commented on #6266
+1 on this.

Facing the exact same issue.
My network **test-vm-net** is under a subfolder called **dVS**
I even tried adding the path of the label. It fails either way.

[code]

[2016-04-21 05:10] skuenzli commented on #5422
I reproduced the same stacktrace with:

* terraform versions: 0.6.10 and 0.6.14
* VMWare ESXi 6.0:
[code]
* license info:
[code]

[2016-04-21 09:18] ringods commented on #3624
@chrislovecnm regarding pull requests: #4243 for me. And documentation is always helpful, so add #6200 to it. :smile:

[2016-04-21 09:40] ajlanghorn commented on #4946
This would be an awesome improvement to Elasticache support in Terraform :)

[2016-04-21 11:24] rbriancollins commented on #6266
Thanks @Shruti29.  I did try that, but terraform crashed when I did it. My network is listed at:
[code]
Changing my config to:
[code]
Triggers the crash.  I'll post the crash log and link to it shortly.

[2016-04-21 11:46] jrnt30 commented on #6256
I have not been able to get it to fail every time, but the `TestAccAWSSecurityGroupRule_Race` does have at least one SG 1 failure in need of a retry ~ 50% of the time.

Initial thought was that a retry of up to 2 minutes should certainly be enough however using https://github.com/jrnt30/terraform/commit/c1bb8b46b0932c6522340adf636e3291ae764ffe I have seen a few runs take over 20 attempts (max thus

[2016-04-21 12:50] opokhvalit commented on #1819
yep, this is really necessary, because it does not allow write one module instead of tons of code....

[2016-04-21 13:07] #6253 closed

[2016-04-21 13:13] jefforulez commented on #1275
@radeksimko i just upgraded to tf v0.6.14 and confirmed the fix.  thanks!

$ AWS_DEFAULT_PROFILE=terraform-prod aws-profile terraform plan
Refreshing Terraform state prior to plan...
Error refreshing state: 1 error(s) occurred:
* 1 error(s) occurred:
* Account ID not allowed (123456)

[2016-04-21 13:16] jefforulez commented on #1275
crap.  i take that back.  it's still not working for me.  i tested incorrectly.  sorry!

[2016-04-21 13:33] l3m opened #6280 "Crash in terraform v0.6.14 on win7 enterprise x64"
### Terraform Version
v0.6.14

### Affected Resource(s)
Please list the resources as a list, for example:
- azurerm

### Terraform Configuration Files

The unmodified example file from https://www.terraform.io/docs/providers/azurerm/

https://gist.github.com/l3m/3908cb95f556c2155a0194de43707578

### Panic Output

https://gist.github.com/l3m/af0c4c0d45e6b447a7f22c48d79c6051

### Expected Behavior
N

[2016-04-21 13:36] sam-weston-snowflake commented on #1275
There doesn't seem to have been a release in a month so this hasn't made it
into a release yet.
On 21 Apr 2016 2:16 pm, "jeff oconnell" <notifications@github.com> wrote:

--
*Laminar Data - Secure cloud-based platform for managing, sharing and
monetizing aeronautical data*
*Learn More <https://laminardata.aero>*

[2016-04-21 14:25] shinka81 commented on #6170
This actually turned out to be the same problem as #5672 . I needed quotes around the second argument to replace(). Feel free to close this if necessary

[2016-04-21 14:40] partamonov commented on #5687
No luck so far. I tried to variants. I was able to resolve issue with `terraform plan` - it now works fine.

But I still having issue with creating MySQL instance and databases in it. It looks for me that during first run mysql provider is not able to capture endpoint from AWS RDS Instance in my case.

In one variant I have:
`mysql_database.app: Error creating MySQL database: driver: bad connectio

[2016-04-21 15:18] partamonov commented on #4645
Version 0.6.14
Graph looks better now, but I still see that in current example mysql provider is initialized before resource is created on which provider is dependent
[code]

[code]
And as result I see that `${aws_db_instance.db.endpoint}` is not passed to mysql provider during initial run
Debug error messages from provider.
Initial run
[code]

Second run
[code]

[2016-04-21 15:18] partamonov commented on #4645
@catsby do you have any ideas

[2016-04-21 15:21] dod83 commented on #6250
Hi @jtopjian ,

Yes we are using elements in compute instance:

 volume {
    volume_id = "${element(openstack_blockstorage_volume_v1.data-volume.*.id, count.index + 1)}"
        device = "/dev/vdb"
 }

Is this a know bug or was it fixed in the latest versions?

Thanks,
D.

[2016-04-21 15:38] aheeren commented on #3966
Fixed in https://github.com/hashicorp/terraform/pull/6283

[2016-04-21 15:40] aheeren commented on #3624
@chrislovecnm Pull request https://github.com/hashicorp/terraform/pull/6283 fixes issue https://github.com/hashicorp/terraform/issues/3966

[2016-04-21 16:09] cmlad commented on #6256
Just a comment from our side - we run a lot of Terraform stuff in CI where it's much more important for us for things to succeed rather than how long they take. A failure is a dead end as the jobs clean up and we don't have the option to manually intervene (deleting rules, etc). We just restart the job and hope for the best.

[2016-04-21 16:13] apparentlymart commented on #1819
There has been some recent work in #6186 that should clean up some weird behavior when mixing combinations of inherited and overridden providers, so this will hopefully make my first suggestion (pass the provider settings into a child module via variables and have it instantiate its own provider) work in more cases.

There are still some issues where the value passed into the child module is compu

[2016-04-21 16:16] apparentlymart commented on #6170
Thanks for the report and the followup, @shinka81. Indeed quotes are required around the second argument... and it is of course a bug that Terraform crashes in this case, but agreed that it looks like #5672 is already covering this bug so I'm going to close this as you suggested.

Thanks again!

[2016-04-21 16:16] #6170 closed

[2016-04-21 16:19] tyrostone commented on #6272
@cmosetick I believe I was seeing a similar issue, and it was due to how wget prints output to the console. From investigation, it appeared that it logged not only to stdout but also stderr, which was confusing Terraform and causing the segfault. Adding --quiet resolved this.

[2016-04-21 16:24] jrnt30 commented on #6239
If you enumerate the list of AZs in a comma delimited list as a variable, you can use the count and the split/lookup feature to grab the "associated" AZ from there.  In addition, the lookup function will roll over to the start if the count exceeds the length of the array which allows you to "round robin" between all of your AZs

[2016-04-21 16:27] #3966 closed

[2016-04-21 16:29] cmosetick commented on #6272
@apparentlymart
Yes, I had already manually tried the whole process on the remote system with wget before I filed my report here.

@tyrostone
That is a good call on `--quiet` flag. I never got around to trying that out, just switched to curl.

I still felt that this was report/bug worthy because without the TRACE output turned on, this would probably "silently fail", and users would be unlikely to

[2016-04-21 16:32] davyt10 commented on #6239
Would you be able to provide an example? Thanks in advance.

[2016-04-21 16:33] stack72 commented on #6280
Hi @l3m

Apologies for the issue here. It seems like there is an issue with the credentials you are using:

[code]

Can you tell me how you created these? One of the people who got bit by this in the past wrote the instructions on how they solved it https://www.terraform.io/docs/providers/azurerm/index.html

Paul

[2016-04-21 16:35] ZZelle commented on #4129
I have exactly the same trouble: i need to import large images (>300Go) and start them on VMware and 30min is not enough to copy the VM image or to boot the 1st VM instance with this image (during 1st boot the image is copied from image service backend to compute storage)

[2016-04-21 16:42] l3m commented on #6280
Yes, it's definitely an issue with the credentials - as I wrote, I just copied the default example file from the terraform website and ran terraform plan, just to see what happens. I didn't yet fill in the credentials (they were still set to '...').

I would assume that the correct behavior would be to print out some error message about invalid credentials or so, not to crash.

[2016-04-21 16:44] jrnt30 commented on #6239
[code]

[2016-04-21 17:01] stack72 commented on #6280
@l3m

got it - yes, we are going to add a message there for sure :) It's something that slipped through the cracks

P.

[2016-04-21 17:24] oillio opened #6285 "aws_subnet.cidr_block stored in state does not match input"
The cider_block field in the state has leading '0' truncated from ip octets.  However, when comparing against the defined resource, it compares against the raw value.  If there are leading '0' in the resource definition, it leads to an infinite update loop.

For example:
[code]

leads to the following:
[code]

[2016-04-21 17:29] stack72 commented on #6270
Hi @allanlang

On looking at this again, your config isn't quite right:

[code]

should be:

[code]
We are not actually calling the interpolation - we are passing those strings directly to the provider. This has still showed that there is a bug - that should fail gracefully, not panic

We will work on that

Paul

[2016-04-21 17:41] jtopjian commented on #6250
@dod83 Thanks for confirming 😄

It's definitely a known bug and being actively worked on. I'm going to close this issue in favor of #3449, but please let me know if you have any other questions!

[2016-04-21 17:41] #6250 closed

[2016-04-21 18:22] fattyuke commented on #2998
I just ran into this as well. I would prefer to assign eth0 to an end I create. I've got 2 ENIs that get created, but I end up with a total of 3 interfaces on the instance. I would prefer just two. I can do this via the AWS cli as well as cloudformation. Has there been any work done on this?

[2016-04-21 18:33] mikedanese commented on #3254
I ran into it and #6287 fixed it for me.

[2016-04-21 18:36] dod83 commented on #6250
Thanks! I will be watching #3449 and testing again with the fixed version.

[2016-04-21 18:59] #6077 closed

[2016-04-21 19:27] CpuID commented on #6228
*bump* I intend to look at writing a provider, but need to confirm the policy here so I can discuss with the vendor (a CDN provider) how this part will work.

@catsby @phinze are you able to clarify as HashiCorp staff?

[2016-04-21 19:42] allanlang commented on #6270
@stack72 you are quite right, the error was all mine. First I had a non-parameterised configuration where I had simply messed up the client secret. When I refactored this to make it suitable for publishing here, I missed the $ symbol. Net result both times - junk passed to the provider's configuration.

Improved error handling would be great, but apart from that apologies for wasting your time!

[2016-04-21 19:52] stack72 commented on #6270
Hi @allanlang

Glad its worked outm you haven't wasted any time at all - its good to point out the unnecessary panic in this situation. We are actively trying to fix that right now

Paul

[2016-04-21 19:57] catsby commented on #6201
Hey @apparentlymart – odd, in our past few days of nightly ACC tests this has not failed. Are you still hitting it?

[2016-04-21 20:01] catsby commented on #6201
ohey – I think this is a test that needs or expects EC2 Classic, which explains why the Terraform nightly tests work, and my personal account with Classic passes, but my HashiCorp account _without_ Classic fails.

If it's OK with you @apparentlymart we should just document that and close this

[2016-04-21 20:07] mrjefftang commented on #6201
I think a better alternative is to update the test to use a VPC instead of relying on the existence of EC2 Classic.

[2016-04-21 20:17] spuder commented on #5399
For anyone else struggling getting the azure credentials, there is a tool that can help out:

https://github.com/pendrica/azure-credentials

[2016-04-21 21:04] catsby commented on #2151
Same as https://github.com/hashicorp/terraform/issues/6029

[2016-04-21 21:04] catsby commented on #6029
Hello all sorry for the silence. This looks like a duplicate of https://github.com/hashicorp/terraform/issues/2047 , and we're trying to fold any dupes into https://github.com/hashicorp/terraform/issues/2151, so I'm going to close this. Please track over there.

Thanks!

[2016-04-21 21:04] #6029 closed

[2016-04-21 21:31] artburkart commented on #6257
Not sure if this is considered spam, but I'm experiencing the same issue with ELBSubnets (aws:ec2:vpc) and ELBScheme (aws:ec2:vpc).

[2016-04-21 21:32] artburkart opened #6289 "ConfigDocument JSON always triggers change with whitespace"
Hi there,
### Terraform Version

[code]
### Affected Resource(s)

Please list the resources as a list, for example:
- aws_elastic_beanstalk_environment
### Terraform Configuration Files

Doesn't trigger change

[code]

Triggers change

[code]
### Expected Behavior

`terraform plan` shouldn't expect a change with this config setting
### Actual Behavior

Every time I run `terraform plan`, a change i

[2016-04-21 21:59] grahamjenson opened #6291 ""aws_elb" "cross_zone_load_balancing" is not refreshed in the state file"
[code]

`tf.state` file is

[code]

`tf.tf` file is

[code]

when I execute `terraform plan --state=tf.state` it will return

[code]

This is because when refreshing the state from AWS it did not include the variable, this can be seen by changing the `tf.state` file to:

[code]

will result in no needed changes.

[2016-04-21 22:02] stack72 commented on #6270
Fixed in #6290

[2016-04-21 22:02] stack72 commented on #6280
Fixed in #6290

[2016-04-21 22:05] dharrisio commented on #6257
@ninjaMog @artburkart Thanks for bringing up these issues! There are a few issues like this with different option settings for Elastic Beanstalk. The problem being that the AWS API returns some values in a different format than the submitted value.

The fix will probably be similar to #4691. I should be able to address this one in the next few days, I'll update here with the PR once I have that re

[2016-04-21 22:35] apparentlymart commented on #6201
@catsby so far only @stack72 was actually able to repro this error... I never had it fail.

If I'm understanding your suggestion correctly, you're suggesting that we just document that the tests are only expected to work on accounts with EC2-Classic enabled? In principle that seems fine to me, as long as getting new accounts with EC2-Classic is possible.

On the other hand, since EC2-Classic is de

[2016-04-21 22:47] asvoboda opened #6292 ""aws_directory_service_directory" plan causes a panic if the resource is deleted manually"
Hi there,

### Terraform Version
Terraform version: 0.6.14

### Affected Resource(s)
- aws_directory_service_directory

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/asvoboda/0f1fb8bbc7267aa12d5c59b37f249e6d

### Expected Behavior
Terraform continues merrily on its way, just as it does for any resource that was manually deleted.

### Actual Behavior
Terraform p

[2016-04-21 22:47] stack72 commented on #6201
This would make sense - my account doesn't have EC2-classic and it fails me for every single time

[2016-04-21 23:09] stack72 commented on #4112
Fixed in #4283 (by way of #6293)

[2016-04-21 23:09] #4112 closed

[2016-04-21 23:17] mdxp commented on #6217
I'm seeing a very similar behavior. In my case it fails on the first run and if I run it again it will complete successfully. Very weird.

[2016-04-21 23:39] u2mejc commented on #6245
Thank you @catsby!

@janschumann I wasn't able to reproduce it previously, I believe it's because I'm using custom layers only. I poked at the ruby issue briefly and it's a weird one. It actually sends the boolean mentioned in #5907 as a `1` instead of a `true`. Then when `plan` is ran again, it fails to compare that `false` doesn't match what is in the resource.

I'll poke at it tomorrow, but if

[2016-04-22 00:08] stack72 commented on #6292
Hi @asvoboda
thanks for the bug report. I have just submitted a PR that will fix this. It will be released as part of 0.6.15

Paul

[2016-04-22 00:13] #6292 closed

[2016-04-22 00:21] stack72 commented on #6291
Hi @grahamjenson

This is a bug so thanks for the find here. I have just submitted a PR that fixes this (#6295). This should be released in 0.6.15 soon

Thanks again

Paul

[2016-04-22 00:22] #6280 closed

[2016-04-22 00:22] #6270 closed

[2016-04-22 00:26] jen20 commented on #6230
Thanks for the notes guys - seems we have some holes in the test coverage. I'll investigate this and fix prior to a point release.

[2016-04-22 00:31] jen20 commented on #6228
Hi @CpuID! Generally we set up a test account for SaaS providers. Some providers give us credit to use for this purpose, others don't. In general we would prefer to use our own accounts vs a contributors though. If you want to discuss this in more detail please feel free to ping us by email to discuss specifics!

[2016-04-22 00:31] #6228 closed

[2016-04-22 00:37] stack72 commented on #6169
@mdxp

Well this is a great find. I was able to recreate this perfectly with the following config:

[code]

Terraform apply gave the following:

[code]

As you can see, no output:

[code]

on refreshing the state, I was able to get the output:

[code]

[2016-04-22 00:39] stack72 commented on #6169
This means there is a missing state check on this somewhere... I will raise this with AWS now

[2016-04-22 00:43] jen20 commented on #6230
Could you post a more detailed piece of config showing this @vancleuver? It's a bit unclear which modules things are in from the description above.

[2016-04-22 00:47] #6291 closed

[2016-04-22 00:49] nkonopinski opened #6296 "ignoring user_data changes silently recreates aws_instances because of user_data changes"
### Terraform Version
Terraform v0.6.14
Terraform v0.6.15-dev (4345c0819496896896612c159bd1982bcb7349ff)

### Affected Resource(s)
- aws_instance

### Terraform Configuration Files
resource "aws_instance" "web" {
  lifecycle {
    ignore_changes = ["user_data"]
  }

### Expected Behavior
tf should respect ignore_changes for user_data and not re-create instances when the user_data value changes.

#

[2016-04-22 01:02] stack72 commented on #6296
Hi @nkonopinski

thanks so much for the bug report here. Unfortunately, we are currently tracking this issue right now as it has bitten a few people. I am going to link this to the major issue we opened to track it's progress and then close this as a duplicate. The details here will certainly help

Thanks again

Paul

[2016-04-22 01:02] stack72 commented on #5627
Also #6296

[2016-04-22 01:03] #6296 closed

[2016-04-22 01:05] stack72 commented on #6274
Hi @bsiegel

Thanks for the bug report on this one, I am currently looking into it

Paul

[2016-04-22 02:45] devth commented on #5567
Fixed by https://github.com/hashicorp/terraform/pull/5871

[2016-04-22 02:45] #5567 closed

[2016-04-22 03:39] jen20 commented on #6230
I think I've managed to reproduce this using the mechanism described by @glasser. Hopefully it's just one issue - I think I see what is happening.

[2016-04-22 03:46] jen20 commented on #6230
OK I have a fix, but it only applies to the `dev-0.7` branch where we can nil check. I need to figure out a way to backport this to `master` branch, or revert the commit on master and leave this as something which only hits in 0.7. I am currently minded towards the latter option, but would appreciate an opinion from @phinze or @mitchellh here.

[2016-04-22 03:54] jen20 commented on #6230
Only kidding, I've ported it to `master` as well. Expect a fix to land shortly with some test cases. It would be greatly appreciated if @vancluever and @glasser could verify it fixes the issues you are seeing! I assume since you had the commit in the first place you are building from source on a regular basis :-)

[2016-04-22 03:59] glasser commented on #6230
I'll try to take a peek but I'm traveling this week (and I rolled back the version we use for our projects to before this commit).

[2016-04-22 06:13] andreimc commented on #1178
👍

[2016-04-22 07:15] arthur-s commented on #5732
i have the same issue, i cannot insert record via API (version 4)

[2016-04-22 07:18] Shruti29 opened #6300 "vSphere: Terraform apply command hangs for 5 minutes"
When I run `terraform apply` on my vSphere setup, it hangs for 5 minutes before actually starting the resource creation.
However `terraform plan` returns output immediately.

Unfortunately, I don't see any debug logs for this as well.
It hangs for 5 minutes and the resource creation logs are collected as it continues with the resource creation.

Need some help on this. I found the issue #2059 quit

[2016-04-22 07:19] atward opened #6301 "aws_elastic_beanstalk_configuration_template.options changes not updated"
Updates/changes to aws_elastic_beanstalk_configuration_template.options are not reflected in AWS. Testing has shows that changes to options delete them from the configuration template.
There appears to be a clear typo bug on https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_elastic_beanstalk_configuration_template.go#L174 - but patching that line does not fix th

[2016-04-22 07:31] atward commented on #6301
Relevant lines from debug logs.
Running against patch suggested above: https://github.com/atward/terraform/commit/9e335bc4f8de1ab43d7570d91265d5e74bc02a97
Setting change from
[code]
to
[code]
[code]

[2016-04-22 07:34] atward commented on #6301
Appears the code needs to exclude the intersection of os/ns OptionSettings from the remove set - these should an update set, and included in the add set.

[2016-04-22 09:23] stack72 commented on #6274
Hi @bsiegel

Was able to reproduce the failure easily with a new test - will implement the new functionality now and then PR it. Quick question though - what happens if the user changes both the number of nodes && and node_type (i.e. from dc1.large to dc1.xlarge)

Will it resize the entire cluster?

[code]

[2016-04-22 09:39] radeksimko commented on #2460
https://github.com/hashicorp/terraform/pull/6299 seems to be addressing a few points from the list (`output` specifically).

[2016-04-22 12:08] jantman commented on #4570
I'd call this fixed personally... the TF docs have a clear link to https://docs.aws.amazon.com/lambda/latest/dg/API_CreateFunction.html#API_CreateFunction_RequestBody for runtimes, which specifies valid values of ``nodejs | nodejs4.3 | java8 | python2.7``

[2016-04-22 12:13] rbriancollins commented on #6300
Have you looked at the vCenter during this time?  At what point during the 5 minutes does vCenter show activity related to the new VM creation (assuming you are creating a VM)?

[2016-04-22 12:39] zette opened #6303 "Using a module as a template for multiple applications"
Hello,
I'm using terraform as infrastructure builder on AWS. We are using Elasticbeanstalk applications, that are parametrized through AWS environment variables.

I've been able to implement building EBS instance as resource "aws_elastic_beanstalk_environment" in module included in VPC infrastructure.
I can copy this module, change its name, import it and manually add entries for each application

[2016-04-22 13:53] desktophero commented on #1715
I'm not getting feedback in the form of HTTP responses when running TF commands but experiencing similar outcomes just a TIMEOUT in trying to do the thing.

The feedback I get form an `apply` command when an LB is in place is a timeout when attempting to apply new `user_data` to a VM. This results in a new VM instance and a new member being instantiated within the LB pool.

So far, I have to manua

[2016-04-22 14:16] catsby commented on #6201
Hey Friends –

Thanks for all the thoughts and consideration here, but I've decided to close this. My reasoning being that Terraform is still committed to supporting EC2 Classic, and some of the OpsWorks tests are specifically designed to test that OpsWorks works in both Classic and VPCs, so this is a good idea to leave as is.

I'm committed to making all the AWS tests pass nightly, though it's a

[2016-04-22 14:16] #6201 closed

[2016-04-22 14:42] jtopjian commented on #1715
@desktophero Do you know if the OpenStack environment is using a proprietary load balancing driver?

[2016-04-22 15:14] desktophero commented on #1715
I will dig in and circle back

[2016-04-22 15:32] desktophero commented on #1715
I need to clarify a thing and that might drive a different/new issue. I can `destroy` without a problem when executing `terraform destroy`. When I have an existing plan and need to modify a VM resource that's a member of a pool, the timeouts occur.

My friendly OpenStack admin confirmed the driver is the default haproxy neutron-lbaas-agent driver.

[2016-04-22 15:34] justinsb opened #6306 "Panic: `panic: unquote err: invalid syntax`"
Terraform panic-ed during a `terraform plan`

crash.log is as follows:
[code]

[2016-04-22 15:34] #4570 closed

[2016-04-22 15:35] apparentlymart commented on #4570
Thanks for the reminder, @jantman. I made a small tweak to link to [the Runtime field definition directly](https://docs.aws.amazon.com/lambda/latest/dg/API_CreateFunction.html#SSS-CreateFunction-request-Runtime), in the hope that it's easier for people to quickly see the valid values.

[2016-04-22 15:44] chrislovecnm commented on #6266
This may be a duplicate issue as we are having some interesting behavior with network search at this point.

@rbriancollins can you look up the network using [govc](https://github.com/vmware/govmomi/tree/master/govc) and get us the results?

cc:  @markpeek @frapposelli we are having some odd results with network lookups.  I believe this is a duplicate of the network bug that I sent you.

[2016-04-22 15:52] stack72 commented on #6306
Hi @justinsb

apologies for this - can you please let us know the configuration (minus the secrets) you were using when this happened? This will help us try to recreate the error

Thanks

Paul

[2016-04-22 15:53] jtopjian commented on #1715
@desktophero Thanks for the info. I think the prior discussion was with regard to a proprietary driver.

However, knowing that you're running into this issue with the standard driver and during the plan, refresh, and update steps is very good to know. I'll look into this.

[2016-04-22 15:54] chrislovecnm commented on #3624
Hey all.

First off we really appreciate all of the work that a bunch of people are doing with this provider.  I always Love it when people break code.  It is the only way that we can make it better.

How about some good news!  Been talking to (they would probably call it mild harassment) @phinze and a few others over at Hashicorp, and they don't mind me sharing some news.  I will temper this with

[2016-04-22 15:55] chrislovecnm commented on #3624
Also a big thanks to @jen20 and @stack72 for recently merging PRs for this provider!

[2016-04-22 15:57] justinsb commented on #6306
I have tracked this down further.  I believe it happens when I put a null value essentially anywhere in the tf.json file.

[2016-04-22 16:01] chrislovecnm commented on #4111
@ryanl-ee @mijit @Illydth and many others.  @tkak's PR was merged.  Any more word on this, or can we change this to documentation?  I know there are some gems in here that need to be documented 😄

[2016-04-22 16:03] chrislovecnm commented on #5933
@dkalleg are we ready to close this?

[2016-04-22 16:04] chrislovecnm commented on #6174
@benlangfeld we have a PR merged that may fix this.  Can you please test?

[2016-04-22 16:06] chrislovecnm commented on #6174
This may be fixed by https://github.com/hashicorp/terraform/pull/6293 - any chance you can take master for a test drive??

[2016-04-22 16:07] benlangfeld commented on #6174
@chrislovecnm Will test this now.

[2016-04-22 16:13] chrislovecnm commented on #5607
@markpeek and @frapposelli - this is the open issue that I mentioned.  The manner in which we are doing the network lookups uses a wild card.  I would like some idea on how to do this w/o a breaking change.  Here are some thoughts

1. Force full paths - breaking change (do not like)
2. Allow either full paths or do lookup - non breaking, but more code, and more complexity for the user
3. Allow wil

[2016-04-22 16:14] eloycoto commented on #3562
Hey @chrislovecnm,

Sorry my fault! I'll document this during the weekend.

Regards.

[2016-04-22 16:17] chrislovecnm commented on #3562
@eloycoto no worries!! Appreciate the help.

[2016-04-22 16:27] markpeek commented on #3624
@chrislovecnm thanks for the welcome! Yes, we are very interested to understand the prioritized list of issues and help improve the vSphere provider. Looking forward to working with the community on it.

[2016-04-22 16:40] cam-itv commented on #3222
Any more word on this?

[2016-04-22 16:49] #6230 closed

[2016-04-22 16:52] benlangfeld commented on #6174
Unfortunately the problem persists on master: https://gist.github.com/benlangfeld/83507859a54f39487ba9b4b945d4be23

[2016-04-22 17:01] stack72 commented on #3534
Hi @mkuzmin

Nt sure what the status is on this - this hasn't been able to be recreated. IF you still get the issue, please add a comment here and we can reopen it

Thanks

Paul

[2016-04-22 17:01] #3534 closed

[2016-04-22 17:07] #6301 closed

[2016-04-22 17:07] catsby commented on #6301
Thanks! Fixed in #6307

[2016-04-22 17:18] jen20 opened #6308 "Terraform 0.6.15 Release Process"
Hello again @apparentlymart, @jtopjian, @sparkprime, @stack72, @radeksimko, @svanharmelen , @lwander and @ack!

It's Terraform release time again, this time for v0.6.15

Please hold off on merges until this issue is closed - thanks!

[2016-04-22 17:40] vancluever commented on #6230
@jen20, confirmed fixed over here, will monitor further and report back if there is any other issues with the module, and post the code. The module itself is is internal, and while it doesn't have anything in particularly sensitive in it, I'd just have to get it vetted for release.

Cheers!

[2016-04-22 18:28] rbriancollins commented on #6266
Certainly...
[code]

[2016-04-22 19:27] chrislovecnm commented on #6174
@benlangfeld we may need to move that `WaitForIp` up higher in the code block.  Knee deep in some monitoring code at this minute.  Do you code btw??

[2016-04-22 19:30] benlangfeld commented on #6174
Absolutely. My familiarity with Go is superficial, but the main problem is not knowing what the expected behaviour of the vSphere API is in this case.

[2016-04-22 19:38] catsby commented on #6172
Hey @beeerd sorry for the confusion here. I've opened https://github.com/hashicorp/terraform/pull/6309 to clarify this in the documentation. The terms get muddy with ID for Terraform being what you're demonstrating here, `aws_resource.foo.id`, but on AWS's side they're referring to the ARN... mostly. It doesn't help us that AWS will accept the ID here or the ARN (the ID just being the last part of

[2016-04-22 19:40] chrislovecnm commented on #6174
@benlangfeld we need the provider to wait for the nic(s) to get ip addresses.  We have been informed that a code block like [this](https://github.com/hashicorp/terraform/blob/master/builtin/providers/vsphere/resource_vsphere_virtual_machine.go#L643) would force the wait.

I think the code block may be to be moved up in the code base, but I have not had a chance to test.  I would move the code bloc

[2016-04-22 19:46] dkalleg commented on #5933
Sure

[2016-04-22 19:46] #5933 closed

[2016-04-22 19:47] benlangfeld commented on #6174
@chrislovecnm Unfortunately that doesn't actually make any difference:

[code]

The problem is that [`WaitForIP` only checks the `guest.ipAddress` property](https://github.com/vmware/govmomi/blob/f3f81563e3ff8d783e038d000a7c9eadf7eb8032/object/virtual_machine.go#L222) while the list of interfaces is fetched from mo.VirtualMachine.Guest.Net, which apparently has some other implementation in the vSp

[2016-04-22 19:50] jen20 commented on #6308
And we're done! Thanks all - there's a ton of good stuff in this release!

[2016-04-22 19:50] #6308 closed

[2016-04-22 19:51] jen20 commented on #6306
@justinsb - do you have a config demonstrating this? Do you literally mean putting a `null` value as an object key (or similar) anywhere?

[2016-04-22 19:53] chrislovecnm commented on #3624
@markpeek - off the top of my head here would be a good start with priorities in the following order:

1. Issues like this were the provider is returning before IP addreses are assigned to the nic(s) - https://github.com/hashicorp/terraform/issues/6174
2. Issues where we multiple networks found - https://github.com/hashicorp/terraform/issues/5607
3. Any crash issues that have been reported
4. New

[2016-04-22 19:57] jen20 commented on #6300
Hi @Shruti29! We added continued progress reports to Terraform 0.6.15 which should indicate where this problem lies. If you run with that version, does it report that the resource is "still creating" during the five minute pause?

[2016-04-22 20:00] chrislovecnm commented on #6174
Let's ping a couple of the guys who code the API 😄
@dougm @ignatov @pietern

govmomi folks.  Let me know if we need to log an issue.  We have chatted with @pietern in the past about this, and were recommended to use `WaitForIP`.

We need to have the provider wait till `VirtualMachine.Guest.Net` objects actually have IP Addresses.  The code is returning before the IP Address are available through t

[2016-04-22 20:04] chrislovecnm commented on #6174
@benlangfeld yah I don't completely understand how the query:

[ `collector.RetrieveOne(context.TODO(), vm.Reference(), []string{"guest", "summary", "datastore"}, &mvm);`](https://github.com/hashicorp/terraform/blob/master/builtin/providers/vsphere/resource_vsphere_virtual_machine.go#L604)

works either.

That is where `mvm.Guest.Net` is coming back from.  How we check that the fields are populate

[2016-04-22 20:05] benlangfeld commented on #6174
@chrislovecnm I believe what we need to do is poll the `VirtualMachine.Guest.Net` property repeatedly until it has the same size as the number of interfaces we declare in the resource, or some timeout, roughly similar to what `WaitForIP` does. I'm throwing together a quick diff to approximate this, but I don't claim that it'll be ready to use; I'm not sure I fully understand this module's tests su

[2016-04-22 20:07] chrislovecnm commented on #6174
@benlangfeld we would need to poll `RetrieveOne` ... but there "should" be a wait ...

[2016-04-22 20:10] c4milo commented on #5185
Even using `depends_on`, I have experienced sometimes AWS just taking more time than usual to replicate changes made by Terraform, causing this sort of errors to show up once in a while. Waiting for a little while and re-running `terraform apply` has worked for me.

[2016-04-22 20:11] catsby commented on #5689
I changed this test in 6cfb6c1 to use the `arn` of the KMS key here, as per https://github.com/hashicorp/terraform/issues/6172 and other discussion we had.

[2016-04-22 20:11] #5689 closed

[2016-04-22 20:12] #6172 closed

[2016-04-22 20:14] ncs-msmith commented on #6172
Thank you!

[2016-04-22 20:14] chrislovecnm commented on #6174
@benlangfeld digging around I think we need to do a [`WaitForUpdates`](https://github.com/vmware/govmomi/blob/6e991fc1ecadb031898ff6cd9cf53fe08f86116f/property/collector.go#L100)  but it would be good to have API peep to let us know.

[2016-04-22 20:16] beeerd commented on #6172
Thank you! I reviewed the documentation update, LGTM.

[2016-04-22 20:31] chrislovecnm commented on #6174
I thinking that I would try a [`Wait`](https://github.com/vmware/govmomi/blob/master/property/wait.go#L37) on `mvm.Guest.Net` and elements there in ...

BTW I do not have a test bed right now.  Otherwise I would be testing as well ... DOH

Which modules test suites are you referring to??  TF?

[2016-04-22 20:55] benlangfeld commented on #6174
https://github.com/hashicorp/terraform/blob/master/builtin/providers/vsphere/resource_vsphere_virtual_machine_test.go

[2016-04-22 21:01] chrislovecnm commented on #6174
@benlangfeld you want to take the testing discussion offline? clove at cnmconsulting dot net ... It is a google account, so hangouts work, or email. We need a slack account for this darn provider 😄   It took me a bit to get my head around them as well. BTW:

BTW - stepping away for a bit ... FOOD

[2016-04-22 21:57] catsby commented on #6285
Hey @oillio – the AWS API is normalizing that IP address; Terraform is not modifying it. We're sending `172.30.00.0/24` and getting back `172.30.0.0/24`, and storing that value, thus the change is picked up when re-reading your configuration.

I don't believe that 172.30.00.0/24 itself is a valid cidr block. We do cidr block validation on VPC resources, for instance, and perhaps we should do that

[2016-04-22 21:57] #6285 closed

[2016-04-22 22:00] catsby commented on #6172
@beeerd awesome, thanks for following up, and thanks for bringing this to our attention 😄

[2016-04-22 22:24] aventurella opened #6311 "remote config pushes back existing state"
This was completely unexpected for me. I am managing 2 environments with terraform, a staging and a prod.  Both are setup though Atlas. When I switch between remote configs it looks like it pulls down the state and merges it into the `.terraform/terraform.tfstate` file and pushes it back.  I was definitely not expecting it to push it back up. Also it looks like it just swaps out the remote config,

[2016-04-22 22:28] aventurella commented on #6311
Bonus!  Rollback from the Atlas website doesn't work... the url is not found when attempted.

[2016-04-22 22:59] shpsec-dennis opened #6312 "Google Cloud Dataproc resource"
Hi there,

Feature request for having a dataproc\* resource(s) for Terraform.

https://cloud.google.com/dataproc/

Regards,

Dennis O.

[2016-04-22 23:13] dabdine-r7 commented on #4165
This was a huge surprise for us too. Hand-made roles that used AWS managed policies (AmazonSQSFullAccess, AmazonS3FullAccess) were having those policies detached when the attachment resources were destroyed and causing outages in our platform.

[2016-04-23 00:48] clstokes commented on #5498
Hi @michalbagrowski, I think you do have an error in your `terraform_remote_state` configuration. For `path` you're specifying `path=aa`. The value should just be `aa`.

[code]

[2016-04-23 01:08] ziggythehamster commented on #2551
I'm subscribing here as well - the upstream API used for CloudFlare (pearkes/cloudflare) prohibits Terraform from supporting the other APIs that CloudFlare exposes, like page rules (which would be the exact kind of thing that you'd want to manage with Terraform).

[2016-04-23 01:11] ziggythehamster commented on #3002
This is because of an upstream bug: https://github.com/pearkes/cloudflare/issues/5

Here's the matching Terraform bug: https://github.com/hashicorp/terraform/issues/2551

[2016-04-23 01:14] ziggythehamster commented on #867
A better Go library for CloudFlare would allow them to also fix this bug, FWIW: https://github.com/hashicorp/terraform/issues/2551

[2016-04-23 01:14] apparentlymart commented on #6311
Hi @aventurella,

Sorry you've hit this surprise in Terraform. I think this is the same issue that motivated me to propose #4389 and the associated PR #4618 which I haven't yet finished, due to my attention being diverted elsewhere. :worried:

Unfortunately I don't know much about Atlas so I can't really offer anything except empathy... the Atlas support team may be able to help you recover your o

[2016-04-23 15:22] aventurella commented on #6311
Since atlas appears to be broken (as of yesterday anyway 2016-04-22 ) you can still browse the previous states thankfully. So I just ticked the serial values and pushed it back up.

The larger, more fun issue was that I did have to manually go back through and rebuild my tfstate from the other env. Unexpected pain on a Friday, you bet! The silver-lining was I got to better understand what the tfst

[2016-04-23 15:23] alexander-balashov commented on #4334
Sometimes I get same error on Jenkins CI
terraform 0.6.11

[2016-04-23 16:02] apparentlymart commented on #6311
The model Terraform is going for here is that when you run `terraform remote config` with a state already present (local or remote), you're "moving" the state to a new location.

It sounds like you're trying to do the same use-cases as I am, where instead you have the same config deployed multiple times to create multiple "instances" of the same config, each with its own state. Deleting the `.terr

[2016-04-23 16:02] #6311 closed

[2016-04-23 18:37] jhoblitt opened #6317 "provider/openstack openstack_compute_instance_v2 security_groups does not properly handle UUIDs"
The `openstack_compute_instance_v2` resource accepts secgroups by both name and id.  However, when using an id, the behavior is non-idempotent.  The first apply succeeds but any successive plan/apply compares the current state of the resource by **name** with the declared **id**.  Apply will fail attempting to "change" the security groups.  These goofy semantics are likely the fault of the opensta

[2016-04-23 19:05] rokka-n opened #6318 "Dependency violation when deleting a Subnet: ENI still attached to ELB"
Hi,

I'm currently seeing terraform tries to destroy a subnet that was used in ELB and fails. I think its because  ENI interface that belongs to the subnet is still attached to ELB. The subnet itself is removed from ELB correctly via ASG routine.
### Terraform Version

v0.6.14
### Actual Behavior

When I remove a subnet from vars, terraform correctly removes it from ASG/ELB. But it hangs at the su

[2016-04-23 19:50] jtopjian commented on #6317
@jhoblitt Yup, this is a painful inconsistency with the OpenStack API. There are some details about it in #4319 and [here](https://github.com/hashicorp/terraform/pull/3857#issuecomment-156159715).

I'm going to leave this open to revisit and see if there's a way to get this working.

[2016-04-24 00:26] nickithewatt commented on #5627
@phinze its great that we got the first half of these fixes out with 0.6.14. I see that 0.6.15 is out now as well however looks like these last set of ignore issues are still there, which is still causing me great grief unfortunately and thus I can't use the feature as a result. Are these last scenarios more complicated to resolve, i.e. my real question here is: are the fixes for these likely to m

[2016-04-24 03:48] pencoyd commented on #867
My colleagues are turning this into an official library for Go - https://github.com/cloudflare/cloudflare-go is new home.

[2016-04-24 14:23] rossedman commented on #3624
@markpeek @chrislovecnm I think solidifying the `vsphere_virtual_machine` provider is a good first step. There are lots of different resources that could be created but making the ones we have more stable would be great. I would love to see linked clones completed and merged with a blessing from VMWare. There have been lots of Windows issues. I think that is hard to tackle because it requires us h

[2016-04-24 17:42] stack72 commented on #6198
@chrislovecnm can this be closed now that #6200 was merged?

[2016-04-24 18:12] chrislovecnm commented on #6198
@stack72 there are like two other issues that require docs - open VM tools - customization needs - stuff about setting up vms properly.

So it would be good to have this open

[2016-04-24 18:22] chrislovecnm commented on #3624
@rossedman thanks and great feedback. Questions:

1. Lots of Windows issues. We do not have any issues open, please report em if you got em ;) I will bow out to the Windows gurus, cause I try not to do Windows,l.
2. Agreed the code we have needs more testing and stability! I am concerned about the network device stuff, both lookups, as in finding networks, and issues were we do not get IP addresse

[2016-04-24 19:21] rossedman commented on #3624
@chrislovecnm Hmm, yeah I guess I could add on to that. Here were some gotchas I noticed. I think these may fall outside the realm of the vsphere provider and some even outside the realm of Terraform. Not sure.

1. Powershell is not supported (atleast from what I can tell, this actually seems to be a global Terraform issue because it relates to provisioner types)
2. When using the chef provisioner

[2016-04-24 19:54] chrislovecnm commented on #3624
@rossedman - long winded is good ;) list item #2 is a symptom of the networking issues we are having. The provider is not waiting for the ip to be accessible to the API. Multiple bugs filed :(

#1 is a new feature - is it supported in the API we use?
#3 what can I say about MS having to reboot ;) Not sure how to fix that one. Wait in Windows to have a domain name?? I would defer to Windows guru. T

[2016-04-24 20:39] rossedman commented on #3624
@chrislovecnm I am not a Windows guy either which is why I prefaced it the way I did. Ha. I do however have access to some great Windows minds so I will see if they can help me formulate something and help me decide what can be fixed in Terraform.

[2016-04-24 22:44] toddrosner commented on #1178
+1

[2016-04-25 04:42] Shruti29 commented on #6300
Sorry for the delay in reply.

@rbriancollins It is at the very end of 5 minutes that it shows VM creation activity on the vCenter.

@jen20
I spoke with a colleague of mine who suggested me that it waits for the network resource and IPs. Ideally,  this shouldn't be a problem but since I don't have DNS set up in my dev environment I had to comment out this portion of code to get it spawning the res

[2016-04-25 06:49] JorritSalverda opened #6323 "Lots of whitespace since windows color codes are fixed"
Since color codes in the output have been fixed for windows - not sure if related - after each "Creating..." line in the output 10-20 lines of whitespace are outputted. I'm running the terraform commands from the cygwin bash prompt included in https://chocolatey.org/packages/git.install.
### Terraform Version

Terraform v0.6.15
### Affected Resource(s)

google_compute_instance
template_file.develo

[2016-04-25 08:41] anosulchik commented on #6135
Guys, is there any news on it? Looks like fresh version 0.6.15 contains the same bug.

[2016-04-25 09:23] dene14 commented on #6102
@stack72 Somehow I still able to reproduce the problem with `0.6.15` :(

[2016-04-25 10:41] kristjanelias opened #6324 "AWS aws_cloudfront_distribution custom_error_response error"
Hi,

Started using the Cloudfront distribution (AWS) resource and hit a problem.
When defining `custom_error_response` block and leaving `response_code` and `response_page_path` (both optional attributes) undefined i get an error like:
[code]

The code block in question inside the resource looks like:
[code]

Haven't found any way of bypassing this yet except providing these 2 values...
But as it

[2016-04-25 11:13] stack72 commented on #6102
Hi @dene14

Please can you post the error message you are getting and the config (minus secrets) that is causing the issue (if it has changed)

Paul

[2016-04-25 12:11] edmundcraske commented on #4818
I'm also seeing what looks like this issue, has there been any work to identify the cause and come up with a fix?

[2016-04-25 13:21] rainmanh commented on #4578
Terraform v0.6.15 in here.
And I am experiencing the same issues.
Terraform seems to understand the users better if doing something as the following:
[code]
Obviously the users have been created into another block and can recognise it's own indexing.
When applying a list it produces the issues described by @GoatWalker .

[2016-04-25 13:46] gavinheavyside commented on #6138
@protomouse We're really interested in IoT support in Terraform, and we don't want to duplicate any effort if there is work in progress. What is your status, and is there anything we can do to help?

[2016-04-25 13:56] craigmonson commented on #1497
I think I found another trigger for this bug, but the error it throws is different.  I was trying to build a "string list" ie: "id1,id2,id3,id4" that I would then split on it to get the length.  ie:
```count = "${length(split(",", var.string_from_another_module))}"```

This causes a Cycle error, thought I suspect it's the same issue mentioned here.

[2016-04-25 14:19] deasmi opened #6326 "vSphere provider doesn't work correctly if secondary/alias addresses are added"
I am using aliases/secondary IP addresses for some services which get added by puppet rather than configured but the vSphere template.

As such when I re-run terraform plan it detect the IP address and then think it needs to make a change.

I think this is a bug as these are not the primary addresses as can be seen here.

[code]

On the server itself

[code]

So it's picking up the 192.168.xx.50 s

[2016-04-25 14:59] Fodoj commented on #6005
One of the reasons it happens it mapstructure library. It converts true/false to 1/0: https://github.com/mitchellh/mapstructure/blob/d2dd0262208475919e1a362f675cfc0e7c10e905/mapstructure.go#L61

[2016-04-25 15:01] jen20 commented on #6326
Hi @deasmi! Thanks for opening an issue here, I'd agree this probably is a bug. The thing to investigate here is what the vSphere API returns as the "primary" vs "other" IP addresses, and whether or not there is a way of distinguishing them.

[2016-04-25 15:05] jen20 commented on #6324
Hi @kristjanelias! Thanks for opening an issue. This definitely looks like a bug given the combination of plan, configuration and error message. We'll get this taken care of!

[2016-04-25 15:07] jen20 commented on #6323
Hi @JorritSalverda! I must admit I had never tested this in Cygwin, and it's quite likely that it was already correctly interpreting the standard ASCII terminal codes. Can you confirm whether this also happens using a normal command prompt (or Powershell) as well?

[2016-04-25 15:10] jen20 commented on #6323
As an additional diagnostic step - can you verify whether the same whitepsace occurs if you specify the `-no-color` flag?

[2016-04-25 15:21] clstokes opened #6327 "create_before_destroy causes apply summary to be incorrect"
If I change a Terraform resource that causes the resource to be recreated (e.g. `(forces new resource)`), the value of `create_before_destroy` will alter the apply summary causing it to match the plan summary or causing it to not match. Specifically, `create_before_destroy = true` will mask the destroyed resource from being counted for the apply summary.
##### With create_before_destroy = false

P

[2016-04-25 15:21] jen20 commented on #6232
Hi @paul! This is a nasty issue I've not personally seen before, but it looks related to the one in #6005. I'm going to close this one in favour of working on #6005 and will update there when there is some progress on it. Thanks for the detailed report!

[2016-04-25 15:24] jen20 commented on #6239
Hi @davyt10! @jrnt30's example is correct - you can use `element`, `count.index` and a list of availability zones to distribute among here. Another way to achieve this is to use an autoscaling group. If you have any further questions here please feel free to reopen the issue!

[2016-04-25 15:24] #6239 closed

[2016-04-25 15:37] clstokes commented on #5440
These seem to be related:

- _remote state - destroy - does not have attribute_ - https://github.com/hashicorp/terraform/issues/5708
- _Invalid atlas_artifact destroy error_ - https://github.com/hashicorp/terraform/issues/4988
- _DO Droplet atlas_artifact destroy error_ - https://github.com/hashicorp/terraform/issues/3268

[2016-04-25 15:43] jen20 commented on #6300
Hi @Shruti29! Great work narrowing down the cause of this. Perhaps @markpeek, @frapposelli or @chrislovecnm have an idea of how to mitigate the effects of this?

[2016-04-25 15:49] jen20 commented on #6265
Hi @yanatan16 - yes I'd agree this is a bug. I'm going to test this against the `dev-0.7` branch, as I'm fairly sure the HIL interpolator should be complaining about that. Perhaps we are failing to surface an error somewhere.

[2016-04-25 15:56] chrislovecnm commented on #6300
Thanks @jen20 -

@benlangfeld was looking at the same problem on Friday as he has reported this bug as well: https://github.com/hashicorp/terraform/issues/6174

This is a duplicate, as I think we have three open.

I as mentioned a couple of the API comiters as well, on that issue, since we are unable to find an example of how exactly we would do the Wait properly. I can open an issue with govmomi,

[2016-04-25 16:00] jen20 commented on #6265
As an update: I have the following simpler repro on this:

[code]

My current working theory is that the `tags` field being computed is somehow ignoring interpolation errors.

[2016-04-25 17:14] dharrisio commented on #6303
@zette Thanks for creating an issue for this. This is something that I have come across as well, and unfortunately, you are correct that each module would need to be copied per application.

There is no way that I know of to pass in a new `setting` from the Terraform document that is including the module.  So the issue here is that the module would need to contain every possible setting that may b

[2016-04-25 17:31] dougm commented on #6174
Sounds like you're looking for something like this: https://github.com/vmware/govmomi/pull/501 ?

[2016-04-25 17:32] tecnobrat commented on #6102
I'm seeing that after creating a config template and assigning that config template to an environment using the `template_name` property, it seems to properly assign the template to the environment, except AWS doesn't actually load / apply that change.

I'm going to try making another modification to the template, to see if that now will kick off AWS to actually load the settings from the config t

[2016-04-25 17:33] chrislovecnm commented on #6174
LOL - just writing a ticket ...  Can you test it??

[2016-04-25 17:35] chrislovecnm commented on #6326
@jen20 this may be our network ip wait issue ..

[2016-04-25 17:36] chrislovecnm commented on #6300
There is a pull request in that I hope will help https://github.com/vmware/govmomi/pull/501

@dougm thoughts?

[2016-04-25 17:38] tecnobrat commented on #6102
Yea, after making a modification to the config template, it still doesn't trigger any sort of change on Amazon's end.

[2016-04-25 17:38] donaldguy commented on #1819
I suspect this would require more rearchitecting than will make it happen soon (or ever), but in terms of clarifying reasoning about overrides...

another option that I wish were the case right now would be to let providers be explicitly passed into and out of modules as a ~variable and ~output, with a mostly normal dependency graph over constrained providers, likely with weights on the constraint

[2016-04-25 17:39] chrislovecnm commented on #6300
@dougm I assume that we could replace the `vm.WaitForIP` method with `WaitForNetIP`?

[2016-04-25 17:41] chrislovecnm commented on #3624
One thing that @stack72 pointed out is that we do not have update methods.  We have Create, Read, and Delete from CRUD.  But no Update ...

[2016-04-25 17:44] dougm commented on #6300
@chrislovecnm yes, you can replace WaitForIP with WaitForNetIP

[2016-04-25 17:47] dharrisio commented on #6102
@tecnobrat I think I see where the issue is coming from. It looks like the beanstalk environment doesn't get updated if the template changes. My guess is that the environment uses a cached version of the config template, so it might not see the changes until the environment gets updated. I would be curious to see if rebuilding the environment would cause it to pick up the new changes.

When you ma

[2016-04-25 17:49] tecnobrat commented on #6102
@dharrisio even if I give it a brand new name, that doesn't cause an environment update on amazon's side, so its weird.

[2016-04-25 17:51] benlangfeld commented on #6174
@chrislovecnm Will do as soon as I can, which will probably be late this week or next week.

[2016-04-25 17:53] chrislovecnm commented on #6300
Can anyone on here test this PR within this code base?

[2016-04-25 17:54] tecnobrat commented on #6102
The even more odd part, if I look at the config template via amazon's API, it shows that it is "deployed" an according to the docs that means `deployed: This is the configuration that is currently deployed to the associated running environment.` .. but thats clearly not the case for me.

Might be an issue on amazon's end here.

[2016-04-25 18:06] dharrisio commented on #6102
@tecnobrat I think the issue with it not updating when the name changes is on the Terraform side of things.

Currently, testing out a few things, but I should have a pr to fix that one soon.

[2016-04-25 18:18] tecnobrat commented on #6102
@dharrisio so I applied the config template via amazon's web UI (clicked on the template, clicked load, selected my environment).

That causes this really messed up diff (obfuscated a bit):

[code]

Looks like loading the config template in that matter, overrides all settings, and doesn't allow you to specify them directly on the environment.

[2016-04-25 18:21] chrislovecnm commented on #3624
@stack72 @jen20 does you team need to bless this product direction, or are you good with the community laying this out?

[2016-04-25 18:25] tecnobrat commented on #6102
Interestingly enough, after the apply went through, this is the current state:

![image](https://cloud.githubusercontent.com/assets/145406/14794332/54d5151e-0ad8-11e6-853d-4da547c6c3d8.png)

You will notice that `Add instance when > 81` is incorrect, due to:

[code]

But all of the env vars set on the environment are back.

[2016-04-25 18:49] u2mejc commented on #6245
**UPDATE:** v0.6.15 has been released, and Opsworks support has been radically improved. Instance and stack creation are not supported, a nasty regression in creating stacks has been resolved, failing to update stacks was resolved, and plenty of other small feature / issues.

Still the biggest outstanding issue now is language or app specific layers are not being transmitted properly to AWS and si

[2016-04-25 18:52] majormoses commented on #5829
@lmeyemezu any chance you could surface the underlying error by running all terraform through something like charles proxy? The next version of TF should hopefully include a fix to the go sdk to not swallow these errors but until then it requires a bit more effort to surface them.

Install: https://www.charlesproxy.com/documentation/installation/ (or something like it)

Add ssl proxy host rules: P

[2016-04-25 19:10] clintonm9 commented on #6212
Any updates on when this can be corrected or a work around in place?

Thanks!

[2016-04-25 19:21] stack72 commented on #6212
Hi

I am currently working on this - hope to have it fixed really soon!

Paul

[2016-04-25 19:44] stack72 commented on #3624
you guys go for your life :) I just contribute some code once in a while - i don't work for the company

[2016-04-25 19:58] clintonm9 opened #6331 "Azure RM Availability Set"
Using 0.6.15.. If you set a VM to an availability set, Terraform always wants to change it:

[code]

Here is my config:

[code]

[2016-04-25 20:00] clintonm9 commented on #6120
Has anyone been able to successful create datadisk with Azure RM?

In Azure audit logs I am getting the following:
[code]

Here is part of my config:

[code]

[2016-04-25 20:16] mixacha commented on #3721
@kristinn  You can always run a hypervisor within a hypervisor + vCenter in trial mode for 60 days with highest license tier available and attach two VMDKs to form a datastore custer for testing purposes :-)

@chrislovecnm  I'm not a developer but logic inclines that terraform plugin should be able to determine regular datastore vs DS cluster (I believe these are marked as StoragePod type), and sh

[2016-04-25 20:22] mixacha commented on #3624
@rossedman do have in mind that compute resource has to be powered down before changing cpu/memory allocation (users can use hot-plug but it disables v-numa and all other shenanigans). Just to keep in mind this regarding U operations.  I believe that adding additional disks/increasing size of already provisioned disks are good candidates for update operations as they can be performed with compute

[2016-04-25 20:46] stack72 commented on #6331
Hi @clintonm9

This looks to be some issue with the casing of the availability_set_id

I will look into this and try and get it fixed

Apologies for the issue

Paul

[2016-04-25 21:06] dkalleg commented on #3624
In my testing I've come across a similar issue to @rossedman 's #2.  I'd spin up multiple ubuntu VMs in vSphere and then do provisioning steps on then which required their IPs, but I get intermittent failures due to the IP var not being set.  FYI, I added d.Set("network_interface.0.ipv4_address", ip) at the end of the VM provisioning steps then try to get that value back in my .tf script ( I plan

[2016-04-25 21:06] rossedman commented on #3624
@mixacha Yes it does require a power down but does that require a complete destroy? Hot swap can work with memory but I am not familiar with the v-numa stuff. You are right it is probably easier to implement additional block storage first.

[2016-04-25 21:16] norcalli commented on #943
I would like to request this again as I ran into wanting the ELB arn for an IAM policy.

[2016-04-25 21:25] jrnt30 commented on #6084
There is a workaround which you could use in the meantime.  Instead of relying on multiple variables as input, you can use a comma separated list for your zone listing and then use interpolation to select the appropriate versions.  Similar issue/example to:

https://github.com/hashicorp/terraform/issues/6239#issuecomment-213006703

[2016-04-25 21:34] chrislovecnm commented on #3624
@mixacha I might be wrong but, I think some os's allow for hot plug of cpu and mem. This allows for increase of mem and CPU without a reboot. Add and subtract. I have done this  with Linux flavors. So we should be able to do some hot adds. You can add a new disk, but not resize a disk on a running VM.

We probably should drop this to a design issue, because we need to determine what govmomi suppor

[2016-04-25 21:53] stack72 commented on #6274
@bsiegel  I have just opened a PR that fixes this

Paul

[2016-04-25 21:54] JoeOrtiz commented on #5703
Authenticating using the SSL client certificate.

[2016-04-25 22:00] #6274 closed

[2016-04-25 22:05] mijit commented on #3624
This might be scope creep since it probably means changes to core Terraform, but I've been using govc to guest.upload and guest.start scripts to my vSphere resources (to adhere to a no-ssh-as-root policy and avoid sudo setup.) It would be nice if the provider could provide those functions as options to, say, the connection block of a file provisioner. I probably lack sufficient Go-fu or round tuit

[2016-04-25 22:06] stack72 commented on #5704
Hi @ToruMakabe

We have released a patch in 0.6.15 that reduces the number of network calls to the AzureRM API. We found some flawed logic in how we register providers that was fixed

this should help alleviate your issue - we haven't ran into the API limits so I am going to close this out. IF you are still hitting the issue, please do let me know

thanks for raising the issue

Paul

[2016-04-25 22:06] #5704 closed

[2016-04-25 22:25] ToruMakabe commented on #5704
Awesome. Thanks!

[2016-04-25 22:48] phinze opened #6337 "provider/aws: aws_route crash when used with aws_vpc_endpoint"
### Terraform Version

0.6.15

### Affected Resource(s)

- aws_route
- aws_vpc_endpoint

### Terraform Configuration Files
[code]

### Panic Output

[code]

### Important Factoids

The tricky thing here is that to trigger the crash AWS has to return the VPC endpoint route before the newly created route in the response - otherwise the loop exits early and the nil pointer dereference never happens.

[2016-04-25 23:07] jrnt30 commented on #6222
@phinze I was able to confirm that the metadata service does start sending 429s when it's being hit heavily.  In my concurrency test it seems to break down after 25 concurrent connections are made.

[2016-04-25 23:09] chrislovecnm commented on #6326
@deasmi can you use govc to verify that the API is seeing the IP address change?  It is a command line tool that is based off of the same API.  Located [here](https://github.com/vmware/govmomi/tree/master/govc).  We are having some challenges with networking, but mostly on read during creation of the vm.

[2016-04-25 23:12] chrislovecnm commented on #5896
@fuhbar we actually have some documentation that is waiting on a merge that may help:

https://github.com/mixacha/terraform/blob/master/builtin/providers/vsphere/README.md

Let @mixacha and I know if that helps, or should be revised.

[2016-04-25 23:16] chrislovecnm commented on #3624
@mijit not really.  I would eventually expect defining a start script as part of vm creation.

@dkalleg I know you have been very active.  Do you mind sharing what features you are planning on working on?  I am drafting a road map issue, and would like to include that information.

[2016-04-25 23:43] dkalleg commented on #3624
@chrislovecnm Sure.

My current tasks in prio order:

- Look into an issue I'm seeing where a d.Set() after a waitForIp() seems to not be properly setting the value about 50% of the time.
- Start work on virtual_machine update (starting with adding a disk to a running vm)
- File resource.  Pushing a file to a datastore.  Not the same as the provisioner "file" command to push a file to a vm.
- Star

[2016-04-25 23:57] chrislovecnm opened #6341 "vSphere Provider - VM Update Capability"
## Updating Virtual Machines Via vSphere provider

This is an issue for tracking update capability of the vSphere provide.  At the time of writing this issue the provider does not include the capability to update via TF.

The following items need to be validated that the govomi API allows updating.
## General VM Settings
- ~~`vcpu` - The number of virtual CPUs to allocate to the virtual machine~~

[2016-04-26 00:03] chrislovecnm commented on #3624
@dkalleg

See this issue: https://github.com/hashicorp/terraform/issues/6300 - It has a PR in it mentioned by govmomi team https://github.com/vmware/govmomi/pull/501 - please try that

See here https://github.com/hashicorp/terraform/issues/6341 - please link PR's / issue to there

push a file to a vm.

Not sure where to put this - either on roadmap or separate issue

Awesome

This should be filed

[2016-04-26 00:09] chrislovecnm commented on #3624
Hey all ... just openned an issue to track the work on updating VMs.https://github.com/hashicorp/terraform/issues/6341

Will start pulling out components out of this issue into a roadmap ... will take a few days.  Currently I believe that the network issues of both waiting for the nics to come up and the way the provider looks up the networks are the two critical things that need to be addressed.

[2016-04-26 00:17] dkalleg commented on #3624
@chrislovecnm Just wanted to voice a distinction with my case.  I see the waitForIp() call blocking while I watch vSphere UI booting up my vm, when I see my ip show up in vSphere (usually < 30 seconds) the waitForIp() stops blocking and continues on.  At this time I'm writing the ip to d.SetConnInfo.host as well as `network_interface.0.ipv4_address`.

My understanding is that the remote-exec calls

[2016-04-26 00:58] joshuaspence opened #6343 "`terraform fmt` always updates source file"
I am trying to write a `terraform fmt` binding for [arcanist](https://github.com/phacility/arcanist). It seems that running `terraform fmt some_file.tf` will always update the source file. This seems inconsistent with the documentation, which seems to imply that the source file will only be modified with the `-write` flag. Specifically, I am trying to have `terraform fmt some_file.tf` output the m

[2016-04-26 02:01] clstokes commented on #5322
Related to #4703 too maybe?

[2016-04-26 03:26] Preskton commented on #3624
@chrislovecnm Other than this thread, do you have somewhere where you're compiling the "official" (at least as official as we'll get) roadmap?

[2016-04-26 03:32] joshrtay commented on #6092
@radeksimko Took a stab at it. #6344

[2016-04-26 04:07] chrislovecnm commented on #3624
@preskton - on my todo list :)

[2016-04-26 04:21] manojtr opened #6345 ""terraform remote push" conflicts with "terraform push"?"
Hi there,

When I run `terraform remote push` it conflicts with `terraform push` for some reason and it shows the Usage for `terraform push`. But `terraform remote config` works with the same arguments. See below.
This is in the case of AWS. I ran the bellow command on Mac 10.11.3 (El Caption) and terraform version is v0.6.14

Is this something to do with my settings or may be used in an incorrect

[2016-04-26 06:05] kamaltherocky commented on #1557
+1

[2016-04-26 07:07] mixacha commented on #3624
@rossedman we can make update operation work by powering down the instance and then increasing memory and cpu - we just have to cover it with appropriate docs so people are aware that this will happen. Hot-plug option is possible but it requires setting certain advanced parameters on virtual machine creation for both memory and cpu - then we can plainly add new resources to it (maybe some pre-flig

[2016-04-26 08:12] roylines commented on #5394
What remains to be done on this? Is it just a case of an admin checking over the pull request #4353 ?

[2016-04-26 08:44] deasmi commented on #6326
So that's interesting.

govc returns the single original IP address, whereas looking in the vSphere console ( via vmware tools ) all of the IP addresses are shown.

However looking at the govc source, with my very limited understanding of the language, it seems it would only ever return one IP address anyway?

https://github.com/vmware/govmomi/blob/master/govc/vm/ip.go

[2016-04-26 09:27] DaveBlooman opened #6346 "terraform fmt uses odd variable style"
[code]
This is what tf fmt does to module variables, i would have expected

[code]

[2016-04-26 10:08] robholland commented on #6005
This is making terraform really hard to use, made a lot worse because of the way that the dependencies work in terraform.

Given:

[code]

The way the deps in terraform work here using element() means that all instances of aws_instance.worker are considered dependencies of any aws_route53_record.worker instance, even though actually only aws_instance.worker[i] is really a dependency. Because of th

[2016-04-26 10:11] robholland commented on #6005
To demonstrate further:

[code]

[2016-04-26 10:18] stack72 commented on #6102
Hi @dene14

the PR from @dharrisio that fixes this has been merged

Sorry for the issue

Paul

[2016-04-26 10:18] #6102 closed

[2016-04-26 13:07] pauldatta opened #6348 "aws_autoscale_notification causes issues while re-launching ASG with aws_autoscaling_group changes"
I have been using terraform to launch a new AMI within my existing ASGs by destroying them and recreating - changing the aws_autoscaling_group within my cf file does this for me.

I recently added an aws_autoscale_notification to the mix that looks like the below which is what has broken things I feel.
`aws_autoscaling_notification.app_asg_notification - diffs didn't match` (see gist down below).

[2016-04-26 13:13] protomouse commented on #6138
@gavinheavyside No further work has been done on this, and I'm afraid there are currently no internal needs that enable us to drive implementation forward in the foreseeable future.

[2016-04-26 13:38] chrislovecnm commented on #6326
@deasmi I recommend that we work with the owners of govmomi figuring this out. Do you mind filing an issue with them and keeping this one open?

Thanks Chris

[2016-04-26 14:30] Dchamard opened #6349 "Ebs volumes are not attached and available at boot time for userdata script to mount them."
### Terraform Version
0.6.15
### Affected Resource(s)
Please list the resources as a list, for example:
- aws_instance
- aws_volume_attachments
- aws_ebs_volume

### Expected Behavior
- Terraform create the volumes
- Terraform create the instance
- Terraform attach the volumes to the ec2 instance
- Terraform starts the instance

### Actual Behavior
Terraform attach the volumes after that the insta

[2016-04-26 15:38] krushi90 opened #6353 "Support KmsKeyId in aws_db_instance resource for rds encryption"
As part of https://github.com/hashicorp/terraform/pull/1041, support for storage encryption was added but with default key. Can we add support for specifying KmsKeyId in aws_db_instance resource?

In my current use case, I need to use a different key(not default key) for RDS encryption. Since encryption can only be set at the time of creating RDS instance, I don't know if there is any other way to

[2016-04-26 15:42] rossedman opened #6354 "0.6.15 Windows vSphere Updates?"
Did the vSphere additions for Windows support not included in the newest release? There seems to be some updates that are vSphere updates that are newer, but I didn't see those commits from @aheeren included. Interested to know what happened to those. They were committed on April 13th.

Thanks

[2016-04-26 16:12] thetuxkeeper commented on #3562
Hi,

since we ran into the same problem, I implemented a "skip_customization" setting which makes it possible to skip that part. We tested it with our CoreOS deployment (described in the pull request).

Regards

[2016-04-26 16:22] aheeren commented on #6354
@rossedman Looks to me like the changes are there: https://github.com/hashicorp/terraform/blob/v0.6.15/builtin/providers/vsphere/resource_vsphere_virtual_machine.go#L47 I haven't built/tested the release, but I can't see any reason for the functionality of windows to have changed. I'll leave it up to you to close or not close this issue.

[2016-04-26 17:24] vipulsabhaya commented on #3624
@chrislovecnm Is there any interest in supporting NSX in Terraform?

[2016-04-26 17:40] tangentspace commented on #5417
I'm also experiencing this issue in 0.6.15. When Terraform successfully creates my RDS stack, it's also able to delete it successfully. When the stack fails to create due to any sort of error, I run into this bug.

I notice that the "skip_final_snapshot" parameter appears in the terraform.tfstate file when the stack creation is successful, but it's missing when the rds instance was created success

[2016-04-26 17:43] rafitadiaz commented on #5108
Same problem here with the 0.6.15, it works with the 0.6.9

FYI: I created one resource with the 0.6.9, then I updated to the 0.6.15, then I added two resources more and I got this error but only in the new resources.

[code]

The three have the same definition.

[code]

[2016-04-26 17:59] tecnobrat commented on #6242
@dharrisio any ideas if this is possible at all?

[2016-04-26 18:01] bkarypid commented on #6076
+1

[2016-04-26 18:20] chrislovecnm commented on #3624
@vipulsabhaya do not know. At the point we are mostly concentrating on vsphere. Does NSX have a go API?

[2016-04-26 18:24] vipulsabhaya commented on #3624
@chrislovecnm Not that I have seen, NSX has a REST api, so it may need to be added to govmomi or similar

[2016-04-26 18:29] jen20 commented on #6354
Hi @rossedman! Some commits from @aheeren landed in 0.6.15 as children of `eded8bb` and were shipped as part of that release. If you're still seeing issues with Windows machines, would you consider opening a new issue (following the new template) describing what you are seeing and we'll try to take a look! Thanks!

[2016-04-26 18:29] #6354 closed

[2016-04-26 18:33] chrislovecnm commented on #3624
@vipulsabhaya a supporting API is the first step. You many want to put in a request to the govmomi maintainers, if this support is of interest to you. If you develop you may want to work on that support. Thanks Chris

[2016-04-26 18:42] eedwardsdisco commented on #6349
Are you sure that Terraform is starting the instance?

I'm pretty sure that the instance automatically starts the moment it's created, as per AWS behavior, not Terraform.

[2016-04-26 18:53] oillio commented on #6285
Obviously you can do whatever you want, and this is a minor issue.  I have a workaround.

Having said that, I would argue that this is a sign of a systemic issue with trying to detect state changes by effectivly diffing an AWS API request with an AWS API result.
I have run into related issues a number of times.  The new elasticbeanstalk support is full of them.  As well as #2879, #4097, #4273, #62

[2016-04-26 18:56] dharrisio commented on #6242
@tecnobrat Not sure how I missed this one! Need to update my filters :)

This should be fixed with #6342, are you still seeing this issue with the latest master?

[2016-04-26 18:59] tecnobrat commented on #6242
Oh, so that PR killed two birds? We should probably make sure the CHANGELOG has a corresponding entry :)

I have not tried on master, we run everything on atlas, which can only run official releases.

Thanks sir! :)

[2016-04-26 19:19] awesometown opened #6357 "Missing "wait_for_ready_timeout" in tfstate file causes error upgrading from 0.6.14 -> 0.6.15"
We're using Terraform to provision Elastic Beanstalk applications in AWS. Today I tried upgrading Terraform from version 0.6.14 to 0.6.15 to take advantage of the new "cname_prefix" field. However, when I tried to run "terraform apply" against an existing stack, I received this error:

However, if I destroy the entire stack, delete my .tfstate file and run "terraform apply", everything works, sugg

[2016-04-26 19:23] #6346 closed

[2016-04-26 19:29] dharrisio commented on #6242
That's correct, although I just noticed a small issue with #6342 where the `wait_for_ready_timeout` won't be used in an environment update. Fix for that will be submitted shortly!

Here's an example of what I see when I update an environment with this change
[code]

So, you can see that it no longer returns immediately.

[2016-04-26 19:58] eedwardsdisco opened #6359 "hcl parser escape behavior is broken, cannot use variables or functions with content that requires escaping"
### Terraform Version
0.6.15, 0.6.16

### Affected Resource(s)
- consul_key_prefix
- core ?

### Expected Behavior
- Terraform treats default values of variable as 'raw' and does not interpolate or parse them.
- Terraform allows a variable value from a .tfvars file to contain backslashes, or a mechanism to escape them properly

### Actual Behavior
- Terraform is attempting to parse the 'default' v

[2016-04-26 20:01] Kurry commented on #523
@phinze
This doesn't seem to be working in the newest version.

 I get this error:

[code]

With these proxies set:

[code]

[2016-04-26 20:45] MiguelMoll commented on #5360
Checking in to see if there's been any progress or perhaps another work around (besides downgrading) for this problem.

[2016-04-26 20:49] dharrisio commented on #6357
It sounds like I might have missed a migration on that one, sorry! The `wait_for_ready_timeout` was also added in 0.6.15. If you could provide more details that would be great. I tried to create it with the basic tf document below, but didn't run into the issue you described.

[code]

- terraform apply (v0.6.14)
- terraform plan (v0.6.15)
- terraform apply (v06.15)

### Plan output from v0.6.15
[c

[2016-04-26 21:07] stack72 commented on #6242
Hi @tecnobrat

A fix has been merged for this now (#6358) - thanks to @dharrisio for the fix and thank you for pointing out the error

Paul

[2016-04-26 21:07] #6242 closed

[2016-04-26 21:23] stack72 commented on #6357
@dharrisio is this going to be fixed by the PR just merged?

[2016-04-26 21:31] rossedman commented on #6354
@jen20 @aheeren Thanks. I'm not seeing issues so far. Built from master. Didn't realizes changes were in 0.6.15. Thanks a lot. That's exciting news.

[2016-04-26 21:32] rossedman commented on #3624
@vipulsabhaya I would like to see NSX. There is definitely a need there but would love to see more vSphere resources covered first.

[2016-04-26 21:33] dharrisio commented on #6357
@stack72 I'm not sure if it is related. I've tried a few other things, but haven't been able to recreate the issue yet.

[2016-04-26 21:34] stack72 commented on #6357
got it - let me know :)

[2016-04-26 21:37] colemickens opened #6360 "[azurerm] No support for setting blob contents"
### Affected Resource(s)
- azurerm_storage_blob

### Expected Behavior
Azure blob contents should be settable from Terraform. (GCE Storage Blob has a "content" field).

### Actual Behavior
There is no such feature.

[2016-04-26 21:38] hc-asana opened #6361 "#6353: Support KmsKeyId in aws_db_instance resource for rds encryption"
https://github.com/hashicorp/terraform/issues/6353
https://github.com/krushi90

As part of https://github.com/hashicorp/terraform/pull/1041, support for storage encryption was added but with default key. Can we add support for specifying KmsKeyId in aws_db_instance resource?

In my current use case, I need to use a different key(not default key) for RDS encryption. Since encryption can only be set

[2016-04-26 21:38] hc-asana opened #6362 "#6345: "terraform remote push" conflicts with "terraform push"?"
https://github.com/hashicorp/terraform/issues/6345
https://github.com/manojtr

Hi there,

When I run `terraform remote push` it conflicts with `terraform push` for some reason and it shows the Usage for `terraform push`. But `terraform remote config` works with the same arguments. See below.
This is in the case of AWS. I ran the bellow command on Mac 10.11.3 (El Caption) and terraform version is v

[2016-04-26 21:38] hc-asana opened #6363 "#6357: Missing "wait_for_ready_timeout" in tfstate file causes error upgrading from 0.6.14 -> 0.6.15"
https://github.com/hashicorp/terraform/issues/6357
https://github.com/awesometown

We're using Terraform to provision Elastic Beanstalk applications in AWS. Today I tried upgrading Terraform from version 0.6.14 to 0.6.15 to take advantage of the new "cname_prefix" field. However, when I tried to run "terraform apply" against an existing stack, I received this error:

However, if I destroy the enti

[2016-04-26 21:38] hc-asana opened #6364 "#6359: unable to set consul key with backslash or dollar sign from input variable"
https://github.com/hashicorp/terraform/issues/6359
https://github.com/eedwardsdisco

### Terraform Version
0.6.15

### Affected Resource(s)
- consul_key_prefix
- core ?

### Expected Behavior
- Terraform treats default values of variable as 'raw' and does not interpolate or parse them.
- Terraform allows a variable value from a .tfvars file to contain backslashes, or a mechanism to escape them pro

[2016-04-26 21:38] hc-asana opened #6365 "#6349: Ebs volumes are not attached and available at boot time for userdata script to mount them."
https://github.com/hashicorp/terraform/issues/6349
https://github.com/Dchamard

### Terraform Version
0.6.15
### Affected Resource(s)
Please list the resources as a list, for example:
- aws_instance
- aws_volume_attachments
- aws_ebs_volume

### Expected Behavior
- Terraform create the volumes
- Terraform create the instance
- Terraform attach the volumes to the ec2 instance
- Terraform starts the

[2016-04-26 21:42] dagnello opened #6366 "Feature: File resource for vSphere provider"
File resource. Pushing a file to a datastore. Not the same as the provisioner "file" command to
push a file to a vm.

[2016-04-26 21:43] #6361 closed

[2016-04-26 21:43] dagnello commented on #3624
@chrislovecnm starting to work towards adding file resource, I have created the following issue (#6366) for tracking.

[2016-04-26 21:43] #6362 closed

[2016-04-26 21:44] #6364 closed

[2016-04-26 21:44] #6363 closed

[2016-04-26 21:44] #6365 closed

[2016-04-26 21:50] awesometown commented on #6357
Hmm, ok. I'll take a stab at finding a simple(ish) configuration that reproduces the problem tonight or tomorrow morning. I don't think there's anything too exciting about our beanstalk configuration, except that we've got a bunch of "setting" values.

[2016-04-26 22:21] krushi90 commented on #6353
@hc-asana I see closed flag on this. Does this mean this will be implemented or will not be implemented? Thanks.

[2016-04-26 22:31] tecnobrat commented on #6018
Amazon only allows 5 EIPs per region, when in a VPC.  This is both unassociated and associated ones.  They do not list a limit anywhere for "unassociated" anywhere that I can find.

http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html

Its under `Amazon Virtual Private Cloud (Amazon VPC) Limits` and you can search for `Elastic IP addresses per region for each AWS account`

The exce

[2016-04-26 23:32] sparkprime opened #6368 "Empty JSON objects were ignored, now give error"
### Terraform Version

Terraform v0.6.16-dev (0194cfda0afb53702985730a54bfef608b9b4eeb)
### Affected Resource(s)

core
### Terraform Configuration Files

[code]
### Debug Output

[code]
### Expected Behavior

Should ignore the empty object (this was the old behavior).  I do not know when the regression occurred.

[2016-04-27 02:31] awesometown commented on #6357
I think I've got it. I confirmed that I cannot repro the problem with your sample above, but can with one additional step. As I mentioned, we specifically jumped on 0.6.15 so that we could take advantage of specifying "cname_prefix" in the beanstalk configuration. Doing so forces a recreate of the beanstalk environment (which is expected), but that seems to be the scenario where the problem appear

[2016-04-27 04:53] mixacha commented on #6341
@chrislovecnm cpu and memory update PR #6356

[2016-04-27 06:32] MattiasGees opened #6369 "Existing security groups are not recognized on an aws_instance in TF 0.6.15"
### Terraform Version
Terraform v0.6.15

### Affected Resource(s)
Please list the resources as a list, for example:
- aws_instance

### Terraform Configuration Files
[code]

Code inside module
[code]
### Expected Behavior
After updating to the latest terraform version, terraform doesn't recognise the current added security groups anymore. In the state file before I do a plan I see the security gro

[2016-04-27 06:32] colemickens commented on #6360
I have some WIP here: https://github.com/colemickens/terraform/tree/azure-blob-upload

[2016-04-27 06:33] colemickens commented on #6360
Also, blob types should probably be "block" or "page", rather than right now it expects "blob" or "page". There's no blob type "blob".

[2016-04-27 06:44] kristjanelias commented on #6369
Seeing the same behaviour. It is causing real problems...

[2016-04-27 09:05] kblcuk opened #6371 "Can't use Compose-hosted etcd as Terraform backend."
Some time ago my Terraform installation started reporting that it's etcd cluster (hosted by [Compose.io](https://www.compose.io/etcd/)) is unhealthy.

When I first time bumped into this, I tried running `etcdctl` cluster health check with the same result. And it seems to be due to the way etcd cluster is setup in Compose:

You can see a bit longer discussion here: https://github.com/coreos/etcd/is

[2016-04-27 09:36] stack72 commented on #6018
Thanks for the info on this @tecnobrat

I am going to close this out for now as it corroborates my theory on hitting the EIP limit. If you raise the limit and find the same issue, please re-comment on this

thanks

Paul

[2016-04-27 09:36] #6018 closed

[2016-04-27 09:39] ljankowski commented on #6018
@tecnobrat actually I did some more tests and you are right about the limit.

I have 3 IPs allocated for other purpose on that account in that region.

When I use terraform to create vpc with 2 IPs, then all works fine.
When I increase the `count` to 3, then it fails with `LimitExceeded` error. Which rightly takes me above 5  IP limit.

However, there's probably bug in AWS.
When I create vpc in 3A

[2016-04-27 11:09] JesperTerkelsen commented on #6232
I saw this as well, after upgrading to 0.6.12

[2016-04-27 11:16] JesperTerkelsen commented on #2627
We also ran into this 👍

[2016-04-27 11:33] tasquith opened #6372 "azurerm - error creating vm from existing vhd - osType not supplied"
### Terraform Version
v0.6.15

### Affected Resource(s)
azurerm_virtual_machine

### Terraform Configuration Files
[code]

### Error

[code]

from charles proxy:

[code]

### Expected Behavior
What should have happened?
The VM should have successfully been created with the specified OS disk.

osType is not mentioned in the example for the virtual machine resource and no mapping seems to exist.

##

[2016-04-27 11:38] stack72 commented on #6372
Hi @tasquith

thanks for reporting the error. I am currently looking into the API for the os_type parameter. Can you tell me how you created the os_disk? This would allow me to try and create one as a test

Paul

[2016-04-27 11:41] stack72 commented on #6372
@tasquith

Just a FYI, the reason this wasn't added (os_type) is because it hasn't been documented on the Azure API - https://msdn.microsoft.com/en-us/library/mt163591.aspx#bk_osdisk

I will try and debug what is needed

Thanks again for pointing this out as it is a showstopper

P.

[2016-04-27 11:57] fuhbar commented on #5896
@chrislovecnm thanks man, you are great. Haven't found time to get back to this.

With the reference to the documentation you've supplied this issues is pretty much completely solved. Closing it.

Thanks again! :)

[2016-04-27 11:57] #5896 closed

[2016-04-27 11:59] tasquith commented on #6372
Hi @stack72,

Thanks for getting back to me so quickly!

It should just work using packer to create an image based on the openlogic 7 template.

as a side note, I have to create it using packer with the classic provider (we create a base image from openlogic, then use that to create a more specialised server - this one, I have to do this as the azurerm provider for packer doesn't yet support using

[2016-04-27 12:06] stack72 commented on #6372
@tasquith

This is *REALLY USEFUL* info! This will help me create a good test case here - so thanks for that. Let me see if i can fix this bug and then see if we can address the second part

Paul

[2016-04-27 12:10] #6337 closed

[2016-04-27 13:16] frederic-jomedia commented on #5924
Just to confirm that this bug still exist in Terraform v0.6.15

[2016-04-27 13:21] anvaughan commented on #2114
+1

[2016-04-27 13:33] choppedpork commented on #6369
I'm seeing the same. Currently working around by using 0.6.14 and adding the security groups to the tfstate file manually (or reverting changes to the tfstate file made by 0.6.15). Running a diff against the 0.6.14 version, I can see that all by aws_instances now have an additional `"disable_api_termination": "false",` but also:
[code]

[2016-04-27 13:38] BrianHicks opened #6375 "`terraform fmt` adds extra lines in comment blocks"
### Terraform Version

[code]
### Affected Resource(s)

n/a
### Terraform Configuration Files

[code]
### Debug Output

https://gist.github.com/BrianHicks/45196caa7824eb6758ea071ecf2974b0
### Expected Behavior

The comment block should have been left intact, as in the sample above.
### Actual Behavior

Actual output:

[code]

All newlines included.
### Steps to Reproduce
1. paste the above configu

[2016-04-27 13:55] catsby commented on #6369
Hello all –

I'm not immediately sure of the changes there, but I'll investigate. In the meantime, if you are on a VPC (original post seems to be), can you use the `vpc_security_group_ids` attribute for your security groups in your `instance`? `security_groups` are meant for EC2 Classic users, as EC2 Classic has the limitation that you cannot update security groups without re-creating the instance