[2015-11-22 21:54] antonosmond commented on #1497
+1

[2015-11-22 22:00] svanharmelen commented on #3964
@phinze just got around to testing some configs and as far as I can tell we are goid to go :smiley:

[2015-11-22 22:11] mrwilby commented on #3691
@packplusplus Thanks, good to know!

[2015-11-22 22:22] abevoelker opened #4014 "aws_elasticache_cluster maintenance_window always wants to reapply if value is not lowercase"
I have this in my `main.tf`:

[code]

which causes `terraform plan` to always want to change it every time I run it:

[code]

When I change the value in `main.tf` to be lowercase (`maintenance_window = "tue:09:00-tue:10:00"`) the problem is resolved.

The `aws_elasticache_cluster` docs do use [a lowercase example for `maintenance_window`](https://www.terraform.io/docs/providers/aws/r/elasticache_c

[2015-11-23 00:32] nickithewatt opened #4015 "Allow module input variables to be optional"
Hi,

I have a scenario where I am trying to define a module which in turn is composed of nested modules with some default values defined. In general this works fine, however I am running in the situation where I find I am unable to conditionally supply some variables and not others for the most "nested" module definitions, and am forced into an all or nothing scenario.

I shall illustrate with an

[2015-11-23 00:53] johnrengelman commented on #2100
There's nothing in the AWS API that's forcing this particular implementation, I highly suggest that an alternative implementation that is closer to `aws_iam_role_policy` be created. I had thought I'd be able to do it myself, but I don't think I will in a reasonable about of time (read as months)

[2015-11-23 03:55] brikis98 commented on #3750
Anyone have any thoughts on this one?

[2015-11-23 05:05] GrayCoder commented on #2100
Hi All. I've tried to get the functionality you're all requesting implemented in #4016

Feel free to pull down that branch and test if you'd like.

[2015-11-23 08:05] radeksimko commented on #3964
I wanted to avoid merging changes at this time before release, there's just one I merged - https://github.com/hashicorp/terraform/pull/4010

This was to avoid breaking changes after the release. Full explanation inside the PR. Hopefully it won't cause any troubles - I double checked the code & tests.

[2015-11-23 10:16] eugenetaranov opened #4019 "terraform crash during plan"
Hello,

just tried to tun terraform pull and it crashed. Crash log attached.
Could you please look ?

[crash.txt](https://github.com/hashicorp/terraform/files/41457/crash.txt)
v0.6.6, OSX

Thanks,
Eugene

[2015-11-23 10:36] eugenetaranov commented on #4019
quick update, might be important: it timed out when I was running it last time during aurora cluster spinup. Maybe this broke tfstate files.

[2015-11-23 10:38] radeksimko commented on #4019
Cutting out the interesting part of the crash log:

[code]

[2015-11-23 12:56] stack72 commented on #4014
@jen20 @abevoelker fixed in #4020

[2015-11-23 13:02] #4014 closed

[2015-11-23 13:20] landro commented on #1991
@catsby I'm having similar issues. Debug repeatedly shows

2015/11/23 14:18:28 [DEBUG] vertex root, waiting for: provider.aws (close)
2015/11/23 14:18:33 [DEBUG] vertex aws_route53_record.www, waiting for: provider.aws
2015/11/23 14:18:33 [DEBUG] vertex provider.aws (close), waiting for: aws_route53_record.client
2015/11/23 14:18:33 [DEBUG] vertex aws_route53_record.api, waiting for: provider.aws

[2015-11-23 14:05] jen20 commented on #4019
Hi @eugenetaranov! Thanks for reporting this crash. Could you confirm the command you were executing when you saw this crash? From looking at the code paths and discussing with @phinze, it doesn't seem like a simple `terraform remote pull` could cause execution to follow this path as it doesn't refresh.

[2015-11-23 14:08] james-masson commented on #2167
I wonder if there have been any improvements here while I've been distracted by other things?

I currently have code like:

[code]

... and it's pretty ugly.

Is there a better way of doing this now?

[2015-11-23 14:10] eugenetaranov commented on #4019
Hi,
you are correct, I think I made a typo, sorry for that. Command was "~/bin/terraform/terraform plan"

[2015-11-23 14:12] #3586 closed

[2015-11-23 14:15] lwander commented on #3990
This has already been brought up in #3742, and is being addressed in #3913. However, @apparentlymart made the case that the typical behavior is to allow `terraform show` to resolve this by calling `Read(..)` on the deleted resources, marking them as no longer existing. What do you think, @clstokes?

[2015-11-23 14:19] #4013 closed

[2015-11-23 14:22] #3762 closed

[2015-11-23 14:22] #3774 closed

[2015-11-23 14:32] jen20 commented on #3786
@thegedge You're correct that this is the use case for `compact` and that in this case that would be the best solution (cc @jedineeper).

I'm going to work on ensuring that we present an error in this case instead of crashing though.

[2015-11-23 14:59] richard-mauri opened #4022 "remote-exec provisioner fails with "Error reading script: EOF" (Terraform v0.6.6) (target atomic)"
I have a tf file that provisions an aws instance and then uses a file provisioner to upload a file and then a remote-exec provisioner to perform a simple command. The file provisioner works. The remote-exec takes a couple minutes and then fails with an EOF error.

---

[ec2-user@ip-172-31-22-157 atomic]$ terraform apply
aws_instance.atomic-server: Creating...
  ami:                        "" => "a

[2015-11-23 15:31] phinze commented on #557
Checking in on some old issues here. The fact that provisioners for a given resource before its dependencies are processed is pretty inherent to the way the dependency graph works. Today we'd recommend the same solution of dropping the provisioners later in the graph, either by adding them to the `aws_eip` resource directly or via a `null_resource` placed afterwards.

These options can be consider

[2015-11-23 15:31] #557 closed

[2015-11-23 15:32] phinze commented on #567
Hello! I believe we have since handled this via better API polling in the subnet resource. Feel free to follow up if you're still experiencing this in the latest version of Terraform. :+1:

[2015-11-23 15:32] #567 closed

[2015-11-23 15:40] phinze commented on #3964
Sounds good, @radeksimko, looks like a good call to me. :+1:

[2015-11-23 15:40] djvdorp commented on #1568
@mitchellh great, thanks for your work, very much appreciated! When is the next release of TF scheduled?

[2015-11-23 16:01] catsby commented on #1991
@landro do you have a configuration that reproduces this by chance? The logs you shared are more from Terraform and not showing what the cause is.

[2015-11-23 16:02] catsby commented on #3341
Hey @johnhamelink the second error shouldn't be happening, do you have a configuration that shows the lifecycle block but still gets that error?

[2015-11-23 16:04] phinze commented on #2658
@bikbajwa can you open a fresh issue with your Terraform version and steps to reproduce? Then we can take a look and figure out what's happening in your setup. :+1:

[2015-11-23 16:06] phinze commented on #622
You can do this today via [`aws_volume_attachment`](https://terraform.io/docs/providers/aws/r/volume_attachment.html)! :tada:

[2015-11-23 16:06] #622 closed

[2015-11-23 16:08] phinze commented on #626
This can be accomplished today via the [`ignore_changes` metaparameter](https://terraform.io/docs/configuration/resources.html#ignore_changes).

[code]

[2015-11-23 16:08] #626 closed

[2015-11-23 16:09] phinze commented on #654
You can do this today by managing [`aws_ebs_volume`](https://terraform.io/docs/providers/aws/r/ebs_volume.html) resources separately and attaching them via [`aws_volume_attachment`](https://terraform.io/docs/providers/aws/r/volume_attachment.html). :+1:

[2015-11-23 16:09] #654 closed

[2015-11-23 16:11] phinze commented on #717
(a) I also believe this has been fixed
(b) We generally discourage using dynamic values in resource names and point users to Modules instead as units of dynamic reuse

Anybody on this thread can feel free to follow up if you believe there's more to track here.

[2015-11-23 16:11] #717 closed

[2015-11-23 16:13] phinze commented on #742
We've made a bunch of improvements on error reporting in the time since this has been filed and I believe errors like this should be bubbled up today, feel free to follow up if you believe there's still a remaining TODO here on the latest Terraform version.

[2015-11-23 16:13] #742 closed

[2015-11-23 16:15] clstokes commented on #3990
I'm definitely good with @apparentlymart's suggestion. I'll close this in favor of #3742. Thanks @lwander!

[2015-11-23 16:15] #3990 closed

[2015-11-23 16:15] phinze commented on #3151
Merging this issue with #774. The Consul provider could definitely use a pass for bugfixes like this one.

[2015-11-23 16:15] #3151 closed

[2015-11-23 16:16] phinze commented on #774
Just confirming that this is still an issue today.

[2015-11-23 16:18] phinze commented on #890
This conversation played out over in #908 - see that thread for context.

[2015-11-23 16:34] phinze commented on #1035
@tarrant not a whole lot of community activity on this one. Is this still functionality that would be worth adding for your use case?

[2015-11-23 17:05] bitglue commented on #890
So since the solution I proposed was rejected, what's the suggested solution? There is, so far as I've been able to tell, no way to unit test out of tree providers. A couple alternatives were discussed in #908 that could be implemented: were they? Is it just a matter of adding documentation so people like me, who want to implement providers but aren't experts in Terraform's internals, can know how

[2015-11-23 17:15] phinze commented on #890
@bitglue ah sorry I've been flying through old issues and misread this description as encompassing the interface solution. We still don't have a good way of unit testing providers today, I'll reopen this until we come up with a story there. :+1:

[2015-11-23 17:17] phinze commented on #1333
This should be long since fixed. Feel free to follow up if you see this on the latest Terraform version! :+1:

[2015-11-23 17:17] #1333 closed

[2015-11-23 17:51] plainlystated commented on #745
I have a similar usecase:

I am doing something like:

[code]

The network_interface I'm creating gives the host access to a subnet that chef will need (or else it fails). I cannot figure out how to allow the aws_network_interface to be applied before the instance provisions.

[2015-11-23 17:52] phinze commented on #1310
Going through and reviewing some old issues here. I believe the behavior is still as described, but I'm not sure it's worth us trying to handle this scenario specifically. Terraform has no knowledge of the guest operating system, which is what would be required to implicitly convert line endings. So we'd be left with a config option, which seems like it would have limited value over either (a) doi

[2015-11-23 17:52] #1310 closed

[2015-11-23 17:56] jare19 commented on #4004
updating as I have found more information.  This problem only happens when a branch other than master is populated.

[2015-11-23 18:15] ryanl-ee commented on #3855
That is the task I copied from vSphere. Here's the debug log:

https://gist.github.com/ryanl-ee/470c152d6589592eb291

I regenerated my templates using VMX hardware version 11 and post-processed them directly to vSphere. The Ubuntu template works, but I have the same issue with the generated Windows Server 2012 R2 Datacenter.

[2015-11-23 18:21] richard-mauri commented on #4022
It is important to note that the target machine is fedora atomic.
I see from journalctl that there is a /var/log/lastlog that does not exist in this atomic os.
Maybe this is a contributor to this bug?

 Nov 23 18:09:58 ip-172-31-15-35.us-west-2.compute.internal sshd[1366]: pam_lastlog(sshd:session): unable to open /var/log/lastlog: No such file or directory

[2015-11-23 19:13] ascendantlogic opened #4023 "Setting a map variable in tfvar file via dotted notation failing"
I just pulled and compiled the latest code [as of this commit](https://github.com/hashicorp/terraform/commit/7e0cbb4da7bc031b66cb3fe02d906acc7a0c2241). Now when I attempt to do a plan I get the following error:

[code]

My variable declarations are as follows:
[code]

And the line in question in my `values.tfvars` file is:
[code]

This was working as of a dev 0.6.7 build from a few weeks ago, but

[2015-11-23 19:27] ascendantlogic commented on #4023
I have put the values directly in the variable declarations as a workaround for the time being.

[2015-11-23 20:20] phinze commented on #1255
@radeksimko reviewing some old issues here. We still don't have a facility for this, but I feel like the "user enters input interactively" use case is more or less a "first Terraform experience" sort of feature. Once you're using Terraform in anger, you're almost definitely configuring provider in some other way.

I wonder if it'd be easier to just make the most common provider configuration the i

[2015-11-23 20:47] soniah commented on #622
:+1:

[2015-11-23 21:20] ascendantlogic commented on #1109
I am still running into this issue even though I have removed the names from the ASG's. Here I forgot to add the proper SSH key name into the LC so I do so:

[code]

Then I attempt to do the apply:
[code]

This is with a version compiled out of master [at this commit](https://github.com/hashicorp/terraform/commit/7e0cbb4da7bc031b66cb3fe02d906acc7a0c2241).

Here is one of the LC/ASG configs:
[code]

[2015-11-23 21:44] phinze commented on #1215
Just reran this config and it works on the latest version of Terraform. Yay!

Also yay for easily copy/paste-able repro config. :bow:

[2015-11-23 21:44] #1215 closed

[2015-11-23 21:48] phinze commented on #1129
I think you can accomplish this today via heredocs + output values without too much trouble.

[code]

If we added `instructions` another piece of metadata to `output` - how would that work for display - it would show up by default on `terraform apply`, but not on `terraform output foo` without some flag perhaps?

To me, it feels like the workaround is reasonable enough to skip the feature, but let

[2015-11-23 21:50] ketzacoatl commented on #1129
maybe what we need is a section in docs with common scenarios and possible solutions like this?

[2015-11-23 21:51] jen20 commented on #4023
@ascendantlogic I'm wondering whether the HCL parser replacement had anything to do with this - it seems one of the most likely candidates if this was previously working. I'll try to reproduce and see what I can find.

[2015-11-23 22:15] phinze commented on #1112
Circling around to some issues here, restating the missing behavior for clarification.

Given a field defined in the schema as:

[code]

A `terraform refresh` that detects a _change_ to "foo" should trigger replacement of the resource on the following `terraform apply`.

Given a lack of `ForceNew`:

[code]

A `terraform refresh` that detects a change to "foo" should result in the Update function f

[2015-11-23 22:16] catsby commented on #3691
Hey all – thanks for writing in. This should be fixed with https://github.com/hashicorp/terraform/pull/3965 , which is included in the new release v0.6.7 that I just shipped.

Thanks! Closing this for now, please let me know if you're still hitting this

[2015-11-23 22:16] #3691 closed

[2015-11-23 22:26] radeksimko commented on #1255
I wouldn't be so sure. It may be the case _now_ purely because of the way we deal with entered data (just throw it away after `apply`/`destroy` basically). If we'd be saving this anywhere, I think the story would differ (i.e. people would be using `tfvars` and `default`s less than they do now).

Related: https://github.com/hashicorp/terraform/issues/2550

So you mean basically having a very specif

[2015-11-23 22:29] catsby commented on #3750
Hello friends – sorry for the silence here. It looks like this is a typo in the documentation, it's `cluster_identifier`, not `cluster_identifer`. It was fixed in https://github.com/hashicorp/terraform/pull/3795 , I must have failed to deploy the updated docs until just now with the v0.6.7 release  :frowning:

Sorry for the trouble, let me know if you're hitting something else

[2015-11-23 22:29] #3750 closed

[2015-11-23 22:32] catsby commented on #4019
Hey @eugenetaranov – was the Cluster Instance renamed, or are there multiple instances with a similar name by any chance?

[2015-11-23 22:42] phinze commented on #1255
Good point! I hadn't thought about this. :+1:

So yeah it's easy to picture how a prompt opt-in or opt-out config boolean would work, but I can't picture how a "subset A or subset B" prompt config would work.

Today's behavior is that we prompt for the superset yeah? It'd be tricky to take away that behavior without surprising users who might be pressing `<enter>` a lot to get to the combination o

[2015-11-23 22:44] eugenetaranov commented on #4019
Nope, it was not renamed afaik, but there was aws_rds_cluster_instance resource with count set to 2

[2015-11-23 22:45] catsby commented on #4019
If you have the configuration that would be helpful, omitting any secrets. I'll continue to dig in as well, thanks!

[2015-11-23 22:46] brikis98 commented on #3750
Ah, fantastic, thank you!

[2015-11-23 22:46] eugenetaranov commented on #4019
edited last reply, please see if it is enough

[2015-11-23 22:47] catsby commented on #3964
v0.6.7 was released! Thank you all who contributed :smile:

[2015-11-23 22:47] #3964 closed

[2015-11-23 22:51] chrislovecnm commented on #3855
Windows is not supported yet ;)

@tkak is that correct?

[2015-11-23 22:51] radeksimko commented on #1129
I definitely don't treat this feature like a critical one and the workaround sounds reasonable, just the perfectionistic evil inside of me is moaning about the format of the output:

[code]

@spoon16 originally came up with this idea - wanna add anything to the discussion, Eric? :)

[2015-11-23 22:52] chrislovecnm commented on #3855
Is lack of windows support not documented??

[2015-11-23 23:02] egarbi commented on #3638
still happening with 0.6.7  no matter what -parallelism value is used

[2015-11-23 23:03] radeksimko commented on #1255
Agreed it's not trivial, otherwise I would have came up with a PR instead of an issue already :smiley:
I don't expect this to be solved in two lines of code.

Maybe we should think of inputs similar way we think about resources? i.e. in graphs? I'm not sure whether it helps or whether it makes the problem more complicated... I guess both.

either way... https://twitter.com/mitchellh/status/6485063

[2015-11-23 23:09] chrislovecnm commented on #3855
Windows template support was a comment on the roadmap by @tkak. I will double check that it is documented, and put in a case for it.

[2015-11-23 23:17] tkak commented on #3855
@chrislovecnm Yes, sorry, current version does not support Windows template yet.

[2015-11-23 23:22] antonosmond opened #4025 "documentation on templates needs updating"
Awesome job getting the new version out. I've been desperately waiting for the aws_route resource!
Just updated to 0.6.7 and ran a terraform plan & apply.
I get the following warning:
`template_file.my_template: "filename": [DEPRECATED] Use the 'template' attribute instead.`
I checked the docs to see what had changed with templates and there's no mention of it. The examples are using "filename".
h

[2015-11-23 23:24] shamil commented on #4025
Look [here](https://www.terraform.io/docs/providers/template/r/file.html)

[2015-11-23 23:26] antonosmond commented on #4025
Thanks - I obviously didn't look hard enough.

[2015-11-23 23:26] #4025 closed

[2015-11-24 01:15] chrislovecnm commented on #3855
@tkak it is not documented.  I will get a PR with documentation update.

@ryanl-ee  Please files a bug if you would like support added.  I know it is on our todo list, but I am uncertain of timeline.

[2015-11-24 01:17] chrislovecnm commented on #3952
@kc11381 any more information? Or please close the bug.

[2015-11-24 01:39] k1LoW commented on #2661
+1

[2015-11-24 02:49] f440 opened #4026 ""EDIT THIS PAGE" is not clickable"
CC: @captainill

"EDIT THIS PAGE" is not clickable.

![edit this page](https://cloud.githubusercontent.com/assets/9423/11356350/59c58abe-92a0-11e5-908a-d69d02e01393.png)

related commit: ebec7e2bc

[2015-11-24 04:51] cordoval opened #4027 "can you create a gitter channel rather than irc?"

[2015-11-24 04:53] captainill commented on #4026
thanks @f440 open a pull request with the fix.

[2015-11-24 05:15] mitchellh commented on #4027
Sorry, but we prefer IRC as our method of communication for open source projects. It isn't trendy, but it is consistent. We have a wide ranging group of users who all have their own opinions on what chat method should be used but IRC is a good common denominator.

You can also use the mailing list if you don't want to use IRC.

[2015-11-24 05:15] #4027 closed

[2015-11-24 05:17] cordoval commented on #4027
yeah i surrender to your genius, i only proposed because i just received a lot of help on the docker channel at gitter. No prob, i shall use whatever is available.

[2015-11-24 05:18] mitchellh commented on #4027
No problem, we may look at it at some point especially because it has an IRC bridge. For now, we're sticking with what we have!

[2015-11-24 05:34] jen20 commented on #4026
Fixed in #4026. Thanks @f440!

[2015-11-24 05:34] #4026 closed

[2015-11-24 06:05] 23karishma opened #4030 "terraform crashed!"
terraform0.6.7 crashed while launching the aws instance. Failure happened during terraform plan.

[2015-11-24 06:36] mo-mughrabi opened #4031 "cannot find project on GCE (project resource was not found)"
Hello,

Am new to terraform, built a new project so it would spin up machines on GCE. It has been working very well, creating and destroying instances..

Yesterday, I deleted the instances manually from console and cleared my `ftstate` file. I tried to re-apply and am getting this error

[code]

The `project-id-gce` is variable for my project name, am pretty sure that it exists, am logging to cons

[2015-11-24 07:23] apparentlymart commented on #3949
I think we have an open bug for this somewhere already where I dug into it a bit but I can't seem to find it now... :(

[2015-11-24 07:27] apparentlymart commented on #3949
Okay, I found it eventually: #3523

[2015-11-24 07:41] radeksimko commented on #4030
Hi @23karishma ,
would you mind attaching the crash log (minus any secrets)? It's usually placed in your work directory as `crash.log`.

I'm afraid we're not able to reproduce this without the log.

[2015-11-24 07:47] radeksimko opened #4032 "Show warnings when fixing names via StateFunc?"
This is related to https://github.com/hashicorp/terraform/pull/4020 but also many other PRs which have been mimicking the AWS API behaviour in similar ways.

I understand the convenience for the user having existing resources and I understand that is the motivation for @stack72 and others to solve these issues that way. However I think that Terraform shouldn't be so silent about these fixes.

I th

[2015-11-24 08:18] mo-mughrabi commented on #4031
I testing with versions v0.6.6 and v0.6.7 same result

[2015-11-24 08:29] mo-mughrabi commented on #4031
sorry about that, it was due to account-file.json; for some reason my service account was not able to see the project-id. I created a new service account and deleted old one and it worked!

[2015-11-24 08:29] #4031 closed

[2015-11-24 08:59] Beldur opened #4033 "Deprecated google.account_file still necessary for google_compute_project_metadata?"
After updating to the new Terraform Version 0.6.7 and replacing the account_file property with credentials, I get the following warning:

    provider.google.account_file
    Enter a value:

    There are warnings and/or errors related to your configuration. Please fix these before continuing.

    Warnings:
    * provider.google: "account_file": [DEPRECATED] Use the credentials field instead

I t

[2015-11-24 09:13] jen20 opened #4034 "Support for EC2 Dedicated Hosts"
## Purpose

EC2 Dedicated Hosts are now available for general use across a wide variety of AWS regions, so we should look at supporting them in Terraform.

This is intended as an umbrella issue to discuss changes we may wish to make with respect to new and existing resources in order to support dedicated hosts in an effective manner.
## Resources
- [Blog post announcing availability](https://aws.a

[2015-11-24 09:43] Vlatombe opened #4036 "Crash on terraform apply (0.6.7)"
Hello,

Updating from 0.6.3 to 0.6.7, I'm now getting a crash on apply.

[Config.tf](https://gist.github.com/52c87854ee0cb006de24)
[crash.log](https://gist.github.com/26a1d66ced11ec6a3f8e)

[2015-11-24 09:45] tkak commented on #3957
@chrislovecnm I tried to make a proposal PR to support ipv6 address. Can you check that?

[2015-11-24 09:52] jen20 commented on #4036
Hi @Vlatombe. Thanks for reporting this. The relevant section of the crash log is here:

[code]

I think there's an open PR which may address this issue.

[2015-11-24 09:55] jen20 commented on #4004
Thanks @jare19, I'm going to investigate this now.

[2015-11-24 09:57] jen20 commented on #4036
@Vlatombe I think the PR I just reference may have fixed this. Do you currently have facilities to build Terraform from source to verify whether that is indeed the case?

[2015-11-24 10:07] morcmarc opened #4037 "Regression: #647 Map override in tfvars gives a syntax error."
I was playing around with the master branch and found that map-type input variables are broken. Apparently this is a regression of #647. Quick example:

variables.tf:
[code]

main.tf:
[code]

input.tfvars:
[code]

Running `terraform plan -var-file=input.tfvars -var 'region=eu-west-1'` throws:

[code]

I guess this a problem with Hcl rather than Terraform but since there's a similar issue already I

[2015-11-24 10:20] jen20 commented on #4037
Hi @morcmarc! Thanks for reporting this. It appears to be a duplicate of #4023, which is where we're currently tracking it. I'm going to close this issue in favour of keeping the investigation in one place on the first reported instance of the issue. If you think it's not a duplicate and the circumstances are different, please reopen!

[2015-11-24 10:20] #4037 closed

[2015-11-24 10:21] jen20 commented on #4023
Looking at the error message this is definitely an HCL parser regression. I suspect dot-notation map support is simply missing from the new parser and there was no test coverage, which we also need to rectify.

[2015-11-24 10:31] james-masson commented on #2957
+1  agree with @jniesen

 A persistent data disk, separate from OS/instance would be a great feature, if it worked!

Creation of related ```aws_ebs_volume```, ```aws_instance``` and ```aws_volume_attachment``` resources work fine.

Any ```apply``` that involves the re-creation of the ```aws_instance``` hangs, as the ```aws_volume_attachment``` implicitly depends on the ```aws_instance``` reference

[2015-11-24 10:58] partamonov opened #4039 "Chef Provisioner: windows, lost escape for path"
Chef provisioner:
os type: windows
ERROR:
[code]

[2015-11-24 11:00] antonosmond opened #4040 "Autoscaling group silently destroyed on apply (0.6.7)"
Just had a bizarre issue with a plan and apply. I updated a security group in my config, did a plan and it showed 1 resource to change. I ran the apply and it said 0 added, 1 changed and 0 destroyed, but it actually decided to destroy my autoscaling group! :-(
Here's the out put from my plan and apply:
[code]

[code]
Notice the output after the apply saying 0 destroyed but the output also contains

[2015-11-24 11:36] stack72 commented on #4032
@radeksimko I really like this idea - we should definitely be notifying the user that we are changing their variables so that they work with the APIs we are using

[2015-11-24 11:56] chin2chavda commented on #1025
Hi @phinze,

I am also getting error during run commands on "remote-exec" in provision section.

Error:

aws_instance.test: Creating...
  ami:                               "" => "ami-97d490fd"
  availability_zone:                 "" => "<computed>"
  ebs_block_device.#:                "" => "<computed>"
  ephemeral_block_device.#:          "" => "<computed>"
  instance_type:                     "

[2015-11-24 12:40] chin2chavda commented on #4022
I am also getting an error during run commands on "remote-exec" in provision section.

Error:

aws_instance.test: Creating...
ami: "" => "ami-97d490fd"
availability_zone: "" => ""
ebs_block_device.#: "" => ""
ephemeral_block_device.#: "" => ""
instance_type: "" => "t1.micro"
key_name: "" => "newkvp"
placement_group: "" => ""
private_dns: "" => ""
private_ip: "" => ""
public_dns: "" => ""
public_ip

[2015-11-24 13:19] ninjaMog commented on #3985
Issue seems to be resolved in

Terraform v0.6.7-dev (0cbf79decc1caf48e1c687254c572a4e84332d9e+CHANGES)

(compiled from branch :- f-aws-elastic-beanstalk)

[2015-11-24 13:20] landro commented on #1991
I can sporadically reproduce (actually, 1 out of 10 times will work as expected) with a simple config like this

resource "aws_route53_record" "api" {
   zone_id = "SOMEID"
   name = "some.domain.no"
   type = "A"
   ttl = "300"
   records = [
    "10.0.0.1",
    ]
}

on my el capitan mac using terraform 0.6.6 . What can I do to debug this?

[2015-11-24 13:34] landro commented on #1991
I performed a tcpdump - it turns out no requests are sent to the route53 endpoint at all. This looks more like a terraform core issue - providers not kicking in as expected.

[2015-11-24 13:54] afritzler opened #4042 "Adding multiple Ephemeral Volumes to Compute Instance on OpenStack"
Hi guys,

is there a way to add multiple ephemeral volumes to a given instance?

[code]

Of course your flavor has to have a big enough ephemeral size configured.

http://docs.openstack.org/cli-reference/content/novaclient_commands.html#novaclient_subcommand_boot

Regards,
Andreas

[2015-11-24 14:10] svanharmelen commented on #4039
Fixed by PR #4041

[2015-11-24 14:31] kc11381 commented on #3952
Hi Chris,

Sorry for late reply.
Actually the reason for cloning process taking an hour was due to thik provisioning. I changed the code to Thin provisioning and it takes around 2 mins now.
Thanks for looking into it. I will close it now.

[2015-11-24 14:31] #3952 closed

[2015-11-24 14:46] kc11381 commented on #3721
Hi,

For this we need support at govmomi library itself. https://github.com/vmware/govmomi/blob/master/find/finder.go look at line number 255.
I think we should have something
       if ref.Type == "Datastore"  || ref.Type == "StoragePod"{

I have done it for my use case and it works fine.

[2015-11-24 14:54] phinze commented on #4039
Just landed #4041 - sorry for the trouble!

[2015-11-24 14:54] #4039 closed

[2015-11-24 14:56] phinze commented on #4025
Ah I didn't notice we had examples in those two other places. Fixing those now!

[2015-11-24 15:19] landro opened #4043 "Hang during terraform plan in 0.6.7"
Performing a terraform plan on an existing infrastructure (based on cloudstack and aws providers) that was created using 0.6.6 crashes:

[crash.txt](https://github.com/hashicorp/terraform/files/42828/crash.txt)

[2015-11-24 15:36] phinze commented on #4043
Hi @landro - this is the same crash reported in #4036 and elsewhere that we believe is fixed in #4024. We're drawing a circle around a few important bugfixes and we'll be looking at a bugfix release soon.

In the meantime, if you're able to check latest master to see if it solves your issue, that'd be helpful!

[2015-11-24 15:46] landro commented on #4043
I built fra master, and gave it a go. No it hangs again (instead of crashing). I've attached debug logs
[debug.txt](https://github.com/hashicorp/terraform/files/42860/debug.txt)

[2015-11-24 15:49] jen20 commented on #4023
I think https://github.com/hashicorp/hcl/pull/65 should fix this, but we still need to increase the test coverage in Terraform as well as in HCL. @ascendantlogic are you able to verify by building from `master` (with a `make updatedeps`)?

[2015-11-24 15:50] geek876 opened #4045 "aws_db_parameter_group shows diffs but doesn't apply. Ignore_changes has no effect"
When one or more db_parameter_group parameters are modified outside of TF, TF always shows diff during **'plan'** but  **'apply'** doesn't seem to revert the changed parameter. Also using **'ignore_changes'** seems to NOT have any affect
Step to Reproduce

-> Create an *aws_db_parameter_group* with some parameters set.

[code]

-> Now modify a parameter outside of TF. Example using *aws cli*
[code

[2015-11-24 15:52] phinze commented on #4043
Okay, so the key portion of the hanging debug log is here:

[code]

Those three lines will likely continue to repeat every 5s while it hangs.

Will dig in some more and follow up.

[2015-11-24 15:54] phinze commented on #4043
Can you share the config for your `aws_route52_record.api` and describe how you are authenticating the AWS provider in your environment? That will help us narrow this down.

[2015-11-24 16:08] phinze commented on #4040
Yikes! It's one of Terraform's primary guarantees that the Apply does not take action that the Plan did not list.

Based on the output you shared, I'm wondering if this might be Terraform's "tainted resource" behavior.

When a resource fails to create for any reason, it's marked as "tainted" which means it needs to be cleaned up on a subsequent apply. This tainted resources is tracked alongside th

[2015-11-24 16:11] ascendantlogic commented on #4023
@jen20 pulled latest master and it seems to be fine now. I can run a `terraform plan` without error.

:metal:

[2015-11-24 16:15] antonosmond commented on #4040
Unfortunately not. I had a single ASG in a practically empty AWS account. The ASG had been created successfully and I was using it (luckily only for development and not production).
I ran the apply to update a security group and it seemed to be taking a while then I went back to my ASG instances and realised they'd been terminated and the ASG deleted. Initially I thought it may have been a colleag

[2015-11-24 16:32] landro commented on #4043
resource "aws_route53_record" "api" {
       zone_id = "${var.route53_zone_id}"
       name = "my.domain.com"
       type = "A"
       ttl = "300"
       records = [
        "${cloudstack_ipaddress.lbext_tcp.0.ipaddress}",
        "${cloudstack_ipaddress.lbext_tcp.1.ipaddress}"
        ]
    }

I'm setting TF_VAR_access_key and TF_VAR_secret_key, reading into variable,

      variable "access_key"

[2015-11-24 16:34] phinze commented on #4040
Okay, so sounds like something more serious than just the tainted resource processing.

So, the follow up plan believe that it needed to create the ASG?

If you are able to share the configs you're using I'm happy to work on repro over on this side as well.

Keep me posted and we'll get this figured out!

[2015-11-24 16:34] phinze commented on #4043
Great thank you. Going to see if I can cook up a reproduction with this.

[2015-11-24 16:39] geek876 commented on #4045
I believe what's happening is perhaps TF is trying to set the changed parameter back to <engine-default>, i.e. null or not-defined but AWS doesn't allow that on a per-parameter basis and hence it does that at each plan/apply.

Sample Plan output. Here I manually changed **autocommit = 0**. By default, **autocommit** is blank/null/engine-default with AWS Parameter Group, but once you change it to a

[2015-11-24 17:04] dwradcliffe commented on #3716
Would really love to see this happen!

Would the sub-resources, such as `domain` allow counts? So that we could import a list of domains from a variable?

[2015-11-24 17:05] ascendantlogic commented on #1109
Ok so it seems that my lifecycle block was in the wrong place. It belongs on the launch config, not the ASG.

[2015-11-24 17:09] geek876 commented on #4045
TF V 0.6.6

[2015-11-24 17:32] antonosmond commented on #4040
I started with an empty environment. I'd run an apply and it built the ASG and all the other resources successfully. Then I realised I needed to change a security group so I updated the security group config, ran the plan which looked correct (didn't need to touch the ASG), and then ran the apply. The ASG hadn't been touched in the AWS console and the config for the ASG resource hadn't been touche

[2015-11-24 17:36] apparentlymart commented on #3716
Not supporting counts is one down-side of representing the entire config as one resource, so you're right that this design would make it impossible to dynamically produce sets of child objects (like domains) based on variables.

I think the only way around this would be to model versions explicitly, which is another alternative design I considered. In that case you'd end up with a structure like t

[2015-11-24 17:38] phinze commented on #4040
No, a plan should never taint a resource. A resource is only tainted if creation or provisioners on that resource fail during apply.

Let me know what your investigations turn up, and I'll work on setting up a similar test scenario over here as well.

[2015-11-24 17:49] apparentlymart commented on #4032
I'm not sure I entirely agree with you. For an API that is case-insensitive, all of the different-cased versions of a value are semantically equivalent, and I don't really see the point in drawing attention to byte-wise diffs that don't represent a difference in meaning.

I would agree that we should never cross the line into making a change that results in a difference of meaning/behavior, but as

[2015-11-24 18:48] phinze opened #4047 "aws_security_group_rule cannot be refreshed if it disappears"
Steps to reproduce:

 * Make `aws_security_group` and `aws_security_group_rule` in config.
 * Apply so they create.
 * Hit AWS Console or CLI and delete the SG rule.

Expected behavior:

 * The next `terraform plan` sees the rule is gone and wants to create it.

Current behavior:

 * Plan fails with:

[code]

Culprit seems to be here:

https://github.com/hashicorp/terraform/blob/bd23ab35bf456ac25d

[2015-11-24 19:16] phinze commented on #4043
Our initial attempts to reproduce have not been successful. Does Terraform v0.6.6 still complete a plan successfully in your environment?

[2015-11-24 19:19] phinze commented on #4043
Another shot in the dark to try out would be to switch from using `variable` and `provider` blocks to using environment variables to configure your providers (so `AWS_*` and `CLOUDSTACK_*`).

Sorry for the trouble! We'll get to the bottom of this.

[2015-11-24 19:29] Dahs81 opened #4049 "Add ability to add a variable to count.index"
I'm not sure if this is possible or not, but I want to add a variable to count.index.  Here is my partial main.tf

[code]

I want to add count.index to initial_count.   Everything works fine if I do this:  ` Name = "aws-${var.name}-${format("%02d", count.index + 1)}"`.  Does anyone know if there is a workaround for this?

[2015-11-24 19:58] catsby commented on #3750
Sorry for the trouble

[2015-11-24 20:08] phinze commented on #4047
LGTM

[2015-11-24 20:11] #4047 closed

[2015-11-24 21:09] br0ch0n opened #4052 "0.6.7 illegal char escape"
Just went from 0.6.6 to 0.6.7 and now on plan I get:

Error loading config: Error parsing foo.tf: At 199:34: illegal char escape

The line it's complaining about (which worked just fine before) is from an inline remote-exec provisioner:

[code]

It would seem that it doesn't like the escaped space anymore.

[2015-11-24 21:59] #2649 closed

[2015-11-24 22:01] gosuri commented on #2649
🎉

[2015-11-24 22:11] phinze commented on #4052
Thanks for the report. This is likely from the new HCL parser we pulled in for 0.6.7 - we'll get this fixed up for the 0.6.8 bugfix release.

[2015-11-24 22:18] catsby commented on #3352
This is the same issue as #3095, I'm going to close and consolidate, thanks!

[2015-11-24 22:18] #3352 closed

[2015-11-24 22:21] phinze commented on #4052
Hi @br0ch0n, digging in a bit further on this, it looks like the prior behavior you got out of the `\ ` was undocumented and just happened to work based on a quirk of the old parser. The correct syntax to get a backslash into a string is to use a `\\`, so if you just update your provisioner to use that it should work just fine:

[code]

Sorry for the backwards incompatible behavior here, but if yo

[2015-11-24 22:21] #4052 closed

[2015-11-24 22:26] ravbaba opened #4054 "azure: error parsing settings_file as XML: EOF"
Hi,
I get the error with azure provider:

[code]

I changed settings_file to publish_settings and I still get the same issue.

[code]

[2015-11-24 22:32] catsby commented on #2936
Hello –

Thank you for writing in, and I apologize for the delay in getting back to you.
At this time we're on version 0.6.7 of Terraform, so quite a bit has changed!

Thank you for the example configuration, that's incredibly helpful. I applied it with Terraform v0.6.1 and then ran the same plan with the latest release, and things worked as expected, Terraform wanted to apply the termination poli

[2015-11-24 22:32] #2936 closed

[2015-11-24 23:36] phinze commented on #4036
Just re-ran the repro config and got a clean run. Looks like #4024 solves this, though it'd be great to heard confirmation from you as well @Vlatombe.

[2015-11-24 23:39] phinze commented on #4040
Just following up here, we set up a very similar scenario to the one you describe on our side with no luck reproducing any unexpected ASG destroys.

https://gist.github.com/catsby/eb184c5dbdcb25c6300e

[2015-11-24 23:42] ColinHebert opened #4055 "Should "apply" check that the serial of the state hasn't changed since the creation of the plan?"
From what I've seen, it is possible to create a plan against the state with serial `x`, modify the state to have the serial `x+2`, then apply the plan against the state with serial `x+2`.
This actually updates the serial to `x+1`, sending us "back in time".

Is this the expected behaviour?

I was under the impression that if the serial of the state has been updated since the creation of the plan,

[2015-11-25 00:51] chrislovecnm commented on #3721
@kc11381 you mind filing an issue with Govmomi and referencing it here?

[2015-11-25 01:00] chrislovecnm commented on #3952
Out of curiousity @kc11381 which did you change?

[2015-11-25 01:13] phinze commented on #3481
I believe this should be fixed in Terraform 0.6.7 by #3843 and #4017, which cause the input prompt behavior to be consistent across commands. Thanks to @jen20 for the fixes there!

[2015-11-25 01:13] #3481 closed

[2015-11-25 01:22] phinze commented on #3841
Hey folks,

Yep! This is correct behavior for a `Computed` attribute.

I always hesitate to go down a "special case attribute" road, so let's see if there's a way to solve this use case in another way and we can circle back around to a solution like that.

In similar situations in other providers we have modeled the "attachment" or "association" as itself a declarative CRUD resource. This allows i

[2015-11-25 01:29] br0ch0n commented on #4052
Thanks @phinze tested and works good with 0.6.6 and 0.6.7

[2015-11-25 01:30] phinze commented on #2896
@mwitkow we'd definitely love to figure out some sort of story for rolling updates in Terraform, it's just a matter of figuring out how to model the feature in a clean way that preserves our declarative model. That part is anything but straightforward.

Tagging this thread `thinking` since it's definitely something we think/talk about on a regular basis, the path is simply unclear.

[2015-11-25 02:25] kc11381 commented on #3952
Hi Chris,

Inside the function:  func createVMRelocateSpec
I changed
ThinProvisioned: types.NewBool(true), and
EagerlyScrub:    types.NewBool(false),

Thats the only change I did for my use case.

[2015-11-25 02:29] kc11381 commented on #3721
Hi Chris,

Here is the ticket:
https://github.com/vmware/govmomi/issues/386
Thank you.

[2015-11-25 02:35] conorgil opened #4056 "aws_instance documentation does not document the supported tenancy field"
The `aws_instance` resource supports the `tenancy` field, but it is not documented.

See the gist here: https://gist.github.com/conorgil/76f8959d674270228f0c

Note that the VPC has `instance_tenancy` set to `default` and the first `aws_instance` resource has `tenancy` set to `default` while the second `aws_instance` resource has `tenancy` set to `dedicated`.

I verified the tenancy via the AWS con

[2015-11-25 03:31] sparkprime commented on #3841
In principle, "resetting" the IP by removing and re-creating an accessconfig within the resource may actually get you the same IP again, since it's random.  I wonder if what we should be encouraging people to do is to be more explicit by either assigning a fresh temporary ip to the instance, or removing the access_config altogether (so there is no ip assigned).  Then in a second apply re-assigning

[2015-11-25 05:13] sparkprime commented on #3841
@phinze I don't understand what difference it makes having a separate resource like that.  I'm thinking it's like denormalization of a relational database.  I think there should be an equivalent there -- either you hit create/destroy of the new resource, or, if you put it in one or other of the resources being linked together, you'll hit the udpate of that resource.  What's the practical differenc

[2015-11-25 07:54] landro commented on #4043
So I tried running a plan using 0.6.6 (and the original provider config), and that also hangs for a long time, repetedly showing

2015/11/25 08:27:32 [DEBUG] vertex aws_route53_record.api, waiting for: provider.aws
2015/11/25 08:27:37 [DEBUG] vertex provider.aws (close), waiting for: aws_route53_record.api

for like 5 mins and the it moves on, before it repeatedly shows the same thing for another

[2015-11-25 08:09] landro commented on #4043
Anywhere I could add debugging code in order to shed light on what's going on?
What does
2015/11/25 08:27:32 [DEBUG] vertex aws_route53_record.api, waiting for: provider.aws
2015/11/25 08:27:37 [DEBUG] vertex provider.aws (close), waiting for: aws_route53_record.api
actually mean? What kind of thing are we waiting for - a process, a response from aws?

[2015-11-25 08:12] stolinzeev opened #4057 "0.6.7- No tags applying on aws_spot_instance_request"
[code]

[2015-11-25 08:15] chrislovecnm opened #4059 "Master not building - printf problem - fixed in pull"
A %s snuck in instead of a %d.

Fixed in https://github.com/hashicorp/terraform/pull/4058

[2015-11-25 08:38] heww commented on #4045
@geek876 Yes, I have the save problem like yours using TF v0.6.7 .

[code]

and my resource is like this

[code]

[2015-11-25 09:04] radeksimko commented on #4059
Closed via #4058

[2015-11-25 09:04] #4059 closed

[2015-11-25 09:40] landro commented on #4043
I tried configuring the aws provider like so:

      provider "aws" {
        access_key = "whatever"
        secret_key = "something"
        region     = "eu-central-1"
      }

That also triggers waiting for: provider.aws

However:

      provider "aws" {
        access_key = "whatever"
        secret_key = "something"
        region     = "eu-central-9"
      }

immediately fails  with: Not a

[2015-11-25 10:19] ajcrowe commented on #4033
This is also affecting me, I've not got the metadata resource like @Beldur, I see it a module with just `google_compute_firewall` resources. This appears to be mentioned in #3901 as a potential problem, which appears it is.

[2015-11-25 10:57] ajcrowe opened #4060 "Google Cloud: Missing google_compute_instance_group resource"
It appears that currently you can only create a `google_instance_group_manager` and not just a regular unmanaged instance group.

Am I missing something or is this simply not implemented currently?

[2015-11-25 11:34] jen20 commented on #4049
Hi @Dahs81! I think the issue here is that you're not referencing a variable as such, and have introduced an invalid parameter for `aws_instance`. I've not tested locally, but try this:

[code]

[2015-11-25 11:35] jen20 commented on #4054
Hi @ravbaba, thanks for opening the issue. Can you confirm that the file you're referencing is in fact valid XML? Do you have the `azure_settings_file` variable set anywhere?

[2015-11-25 12:28] ravbaba commented on #4054
Hi @jen20, yes, I have a valid XML file and azure_settings_file variable is set in a different file. All my configuration worked before I changed terraform version to 0.6.7.

I tested it on two different machines (mac and ubuntu) and I got the same error. I tried to use those two arguments instead of publish_settings or settings_file:

[code]

but I got the same error.

Please let me know if you n

[2015-11-25 12:35] dverbeek84 opened #4062 "ssh remote connection private_key not used"
Hi i have a problems with connecting with ssh and the new `private_key` This is not working
[code]

If you look at the output you see `Private key: false`

[code]

When i use `key_file` i don't have the problem

[code]

[code]

[2015-11-25 12:59] afritzler commented on #3974
Looking into a similary usecase here. What I found in the aws-sdk-go (used by terraform) is the following:
https://github.com/aws/aws-sdk-go/blob/master/aws/config.go#L32
So the `endpoint` can be changed in the aws-sdk.

[2015-11-25 13:24] jen20 commented on #4062
Hi @dverbeek84, not sure if this a transcription typo, but this:

[code]

is missing a closing set of braces - it should read:

[code]

If you change this does it resolve your problem? I am also trying to verify whether this is the case independently.

[2015-11-25 13:29] jen20 commented on #3974
I guess we could expose the base endpoint as part of the `aws` provider - this could potentially allow us to support Eucalyptus as well as custom APIs (assuming the claims of EC2 compatibility are actually met). @catsby, any opinions here?

[2015-11-25 13:32] jen20 commented on #4062
I'm trying to reproduce this using the configuration below, but it seems OK to me. I suspect that if you correct the file interpolation syntax as detailed in the previous message this will resolve the issue, since I *can* replicate it in that case. I'll close this issue in anticipation of this resolving your issue - if it doesn't please feel free to reopen it!

[code]

[2015-11-25 13:32] #4062 closed

[2015-11-25 13:52] lwander commented on #3841
@phinze, the issue I was trying to fix with an extra attribute is that in the [GCE representation](https://cloud.google.com/compute/docs/reference/latest/instances#networkInterfaces.accessConfigs) the `networkInterfaces.accessConfigs.natIp` field is used to mean two things:

1. If it is empty, assign a random IP, and provide it by value in the response resource.

2. If it is filled, attempt to ass

[2015-11-25 14:03] marekrogala commented on #2143
:+1:
pretty important to me

[2015-11-25 14:41] Vlatombe commented on #4036
I'll take some time to test from master.

[2015-11-25 15:32] Dahs81 commented on #4049
@jen20 Thanks for the help.  That worked!

[2015-11-25 15:32] #4049 closed

[2015-11-25 16:06] xsmaster opened #4063 "ELB output crash - panic: runtime error: index out of range"
Just got this crash. Below is the report.

Terraform version: 0.6.6 from homebrew
[crash.log.txt](https://github.com/hashicorp/terraform/files/44045/crash.log.txt)

Repro steps:

1. Create any ELB on AWS.
2. setup an outputs value with the below.

output "ELB Instances:" {
  value = "${aws_elb.load-balancer.instances}"
}

ELB Instances:       = B780FFEC-B661-4EB8-9236-A01737AD98B6

Now change the

[2015-11-25 16:13] xsmaster commented on #4063
So this is because the ELB has zero instances. So I hit a null pointer issue.

[2015-11-25 16:18] stevendborrelli opened #4064 "Terraform crash 0.6.7 using aws modules"
Configuration works on 0.6.6, `terraform plan` crashes 0.6.7. We were able to do a full apply on 0.6.6.

crash.log is attached.

[crash.txt](https://github.com/hashicorp/terraform/files/44056/crash.txt)

[2015-11-25 16:54] marekrogala opened #4065 "HEREDOC parsing error after updating to 0.6.7"
I'm using a provisioning step that looks like this (but with more lines):
[code]

After upgrading to 0.6.7 it started to fail with the following error:
`Error loading config: Error parsing file.tf: At 44:1: unexpected token while parsing list: HEREDOC`

Is this expected behavior? Can I use HEREDOC in lists or why not?

[2015-11-25 17:50] cordoval opened #4067 "can we support folders?"
i am organizing my .tf files trying to find a way to scan .tf under deeper folders

i think this is a pretty common use case so not sure if i am missing something, i noticed the [dir] argument but i am trying to see if i can pass at least multiple directories as arguments

any hints?

[2015-11-25 17:55] Vlatombe commented on #4036
@phinze @jen20 Looks good on my end.

[2015-11-25 17:55] cordoval commented on #4067
I am having a script that looks like this so far

[code]

[2015-11-25 17:55] vancluever opened #4068 "Request: CloudFormation-like psuedo-parameters (provider variables?)"
I'm moving some of our templates from CloudFormation to Terraform and am probably going to miss some of the functionality that CloudFormation has (ie: using `"Ref": "AWS::AccountId"` to get the account ID the stack is being run in).

Are there any plans or anything underway to implement something like this, maybe like a certain set of  variables that can be looked up on for a specific provider?

[2015-11-25 17:55] jen20 commented on #4067
Hi @cordoval! Currently this isn't supported - though you may be able to make use of the module system to organise your code in the manner you'd like?

[2015-11-25 17:56] cordoval commented on #4067
@jen20 the problem with modules is that they require to be pulled out from the web or registries, i don't like that, i want everything in subfolders.

[2015-11-25 18:01] jen20 commented on #4067
They don't need to be pulled out of the web or registries: you can specify the source as a subdirectory of the file system - for example:

[code]

Does that make them more palatable?

[2015-11-25 18:03] jen20 commented on #4064
Hi @stevendborrelli. Thanks for reporting this. I think this is the issue fixed in #4024 - are you running Terraform in an EC2 instance?

[2015-11-25 18:05] jen20 commented on #4068
I like this idea, especially for the purposes of things like account IDs. Offhand I'm not sure how easy or otherwise these are to implement, but I will investigate. Perhaps @phinze knows if there are reasons this has not been considered before (or indeed if it has)?

[2015-11-25 18:06] tricker commented on #1391
:+1:

[2015-11-25 18:06] jen20 commented on #4065
If this worked before I'd call it a regression. I'll investigate fixing it.

[2015-11-25 18:07] cordoval commented on #4067
you rock @jen20

[2015-11-25 18:37] onuryilmaz commented on #3974
+1
We have partially AWS-compatible in our corporate environment with our own region definitions. We need to set an endpoint for our cloud solution as well as including new region endpoints. As initial ideas:
* Moving endpoint and region syntaxes (or paths) into configuration files.
* Making builtin AWS Provider extendible so that plugins for AWS-Compatible cloud solutions can be developed easily.

[2015-11-25 18:47] cordoval commented on #4067
it still stores them with ```terraform get``` into under .terraform/modules right? so i always have to run terraform get whenever i do any change in them

[2015-11-25 18:50] stevendborrelli commented on #4064
We're running tf on a vm in openstack.

[2015-11-25 19:09] #3894 closed

[2015-11-25 19:26] #3998 closed

[2015-11-25 19:35] jgross206 commented on #3885
+1 I am also running into this issue.  As @Fodoj suggested, rolling back #2788 and recompiling solves it (it's a 3 line change + tests) but I don't know enough about Terraform internals to know if that's the solution or just a workaround.

[2015-11-25 20:12] dverbeek84 commented on #4062
It was a typo in github not in the file itself.
But it is not working if you have version 0.6.6 of course :smile:. But  after installing terraform 0.6.7 terraform just hangs for a long time...... :(

[2015-11-25 20:26] dverbeek84 commented on #4043
I have the same problem, only i am not using route53.
It just hangs forrever

[code]

[2015-11-25 20:29] landro commented on #4043
@dverbeek84 - have you tried building from master?

[2015-11-25 20:38] dverbeek84 commented on #4043
@landro yes, i just did. It was not working. It also hangs.
switching back to 0.6.6 still works.

[2015-11-25 21:09] bensojona opened #4069 "Syntax error with heredoc's on Windows in TF v0.6.7"
`terraform get` fails with the error `Error loading Terraform: Error loading config: Error parsing C:\Users\Steve\Documents\RubymineProjects\best-practices\terraform\providers\aws\us_west_1_staging\main.tf: At 231:9: illegal char` anywhere a heredoc used.

v0.6.6 works fine, but 0.6.7 fails with this syntax error. Seems to work fine on OS X, but Windows not so much.

Example of where it's failing

[2015-11-25 21:17] JoeOrtiz opened #4070 "Feature Request: Spot-Fleet Requests from AWS"
It would be nice to add this to terraform:

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-fleet-requests.html

AWS sucks at keep track of such spot-fleet requests, with terraform you can easily tag them internally.

[2015-11-25 21:29] johnhamelink commented on #3341
@catsby https://gist.github.com/johnhamelink/74b34e2a1f3cf73f5272

I discovered this issue when attempting to rename the description of the security group.

JH

[2015-11-25 21:32] Fodoj commented on #3885
@jgross206 it is _not_ a sustainable solution because rolling #2788 back re-introduces the other bug, that was fixed by this PR. For now I don't have time to go even deeper into TF internals to fix both of these bugs and still using own compiled version.

I wish @mitchellh or someone else from core contributors would pay more attention to this bug, because, as I mentioned already, it leads to _a l

[2015-11-25 21:36] partamonov commented on #4069
I saw same behavior. 0.6.7 looks like more sensitive to line endings. I solved similar issue with converting your.tf file to linux line endings

[2015-11-25 21:42] bensojona commented on #4069
@partamonov will give it a shot, thanks!

[2015-11-26 01:18] vancluever commented on #3897
+1 and thanks for the workaround @nick-nz!

[2015-11-26 09:30] antonosmond commented on #4040
One thing I remembered that may help - my ASG had health check set to ELB and my instances attached to the ELB never became healthy so TF timed out after 10 minutes waiting for healthy instances. Could that have caused the ASG to get tainted?

[2015-11-26 10:23] mentalstring opened #4072 "encrypted ssh keys with ssh-agent no longer works on 0.6.7"
On 0.6.6 it was possible to use a passphrase protected ssh key simply by setting `private_key` with a key contents through `$file("")` — then the local ssh-agent would take care of the rest. On 0.6.7 however it seems that is now impossible to use passphrase protected keys which seems a drop in functionality.

On https://github.com/hashicorp/terraform/commit/7ffa66d1a536428dcdf16e68c32ff7ca2b83674a

[2015-11-26 10:47] stack72 commented on #3969
@baskaran-md what do you think is the intended behaviour for Terraform after this duration has passed? If the instance get's destroyed, then then next terraform plan / apply will show there are changes pending

Thoughts?

[2015-11-26 10:47] acondrat commented on #4033
I'm having the same problem but I'm using it with google_dns_managed_zone and google_dns_record_set resources.

[2015-11-26 10:54] stack72 commented on #3960
@stolinzeev can you try the following code:

[code]

The addition of `associate_public_ip_address` works for me

[2015-11-26 11:02] elblivion opened #4073 "Issue with EC2-Classic ELBs in v0.6.7"
Hello folks,

It seems like https://github.com/hashicorp/terraform/pull/3780 broke v0.6.7 for me. I have a production AWS account with EC2-Classic, in the process of migrating to VPC. I have an ELB in EC2-Classic managed by terraform, and since I upgraded to v0.6.7 I get this error on a `terraform plan`:

[code]

I will try to debug the issue later but my guess is something is up with the logic [h

[2015-11-26 11:15] #4056 closed

[2015-11-26 11:33] jen20 commented on #4072
Hi @mentalstring, for clarity, do you want to use pass-phrase protected keys for provisioner connections?

[2015-11-26 11:34] jen20 commented on #4073
Hi @elblivion, thanks for reporting this. I've marked this as a bug, @catsby is probably the best person to pick this up.

[2015-11-26 11:39] jen20 commented on #4067
Hi @cordoval, actually no you don't need to run `terraform get` unless you add a new module, or you have a fresh clone of the repository. This is because `terraform get` uses symlinks in the `.terraform/modules` directory:

[code]

Hopefully this provides a solution - feel free to reopen if not!

[2015-11-26 11:39] #4067 closed

[2015-11-26 11:39] mentalstring commented on #4072
@jen20 Yes, that's right. Was working fine, but updating to 0.6.7 seems to make it impossible, unless I'm missing something.

Also tried with deprecated `key_file`, but the check for if it is an encrypted key doesn't allow ssh-agent to do its thing like it was doing before.

[2015-11-26 11:57] turkenh commented on #3974
+1
Agree  on this, having an easy way to set custom endpoint would be perfect.

[2015-11-26 11:59] stack72 commented on #3969
@baskaran-md I believe I have added the expected behaviour as part of #4074

[2015-11-26 12:30] afritzler commented on #3974
+1

[2015-11-26 12:38] elblivion commented on #4073
Sorry for not providing a full config & output right now. I can say that this is the value of `lb.SourceSecurityGroup` (and should be so for any EC2-Classic ELB):

[code]

Maybe it's enough to put [this bit](https://github.com/hashicorp/terraform/blob/7152674f9b9f1dc20fa9f655d363d42719988d48/builtin/providers/aws/resource_aws_elb.go#L315-L320) in the preceding `if` statement.

[2015-11-26 12:50] jfuechsl commented on #516
Would it be feasible to open up state handling to plugins?
The standard could be to store it in files, like it is currently done.
Other options could be Vault, S3, Atlas, etc.

That way this issue can be dealt with appropriately based on the use-case.

[2015-11-26 14:26] k3ypad commented on #3915
There is a feature in AWS that allows for this: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-recover.html

It would be great to see the aws_cloudwatch_metric_alarm handle this - however the external AWS API only supports ARNs (for sns publishing and autoscaling actions): http://docs.aws.amazon.com/cli/latest/reference/cloudwatch/put-metric-alarm.html

A proper solution for this

[2015-11-26 15:04] kisamoto commented on #953
+1 here.

Use case is multiple asg modules, auto configured using puppet based on a sequence of variables passed through. At the moment I have to have a module reference for each asg, 90% of the variables the same copy -> paste just modifying the 2 or 3 that defines the type of box.

If I could use a count lookup instead (e.g. below) that would be awesome.

**main.tf**
[code]

**variables.tf**
[co

[2015-11-26 15:38] afritzler commented on #3974
Btw. in this context:
It would also be greate if you could use custom `regions` in the aws provider. Not sure if that will be an issue atm.

[2015-11-26 15:56] dzabel commented on #4022
Hi,

i have seen this before too. My cause was, that i have to use "ec2-user" to connect to aws instance.
Possible you also have to use another user.
Looking at your output, i can see:
aws_instance.test (remote-exec): User: root

Adding:
[code]

solved my issue.

[2015-11-26 16:19] xied75 commented on #4054
Related to avoid a new issue I'll put it here.

It seems although the warning information is about settings_file is DEPRECATED, yet if I don't specify this in tf and use publish_settings, I still get the same warning (plus a prompt for settings_file value, if I just enter I'll get the warning). If I set both, I no longer got prompt but the warning will still display.

Might be in the source code s

[2015-11-26 16:30] mrwilby commented on #4065
My heredocs also broke in 0.6.7. I am not sure if the use of a numeric in the HEREDOC name is invalid (couldn't quickly find confirmation) but anyway, these don't parse anymore:

variable "whitelist-all" {
	default = <<EOF1
...
EOF1

If I change to:

variable "whitelist-all" {
	default = <<EOF_ALL
...
EOF_ALL

everything is okay. So not line endings in my case... Looks like the HEREDOC parser has

[2015-11-26 16:35] xied75 commented on #2587
Guys, something related, I was trying to deploy CoreOS with specific version, I find it by azure-cli something like this: 2b171e93f07c4903bcad35bda10acf22__CoreOS-Alpha-870.3.0

If I put this in tf I got above error msg. But put in "CoreOS Alpha" does work, so how do we specify the version then? Apparently in above msg we got tons of CoreOS Alpha there which all look the same. :)

[2015-11-26 16:38] xied75 opened #4076 "Azure provider settings file having multiple subscriptions"
Dear all,

It looks like when we use publish_settings when there are multiple subscriptions terraform just choose the first one, seems we don't have a way to specify which one for any resource creation.

Best,

Dong

[2015-11-26 16:48] JensRantil commented on #4036
Maybe add `crash` label to this issue, too?

[2015-11-26 18:27] ashmere commented on #4023
Just built from master using vagrantfile and retried the maps are still not being overriden

[2015-11-26 19:22] danielcompton opened #4077 "Support AWS Data Pipeline"
It would be nice to be able to use AWS Data Pipeline with Terraform, especially for things like updating the AMI id when Packer builds a new one.

http://docs.aws.amazon.com/datapipeline/latest/APIReference/Welcome.html

[2015-11-26 20:11] jen20 commented on #4065
@marekrogala I've fixed the HCL parser and added better test coverage around this in Terraform itself as well as in the HCL library.

@mrwilby, there were major changes to the entire HCL parser (it was completely rewritten), and Terraform 0.6.7 is the first release of any HashiCorp product to use it. Your example looks good, so if it's not parsing, that is a bug we should address. I'll open a new

[2015-11-26 20:12] jen20 opened #4079 "HEREDOCs with the termination line ending in a numeric are not parsed correctly"
As reported by @mrwilby in a comment on #4065:

[code]

If I change to:

[code]

[2015-11-26 20:27] jen20 commented on #4069
Seems there are indeed some issues upstream with HCL and Windows line ending support. I'll work on getting them fixed tomorrow.

[2015-11-26 21:18] #3969 closed

[2015-11-26 21:48] stack72 commented on #3135
@austinmills @apparentlymart I just opened #4080 to allow this and it works easily enough

[2015-11-26 22:43] rvanoo opened #4081 "CLI Crash - running 'terraform plan'"
See attached crash log. Terraform v0.6.7

[crash.txt](https://github.com/hashicorp/terraform/files/45305/crash.txt)

[2015-11-26 23:05] rvanoo commented on #4081
Reverting to 0.6.6 (this is all on Ubuntu 12.04 LTS) does the trick.

[2015-11-27 00:18] nickithewatt opened #4082 "terraform get hanging since 0.6.7 upgrade"
Hi,

since upgrading to 0.6.7, my ```terraform get``` seems to be hanging and never returning. I am running on Mac OS X, and have deleted my .terraform directory. I do have two different modules pointing to the same git module source locations (a tagged sub directory), however this same setup works fine in 0.6.6.

[code]

[2015-11-27 00:38] xsmaster commented on #4082
What version of OSX are you on? I have seen similar issues with 10.11.1 El Capitan.

[2015-11-27 01:22] vancluever commented on #2660
+1 on this, seeing it on S3 resources possibly, upon creation of the IAM resources needed for the principal the bucket creation is performed, and when the policy application is attempted it barfs.

[2015-11-27 01:27] ColinHebert opened #4083 "Unset values in an override"
Hi guys,

Would it be possible to unset values within an _override.tf file?

ie I have this resource:

[code]

I would like to be able to do the following override:

[code]

[2015-11-27 02:15] mrwilby opened #4084 "Intermediate variables (OR: add interpolation support to input variables)"
Not quite sure how to express this properly.

Input variables today cannot contain interpolations referring to other variables. I find myself bumping up against this now and then where I'd prefer to define a "default" value for an input variable based upon a composition of another input variable and some fixed string.

If we could interpolate values inside default properties of input variables OR,

[2015-11-27 03:14] nickithewatt commented on #4082
I am still on OS X Yosemite (10.10.5), unfortunately turning debug does not show anything new, it still just hangs at the ```get``` command and never returns, I have to kill -9 it to get it back

[2015-11-27 05:06] xsmaster commented on #4082
The below will help to kill all the instances of terraform. I did the mistake of hitting "Control + c " in the shell to kill it. It left a ton of things open.
[code]

So I setup the export and run it again with no help. One thing I did notice between 0.6.6 & 0.6.7 is that in 0.6.6 makes an outbound API call to hashi corp and 0.6.7 does not.

https://checkpoint-api.hashicorp.com/v1/check/terraform?

[2015-11-27 06:03] xsmaster commented on #4082
@nickithewatt I think i found the issue. if ANY of your .tf files have a # on the last line it will break terraform.

Example:

[code]

From the command line type in:

[code]

Now it will just hang and do nothing. Once I removed all the ending # 0.6.7 works fine. this was not an issue in 0.6.6

[2015-11-27 06:22] xsmaster opened #4085 "Terraform docs site is out of date"
https://www.terraform.io/docs/providers/template/index.html

Shows the old syntax.

[code]

Looks like someone beat me to the punch to make the fix.
https://github.com/hashicorp/terraform/commit/f0292d420fcb653ca18d60aa1513f577f29d1593

When will the site get updated?

[2015-11-27 07:30] nickithewatt commented on #4082
@xsmaster so that helped with some progress thanks! Having removed the trailing comment line from one of my files, I can at least Ctrl-C (SIGINT) stop the ```terraform get``` without resorting to having to kill -9 it, however it still hangs for me.

[2015-11-27 08:03] jen20 commented on #4082
Hi @nickithewatt! Thanks for reporting this. There is another report of `terraform get` behaviour not working in all cases as well; clearly this is something we need to address. @xsmaster nice sleuthing to find the issue with trailing `#` - I think this is a bug in the new HCL parser, and should be relatively straightforward to fix.

[2015-11-27 08:09] jen20 commented on #4081
Hi @rvanoo! Thanks for reporting this. This looks like you're running into the issue fixed by #4024, which will be in a point release immediately after the (US) holiday season is over and everyone is back at work. Since we've already fixed the issue, I'm going to close this issue - if you want to follow issue #4024 I'll update that with a comment when the release is made.

In the meantime, there a

[2015-11-27 08:09] #4081 closed

[2015-11-27 08:50] nickithewatt commented on #4082
Great thanks @jen20 and @xsmaster!

[2015-11-27 08:54] radeksimko commented on #4068
I think this is very closely related to https://github.com/hashicorp/terraform/issues/1199

[2015-11-27 08:57] #3135 closed

[2015-11-27 09:34] kc11381 opened #4086 "Total vCpu's allocated to all vm's on a esxi host"
How to know total vCpu's allocated to all vm's on a esxi host?
Do we have to traverse through all the connected vm's?

[2015-11-27 11:05] jen20 commented on #4086
Hi @kc11381. Although I've not tried much with the vsphere provider, I don't think there is support in the core for this kind of roll-up reporting. I can see some uses for it in other providers as well (for example, account totals in AWS). I'll give it some thought as to how we might be able to implement it.

In the meantime, if you can find the number of vCPUs via the host resource, you might be

[2015-11-27 11:38] xied75 commented on #2416
Looks like not really a bug, but the intended feature, suggest close the issue.

[2015-11-27 11:38] gtmtech commented on #3631
I'm happy for this to be closed - I think your explanation is very sensible and the behaviour is very sensible. It makes much more sense to default to a refresh (and thus change the state) than not to. And I see the documentation provides details of this.

[2015-11-27 11:50] pmvilaca commented on #2342
+1

[2015-11-27 12:49] xied75 commented on #2419
Guys, all wrong direction. For those of you who made the correct decision to stick with TF for Azure, here is what I found after a whole day wasted on this:

0, we are talking about classic ASM mode here.
1, the "Management Certificates" you can see and upload in the classic portal, as the name suggests, are for Management purpose only, things like authenticate you via Visual Studio or azure-cli t

[2015-11-27 13:04] xied75 commented on #3473
@chevalpartners @bensojona I'll try your repro later, but what do you mean regarding AWS userdata, Azure has a thing called custom-data which is similar:

https://coreos.com/os/docs/latest/booting-on-azure.html

[code]

[2015-11-27 13:15] xied75 commented on #3595
@apparentlymart I love you, so I just deployed CoreOS Alpha 475.1.0 :)

Apparently searching on label is definitely wrong, this should now be a PR and get merged.

Apparently the bunch who code for Azure are busy on coding TF support of the new ARM mode, yet we still need to carry on to make ASM work.

[2015-11-27 14:51] jen20 commented on #3595
Hi @xied75. If you want to submit your diff from above as a pull request I'll look at merging it.

Looking at the diff, could you ensure that changes to `config/lang/y.go` or any other automatically generated code are not included as part of the commits though?

[2015-11-27 14:52] stack72 opened #4088 "Question: Potential Restructure of IAM Role and Managed Policies"
I propose the way that IAM Role and Managed Policies work are restructured. Right now I have to do the following:

[code]

There is a 1:1 mapping between IAM role policy and IAM role. This means to attach the same managed policies to different roles, I need to copy the iam_role_policy.

I suggest something like this:

[code]

Anyone have any thoughts on this? This would be backwards compatible bec

[2015-11-27 16:12] k3ypad commented on #3915
Good news actually, I was being silly.

There is a way to deal with these and Terraform does support them - use the ARNs found here:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/UsingAlarmActions.html
 in the "alarm_action" to auto recover an instance

[2015-11-27 18:26] vancluever opened #4089 "Deleting a Lambda does not delete event source mappings?"
Further to #3897, <del>it looks like if there is already the correct access to a Kinesis stream from a Lambda, it tries to create the mapping automatically</del>, (**note, I think this is actually because the workaround was applied. See below.**) as the workaround that is detailed there breaks with the `The event source arn and function provided mapping already exists` error.

However, the followi

[2015-11-27 18:28] vancluever commented on #3897
I have submitted the above referenced issue (#4089) as the event mapping workaround here seems to not work if IAM access exists between the role and the Lambda function. It bails saying that the mapping is a duplicate, and upon inspection on the console, the mapping is there, albeit disabled with an error.

[2015-11-27 18:34] apparentlymart commented on #1391
The public key part of a key pair is an OpenSSH authorized_keys entry, so I wonder (but an not close enough to a computer to test) whether you can put multiple keys in there separated by newlines, with the goal of having them all get written into the authorized_keys file together?

[2015-11-27 18:56] vancluever commented on #4089
I'm kind of wondering if this is partially the issue:

[code]

From the Go SDK, `func DeleteFunction`

Possibly deleting the function is not deleting the mappings?

[2015-11-27 19:05] jfchevrette opened #4090 "openstack_compute_instance_v2.master: diffs didn't match during apply. This is a bug with Terraform and should be reported."
Reporting as indicated by the error.

I am trying to provision a new instance from a volume instantiated from a source volume id.

[code]

First run of ```terraform apply``` results in the error mentioned in the issue title. If I run it a second time, the instance is created successfully.

```terraform apply``` output: https://gist.github.com/jfchevrette/1e2ee15762efbd4df1a7
diff reason from TF_LO

[2015-11-27 19:19] vancluever commented on #4089
Corrected the subject to reflect the current state of the tool and what more probably what is happening.

Educated guess here, but I'd imagine since Terraform does not support event source mappings currently it's not really thinking about wiping any that might be around after deleting the function.

[2015-11-27 19:46] knewter commented on #1688
For what it's worth, @lyrixx this helped me a lot.  Thanks :)  I ran into the same issue.

[2015-11-27 21:19] vancluever commented on #3897
Correction to the above, it might be a stale mapping due to the need for a workaround. Check out the issue for more details.

[2015-11-27 21:25] dverbeek84 commented on #3925
I can confirm, this is also happening on my side.

[2015-11-27 23:57] ipsq opened #4091 "Using lists for list parameter types"
I want to create a Route 53 record containing all my EC2 instance IP's like so:

[code]

This (`records = "${aws_instance.web.*.public_ip}"`) is the failing part but I've tried almost everything (`records = ["${element(aws_instance.web.*.public_ip, count.index)}"]`, `records = ["${aws_instance.web.*.public_ip}"]` and `records = "[${join(", ", aws_instance.web.*.public_ip)}]"`) but nothing seems to

[2015-11-28 01:03] yawn opened #4092 "Proposal: require certain version of Terraform"
Proposal: add an optional version selector to the Terraform configuration syntax, e.g.

[code]

Use case: enforce that infrastructure that relies on certain features or bug-fixes in Terraform cannot be run by buggy versions.

[2015-11-28 01:08] stack72 commented on #3368
@catsby I suggest we change the schema to reflect this as follows:

[code]

This way we can validate for either username or snapshot_identifier. We don't need both. Use of snapshot identifier has a very specific use-case

Thoughts?

[2015-11-28 01:58] vancluever commented on #3897
Submitted PR to add `aws_lambda_event_source_mapping` (referenced back to here)

[2015-11-28 01:59] vancluever commented on #4089
Submitted PR to add `aws_lambda_event_source_mapping` (referenced back to here). This does not directly fix this "bug", but it should reduce the scenarios where it would come up.

[2015-11-28 02:26] chrislovecnm commented on #4086
@kc11381 what is your use case? What are you trying to do?

[2015-11-28 02:29] chrislovecnm commented on #3562
@eloycoto let us know if we can help, but this is kinda a VMware thing, not a terraform related issue. Can we please close this?

[2015-11-28 02:48] kc11381 commented on #4086
Hi Jen20,

I think I will have to iterate over each vm on a esxi host and get this value. There is no direct property of HostSystems to get it. Please correct me here.

[2015-11-28 02:48] kc11381 commented on #4086
Hi Chris,

Actually I want to select a esxi host for creating a vm based on pCpu:vCpu ratio.

[2015-11-28 06:32] vancluever commented on #3557
@catsby I'm think this is the issue that I'm referencing in my PR (see #4093). I'm going to fool around with waiters on the weekend (see [here](https://github.com/aws/aws-sdk-go/blob/ce51895e994693d65ab997ae48032bf13a9290b7/private/waiter/waiter.go)) to see if this helps.

Also see [the pre-existing IAM waiters](https://github.com/aws/aws-sdk-go/blob/ce51895e994693d65ab997ae48032bf13a9290b7/servic

[2015-11-28 09:26] CpuID commented on #4092
+1 we effectively do this via a rake wrapper currently.

[2015-11-28 10:17] jen20 commented on #4092
@phinze I think this might be a good idea. We should probably discuss which part of the config this should go in, though.

[2015-11-28 10:26] jen20 commented on #4091
Hi @ipsq - the correct syntax to use is:

[code]

This is because `records` expects a list, even if there is only one element, and the interpolation inside will expand to multiple items.

[2015-11-28 10:26] #4091 closed

[2015-11-28 13:42] ajcrowe commented on #4060
I've implemented this in #4087

[2015-11-28 17:07] jtopjian commented on #4090
Hi there,

I'm able to reproduce this. I'll look into it as soon as I can.

Thanks for reporting this. :smile:

[2015-11-28 17:34] jtopjian commented on #4042
Hi there,

I didn't know you could do this. :smile:

It looks like this works by passing the ephemeral disks to the `block_device_mapping` parameter of the Nova API:

[code]

This should be supported in Gophercloud, under the `bootfromvolume` extension. If this is true, then the Terraform OpenStack provider will need modified to allow more than one `block_device` block (right now it enforces only

[2015-11-28 19:55] SpencerBrown opened #4096 "Documentation: new aws_route resource under Route 53 in contents list instead of VPC"
see https://terraform.io/docs/providers/aws/index.html and scroll down to Route 53.

You'll see that the `aws_route` resource is listed there, instead of under VPC where it should be.

[2015-11-28 21:15] SpencerBrown opened #4097 "aws_route: continually deletes and re-updates the network_interface_id attribute"
to reproduce:

1. create an `aws_routetable` resource called "rt" and an `aws_instance` resource called "inst"
2. create an `aws_route` resource pointing to the `aws_routetable` resource, with an `instance_id` attribute of `${aws_instance.inst.id}`
3. `terraform plan --out=tf.plan`
4. `terraform apply tf.plan`

Repeat steps 3 and 4. Note that each time you repeat these steps, Terraform wants to ch

[2015-11-29 14:51] stack72 commented on #4096
@SpencerBrown there is a PR open to fix this now - #4101

[2015-11-29 15:07] SpencerBrown commented on #4096
Ok great, closing this issue. Thanks!

[2015-11-29 15:07] #4096 closed

[2015-11-29 16:16] rajinders commented on #3473
@xied75      I am aware of custom-data in Azure but it exists in Linux VMs running in Azure.
My example above was for Windows VM's. Instead of SSH we use winrm to communicate with Azure VM's and that seems to be broken.

[2015-11-29 19:29] dirkcjelli opened #4102 ""diffs didn't match during apply" while using aws_route_53_record"
Using v.0.6.7, I'm trying to spin up a couple of (spot) instances and provide them with (vpn-internal-) DNS records.
While applying, I get

[code]

My route53-config is as follows:

[code]

[2015-11-29 22:00] chrislovecnm commented on #4086
@kc11381 govc, the command line util of govomi, has a cpu usage.  I would look at the host object and see if there is that type of information.  Otherwise you will have eto go through each vm, and each host.

Here is the code ref that I am seeing https://github.com/vmware/govmomi/blob/master/govc/host/info.go#L134

[2015-11-30 01:19] xsmaster commented on #4082
Glad to help. I love terraform

On Friday, November 27, 2015, Nicki Watt <notifications@github.com> wrote:

[2015-11-30 04:05] kc11381 commented on #4086
Hi Chris,

Thank you for looking at it. CPU usage does not talk about vcpu. So it will not solve my purpose. I think iterating over vms is the only option left now.

[2015-11-30 04:29] kc11381 opened #4104 "How to set a esxi host for deploying a vm"
Hi,

We have multiple compute clusters. I want to choose a specific esxi host. Is it possible?
From:
https://github.com/mkuzmin/terraform-vsphere/blob/master/resource_virtual_machine.go line:187
I can see he has done it. But I am not able to do it here.
Thank you.

[2015-11-30 05:01] igoratencompass opened #4105 "AWS route table and nat instance route modification"
Hi all,

I have a private route table resource in ec2 being created as:

[code]

Then later in the same play, a nat instance gets launched that modifies the route table adding it's self as default gateway via user-data script. Now when ever I run the plan again after adding new resource lets say, TF modifies the route table removing the nat instance record.

Since TF is aware of the changes made b

[2015-11-30 10:05] marekrogala commented on #1557
:+1: would be really helpful

[2015-11-30 11:14] stack72 commented on #3107
@phinze / @jen20 I **think** this can be closed. The change above is already in place:

[code]

This is in resource_aws_route53_record.go

[2015-11-30 11:32] stack72 commented on #3052
@catsby / @jen20 I believe this can now be closed due to the merging of #2890

[2015-11-30 12:26] jeffw-wherethebitsroam opened #4109 "aws_security_group_rule schema"
Currently, source_security_group_id conflicts with cidr_blocks and self, self conflicts with cidr_blocks. Also, source_security_group_id can only have a single value. It would be useful to be able to write:

[code]

It doesn't look like source_security_group_id needs to conflict with self - this look like it is already supported in the code.

I'm not sure if source_security_group_id and self needs

[2015-11-30 12:48] jen20 commented on #3580
@patrickheeney I merged #3748 the other day, but didn't spot this as related in order to close it as well. Closing now!

[2015-11-30 12:48] #3580 closed

[2015-11-30 12:57] stack72 commented on #4085
@xsmaster the docs site usually gets pushed around the same time as a release. I reckon within a few weeks

[2015-11-30 12:58] reinoudk commented on #3580
@jen20 I think PR #3597 can be closed then as well.

[2015-11-30 12:58] #3106 closed

[2015-11-30 13:04] jen20 commented on #4092
I've started implementing this, with a new `terraform` configuration block. Currently it looks like this:

[code]

I'm still working on some tests etc and will push it later today.

[2015-11-30 13:09] jen20 commented on #3580
Thanks - sorry I didn't spot that one when I merged #3748!

[2015-11-30 13:15] #3230 closed

[2015-11-30 13:29] jen20 commented on #3093
This was added in #3548, so I'll go ahead and close this issue for now. Thanks for bringing it up!

[2015-11-30 13:29] #3093 closed

[2015-11-30 14:50] catsby commented on #2912
Closing this for now, please let me know if you're still getting these diffs

[2015-11-30 14:50] #2912 closed

[2015-11-30 15:01] hugoboos commented on #3721
Cool.

If we need to test something, please let me know. I'm willing to help out.

[2015-11-30 15:35] phinze commented on #3107
Yep looks correct - thanks for the ping @stack72!

[2015-11-30 15:35] #3107 closed

[2015-11-30 15:44] kc11381 commented on #4104
Also,

How can I get associated datastore on the chosen esxi host and how to set datastore too.
Thank you.

[2015-11-30 15:49] ryanl-ee commented on #3855
Thanks for the clarification and for the fix for Linux!

[2015-11-30 15:49] #3855 closed

[2015-11-30 16:15] davidblewett commented on #1964
Put me down as a +1. Was looking at the Makefile solution from http://karlcode.owtelse.com/blog/2015/09/01/working-with-terraform-remote-statefile/ , but the script above would handle our use cases better (distinct dev/prod environments with different state).

[2015-11-30 16:37] elliottsam opened #4110 "Problem deleting block volume on Openstack"
I am seeing the following error when trying to remove a secondary volume that has been added, running Terraform 0.6.6, it will eventually complete successfully, but this can take 20-30mins.

[code]

[2015-11-30 16:51] kbxkb commented on #953
+1

Another use case for Azure: When creating multiple Azure VM-s belonging to the same Cloud Service (which can be done is we resolve this bug: https://github.com/hashicorp/terraform/issues/3568, and I am in the process of resolving it), if we also want to add data disks to each of these VM-s (which is possible is this bug is fixed: https://github.com/hashicorp/terraform/issues/3428, and I am in

[2015-11-30 17:01] catsby commented on #2185
Hey @scalp42 – I'm going to go ahead and close this now. I attempted to reproduce with this following configuration, but received no errors:

[code]

If I'm missing something please let me know!
Thanks

[2015-11-30 17:01] #2185 closed

[2015-11-30 17:25] catsby commented on #2310
Hey @SamBarker – sorry for the long silence here. I've taken a stab at this and I think the issue is largely in the CSV file, specifically, I found a trailing `,` and a handful of line breaks. This caused your `split` interpolation to generate at least 1 nil entry at the end and caused Terraform to panic. I found that by removing the extra lines and extra comma, things worked as expected.

I'm goi

[2015-11-30 17:44] vancluever commented on #4068
Just a quick gander at the source - if we can set computed variables in the schema for providers, this should be just as easy as it would be for setting it in a resoruce.

Now the trick is to figure out a way to reliably get the account ID, which has always been trouble.

[2015-11-30 18:11] ryanl-ee opened #4111 "vSphere deploy does not connect NIC by default"
Hi! I'm having an issue where deploying a VM in vSphere doesn't connect the NIC by default. Terraform will successfully clone, customize, and boot the VM, but editing the VM settings I can see the "Network adapter 1" does not have the "Connected" or "Connect at power on" boxes checked. The source VM does have "Connect at power on" checked.

- vSphere 6.0.0, 3018523
- Terraform 0.6.7 (I would have

[2015-11-30 18:15] vancluever commented on #4068
One possible way for account ID that may be consistent across everything:

http://docs.aws.amazon.com/sdk-for-go/api/service/iam/IAM.html#ListAccountAliases-instance_method

This grabs a single alias, which is either the account ID if an alias has not been set, or the alias that you have set. It might be a good stand-in until a way to get the full account ID is found, depending on its availability

[2015-11-30 18:15] ryanl-ee opened #4112 "SSH password connection repeatedly fails to connect in vSphere"
This may or may not be related to my other issue (https://github.com/hashicorp/terraform/issues/4111) which involves the NIC not being connected after provisioning. After I manually connect the NIC, vSphere applies the customization template, reboots, and Terraform begins to attempt connection. The log shows that its IP is correctly reported to Terraform, and I am able to manually SSH into the new

[2015-11-30 18:29] catsby commented on #4036
Looks like we've confirmed #4024 has fixed this, and we've labeled it `crash` for good measure. Thanks all!

[2015-11-30 18:29] #4036 closed

[2015-11-30 18:40] tarrant commented on #1035
I don't think it is something we strongly need anymore. We switched to cloudconfig and yaml. I still don't think its a terrible idea but definitely a back-burner one.

[2015-11-30 18:49] sl1pm4t commented on #2460
What's the status of this?

[2015-11-30 18:59] SamBarker commented on #2310
@catsby Thanks!

I guess I should have looked a bit closer at the CSV it self.

[2015-11-30 19:05] catsby commented on #3431
Hey all – doing a review of old issues , is this still relevant?

[2015-11-30 19:11] stack72 commented on #3960
@stolinzeev any joy with this?

[2015-11-30 19:13] stack72 commented on #3838
@apparentlymart I would love to see this turned into a wiki article / blog post or something so that it can be added to - thoughts?

[2015-11-30 19:22] gherlein opened #4114 "TERRAFORM CRASH"
[crash.log.txt](https://github.com/hashicorp/terraform/files/47682/crash.log.txt)

[2015-11-30 19:30] egarbi commented on #3638
@timothykimball this seems to be an issue with our OS reaching the maximum of open files allowed for the user.
After run "ulimit -n 1024" everything worked fine. Confirm to close this issue please

[2015-11-30 19:32] gherlein commented on #4114
ran terraform on AWS t2.micro

Linux ip-172-31-42-102 4.1.10-17.31.amzn1.x86_64 #1 SMP Sat Oct 24 01:31:37 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-11-30 19:46] gherlein commented on #4114
BTW, the same example.tf file works fine from Mac OSX

[2015-11-30 20:07] catsby commented on #2310
No worries, hopefully `split` can account for this, we'll see :smile:

[2015-11-30 20:09] chuckyz opened #4115 "Unclear commands for terraform remote state on S3"
I'm getting 403 errors when trying to migrate a remote policy to S3.  If I give it the AmazonS3FullAccess policy it works.

I've applied the following IAM policy:

[code]

Running the following command:
`terraform remote config -backend=S3 -backend-config="bucket=my-bucket" -backend-config="key=prod" -backend-config="region=us-west-2"`

Results in this error:
[code]

What's unclear is... what else

[2015-11-30 20:10] catsby commented on #3052
Thanks!

[2015-11-30 20:10] #3052 closed

[2015-11-30 20:16] davehodgson opened #4116 "Azure - possible to add Virtual Network Gateway resource"
Hi,

As part of putting together an Azure infrastructure I've noticed that while Virtual Network, Subnets and Security Groups exists, that a Virtual Network Gateway isn't possible, this is needed if you want to set up a Point-to-Site VPN, I can create it on the GUI after or via powershell/REST but it would be handy if I could do it via Terraform.

If it gets implemented then the ability to also up

[2015-11-30 20:22] chrislovecnm commented on #4104
Environment variables or you can list in your tf file. All is documented: https://terraform.io/docs/providers/vsphere/index.html

[2015-11-30 20:23] chuckyz commented on #4115
Wow, might want to leave this on Github issues for anyone who isn't very familiar with IAM policies.

I did my homework, the correct policy is that both the bucket, and the contents in it need to be specified as resources.

The correct policy is:

[code]

[2015-11-30 20:23] #4115 closed

[2015-11-30 20:39] alex opened #4117 "Terraform Crash"
[code]

[code]

Here are the files I have:

**main.tf**:
[code]

**variables.tf**:

[code]

**services.tf**:
[code]

[2015-11-30 20:43] phinze commented on #2011
@jtopjian we don't currently have a facility for this. Perhaps worth opening a fresh core issue to discuss how a feature like this might work?

[2015-11-30 20:46] phinze commented on #4114
Hi @gherlein - thanks for the report! This crash was fixed in https://github.com/hashicorp/terraform/pull/4024, which will be released in v0.6.8. We're planning to publish the release tomorrow.

[2015-11-30 20:46] #4114 closed

[2015-11-30 20:47] phinze commented on #4117
Hi @alex - thanks for the report! This crash was fixed in https://github.com/hashicorp/terraform/pull/4024, which will be released in v0.6.8. We expect to push the release tomorrow.

[2015-11-30 20:47] #4117 closed

[2015-11-30 20:53] phinze commented on #1198
Hey folks, I believe this has been taken care of since last this issue had activity. Feel free to follow up if this reproduces on the latest version of Terraform though. :+1:

[2015-11-30 20:53] #1198 closed

[2015-11-30 21:03] phinze commented on #2639
We now support `-parallelism` as a flag. :+1:

As for the use case of commonly needing to spin up groups of EC2 instances concurrently, I'd recommend looking into ASGs and user_data to handle booting and provisioning, respectively.

[2015-11-30 21:03] #2639 closed

[2015-11-30 21:15] radeksimko commented on #2460
I was talking to @svanharmelen recently at dotGo and he was mentioning a conversation w/ @mitchellh where he wasn't quite inclined to add "API functionality" into Terraform since it significantly widens the impact/focus of Terraform (correct me if I'm wrong in the interpretation either of you).

I was thinking about this for a while after dotGo and I must say I'm also inclined (I wasn't originally

[2015-11-30 21:23] mkuzmin commented on #3972
Related PR: https://github.com/hashicorp/terraform/pull/3761

[2015-11-30 21:24] mkuzmin commented on #2417
Another related PR: https://github.com/hashicorp/terraform/pull/3761

[2015-11-30 21:31] vancluever commented on #3538
I'm going to go one step further - I'd love to see Terraform keep remote config info (minus credentials) in the terraform file, or something similar, so that remote state can be calculated off of an parameter like so:

[code]

This is how I was hoping it was set up :\

[2015-11-30 21:36] catsby commented on #2656
Hey @netvisao – sorry for the silence here. I've recently revisited this issue and still can't reproduce it. I'm assuming this was an issue with the SDK at this time, which has since been resolved.

If you can still reproduce this, please let me know!
Thanks!

[2015-11-30 21:36] #2656 closed

[2015-11-30 21:47] catsby commented on #2660
@vancluever do you have a configuration that reproduces this? If so, can you please open another issue? As it stands, IAM propagation issues need to be handled in a resource-by-resource manner, for the time being.

This particular issue (#2660) has been resolved with #2037, so I'm going to close it.

Let me know if anyone is still hitting this

[2015-11-30 21:47] #2660 closed

[2015-11-30 21:50] nathanielks commented on #1604
I really like the *when* syntax as well. There are a few domains that are used only in production, so when I spin up intermediate environments they're not needed at all. My current solution is to have a script generate the json for each environment, so having a *when* property on a resource and only create when that condition is satisfied is muy bueno.

[2015-11-30 21:51] jtopjian commented on #2011
@phinze Will do! Thanks!

[2015-11-30 21:55] vancluever commented on #2660
@catsby check out my PR #4103 for the fixes I did for this - I will re-run this with the current upstream and paste the errors, with an sanitized config (I'll just append this stuff to the PR, if that's okay).

[2015-11-30 21:57] jtopjian opened #4118 "Resources Refreshing Resources"
#2011 has a need for one resource to refresh another resource so the computed attributes are grabbed.

At a high level, here's what's happening:
1. A Floating IP resource is created. It has a computed resource of the private IP of the instance it is attached to, but it doesn't actually know of this IP until the instance has been fully created. Therefore, it's unknown until the resource is refreshe

[2015-11-30 22:03] svanharmelen commented on #2460
The current status of the `terraform-api` project is that it is fully functional and up-to-date with Terraform (give or take a few commits). I did however change the protocol from HTTP+JSON to gRPC a little while ago, as we switched our internal microservices to using gRPC.

Next to that I think I have a solution for the current approach which clearly isn't ideal (certainly with regards to the imp

[2015-11-30 22:07] ketzacoatl commented on #4062
reverting to `key_file` has worked for me to resolve a similar (but possibly different) issue with `private_key` not working in my setup.

[2015-11-30 22:39] catsby commented on #3334
Hey @railsbros-dirk – sorry for the silence here. I believe this issue is fixed now, as I'm not able to reproduce it. The fix should have been introduced in 0.6.2, so if you're still hitting this let me know.

I used this config to test, and things worked as expected:

[code]

[2015-11-30 22:39] #3334 closed

[2015-11-30 23:04] alex commented on #4117
Awesome. Thanks.

On Mon, Nov 30, 2015 at 3:47 PM, Paul Hinze <notifications@github.com>
wrote:

--
"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: 125F 5C67 DFE9 4084

[2015-11-30 23:12] nadnerb commented on #1964
I wrote https://github.com/nadnerb/terraform_exec to do this.

It is written in go but only calls terraform on the command line under the covers using exec (I might fix that in the future). This syncs state with s3 and works at an environment level.

This works for me, I am happy to improve it if others find it useful.

[2015-11-30 23:23] phinze commented on #23
Closing this in favor of more specific issues on a per-provisioner basis.

[2015-11-30 23:23] #23 closed

[2015-11-30 23:24] phinze commented on #241
This is being worked on over in #3687! Head over there to track the feature development.

[2015-11-30 23:24] #241 closed

[2015-11-30 23:25] phinze commented on #98
We'd welcome any PRs w/ Papertrail support, but we don't have any plans as a core team to work on the feature, so closing this for now.

[2015-11-30 23:25] #98 closed

[2015-11-30 23:29] phinze commented on #208
Terraform has a story for reuse as described by the original author here - it's based around [modules](https://terraform.io/intro/getting-started/modules.html). Check out the docs for more info!

Our Atlas docs also have a [more concrete example of managing multiple envs with modules](https://atlas.hashicorp.com/help/intro/use-cases/multiple-environments), whose structure is valid with or without

[2015-11-30 23:29] #208 closed

[2015-11-30 23:59] AlexeyRaga opened #4120 "Add S3 Bucket to SNS mapping"
It would be very helpful if Terraform could add event notifications from an S3 Bucket to an SNS topic.
ASW has this ability through the UI and it is also supported by CloudFormation, but not by Terraform as far as I can tell.

[2015-12-01 00:09] vancluever commented on #3838
Glad I stumbled upon this. The thing is, I am actually trying to use a single `.tf` file with multiple states, in a single repo (and get some tooling around how to do it).

I found that I can do it by:

[code]

Would be nice to have a `terraform remote change` or maybe a `-migrate|push=false` option on `config` to ensure the `.tfstate` file is not migrated even if it's present, to ensure any state

[2015-12-01 00:11] radeksimko commented on #3431
This is still relevant. Essentially https://github.com/hashicorp/terraform/pull/3313 caused that `allowed_account_ids`/`forbidden_account_ids` are being ignored and any commands are just executed.

[2015-12-01 00:51] phinze commented on #1586
Having participated in discussions about the long term direction of Packer w/ Mitchell et. al., I do believe that's the likely direction we are headed in.

[2015-12-01 00:55] mlehner commented on #4043
Switching to AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_DEFAULT_REGION resolved the issue for me. Originally my access credentials using variables and TF_VAR_ environment variables similar to @landro.

I was experiencing this issue while running 'terraform plan' or 'terraform refresh'. All the aws resources would just repeatedly say they were waiting on another resource every 5 seconds. I tr

[2015-12-01 01:37] phinze commented on #4043
Hey folks, some of the occurrences here might be explained by the HCL issue we found in #4082, which caused config parsing to hang on any file that ended in a comment line. That should be fixed on master with a `make updatedeps` to fetch the latest `hashicorp/hcl` dependency (and will be included in the forthcoming v0.6.8 release).

[2015-12-01 02:59] igoratencompass commented on #2727
+1 for this request

[2015-12-01 03:48] pikeas commented on #4097
Bump, just ran into this!

[2015-12-01 04:19] kc11381 commented on #4104
Hi Chris,

But it does not talk about a specific esxi host. Am I missing something here?
Thank you.

[2015-12-01 06:22] davehodgson opened #4121 "Feature suggestion - Destroy Provisioner (local or remote exec)"
Hi guys,

I've been working on a project on Azure and run into a couple of challenges because I want to create a VPN gateway and upload a cert as a part of the terraform script (https://github.com/hashicorp/terraform/issues/4116) I've come up with a workaround using the provisioner to call local-exec to a powershell command and from there written scripts to handle the work.

Unfortunately when I g

[2015-12-01 07:57] johannesboyne commented on #3675
+1

[2015-12-01 08:17] johannesboyne opened #4123 "Support AWS Lambda Aliases and Versions"
I would like to be able to use `terraform` to configure the aliases and versions for Lambda functions.

- Create Alias: https://github.com/aws/aws-sdk-go/blob/master/service/lambda/api.go#L59
- Publish Version: https://github.com/aws/aws-sdk-go/blob/master/service/lambda/api.go#L662

I'll try to squeeze in some time to start working on it, but as the terraform acc. test quality is quite high - kud

[2015-12-01 09:00] boernd opened #4124 "Error deleting OpenStack security group"
My main.tf consists of several modules, snippet:
[code]

The security module creates a secgroup and a keypair:
[code]

When trying to delete the environment for the first time I always get the following error:
[code]

Rerunning the command a second time works.

[2015-12-01 09:10] mo-mughrabi opened #4125 "Provisioner "remote-exec" does not always work on GCE"
Hello,

I have quite simple resource creation on GCE; which works fine 50% of the times, and mostly it fails due to `remote-exec`

[code]

As you can see, I basically only update apt-get and then install `salt-minion` to take over. But this step, works only 50% of the times and usually it fails with this error

[code]

Am suspecting that apt-get update gets locked on boot up, but not sure how othe

[2015-12-01 09:12] boernd commented on #4124
Hi, just found a workaround. Making a secgroup name output in the security module and using it as the input for the instance module solves the issue.

[2015-12-01 09:12] #4124 closed

[2015-12-01 09:16] mo-mughrabi commented on #4125
I feel this problem can be resolved by simply increasing the delay time between resource creation and `remote-exec`, any suggestions on how todo that?

[2015-12-01 09:19] dannietjoh commented on #1497
+1

[2015-12-01 09:22] paprins commented on #1497
+1

[2015-12-01 10:08] bscott commented on #2661
+1

[2015-12-01 12:53] antonbabenko commented on #4082
Just saying. I had same issue on 0.6.7, and have just verified that the problem is fixed on master `Terraform v0.6.8-dev (e80ad0266edc7bb0e480f3939ff4801aed7448d1)`.

[2015-12-01 12:55] arthurschreiber commented on #3819
From the documentation at https://terraform.io/docs/configuration/interpolation.html

Changing `instance = "${aws_instance.web[0].id}"` to `instance = "${aws_instance.web.0.id}"` should do the trick.

[2015-12-01 12:59] antonbabenko commented on #4043
I think such bug is rather critical and would be great if new version of Terraform is released (at least it should contain just this fix, if possible). Kind of, version 0.6.7.1 :)

[2015-12-01 13:08] dwradcliffe commented on #3076
@radeksimko @catsby Any ideas here?

[2015-12-01 13:18] jen20 commented on #4125
I'm not familiar with Google Cloud in enough detail to know whether this is the case, but I suspect some process such as CloudInit runs on boot, and this is updating OS packages at the time your provisioner runs. On a Debian based Linux you might be able to get around this by queuing your installations using `aptdcon`, though I've not confirmed exactly what this would look like. Alternatively you

[2015-12-01 13:22] stack72 commented on #4120
@AlexeyRaga I cannot see, within the UI, a way to hook an S3 bucket up to an SNS Topic

<img width="684" alt="screen shot 2015-12-01 at 13 21 53" src="https://cloud.githubusercontent.com/assets/227823/11501746/904b91e4-982e-11e5-9100-0bab73c4669e.png">

Got any more info on how to do this?

[2015-12-01 13:26] henning commented on #4085
odd enough, here it's right: https://www.terraform.io/docs/providers/template/r/file.html

Maybe this is not yet changed in master?

[2015-12-01 13:27] xsmaster commented on #4085
I thought I saw that the master was updated. I could be wrong.

On Tuesday, December 1, 2015, Henning Sprang <notifications@github.com>
wrote:

[2015-12-01 13:27] henning commented on #4085
Sorry, checked it only after asking - master is right! https://github.com/hashicorp/terraform/blob/master/website/source/docs/providers/template/index.html.markdown

[2015-12-01 13:28] stack72 commented on #4085
@xsmaster  so I think that this can be closed then?

[2015-12-01 13:28] xsmaster commented on #4085
No worries

On Tuesday, December 1, 2015, Henning Sprang <notifications@github.com>
wrote:

[2015-12-01 13:28] henning commented on #4085
But 0.6.7 release branch is stil wrong https://github.com/hashicorp/terraform/blob/release/v0.6.7/website/source/docs/providers/template/index.html.markdown

[2015-12-01 13:29] xsmaster commented on #4085
Sure! Thanks for your help

On Tuesday, December 1, 2015, Paul Stack <notifications@github.com> wrote:

[2015-12-01 13:41] jen20 commented on #3897
#4093 has now been merged, so I'll go ahead and close this issue. It will be in the 0.6.8 release of Terraform. Thanks for bringing this up @nick-nz, and implementing it @vancluever!

[2015-12-01 13:41] #3897 closed

[2015-12-01 14:23] kc11381 commented on #4086
Hi Chris,

Can you please look at: https://github.com/vmware/govmomi/issues/389
Thank you.

[2015-12-01 14:27] dannietjoh commented on #1819
+1

[2015-12-01 14:46] landro commented on #4043
so removed trailing # and set credentials using AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_DEFAULT_REGION - and everything started working both in master and 0.6.6
Setting aws credential using variables, still hangs

[2015-12-01 15:01] johannesboyne commented on #4123
This is the first time I'm contributing to terraform and thus I'm not 100% sure whether everything is done best.
In commit https://github.com/johannesboyne/terraform/commit/0fe06259d7de7dad672a52dd8c935fb1ed4875e5  the lambda function alias support is implemented and I'll continue with function versions later. Just, if somebody would likes to comment on my attempt, please feel free to do so!
When

[2015-12-01 15:20] pawelsawicz commented on #4077
Hey,

I am looking at it, will try to implement this, as I am new in Go it can take a while.

[2015-12-01 16:10] phinze commented on #4043
@antonbabenko agreed! We're cutting a release today. :)

[2015-12-01 16:11] phinze commented on #4043
@landro and @mlehner - can either of you share with us some repro config / steps on the "AWS credentials with variables" hang? I've so far been unable to reproduce based on your description of your setup.

[2015-12-01 16:21] landro commented on #4043
I'll try to reproduce in a simple repo later today, @phinze

[2015-12-01 17:11] WraithM commented on #2661
+1

[2015-12-01 17:13] phinze commented on #4043
Thanks @landro!

[2015-12-01 17:13] #4079 closed

[2015-12-01 17:17] apparentlymart commented on #3538
@vancluever there is actually already a separate issue #1964 for that sort of thing, BTW.

[2015-12-01 17:28] afritzler opened #4129 "Question: Configurable timeout for terraform apply on OpenStack"
Hi,

is there a way to specify a timeout when running terraform apply against the OpenStack provider (or any other providers)?

Regards,
Andreas

[2015-12-01 17:43] johnrengelman commented on #3551
That's only a default maximum. I believe AWS can increase that limit at your request.

[2015-12-01 17:57] vancluever commented on #3538
Thanks @apparentlymart! I'll check it out.

[2015-12-01 18:09] jtopjian commented on #4129
Almost all OpenStack resources have a timeout, though the timeout is set pretty high. It's not configurable, at the moment, either. AFAIK, this is how other resources in other providers are configured, too.

Are you running into a resource that does not have a timeout yet? Or are you running into a situation where the timeout should be customizable?

[2015-12-01 18:15] apparentlymart commented on #3838
@vasiliyb `terraform_remote_state` is a read-only thing, which is intended to allow you to obtain the outputs produced from a *different* Terraform config. So in my example, the "Global" config at the top has its state set up using `terraform remote config` like you said, with the result getting written to S3. The configurations on the second rank -- for example, "PROD us-west-1" -- then use the `

[2015-12-01 18:18] apparentlymart commented on #1586
Given the comment from @phinze above I'm going to close this and let #2789 represent a slightly-wonky take on the "packer using graphs" idea.

[2015-12-01 18:18] #1586 closed

[2015-12-01 18:18] #4069 closed

[2015-12-01 18:19] vancluever commented on #1964
I was looking at the code yesterday to see what the effort would be to get it in as a config section on the level of atlas, providers, variables etc.

I would imagine efforts would have to be focused around getting:

 * Adding remote state config support in `config/config.go` and other related files
 * Running remote state config sometime after variable read-in to allow for interpolation
 * Ensuri

[2015-12-01 18:29] lwander commented on #4125
I think a fairly common approach is to add a `sleep 30` command before you run `apt-get`.

[2015-12-01 19:19] negronjl commented on #2979
Is there anything else I should be doing for this to go through ?

[2015-12-01 19:33] jwieringa commented on #2625
I'm also exeperiencing this issue with a certificate signed by DigiCert. Upon each `plan/apply`, the certificate body is considered changed by Terraform. I believe the issue has something to do with the file encoding. For example:

[code]

Shows that at the end of each line on the DigiCert signed certificate there is a `^M$`, whereas a self signed certificate has a `$`. The following, where on a M

[2015-12-01 19:47] chrislovecnm commented on #4104
The 'VSPHERE_CLUSTER' environment variable or 'cluster' terraform variable should do the trick. I need to verify, but I am on my phone right now.

[2015-12-01 19:49] chrislovecnm commented on #4104
@kc11381 help with updating documentation is always appreciated. Having a new users perspective on the documentation is invaluable.

[2015-12-01 20:00] chrislovecnm commented on #4112
@jen20 who is more familiar with chef?
@ryan-ee long shot but can you try master? Also is the IP address correct in the logs?

Chef is attempting to connect and is getting an authentication error from the ssh login.

[2015-12-01 20:03] chrislovecnm commented on #4111
@ryan-ee can you test master? What do the customization logs in the VM say? How about the events on the VM? I am guessing that VM customization is failing, and vmtools and deploypkg have caused me fits in the past.

[2015-12-01 20:14] rposborne commented on #2661
+1

[2015-12-01 20:30] cordoval opened #4131 "ran into EntityAlreadyExists for iam profiles"
Is this a duplicate? couldn't find a solution yet for this
[code]

[2015-12-01 20:42] EvanKrall commented on #1817
What was the issue?

[2015-12-01 21:07] majormoses commented on #4105
I believe I am doing the same thing you are (please correct me if I am wrong) in the userdata you are passing a bash script to be executed which changes the route table for the private subnet to point to its eni which it is in a public subnet with an internet gateway.

I could be wrong here but TF only knows about changes to the userdata itself not the result of the userdata run. I would not expec

[2015-12-01 21:42] phinze opened #4133 "Terraform 0.6.8 Release Process"
Heads up to @hashicorp/terraform-committers that I'm beginning the build/release process for Terraform 0.6.8 - please hold off on merging anything until the release comes out. I'll close this issue at that point so you get a follow up notification.

[2015-12-01 21:46] landro commented on #4043
Managed to reproduce issue with a dead simple tf-file
https://github.com/landro/terraform_aws_bug

HTH in tracking down the cause of this issue, @phinze

[2015-12-01 22:11] yawn commented on #4092
:+1:

[2015-12-01 23:01] phoolish commented on #2625
@jwieringa that was the problem for me as well.  nice find!

[2015-12-01 23:02] phinze commented on #4043
This is _super_ helpful, @landro. Will dig into this tomorrow.

[2015-12-01 23:12] coreyperkins commented on #953
+1

[2015-12-01 23:38] jen20 commented on #4131
Hi @cordoval. Thanks for reporting this! Can you confirm that you don't already have an instance profile named `my_profile` in your account?

[2015-12-01 23:40] cordoval commented on #4131
yeah i don't, i have been troubleshooting, someone on irc told me to use aws to remove things and stuff, i think i got to the point where i am almost running the example. Would be nice if you guys hang out more on irc. :+1:  thanks though

[2015-12-01 23:57] mtougeron opened #4134 "[feature request] [terraform-provider-tls] Add public key to resource output"
It would be nice if the `tls_private_key` provider also allowed you to get the public key associated with the newly created private key.

[2015-12-01 23:59] mtougeron commented on #4121
This would also be useful to us so we could automatically remove the node & client from Chef server when the instance is destroyed by Terraform.

[2015-12-02 00:09] afritzler commented on #4129
Since I'm trying to create/delete pretty big instances on OpenStack, I am sometimes running into timeout situations. So I was wondering if there is a way to overwrite the default settings. Btw. what are the default timeouts for creating/deleting instances?

[2015-12-02 00:10] yissachar opened #4135 "Switching ECS service cluster while removing previous cluster results in exception"
In my Terraform file I defined an ECS cluster. I also defined an ECS service linked to that cluster. I applied the changes, and the cluster and service were created. For various reasons, at that point I decided against using my own cluster and decided to use the default ECS cluster. So I removed my cluster definition, and also removed the link from my ECS service. Trying to apply these changes res

[2015-12-02 01:00] kovyrin opened #4136 "Terraform 0.6.7 crash while planning after a terraforming merge"
Hey guys,

I've been working on importing our existing aws infrastructure into terraform and at the moment I'm trying to pull in route table associations. After using terraforming to pull that info down and do the merge into tfstate I ran `terraform plan` and got terraform to crash. Here is the log: https://gist.githubusercontent.com/kovyrin/f5512c1facddb43e6d15/raw/0e7df2f7d05651df3b2d7252969785f

[2015-12-02 01:23] kovyrin commented on #4136
Ok, this seems to be an issue with terraforming, they produce associations with a null subnet_id. I'm going to take it up with them.

[2015-12-02 01:23] #4136 closed

[2015-12-02 01:38] analogrithems commented on #3069
This is an issue for me as well.  We use chef to create various tags on ec2 instances.  These are things like env, apps and version chef installs etc.  terraform should not adjust tags it didn't create.

[2015-12-02 01:47] jtopjian commented on #4129
Instance creation and deletion are set to 10 minutes. If the state does not change to `ACTIVE` within 10 minutes, Terraform will error / timeout.

Would you say the instances you're creating are taking longer than that? If not, you might be running into a different issue.

[2015-12-02 02:22] h-imaoka opened #4137 "Cannot apply AWS_VPC_ENDPOINT route_table_ids"
[code]
[code]

[code]
I had created VPC_ENDPOINT, but could not modify `route_table_ids` .

Version: Terraform v0.6.7

[2015-12-02 04:52] jtopjian commented on #4110
Sorry for the delay with this. In order for this error to occur, the volume must already be in a state of `deleting` at the time the Delete request happened, which is odd.

Do you have an example Terraform configuration that can reproduce this? Is there another way that can trigger or reproduce this situation?

[2015-12-02 08:36] kc11381 commented on #4104
Hi Chris,

To me VSPHERE_CLUSTER means a ComputeCluster and not a specific esxi host.
I will submit my code here once I am done with my changes.
Thank you.

[2015-12-02 08:37] kc11381 commented on #4086
Hi Chris,
I have iterated over all the vm's to get the count of cCPU.
I will submit my code here once I am done with my changes.
Thank you for very much for looking here.

[2015-12-02 08:37] #4086 closed

[2015-12-02 09:30] glerchundi commented on #1178
+1 bitten by the same

[2015-12-02 11:02] dverbeek84 commented on #3869
I have the same issue. Only on initial run and destroy.

[2015-12-02 11:38] #3638 closed

[2015-12-02 11:41] zonzamas commented on #1663
:+1:  to this enhancement!!

[2015-12-02 11:42] hd-deman commented on #591
@mitchellh ping

[2015-12-02 12:07] gmorpheme commented on #3980
I'm having the same issue - have tried with both booleans and strings with no luck.

[2015-12-02 12:42] mo-mughrabi commented on #4125
Thanks @lwander that solved it for me; I did `sleep 30` and all resources are installing properly :+1:

[2015-12-02 12:43] stack72 commented on #4125
@mo-mughrabi can this issue be closed then?

[2015-12-02 12:57] mo-mughrabi commented on #4125
yup definitely

[2015-12-02 12:57] #4125 closed

[2015-12-02 13:02] stack72 commented on #4125
nice one :)

[2015-12-02 13:26] johannesboyne commented on #4123
I would like to get some feedback on the usage of versions. I cam up with the following:
[code]

A version would be pushed with the function creation / update and one could later access it e.g. in an API Gateway configuration. **BUT** and this _but_ bothers me quite a bit: would anyone actually use it programmatically like this? The only _"reasonable"_ use-case is rolling back to a version because

[2015-12-02 15:42] ryanl-ee commented on #4112
The IP address is correct. I tried building master again and am getting the same error for `make test` in the Vagrant box :)

[code]

`make release` gives me `make: *** [release] Error 1`.

[2015-12-02 15:58] phinze commented on #2381
Coming back around to this, Terraform's behavior here is as I described it in the last comment. Effectively this _is_ Terraform destroying the timed out / failed ASG, it just does so on the subsequent run. Feel free to follow up if you have further questions on this. :+1:

[2015-12-02 15:58] #2381 closed

[2015-12-02 16:03] phinze commented on #4133
Release complete! :confetti_ball:

[2015-12-02 16:03] #4133 closed

[2015-12-02 16:27] ptierno commented on #3732
:+1:  on this. Good thing i didn't run an apply.

[2015-12-02 16:30] jen20 commented on #4123
Hi @johannesboyne! Thanks for opening up an issue, that's definitely the best route to starting to contribute to Terraform. I had a look through your code, and with the exception of the things you commented on yourself, it looks like a pretty good start to me. If you'd like to open it as a pull request and mention this issue number, we can review it properly!

Although the need for setting up alia

[2015-12-02 16:39] catsby commented on #2579
Hello –

There's a known limitation of `create_before_destroy`, in which all resources that it depends on must also use `create_before_destroy`.

Since this issue was opened, we've removed the `name` requirement on Security Groups, and Terraform will now auto generate a unique one if `name` is omitted. Unfortunately we forgot to document that :frowning:

I've fixed the docs in #4139 and will ship

[2015-12-02 16:39] #2579 closed

[2015-12-02 16:52] johannesboyne commented on #4123
Hi @jen20 great, I'll do that.

My main reason for aliases has been the combination with _api gateway_.

[2015-12-02 17:28] catsby commented on #2223
Hello – Sorry for the silence here. I believe this has been fixed along the way, I tried to reproduce with this confifguation:

[code]

Flipping `engine_version    = "9.4.1"` to `9.4.4` worked as expected. After the database rebooted, `terraform plan` reported no changes. Note that in the interim time, it shows a continuous plan/diff because the update hasn't taken affect yet.

Thanks!

[2015-12-02 17:28] #2223 closed

[2015-12-02 17:43] jwieringa commented on #3888
I am also having this issue and my configs which are similar to @jen20's do work. For myself. I've been able to reproduce the issue by passing in values via interpolation in a module.

Assuming a module which looks like:

[code]

This works:

[code]

This does not work:

[code]

With the error message:

[code]

Version:

[code]

[2015-12-02 17:44] mijit commented on #4111
I'm having the same issue as @ryanl-ee. VM is created, powers up, has a NIC on the specified VLAN, but network adapter is disconnected. This happens with 0.6.7 as well as 0.6.8-dev as of yesterday afternoon. My main.tf follows the same basic format, specifying the network interface label and omitting the IP address. My Ubuntu template is configured for DHCP; as soon as I edit the VM manually in vS

[2015-12-02 17:44] davehodgson opened #4141 "[feature request] Provisioner local-exec - allow to not wait for completion of command"
Hi,

I'm trying to work around a requirement I have which generated: https://github.com/hashicorp/terraform/issues/4116

Essentially I am using a provisioner on the azure_virtual_network resource to call out to a batch file which runs some powershell scripts to create virtual network gateway and uploads a vpn cert to it, they work fine but it takes ages. Azure takes a very long time to create the

[2015-12-02 18:29] nrcxcia commented on #3732
I ran into this issue as well... +1

[2015-12-02 18:40] davehodgson commented on #4141
I came up with another way to workaround this - in the terraform provisioner I call the batch script. From the batch script I call powershell with the start command so that the batch script opens powershell then closes, the closure seems to make terraform think everything is finished and it carries on (I think).

The command from the bat file is below

START PowerShell -File "..\scriptname.ps1" <p

[2015-12-02 18:50] phinze commented on #3370
Revisiting this, I believe that it's a better solution to just refactor to use a variable. That's a more correct expression of the reference.

Feel free to follow up if you disagree and we can continue to discuss. :+1:

[2015-12-02 18:50] #3370 closed

[2015-12-02 19:07] mijit commented on #4111
Note: my VM template is a powered down Ubuntu image with DHCP enabled and 1 network interface with "Power on at connect" checked. Works with right-click deploy or convert from template. Open-vm-tools is installed.

Does this vSphere provider require 0 or 1 interfaces on the template? mkuzmin's was working for me. I know different third-party providers did this differently, but I don't know which o

[2015-12-02 19:20] chrislovecnm commented on #4112
@ryanl-ee that is the main build not happy ... welcome :)  Do you know how to run the vsphere acceptance tests?

[2015-12-02 19:24] chrislovecnm commented on #4104
@kc11381 I understand what you are saying, and feel free to submit a bug and a pr ... the 'cluster' option in your tf file will work with the ip address, and I have not tried dns.

[2015-12-02 19:24] chrislovecnm commented on #4104
@catsby this is a question not a bug btw ...

[2015-12-02 19:27] alex opened #4142 "Better error message when VPC can't be created due to permissions"
[code]

The `aws_launch_configuration.ecs` error message is great, the `aws_vpc.main` is less great, if it mentioned the missing permission, that would be huge.

[2015-12-02 19:29] chrislovecnm commented on #4111
Here are some instructions that I wrote for another project on how I built the image.  Centos:

Create a template for the microservices cluster virtual machines. You will able to change CPU and RAM parameters while provisioning a virtual machine from template with Terraform. It's recommended to disable SELinux. Create user and add public RSA keys for SSH into the $HOME/.ssh/authorized_keys.
It is

[2015-12-02 19:32] chrislovecnm commented on #4111
Guys .. please work off of master :)

Already asked:

What does the events on the vm say?
What does the customization logs say on the vm?

Also APPRECIATE you breaking it.  Through this we will make the code better!!!!

[2015-12-02 19:34] rbowlby commented on #2625
Great work @jwieringa, I'll remove the character. Hopefully that makes the bugfix super easy too.

[2015-12-02 19:39] chrislovecnm commented on #3966
@apparentlymart can you change this to a feature request?  It is functioning as designed...

[2015-12-02 20:04] #3522 closed

[2015-12-02 20:09] davehodgson opened #4143 "[crash-log] Azure - if instance stopped results in an error with plan or refresh"
The attached file was generate while running terraform apply, the only change I intentionally made was to remove one .tf file from the directory which had two resources in it (a hosted service and an instance) to get terraform to delete it. I had done this probably 10 times before in the past couple of hours with no issue.

The line below is the only suspect one that I noticed in the crash log but

[2015-12-02 20:14] davehodgson commented on #4143
After some more digging, I had accidentally stopped one of the VMs in the Azure Portal: azure_instance.ir-Client-VM1

It goes to status stopped(deallocated)

I started it again and manually deleted the "azure_hosted_service" "ir-Int-VM1" cloud service which must have created before failing to create the vm on a previous run.

Terraform refresh and plan now work as expected.

So it looks like perha

[2015-12-02 20:18] jen20 commented on #4143
The relevant part of the crash log is here:

[code]

[2015-12-02 20:32] jen20 commented on #4142
Hi @alex! Thanks for opening the issue. Unfortunately we're somewhat beholden to the error messages returned by the AWS API itself, which are better or worse depending on the service in question. Currently we don't have any plans to go through and re-write them, as this would be a huge undertaking. I'll close this issue for now as a "can't fix", but if we decide to come back to it at some point in

[2015-12-02 20:32] #4142 closed

[2015-12-02 20:43] jen20 commented on #4141
Hi @davehodgson! I'm interested in ways we could resolve this that don't involve adding things to the core of Terraform or to the provisioners. Probably in this case the best solution is to add a resource for `azure_virtual_network_gateway`, and then rely on the parallel resource creation (up to 10 at once by default I believe) to stop blocking.

There is lots of work going on to convert the Azure

[2015-12-02 20:44] scalp42 commented on #2579
@catsby any chance to see a name_prefix for the SGs as well?

[2015-12-02 20:56] phinze commented on #4085
This should be fixed with the v0.6.8 website deploy from today. :+1:

[2015-12-02 20:56] #4085 closed

[2015-12-02 20:57] phinze commented on #4082
Should be fixed w/ the v0.6.8 release! :tada:

[2015-12-02 20:57] #4082 closed

[2015-12-02 20:57] pandrew commented on #3966
@chrislovecnm What do i need to do to make it boot in the first place? There´s no logic for to handle both powered on and off states when destroying the plan.

[2015-12-02 21:05] jpancoast-kenzan commented on #1497
+1

[2015-12-02 21:10] alex commented on #4142
Welp. That's sort of what I was afraid of. Thanks for taking a look.
On Dec 2, 2015 3:32 PM, "James Nugent" <notifications@github.com> wrote:

[2015-12-02 21:17] mmell commented on #2564
I see this error now. I hit CTRL-C in the middle of an apply and then started `apply` again. In the AWS UI I saw two instance being created. I terminated the older one. The second `apply` completed successfully. Now, on a third `apply` I see

    * aws_instance.cluster_member: Error waiting for instance (i-e088de24) to become ready: unexpected state 'terminated', wanted target 'running'

I resolve

[2015-12-02 21:19] mtougeron commented on #3865
Looks like this is fixed by #3761

[2015-12-02 21:19] #3865 closed

[2015-12-02 21:23] catsby commented on #2298
Hey there @jc-asdf – sorry for the silence here. I've patched this behavior in #4146

[2015-12-02 21:26] #2298 closed

[2015-12-02 21:27] phinze commented on #4043
Hello again, unfortunately I'm not having any luck reproducing this using your example quite yet.

I can plan, apply, refresh, and destroy using v0.6.8. I also tried v0.6.6 and v0.6.7 and was unable to reproduce any hang.

The r53 APIs are quite slow - often taking minutes to complete creation, but I've gotten no hangs.

My prereqs config executed separately to get a valid zone ID:

[code]

The re

[2015-12-02 21:48] baskaran-md commented on #4057
As far as I tested, these tags will be applied only on the spot requests, and not the actual instances created by these spot requests.

Probably, terraform needs to apply the same tags to those instances launched by spot requests.

[2015-12-02 21:50] catsby commented on #2423
Hey @partamonov – I'm going to close this as a duplicate of #1887 and/or #1579 . The need to manage stop or other state like this noted there. Thanks!

[2015-12-02 21:50] #2423 closed

[2015-12-02 21:51] baskaran-md commented on #4057
Duplicate of Issue #3263

[2015-12-02 21:54] s1lv3r40 commented on #2661
+1

[2015-12-02 21:56] baskaran-md commented on #3969
@stack72 I think you are right. After the expiration time, the next terraform plan / apply should show these as addition of new nodes.

[2015-12-02 21:57] catsby commented on #2400
Hey friends – sorry for the silence here.
I'm closing this as "fixed/can't reproduce". I used this config and toggled the `zone_id` and records were added/removed as I expected:

[code]

Thanks!

[2015-12-02 21:57] #2400 closed

[2015-12-02 21:57] davehodgson commented on #4141
Hi @jen20

The above sounds fine, I have a way around it now anyway by doing something similar to you what you suggested, I just added the provisioner to different resource that I know has to wait for various bits and pieces to build, it is always the last one to build so it now kicks off my powershell script.

I agree, the best solution to my specific issue  #4116 would be to have the azure_netwo

[2015-12-02 22:14] catsby commented on #2662
Fixed in #4147 , thanks!

[2015-12-02 22:14] #2662 closed

[2015-12-02 22:17] xsmaster commented on #4085
Woot!!!! Thanks!

On Wednesday, December 2, 2015, Paul Hinze <notifications@github.com> wrote:

[2015-12-02 22:18] xsmaster commented on #4082
Win!!!

On Wednesday, December 2, 2015, Paul Hinze <notifications@github.com> wrote:

[2015-12-02 22:23] catsby commented on #2859
Hey all – seems this was fixed in https://github.com/hashicorp/terraform/pull/596 , but that also came in 2014, so...

Regardless, the given config applies correctly when using `zone_id = "${aws_route53_zone.base.zone_id}"` , so I'm going to close this.

Let me know if something is still amiss. Thanks!

[2015-12-02 22:23] #2859 closed

[2015-12-02 22:27] sean-brandt commented on #3263
Definitely an issue, also in 0.6.8. Need a way to apply those tags to the new instance, or allow for an aws_instance_tag resource that will allow arbitrary tags to be set on ec2 instances.

[2015-12-02 22:37] apparentlymart commented on #4134
Hmm yeah this is a good idea. Honestly I'm not sure why I didn't just implement that the first time since the code is already using a hash of the public key as the internal resource id, so it's already doing [all of the work to obtain it](https://github.com/hashicorp/terraform/blob/f6fd41e7b54b38176090557c4a13e18c86e46fbe/builtin/providers/tls/resource_private_key.go#L115).

I'm a bit snowed under

[2015-12-02 22:40] catsby commented on #2876
Hey friends – sorry for the silence here: I've tried this config and had no issues, so I'm going to close this as "fixed". Let me know if you're still having issues.

[code]

[2015-12-02 22:40] #2876 closed

[2015-12-02 22:44] cordoval commented on #4131
the way i have been doing this is just ```terraform destroy``` or just changing the profile name so that next time it just creates a new one. I think aws does not charge if we leave profiles sitting around.

[2015-12-02 22:57] catsby commented on #2740
Hey all – I believe this issue has been resolved with `aws_volume_attachment`. Mounting needs to be done in the `user_data` section as mentioned. Thanks!

[2015-12-02 22:57] #2740 closed

[2015-12-02 22:58] phinze commented on #1736
Going over some old issues here.

These can be referenced as attributes on the vpc:

[code]

[2015-12-02 22:58] #1736 closed

[2015-12-02 22:59] dansteen commented on #2859
I have tested this and it seems to work fine now.  Thanks!

[2015-12-02 23:02] clstokes commented on #3566
I think this issue is broader than just security groups but is specific to `ignore_changes`.

Here's an aws instance example that fails with the same `diffs didn't match during apply` error on an initial `apply`. Fails with 0.6.7 and 0.6.8:
[code]

[2015-12-02 23:04] clstokes commented on #3566
Most likely related:
- https://github.com/hashicorp/terraform/issues/3738
- https://github.com/hashicorp/terraform/issues/4045

Maybe related:
- https://github.com/hashicorp/terraform/issues/3555
- https://github.com/hashicorp/terraform/issues/3739
- https://github.com/hashicorp/terraform/issues/4045

[2015-12-02 23:11] scalp42 commented on #3566
I'm running into the same issues with autoscaling groups.

If we try to ignore `desired_capacity` for example, then we run into that same diff error, so we've been holding off using the flag unfortunately.

[2015-12-02 23:16] caarlos0 commented on #3263
Agreed!

[2015-12-02 23:16] catsby commented on #2699
Hey all – sorry for the silence here. I tried reproducing this the following config, but was unable to. If you're still hitting his, let me know. Thanks!

[code]

[2015-12-02 23:16] #2699 closed

[2015-12-02 23:17] catsby commented on #3161
Closing after no reply. If you have a configuration or more details, please let us know!

[2015-12-02 23:17] #3161 closed

[2015-12-02 23:46] apparentlymart commented on #4084
Intermediate variables have been a desire of mine too.

In one particularly tricky spot (using the CIDR functions for network planning) I worked around this by creating a module whose entire purpose is to pass through a value verbatim:

[code]

which I then instantiated for each "intermediate variable" I needed:

[code]

It's clunky, not least because `terraform get` then wants to create a separat

[2015-12-02 23:54] apparentlymart opened #4149 "Partial/Progressive Configuration Changes"
For a while now I've been wringing my hands over the issue of using computed resource properties in parts of the Terraform config that are needed during the refresh and apply phases, where the values are likely to not be known yet.

The two primary situations that I and others have run into are:
- Interpolating into provider configuration blocks, as I described in #2976. This is allowed by Terrafo

[2015-12-02 23:57] apparentlymart commented on #4149
@phinze this proposal brings together several discussions we've had elsewhere and provides a new take on the "static vs. dynamic" problem that seems to be a common theme in Terraform supporting more complex use-cases.

I'd love to work on something in this vein early next year if you guys think this is a reasonable direction to take, but given the work involved I'd love to hear your thoughts befor

[2015-12-02 23:57] #1567 closed

[2015-12-02 23:59] phinze commented on #1650
Reviewing some old issues. This is still valid. The `terraform graph` code needs some love. I have a few branches floating around with spikes of ideas. Will circle back around to this at some point. :+1:

[2015-12-03 00:00] phinze commented on #1649
I believe this is still and issue, and I believe it's the same issue that affects atlas_artifacts. I'm going to dig into this soon. Adding the `core` label as I think it has to do with TypeMap computed variable references generally.

[2015-12-03 01:02] phinze commented on #925
True. I see your point there and I agree.

Hmm this is a _very_ good point. I'll have to think a bit more about this. I think we should do everything we can to steer architectures in the direction of loosely coupled modules.

Same here. I often find myself using `"mod"` as a shorthand for "module local" in smaller modules.

Going to do some more thinking on this.

[2015-12-03 01:44] IanVS commented on #2661
I'm pretty sure that additional +1 comments at this point won't help, and that it would be more useful if someone took a crack at making a PR.  I'm a bit weary of seeing these in my inbox, and I imagine the maintainers must feel the same way.

[2015-12-03 01:49] michaelandersen commented on #2661
I agree. Let's confirm no one actively working on it. Otherwise I'd be
willing to take crack at it
On Dec 3, 2015 2:44 AM, "Ian VanSchooten" <notifications@github.com> wrote:

[2015-12-03 02:23] mijit commented on #4111
I tested the 0.6.7 release via two different binary distributions (Mac Homebrew and direct Hashicorp download.) I tested 0.6.8 off master. Not sure what would suggest otherwise - as I understand it, "make dev" applies the "-dev" tag even when building with master, but correct me if I'm wrong. VM events showed nothing beyond a successful deployment, but the network was not connected at power on as

[2015-12-03 03:10] skevy commented on #2851
@aznashwan It seems like it IS possible to do user data with the current SDK:

https://github.com/Azure/azure-sdk-for-go/blob/1a29bf058b780f6a05fc67111efae7930c4a1621/management/virtualmachine/entities.go#L349

I know you guys are moving to ARM from ASM, but this would be a relatively easy fix if we do something a bit custom here: https://github.com/Azure/azure-sdk-for-go/blob/1a29bf058b780f6a05fc

[2015-12-03 03:39] jtopjian commented on #1715
I agree with @ggiamarchi here: a 500 means that something bad happened. If this was a matter of timing, you'd see a non-500 error code (I apologize, but it's escaping me at the moment).

I recommend trying the latest master (Or waiting until 0.6.9 is released) as there was a patch (#3926) added to assist with timing issues. If you're still seeing the 500 errors, I'm not sure what the best approach

[2015-12-03 03:50] ketzacoatl commented on #4149
I could see this being very helpful, and a nice way to simplify situations where we are sometimes otherwise a bit stuck with one or another limitation.

[2015-12-03 04:08] jtopjian commented on #4090
@phinze I've figure out the fix for this, but I don't understand why  :smile:

This issue only happens when the `block_device.uuid` attribute is set to a variable / exported value. In that situation, the following error is seen:

[code]

I'm able to fix this by creating a "proper" set function like this:

[code]

Rather than the one I stole from `resource_aws_instance.go`:

[code]

Why doesn't the

[2015-12-03 04:10] jtopjian commented on #4110
Coincidentally enough, I discovered how to create this issue by working on #4090. I have a fix for this, and since the fix is part of the fix for #4090, I'll create a single PR to resolve both that issue and this.

[2015-12-03 04:30] jtopjian commented on #4090
Just had a thought: I think `block_device` might need ot be a `TypeList` instead of a `TypeSet`. I was reviewing the API output I pasted in #4042 and noticed that:

1. The result set is an array
2. The last two elements are identical, so it'd be impossible to create a unique hash

I quickly rewrite `block_device` to be of `TypeList` and all seems well on first pass.

Thoughts?

[2015-12-03 07:51] elyast commented on #2625
I still observe this issue (terraform 0.6.7) even tough I don't have `^M' character, in my case hashes are calculated during apply but stored in state file with totally different ones (I'm using S3 backend for state)

this may be related also to https://github.com/hashicorp/terraform/issues/3837

[2015-12-03 09:04] Seraf commented on #2359
Hello,

I'm stuck with the same problem, it makes no sense to destroy the subnet which is common to other resources just for an autoscaling group. I subscribe to this issue to follow how it evolves.

[2015-12-03 09:45] Fodoj commented on #3885
Any update on this bug?

[2015-12-03 11:22] mcapuccini commented on #2817
Hello everyone. My OpenStack provider has both Cinder v1.0 and v2.0 API, but since v2.0 is default Terraform tries to hook it. How can I set up terraform to use v1.0 instead?

[2015-12-03 11:46] discordianfish commented on #2896
@mwitkow Even if it would be possible to create a new, then delete the old instance you still need to make sure the cluster is in sync before terminating the old instance and proceed with the next one.
On AWS, all this is supported ([blogged about it](https://5pi.de/2015/04/27/cloudformation-driven-consul-in-autoscalinggroup/)), but I wanted to give GCP a spin and now also wondering how to do that

[2015-12-03 11:52] jwadolowski commented on #4043
Hi guys,

I experienced the same for both v0.6.7 and v0.6.8. After a little bit of debugging and network tracing it turned out that the reason it hangs and loops forever is the fact that AWS provider does some background checks and tries to connect {{169.254.169.254:80}} ([source code reference](https://github.com/hashicorp/terraform/blob/9987f36d860b09877fe016986620471646bff851/builtin/providers/

[2015-12-03 11:56] jwadolowski commented on #3317
It seems that's the same case as described here: https://github.com/hashicorp/terraform/issues/4043#issuecomment-161608689

Could you please test how it works when all the traffic to `169.254.0.0/16` is disabled?

[2015-12-03 12:50] james-s-nduka commented on #3999
This would be truly helpful +1

[2015-12-03 13:07] Remz-Jay commented on #2776
Same issue. Trying to do a `protocol = https`  subscription to a topic that auto-confirms the subscription (PagerDuty, see: https://www.pagerduty.com/docs/guides/aws-cloudwatch-integration-guide/ ).

The resource is applied and the subscription shows with ARN in the AWS console (so it's not pending at all), but in the meantime, every subsequent plan/apply fails with:

[code]
This happens in both 0

[2015-12-03 13:37] mseiwald commented on #3108
+1 lifecyle

[2015-12-03 13:57] joeblew99 opened #4151 "question: provisioning to non static IP"
I am using terraform and atlas, but i also now need to use it to provision to boxes out in the field.
These boxes are normal linux boxes, and run docker and lxc or whatever.

It's a bit like IOT style topology, and so the way you interact is the same as a botnet.
The field server polls in occasionally, and you give it instructions what to do next.
In the data center, sou maintain a basic state of

[2015-12-03 14:30] wirescrossed commented on #4043
After upgrading to 0.6.7 it works fine on OS X for me.

[2015-12-03 14:36] jfchevrette commented on #4090
FYI, I'm pretty sure this was working fine not too long ago. Most likely some changes made in the recent versions caused this behaviour.

[2015-12-03 14:37] catsby opened #4152 "Request: add name_prefix to AWS Security Groups"
AWS Security Groups will provide a random, unique name if `name` is omitted. We should allow a `name_prefix` attribute so users can prefix this random name, like we do for [Launch Configurations][1]

[1]: https://github.com/hashicorp/terraform/pull/3802

[2015-12-03 14:52] mtekel opened #4154 "Local and remote state conflict on no changes"
Hi,

I have stumbled upon issue with remote states. We use these for different TF deployments. Whereas usually it works, in one simple case it breaks. Steps to reproduce:

1. `terraform apply -var env=test`
2. `terraform remote config -backend=s3 -backend-config="bucket=test-state" -backend-config="key=bucket.tfstate"`
3. Go to a different system/container and check out terraform files
4. `terrafo

[2015-12-03 15:42] jtopjian commented on #2817
If your provider is providing both v1 and v2, then v1 should "just work". There might be an issue where your provider is advertising the v2 api as if it was the v1 endpoint.

You can see this by running `keystone catalog` which will get a list of services and endpoints that your provider is advertising.

[2015-12-03 15:49] jtopjian commented on #4090
Do you build off of master frequently? The reason I ask is because until #3232 was merged, I'm pretty sure "boot from volume" was completely broke. If you do build off of master, then a patch between #3232 and recently could have affected this.

I'm definitely curious as to the cause (if recently) and why the fix I found fixes the problem. But regardless of those answers, I'm pretty sure I need to

[2015-12-03 16:09] jsmartin commented on #2661
My attempt at taking a crack at it would be re-using (to the extent possible) the code that Packer uses to run unbuffered local commands.  I don't think having native config options is that useful (and you'll constantly be playing catch-up with upstream).

[2015-12-03 16:15] chrislovecnm commented on #3966
@pandrew 'make it boot in the first place' - what do you mean?

[2015-12-03 16:20] wricardo commented on #1497
+1

[2015-12-03 16:21] pandrew commented on #3966
@chrislovecnm in my case the example above does not power on the vm in esxi. I assume terraform would do that after it had created the vm. The only option i found in the docs was a boot_delay option.

[2015-12-03 16:31] mtougeron commented on #4134
@apparentlymart No rush on this one. Learning Go is on my to-do list for Dec so if no one gets to it before me I'll take a crack at it. :)

[2015-12-03 16:34] xied75 commented on #3595
@jen20 Thanks for supporting. I did a try above, yet need some discussion here before I make another try or PR this.

The issue is that in the above change I removed using "label" altogether, only searching on VM image name. I can see the problem immediately with this approach in the sense all current TF files will break. That end user would need to find out the long unique VM image name and updat

[2015-12-03 16:53] catsby commented on #3153
Fixed in #4155 – we were omitting the `storage_type` in the replica creation :scream:

[2015-12-03 16:53] #3153 closed

[2015-12-03 16:58] phinze commented on #3874
Hey folks,

Good discussion here. It does sound like there's enough real world use cases to warrant a feature here.

What about maintaining the current semantics of `prevent_destroy` and adding a new key called something like `skip_destroy` indicating: _any plan that would destroy this resource should be automatically modified to **not** destroy it_.

Would something like this address all the need

[2015-12-03 17:07] chrislovecnm commented on #3966
@pandrew we are calling poweron https://github.com/hashicorp/terraform/blob/master/builtin/providers/vsphere/resource_vsphere_virtual_machine.go#L1138 when you create vm from a template.

Are you meaning to create a vm from a template??  I am not seeing the `template` option in your tf file.  The way you have setup your tf file creates a shell of a vm in order to use PIX or another network install

[2015-12-03 17:16] pandrew commented on #3966
Yes, i was going to boot from pxe but it did not poweron. I tried the same terraform template with 0.6.8 and still nothing happens. And when using destroy i get:

[code]

[2015-12-03 17:47] wstaples commented on #4120
From the S3 console click properties and expend the Events section:

![untitled](https://cloud.githubusercontent.com/assets/3649913/11568744/ec738f06-99bb-11e5-9c46-3a8267a6ea08.png)

You can also use the cli:
`aws s3api get-bucket-notification-configuration --bucket <some_bucket>`

The best way to handle this would probably be to add an event property to the aws_s3_bucket resource and users can p

[2015-12-03 18:19] ketzacoatl commented on #3874
@phinze, that sounds good, yes.. I'd hope that in most cases, TF would be able to let the apply proceed, and let the user flag some resources as being left alone/not destroyed.

[2015-12-03 18:53] chrislovecnm commented on #4111
@mijit the provider on the master branch will handle both existing or no nics on the template. Pull requests have resolved issues with nics, and I am not certain when the pull requests were merged.  I am testing on the master branch on git 'git checkout master'.

What does your tf file look like? Do you have deployPkg installed? DeployPkg should not matter, but I would like to get your ovf like mi

[2015-12-03 18:55] chrislovecnm commented on #3966
That code path does not power on the virtual machine ;) @tkak would need to comment why.

[2015-12-03 18:57] chrislovecnm commented on #3966
It is the 'createVirtualMchine' vs the deploy template method we have...

[2015-12-03 19:08] woodhull commented on #3760
I'm also running into this problem. It's not possible to change a db instance's storage_type from standard magnetic to iops. The error message from AWS says:

[code]

The change to the iops parameter from blank -> to "1000" doesn't seem to get picked up by terraform in either the plan or apply steps, so the change from standard to iops storage fails.

[2015-12-03 19:21] phinze commented on #3243
Going to merge this back down with #2693 - we'll get this looked at soon.

[2015-12-03 19:21] #3243 closed

[2015-12-03 20:23] #4073 closed

[2015-12-03 20:31] erichmond commented on #3874
:+1: to what @ketzacoatl said

[2015-12-03 20:42] antonbabenko commented on #4154
If you don't have local state before fetching remote, then what do you mean by `The local .terraform/terraform.tfstate file is`. Try to change `serial` value in local state file (serial is increasing each time you modify state).

[2015-12-03 21:14] cleung2010 commented on #57
:+1:

[2015-12-03 21:15] fulloflilies commented on #57
+1

[2015-12-03 21:17] phinze commented on #2167
The `replace()` workaround is still the only thing that works today. To be honest I'm not sure what the best solution is here, since the nature of Terraform's model means that the `template_file` is processed before the instance is reached.

Best guess I can come up with given current core architecture would be a combination of an `ignore_unknown_variables` option for template file to allow variab

[2015-12-03 21:32] cleung2010 commented on #1683
@mitchellh can that issue be referenced here? This bug seems to occur as of v0.6.8. I have an existing `aws_instance` resource with 1 security group under `security_groups`, and when I try to add a second one it tells be that the existing `aws_instance` resource will be deleted because the additional security group forces new resource.

[2015-12-03 22:36] phinze commented on #1255
It's become a running HashiCorp joke that given any problem, eventually a graph will find its way somewhere into the solution. :grinning:

Your points are well taken though - will continue to think about this.

[2015-12-03 22:48] phinze commented on #1025
Hi @chin2chavda can you open this as a fresh GitHub issue? We'll take a look and see what's up!

[2015-12-03 22:49] apparentlymart commented on #1255
Just to throw in my two cents: in my world we've reduced user input to a bare minimum by deriving almost everything from data obtained from data-fetching resources like `terraform_remote_state` and `consul_keys`.

I'm personally more interested in fixing the warts surrounding that workflow and de-emphasizing direct configuration, so I agree with what @phinze said earlier about the user inputs bein

[2015-12-03 22:51] scalp42 commented on #1255
The issue is that you don't want to rely on Consul to have Terraform working though (chicken/egg issue).

[2015-12-03 22:57] apparentlymart commented on #1255
Indeed... we use `terraform_remote_state` exclusively for the first bunch of layers until we get to the layer that creates the consul cluster. After that we use a mixture of `consul_keys` and `terraform_remote_state`, depending on whether the configuration also needs to be visible to the nodes at runtime... the nodes can of course only see what's persisted in Consul, not what was in the Terraform

[2015-12-03 23:03] catsby commented on #2693
Hello friends –

Sorry for the late response here. Can you confirm this is still an issue?
We had an update to the provider code that should properly load all the creds from the environment on EC2 (see https://github.com/hashicorp/terraform/commit/9e66e18334afc3e9a4c8d4daf3241416468e58a8#diff-d6065946c2cbff2b5f5d3beadfdfa8a4). I'm wondering if it fixed your issues here, as I'm attempting to reprod

[2015-12-03 23:06] artburkart commented on #2693
@catsby - Would this change be in the latest binary I can install, or will I need to build from source?

[2015-12-03 23:15] catsby commented on #4043
Hey @landro – are you running this on your local machine, or from an EC2 instance?

[2015-12-03 23:16] catsby commented on #2693
Hey @artburkart – the change I referenced is in v0.6.8, the current binary.

[2015-12-03 23:18] artburkart commented on #2693
@catsby - okay good, cuz I only just installed go on my test machine :wink: If that's the case, then it appears to still be there. Allow me to double check.

[2015-12-03 23:24] catsby commented on #2693
@artburkart to confirm, [this][1] is your issue, specifically, correct?

[1]: https://github.com/hashicorp/terraform/issues/3243#issuecomment-153486289

[2015-12-03 23:26] artburkart commented on #2693
@catsby, yes that is my issue. It's identical to that defined by @ckelner [above](https://github.com/hashicorp/terraform/issues/2693#issuecomment-154608703)

[code]

Then I run `terraform plan`

[code]

Then I run
[code]

And bingo!

[2015-12-03 23:44] phinze commented on #3841
Reviewing the thread here along with those linked docs, I think in this case you might be right that the duplicate fields are the best way forward.

Point of clarification here: `Computed`, `Optional` fields will pick up changes made by the user that result in a non-empty value. The key difference is in how they treat attribute _omission_. `Computed` fields treat omission as "whatever the provider

[2015-12-03 23:47] ckelner commented on #2693
@catsby maybe I can help add a little more color, I'm recalling from memory, but if need be I'll be happy to dig in and get real data/examples.

- launch aws ec2 instance (it may require that it has an instance role [iam profile] associated, I was never able to confirm)
- Either export environment variables or assign them just before execution:
  - `export TF_VAR_project_aws_access_key=<your real

[2015-12-03 23:49] phinze commented on #4040
@antonosmond ah yes - that's absolutely what happened! That timeout marked the ASG as tainted, to be cleaned up in subsequent apply.

We definitely need to make this _much_ clearer in both the plan and apply output. I'll spin up a fresh issue to track that work and link it back here.

[2015-12-03 23:59] phinze opened #4156 "Make Tainted destroys show up in plan and applies as such"
We had a heck of a time figuring out what happened over in https://github.com/hashicorp/terraform/issues/4040 because Terraform's current behavior in cleaning up Tainted resources is nearly silent.

It showed up as just a stray destroy in a subsequent apply. We should output tainted resource destroys in plans and notate them in applies.

[2015-12-04 00:00] phinze commented on #4040
Okay, #4156 has the feature, which I'll try to make sure we get in for the next release.

I'm going to close this for now, feel free to follow up if you'd like to discuss anything further! :+1:

[2015-12-04 00:00] #4040 closed

[2015-12-04 00:10] wstaples opened #4157 "aws sns_topic resource policy self referencing issue"
I have an s3 bucket that I would like to subscribe to an SNS topic. However the topics policy needs the topics arn embedded in it. I don't have the arn because the topic has not been created yet. Here is an example:

[code]

If you remove the "resource" line from the policy everything will be created fine however if you try to add an event to the s3 bucket it will tell you S3 does not have permiss

[2015-12-04 00:24] phinze commented on #4068
Yep this would be great to have - let's merge this down with #1199 to keep things tidy.

@vancluever I feel your pain on the AccountID lookup. Elsewhere in the codebase we've just [eaten the caveats of `GetUser`](https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/resource_aws_db_instance.go#L843-L849) and used it.

[2015-12-04 00:24] #4068 closed

[2015-12-04 00:25] phinze commented on #1199
Merged #4068 in here, which adds the request for computed attributes on providers as well, specifically AWS AccountID.

[2015-12-04 00:51] artburkart commented on #2693
I also have an IAM role associated with my instance. But allow me to try it without one.

[2015-12-04 01:03] catsby commented on #2693
Thanks all for the additional info! I have some kind of idea, but probably won't get to it until tomorrow.

[2015-12-04 01:13] artburkart commented on #2693
Okay, here's my steps to repro:

- Start EC2 instance with IAM role
- ssh as ubuntu user
- Install terraform
  1. `curl -L https://releases.hashicorp.com/terraform/0.6.8/terraform_0.6.8_linux_amd64.zip -O`
  1. `unzip terraform/0.6.8/terraform_0.6.8_linux_amd64.zip -d /usr/local/bin`
- Create a `main.tf` file:
[code]
- Create a `variables.tf` file:
[code]
- Create a `terraform.tfvars` file:
[code]

[2015-12-04 01:20] ckelner commented on #2693
Great work @artburkart ! :dancer: Glad we were able to pinpoint that it was the IAM role.

[2015-12-04 03:33] ejholmes commented on #1083
For people that come to this from google, this was implemented in https://github.com/hashicorp/terraform/pull/2636. Nice job @radeksimko!

[2015-12-04 06:54] apparentlymart commented on #2756
I've been thinking more about this as I start to run into cases where I'd want to use rundeck jobs as provisioners.

Specifically I've been considering a architecture shift where the concept of standalone provisioners goes away and *all* provisioners belong to providers, transforming the "provider" concept into containers for sets of functionality that relate to a particular use-case or service.

[2015-12-04 07:01] chadgrant commented on #953
+1 please

[2015-12-04 07:12] apparentlymart commented on #2756
One further simplification, which I'm considering but not so sure about, is to unify the idea of `connection` blocks with `provider` configurations.

Under that model, a `connection` block of type "ssh" would in fact just be a locally-scoped `provider "ssh"` block, which overrides any global SSH provider config for any provisioners within its area of influence.

This would allow a different formul

[2015-12-04 07:34] davehodgson opened #4160 "azure network_security_group_rules contention when creating"
Hi,

I am have a script which creates 5 security groups and then applies 8 or 9 rules to them. Most of the rules apply to more than one group and all groups have multiple rules.

At apply time I frequently get errors relating to contention where one rule couldnt be created because the group was being update by another one still - i.e. it looks like a bug where the wait time is not long enough or t

[2015-12-04 09:43] franklinhu opened #4162 "Panic if Digital Ocean floating IP not assigned to droplet"
`terraform plan` panics if a floating IP exists, but is not currently assigned to a droplet.
I've posted a crash log here: https://gist.github.com/franklinhu/5b116f159d491b7550ee

Thanks!

[2015-12-04 10:09] mtekel commented on #4154
Hi,

when I do `terraform remote config -backend=s3 -backend-config="bucket=test-state" -backend-config="key=bucket.tfstate"` in point 4, it creates that .terraform/terraform.tfstate, even tough the command fails.

I also don't understand how can I get a `merging` error, when I am starting from scratch and there's nothing to merge against...

[2015-12-04 10:11] antonbabenko commented on #4154
Try to add `-pull=false` to not fetch latest one from s3, as it has conflicting serial. https://terraform.io/docs/commands/remote-config.html

[2015-12-04 10:24] mtekel commented on #4154
Well, that works... except it doesn't pull remote state. It just creates that local .terraform/terraform.tfstate file (which is the same as in previous steps). When I try to pull, I get the same error as described in 1st post.

[2015-12-04 10:33] rmldsky commented on #3108
+1 lifecycle

[2015-12-04 11:42] feliksik opened #4163 "TF silently fails to set AWS tags"
Using the AWS provider, it seems that setting a tag with a a failed lookup() value prevents any tag from being set. I think we should receive an error here?

summary:

[code]

full tf file:

[code]

[2015-12-04 12:01] satvidh opened #4164 "null-resource provisioner fails with "diffs didn't match during apply.""
I removed a trigger that existed in dw-generate-redshift-json.tf(.txt to allow github to attach the file), which I created as a test of the null_resource. I generated the plan with the new configuration. Then the following command failed with the "diffs didn't match during apply" error.

terraform apply aws.plan

[dw-generate-redshift-json.tf.txt](https://github.com/hashicorp/terraform/files/51992

[2015-12-04 12:03] landro commented on #4043
Sorry for the long wait. Just to clarify @phinze - I manage to reproduce the issue using

      TF_VAR_my_access_key=acc TF_VAR_my_secret_key=sec TF_LOG=TRACE terraform plan

**without** any prereqs. I run the above command as is - literally using acc as my access key and sec as my secret key, and without modifying the _bug.tf_ file in any way. I have run this from my laptop @catsby, on different

[2015-12-04 12:10] ckelner commented on #1552
This looks like a wonderful feature! :+1:

[2015-12-04 12:11] jeffw-wherethebitsroam opened #4165 "aws_iam_policy_attachment only one per policy"
We are trying to implement our infrastructure as a module for each service. For each service we want to create security groups, elbs, asgs and IAM roles to run the instances as.

Then we attach policies to the created roles. We have two services, each with their own role, but both roles should be able to access the same S3 bucket, hence, should have the same policy attached, i.e.:

module A:

[cod

[2015-12-04 12:55] jeffw-wherethebitsroam commented on #4165
Ok, after further testing it seems that the initial create is fine, but on subsequent applies the policy is only assigned to one of the roles. Is there some work around? Extracting all of the policy assignment into a single modules is not great, since not all services (i.e. roles) will be created in all environments.

[2015-12-04 13:02] phinze commented on #591
This is definitely still an issue on our radar. Today resource renames can be performed by advanced users by cracking open the state JSON and shuffling things around. Terraform should be able to do this work for us.

[2015-12-04 13:10] partamonov commented on #3925
I see the same on 0.6.8

[2015-12-04 13:49] mschuett commented on #3549
+1
I also cannot see how one generates a policy with a valid "Resource" entry for the current queue instance.

[2015-12-04 13:50] phinze commented on #4149
Thanks for this - as usual! - wonderfully clear write up, @apparentlymart. :grinning:

This solution does seem flexible and fairly straightforward conceptually. As I'm sure you'd agree, introducing the possibility of partial plans / applies would be a pretty central modification to Terraform's workflow, so it deserves careful scrutiny.

You have shown how partial progress could enable more complex

[2015-12-04 13:55] stack72 commented on #4162
Hey @franklinhu, have you got a sample of some config that I can try to reproduce this with? I have some tests that don't see to trigger the same behaviour

[2015-12-04 13:58] zrml commented on #57
:+1:

[2015-12-04 14:16] stack72 commented on #4152
PR on it's way :)

[2015-12-04 14:41] phinze commented on #2896
Nice blog post @discordianfish!

Any rolling update facility we bake into Terraform wouldn't be ASG specific, so I'm going to merge this thread back down with #1552 and shift that issue to cover the general concept of rolling applies. :+1:

[2015-12-04 14:43] phinze commented on #2896
Ah just reviewed that issue once more and realized that because we'd need to interact with the _instances inside_ the ASG, that it might actually be reasonable to expect an ASG-specific feature there rather than one generic feature. So we'll use this thread to track "generic rolling updates to resources with count > 1" and leave that to the ASG story.

[2015-12-04 14:48] nTraum commented on #3121
Stumbled upon the same issue. If you are looking for a workaround until this is fixed:

Extract the value for the `snapshot_arns` parameter into a variable and let it default to an empty dump file (that you upload to S3). This is ugly, but works for us:

[code]
You still need to use the `split` magic to create an array out of the string (terraform 0.6.8).

[2015-12-04 15:31] dwradcliffe commented on #3549
Can we move the policy to it's own TF resource `aws_sqs_queue_policy`? That way we can reference the queue ARN. This would make it a 2 step operation but I think that's the only way. It's 2 steps via the console or API anyway.

[2015-12-04 15:33] dwradcliffe commented on #4120
Yeah bucket event config would be a big help!

[2015-12-04 15:34] dwradcliffe commented on #4120
See also: https://github.com/hashicorp/terraform/issues/3108

[2015-12-04 15:34] little-arhat commented on #4073
@catsby can you please release a bugfix with this?

[2015-12-04 15:54] scalp42 commented on #3108
I also don't believe you can create a bucket in a specific region (unless I'm wrong).

[2015-12-04 16:01] cordoval commented on #3108
buckets are created globally as per amazon

[2015-12-04 16:30] packplusplus commented on #3108
Buckets are namespaced globally, but you can indicate which region you want the data stored in. [See documentation](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html#access-bucket-intro).

[2015-12-04 16:42] phinze commented on #4090
@jtopjian Hm this is almost definitely some sort of `helper/schema` bug. I think there's actually a cluster of bugs surrounding Sets and computed attributes that I'm poised to dive into. I've added this to the list.

Note when considering a conversion from `TypeSet` to `TypeList` that order must be respected in the API to avoid unexpected diffs on Lists. The fact that in the linked API output the

[2015-12-04 16:42] koendc commented on #3679
The referenced commit fixes the issue in my case. Really not sure what is the impact of this on other parts of terraform though...

[2015-12-04 16:52] combor commented on #3981
We have created [PR](https://github.com/hashicorp/terraform/pull/4168) to fix this.

[2015-12-04 16:57] caarlos0 commented on #3531
:+1:

[2015-12-04 16:58] jtopjian commented on #4090
@phinze Cool - thank you!

I totally agree about the wonkiness. I'll be looking into the API to ensure that the order is always consistent -- I think that's the only sane explanation for identical elements. :smile:

[2015-12-04 17:32] catsby commented on #2693
Hello Friends! Thanks to all of your help, we've identified the issue here. The fix however will take some time to work out and test.

The crux of it is here:

- https://github.com/hashicorp/terraform/blob/master/builtin/providers/aws/provider.go#L83-L114

specifically, the `DefaultFunc`'s. If you manually supply id/secret, default is not used for id/secret. However, it is used for `token`. In thi

[2015-12-04 17:38] apparentlymart commented on #4149
Thanks for the feedback. It's certainly what I was expecting, and echoes my own reservations about the design.

My rationale for proposing it in spite of those reservations was to observe that users are already effectively doing this workflow to work around what I perceive to be some flaws in Terraform's "ideal" model of being able to operate in a single step.

Here are two workarounds that my tea

[2015-12-04 17:39] #1663 closed

[2015-12-04 17:52] ckelner commented on #2693
Awesome work @catsby thanks for the update!

[2015-12-04 17:57] jen20 commented on #4162
Relevant part of crash log:

[code]

Relevant part of code:

[code]

[2015-12-04 17:57] jen20 commented on #4162
It's failing on the dereference of `floatingIp.Droplet.Region` - we should add a check in there to ensure that is valid.

[2015-12-04 18:02] avdhoot commented on #2693
+1 facing same issue with aws ec2 instance launched with IAM role. Waiting for fix :)

[2015-12-04 18:18] scalp42 commented on #3108
That's what I meant by region sorry.

[2015-12-04 18:19] ckelner commented on #2693
@avdhoot Not sure if you noticed the work around, but setting `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` to some random value does the trick.

[2015-12-04 18:56] davehodgson commented on #4116
FYI - until this resource is added, the suggestion on https://github.com/hashicorp/terraform/issues/4141 @jen20 works well.

I expanded it a little to suite my needs - I put the null_resource into a separate file so I can essentially remove the file and run apply (destroys it) and put it back and re-run apply (re-creates it) to re-run the script. I will also in time add a second file which calls a

[2015-12-04 19:38] apparentlymart opened #4169 "Data-driven Terraform Configuration"
A common design pattern has emerged of using read-only resources like `consul_keys` (when used without explicit `value` arguments), `terraform_remote_state` and `atlas_artifact` to produce Terraform configurations from dynamically-loaded data.

Relatedly, there are also now several "logical resources" that don't even *fetch* data: instead, they just transform a set of inputs into a set of outputs

[2015-12-04 20:10] apparentlymart opened #4170 "Pre-flight Check on Resource Creation"
A large number of resources within Terraform create objects that must have unique names, or other such constraints that can't be checked without calls to a backing API.

For example, `aws_s3_bucket` takes a name that must be globally-unique across the whole of AWS. Several other AWS resources such as `aws_db_instance` require account-local or account-region-local identifiers to be provided by the

[2015-12-04 20:12] apparentlymart commented on #2976
As I previously mentioned, I'm splitting this into two separate proposals that each aim to solve half of the problem space presented in this ticket:

* #4169: Data-driven Terraform Configuration
* #4170: Pre-flight check on Resource Creation

[2015-12-04 20:12] #2976 closed

[2015-12-04 20:30] apparentlymart commented on #3310
I am closing this because I think the same use-cases could be met in a much simpler way in conjunction with some other proposals I've made:

* Implement #4169 to allow Terraform to read data from various sources before planning.
* Add a `foreach` meta-attribute to resources that takes directly an array or map of values and "fans out" to one resource instance for each array/map item. `foreach` may

[2015-12-04 20:30] #3310 closed

[2015-12-04 20:46] apparentlymart commented on #3549
Is it actually necessary to include the explicit `Resource` attribute in the inline queue policy? I don't have any experience with SQS in particular, but with other similar inline policies I've found that the resource attribute is automatically implied to be the resource the policy is attached to, and that the explicit `Resource` attribute is only needed for standalone policies that are used with

[2015-12-04 20:54] apparentlymart commented on #591
This seems to have the same kinda of UX trickiness as the idea of importing external resources to be managed by terraform (#581): namely that both the state and the config need to be updated at once, and Terraform currently knows how to update its state but it doesn't know how to update a user-provided configuration.

Perhaps a common building block for these would be a `gofix`-like infrastructure

[2015-12-04 21:02] apparentlymart commented on #3650
This was fixed by closing #3653. If folks want to add additional resources to this provider, let's make separate issues and/or pull requests for those.

[2015-12-04 21:02] #3650 closed

[2015-12-04 21:07] apparentlymart commented on #3317
I encountered an issue with a similar symptom yesterday... it's definitely not the same thing since the details are different, but I wanted to note it here since this issue seems to attract search results for Terraform hanging and other folks might have the same issue as me:

If you have remote state enabled, Terraform will try to refresh the remote state on all of the interesting commands (`get`,

[2015-12-04 21:26] SpencerBrown commented on #4097
What's happening is that when you specify a route with an instance ID, AWS helpfully finds the ENI ID that it's going to use for that route and adds it to the route object internally. Then, when you run `terraform plan` again, Terraform refreshes the status from AWS, finds the ENI ID, and says, "whoa, I don't have that in my state file, I need to delete that." Then, .... you see the loop.

[2015-12-04 21:31] joslynesser commented on #4156
Nice find :+1: We're having to run apply without using a plan file to destroy manually tainted resources, which is definitely scary (as we prefer to apply a guaranteed, reviewed plan file)

[2015-12-04 22:15] catsby commented on #2859
Thanks for the follow up!

[2015-12-04 22:27] catsby commented on #1683
Hello @cleung2010 – for instances in a VPC, use `vpc_security_group_ids` instead of regular `security_groups`. Using the `vpc_` version will allow you to add/remove security groups without recreating the instance.

Thanks!

[2015-12-04 22:58] phinze commented on #4043
@landro this is very good information. We had an internal chat about this issue and #3243 + #2693 and decided to revamp AWS creds handling in the provide. @catsby explains more in his comment over here: https://github.com/hashicorp/terraform/issues/2693#issuecomment-162029528

Stay tuned for a new PR that hopefully addresses all these issues! :+1:

[2015-12-04 23:14] phinze commented on #4169
@apparentlymart Just did a first read through here. I am going to need to process this more, but allow me to share my initial reaction:

_Yes! This!_ :smile:

I too have been mentally feeling out this need for a new top level concept, and your thinking is clearly in nearly the exact same vein.

A more detailed review to follow next week. In the meantime, have a wonderful weekend!

[2015-12-04 23:46] mattupstate commented on #4097
Just experienced this as well. No work around eh?

[2015-12-04 23:58] ryanl-ee commented on #4112
Not at first :) I figured out some of it by reading through the provider code & trial and error. I can contribute to the documentation when I have this all buttoned down. For now, for anyone else wanting to try this at home...

[code]

Per https://github.com/hashicorp/terraform/issues/4111 I have to go in and connect the NICs of the created test VMs. They all fail with `Attribute 'network_interfac

[2015-12-05 00:00] phinze commented on #591
Bingo! The amazing work @fatih kicked off for us in `hcl`-land enables us to write config, which was a major barrier to config portions of import and rename.

I think rename can still be valuable as a state-only operation, which is what I was picturing as an initial implementation. I still think that should be the first goal, but getting to the point where Terraform can shift your config around fo

[2015-12-05 00:03] phinze commented on #4149
This helps a lot, Martin, and it's very persuasive!

I agree that forcing users to `-target` their way out of a scenario is in no way acceptable and indeed erodes confidence in Terraform as a tool.

I have been silently wondering if Terraform should just encourage separation between "unplannable boundaries" into separate configs, but reading your description:

It does seem perhaps too tedious and

[2015-12-05 00:41] ryanl-ee commented on #4112
It occurred to me that going in and reconnecting the NIC could be affecting the results... I ran it again without any intervention and got the same results. I think I know what the issue is, though. I tried cloning my specified VM manually. When my clone boots, it tries to get DHCP for 60+ seconds. When that fails, it fully boots, starts VMware tools, reconfigures itself, and then successfully get

[2015-12-05 02:44] kestred commented on #2439
I'd like to *+1* this issue, I checked the terraform source ahead of time so I avoided changing the identifier, but it is something I would like to be able to do.

Also @catsby, I'd like to point out that `builtin/providers/aws/resource_aws_db_instance.go` also treats the `"port"` value as `ForceNew`, but it also can be modified via `rds.ModifyDBInstanceInput`.

[2015-12-05 02:55] progre55 commented on #4054
I can confirm the failures. Was using tf 0.6.6, with `settings_file` and everything was fine. Upgraded to tf 0.6.8, now nothing works. I have renamed `settings_file` to `publish_settings`, but still get a prompt for settings_file, and then it fails with `EOF` as follows
[code]
Here is my provider declaration:
[code]

I am sure that the file is a valid XML file. Used to work well with 0.6.6.

[2015-12-05 08:33] sl1pm4t commented on #4169
Yes, this would be a big help.
You touched on it already @apparentlymart - but I think it's important to reiterate IMO the data should not be refreshed, or only under provocation, for existing resources. So in essence the state of data source ( specific to each resource) should only be read at resource creation time.  Otherwise configurations can't be evolved without potentially impacting existing

[2015-12-05 11:11] alkersan opened #4171 "PowerDNS provider"
Terraform includes `DNSimple` and `DNSMadeEasy` providers, along with those available from PaaS operators (AWS Route53, DO, etc...), but all those are paid services. I think that provider for self-hosted DNS server will be a good option for teams and organizations that by some reasons operate solely on in-house platforms, like `Openstack`

PowerDNS has [HTTP API](https://doc.powerdns.com/md/httpap

[2015-12-05 14:39] phinze commented on #4065
Hey folks, this should be fixed with 0.6.8!

Please feel free to follow up or file a fresh issue if you still see any HEREDOC problems on 0.6.8.

[2015-12-05 14:39] #4065 closed

[2015-12-05 17:30] SpencerBrown commented on #4097
It really doesn't require a workaround, it doesn't harm anything.

[2015-12-05 18:00] apparentlymart commented on #4169
@sl1pm4t that's an interesting point, since I actually had exactly the opposite perspective!

For me, changing the upstream data source *should* cause the corresponding changes in the resources that are derived from the data source. In all of my use-cases that is a requirement. For example:

* The idea of the `atlas_artifact` data source is to find the latest artifact for a given application.If I

[2015-12-05 18:35] davehodgson opened #4172 "[azure] Parameterised name in 0.6.6 results in a warning about error in version 0.4 for azure_storage_service"
I'm trying to build a scripted environment I can run up several times using a different prefix on the resources.

It appears to work ok, except that I get a warning when I run terraform plan that an error will be generated in terraform 0.4 (and I presume later versions) but no error is generated. Not sure if it should error or the warning shouldn't appear.

I've split the script out into three fil

[2015-12-05 18:38] jen20 commented on #4171
Hi @alkersan! Thanks for opening this issue! We would definitely be interested in having built-in support for PowerDNS, and if already have a provider then that's even better. Please feel free to open a pull request with your work, or if you have questions prior to that please drop them here and one of the Terraform team will try to help with it.

[2015-12-05 18:38] davehodgson commented on #4172
I note that by design terraform resource names are not meant to be parameterised so when I leave to parameter in the name field of the resource but the resource name itself just changed to store01 it completes fine.

So this issue is only that the warning message is misleading, its either and error or it doesn't need to be displayed given the version is higher than 0.4

[2015-12-05 18:41] jen20 commented on #4172
Hi @davehodgson! Thanks for opening the issue. If I'm following correctly, you have something like this:

[code]

Am I following correctly?

[2015-12-05 18:45] davehodgson commented on #4172
Hi @jen20 ,

Yep - sorry I realised after I logged it that I had:

1: resource "azure_something" "${var.prefix}_restofresourcename" {
2:    name="${var.prefix}_restofname"
3: }

I mistook the error message for being in relation to line 2 rather than the terraform resource name in line 1.

After I realised that I found another issue stating that is a design decision, so the issue is only that it I

[2015-12-05 19:05] davehodgson opened #4173 "[azure] azure_virtual_network dns_servers is an invalid or unknown key"
Trying to create an azure_virtual_network with a dns server specified, as per the documentation at: https://www.terraform.io/docs/providers/azure/r/virtual_network.html#dns_servers

When I include the dns_servers key it results in an error of invalid or unknown key, I tried with dns_server and dnsservers and dnsserver as well, none of them are correct.

Looks like either it is not supported and ne

[2015-12-05 19:32] davehodgson opened #4175 "Trying to create multiple azure_instance inside the same cloud service fails"
If I try and create three azure_instance resources with the same azure_hosted_service (cloud service in Azure) the first one creates ok and the next two fail:
- azure_instance.adds01: Error creating instance PREFIX-adds01: Error response from Azure. Code: ConflictError, Message: The specified deployment slot Production is occupied.
- azure_instance.rdsh01: Error creating instance PREFIX-rdsh01: Er

[2015-12-05 19:57] chrislovecnm commented on #4112
@tkak any ideas?

[2015-12-05 20:22] frewsxcv opened #4176 "Google provider prompts for deprecated item"
[code]

[code]

Why is is prompting me to enter in a deprecated option?

[2015-12-05 20:29] sean-bennett112 commented on #4169
This single issue sums up most of my problems with Terraform, and really cleanly addresses them. First class data sources would be a huge help in a number of ways. Currently I'm plugging data(amis, snapshots, etc) into Terraform via various shell/Python scripts, and it works, but it feels incredibly kludgy.

Many(all?) of the existing 'logical' resources would fit better conceptually under this um

[2015-12-05 20:51] davehodgson commented on #3473
This might be a very naive suggestion but...the initial post says that terraform is trying to use port 5985 and by default powershell is set up on 5986, has anyone tried adding a non-default endpoint on the azure_instance resource? i.e. below

endpoint {
        name = "Powershell"
        protocol = "tcp"
        public_port = 5985
        private_port = 5986
    }

# NB I don't know enough about

[2015-12-05 21:45] frewsxcv opened #4177 "Attempt to 'apply' Google provision results in asn1 error"
[code]

[code]

[2015-12-05 22:05] frewsxcv commented on #4177
Just tried to launch a Google compute instance and I get the same error, so it's not specific to container engine

[2015-12-05 22:27] aviflax commented on #3981
Excellent!

[2015-12-05 22:28] davehodgson commented on #3473
I did some playing around but couldn't get the idea above to run, I did manage to set up an endpoint on 5985 public to both 5985 private and 5986 private (2 seperate tests) but it always timed out.

I'll keep playing over next couple of days, I suspect I will end up calling a local PS script with local-exec to connect remote powershell and copy the file that way

[2015-12-06 00:21] stack72 commented on #4171
There is a Go client for PowerDNS - https://github.com/waynz0r/powerdns - but there is no documentation on it :(

[2015-12-06 02:03] davehodgson commented on #4054
I have exactly the same behaviour after upgrading 0.6.6 to 0.6.8, it worked with no issues before - the only change I made was in response to the warning about deprecation and that was to change settings_file to publish_settings as above

[2015-12-06 02:07] davehodgson commented on #3428
Sorry for an ill informed question @kbxkb I have the same problem with a script just now and updated to the most recent version 0.6.8 of terraform. I haven't got a dev environment set up to build (or probably the expertise to build it correctly).

How does the process work for your fix to be incorporated into the release and any eta for when it happens?

[2015-12-06 05:21] davehodgson commented on #3473
I've done some more digging, I can't connect a remote powershell script to an azure_instance after it has been built in Terraform, but if I build one via the portal GUI, the exact same script will connect no problem.

There are some differences if I look at the VM properties, the one that I think is most important here is the default thumbprint - when Azure creates a VM it generates a self signed

[2015-12-06 07:23] davehodgson commented on #3473
I had a good try at updating an existing VM by uploading a new default WinRM cert but can't find a way to do it through the powershell commandlets and cant find any hints on where to look.

So unless my analysis is off, that means that any VM created by terraform in Azure is not able to use remote powershell because as noted above:
1. Terraform tries to connect on the wrong port (can be fixed by i

[2015-12-06 14:25] stolinzeev commented on #3263
Present in 0.6.8 as well

[2015-12-06 16:25] kc11381 commented on #3966
Hi Chris,

Can we have something like :

In the method : func resourceVSphereVirtualMachineDelete(d *schema.ResourceData, meta interface{}) error {

if vm_mo.Runtime.PowerState == "poweredOn" {
                task, err := vm.PowerOff(context.TODO())
                if err != nil {
                        return err
                }

                err = task.Wait(context.TODO())

[2015-12-06 19:08] chrislovecnm commented on #3966
@kc11381 it would be helpful for @tkak to pipe in here.  To me the code looks fine, and if you want to start working on a pull request that would be awesome!

It would be good to find out from @tkak why we are not powering on pxe machines.  Or if we should have it as an option.

[2015-12-06 22:07] cordoval opened #4182 "tool gets stuck"
tool gets stuck looking up my home directory?

[code]

just noticed these processes are running:

[code]

even after i kill all those processes and run ./plan, still does not work and stalls

[2015-12-06 22:53] cordoval commented on #4182
i installed the tools and compiled them myself and it is working again. But i am not using the downloadable tools again.

[2015-12-06 22:53] #4182 closed

[2015-12-07 00:10] phinze commented on #4182
Hi @cordoval, looks like you were running 0.6.7 hit one of the bugs that was fixed in 0.6.8 - if you try 0.6.8 it should be AOK! Of course building from the repo always works as well. :+1:

[2015-12-07 00:11] cordoval commented on #4182
thanks man, i am learning hopefully fast enough, will catch up with you guys, i am hanging out on IRC. Thanks :+1:

[2015-12-07 01:30] shockinghobby commented on #4090
Just hit the same bug. The only difference is that the cinder volume is created from the image_id, not the source_vol_id.

[code]

[2015-12-07 01:39] tkak commented on #3966
@chrislovecnm The reason is because I get MAC address of the new VM before power on to identify the target VM and run kickstart. So, the power on feature doesn't include the terraform provider in the current version. If the power on feature should include the terraform provider, we should add the power state option or time delay option.
And, the method for creating a new empty virtual machine with

[2015-12-07 03:26] nick-nz commented on #3897
Awesome. Thanks @vancluever!

[2015-12-07 04:38] kbxkb commented on #3428
@davehodgson as far as steps to set up a dev environment for building, you can follow the step by step guide I have in the README.md file on my terraform starter repo: https://github.com/kbxkb/provision-azure-with-terraform. Follow the README, and you should be able to set everything up easily.

My fix for this bug will not be incorporated into the official release unless I submit a pull request a

[2015-12-07 11:15] ashb opened #4185 "`refresh` fails if AWS Route53 zone already deleted"
This is probably similar to #4047 but for Route53 records and zones.

How I hit this problem in practice was not by deleting anything manually but by just using `terraform destroy`:

- `terraform plan -destroy -out destroy.plan`

- `terraform apply destroy.plan` -- this failed half way through with `aws_subnet.databases-subnet: Error deleting subnet: timeout while waiting for state to become 'dest

[2015-12-07 11:25] chin2chavda commented on #1025
Sure @phinze

[2015-12-07 11:28] chin2chavda opened #4186 "remote-exec provisioner fails with "Error reading script: EOF""
Hi @phinze ,

I am also getting an error during run commands on "remote-exec" in provision section.

Error:

[code]

Script :
[code]
Here, AMI I am using is developed by packer with centos6.5, and also tried this code with the different versions(v0.6.6, v0.6.4, v0.6.0) of terraform.

Please provide me any solution regarding this as I am unable to execute any single command to remote resource with

[2015-12-07 11:29] chin2chavda commented on #1025
Here is link of new issue created :
https://github.com/hashicorp/terraform/issues/4186

[2015-12-07 12:36] kc11381 commented on #3966
@chrislovecnm and @tkak I am new to using git and also to open source community. I try to submit the code asap. Thank you.

[2015-12-07 13:25] mattupstate commented on #4097
Maybe it doesn't harm anything, but its certainly a bug as Terraform is indicating there's a state change when there shouldn't be one

[2015-12-07 14:07] vorlock opened #4187 "Google Cloud DNS, can't set up MX record"
In current version (0.6.8) google_dns_record_set is not capable of setting up MX record.

[2015-12-07 14:17] phinze commented on #4169
Chiming in on the "pinning" / "freezing" data sources question: I think this should be a per-resource question rather than a core feature. `atlas_artifact` already supports this via its `version` attribute. If we tried to address this universally we'd have to start internally versioning every data source, which is not complexity that the Terraform state should be responsible for.

The use case of

[2015-12-07 14:24] phinze opened #4188 "Support streams attributes on aws_dynamodb_table"
From a [mailinglist thread](https://groups.google.com/d/msgid/terraform-tool/c2e2979c-bf43-49c5-b36f-208719e60ecb%40googlegroups.com), we learned that Terraform cannot yet enable streams on DynamoDB tables.

Should be pretty straightforward to add - it's the two fields under `StreamSpecification` here:

https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_CreateTable.html

In Terrafo

[2015-12-07 14:36] SpencerBrown commented on #4097
Oh, no doubt it's a bug! I'm simply pointing out that one doesn't need a "workaround", because while annoying, it doesn't negatively impact the system.

[2015-12-07 15:46] smotovilovets commented on #3116
Well, yup, this becomes quite painful when you try to utilize "prevent destroy" functionality in a shared module, that is just not supposed to be modified. I have a use-case similar to @laggyluke 's
+1

[2015-12-07 15:53] phinze commented on #4186
Thanks for the report!

I just tried to reproduce this with no luck on Terraform v0.6.8.

Here's the config I used:

https://gist.github.com/phinze/30b33f860cebecb91dd8

Differences from your example - I used an Ubuntu AMI and Terraform and ran from an OSX machine.

A couple of additional questions for you:

 * After the error, is "/tmp/script.sh" present on the remote machine?
 * Are you running

[2015-12-07 15:57] davehodgson commented on #4186
This may be unrelated but I have a similar error on 0.6.8 when I didn't before on 0.6.6

I built an environment in 0.6.6 a few days ago and haven't touched since, literally the only changes to the scripts were to upgrade to 0.6.8 and add publish_settings variable (I have them both as per issue XXX). Now when I run refresh or plan I get EOF errors - they appear to originate from my azure_instance r

[2015-12-07 16:14] phinze commented on #4170
Yep we've talked a bunch about adding richer plan-time checks and I think this proposal is a good start to moving this forward.

I think it's definitely better to add a first-class concept for this rather than piggybacking onto refresh. I have always thought of this as a "resource level `Validate`" myself, so I wonder if there's room for adding this into the `validateWalk` we do. Would require som

[2015-12-07 16:34] coreone commented on #4033
I have seen this bug as well.  To get around it, I just keep `account_file` in there set to nothing:

[code]

Still throws a warning, but it prevents the **Enter a value:** prompt, and allows Atlas to keep working.

[2015-12-07 16:48] smotovilovets commented on #1336
+1
same thing here

[2015-12-07 16:55] lwander commented on #4033
Both credentials and account file are marked as `optional` [here](https://github.com/hashicorp/terraform/blob/master/builtin/providers/google/provider.go#L16). @phinze, @jen20, any idea why Terraform would prompt you to enter an optional value?

[2015-12-07 16:56] lwander commented on #4176
Duplicate issue - see #4033

[2015-12-07 16:56] #4176 closed

[2015-12-07 16:57] lwander commented on #4177
Which Terraform version are you using?

[2015-12-07 17:00] afritzler opened #4191 "Scheduling Hints Examples for Instances on Open Stack"
Hi,

are there any examples out there on how to use the scheduling hints block for the OpenStack provider? https://terraform.io/docs/providers/openstack/r/compute_instance_v2.html#scheduler_hints

e.g. how to use the `target_cell` attribute etc.

Regards,
Andreas

[2015-12-07 17:00] phinze commented on #4033
@coreone Atlas should be setting `-input=false`, were you still seeing prompts there?

@lwander hm, I'm not sure offhand. Will have to dig in and get back to you.

[2015-12-07 17:06] #3299 closed

[2015-12-07 17:06] nTraum opened #4192 "RDS cross-region read replica placed in wrong VPC (MySQL 5.6)"
I'm currently trying to set up a cross-region read replica for a MySQL 5.6 RDS cluster via terraform v0.8.6.

As stated in the AWS docs, this can be done by specifying the ARN of the source database:

[code]

Running `terraform plan` shows the desired output (correct security groups etc).
Terraform does create the read replica successfully when applying, but always places it in the default VPC (in

[2015-12-07 17:12] phinze commented on #4033
Yep looks like providers are [dumber about Input() than I thought](https://github.com/hashicorp/terraform/blob/7e2c8d21181c8319caa5872037747453d5350226/helper/schema/schema.go#L383-L434).

Enhancements to input are being discussed over in https://github.com/hashicorp/terraform/issues/1255, but for this I'll just PR to always skip input on `Deprecated` fields.

[2015-12-07 17:22] jtopjian commented on #4191
The `scheduling_hints` block is configured just like any other block. A common pattern is:

[code]

The target cell attribute, AFAIK, just takes the name of a Cell:

[code]

In order for that to work, though, I'd imagine the Cell Filter would need enabled in Nova. It looks to be [undocumented](http://docs.openstack.org/developer/nova/filter_scheduler.html), but the code [references](https://github

[2015-12-07 17:25] chrislovecnm commented on #3966
@kc11381 no problem

Here is what you want to do:

1. Fork the terraform to your account
2. Create a new branch
3. Make changes
4. Create a test
5. Submit a pull request

https://help.github.com/articles/using-pull-requests/
Here are some instructions